.page-background {   
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/hero-image-missing.jpg");
}

#ternavbar-bg {
    display: flex;
}

#zone-tertiarynavbar {
    margin: 0;
}

.navigation-tertiary-items {
    padding-left: 150px;
}

/* Start Navigation-Tertiary Styling */

.books {
    display: flex;
}

.book {
    padding: 10px 15px;
    list-style-type: none;
    text-align: center;
}

.book a {
    color: #7d7d7d;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

.book.active a {
    color: #7A1315;
}

.book img {
    height: 300px;
    width: 245px;
}
.background-card {
    text-align: center;
    list-style-type: none;
}

.resource-links {
    list-style-type: none;
}

.next {
    color: black;
    font-size: 60px;
    margin-left: 280px;
    position: absolute;
    right: 10px;
    top: 1360px;
    display: inline;
  }
  
  .prev{
    color: black;
    font-size: 60px;
    margin-right: 0px;
    position: absolute;
    left: 10px;
    top: 1360px;
    display: block;
  }

/* IPhone 6/7/8 PLUS. (414 x 736) Mobile Styling */
@media screen and (max-width: 750px) {
    .navigation-tertiary-items-slick {
        width: 345px;
        /* border: 1px solid black; */
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 50px;
    }
    .next {
        color: grey;
        font-size: 60px;
        margin-left: 280px;
        position: absolute;
        right: 10px;
        top: 1470px;
      }
      
      .prev{
        color: grey;
        font-size: 60px;
        margin-right: 0px;
        position: absolute;
        left: 10px;
        top: 1470px;
      }

    .book {
        width: 195px;
    }

    .book-container {
        width: 90%;
        margin-left: 30px;
    }
    
    .book img {
        height: 200px;
    }

    .book {
        padding: 5px;
    }
    
    .book-title {
        font-size: 18px;
    }
    .slick-slide {
        padding-left: 30px;

    }
}
/* End Navigation-Tertiary */

/* IPhone 6/7/8. (375 x 667) Mobile Styling */
@media screen and (max-width: 580px) {
    .navigation-tertiary-items-slick {
        width: 345px;
        /* border: 1px solid black; */
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 0%;
    }

    .next {
        color: grey;
        font-size: 60px;
        margin-left: 280px;
        position: absolute;
        right: 10px;
        top: 1470px;
      }
      
      .prev{
        color: grey;
        font-size: 60px;
        margin-right: 0px;
        position: absolute;
        left: 10px;
        top: 1470px;
      }

    .book {
        width: 195px;
    }
    
    .book-container {
        width: 85%;
        margin-left: 30px;
    }

}
