/* Kids Page */
.page-background {   
    background-color: #EBEBEB;
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/experience/kids-hero.jpg");
}

#ternavbar-bg {
    display: none;
}

#section-a-bg {
    background-color: #ebebeb;
}

#section-b-bg {
    background-color: #f9f9f9;
}

#section-c-bg {
	background-color: #ebebeb;
}

#section-d-bg {
    display: none;
}

#section-e-bg {
   display: none;
}

/* Helps keep the four graphics in a 2x2 layout */
.img-row {
    display: flex;
    flex-wrap: nowrap;
}

/*Styling for the bottom icon section with kid bullet points*/
.kid-features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
    .kid-features {
        margin-top: unset;
        margin-bottom: unset;
        flex-direction: row;
    }
}

.kid-point {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}

.kid-point h4 {
    text-align: center;
}

.kid-icon {
    margin-bottom: 25px;
}