.page-background {
   background-color: #EBEBEB;
   background-image: url("/Themes/church_ccv_External_v8/Assets/Images/hero-image-missing.jpg");
}

#ternavbar-bg {
    display: flex;
}

#section-a-bg {
	background-color: #F6F6F6;
}

#section-b-bg {
	display: none;
}

.navigation-tertiary-items {
    margin-left: -15%;
}

.navigation-tertiary-item {
    padding: 10px 20px;
}

.event-cards-row {
   flex-wrap: wrap;
   justify-content: center;
}

@media screen and (min-width: 992px) {
   .event-cards-row {
      justify-content: left;
   }
}

.event-card {
   width: 370px;
   height: 450px;
}

.missions-partners-card-override {
   padding-bottom: 25px;
   height: 500px;
   margin-bottom: 25px;
}

.event-card.missions-partners-card-override .image img {
   object-fit: contain;
}

.event-card.missions-partners-card-override .read-more a {
   font-weight: 900;
   display: flex;
}