.page-background {
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/ministries/hero-missions-trips.jpg");
}

/* Mobile Background Image */
@media screen and (max-width: 500px) {
    .page-background {
        background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/ministries/hero-mobile-missions-trips.jpg");
    }
}

#ternavbar-bg {
    display: flex;
}

.event-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.event-item-card {
    width: 30%;
    height: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
}

h3 {
    color: white;
}

.hoverthumb img {
    width: 100%;
    height: 250px;
}

/* Tablet Styling */
@media screen and (max-width: 768px) {
    .event-item-card {
        width: 45%;
    }
}

/* Mobile Styling */
@media screen and (max-width: 500px) {
    .event-item-card {
        width: 100%;
    }

    .hoverthumb img {
        width: 100%;
    }
}

