.page-background {   
    background-color: #EBEBEB;
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/ministries/missions/hero-missions.jpg");
}

#ternavbar-bg {
    display: flex;
}

#section-a-bg {
	background-color: #FFFFFF;
}

#zone-sectiona {
    background-color: #FFFFFF;
    /* box-shadow: 0px 0px 10px #E5E5E5;
    border-radius: 5px;
    padding: 20px; */
    margin-top: 20px;
    margin-bottom: 20px;
 }
 
#section-b-bg {
	display: none;
}

.navigation-tertiary-items {
    margin-left: -15%;
}

.navigation-tertiary-item {
    padding: 10px 20px;
}


img {
    width: 100%;
 }
 
 
 h2 {
     color: black;
     font-weight: bold;
     font-size: 30px;
 }
 
.container-sm {
    max-width: 100%;
  
}

.inner-container {
    width: 100%;
}


/* Mobile Styling */
@media screen and (max-width: 1000px) {
    .inner-container {
        width: 100%;
    }
}
