.page-background {
	background-color: #EBEBEB;
	background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/ministries/hero-missions-partners.jpg");
 }
 
 #ternavbar-bg {
	 display: flex;
 }
 
 .navigation-tertiary-items {
	 margin-left: -15%;
 }
 
 .navigation-tertiary-item {
	 padding: 10px 20px;
 }
 
 .event-cards-row {
	flex-wrap: wrap;
	justify-content: space-between;
 }
 
 @media screen and (min-width: 992px) {
	.event-cards-row {
	   justify-content: left;
	}
 }
 
 .event-card {
	width: 30%;
	height: 450px;
 }
 
 .missions-partners-card-override {
	padding-bottom: 25px;
	height: 500px;
	margin-bottom: 25px;
 }
 
 .event-card.missions-partners-card-override .image img {
	object-fit: cover;
 }
 
 .event-card.missions-partners-card-override .read-more a {
	font-weight: 900;
	display: flex;
 }