.page-background { 
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/ministries/hero-students.jpg");
    background-color: white;
}
 
#ternavbar-bg {
    display: none;
}

#section-b-bg {
    background-color: #FFFFFF;
}

.students-service-times {
    display: flex;
    flex-direction: column;
}

.students-service-times .dropdown {
    background-color: #7A1315;
    border-radius: 10px;
    transition: unset;
    height: 36px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}

.students-service-times .dropdown a {
    color: #FFFFFF;
    padding-top: unset;
    padding-bottom: unset;
    display: flex;
    align-items: center;
}

.students-service-times .dropdown a:hover {
    background-color: transparent;
}

.students-service-times .dropdown .dropdown-menu {
    width: 100%;
}

.students-service-times .dropdown .dropdown-menu a {
    color: #333;
}

.dropdown-toggle.navbar-link b {
    margin-left: 15px;
}


.students-service-detail {
    display: flex;
    margin: 5px 0;
}

.students-service-detail-label {
    min-width: 100px;
    color: #838383;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
}

/* override margins so that title is even with campus selector */
.right-content h2, .right-content p {
    margin: 0 0 20px 0;
}

.right-content p {
    color: #535353;
}