.masthead {
  margin-bottom: @grid-gutter-width;
}

  .masthead-upper {
    .clearfix();
    background-color: #1d1d1d;
    @media @sm {
      padding: @grid-gutter-width 0;
    }

    a { color: #fff; }
  }

    .masthead .navbar-toggle {
      margin: 0;
      color: @gray-lighter;
      background: #333;
      border-radius: 0;
      padding: 12px 15px 13px;
      &.collapsed {
        background: none;
      }
    }

    .masthead-brand {
      overflow: hidden;
      @media @sm {
        float: left;
      }
    }

      .masthead-brand .logo {
        display: block;
        float: left;
        background-image: url(../assets/logo.svg);
        min-height: 50px;
        min-width: 235px;
        margin-left: -@grid-gutter-width/2;
      }

    .masthead-nav {
    }

      .navbar-collapse {
        box-shadow: none;
      }

        .masthead-navitems {
          margin: 0;
          list-style-type: none;
          text-transform: uppercase;
          letter-spacing: .5px;
          line-height: 40px;
          padding-top: 5px;
          padding-bottom: 5px;
          text-align: center;
          padding: @grid-gutter-width/2 0;
          @media @sm {
            text-align: right;
            padding: 0 @grid-gutter-width;
          }
        }

          .masthead-navitem {
            display: inline-block;
            padding: 0 @grid-gutter-width/2;
            .transition(opacity .5s);

            &:hover {
              .opacity(.75);
            }

            &.active {
              border-bottom: 2px solid @gray;
            }

            a {
              text-decoration: none;
            }
          }

  .masthead-lower {
    .clearfix();
    background-color: #e9e9e9;
  }

    // this crazy nesting is to undo some default Rock styles, in the future we
    // could look into changing the block markup
    .masthead-lower .loginstatus,
    .masthead-lower .contextsetter {

      margin: 0;

      // for mobile
      .dropdown {
        text-align: left;
      }

      li { min-width: 0; }

      li > a {
        font-size: .9em;
        line-height: 40px;
      }

    }
    .masthead-lower .contextsetter a {
      text-transform: uppercase;
      color: @gray-light;
      font-weight: 600;
    }
    .masthead-lower .loginstatus a {
      color: @gray-light;
      font-style: italic;
    }

@media @sm {
  .masthead-lower .contextsetter a { padding: 0 @grid-gutter-width; }
  .masthead-lower .loginstatus a { padding: 0 @grid-gutter-width/4; }
}
