
// Vendor Imports
// -------------------------

@import "../../../Styles/FontAwesome/font-awesome.less";
@fa-font-path: '../../../Assets/Fonts/FontAwesome';

@import "../../../Styles/Bootstrap/bootstrap.less";

@import "../../../Styles/_rock-core.less";
@import "../../../Styles/_rock-variables.less";


// Custom Imports
// -------------------------

@import "_din-1-4-7";
@ccv-font-path: "../Assets/Fonts/DIN/";

@import "_variables.less";
@import "_print.less";


// Styles that should be moved later
// -------------------------

img { .img-responsive(); }

.announcement-rotator {
    margin-bottom: @spacing-lg-px;
}

// Undo appearance of block panels
.panel.panel-block {
    border: 0;
    box-shadow: none;

    & > .panel-heading {
        display: none;
    }

    & > .panel-body {
        padding: 0;

        .grid.grid-panel {
            margin: 0;
        }
    }
}