.progress-sign-ups-cell .tooltip-inner {
  max-width: 100%;
}

.progress.progress-sign-ups {
  position: relative;
  width: 215px;
  height: 14px;
  overflow: visible;
  background: transparent;
  border: 1px solid currentColor;
  border-radius: 50px;
  box-shadow: none;
}

.progress.progress-sign-ups .indicator {
  position: absolute;
  top: -1px;
  bottom: -1px;
  width: 5px;
}

.progress.progress-sign-ups .indicator::before,
.progress.progress-sign-ups .indicator::after {
  position: absolute;
  left: 0;
  width: 2px;
  height: 3px;
  content: "";
  background: currentColor;
  box-shadow: inset 0 0 0 2px rgba(0,0,0,.25);
}

.progress.progress-sign-ups .indicator::before {
  top: -1px;
}

.progress.progress-sign-ups .indicator::after {
  bottom: -1px;
}

.progress-bar.progress-bar-sign-ups {
  position: absolute;
  left: 0;
  border-radius: 50px;
  box-shadow: none;
}
