<?xml version="1.0" encoding="UTF-8"?>

<!-- Define the variables in "$(var.*) expressions" -->
<?define Name = "Rock Printer Proxy" ?>
<?define Manufacturer = "Spark Development Network" ?>
<?define Version = "1.0.0.0" ?>
<?define UpgradeCode = "59C0137E-4764-4196-988E-2555479FCC28" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <!-- Define the directory structure -->
    <Package Name="$(Name)"
             Manufacturer="$(Manufacturer)"
             Version="$(Version)"
             UpgradeCode="$(var.UpgradeCode)"
             Compressed="true">

        <MediaTemplate EmbedCab="yes" />

        <!-- Allow upgrades and prevent downgrades -->
        <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

        <StandardDirectory Id="ProgramFiles6432Folder">
            <Directory Id="InstallFolder" Name="!(bind.Property.Manufacturer)\!(bind.Property.ProductName)">
            </Directory>

            <Directory Id="ServiceFolder" Name="!(bind.Property.Manufacturer)\!(bind.Property.ProductName)\Service">
            </Directory>
        </StandardDirectory>

        <!-- Tell WiX to install the files -->
        <Feature Id="Service" Title="Rock Printer Proxy Service Setup" Level="1">
            <Files Include="$(var.Rock.PrinterProxy.Service.TargetDir)publish\**" Directory="ServiceFolder">
                <Exclude Files="$(var.Rock.PrinterProxy.Service.TargetDir)publish\Rock.PrinterProxy.Service.exe" />
            </Files>

            <Files Include="$(var.Rock.PrinterProxy.Desktop.TargetDir)publish\**" Directory="InstallFolder" />

            <Component Id="ServiceExecutable" Bitness="always64" Guid="a8337d5e-6b3f-471f-86e4-f97498fbb42a" Directory="ServiceFolder">

                <!-- Copies the Rock.PrinterProxy.Service.exe file using the
                     project reference preprocessor variables -->
                <File Id="Rock.PrinterProxy.Service.exe"
                      Source="$(var.Rock.PrinterProxy.Service.TargetDir)publish\Rock.PrinterProxy.Service.exe"
                      KeyPath="true" />

                <!-- Tell WiX to install the Service -->
                <ServiceInstall Id="ServiceInstaller"
                                Type="ownProcess"
                                Name="Rock.PrinterProxy.Service"
                                DisplayName="$(Name)"
                                Description="Handles proxied print requests from a Rock server."
                                Start="auto"
                                ErrorControl="normal" />

                <!-- Tell WiX to start the Service -->
                <ServiceControl Id="StartService"
                                Start="install"
                                Stop="both"
                                Remove="uninstall"
                                Name="Rock.PrinterProxy.Service"
                                Wait="true" />
            </Component>
        </Feature>

    </Package>
</Wix>
