
// New color added in Style V2
/* INTERFACE COLORS */
.background-interface-strongest { background-color: var(--color-interface-strongest); }
.background-interface-stronger  { background-color: var(--color-interface-stronger); }
.background-interface-strong    { background-color: var(--color-interface-strong); }
.background-interface-medium    { background-color: var(--color-interface-medium); }
.background-interface-soft      { background-color: var(--color-interface-soft); }
.background-interface-softer    { background-color: var(--color-interface-softer); }
.background-interface-softest   { background-color: var(--color-interface-softest); }

/* APPLICATION COLORS */
.background-critical-soft   { background-color: var(--color-critical-soft); }
.background-critical-strong { background-color: var(--color-critical-strong); }
.background-danger-soft     { background-color: var(--color-danger-soft); }
.background-danger-strong   { background-color: var(--color-danger-strong); }
.background-info-soft       { background-color: var(--color-info-soft); }
.background-info-tint       { background-color: var(--color-info-tint); }
.background-info-shade       { background-color: var(--color-info-shade); }
.background-info-strong     { background-color: var(--color-info-strong); }
.background-success-soft    { background-color: var(--color-success-soft); }
.background-success-strong  { background-color: var(--color-success-strong); }
.background-warning-soft    { background-color: var(--color-warning-soft); }
.background-warning-strong  { background-color: var(--color-warning-strong); }

/* SYSTEM COLORS */
.background-primary   { background-color: var(--color-primary); }
.background-campus    { background-color: var(--color-campus); }
.background-link      { background-color: var(--color-link); }
.background-link-hover { background-color: var(--color-link-hover); }

/* CATEGORICAL COLORS */
.background-categorical-1 { background-color: var(--color-categorial-1); }
.background-categorical-2 { background-color: var(--color-categorial-2); }
.background-categorical-3 { background-color: var(--color-categorial-3); }
.background-categorical-4 { background-color: var(--color-categorial-4); }
.background-categorical-5 { background-color: var(--color-categorial-5); }
.background-categorical-6 { background-color: var(--color-categorial-6); }
.background-categorical-7 { background-color: var(--color-categorial-7); }
.background-categorical-8 { background-color: var(--color-categorial-8); }

/* DIVERGING COLORS */
.background-diverging-1  { background-color: var(--color-diverging-1); }
.background-diverging-2  { background-color: var(--color-diverging-2); }
.background-diverging-3  { background-color: var(--color-diverging-3); }
.background-diverging-4  { background-color: var(--color-diverging-4); }
.background-diverging-5  { background-color: var(--color-diverging-5); }
.background-diverging-6  { background-color: var(--color-diverging-6); }
.background-diverging-7  { background-color: var(--color-diverging-7); }
.background-diverging-8  { background-color: var(--color-diverging-8); }
.background-diverging-9  { background-color: var(--color-diverging-9); }
.background-diverging-10 { background-color: var(--color-diverging-10); }
.background-diverging-11 { background-color: var(--color-diverging-11); }

/* SEQUENTIAL COLORS */
.background-sequential-1  { background-color: var(--color-sequential-1); }
.background-sequential-2  { background-color: var(--color-sequential-2); }
.background-sequential-3  { background-color: var(--color-sequential-3); }
.background-sequential-4  { background-color: var(--color-sequential-4); }
.background-sequential-5  { background-color: var(--color-sequential-5); }
.background-sequential-6  { background-color: var(--color-sequential-6); }
.background-sequential-7  { background-color: var(--color-sequential-7); }
.background-sequential-8  { background-color: var(--color-sequential-8); }
.background-sequential-9  { background-color: var(--color-sequential-9); }
.background-sequential-10 { background-color: var(--color-sequential-10); }
.background-sequential-11 { background-color: var(--color-sequential-11); }
// ================

// Also in Bootstrap/type.less
.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-success {
  background-color: var(--color-success-soft) !important;
}

.bg-info {
  background-color: var(--color-info-soft) !important;
}

.bg-warning {
  background-color: var(--color-warning-soft) !important;
}

.bg-danger {
  background-color: var(--color-danger-soft) !important;
}

.bg-critical {
  background-color: var(--color-critical-soft) !important;
}

// background colors
// .bg-color is legacy
.bg-body,
.bg-color {
  background-color: var(--color-interface-softer) !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-current {
  background-color: currentColor !important;
}

.bg-black {
  background-color: #000 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-gray-100 {
  background-color: #f8f9fa !important;
}

.bg-gray-200 {
  background-color: #e9ecef !important;
}

.bg-gray-300 {
  background-color: #dee2e6 !important;
}

.bg-gray-400 {
  background-color: #ced4da !important;
}

.bg-gray-500 {
  background-color: #adb5bd !important;
}

.bg-gray-600 {
  background-color: #6c757d !important;
}

.bg-gray-700 {
  background-color: #495057 !important;
}

.bg-gray-800 {
  background-color: #343a40 !important;
}

.bg-gray-900 {
  background-color: #212529 !important;
}

.bg-red-100 {
  background-color: #fff5f5 !important;
}

.bg-red-200 {
  background-color: #fed7d7 !important;
}

.bg-red-300 {
  background-color: #feb2b2 !important;
}

.bg-red-400 {
  background-color: #fc8181 !important;
}

.bg-red-500 {
  background-color: #f56565 !important;
}

.bg-red-600 {
  background-color: #e53e3e !important;
}

.bg-red-700 {
  background-color: #c53030 !important;
}

.bg-red-800 {
  background-color: #9b2c2c !important;
}

.bg-red-900 {
  background-color: #742a2a !important;
}

.bg-orange-100 {
  background-color: #fffaf0 !important;
}

.bg-orange-200 {
  background-color: #feebc8 !important;
}

.bg-orange-300 {
  background-color: #fbd38d !important;
}

.bg-orange-400 {
  background-color: #f6ad55 !important;
}

.bg-orange-500 {
  background-color: #ed8936 !important;
}

.bg-orange-600 {
  background-color: #dd6b20 !important;
}

.bg-orange-700 {
  background-color: #c05621 !important;
}

.bg-orange-800 {
  background-color: #9c4221 !important;
}

.bg-orange-900 {
  background-color: #7b341e !important;
}

.bg-yellow-100 {
  background-color: #fffff0 !important;
}

.bg-yellow-200 {
  background-color: #fefcbf !important;
}

.bg-yellow-300 {
  background-color: #faf089 !important;
}

.bg-yellow-400 {
  background-color: #f6e05e !important;
}

.bg-yellow-500 {
  background-color: #ecc94b !important;
}

.bg-yellow-600 {
  background-color: #d69e2e !important;
}

.bg-yellow-700 {
  background-color: #b7791f !important;
}

.bg-yellow-800 {
  background-color: #975a16 !important;
}

.bg-yellow-900 {
  background-color: #744210 !important;
}

.bg-green-100 {
  background-color: #f0fff4 !important;
}

.bg-green-200 {
  background-color: #c6f6d5 !important;
}

.bg-green-300 {
  background-color: #9ae6b4 !important;
}

.bg-green-400 {
  background-color: #68d391 !important;
}

.bg-green-500 {
  background-color: #48bb78 !important;
}

.bg-green-600 {
  background-color: #38a169 !important;
}

.bg-green-700 {
  background-color: #2f855a !important;
}

.bg-green-800 {
  background-color: #276749 !important;
}

.bg-green-900 {
  background-color: #22543d !important;
}

.bg-teal-100 {
  background-color: #e6fffa !important;
}

.bg-teal-200 {
  background-color: #b2f5ea !important;
}

.bg-teal-300 {
  background-color: #81e6d9 !important;
}

.bg-teal-400 {
  background-color: #4fd1c5 !important;
}

.bg-teal-500 {
  background-color: #38b2ac !important;
}

.bg-teal-600 {
  background-color: #319795 !important;
}

.bg-teal-700 {
  background-color: #2c7a7b !important;
}

.bg-teal-800 {
  background-color: #285e61 !important;
}

.bg-teal-900 {
  background-color: #234e52 !important;
}

.bg-blue-100 {
  background-color: #ebf8ff !important;
}

.bg-blue-200 {
  background-color: #bee3f8 !important;
}

.bg-blue-300 {
  background-color: #90cdf4 !important;
}

.bg-blue-400 {
  background-color: #63b3ed !important;
}

.bg-blue-500 {
  background-color: #4299e1 !important;
}

.bg-blue-600 {
  background-color: #3182ce !important;
}

.bg-blue-700 {
  background-color: #2b6cb0 !important;
}

.bg-blue-800 {
  background-color: #2c5282 !important;
}

.bg-blue-900 {
  background-color: #2a4365 !important;
}

.bg-indigo-100 {
  background-color: #ebf4ff !important;
}

.bg-indigo-200 {
  background-color: #c3dafe !important;
}

.bg-indigo-300 {
  background-color: #a3bffa !important;
}

.bg-indigo-400 {
  background-color: #7f9cf5 !important;
}

.bg-indigo-500 {
  background-color: #667eea !important;
}

.bg-indigo-600 {
  background-color: #5a67d8 !important;
}

.bg-indigo-700 {
  background-color: #4c51bf !important;
}

.bg-indigo-800 {
  background-color: #434190 !important;
}

.bg-indigo-900 {
  background-color: #3c366b !important;
}

.bg-purple-100 {
  background-color: #faf5ff !important;
}

.bg-purple-200 {
  background-color: #e9d8fd !important;
}

.bg-purple-300 {
  background-color: #d6bcfa !important;
}

.bg-purple-400 {
  background-color: #b794f4 !important;
}

.bg-purple-500 {
  background-color: #9f7aea !important;
}

.bg-purple-600 {
  background-color: #805ad5 !important;
}

.bg-purple-700 {
  background-color: #6b46c1 !important;
}

.bg-purple-800 {
  background-color: #553c9a !important;
}

.bg-purple-900 {
  background-color: #44337a !important;
}

.bg-pink-100 {
  background-color: #fff5f7 !important;
}

.bg-pink-200 {
  background-color: #fed7e2 !important;
}

.bg-pink-300 {
  background-color: #fbb6ce !important;
}

.bg-pink-400 {
  background-color: #f687b3 !important;
}

.bg-pink-500 {
  background-color: #ed64a6 !important;
}

.bg-pink-600 {
  background-color: #d53f8c !important;
}

.bg-pink-700 {
  background-color: #b83280 !important;
}

.bg-pink-800 {
  background-color: #97266d !important;
}

.bg-pink-900 {
  background-color: #702459 !important;
}