// stylelint-disable property-blacklist, declaration-no-important

// Border
.border         { border: 1px solid var(--color-interface-strongest) !important; }
.border-top     { border-top: 1px solid var(--color-interface-strongest) !important; }
.border-right   { border-right: 1px solid var(--color-interface-strongest) !important; }
.border-bottom  { border-bottom: 1px solid var(--color-interface-strongest) !important; }
.border-left    { border-left: 1px solid var(--color-interface-strongest) !important; }

.border-0        { border: 0 !important; }
.border-top-0    { border-top: 0 !important; }
.border-right-0  { border-right: 0 !important; }
.border-bottom-0 { border-bottom: 0 !important; }
.border-left-0   { border-left: 0 !important; }

.border-primary {
  border-color: var(--color-primary) !important;
}

.border-success {
  border-color: var(--color-success-strong) !important;
}

.border-danger {
  border-color: var(--color-danger-strong) !important;
}

.border-warning {
  border-color: var(--color-warning-strong) !important;
}

.border-info {
  border-color: var(--color-info-strong) !important;
}

.border-critical {
  border-color: var(--color-critical-strong) !important;
}

.border-panel {
  border-color: var(--color-interface-softer) !important;
}


// Border-radius
.rounded {
  border-radius: var(--rounded-small) !important;
}

.rounded-sm {
  border-radius: var(--rounded-tiny) !important;
}

.rounded-lg {
  border-radius: var(--rounded-small) !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-pill {
  border-radius: 999px !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.rounded-top {
  border-top-left-radius: var(--rounded-small) !important;
  border-top-right-radius: var(--rounded-small) !important;
}

.rounded-right {
  border-top-right-radius: var(--rounded-small) !important;
  border-bottom-right-radius: var(--rounded-small) !important;
}

.rounded-bottom {
  border-bottom-right-radius: var(--rounded-small) !important;
  border-bottom-left-radius: var(--rounded-small) !important;
}

.rounded-left {
  border-top-left-radius: var(--rounded-small) !important;
  border-bottom-left-radius: var(--rounded-small) !important;
}

// New color added in Style V2
.rounded-tiny {
  border-radius: var(--rounded-tiny);
}

.rounded-small {
  border-radius: var(--rounded-small);
}

.rounded-medium {
  border-radius: var(--rounded-medium);
}

.rounded-large {
  border-radius: var(--rounded-large);
}

.rounded-xlarge {
  border-radius: var(--rounded-xlarge);
}

.rounded-huge {
  border-radius: var(--rounded-huge);
}
// ==============

