
// New color added in Style V2
/* INTERFACE COLORS */
.color-interface-strongest { color: var(--color-interface-strongest); }
.color-interface-stronger  { color: var(--color-interface-stronger); }
.color-interface-strong    { color: var(--color-interface-strong); }
.color-interface-medium    { color: var(--color-interface-medium); }
.color-interface-soft      { color: var(--color-interface-soft); }
.color-interface-softer    { color: var(--color-interface-softer); }
.color-interface-softest   { color: var(--color-interface-softest); }

/* APPLICATION COLORS */
.color-critical-soft   { color: var(--color-critical-soft); }
.color-critical-strong { color: var(--color-critical-strong); }
.color-danger-soft     { color: var(--color-danger-soft); }
.color-danger-strong   { color: var(--color-danger-strong); }
.color-info-soft       { color: var(--color-info-soft); }
.color-info-strong     { color: var(--color-info-strong); }
.color-success-soft    { color: var(--color-success-soft); }
.color-success-strong  { color: var(--color-success-strong); }
.color-warning-soft    { color: var(--color-warning-soft); }
.color-warning-strong  { color: var(--color-warning-strong); }

/* SYSTEM COLORS */
.color-primary   { color: var(--color-primary); }
.color-campus    { color: var(--color-campus); }
.color-link      { color: var(--color-link); }
.color-link-hover { color: var(--color-link-hover); }

/* CATEGORICAL COLORS */
.color-categorical-1 { color: var(--color-categorial-1); }
.color-categorical-2 { color: var(--color-categorial-2); }
.color-categorical-3 { color: var(--color-categorial-3); }
.color-categorical-4 { color: var(--color-categorial-4); }
.color-categorical-5 { color: var(--color-categorial-5); }
.color-categorical-6 { color: var(--color-categorial-6); }
.color-categorical-7 { color: var(--color-categorial-7); }
.color-categorical-8 { color: var(--color-categorial-8); }

/* DIVERGING COLORS */
.color-diverging-1  { color: var(--color-diverging-1); }
.color-diverging-2  { color: var(--color-diverging-2); }
.color-diverging-3  { color: var(--color-diverging-3); }
.color-diverging-4  { color: var(--color-diverging-4); }
.color-diverging-5  { color: var(--color-diverging-5); }
.color-diverging-6  { color: var(--color-diverging-6); }
.color-diverging-7  { color: var(--color-diverging-7); }
.color-diverging-8  { color: var(--color-diverging-8); }
.color-diverging-9  { color: var(--color-diverging-9); }
.color-diverging-10 { color: var(--color-diverging-10); }
.color-diverging-11 { color: var(--color-diverging-11); }

/* SEQUENTIAL COLORS */
.color-sequential-1  { color: var(--color-sequential-1); }
.color-sequential-2  { color: var(--color-sequential-2); }
.color-sequential-3  { color: var(--color-sequential-3); }
.color-sequential-4  { color: var(--color-sequential-4); }
.color-sequential-5  { color: var(--color-sequential-5); }
.color-sequential-6  { color: var(--color-sequential-6); }
.color-sequential-7  { color: var(--color-sequential-7); }
.color-sequential-8  { color: var(--color-sequential-8); }
.color-sequential-9  { color: var(--color-sequential-9); }
.color-sequential-10 { color: var(--color-sequential-10); }
.color-sequential-11 { color: var(--color-sequential-11); }
// ===========================

.text-transparent {
  color: transparent !important;
}

.text-current {
  color: currentColor !important;
}

.text-black {
  color: #000 !important;
}

.text-white {
  color: #fff !important;
}

.text-gray-100 {
  color: #f8f9fa !important;
}

.text-gray-200 {
  color: #e9ecef !important;
}

.text-gray-300 {
  color: #dee2e6 !important;
}

.text-gray-400 {
  color: #ced4da !important;
}

.text-gray-500 {
  color: #adb5bd !important;
}

.text-gray-600 {
  color: #6c757d !important;
}

.text-gray-700 {
  color: #495057 !important;
}

.text-gray-800 {
  color: #343a40 !important;
}

.text-gray-900 {
  color: #212529 !important;
}

.text-red-100 {
  color: #fff5f5 !important;
}

.text-red-200 {
  color: #fed7d7 !important;
}

.text-red-300 {
  color: #feb2b2 !important;
}

.text-red-400 {
  color: #fc8181 !important;
}

.text-red-500 {
  color: #f56565 !important;
}

.text-red-600 {
  color: #e53e3e !important;
}

.text-red-700 {
  color: #c53030 !important;
}

.text-red-800 {
  color: #9b2c2c !important;
}

.text-red-900 {
  color: #742a2a !important;
}

.text-orange-100 {
  color: #fffaf0 !important;
}

.text-orange-200 {
  color: #feebc8 !important;
}

.text-orange-300 {
  color: #fbd38d !important;
}

.text-orange-400 {
  color: #f6ad55 !important;
}

.text-orange-500 {
  color: #ed8936 !important;
}

.text-orange-600 {
  color: #dd6b20 !important;
}

.text-orange-700 {
  color: #c05621 !important;
}

.text-orange-800 {
  color: #9c4221 !important;
}

.text-orange-900 {
  color: #7b341e !important;
}

.text-yellow-100 {
  color: #fffff0 !important;
}

.text-yellow-200 {
  color: #fefcbf !important;
}

.text-yellow-300 {
  color: #faf089 !important;
}

.text-yellow-400 {
  color: #f6e05e !important;
}

.text-yellow-500 {
  color: #ecc94b !important;
}

.text-yellow-600 {
  color: #d69e2e !important;
}

.text-yellow-700 {
  color: #b7791f !important;
}

.text-yellow-800 {
  color: #975a16 !important;
}

.text-yellow-900 {
  color: #744210 !important;
}

.text-green-100 {
  color: #f0fff4 !important;
}

.text-green-200 {
  color: #c6f6d5 !important;
}

.text-green-300 {
  color: #9ae6b4 !important;
}

.text-green-400 {
  color: #68d391 !important;
}

.text-green-500 {
  color: #48bb78 !important;
}

.text-green-600 {
  color: #38a169 !important;
}

.text-green-700 {
  color: #2f855a !important;
}

.text-green-800 {
  color: #276749 !important;
}

.text-green-900 {
  color: #22543d !important;
}

.text-teal-100 {
  color: #e6fffa !important;
}

.text-teal-200 {
  color: #b2f5ea !important;
}

.text-teal-300 {
  color: #81e6d9 !important;
}

.text-teal-400 {
  color: #4fd1c5 !important;
}

.text-teal-500 {
  color: #38b2ac !important;
}

.text-teal-600 {
  color: #319795 !important;
}

.text-teal-700 {
  color: #2c7a7b !important;
}

.text-teal-800 {
  color: #285e61 !important;
}

.text-teal-900 {
  color: #234e52 !important;
}

.text-blue-100 {
  color: #ebf8ff !important;
}

.text-blue-200 {
  color: #bee3f8 !important;
}

.text-blue-300 {
  color: #90cdf4 !important;
}

.text-blue-400 {
  color: #63b3ed !important;
}

.text-blue-500 {
  color: #4299e1 !important;
}

.text-blue-600 {
  color: #3182ce !important;
}

.text-blue-700 {
  color: #2b6cb0 !important;
}

.text-blue-800 {
  color: #2c5282 !important;
}

.text-blue-900 {
  color: #2a4365 !important;
}

.text-indigo-100 {
  color: #ebf4ff !important;
}

.text-indigo-200 {
  color: #c3dafe !important;
}

.text-indigo-300 {
  color: #a3bffa !important;
}

.text-indigo-400 {
  color: #7f9cf5 !important;
}

.text-indigo-500 {
  color: #667eea !important;
}

.text-indigo-600 {
  color: #5a67d8 !important;
}

.text-indigo-700 {
  color: #4c51bf !important;
}

.text-indigo-800 {
  color: #434190 !important;
}

.text-indigo-900 {
  color: #3c366b !important;
}

.text-purple-100 {
  color: #faf5ff !important;
}

.text-purple-200 {
  color: #e9d8fd !important;
}

.text-purple-300 {
  color: #d6bcfa !important;
}

.text-purple-400 {
  color: #b794f4 !important;
}

.text-purple-500 {
  color: #9f7aea !important;
}

.text-purple-600 {
  color: #805ad5 !important;
}

.text-purple-700 {
  color: #6b46c1 !important;
}

.text-purple-800 {
  color: #553c9a !important;
}

.text-purple-900 {
  color: #44337a !important;
}

.text-pink-100 {
  color: #fff5f7 !important;
}

.text-pink-200 {
  color: #fed7e2 !important;
}

.text-pink-300 {
  color: #fbb6ce !important;
}

.text-pink-400 {
  color: #f687b3 !important;
}

.text-pink-500 {
  color: #ed64a6 !important;
}

.text-pink-600 {
  color: #d53f8c !important;
}

.text-pink-700 {
  color: #b83280 !important;
}

.text-pink-800 {
  color: #97266d !important;
}

.text-pink-900 {
  color: #702459 !important;
}

//////

.border-transparent {
  border-color: transparent !important;
}

.border-black {
  border-color: #000 !important;
}

.border-white {
  border-color: #fff !important;
}

.border-gray-100 {
  border-color: #f7fafc !important;
}

.border-gray-200 {
  border-color: #edf2f7 !important;
}

.border-gray-300 {
  border-color: #e2e8f0 !important;
}

.border-gray-400 {
  border-color: #cbd5e0 !important;
}

.border-gray-500 {
  border-color: #a0aec0 !important;
}

.border-gray-600 {
  border-color: #718096 !important;
}

.border-gray-700 {
  border-color: #4a5568 !important;
}

.border-gray-800 {
  border-color: #2d3748 !important;
}

.border-gray-900 {
  border-color: #1a202c !important;
}

.border-red-100 {
  border-color: #fff5f5 !important;
}

.border-red-200 {
  border-color: #fed7d7 !important;
}

.border-red-300 {
  border-color: #feb2b2 !important;
}

.border-red-400 {
  border-color: #fc8181 !important;
}

.border-red-500 {
  border-color: #f56565 !important;
}

.border-red-600 {
  border-color: #e53e3e !important;
}

.border-red-700 {
  border-color: #c53030 !important;
}

.border-red-800 {
  border-color: #9b2c2c !important;
}

.border-red-900 {
  border-color: #742a2a !important;
}

.border-orange-100 {
  border-color: #fffaf0 !important;
}

.border-orange-200 {
  border-color: #feebc8 !important;
}

.border-orange-300 {
  border-color: #fbd38d !important;
}

.border-orange-400 {
  border-color: #f6ad55 !important;
}

.border-orange-500 {
  border-color: #ed8936 !important;
}

.border-orange-600 {
  border-color: #dd6b20 !important;
}

.border-orange-700 {
  border-color: #c05621 !important;
}

.border-orange-800 {
  border-color: #9c4221 !important;
}

.border-orange-900 {
  border-color: #7b341e !important;
}

.border-yellow-100 {
  border-color: #fffff0 !important;
}

.border-yellow-200 {
  border-color: #fefcbf !important;
}

.border-yellow-300 {
  border-color: #faf089 !important;
}

.border-yellow-400 {
  border-color: #f6e05e !important;
}

.border-yellow-500 {
  border-color: #ecc94b !important;
}

.border-yellow-600 {
  border-color: #d69e2e !important;
}

.border-yellow-700 {
  border-color: #b7791f !important;
}

.border-yellow-800 {
  border-color: #975a16 !important;
}

.border-yellow-900 {
  border-color: #744210 !important;
}

.border-green-100 {
  border-color: #f0fff4 !important;
}

.border-green-200 {
  border-color: #c6f6d5 !important;
}

.border-green-300 {
  border-color: #9ae6b4 !important;
}

.border-green-400 {
  border-color: #68d391 !important;
}

.border-green-500 {
  border-color: #48bb78 !important;
}

.border-green-600 {
  border-color: #38a169 !important;
}

.border-green-700 {
  border-color: #2f855a !important;
}

.border-green-800 {
  border-color: #276749 !important;
}

.border-green-900 {
  border-color: #22543d !important;
}

.border-teal-100 {
  border-color: #e6fffa !important;
}

.border-teal-200 {
  border-color: #b2f5ea !important;
}

.border-teal-300 {
  border-color: #81e6d9 !important;
}

.border-teal-400 {
  border-color: #4fd1c5 !important;
}

.border-teal-500 {
  border-color: #38b2ac !important;
}

.border-teal-600 {
  border-color: #319795 !important;
}

.border-teal-700 {
  border-color: #2c7a7b !important;
}

.border-teal-800 {
  border-color: #285e61 !important;
}

.border-teal-900 {
  border-color: #234e52 !important;
}

.border-blue-100 {
  border-color: #ebf8ff !important;
}

.border-blue-200 {
  border-color: #bee3f8 !important;
}

.border-blue-300 {
  border-color: #90cdf4 !important;
}

.border-blue-400 {
  border-color: #63b3ed !important;
}

.border-blue-500 {
  border-color: #4299e1 !important;
}

.border-blue-600 {
  border-color: #3182ce !important;
}

.border-blue-700 {
  border-color: #2b6cb0 !important;
}

.border-blue-800 {
  border-color: #2c5282 !important;
}

.border-blue-900 {
  border-color: #2a4365 !important;
}

.border-indigo-100 {
  border-color: #ebf4ff !important;
}

.border-indigo-200 {
  border-color: #c3dafe !important;
}

.border-indigo-300 {
  border-color: #a3bffa !important;
}

.border-indigo-400 {
  border-color: #7f9cf5 !important;
}

.border-indigo-500 {
  border-color: #667eea !important;
}

.border-indigo-600 {
  border-color: #5a67d8 !important;
}

.border-indigo-700 {
  border-color: #4c51bf !important;
}

.border-indigo-800 {
  border-color: #434190 !important;
}

.border-indigo-900 {
  border-color: #3c366b !important;
}

.border-purple-100 {
  border-color: #faf5ff !important;
}

.border-purple-200 {
  border-color: #e9d8fd !important;
}

.border-purple-300 {
  border-color: #d6bcfa !important;
}

.border-purple-400 {
  border-color: #b794f4 !important;
}

.border-purple-500 {
  border-color: #9f7aea !important;
}

.border-purple-600 {
  border-color: #805ad5 !important;
}

.border-purple-700 {
  border-color: #6b46c1 !important;
}

.border-purple-800 {
  border-color: #553c9a !important;
}

.border-purple-900 {
  border-color: #44337a !important;
}

.border-pink-100 {
  border-color: #fff5f7 !important;
}

.border-pink-200 {
  border-color: #fed7e2 !important;
}

.border-pink-300 {
  border-color: #fbb6ce !important;
}

.border-pink-400 {
  border-color: #f687b3 !important;
}

.border-pink-500 {
  border-color: #ed64a6 !important;
}

.border-pink-600 {
  border-color: #d53f8c !important;
}

.border-pink-700 {
  border-color: #b83280 !important;
}

.border-pink-800 {
  border-color: #97266d !important;
}

.border-pink-900 {
  border-color: #702459 !important;
}
