// About Helper Variables
// -------------------------
// Spacing, sizing, and media query helpers can be found in _rock-variables.less

// Spacing (note: default $grid-gutter-width is 30px in BS3)
// -------------------------

// all (top, bottom, right, left)
.padding-all-none {
  padding: 0 !important;
}
.padding-all-sm {
  padding: ceil($grid-gutter-width * .25) !important;
}
.padding-all-md {
  padding: $grid-gutter-width * .5 !important;
}
.padding-all-lg {
  padding: $grid-gutter-width * 1 !important;
}
.padding-all-xl {
  padding: $grid-gutter-width * 2 !important;
}

.margin-all-none {
  margin: 0 !important;
}
.margin-all-sm {
  margin: ceil($grid-gutter-width * .25) !important;
}
.margin-all-md {
  margin: $grid-gutter-width * .5 !important;
}
.margin-all-lg {
  margin: $grid-gutter-width * 1 !important;
}
.margin-all-xl {
  margin: $grid-gutter-width * 2 !important;
}

// vertical (top, bottom)
.padding-v-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.padding-v-sm {
  padding-top: ceil($grid-gutter-width * .25) !important;
  padding-bottom: ceil($grid-gutter-width * .25) !important;
}
.padding-v-md {
  padding-top: $grid-gutter-width * .5 !important;
  padding-bottom: $grid-gutter-width * .5 !important;
}
.padding-v-lg {
  padding-top: $grid-gutter-width * 1 !important;
  padding-bottom: $grid-gutter-width * 1 !important;
}
.padding-v-xl {
  padding-top: $grid-gutter-width * 2 !important;
  padding-bottom: $grid-gutter-width * 2 !important;
}

.margin-v-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.margin-v-sm {
  margin-top: ceil($grid-gutter-width * .25) !important;
  margin-bottom: ceil($grid-gutter-width * .25) !important;
}
.margin-v-md {
  margin-top: $grid-gutter-width * .5 !important;
  margin-bottom: $grid-gutter-width * .5 !important;
}
.margin-v-lg {
  margin-top: $grid-gutter-width * 1 !important;
  margin-bottom: $grid-gutter-width * 1 !important;
}
.margin-v-xl {
  margin-top: $grid-gutter-width * 2 !important;
  margin-bottom: $grid-gutter-width * 2 !important;
}

// horizontal (right, left)
.padding-h-none {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.padding-h-sm {
  padding-right: ceil($grid-gutter-width * .25) !important;
  padding-left: ceil($grid-gutter-width * .25) !important;
}
.padding-h-md {
  padding-right: $grid-gutter-width * .5 !important;
  padding-left: $grid-gutter-width * .5 !important;
}
.padding-h-lg {
  padding-right: $grid-gutter-width * 1 !important;
  padding-left: $grid-gutter-width * 1 !important;
}
.padding-h-xl {
  padding-right: $grid-gutter-width * 2 !important;
  padding-left: $grid-gutter-width * 2 !important;
}

.margin-h-none {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.margin-h-sm {
  margin-right: ceil($grid-gutter-width * .25) !important;
  margin-left: ceil($grid-gutter-width * .25) !important;
}
.margin-h-md {
  margin-right: $grid-gutter-width * .5 !important;
  margin-left: $grid-gutter-width * .5 !important;
}
.margin-h-lg {
  margin-right: $grid-gutter-width * 1 !important;
  margin-left: $grid-gutter-width * 1 !important;
}
.margin-h-xl {
  margin-right: $grid-gutter-width * 2 !important;
  margin-left: $grid-gutter-width * 2 !important;
}

// top
.padding-t-none {
  padding-top: 0 !important;
}
.padding-t-sm {
  padding-top: ceil($grid-gutter-width * .25) !important;
}
.padding-t-md {
  padding-top: $grid-gutter-width * .5 !important;
}
.padding-t-lg {
  padding-top: $grid-gutter-width * 1 !important;
}
.padding-t-xl {
  padding-top: $grid-gutter-width * 2 !important;
}

.margin-t-none {
  margin-top: 0 !important;
}
.margin-t-sm {
  margin-top: ceil($grid-gutter-width * .25) !important;
}
.margin-t-md {
  margin-top: $grid-gutter-width * .5 !important;
}
.margin-t-lg {
  margin-top: $grid-gutter-width * 1 !important;
}
.margin-t-xl {
  margin-top: $grid-gutter-width * 2 !important;
}

// bottom
.padding-b-none {
  padding-bottom: 0 !important;
}
.padding-b-sm {
  padding-bottom: ceil($grid-gutter-width * .25) !important;
}
.padding-b-md {
  padding-bottom: $grid-gutter-width * .5 !important;
}
.padding-b-lg {
  padding-bottom: $grid-gutter-width * 1 !important;
}
.padding-b-xl {
  padding-bottom: $grid-gutter-width * 2 !important;
}

.margin-b-none {
  margin-bottom: 0 !important;
}
.margin-b-sm {
  margin-bottom: ceil($grid-gutter-width * .25) !important;
}
.margin-b-md {
  margin-bottom: $grid-gutter-width * .5 !important;
}
.margin-b-lg {
  margin-bottom: $grid-gutter-width * 1 !important;
}
.margin-b-xl {
  margin-bottom: $grid-gutter-width * 2 !important;
}

// right
.padding-r-none {
  padding-right: 0 !important;
}
.padding-r-sm {
  padding-right: ceil($grid-gutter-width * .25) !important;
}
.padding-r-md {
  padding-right: $grid-gutter-width * .5 !important;
}
.padding-r-lg {
  padding-right: $grid-gutter-width * 1 !important;
}
.padding-r-xl {
  padding-right: $grid-gutter-width * 2 !important;
}

.margin-r-none {
  margin-right: 0 !important;
}
.margin-r-sm {
  margin-right: ceil($grid-gutter-width * .25) !important;
}
.margin-r-md {
  margin-right: $grid-gutter-width * .5 !important;
}
.margin-r-lg {
  margin-right: $grid-gutter-width * 1 !important;
}
.margin-r-xl {
  margin-right: $grid-gutter-width * 2 !important;
}

// left
.padding-l-none {
  padding-left: 0 !important;
}
.padding-l-sm {
  padding-left: ceil($grid-gutter-width * .25) !important;
}
.padding-l-md {
  padding-left: $grid-gutter-width * .5 !important;
}
.padding-l-lg {
  padding-left: $grid-gutter-width * 1 !important;
}
.padding-l-xl {
  padding-left: $grid-gutter-width * 2 !important;
}

.margin-l-none {
  margin-left: 0 !important;
}
.margin-l-sm {
  margin-left: ceil($grid-gutter-width * .25) !important;
}
.margin-l-md {
  margin-left: $grid-gutter-width * .5 !important;
}
.margin-l-lg {
  margin-left: $grid-gutter-width * 1 !important;
}
.margin-l-xl {
  margin-left: $grid-gutter-width * 2 !important;
}

.mx--panel-body {
  margin-right: calc(var(--spacing-medium) * -1);
  margin-left: calc(var(--spacing-medium) * -1);
}


// .util-mix-spacing(@breakpoint:"base") {
//   .setInfix(@bp) when (@bp = "base") {
//     @infix: ~"";
//     .display-spacing-margin(@infix);
//     .display-spacing-padding(@infix);
//   }

//   .setInfix(@bp) when (default()) {
//     @infix: ~"-@{breakpoint}";

//     .display-spacing-margin(@infix);
//     .display-spacing-padding(@infix);
//   }

//   .setInfix(@breakpoint);
// }

// // stylelint-disable declaration-block-single-line-max-declarations
// .display-spacing-margin(@infix) {
//   .m@{infix}-0 { margin: 0 !important; }
//   .m@{infix}-1 { margin: @spacer * @spacing-1 !important; }
//   .m@{infix}-2 { margin: @spacer * @spacing-2 !important; }
//   .m@{infix}-3 { margin: @spacer * @spacing-3 !important; }
//   .m@{infix}-4 { margin: @spacer * @spacing-4 !important; }
//   .m@{infix}-5 { margin: @spacer * @spacing-5 !important; }
//   .m@{infix}-auto { margin: auto !important; }

//   .mx@{infix}-0 { margin-right: 0 !important; margin-left: 0 !important; }
//   .mx@{infix}-1 { margin-right: @spacer * @spacing-1 !important; margin-left: @spacer * @spacing-1 !important; }
//   .mx@{infix}-2 { margin-right: @spacer * @spacing-2 !important; margin-left: @spacer * @spacing-2 !important; }
//   .mx@{infix}-3 { margin-right: @spacer * @spacing-3 !important; margin-left: @spacer * @spacing-3 !important; }
//   .mx@{infix}-4 { margin-right: @spacer * @spacing-4 !important; margin-left: @spacer * @spacing-4 !important; }
//   .mx@{infix}-5 { margin-right: @spacer * @spacing-5 !important; margin-left: @spacer * @spacing-5 !important; }
//   .mx@{infix}-auto { margin-right: auto !important; margin-left: auto !important; }

//   .my@{infix}-0 { margin-top: 0 !important; margin-bottom: 0 !important; }
//   .my@{infix}-1 { margin-top: @spacer * @spacing-1 !important; margin-bottom: @spacer * @spacing-1 !important; }
//   .my@{infix}-2 { margin-top: @spacer * @spacing-2 !important; margin-bottom: @spacer * @spacing-2 !important; }
//   .my@{infix}-3 { margin-top: @spacer * @spacing-3 !important; margin-bottom: @spacer * @spacing-3 !important; }
//   .my@{infix}-4 { margin-top: @spacer * @spacing-4 !important; margin-bottom: @spacer * @spacing-4 !important; }
//   .my@{infix}-5 { margin-top: @spacer * @spacing-5 !important; margin-bottom: @spacer * @spacing-5 !important; }
//   .my@{infix}-auto { margin-top: auto !important; margin-bottom: auto !important; }

//   .mt@{infix}-0 { margin-top: 0 !important; }
//   .mt@{infix}-1 { margin-top: @spacer * @spacing-1 !important; }
//   .mt@{infix}-2 { margin-top: @spacer * @spacing-2 !important; }
//   .mt@{infix}-3 { margin-top: @spacer * @spacing-3 !important; }
//   .mt@{infix}-4 { margin-top: @spacer * @spacing-4 !important; }
//   .mt@{infix}-5 { margin-top: @spacer * @spacing-5 !important; }
//   .mt@{infix}-auto { margin-top: auto !important; }

//   .mr@{infix}-0 { margin-right: 0 !important; }
//   .mr@{infix}-1 { margin-right: @spacer * @spacing-1 !important; }
//   .mr@{infix}-2 { margin-right: @spacer * @spacing-2 !important; }
//   .mr@{infix}-3 { margin-right: @spacer * @spacing-3 !important; }
//   .mr@{infix}-4 { margin-right: @spacer * @spacing-4 !important; }
//   .mr@{infix}-5 { margin-right: @spacer * @spacing-5 !important; }
//   .mr@{infix}-auto { margin-right: auto !important; }

//   .mb@{infix}-0 { margin-bottom: 0 !important; }
//   .mb@{infix}-1 { margin-bottom: @spacer * @spacing-1 !important; }
//   .mb@{infix}-2 { margin-bottom: @spacer * @spacing-2 !important; }
//   .mb@{infix}-3 { margin-bottom: @spacer * @spacing-3 !important; }
//   .mb@{infix}-4 { margin-bottom: @spacer * @spacing-4 !important; }
//   .mb@{infix}-5 { margin-bottom: @spacer * @spacing-5 !important; }
//   .mb@{infix}-auto { margin-bottom: auto !important; }

//   .ml@{infix}-0 { margin-left: 0 !important; }
//   .ml@{infix}-1 { margin-left: @spacer * @spacing-1 !important; }
//   .ml@{infix}-2 { margin-left: @spacer * @spacing-2 !important; }
//   .ml@{infix}-3 { margin-left: @spacer * @spacing-3 !important; }
//   .ml@{infix}-4 { margin-left: @spacer * @spacing-4 !important; }
//   .ml@{infix}-5 { margin-left: @spacer * @spacing-5 !important; }
//   .ml@{infix}-auto { margin-left: auto !important; }
// }

// .display-spacing-padding(@infix) {
//   .p@{infix}-0 { padding: 0 !important; }
//   .p@{infix}-1 { padding: @spacer * @spacing-1 !important; }
//   .p@{infix}-2 { padding: @spacer * @spacing-2 !important; }
//   .p@{infix}-3 { padding: @spacer * @spacing-3 !important; }
//   .p@{infix}-4 { padding: @spacer * @spacing-4 !important; }
//   .p@{infix}-5 { padding: @spacer * @spacing-5 !important; }

//   .px@{infix}-0 { padding-right: 0 !important; padding-left: 0 !important; }
//   .px@{infix}-1 { padding-right: @spacer * @spacing-1 !important; padding-left: @spacer * @spacing-1 !important; }
//   .px@{infix}-2 { padding-right: @spacer * @spacing-2 !important; padding-left: @spacer * @spacing-2 !important; }
//   .px@{infix}-3 { padding-right: @spacer * @spacing-3 !important; padding-left: @spacer * @spacing-3 !important; }
//   .px@{infix}-4 { padding-right: @spacer * @spacing-4 !important; padding-left: @spacer * @spacing-4 !important; }
//   .px@{infix}-5 { padding-right: @spacer * @spacing-5 !important; padding-left: @spacer * @spacing-5 !important; }

//   .py@{infix}-0 { padding-top: 0 !important; padding-bottom: 0 !important; }
//   .py@{infix}-1 { padding-top: @spacer * @spacing-1 !important; padding-bottom: @spacer * @spacing-1 !important; }
//   .py@{infix}-2 { padding-top: @spacer * @spacing-2 !important; padding-bottom: @spacer * @spacing-2 !important; }
//   .py@{infix}-3 { padding-top: @spacer * @spacing-3 !important; padding-bottom: @spacer * @spacing-3 !important; }
//   .py@{infix}-4 { padding-top: @spacer * @spacing-4 !important; padding-bottom: @spacer * @spacing-4 !important; }
//   .py@{infix}-5 { padding-top: @spacer * @spacing-5 !important; padding-bottom: @spacer * @spacing-5 !important; }

//   .pt@{infix}-0 { padding-top: 0 !important; }
//   .pt@{infix}-1 { padding-top: @spacer * @spacing-1 !important; }
//   .pt@{infix}-2 { padding-top: @spacer * @spacing-2 !important; }
//   .pt@{infix}-3 { padding-top: @spacer * @spacing-3 !important; }
//   .pt@{infix}-4 { padding-top: @spacer * @spacing-4 !important; }
//   .pt@{infix}-5 { padding-top: @spacer * @spacing-5 !important; }

//   .pr@{infix}-0 { padding-right: 0 !important; }
//   .pr@{infix}-1 { padding-right: @spacer * @spacing-1 !important; }
//   .pr@{infix}-2 { padding-right: @spacer * @spacing-2 !important; }
//   .pr@{infix}-3 { padding-right: @spacer * @spacing-3 !important; }
//   .pr@{infix}-4 { padding-right: @spacer * @spacing-4 !important; }
//   .pr@{infix}-5 { padding-right: @spacer * @spacing-5 !important; }

//   .pb@{infix}-0 { padding-bottom: 0 !important; }
//   .pb@{infix}-1 { padding-bottom: @spacer * @spacing-1 !important; }
//   .pb@{infix}-2 { padding-bottom: @spacer * @spacing-2 !important; }
//   .pb@{infix}-3 { padding-bottom: @spacer * @spacing-3 !important; }
//   .pb@{infix}-4 { padding-bottom: @spacer * @spacing-4 !important; }
//   .pb@{infix}-5 { padding-bottom: @spacer * @spacing-5 !important; }

//   .pl@{infix}-0 { padding-left: 0 !important; }
//   .pl@{infix}-1 { padding-left: @spacer * @spacing-1 !important; }
//   .pl@{infix}-2 { padding-left: @spacer * @spacing-2 !important; }
//   .pl@{infix}-3 { padding-left: @spacer * @spacing-3 !important; }
//   .pl@{infix}-4 { padding-left: @spacer * @spacing-4 !important; }
//   .pl@{infix}-5 { padding-left: @spacer * @spacing-5 !important; }
// }
// stylelint-enable declaration-block-single-line-max-declarations
