
/* TYPOGRAPHY Utilities */
.font-size-xsmall  { font-size: var(--font-size-xsmall)}
.font-size-small   { font-size: var(--font-size-small); }
.font-size-regular { font-size: var(--font-size-regular); }
.font-size-h1      { font-size: var(--font-size-h1); }
.font-size-h2      { font-size: var(--font-size-h2); }
.font-size-h3      { font-size: var(--font-size-h3); }
.font-size-h4      { font-size: var(--font-size-h4); }
.font-size-h5      { font-size: var(--font-size-h5); }
.font-size-h6      { font-size: var(--font-size-h6); }

.font-weight-light   { font-weight: var(--font-weight-light); }
.font-weight-regular { font-weight: var(--font-weight-regular); }
.font-weight-medium  { font-weight: var(--font-weight-medium); }
.font-weight-semibold{ font-weight: var(--font-weight-semibold); }
.font-weight-bold    { font-weight: var(--font-weight-bold); }
.font-weight-black   { font-weight: var(--font-weight-black); }

.line-height-normal  { line-height: var(--line-height-normal); }
.line-height-tight   { line-height: var(--line-height-tight); }
.line-height-compact { line-height: var(--line-height-compact); }

.font-family-segoe { font-family: var(--font-family-segoe); }
.font-family-sans  { font-family: var(--font-family-sans); }
.font-family-serif { font-family: var(--font-family-serif); }

.text-primary { color: var(--color-primary) !important;}
.text-success { color: var(--color-success-strong) !important;}
.text-warning { color: var(--color-warning-strong) !important;}
.text-danger  { color: var(--color-danger-strong) !important;}
.text-info    { color: var(--color-info-strong) !important;}

.text-center    { text-align: center !important;}
.text-right     { text-align: right !important;}
.text-left      { text-align: left !important;}
.text-justify   { text-align: justify !important;}
.text-nowrap    { white-space: nowrap !important;}

.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

.text-monospace { font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;}
.text-justify   { text-align: justify !important;}
.text-nowrap    { white-space: nowrap !important;}

.text-truncate { 
    overflow:       hidden;
    text-overflow:  ellipsis;
    white-space:    nowrap;
}

.control-label {
    margin-bottom:  var(--spacing-tiny);
    font-size:      var(--font-size-small);
    line-height:    18px;
}
  
  .control-label-sm {
    display:    block;
    font-size:  var(--font-size-xsmall);
    color:      var(--color-interface-medium);
}

.text-hide {
    font:               0/0 a;
    color:              transparent;
    text-shadow:        none;
    background-color:   transparent;
    border:             0;
}

/* === Universal Font === */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: var(--font-family-title);
}
p, .p, .text-primary, .text-small {
    font-family: var(--font-family-body)
}
/* === End Universal Font ===*/


/* HEADING */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-compact) !important;
}

h1, .h1 {
    font-size: var(--font-size-h1);
}

h2, .h2 {
    font-size: var(--font-size-h2);
}

h3, .h3 {
    font-size: var(--font-size-h3);
}

h4, .h4 {
    margin-top:     12px;
    margin-bottom:  12px;
    font-size: var(--font-size-h4);
}

h5, .h5 {
    font-size: var(--font-size-h5);
}

h6, .h6 {
    font-size: var(--font-size-h6);
}


/* BODY TEXT */
p, .p, .text-primary, .text-small {
    line-height: var(--line-height-normal);
    font-weight: var(--font-weight-regular);
}

p, .p, .text-primary {
    margin: 0 0 12px;
    font-size:   var(--font-size-regular);
}

.text-small {
    font-size:   var(--font-size-small);
}

h1.condensed,
h2.condensed,
h3.condensed,
h4.condensed,
h5.condensed,
h6.condensed {
  margin-top: 0;
  margin-bottom: 0;
}

//Moved from bootstrap type.less
.text-muted {
    color: var(--color-interface-strong);
}
.text-primary {
    color: var(--color-primary);
    a &:hover,
    a &:focus {
    color: var(--color-primary); //TODO Darken by 10% 
    }
}
.text-success {
    color: var(--color-success-strong);
    a &:hover,
    a &:focus {
    color: var(--color-success-strong); //TODO Darken by 10% 
    }
}
.text-info {
    color: var(--color-info-strong);
    a &:hover,
    a &:focus {
    color: var(--color-info-strong); //TODO Darken by 10% 
    }
}
.text-warning {
    color: var(--color-warning-strong);
    a &:hover,
    a &:focus {
    color: var(--color-warning-strong); //TODO Darken by 10% 
    }
}
.text-danger {
    color: var(--color-danger-strong);
    a &:hover,
    a &:focus {
    color: var(--color-danger-strong); //TODO Darken by 10% 
    }
}

@media (min-width: 576px) {
    .text-sm-left {
        text-align: left !important;
    }
    .text-sm-right {
        text-align: right !important;
    }
    .text-sm-center {
        text-align: center !important;
    }
}

@media (min-width: $screen-small) {
    .text-md-left {
        text-align: left !important;
    }
    .text-md-right {
        text-align: right !important;
    }
    .text-md-center {
        text-align: center !important;
    }
}

@media (min-width: $screen-medium) {
    .text-lg-left {
        text-align: left !important;
    }
    .text-lg-right {
        text-align: right !important;
    }
    .text-lg-center {
        text-align: center !important;
    }
}

@media (min-width: $screen-large) {
    .text-xl-left {
        text-align: left !important;
    }
    .text-xl-right {
        text-align: right !important;
    }
    .text-xl-center {
        text-align: center !important;
    }
}