// stylelint-disable selector-list-comma-newline-after, selector-no-qualifying-type

//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-tight);
  color: inherit;

  small,
  .small {
    font-weight: 400;
    line-height: 1;
    color: var(--color-interface-soft);
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: $line-height-computed;
  margin-bottom: calc($line-height-computed / 2);

  small,
  .small {
    font-size: 65%;
  }
}
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: calc($line-height-computed / 2);
  margin-bottom: calc($line-height-computed / 2);

  small,
  .small {
    font-size: 75%;
  }
}

h1, .h1 { font-size: var(--font-size-h1); }
h2, .h2 { font-size: var(--font-size-h2); }
h3, .h3 { font-size: var(--font-size-h3); }
h4, .h4 { font-size: var(--font-size-h4); }
h5, .h5 { font-size: var(--font-size-h5); }
h6, .h6 { font-size: var(--font-size-h6); }


// Body text
// -------------------------

p {
  margin: 0 0 calc($line-height-computed / 2);
}

.lead {
  margin-bottom: $line-height-computed;
  font-size: calc(var(--font-size-regular) * 1.15);
  font-weight: var(--font-weight-light);
  line-height: 1.4;

  @media (min-width: $screen-small) {
    font-size: calc(var(--font-size-regular) * 1.5);
  }
}


// Emphasis & misc
// -------------------------

// Ex: (12px small font / 14px base font) * 100% = about 85%
small,
.small {
  font-size: calc(100% * var(--font-size-xsmall) / var(--font-size-regular));
}

mark,
.mark {
  padding: .2em;
  background-color: var(--color-warning-soft);
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

// Contextual colors
.text-muted {
  color: var(--color-interface-medium);
}
.text-primary {
  color: var(--color-primary);
  a &:hover,
  a &:focus {
  color: var(--color-primary-shade);
  }
}
.text-success {
  color: var(--color-success-strong);
  a &:hover,
  a &:focus {
  color: var(--color-success-shade);
  }
}
.text-info {
  color: var(--color-info-strong);
  a &:hover,
  a &:focus {
  color: var(--color-info-shade);
  }
}
.text-warning {
  color: var(--color-warning-strong);
  a &:hover,
  a &:focus {
  color: var(--color-warning-shade);
  }
}
.text-danger {
  color: var(--color-danger-strong);
  a &:hover,
  a &:focus {
  color: var(--color-danger-shade);
  }
}

// Contextual backgrounds
// For now we'll leave these alongside the text classes until v4 when we can
// safely shift things around (per SemVer rules).
.bg-primary {
  // Given the contrast here, this is the only class to have its color inverted
  // automatically.
  color: #fff;
  background-color: var(--color-primary);
  a &:hover,
  a &:focus {
    background-color: var(--color-primary-shade);
  }
}
.bg-success {
  background-color: var(--color-success-soft);
  a &:hover,
  a &:focus {
    background-color: color-mix(in srgb, var(--color-success-soft) 100%, #000 15%);;
  }
}
.bg-info {
  background-color: var(--color-info-soft);
  a &:hover,
  a &:focus {
    background-color: color-mix(in srgb, var(--color-info-soft) 100%, #000 15%);
  }
  
}
.bg-warning {
  background-color: var(--color-warning-soft);
  a &:hover,
  a &:focus {
    background-color: color-mix(in srgb, var(--color-warning-soft) 100%, #000 15%);
  }
}
.bg-danger {
  background-color: var(--color-danger-soft);
  a &:hover,
  a &:focus {
    background-color: color-mix(in srgb, var(--color-danger-soft) 100%, #000 15%);
  }
}


// Page header
// -------------------------

.page-header {
  padding-bottom: calc(($line-height-computed / 2) - 1);
  margin: calc($line-height-computed * 2) 0 $line-height-computed;
  border-bottom: 1px solid var(--color-interface-softer);
}


// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: calc($line-height-computed / 2);
  ul,
  ol {
    margin-bottom: 0;
  }
}

// List options


// Inline turns list items into inline-block
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}

// Description Lists
dl {
  margin-top: 0; // Remove browser default
  margin-bottom: $line-height-computed;
}
dt,
dd {
  line-height: var(--line-height-normal);
}
dt {
  font-weight: var(--font-weight-bold);
}
dd {
  margin-left: 0; // Undo browser default
}

// Horizontal description lists
//
// Defaults to being stacked without any of the below styles applied, until the
// grid breakpoint is reached (default of ~768px).

.dl-horizontal {
  dd {
    &:before,
    &:after {
      display: table; // 2
      content: " "; // 1
    }
    &:after {
      clear: both;
    }; // Clear the floated `dt` if an empty `dd` is present
  }

  @media (min-width: $screen-small) {
    dt {
      float: left;
      width: 160px;
      clear: left;
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    dd {
      margin-left: 180px;
    }
  }
}


// Misc
// -------------------------

// Abbreviations and acronyms
// Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[title],
abbr[data-original-title] {
  cursor: help;
}

.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquotes
blockquote {
  padding: calc($line-height-computed / 2) $line-height-computed;
  margin: 0 0 $line-height-computed;
  font-size: calc(var(--font-size-regular) * 1.25);
  border-left: 5px solid var(--color-interface-soft);

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  // Note: Deprecated small and .small as of v3.1.0
  // Context: https://github.com/twbs/bootstrap/issues/11660
  footer,
  small,
  .small {
    display: block;
    font-size: 80%; // back to default font-size
    line-height: var(--line-height-normal);
    color: var(--color-interface-medium);

    &:before {
      content: "\2014 \00A0"; // em dash, nbsp
    }
  }
}

// Opposite alignment of blockquote
//
// Heads up: `blockquote.pull-right` has been deprecated as of v3.1.0.
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  text-align: right;
  border-right: 5px solid var(--color-interface-soft);
  border-left: 0;

  // Account for citation
  footer,
  small,
  .small {
    &:before { content: ""; }
    &:after {
      content: "\00A0 \2014"; // nbsp, em dash
    }
  }
}

// Addresses
address {
  margin-bottom: $line-height-computed;
  font-style: normal;
  line-height: var(--line-height-normal);
}
