/* FontAwesome Start */
@fa-theme-weight: 900;
@fa-theme-weight-name: 'solid';

@import "../../../Styles/FontAwesome/_rock-fa-mixins.less";
/* FontAwesome End */
@subheader-text-color: #3c3d3d;
@subheader-font-weight: @font-weight-semibold;
@font-weight-semibold: 500;
