.sheet-background::before, .block-instance::before, .kioskmanager-locations::before, .checkin-inactive::before, .js-manager-login::before{
    border-radius:0 !important;
}
.welcome-banner{
    padding: 2rem 0;

}

.person-select-\(family-check-in\) .checkin-option-list .btn-checkin-select .checkbox-container {
    display: block;
}

/* search page */
.checkin-header{
/*margin: 0 auto;*/
}