// Load Master Styles
// -------------------------
@import "../../../Styles/Bootstrap/variables.less";
@import "_bootstrap-overrides.less";
@import "../../../Styles/_rock-core.less";
@import "../../../Styles/_store.less";
@import "../../../Styles/_rock-variables.less";

@import "_variables.less";
@import "_variable-overrides.less";
@import "_custom-variables.less";
@import "_print.less";

@import "./Custom/Util/_mixins.less";
@import "./Custom/Components/_colors.less";
@import "./Custom/Components/_fonts.less";
@import "./Custom/Components/_typography.less";
@import "./Custom/Components/_accordions.less";
@import "./Custom/Components/_buttons.less";
@import "./Custom/Components/_cards.less";
@import "./Custom/Components/_labels.less";
@import "./Custom/Components/_modals.less";
@import "./Custom/Components/_navs.less";
@import "./Custom/Components/_panels.less";
@import "./Custom/Components/_swiper.less";

@import "./Custom/Global/_heroes.less";
@import "./Custom/Global/_navbar.less";
@import "./Custom/Global/_page.less";
@import "./Custom/Global/_alertbar.less";
@import "./Custom/Global/_sidebar.less";

/*
    Rock Theme Styles

    1. HTML Overrides
    2. Bootstrap Overrides
    3. Theme Styling
    4. Responsive Overrides

*/

// 1. HTML Overrides
// -------------------------
html {
  -webkit-font-smoothing: antialiased;
}

main {
  display: block;
}

// 2. Bootstrap Overrides
// -------------------------

.navbar {
  position: static; // default is relative which causes the dropdowns to go under the other navbars dispite having a higher z-index - JME 9/9/2013
  // using fontawesome nav toggle button instead of the BS default
}

/* hide block panels */
.panel.panel-block {
  border: 0;
  box-shadow: none;

  & > .panel-heading,
  & > .rock-panel-drawer {
    display: none;
  }

  & > .panel-body {
    padding: 0;

    .grid.grid-panel {
      margin: 0;
    }
  }
}


// 3. Theme Styling
// -------------------------
.global {
  &-wrapper {
    display: flex;
    width: 100%;
  }

  &-content {
    width: 100% !important;

    @media (max-width: @screen-sm-max) {
      margin-top: 60px;
    }
  }
}


// 4. Responsive Overrides
// -------------------------





@import "_css-overrides.less";
