.checkin-AcknowledgementText{
	font-size:18pt;
	background-color: rgba(98,97,97,0.7);
	color:#ffffff;
	padding:10px;
	margin-bottom:10px;
	text-align:justify;
}
.checkin-AcknowledgementText h1{
	font-size:24pt;
	font-weight:800;
}