.panel {
  .rounded-sm();
  .border-standard();
  box-shadow: none;

  &-heading {
    background-color: #F8F9FA;
    border-bottom: 2px solid #e6e6e6;
    padding: 24px;
  }

  &-body {
    padding: 24px;
  }

  .rock-modal & {
    overflow: visible;
  }
}
