.rocktheme-community {

    .str-chat__send-to-channel-checkbox__field label {
        margin-bottom: 0;
    }

    .str-chat__send-to-channel-checkbox__container {
        margin-inline: var(--message-composer-margin-inline);
        margin-right: var(--message-composer-margin-right);
        padding: 0;
    }

    .rock-message-composer {
        display: flex;
        flex-direction: column;
        margin-inline: var(--message-composer-margin-inline);
        margin-bottom: var(--message-composer-margin-bottom);
        margin-right: var(--message-composer-margin-right);
        background-color: var(--message-composer-bg);
        border: var(--message-composer-border);
        border-radius: var(--message-composer-border-radius);

        >.rock-message-composer-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .rock-message-composer-actions {
                display: flex;
                gap: var(--message-composer-footer-gap);
                align-items: center;
                padding: var(--message-composer-footer-padding);

                .rock-message-composer-action {
                    background: none;
                    border: none;
                    cursor: pointer;
                    height: var(--message-composer-action-size);
                    width: var(--message-composer-action-size);
                    color: var(--message-composer-action-color);
                    border-radius: var(--message-composer-action-radius);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        background: var(--message-composer-action-hover-bg);
                    }

                    >i {
                        color: var(--message-composer-action-color);
                        font-size: var(--message-composer-action-font-size);
                    }
                }
            }

            .rock-message-composer-send {
                padding: var(--message-composer-send-padding);

                .rock-send-button {
                    background: none;
                    border: none;
                    height: var(--message-composer-action-size);
                    width: var(--message-composer-action-size);
                    color: var(--message-composer-send-color);
                    border-radius: var(--message-composer-action-radius);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    >i {
                        font-size: var(--message-composer-action-font-size);
                    }

                    &:disabled {
                        color: var(--message-composer-send-disabled-color);
                        cursor: not-allowed;
                    }

                    &:not(:disabled):hover {
                        background-color: var(--message-composer-send-hover-bg);
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .rock-message-composer-input {
        background-color: var(--message-composer-input-bg);
        border-radius: var(--message-composer-input-radius);
        display: flex;
        flex-direction: column;
        gap: var(--message-composer-footer-gap);
        align-items: center;
    }

    .rock-community-message-input {
        display: flex;
        flex-direction: column;
        gap: var(--message-composer-gap);

        div[role="presentation"] {
            width: 100%;
        }
    }

    .rock-message-input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-width: 0;
        max-height: 100%;
        background-color: var(--message-composer-input-bg);
        padding: var(--message-composer-input-padding);
        border-radius: var(--message-composer-input-radius);

        .str-chat__message-textarea {
            resize: none;
            border: none;
            color: var(--message-composer-textarea-color);
            background-color: var(--message-composer-textarea-bg);
            box-shadow: none;
            background: none;
            outline: none;
            font-size: var(--message-composer-textarea-font-size);
            width: 100%;
            border-radius: var(--message-composer-textarea-radius);
        }

        .str-chat__suggestion-list-container {
            bottom: 72px; // There should hopefully be a better way to do this
        }
    }

    .str-chat__attachment-preview-list {
        .str-chat__attachment-preview-file {
            background-color: var(--message-composer-input-bg);
        }
    }

    .str-chat__file-input-container {
        width: var(--message-composer-action-size);
        height: var(--message-composer-action-size);
        display: flex;
    }

    /* bc todo: look into what this is for */
    .str-chat__list-notifications {
        display: none;
    }
}