<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.OData" version="0.1.0-alpha-120815" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.0.2" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.0.1" targetFramework="net45" />
  <package id="Microsoft.Data.OData.Contrib" version="5.0.1.50813" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.8" targetFramework="net45" />
  <package id="System.Spatial" version="5.0.2" targetFramework="net45" />
</packages>