<?xml version="1.0"?>
<configuration>

	<connectionStrings configSource="web.ConnectionStrings.config" />

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</modules>
	</system.webServer>

	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
		<!--<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceAuthorization serviceAuthorizationManagerType="Rock.REST.AuthorizationManager, Rock.Framework"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>-->
		<standardEndpoints>
			<webHttpEndpoint>
				<standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
			</webHttpEndpoint>
		</standardEndpoints>
		<bindings>
			<basicHttpBinding>
				<binding name="DOTSGeoCoderSoap"/>
				<binding name="USAddressVerificationSoap"/>
				<binding name="BasicHttpBinding_IService">
					<security mode="Transport" />
				</binding>
				<binding name="GeocodingBinding" />
				<binding name="AuthenticationBinding" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://ws.serviceobjects.com/gcr/GeoCoder.asmx" binding="basicHttpBinding" bindingConfiguration="DOTSGeoCoderSoap" contract="ServiceObjects.GeoCoder.DOTSGeoCoderSoap" name="DOTSGeoCoderSoap"/>
			<endpoint address="http://ws.strikeiron.com/StrikeIron/USAddressVerification5/USAddressVerification" binding="basicHttpBinding" bindingConfiguration="USAddressVerificationSoap" contract="StrikeIron.USAddressVerification.USAddressVerificationSoap" name="USAddressVerificationSoap"/>
			<endpoint address="https://addresscheck.melissadata.net/v2/SOAP/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="MelissaData.Service.IService" name="BasicHttpBinding_IService" />
			<endpoint address="http://mmezl.teleatlas.com/axis/services/Geocoding" binding="basicHttpBinding" bindingConfiguration="GeocodingBinding" contract="TeleAtlas.Geocoding.GeocodingPortType" name="Geocoding" />
			<endpoint address="http://mmezl.teleatlas.com/axis/services/Authentication" binding="basicHttpBinding" bindingConfiguration="AuthenticationBinding" contract="TeleAtlas.Authentication.AuthenticationPortType" name="Authentication" />
		</client>
	</system.serviceModel>

</configuration>
