<?xml version="1.0"?>
<connectionStrings>

    <add name="RockContext" connectionString="Data Source=localhost;Initial Catalog=RockChMS_dev; User Id=RockUser; password=rRUZew6tpsYBhXuZ;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
    <add name="B_RockContext" connectionString="Data Source=24.249.179.215;Initial Catalog=RockChMS; User Id=RockUser; password=rRUZew6tpsYBhXuZ;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
    <add name="A_RockContext" connectionString="Data Source=ccvsql;Initial Catalog=RockChMS; User Id=RockUser; password=UgJi4uIcaHrWA9VmdHIOBt;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>

</connectionStrings>
