
// LABELS (ROCK COMPONENT) (Additional label difinitions that extend)


// =============================================================
// Table of Content
//  + ALTERNATIVE Style
// =============================================================


// ======================== ALTERNATIVE STYLE ========================

.label {
  --label-height: 26px; // Hardcode to match the height of the .btn-xs for better alignment when placed beside each other, such as in panel headers
  --label-padding-vertical: var(--spacing-tiny); // Hardcode to match the padding of the .btn-xs for better alignment when placed beside each other, such as in panel headers
  display: inline-flex; // Use inline-flex to allow for proper alignment and wrapping of label content
  height: var(--label-height);
  align-items: center; // Vertically center the content if it wraps to multiple lines
  padding: var(--label-padding-vertical) var(--spacing-xsmall);
  gap: var(--spacing-tiny); // Add a gap between the label content and any nested elements (like icons)
  line-height: calc(var(--label-height) - var(--label-padding-vertical) * 2); // Adjust line-height to vertically center the text within the label

  a {
    color: inherit; // allow for links in labels
  }

}

.label-outline {
  color: var(--color-interface-strong);
  background-color: transparent;
  border: 1px solid var(--color-interface-medium);
}

.label-campus {
  color:            var(--color-info-strong);
  border: 1px solid var(--color-info-strong);
}

.label-type {
  color:            var(--color-interface-strong);
  background-color: var(--color-interface-soft);
}

.label-communicationstatus-approved {
  background-color: var(--color-success-strong);
}

.label-communicationstatus-denied {
  background-color: var(--color-danger-strong);
}

.label-communicationstatus-draft {
  background-color: var(--color-interface-medium);
}

.label-communicationstatus-submitted {
  background-color: var(--color-warning-strong);
}

.label-communicationstatus-transient {
  background-color: var(--color-interface-medium);
}
// ====================== END ALTERNATIVE STYLE ======================

// ====================== ADDITIONAL LABEL STYLES ======================

span.label {

    > a {
      line-height: 16px; // hardcode to align text vertically within the span
    }

  }

// =====================================================================
