.public-profile-edit {
  .panel {
    background-color: transparent;
  }
}

.profile-card {
  .border-standard();
  .rounded-md();
  overflow: hidden;

  &-img {
    height: 210px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &-body {
    background-color: @venture-white;
    padding: 80px 24px 24px;

    @media (min-width: 992px) {
      padding: 24px;
    }
  }

  &-user {
    position: relative;
    width: 100%;
    text-align: center;

    @media (min-width: 992px) {
      width: unset;
      text-align: left;
    }

    img {
      width: 158px;
      height: 158px;
      .rounded-md();
      border: 4px solid #fff;
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      object-fit: cover;
      object-position: center;

      @media (min-width: 992px) {
        transform: translateX(0);
        bottom: 0;
        left: 0;
      }
    }

    &-info {
      margin-top: 4px;

      @media (min-width: 992px) {
        margin-left: 174px;
        margin-top: 0;
      }
    }
  }

  &-title {
    font-weight: 700;
    font-size: 24px;
  }

  &-actions {
    width: 100%;
    text-align: center;
    margin-top: 60px;

    @media (min-width: 992px) {
      width: unset;
      text-align: right;
      margin-top: 0;
    }
  }
}
