/* FontAwesome Start */
@fa-theme-weight: 900;
@fa-theme-weight-name: 'solid';
@fa-edition: 'pro';

@import "../../../Styles/FontAwesome/_rock-fa-mixins.less";
/* FontAwesome End */
@bg-color: #f5f5f5;
@text-color: #666666;
@link-color: #23353d;
@header-text-color: #666666;
