/*
Standard Colors
Page Background: #001c2f
Medium Gray: #d0d0d0

*/

body {
    background-color: #001c2f;
    margin: 0 auto;
	text-align: center;
	font-family: Cambria, Georgia, Serif;
	font-size: 14px;
	background: #0d2c44;
    color: #c6c6c6;   
    overflow-x: hidden;
}

body.dialog {
    background: #d0cece;
}

a {
    color: #406b89;
    text-decoration: none;
}

/* Theme Form Tweaks */
textarea:focus, input:not([type=radio]) {
    font-family: Cambria, Georgia, Serif;
    font-size: 14px;
	border: 1px solid #a3a2a2;
	background: #dad8d8;
}

textarea:focus, input:not([type=radio]):focus {
	background: #e6e6e6;
	border: 1px solid #a3a2a2;
}

input.image {
    background: none;   
}

input.button, .button {
    font-family: Cambria, Georgia, Serif;
    background-color: #bebebe;
    color: #3f3f3f;
    padding: 2px 10px;
    background: #cbcbcb; 
    background: -moz-linear-gradient(top, #cbcbcb 0%, #a3a2a2 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cbcbcb), color-stop(100%,#a3a2a2)); 
    background: -webkit-linear-gradient(top, #cbcbcb 0%,#a3a2a2 100%); 
    background: -o-linear-gradient(top, #cbcbcb 0%,#a3a2a2 100%); 
    background: -ms-linear-gradient(top, #cbcbcb 0%,#a3a2a2 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbcbcb', endColorstr='#a3a2a2',GradientType=0 ); 
    background: linear-gradient(top, #cbcbcb 0%,#a3a2a2 100%);
}

/*
// Theme Specific Styles 
*/

/* Column Shared */
#page-wrapper {
    margin: 0 auto;
    width: 95%;
    min-width: 960px;
    max-width: 1216px;
    text-align: left;
}


.column {
    position: relative;
    display: table-cell;
}

/* equal height columns 
   http://www.cssnewbie.com/equalheights-jquery-plugin/
*/

.content-right {
    max-width: 240px;
    float: right;
    height: inherit;
}

.content-center {
    
}

.content-left {
    max-width: 240px;
    float: left;
}

.content-left > .block-instance {
    margin-right: 12px;   
}

.content-right > .block-instance {
    margin-left: 12px;   
}

#lower-content {
    background-color: #d0cece;
    color: #595959;
    margin: 0 -2000px;
    padding: 0 2000px;
}

#lower-content .content-right {
    background-color: #d6d6d6;
    border-left: 1px solid #afadad;
    border-right: 1px solid #afadad;   
}

/* header styles */

#page-wrapper > header {
    color: #949494;   
}

#page-wrapper > header a {
    color: #949494;
}

#page-wrapper > header > h1 {
    padding-left: -9999px;
	background: url('../Assets/Images/logo.png') no-repeat;
	width: 113px;
	height: 47px;
	display: block;
	text-indent: -9999px;
	margin-top: 24px;
	float: left;
}

#page-wrapper > header > .user {
    float: right;
    margin-top: 50px;
    margin-right: 6px;    
}

/* Page Navigation Styles */

#page-wrapper > header > nav {
    clear: both;
	float: left; 
	margin-top: 0;
	width: 100%;
	height: 42px;
	background-color: #001b30;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 20px rgba(251, 251, 251, 0.06);
    -webkit-box-shadow: 0 0 20px rgba(251, 251, 251, 0.06);
    box-shadow: 0 0 20px rgba(251, 251, 251, 0.06);
    border: 1px solid #1e3b51;
}

#page-wrapper > header > nav ul {
    list-style: none outside none;
}

#page-wrapper > header > nav > ul > li {
    float: left;
	position: relative;
	padding: 11px 30px 0 30px;
	border-right: 1px solid #012a4b;
	border-left: 1px solid #000d16;
	border-style: solid;
	height: 30px;
}

#page-wrapper > header > nav > ul > li:first-child {
    padding-left: 30px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: none;
}

#page-wrapper > header > nav > ul > li:first-child:hover {
    border: 1px solid #929292;
    margin-left: -1px;
}

#page-wrapper > header > nav ul li a {
    color: #cfcdcd;
    font-size: 14px;
}

#page-wrapper > header > nav ul li .nav-menu {
	left: -999em;
	position: absolute;
	background-color: #d0d0d0;
	margin-top: 3px;
	padding: 0 24px 24px 24px;
	border-color: #929292;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	color: #595959;
	-moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px #000;
    box-shadow: 5px 5px 5px #000;

	text-align: left;
}

#page-wrapper > header > nav ul li .nav-menu .width-1column {
	width: 350px;
}

#page-wrapper > header > nav ul li .nav-menu header > strong {
	font-size: 16px;
	font-weight: normal;
	display: block;
	padding: 16px 0 6px 0;
	border-bottom: 1px solid #3c3c3c;
	margin-bottom: 6px;
	color: #3c3c3c;
}

#page-wrapper > header > nav ul li .nav-menu header > img {
	float: left;
	padding-right: 12px;
}
					
#page-wrapper > header > nav ul li .nav-menu ul {
	list-style-type: square;
	width: 100%;
	padding-left: 2em;
	margin-top: 6px;
}

#page-wrapper > header > nav ul li .nav-menu ul	li {
	width: 140px;
	float: left;
	margin-right: 10px;
}
								
#page-wrapper > header > nav ul li .nav-menu ul	li a {
	text-decoration: none;
	color: #03375c;
}

#page-wrapper > header > nav ul li .nav-menu ul	li a:hover {
	color: #054d80;
}

#page-wrapper > header > nav > ul > li:hover {
	z-index: 2;
	border-color: #929292;
	background-color: #d0d0d0;
}					

#page-wrapper > header > nav > ul > li:hover a {
	color: #3c3c3c;
}

#page-wrapper > header > nav ul > li:hover .nav-menu {
	left: -1px;
	top: 27px;
}

/* bands */
#upper-band {
    background-color: #09263d;
    border-top: 1px solid #213443;
    margin: 12px -2000px 0 -2000px;
    padding: 0 2000px;
    min-height: 8px;
}

#lower-band {
    background-color: #929292;
    --border-bottom: 1px solid #797979;
    margin: 0 -2000px;
    padding: 0 2000px;
}

/* footer */

footer {
    background-color: #000e18;
    margin: 0 -2000px;
    padding: 0 2000px;   
    border-bottom: 1px solid #213443;
    min-height: 250px;
    display: block;
    padding-top: 12px;
}

#footer-base p, #footer-base p a {
	font-size: 12px;
}			

#footer-base p#footer-confidential {
	float: left;
	width: 570px;
}

#footer-base p#footer-license {
	float: right;
	width: 300px;
	margin-top: 10px;
}

#footer-base p#footer-license img {
	vertical-align: bottom;
}


/* Splash */
#splash {
    margin: 0 auto;
    width: 500px;
}

#splash > h1 {
    padding-left: -9999px;
	background: url('../Assets/Images/logo-lg.png') no-repeat;
	width: 181px;
	height: 69px;
	display: block;
	text-indent: -9999px;
	margin-top: 115px;
	float: left;
	margin-bottom: 6px;
	color: #595959;
}

#splash > #content {
    background-color: #d0cece;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 20px #000;
    -webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;
	width: 484px;
	min-height: 254px;
	clear: both;
	padding: 16px;
	text-align: left;
	color: #595959;
}

#splash .login legend {
    font-weight: normal;
    font-size: 250%;   
}


/* Dialog */
#dialog {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #d0cece;
    text-align: left;
    padding: 20px;
}

#dialog h1 {
	font-family: Cambria, Georgia, Serif;
	font-size: 20px;
	color: #595959;
}

#dialog > #content {
    width: 100%;
    height: 100%;
	color: #595959;
}

#cboxOverlay {
    background: url("../Assets/Images/colorbox-background.png") repeat scroll 0 0 transparent;
}

#cboxContent {
    background-color: #d0cece;
}

.data-grid .header {
    background: #0d2c44 none; 
    color: #c6c6c6;
}
