<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.16.1" targetFramework="net472" />
  <package id="Antlr" version="3.5.0.2" targetFramework="net472" />
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net472" />
  <package id="AWSSDK.Core" version="3.3.25.4" targetFramework="net472" />
  <package id="AWSSDK.S3" version="3.3.21.1" targetFramework="net472" />
  <package id="Azure.Core" version="1.15.0" targetFramework="net472" />
  <package id="Azure.Storage.Blobs" version="12.9.0" targetFramework="net472" />
  <package id="Azure.Storage.Common" version="12.8.0" targetFramework="net472" />
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net472" />
  <package id="CacheManager.Core" version="1.2.0" targetFramework="net472" />
  <package id="CacheManager.SystemRuntimeCaching" version="1.2.0" targetFramework="net472" />
  <package id="CommonMark.NET" version="0.13.2" targetFramework="net472" />
  <package id="CronExpressionDescriptor" version="2.16.0" targetFramework="net472" />
  <package id="CS-Script" version="3.13.2.0" targetFramework="net472" />
  <package id="CS-Script.bin" version="3.13.2.0" targetFramework="net472" />
  <package id="DDay.iCal" version="1.0.2.575" targetFramework="net472" />
  <package id="dotless" version="1.5.2" targetFramework="net472" />
  <package id="EF6.TagWith" version="1.2.1" targetFramework="net472" />
  <package id="Elasticsearch.Net" version="7.17.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="FirebaseAdmin" version="2.4.0" targetFramework="net472" />
  <package id="Google.Api.Gax" version="3.2.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Rest" version="3.2.0" targetFramework="net472" />
  <package id="Google.Apis" version="1.49.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.49.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.49.0" targetFramework="net472" />
  <package id="Google.Apis.Storage.v1" version="1.42.0.1744" targetFramework="net472" />
  <package id="Google.Cloud.Storage.V1" version="2.4.0" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.19.4" targetFramework="net472" />
  <package id="GreenPipes" version="2.1.4" targetFramework="net472" />
  <package id="Grpc" version="2.44.0" targetFramework="net472" />
  <package id="Grpc.Core" version="2.44.0" targetFramework="net472" />
  <package id="Grpc.Core.Api" version="2.44.0" targetFramework="net472" />
  <package id="Hashids.net" version="1.4.1" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net472" />
  <package id="Ical.Net" version="4.2.0" targetFramework="net472" />
  <package id="IdentityModel" version="3.0.0" targetFramework="net472" />
  <package id="ImageResizer" version="4.0.5" targetFramework="net472" />
  <package id="jQuery" version="1.12.4" targetFramework="net472" />
  <package id="Lucene.Net" version="4.8.0-beta00005" targetFramework="net472" />
  <package id="Lucene.Net.Analysis.Common" version="4.8.0-beta00005" targetFramework="net472" />
  <package id="Lucene.Net.Expressions" version="4.8.0-beta00005" targetFramework="net472" />
  <package id="Lucene.Net.Queries" version="4.8.0-beta00005" targetFramework="net472" />
  <package id="Lucene.Net.QueryParser" version="4.8.0-beta00005" targetFramework="net472" />
  <package id="Lucene.Net.Sandbox" version="4.8.0-beta00005" targetFramework="net472" />
  <package id="MassTransit" version="5.5.2" targetFramework="net472" />
  <package id="MassTransit.AzureServiceBus" version="5.5.2" targetFramework="net472" />
  <package id="MassTransit.RabbitMQ" version="5.5.2" targetFramework="net472" />
  <package id="MessagePack" version="1.7.3.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Connections.Abstractions" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Connections.Client" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Connections.Common" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.Azure.SignalR.AspNet" version="1.0.14" targetFramework="net472" />
  <package id="Microsoft.Azure.SignalR.Protocols" version="1.0.14" targetFramework="net472" />
  <package id="Microsoft.Azure.Storage.Blob" version="11.1.3" targetFramework="net472" />
  <package id="Microsoft.Azure.Storage.Common" version="11.1.3" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.TraceSource" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.21.301221612" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.5.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="5.5.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols" version="5.2.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="5.2.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.5.0" targetFramework="net472" />
  <package id="Microsoft.Net.Http.Headers" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Security" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="11.0.2" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net472" />
  <package id="NEST" version="7.17.0" targetFramework="net472" />
  <package id="NEST.JsonNetSerializer" version="7.17.0" targetFramework="net472" />
  <package id="NewId" version="3.0.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Newtonsoft.Json.Bson" version="1.0.1" targetFramework="net472" />
  <package id="NodaTime" version="3.0.0" targetFramework="net472" />
  <package id="NuGet.Core" version="2.11.1" targetFramework="net472" />
  <package id="OpenTelemetry" version="1.5.1" targetFramework="net472" />
  <package id="OpenTelemetry.Api" version="1.5.1" targetFramework="net472" />
  <package id="OpenTelemetry.Api.ProviderBuilderExtensions" version="1.5.1" targetFramework="net472" />
  <package id="OpenTelemetry.Exporter.OpenTelemetryProtocol" version="1.5.1" targetFramework="net472" />
  <package id="OpenXmlPowerTools" version="4.2" targetFramework="net472" />
  <package id="OpenXMLSDK-MOT" version="2.6.0.0" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="PreMailer.Net" version="2.4.0" targetFramework="net472" />
  <package id="PuppeteerSharp" version="7.0.0" targetFramework="net472" />
  <package id="QRCoder" version="1.3.9" targetFramework="net472" />
  <package id="RabbitMQ.Client" version="5.1.2" targetFramework="net472" />
  <package id="RestSharp" version="105.2.3" targetFramework="net472" />
  <package id="Serilog" version="2.8.0" targetFramework="net472" />
  <package id="Serilog.Formatting.Compact" version="1.1.0" targetFramework="net472" />
  <package id="Serilog.Formatting.Compact.Reader" version="1.0.3" targetFramework="net472" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net472" />
  <package id="SharpZipLib" version="1.3.3" targetFramework="net472" />
  <package id="SixLabors.Fonts" version="1.0.0-beta18" targetFramework="net472" />
  <package id="SixLabors.ImageSharp" version="2.1.3" targetFramework="net472" />
  <package id="SixLabors.ImageSharp.Drawing" version="1.0.0-beta15" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.5.0" targetFramework="net472" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net472" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="4.5.0" targetFramework="net472" />
  <package id="System.IO.UnmanagedMemoryStream" version="4.3.0" targetFramework="net472" />
  <package id="System.Linq.Dynamic.Core" version="1.2.9" targetFramework="net472" />
  <package id="System.Management.Automation" version="6.1.7601.17515" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Memory.Data" version="1.0.2" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="5.0.1" targetFramework="net472" />
  <package id="System.Text.Json" version="5.0.2" targetFramework="net472" />
  <package id="System.Threading.Channels" version="4.5.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="TimeZoneConverter" version="6.0.1" targetFramework="net472" />
  <package id="Twilio" version="5.1.0" targetFramework="net472" />
  <package id="UAParser" version="3.1.44" targetFramework="net472" />
  <package id="WebGrease" version="1.5.2" targetFramework="net472" />
  <package id="WindowsAzure.ServiceBus" version="4.1.11" targetFramework="net472" />
  <package id="xxHashSharp" version="1.0.0" targetFramework="net472" />
  <package id="Z.EntityFramework.Plus.EF6" version="1.8.6" targetFramework="net472" />
</packages>