<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="7.0429" targetFramework="net45" />
  <package id="DDay.iCal" version="1.0.2.575" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="Facebook" version="6.4.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.3" targetFramework="net45" />
  <package id="NuGet.Core" version="2.2.0" targetFramework="net45" />
  <package id="T4Scaffolding" version="1.0.5" />
  <package id="WebGrease" version="1.1.0" targetFramework="net45" />
</packages>