<?xml version="1.0"?>
<connectionStrings>
	<add name="RockContextx" connectionString="Data Source=localhost;Initial Catalog=RockChMS; User Id=RockUser; password=dw72Y13a7Qgm;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
	<add name="RockContext" connectionString="Data Source=24.249.179.215;Initial Catalog=RockChMS; User Id=RockUser; password=dw72Y13a7Qgm;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
	<add name="RockContextxx" connectionString="Data Source=ccvsql;Initial Catalog=RockChMS; User Id=RockUser; password=UgJi4uIcaHrWA9VmdHIOBt;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
    <add name="RockContextxxx" connectionString="Data Source=VSERVER01.CYTANIUM.COM;Initial Catalog=sparkdevcms; User Id=sparkdev; password=sparkdev4web;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
</connectionStrings>
