<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DOTSGeoCoderSoap" />
        <binding name="USAddressVerificationSoap" />
        <binding name="BasicHttpBinding_IService">
          <security mode="Transport" />
        </binding>
        <binding name="AuthenticationBinding" />
        <binding name="GeocodingBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ws.serviceobjects.com/gcr/GeoCoder.asmx" binding="basicHttpBinding" bindingConfiguration="DOTSGeoCoderSoap" contract="ServiceObjects.GeoCoder.DOTSGeoCoderSoap" name="DOTSGeoCoderSoap" />
      <endpoint address="http://ws.strikeiron.com/StrikeIron/USAddressVerification5/USAddressVerification" binding="basicHttpBinding" bindingConfiguration="USAddressVerificationSoap" contract="StrikeIron.USAddressVerification.USAddressVerificationSoap" name="USAddressVerificationSoap" />
      <endpoint address="https://addresscheck.melissadata.net/v2/SOAP/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="MelissaData.AddressCheck.IService" name="BasicHttpBinding_IService" />
      <endpoint address="http://mmezl.teleatlas.com/axis/services/Authentication" binding="basicHttpBinding" bindingConfiguration="AuthenticationBinding" contract="TeleAtlas.Authentication.AuthenticationPortType" name="Authentication" />
      <endpoint address="http://mmezl.teleatlas.com/axis/services/Geocoding" binding="basicHttpBinding" bindingConfiguration="GeocodingBinding" contract="TeleAtlas.Geocoding.GeocodingPortType" name="Geocoding" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.60623.0" newVersion="4.1.60623.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>