{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "react-hot-loader/babel",
    "react-require",
    "transform-flow-strip-types",
    "transform-async-to-generator",
    "lodash"
  ]
}
