#file types
_ReSharper.*
*.resharper
*.DS_Store
*.tlog
*.vsp
*.psess
*.v11.suo
*.user
*.suo
#*.Framework.XML

#specific files
RockJobSchedulerService.Xml
web.[Cc]onnectionStrings.config
desktop.ini
Rock.XML
pageviews.csv
RockLogster.csv
Quartz.xml
StyleCop.Cache

#specific folders
[Oo]bj/
RockWeb/Cache/*
RockWeb/App_Data/PackageStaging
com.centralaz.*/bin/Debug/*.*
com.centralaz.*/bin/Debug/*/*.*
com.centralaz.*/bin/Release/*.*
com.centralaz.*/bin/Release/*/*.*
/scaffolding.config
*.sln.GhostDoc.xml
