<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Explicitly put nuget.org before Spark Development Network so that NuGet package manager put nuget.org first (otherwise updates won't show correctly)-->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Spark Development Network" value="https://www.myget.org/F/rockdev/api/v3/index.json" />
  </packageSources>
</configuration>
