.site-container {
    background: white;
    margin: 0 auto;
    max-width: 1750px;
    position: relative;
    overflow: hidden;
    @media (min-width: 1600px) {
        box-shadow: 0 0 10px rgba(0,0,0,.1);
    }
}

.container--wide {
    @media (min-width: 1500px) {
        width: 1450px;
    }
}
