/* Zone Config */
.zone-instance {
    position: relative;
    display: inline;
}

.zone-instance.can-configure.outline {
    overflow: hidden;
    border: 1px solid green;
    margin: -1px; 
    min-height: 60px;  
    min-width: 180px;
    display: block;
    width: 100%;
    clear: both;
}

.zone-configuration {
    z-index: 300;
    position: absolute;
    bottom: 5px;
    right: 0;
    height: 20px;
    background: rgba(210,210,210,.8);
    border-color: rgba(150,150,150,.8);
    border-width: 1px;
    border-style: solid;
    color: #7f7f7f;
    padding: 5px 12px 0 12px;
    font-size: 80%;
    overflow: auto;
    width: auto;
    float: right;
}

.zone-configuration p {
    float: left;   
}

/* Module Config */
.block-instance {
    position: relative;
    display: inline;
}

.block-instance.can-configure.outline {
    overflow: hidden;
    border: 1px solid red;
    margin: -1px; 
    min-height: 60px;  
    min-width: 180px;
    display: block;
}

.block-configuration {
    z-index: 300;
    position: absolute;
    bottom: 5px;
    right: 0;
    height: 20px;
    background: rgba(210,210,210,.8);
    border-color: rgba(150,150,150,.8);
    border-width: 1px;
    border-style: solid;
    color: #7f7f7f;
    padding: 5px 12px 0 12px;
    font-size: 80%;
    overflow: auto;
    width: auto;
    float: right;
}

/* Context Help */
a.tooltip {
	background-image: url('../Assets/Icons/help.png');
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
	margin-left: 6px;
}

a.tooltip span {
    display:none; 
    padding:2px 3px; 
    margin-left:8px; 
    width:130px;
    margin: -10px 0 0 20px;
}

a.tooltip:hover span {
    display:inline; 
    position:absolute; 
    background:#ffffff; 
    border:1px solid #cccccc; 
    color:#6c6c6c;
}

/* Admin Footer */
#cms-admin-footer {
    bottom: 0;
    height: 20px;
    z-index: 300;
    position: fixed;
    right: 0;
    margin-right: 25px;
    background: rgba(210,210,210,.8);
    border-color: rgba(150,150,150,.8);
    border-width: 1px 1px 0 1px;
    border-style: solid;
    color: #454545;
    padding: 5px 12px 0 12px;
    font-size: 80%;
}

#cms-admin-footer .button-bar {
    margin-left: 12px;
    float: right;
}

/* Icon Buttons */

.icon-button {
    margin-left: 12px;
    float: left;
    height: 16px;
    width: 16px;
    display: block;
	text-indent: -9999px;
	padding-left: -9999px;
	cursor: pointer;
}

.icon-button:first-child {
    margin-left: 0;
}

a.icon-button.block-config {
	background-image: url('../Assets/Icons/module-config.png');
}

a.icon-button.properties {
    background-image: url('../Assets/Icons/properties.png');
}

a.icon-button.page-child-pages {
	background-image: url('../Assets/Icons/subpages.png');
}

a.icon-button.page-zones {  
	background-image: url('../Assets/Icons/page-zones.png');
}

a.icon-button.edit {
	background-image: url('../Assets/Icons/edit.png');
}

a.icon-button.zone-blocks {
	background-image: url('../Assets/Icons/zone-blocks.png');
}

a.icon-button.security {
	background-image: url('../Assets/Icons/security.png');
}

a.icon-button.page-security {
	background-image: url('../Assets/Icons/page-security.png');
}

a.icon-button.delete {
	background-image: url('../Assets/Icons/delete.png');
}

a.icon-button.block-move {
	background-image: url('../Assets/Icons/block-move.png');
}

/* HTML Content */
.html-content, .html-content-block, .html-content-block > div {
	display: inline;
    position: relative;
}

.html-content-editor-panel .editor-buttons {
    float: right;
    margin-top: 6px;
}

/* CK Editor Tweaks */
span.cke_skin_kama {
    padding: 0 !important;   
}

/* Blog Posts */
article.blog-post {
   display: block;
   margin-bottom: 24px;
}

article.blog-post header {
    display: block;
    margin-bottom: 12px;   
}

article.blog-post header ul {
    display: inline;
}

article.blog-post header ul li {
    display: inline;
}

article.blog-post header ul li:after {
    content: ", ";
}

article.blog-post header ul li:last-child:after {
    content: "";
}

.post-comments h1 {
    margin-bottom: 24px;   
}

.post-comments article {
    display: block; 
    margin-bottom: 24px;  
}

.post-comments article header {
    font-size: 10px;
    display: block;
    margin-bottom: 6px;
}

.post-comments article header img {
    float: left;
    margin-right: 12px;
}

.post-comments article header strong {
    display: block; 
    font-weight: bold;
    font-size: 16px; 
}

/* Login Block Style */
.login .classic-login {
    float: left;   
}

.login .facebook-login {
    float: right;  
    margin: -255px 15px 0 0; 
}

.login .forgot {
    margin-top: 12px;
    display: block;   
}

.login .remember {
    padding-left: .5em;
    
}

/* Dialog Styling */
#dialog 
{
    overflow: hidden;    
}

#dialog #modal-scroll-container 
{
    width: 530px;
}

#dialog #modal-scroll-container .viewport 
{
    height: 380px;
    width: 515px; 
}

#dialog #modal-scroll-container .overview 
{
    width: 460px; 
}

#dialog #modal-scroll-container .thumb 
{
    margin-left: -6px;
    background-color: #ccc;
}

#dialog #modal-scroll-container .track
{
    width: 0;
    background-color: #ddd;
    border-radius: 4px;   
}

#dialog #modal-scroll-container .end
{
    background-color: #ccc; 
}




