/*
    Used to manage styles related to reusable components / widgets.
    
    1. Panel - used to visually link related content items together
    2. Banner - used as the primary heading for a page or large section
    3. Treeview - additional styles for the kendo treeview
    4. Widget - reusable box wrapper for content
    5. Tooltip - styles for the tooltipster module
    6. Pagelist - used to list child pages; currently used in admin screens
    7. Tags - component that allows you to tag entities

*/

// 1. Panel
// -------------------------

.panel
{
    border-radius: @panel-border-radius;
    border: @panel-border-size solid @panel-border-color;
    background-color: @panel-background;
    padding: @panel-padding;
}

.panel h4
{
    margin: 48px 0 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid darken(@panel-background, 8%);
}

// 2. Panel
// -------------------------

.banner
{
    color: @banner-font-color;
    background-color: @banner-background;
    border-radius: @banner-border-radius;
    border: @banner-border-size solid @banner-border-color;
    font-weight: @banner-font-weight;
    font-size: @banner-font-size;
    padding: @banner-padding;
    margin: 0 0 12px;
}

// 3. Treeview
// -------------------------

.treeview {
	margin-bottom: 20px;
}

.treeview-actions {
	padding-right: 12px;
	margin-bottom: 12px;
}

#treeview-content { /* TODO this will need to be a class, but the javascript needs to be modified. */
	clear: both;
	overflow: hidden;
}

/*
.k-treeview span.k-in,
.k-treeview .k-in.k-state-hover, 
.k-treeview .k-in.k-state-selected, 
.k-treeview .k-in.k-state-focused
{
     padding: 2px 10px;
}

.k-state-selected,
.k-state-selected.k-state-focused, 
.k-state-selected.k-state-highlight { 
	background-color: @site-accentbold-color;
	border: 1px solid transparent;
	color: @site-accentbold-inverse-color;
	box-shadow: none !important;
}

.k-state-hover {

	border: 1px solid transparent;
	color: #000 !important;
	background: #b8b9b9 !important; 
	background: -moz-linear-gradient(top, #b8b9b9 0%, #b8b9b9 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8b9b9), color-stop(100%,#b8b9b9)) !important;
	background: -webkit-linear-gradient(top, #b8b9b9 0%,#b8b9b9 100%) !important;
	background: -o-linear-gradient(top, #b8b9b9 0%,#b8b9b9 100%) !important;
	background: -ms-linear-gradient(top, #b8b9b9 0%,#b8b9b9 100%) !important;
	background: linear-gradient(to bottom, #b8b9b9 0%,#b8b9b9 100%) !important;
    background-color: @site-accentlight-color;
}

.k-state-hover {
	background-color: @rockHoverBackgroundColor !important;
}

    */

// 4. Widget
// -------------------------

.widget
{
    background-color: @site-background-color;
    border: 1px solid darken(@site-accentlight-color, @const-border-darken-amt);
    border-radius: @site-border-radius;
    margin-bottom: 2em;
}

.widget h3 
{
    font-size: 15px;  
    line-height: 15px;
    margin: 0 0 6px 0;
}

.widget header
{
    background-color: @widget-header-background;
    color: @widget-header-text-color;
    padding: 6px 15px;
    border-radius: @site-border-radius @site-border-radius 0 0 ;
}

.filter-toogle > span {
    vertical-align: 20%;
}

.widget.widget-dark > header
{
	background-color: @widget-header-background-dark;
    color: @widget-header-text-color-dark;
}

.widget.widget-dark > header .btn-action {
	//.make-gradient(lighten(@rockHeaderDarkBackground, 3%));
}


.widget-content
{
    padding: 20px 15px 15px;
}

// 5. Tooltip
// -------------------------

.tooltipster-base {
	border-radius: @site-border-radius; 
	border: 1px solid #cccccc;
	background: @tooltip-background;
	color:  @site-text-color;
}

.tooltipster-content header img,
.tooltipster-content header div
{
    float: left;
}

.tooltipster-content header div
{
    margin: 4px 0 0 8px;
    font-weight: @font-semibold-weight;
}

.tooltipster-content header small
{
    display: block;
    font-weight: normal;
    font-family: @font-light-weight;
}

.tooltipster-content header:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.tooltipster-content header
{
    background-color: @tooltip-header-background;
    margin: -8px -10px 8px -10px;
    padding: 8px 10px;
    border-radius: @site-border-radius; 
    color: @tooltip-header-text-color;
}

.tooltipster-content strong
{
    font-weight: @font-semibold-weight;
    font-weight: normal;
}


// 6. Pagelist
// -------------------------

.page-list-as-blocks ul 
{
    list-style: none;
}

.page-list-as-blocks li 
{
    background-color: @pagelist-background;
    border-radius: @site-border-radius;
    border: 1px solid #bbb;
    float: left;
    margin: 0 2% 12px 2%;
    width: 20%;
    overflow: hidden;
    color: @pagelist-text-color;
    text-align: center;
}

    
.page-list-as-blocks li a 
{
    display: block;
    color: inherit;
    height: 65px;
    padding: 12px;
}

.page-list-as-blocks li a:hover
{
    text-decoration: none;
}

.page-list-as-blocks h4
{
    margin-top: 0;
    font-size: 14px;
    margin: 6px 0;
}

// 7. Tags
// ------------------------

div.tagsinput  
{ 
    width:100%; 
    overflow-y: auto;
    float: left;
    margin-left: 12px;
}

div.tagsinput span.tag 
{
	float: left;
	height: 18px;
	line-height: 18px;
	position: relative;
	font-size: 11px;
	margin-bottom: 6px;
}

div.tagsinput span.tag 
{
	margin-left: 20px;
	padding: 0 10px 0 12px;
	background: @tag-background;
	color: @tag-text-color;
	text-decoration: none;	
	border-bottom-right-radius: @tag-border-radius;
	border-top-right-radius: @tag-border-radius;	
} 

div.tagsinput span.tag:before /* tag point */
{
	content: "";
	float: left;
	position: absolute;
	top: 0;
	left: -9px;
	width: 0;
	height: 0;
	border-color: transparent @tag-background transparent transparent;
	border-style: solid;
	border-width: 9px 9px 9px 0;		
}

div.tagsinput span.tag:after /* tag dot */
{
	content: "";
	position: absolute;
	top: 7px;
	left: 0;
	float: left;
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background: @tag-dot-color;
	box-shadow: -1px -1px 2px @tag-background;
}


div.tagsinput span.tag.personal 
{
    background: @tag-background-alt;
}

div.tagsinput span.tag.personal:before
{
    border-color: transparent @tag-background-alt transparent transparent;
}

div.tagsinput span.tag a 
{ 
    font-weight: bold; 
    color: @tag-text-color; 
    text-decoration:none; 
    font-size: 11px;
    opacity: 0;
    -moz-transition: opacity 0.3s ease 0s, color 0.3s ease 0s, background 0.3s ease 0s;
    -webkit-transition: opacity 0.3s ease 0s, color 0.3s ease 0s, background 0.3s ease 0s; 
}

div.tagsinput span.tag:hover a 
{ 
    opacity: 1;
}

div.tagsinput input 
{ 
    width:80px; 
    margin:0px; 
    font-family: helvetica; 
    font-size: 13px; 
    border:1px solid transparent; 
    padding: 0px; 
    background: transparent; 
    color: #8f8f8f !important; /* todo say what */ 
    outline: 0px; 
    box-shadow: none;
    margin: -2px 0 0 10px;
}

div.tagsinput div 
{ 
    display:block; 
    float: left; 
}

.tags_clear 
{ 
    clear: both; 
    width: 100%; 
    height: 0px; 
}

.not_valid 
{
    background: #FBD8DB !important; 
    color: #90111A !important;
}

.tag-wrap .ui-autocomplete 
{
    position: absolute; 
    left: 0px; 
    top: 4px; 
    width: 250px;
    z-index: 90;
    list-style: none;
    padding: 12px;
    background-color: #7c7c7c; /* todo */
    color: #fff;
    border: 1px solid #515151; /* todo */
    width: 300px;
    border-radius: 4px;
    opacity: .9;
    z-index: 9999 !important;
}

.ui-autocomplete li 
{
    margin-bottom: 4px;   
}

.ui-autocomplete li:last-child 
{
    margin-bottom: 0;   
}

.ui-autocomplete a
{
    color: #fff; /* todo */
    text-decoration: none;
    cursor: pointer;
    padding: 4px;
}

.ui-autocomplete a:hover
{
    background: #bbb; /* todo */
    border-radius: 4px;
}
 
