/* 
    Please add developer CSS changes here.  These will be merged into the appropriate CSS file
    and optimized for our styling strategy.
    */

.grid-icon-cell.delete a.aspNetDisabled {
    cursor:default;
    color:#CCCCCC;
}

/* A definition for these classes exist in the default bootstrap, however their "disabled" color does not look disabled with our theme. */
.btn-primary.disabled, .btn-primary[disabled] {
    color: #fff;
    background-color: #CCC;
    cursor: not-allowed;
}

/* This is for the theme... if you want the bg color below the footer to be the same color */
html
{
 background-color: #3a3a3a;   
}