.grid-table 
{
    width: inherit;
}

.grid-table thead {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../Assets/Images/Grid/header-bg.gif") repeat-x scroll center top transparent;
    border-color: -moz-use-text-color gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-style: none solid;
    border-width: 0 1px;
    color: black;
    height: 24px;
    line-height: 24px;
}

.grid-table td {
    background: none repeat scroll 0 0 white;
    border: 1px solid gray;
    outline: 0 none;
}

.grid-icon-cell
{
	width: 30px;
}

.grid-icon-cell a, .grid-icon-cell span
{
	text-indent: -9999px;
	overflow: hidden;
    display: block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
}

.grid-icon-cell.delete a
{
    background: url("../Assets/Images/Grid/delete.png") ;
}

.grid-icon-cell.bool span.true
{
    background: url("../Assets/Images/Grid/tick.png") ;
}

.grid-footer .actions a
{
	float: right;
	text-indent: -9999px;
	overflow: hidden;
    display: block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
}
.grid-footer .actions a.add
{
    background: url("../Assets/Images/Grid/add.png") ;
}

.grid-footer .paging
{
	width: 50%;
	float:left;
}

.grid-footer .actions
{
	width: 50%;
	float:right;
	text-align: right;
}


