.grid-table
{
    border-collapse: separate;
    border-color: #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    margin-top: 24px;
}

.grid-table caption 
{
    text-align: left;
    font-size: 18px;
    padding: 0 0 12px 0;   
}

.grid-table thead th 
{
    background-color: #ddd;
}

.grid-table thead th:first-child 
{
    border-top-left-radius: 6px;   
}

.grid-table thead th:last-child 
{
    border-top-right-radius: 6px;   
}

.grid-table tbody tr:hover 
{
    background-color: #d6d4d4;
    background-color: rgba(255, 255, 255, 0.04);
    -webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.grid-icon-cell
{
	width: 25px;
	vertical-align: middle;
	padding: 10px 0 9px 10px;
}

.grid-icon-cell a, .grid-icon-cell span
{
	text-indent: -9999px;
	overflow: hidden;
    display: block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
}

.grid-icon-cell.delete a
{
    background: url("../Assets/Images/Grid/delete.png") ;
}

.grid-icon-cell.edit a
{
    background: url("../Assets/Images/Grid/edit.png") ;
}

.grid-icon-cell.security a
{
    background: url("../Assets/Images/Grid/security.png") ;
}

.grid-icon-cell.reorder a
{
    background: url("../Assets/Images/Grid/drag-handle.png") ;
    height: 12px;
    width: 12px;
}

.grid-icon-cell.bool span.true
{
    background: url("../Assets/Images/Grid/tick.png") ;
}

.grid-table tfoot  
{
    height: 48px;  
}

.grid-table tfoot td 
{
    padding: 5px 9px;
    border-radius: 0 0 6px 6px;   
    background-color: #ddd;
}

.grid-table tfoot .grid-actions
{
	height: 20px;
    padding: 0;
	padding-top: 4px;
}

.grid-table tfoot .grid-actions a
{
	float: right;
	text-indent: -9999px;
	overflow: hidden;
    display: block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
}

.grid-table tfoot .grid-actions a.add
{
    background: url("../Assets/Images/Grid/add.png") ;
}

.grid-table tfoot .pagination {
    height: 20px;
    margin: 2px 0;
}

.grid-table tfoot .pagination .page-size
{
    float: right;
    margin: 0;
    width: 200px;
    text-align: right;
}

.grid-table tfoot .pagination .page-size span
{
    float: left;
    font-size: 10px;
}

.grid-table tfoot .pagination .page-size .page-size-options
{
    float: right;
}

.grid-table .pagination a 
{
    line-height: 20px;  
    font-size: 11px; 
    padding: 0 6px;
}

.grid-table .pagination a:hover, .grid-table .pagination .active a {
    background-color: #aab2c2;
    color: #fff;
}

/* TODO detelete next class when david takes out */
.page-status 
{
    display: none;
}


