.grid-table
{
    border-collapse: separate;
    border-radius: 0 0 4px 4px;
    margin-top: 24px;
}

.grid-table caption 
{
    text-align: left;
    font-size: 18px;
    padding: 0 0 12px 0;   
}

.grid-table thead th 
{
    background-color: #ddd;
}

.grid-table thead th:first-child 
{
    border-top-left-radius: 6px;   
}

.grid-table thead th:last-child 
{
    border-top-right-radius: 6px;   
}

.grid-table tbody tr:hover 
{
    background-color: #d6d4d4;
    background-color: rgba(255, 255, 255, 0.04);
    -webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.grid-icon-cell
{
	width: 25px;
	vertical-align: middle;
	padding: 10px 0 9px 10px;
}

.grid-icon-cell a, .grid-icon-cell span
{
	text-indent: -9999px;
	overflow: hidden;
    display: block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
}

.grid-icon-cell.delete a
{
    background: url("../Assets/Images/Grid/delete.png") ;
}

.grid-icon-cell.edit a
{
    background: url("../Assets/Images/Grid/edit.png") ;
}

.grid-icon-cell.security a
{
    background: url("../Assets/Images/Grid/security.png") ;
}

.grid-icon-cell.reorder a
{
    background: url("../Assets/Images/Grid/drag-handle.png") ;
    height: 12px;
    width: 12px;
}

.grid-icon-cell.bool span.true
{
    background: url("../Assets/Images/Grid/tick.png") ;
}

/* Grid Footer */
.grid-table tfoot  
{
    height: 24px;  
}

.grid-table tfoot td 
{
    padding: 5px 9px;
    border-radius: 0 0 6px 6px;   
    background-color: #ddd;
}

.grid-table tfoot .actions 
{
    padding: 0;
}

.grid-table tfoot .grid-actions a
{
	float: right;
	text-indent: -9999px;
	overflow: hidden;
    display: block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
}

.grid-table tfoot .grid-actions a.add
{
    background: url("../Assets/Images/Grid/add.png") ;
}

.grid-table tfoot .paging
{
	width: 50%;
	float:left;
}

.grid-table tfoot .paging select 
{
    width: 60px;
    float: left;
    margin-right: 12px;
    font-size: 11px;
    height: 24px;
}

.grid-table tfoot .paging label 
{
    float: left;
    width: auto;
    font-size: 11px;
    margin-right: 5px;
}

.grid-table tfoot .grid-actions
{
	width: 50%;
	float:right;
	padding-top: 4px;
}


