.data-grid .content {
    background: none repeat scroll 0 0 white;
    border: 1px solid gray;
    outline: 0 none;
    text-align: left;
}

.data-grid-cell-reorder {
	cursor: move;
	background: url("../Assets/Images/Grid/drag-handle.png") no-repeat center center;
}

.data-grid .header {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../Assets/Images/Grid/header-bg.gif") repeat-x scroll center top transparent;
    border-color: -moz-use-text-color gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-style: none solid;
    border-width: 0 1px;
    color: black;
    height: 24px;
    line-height: 24px;
}

.data-grid .header a.icon-button.attributes
{
    margin: 4px 4px 0 0; 
}

.data-grid .header label 
{
    float: none;
    margin: 0 0 0 5px;
    text-align: left;
    width: auto;
}

.data-grid .controls
{
    display:none;
    background:#dddddd;
    padding:3px;
    color:black;
    height:25px
}

.data-grid .header a.add
{
    float:right;
    height: 16px;
    width: 16px;
    display: block;
    background: url("../Assets/Images/Grid/add.png") ;
    margin: 4px 4px 0 0; 
}

.data-grid-cell-delete a
{
    height: 16px;
    width: 16px;
    display: block;
    background: url("../Assets/Images/Grid/delete.png") 
}

.data-grid .pager
