/* bootstrap override */
.table-bordered th, 
.table-bordered td 
{
    border-left: 0;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th
{
    cursor: pointer;
}

/* custom grid items */
.grid-table.table-bordered
{
    border-collapse: separate;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px;
    margin-top: 24px;
    width: 100%;
    border-top-width: 0;
}

.grid-table caption 
{
    text-align: left;
    font-size: 18px;
    padding: 0 0 12px 0;   
}

.table-bordered th, .table-bordered td 
{
    border-color: #ccc;
}

.table-bordered thead th, .table-bordered thead td 
{
    border-color: #777;
}

.grid-table thead th 
{
    background-color: #7c7c7c;
    color: #e3e3e3;
    font-weight: normal;
}

.grid-table thead th.ascending, .grid-table thead th.descending
{
    background-color: #8b8b8b;
    
}

.grid-table thead th.ascending a::before
{
    padding-right: 5px;
	content: "\f0d8";
	font-family: FontAwesome; 
}

.grid-table thead th.descending a::before
{
    padding-right: 5px;
	content: "\f0d7";
	font-family: FontAwesome; 
}

.grid-table thead th a
{
    color: #fff;
    display: block;
    font-weight: bold;
}

.grid-table thead th a:hover
{
    text-decoration: none;
}

.grid-table tbody tr:nth-child(even) 
{
	/* background: #d2d2d2; do we need this with bs table-stripped ? */
}

.grid-icon-cell
{
	width: 25px;
	vertical-align: middle;
	font-family: FontAwesome;
	font-size: 18px;
}

.grid-icon-cell a, .grid-icon-cell span
{
	overflow: hidden;
    display: block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    color: 	#7c7c7c;
    text-decoration: none;
}

.grid-icon-cell a:hover 
{
    text-decoration: none;   
}

.grid-icon-cell.delete a:before
{ 
    content: "\f057";
}

.grid-icon-cell.edit a:before
{
    content: "\f044";
}

.grid-icon-cell.edit-value a:before
{
    content: "\f022";
}

.grid-icon-cell.security a:before
{
    content: "\f023";
}

.grid-icon-cell.reorder a:before
{
    content: "\f0c9";
}

.grid-icon-cell.bool span.true:before
{
    content: "\f00c";
}

/* grid footer classes */

.grid-table tfoot  
{
    height: 48px;
}

.grid-table tfoot td 
{
    background-color: #bbbbbb;
}

.grid-table tfoot tr:last-child td 
{
    border-radius: 0 0 4px 4px;
}

.grid-table tfoot .grid-actions
{
	height: 20px;
    padding: 0;
	padding-top: 4px;
}

.grid-table tfoot .grid-actions a
{
	float: right;
	overflow: hidden;
    display: block;
    width: 16px;
    background-repeat: no-repeat;
    margin-left: 4px;
    background-color: transparent;
    background-image: none;
}

.grid-table tfoot .grid-actions a:hover
{
    text-decoration: none;
}

.grid-table tfoot .pagination {
    height: 20px;
    margin: 2px 0;
}

.grid-table tfoot .pagination .page-navigation 
{
    float: left;
    width: 45%;
}

.grid-table tfoot .pagination .page-size 
{
    float: right;
    width: 45%;
}

.grid-table tfoot .pagination .page-size
{
    float: right;
    margin: 0;
    width: 200px;
    text-align: right;
}

.grid-table tfoot .pagination .page-size span
{
    float: left;
    font-size: 10px;
    color: #fff;
}

.grid-table tfoot .pagination .page-size .page-size-options
{
    float: right;
}

.grid-table tfoot .pagination a 
{
    line-height: 20px;  
    font-size: 11px; 
    padding: 0 6px;
    border-color: #A3A3A3;
    background-color: #bbb;
    color: #fff;
}

.grid-table tfoot .pagination a:hover, .grid-table .pagination .active a {
    background-color: #8e8e8e;
    color: #fff;
}

/* grid filter styles */
.grid-filter 
{
    background-color: #dadada;
    border-radius: 4px 4px 4px 4px;
    border-width: 1px;
    border-color: #c4c4c4;
    border-style: solid;
    margin-top: 24px;
    padding: 0 0 12px 6px;
}

.grid-filter header {
    margin: 0 0 -4px -6px;
    background-color: #c3c3c3;
    border-radius: 4px 4px 0 0;
    padding: 4px;
    cursor: pointer;
    height: 22px;
}

.grid-filter header div {
    float: right;
}

.grid-filter header h3 {
    font-size: 12px;
    margin: 0 2px 0 2px;
    line-height: 16px;
    display: inline;
}

.grid-filter header i {
    color: #7c7c7c;
}

.grid-filter fieldset 
{
    margin-bottom: 0;
}

.grid-filter legend 
{
    font-size: 16px;
    margin-bottom: 0;
}

.grid-filter +  div .grid-table 
{
    margin-top: -12px;   
}

.grid-filter-entry
{
    margin-bottom: 12px;
}

.grid-filter-entry .control-group
{
    width: 350px;
    float: left;
}

 .grid-filter-entry legend + .control-group
 {
     margin-top: 0;
 }

.grid-filter-overview fieldset
{
    margin-bottom: 12px;
}

/* grid light style */
.table-light thead th
{
    background-color: inherit;
    color: #515151;
    font-weight: bold;
}

.table-light tfoot td 
{
    background-color: inherit;
}

.table-light tfoot td .grid-actions a
{
    border-radius: 0;
    border-style: none;
    border-width: 0;
    box-shadow: none;
    border-color: none;
}