.grid-table
{
    border-collapse: separate;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px;
    margin-top: 24px;
    width: 100%;
}

.grid-table caption 
{
    text-align: left;
    font-size: 18px;
    padding: 0 0 12px 0;   
}

.grid-table thead th 
{
    background-color: #7c7c7c;
    color: #e3e3e3;
    font-weight: normal;
}

.grid-table thead th.ascending, .grid-table thead th.descending
{
    background-color: #8b8b8b;
}

.grid-table thead th.ascending a:before
{
    padding-right: 5px;
	content: url(../Assets/Images/Grid/asc.png);
}

.grid-table thead th.descending a:before
{
    padding-right: 5px;
	content: url(../Assets/Images/Grid/desc.png);
}

.grid-table thead th a
{
    color: #fff;
    display: block;
    font-weight: bold;
}

.grid-table thead th a:hover
{
    text-decoration: none;
}

.grid-table tbody tr:hover 
{
    background-color: #d6d4d4;
    background-color: rgba(255, 255, 255, 0.04);
    -webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.grid-icon-cell
{
	width: 25px;
	vertical-align: middle;
	padding: 10px 0 9px 10px;
}

.grid-icon-cell a, .grid-icon-cell span
{
	text-indent: -9999px;
	overflow: hidden;
    display: block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
}

.grid-icon-cell.delete a
{
    background: url("../Assets/Images/Grid/delete.png") ;
}

.grid-icon-cell.edit a
{
    background: url("../Assets/Images/Grid/edit.png") ;
}

.grid-icon-cell.tick a
{
    background: url("../Assets/Images/Grid/tick.png") ;
}

.grid-icon-cell.security a
{
    background: url("../Assets/Images/Grid/security.png") ;
}

.grid-icon-cell.reorder a
{
    background: url("../Assets/Images/Grid/drag-handle.png") ;
    height: 12px;
    width: 12px;
}

.grid-icon-cell.bool span.true
{
    background: url("../Assets/Images/Grid/tick.png") ;
}

/* grid footer classes */

.grid-table tfoot  
{
    height: 48px;
}

.grid-table tfoot td 
{
    background-color: #bbbbbb;
}

.grid-table tfoot tr:last-child td 
{
    border-radius: 0 0 4px 4px;
}

.grid-table tfoot .grid-actions
{
	height: 20px;
    padding: 0;
	padding-top: 4px;
}

.grid-table tfoot .grid-actions a
{
	float: right;
	text-indent: -9999px;
	overflow: hidden;
    display: block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.grid-table tfoot .grid-actions a.add
{
    background: url("../Assets/Images/Grid/add.png") ;
}

.grid-table tfoot .grid-actions a.excel-export
{
    background: url("../Assets/Images/Grid/excel-export.png") ;
}

.grid-table tfoot .pagination {
    height: 20px;
    margin: 2px 0;
}

.grid-table tfoot .pagination .page-navigation 
{
    float: left;
    width: 45%;
}

.grid-table tfoot .pagination .page-size 
{
    float: right;
    width: 45%;
}

.grid-table tfoot .pagination .page-size
{
    float: right;
    margin: 0;
    width: 200px;
    text-align: right;
}

.grid-table tfoot .pagination .page-size span
{
    float: left;
    font-size: 10px;
    color: #fff;
}

.grid-table tfoot .pagination .page-size .page-size-options
{
    float: right;
}

.grid-table tfoot .pagination a 
{
    line-height: 20px;  
    font-size: 11px; 
    padding: 0 6px;
    border-color: #A3A3A3;
    background-color: #bbb;
    color: #fff;
}

.grid-table tfoot .pagination a:hover, .grid-table .pagination .active a {
    background-color: #8e8e8e;
    color: #fff;
}

/* grid filter styles */
.grid-filter 
{
    background-color: #dadada;
    border-radius: 4px 4px 4px 4px;
    border-width: 1px;
    border-color: #c4c4c4;
    border-style: solid;
    padding: 24px 0;
    margin-top: 24px;
}

.grid-filter fieldset 
{
    margin-bottom: 0;
}

.grid-filter legend 
{
    font-size: 16px;
    font-weight: bold;
}

.grid-filter +  div .grid-table 
{
    margin-top: -12px;   
}