/* global (maybe even move this to RockCore.css) */
i[class^="icon-"].photo 
{
    font-size: 12px;
}

div.block-instance.persondetails a  /* class will change when block is finalized */
{
    color: inherit;  
}

a.highlight
{
    padding: 1px 4px;
    display: block;
}
a.highlight:hover 
{
    background: #e7e7e7;
    border-color: #bbb;
    border-radius: 0.6em;
}

/* block global */
#person-profile 
{
    margin-top: -18px;   
}

/* left column */
aside.bio div.content
{
    background-color: #2f2f2f;
    color: #bcbcbc;
    padding: 14% 14% 8% 14%;
}

aside.bio img 
{
    max-width: 98%;
    padding: 2%;
    background: #fff;
}

aside.bio section
{
    margin-top: 12px;
}

aside.bio div span 
{
    display: block;
}

aside.bio em 
{
    font-size: 12px;
    color: #7c7c7c;   
}

span.member-status, span.campus 
{
    float: left;
    width: 50%;
}

span.record-status, span.area
{
    float: right;
    width: 50%;
    text-align: right;
}

span.record-status.inactive 
{
    color: #c45a5a;
}

aside.bio footer 
{
    height: 16px;
    margin: 0 25px;
}

aside.bio footer div.left 
{
    float: left;
    width: 0; 
    height: 0; 
    border-top: 16px solid #000; 
    border-left: 25px solid transparent;
    margin-left: -25px;
}

aside.bio footer div.right 
{
    float: left;
    width: 0; 
    height: 0; 
    border-top: 16px solid #000; 
    border-right: 25px solid transparent;
    margin-right: -25px;
}

aside.bio footer div.center 
{
    height: 16px;
    float: left;
    width: 100%;
    background: rgb(96,96,96);
    background: -moz-linear-gradient(top,  rgba(96,96,96,1) 0%, rgba(214,214,214,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,96,96,1)), color-stop(100%,rgba(214,214,214,1)));
    background: -webkit-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(214,214,214,1) 100%);
    background: -o-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(214,214,214,1) 100%);
    background: -ms-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(214,214,214,1) 100%);
    background: linear-gradient(to bottom,  rgba(96,96,96,1) 0%,rgba(214,214,214,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#d6d6d6',GradientType=0 );
}




/* bio details */

aside.bio-details 
{
    margin: 0 25px;
    background: #d6d6d6;
}

aside.bio-details section
{
    padding: 0 5%;
}

aside.bio-details section:last-child
{
    padding-bottom: 18px;
}

aside.bio-details a 
{
     color: inherit;  
}

aside.bio-details section header
{
    background: #bbb;
    padding: 6px 8px;
    color: #fff;
    font-weight: bold;
    margin: 18px -5%;
}

aside.bio-details section:first-child header
{
    margin-top: 0;
}

aside.bio-details header a 
{
    float: right;
    margin-right: 6px;
    margin-top: 2px;
}

aside.bio-details ul 
{
    list-style: none;
    margin: 0; 
}

aside.bio-details .contact-info ul 
{
    margin-bottom: 18px;
}

aside.bio-details .contact-info ul:last-child
{
    margin-bottom: 0;
}

section.family ul li 
{
    float: left;
    margin-right: 5px;
    margin-bottom: 4px;
    height: 80px;
    width: 70px;
    overflow: hidden;   
}

section.family ul li a
{
    display: block;
    border-radius: 0.6em;
    background: transparent;
    padding: 6px;
}

section.family ul li a:hover
{
    background: #e7e7e7;
}

section.family ul li img 
{
    display: block;
}

section.family ul li h4
{
    color: #515151;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin-right: 2px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;  
}

section.family ul li small 
{
    display: block;
    line-height: 1em;
}

section.family ul li em 
{
    font-size: 11px;
}

aside.bio-details em, aside.bio-details small 
{
    font-size: 12px;
    color: #7c7c7c;   
}

/* contact info */
aside.bio-details section.contact-info header 
{
    margin-top: 0;   
}

aside.bio-details ul.phone-numbers li a i
{
    display: none;
    float: right;
    margin-top: 2px;
}

aside.bio-details ul.emails li 
{
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

aside.bio-details ul.addresses li 
{
    margin-bottom: 12px;
}

aside.bio-details ul.addresses li h4 
{
    font-weight: normal;
    font-size: 11px;
    color: #7c7c7c;
}

aside.bio-details ul.addresses li a.map
{
    float: left;
    width: 18px;
    margin-right: 6px;
}

aside.bio-details ul.addresses li div.address
{
    float: left;
}

aside.bio-details ul.addresses li div.address span
{
    display: block;
}


aside.bio-details ul.addresses li div.address 
{
    float: left;
    margin-right: 12px;   
}

aside.bio-details ul.addresses li div.actions 
{
    display: none;   
}




/* supplemental info */

aside.supplemental-info section 
{
    margin-bottom: 26px;
}

aside.supplemental-info i[class^="icon-"], aside.bio-details i[class^="icon-"]
{
    color: #9e9e9e;
}

aside.supplemental-info header a i[class^="icon-"], aside.bio-details header a i[class^="icon-"]
{
    display: block;
    opacity: 0;
    -moz-transition: opacity 0.3s ease 0s, color 0.3s ease 0s, background 0.3s ease 0s;
    -webkit-transition: opacity 0.3s ease 0s, color 0.3s ease 0s, background 0.3s ease 0s;
}

aside.supplemental-info header:hover a i[class^="icon-"], aside.bio-details header:hover a i[class^="icon-"]
{
    opacity: 1;
    display: block;
}

aside.supplemental-info i[class="icon-user"] 
{
    color: #bbb;
}

aside.supplemental-info span.value 
{
     color: #7c7c7c;
}

aside.supplemental-info section ul 
{
    list-style: none;   
}

aside.supplemental-info em, aside.supplemental-info small 
{
    font-size: 12px;
    color: #7c7c7c;  
}

aside.supplemental-info section header
{
    background: #c3c3c3;
    padding: 6px 8px;
    color: #fff;
    font-weight: bold;
    border-radius: 0.6em;
    border: 1px solid #bbb;
    margin-bottom: 12px;
}


aside.supplemental-info header a 
{
    float: right;
    margin-right: 6px;
    margin-top: 2px;
}



/* Tags */
.row-fluid .span9.tags-notes-attributes 
{
    margin-left: 0 !important; 
    width: 76.5231% !important;  /* technically this should be 76.9231 */ 
}

.person-notes-container
{
    padding-left: 2.5641%;   
}

.note-attribute-column .row-fluid 
{
    --margin-left: 2.5641%;
}

.note-attribute-column .row-fluid.tag-row 
{
    --margin-left: 0;
    --width: 102.5641%
}

div.tag-span 
{
    background-color: #d6d6d6;
    margin-bottom: 24px;
    padding: 12px;
    min-height: 18px !important;
}

.tag-span h2 
{
    float: left;
    font-size: 14px; 
    line-height: 18px;  
}

.tag-wrap 
{
    float: left;
    width: 90%;   
}

/* Notes */
section.person-notes header
{
    margin-bottom: 12px;
}

section.person-notes header  h4
{
    float: left;
    font-size: 24px;
    color: #515151;
    margin-top: 2px;
}

section.person-notes header  a.note-add
{
    float: right;
}

section.person-notes div.person-notes-details
{
    margin-top: -10px;
}

section.person-notes div.note-container-top 
{
    height: 20px;
    box-shadow: 0 10px 10px -10px #e6e6e6 inset; 
    position: relative;
    z-index: 2;
    margin-bottom: -20px;
}

section.person-notes div.note-container-bottom 
{
    height: 20px;
    box-shadow: 0 -10px 10px -10px #e6e6e6 inset; 
    position: absolute;
    z-index: 2;
    margin-top: -35px;
    bottom: 0;
    width: 100%;
}

section.person-notes div.note-container
{
    margin-top: 12px;
}

section.person-notes article
{
    border: 1px solid #bbb;
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 12px;
    background: #d6d6d6;  
}

section.person-notes article:last-child
{
    margin-bottom: 0;
}

section.person-notes article i 
{
    font-size: 28px;
    float: left;
    width: 28px;
    margin: 12px 12px 0 4px;
    color: #9E9E9E; 
}

section.person-notes article .details 
{
    overflow: hidden;
    color: 	#7C7C7C;
}

section.person-notes article .details h5
{
    color: 	#515151;
}

#person-notes.scroll-container 
{
    width: auto;
}

#person-notes.scroll-container .viewport 
{
    width: auto;
    height: 600px;
}

#person-notes.scroll-container .scrollbar 
{
    margin-left: 12px; 
    margin-top: 12px;  
}

/* responsive stuff */
@media (max-width: 1020px) /* remove the padding on the bio-details */
{
    .container-fluid 
    {
        padding-right: 5px;
        padding-left: 5px;   
    }
    
    aside.bio footer
    {
        display: none;    
    }
    
    aside.bio-details 
    {
        margin: 0;    
    }        
}


/* responsive stuff */
@media (max-width: 767px) /* orig 767px */
{
    .container-fluid 
    {
        padding-right: 0;
        padding-left: 0;   
    }
    
    div.bio-wrap 
    {
        background-color: #2f2f2f;
    }
    
    aside.bio 
    {
        float: left;
        width: 30%;
    }
    
    aside.bio footer 
    {
        display: none;
    }
    
    aside.bio-details 
    {
        float: left;
        width: 70%; 
        margin: 0;  
    }
    
    .row-fluid .span9.tags-notes-attributes 
    {
        width: 100% !important;
        margin-top: 12px;   
    }
    
    aside.supplemental-info
    {
        margin-top: 12px;
    }
    
    aside.supplemental-info section 
    {
        width: 45%;
        float: left;
        margin: 0 2.5%;
    }
}