/* Bootstrap Overrides */
fieldset legend 
{
    border: 0;
}

table th, table td 
{
    padding: 8px;
}

.table-bordered {
    border-style: solid;
    border-width: 1px;
}

/* Zone Config */
.zone-instance.outline 
{
    border: 1px solid #909090;;
    min-height: 30px;
    min-width: 120px;
    position: relative;
    margin: 1px;
}

.zone-configuration {
    background: #272727;
    border-color: #565656;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: none;
    height: 26px;
    overflow: hidden;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 25px;
    z-index: 40;
    right:auto;
}

.zone-configuration > a.icon-button {
    float: left;
    margin-left: 4px;
    margin-top: 4px;
}

.zone-configuration-bar {
    color: #7F7F7F;
    display: inline-block;
    float: left;
    left: 24px;
    margin-left: 6px;
    margin-right: -999em;
    margin-top: 4px;
    overflow: hidden;
    position: absolute;
}

.zone-configuration-bar span {
    display: block;
    float: left;
    font-size: 10px;
    padding-right: 20px;
}

.zone-configuration p {
    float: left;   
}

/* Module Config */
.block-configuration {
    background: #272727;
    border-color: #565656;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: none;
    height: 26px;
    overflow: hidden;
    position: absolute;
    top: 2px;
    width: 25px;
    z-index: 40;
}

.block-instance.outline 
{
    min-height: 36px;
    clear: both;
    display: block;
    position: relative;
}

.block-configuration > a.icon-button {
    float: left;
    margin-left: 4px;
    margin-top: 4px;
}

.block-configuration-bar {
    color: #7F7F7F;
    display: inline-block;
    float: left;
    left: 24px;
    margin-left: 6px;
    margin-right: -999em;
    margin-top: 4px;
    overflow: hidden;
    position: absolute;
}

.block-configuration-bar span {
    display: block;
    float: left;
    font-size: 10px;
    padding-right: 20px;
}

/* context help */
a.tooltip {
	background-image: url('../Assets/Icons/help.png');
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
	margin-left: 6px;
}

a.tooltip span {
    display:none; 
    padding:2px 3px; 
    margin-left:8px; 
    width:130px;
    margin: -10px 0 0 20px;
}

a.tooltip:hover span {
    display:inline; 
    position:absolute; 
    background:#ffffff; 
    border:1px solid #cccccc; 
    color:#6c6c6c;
}

/* Admin Footer */
#cms-admin-footer {
    bottom: 0;
    height: 20px;
    z-index: 300;
    position: fixed;
    right: 0;
    margin-right: 25px;
    background: rgba(210,210,210,.8);
    border-color: rgba(150,150,150,.8);
    border-width: 1px 1px 0 1px;
    border-style: solid;
    color: #454545;
    padding: 5px 12px 0 12px;
    font-size: 80%;
}

#cms-admin-footer .button-bar {
    margin-left: 12px;
    float: right;
}

/* Icon Buttons */

.icon-button {
    margin-left: 12px;
    float: left;
    height: 16px;
    width: 16px;
    display: block;
	text-indent: -9999px;
	padding-left: -9999px;
	cursor: pointer;
	background-position: center top;
}

.icon-button:first-child {
    margin-left: 0;
}

a.icon-button.block-config {
	background-image: url('../Assets/Icons/module-config.png');
}

a.icon-button.properties {
    background-image: url('../Assets/Icons/properties.png');
}

a.icon-button.page-child-pages {
	background-image: url('../Assets/Icons/subpages.png');
}

a.icon-button.page-zones {  
	background-image: url('../Assets/Icons/page-zones.png');
}

a.icon-button.edit {
	background-image: url('../Assets/Icons/edit.png');
}

a.icon-button.zone-blocks {
	background-image: url('../Assets/Icons/zone-blocks.png');
}

a.icon-button.security {
	background-image: url('../Assets/Icons/security.png');
}

a.icon-button.page-security {
	background-image: url('../Assets/Icons/page-security.png');
}

a.icon-button.delete {
	background-image: url('../Assets/Icons/delete.png');
}

a.icon-button.block-move {
	background-image: url('../Assets/Icons/block-move.png');
}

a.blockinstance-config {
    background-image: url("../Assets/Icons/block-config.png");
}

a.zoneinstance-config {
    background-image: url("../Assets/Icons/zone-config.png");
}

/* HTML Content */
.html-content, .html-content-block, .html-content-block > div {
	display: inline;
    position: relative;
}

.html-content-editor-panel .editor-buttons {
    float: right;
    margin-top: 6px;
}

.html-content-version-label 
{
    float: left;
    margin: 11px 0 0 16px;
}

.html-content-edit-header 
{
    padding: 6px 16px 0 16px;
}

.html-content-approve 
{
    float: right;
    margin-top: 4px;
}


/* CK Editor Tweaks */
span.cke_skin_kama {
    padding: 0 !important;   
}

/* Blog Posts */
article.blog-post {
   display: block;
   margin-bottom: 24px;
}

article.blog-post header {
    display: block;
    margin-bottom: 12px;   
}

article.blog-post header ul {
    display: inline;
}

article.blog-post header ul li {
    display: inline;
}

article.blog-post header ul li:after {
    content: ", ";
}

article.blog-post header ul li:last-child:after {
    content: "";
}

.post-comments h1 {
    margin-bottom: 24px;   
}

.post-comments article {
    display: block; 
    margin-bottom: 24px;  
}

.post-comments article header {
    font-size: 10px;
    display: block;
    margin-bottom: 6px;
}

.post-comments article header img {
    float: left;
    margin-right: 12px;
}

.post-comments article header strong {
    display: block; 
    font-weight: bold;
    font-size: 16px; 
}

/* Login Block Style */
.login .classic-login {
    float: left;   
}

.login fieldset 
{
    float: left;
}

.login .alt-authentication {
    float: right;  
    margin-top: 100px;
}

.login .form-actions 
{
    clear: both;
}

.login .forgot {
    margin-top: 12px;
    display: block;   
}

.login .remember {
    padding-left: .5em;
    
}

/* Dialog Styling */
#dialog 
{
    overflow: hidden;    
}

#dialog #modal-scroll-container 
{
    width: 720px;
}

#dialog #modal-scroll-container .viewport 
{
    height: 380px;
    width: 690px; 
}

#dialog #modal-scroll-container .overview 
{
    width: 520px; 
}

#dialog #modal-scroll-container .thumb 
{
    margin-left: -6px;
    background-color: #ccc;
}

#dialog #modal-scroll-container .track
{
    width: 0;
    background-color: #ddd;
    border-radius: 4px;  
    border-left: 1px solid #aaa;
    border-right: 1px solid #fff;
    padding: 0; 
}

#dialog #modal-scroll-container .end
{
    background-color: transparent; 
}

#dialog #modal-scroll-container .thumb:hover
{
    background-color: #bbb;
}

.modal-body.iframe
{
    background: url("../assets/images/ajax-loading.png") center center no-repeat;
    /* http://preloaders.net/en/popular */
}

.modal-header {
    min-height: 34px;
}

.modal-header h3 
{
    float: left;
}

/* user registration styles */
.not-me 
{
    margin-left: 21px;
}

/* security dialog styles */
.add-user fieldset, .add-role fieldset 
{
    border: 1px solid #c4c4c4;
    border-radius: 4px;   
    margin-top: 22px;
}

.add-user legend, .add-role legend
{
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
}

.add-user table 
{
    margin-top: 10px;   
}

.add-user table td 
{
    padding: 0 10px 6px;   
}



/* filter search */
div.filter-search {
	border-radius: 4px;
	border: 1px solid #747474;
	width: 300px;
	float: right;
	background-color: #e3e3e4;
	height: 28px;
}

div.filter-search input {
	border: 0;
	border-radius: 0;
	background-color: inherit;
	box-shadow: none;
	float: left;
	margin-left: 6px;
	color: #666a73;
	width: 150px
}

div.filter-search input:hover {
	background-color: inherit;
	color: #8b8d91;
}

div.filter-search input.focused, div.filter-search input:focus {
	background-color: inherit;
	box-shadow: none;
	text-shadow: none;
	color: #8b8d91;
}

div.filter-search input::selection {
	background: #232a37; /* Safari */
}

div.filter-search input::-moz-selection {
	background: #232a37; /* Firefox */
}

div.filter-search .filter {
	color: #666a73;
	width: 110px;
	float: right;
	font-size: 12px;
	padding: 4px 8px 0 0;
}
    
div.filter-search .dropdown dd, div.filter-search .dropdown dt, div.filter-search .dropdown ul, div.filter-search dl.dropdown 
{ 
    margin: 0px; 
    padding: 0px; 
}

div.filter-search dl.dropdown 
{
    background: url("../assets/images/arrow.png") no-repeat scroll right center;
}

div.filter-search .dropdown dd  
{
    position: relative; 
}

div.filter-search .dropdown dt  
{
    display: block; 
    padding-right: 20px;  
    width: 94px;
    text-align: right;
    cursor: pointer;
    font-weight: normal;
    margin-top: 1px;
    font-size: 11px;
}

div.filter-search .dropdown dd ul 
{ 
    background: #e3e3e4;
    border-color: #747474;
    border-width: 0 1px 1px 1px; 
    border-style: solid;
    display: none;
    list-style: none; 
    position: absolute; 
    left: 0px; 
    top: 4px; 
    width: 120px;
    z-index: 90;
    border-radius: 0 0 4px 4px;
    margin-left: -3px;
    padding: 6px 0 12px 0;
}

div.filter-search .dropdown dd ul li
{
    display: block;
    cursor: pointer; 
    color: #666a73;
    font-size: 11px;
    padding: 5px 10px;
}

/* jQuery Scrolling Capability */
.scroll-container 
{ 
    width: 520px; 
    clear: both; 
}

.scroll-container .viewport 
{ 
    width: 500px; 
    height: 200px; 
    overflow: hidden; 
    position: relative; 
}

.scroll-container .overview 
{ 
    list-style: none; 
    position: absolute; 
    left: 0; 
    top: 0; 
}

.scroll-container .thumb .end,
.scroll-container .thumb 
{ 
    background-color: #003D5D; 
}

.scroll-container .scrollbar 
{ 
    position: relative; 
    float: right; 
    width: 15px; 
}

.scroll-container .track 
{ 
    background-color: #D8EEFD; 
    height: 100%; 
    width:2px; 
    position: relative; 
    padding: 0 1px; 
}

.scroll-container .thumb 
{ 
    height: 20px; 
    width: 13px; 
    cursor: pointer; 
    overflow: hidden; 
    position: absolute; 
    top: 0;
    border-radius: 120px;
}

.scroll-container .thumb .end 
{ 
    overflow: hidden; 
    height: 5px; 
    width: 13px; 
}

.scroll-container .disable
{ 
    display: none; 
}
