@import "./components.less";
@import "./page-admin.less";
@import "./grid.less";
@import "./modal.less";


// HTML Overrides
//--------------------------------
dl dt
{
    font-weight: @font-bold-weight;
    margin-top: 16px;
    margin-bottom: 2px;
}

dl dt:first-child {
    margin-top: 0;
}

dl dd {
    margin-left: 0;
}


/* global classes */
.clickable
{
    cursor: pointer;
}


/* context help  */
a.help {
    margin-left: 6px;
    outline: 0;
    color: @rockLightTextColor;
}

a.help:hover { 
    text-decoration:none;
}

// Kendo Overrides
//--------------------------------

.k-state-selected, 
.k-state-selected:link, 
.k-state-selected:visited, 
.k-list > .k-state-selected, 
.k-list > .k-state-highlight, 
.k-panel > .k-state-selected, 
.k-button:active, 
.k-ghost-splitbar-vertical, 
.k-ghost-splitbar-horizontal, 
.k-draghandle.k-state-selected:hover, 
.k-scheduler .k-scheduler-toolbar .k-state-selected, 
.k-marquee-color {
    background-color: @site-primary-color;
    border-color: transparent;
    color: @site-primary-inverse-color;
    box-shadow: 0;
}


/* HTML Content */
/*
.html-content, .html-content-block, .html-content-block > div {
	display: inline;
    position: relative;
}
    */

.html-content-editor-panel .editor-buttons {
    float: right;
    margin-top: 6px;
}

.html-content-version-label 
{
    background-color: lighten(@rockModalHeader, 20%);
    padding: 2px 8px;
    float: left;
    margin: 6px 0 0 16px;
    .border-radius(@baseBorderRadius);
    color: @rockModalHeaderTextColor;
}

.html-content-version-label:hover
{
    color: inherit;
    text-decoration: none;
}

.html-content-edit-header 
{
    padding: 6px 16px 0 16px;
}

.html-content-approve 
{
    float: right;
    margin-top: 4px;
}


/* CK Editor Tweaks */
span.cke_skin_kama
{
    padding: 0 !important;
}



/* user registration styles */
.not-me 
{
    margin-left: 21px;
}







/* jQuery Scrolling Capability */
.scroll-container 
{ 
    width: 520px; 
    clear: both; 
}

.scroll-container .thumb 
{
    margin-left: -6px;
    background-color: #ccc;
}

.scroll-container .thumb:hover
{
    background-color: #bbb;
}


.scroll-container .viewport 
{ 
    width: 500px;  
    overflow: hidden; 
    position: relative; 
    height: 380px;
}

.scroll-container .overview 
{ 
    list-style: none; 
    position: absolute; 
    left: 0; 
    top: 0; 
}


.scroll-container .scrollbar 
{ 
    position: relative; 
    float: right; 
    width: 15px; 
}

.scroll-container .track 
{ 
    height: 100%; 
    position: relative;  
    width: 0;
    background-color: #ddd;
    border-radius: 4px;  
    border-left: 1px solid #aaa;
    border-right: 1px solid #fff;
    padding: 0; 
}

.scroll-container .thumb 
{ 
    height: 20px; 
    width: 13px; 
    cursor: pointer; 
    overflow: hidden; 
    position: absolute; 
    top: 0;
    border-radius: 120px;
}

.scroll-container .thumb .end 
{ 
    overflow: hidden; 
    height: 5px; 
    width: 13px; 
    background-color: transparent; 
}

.scroll-container .disable
{ 
    display: none; 
}







/* error page */
.error-wrap
{
    padding: 12px;
    overflow: hidden;
}

.exception-type
{
    margin-top: 12px;
}

/* data views */
.filter-toogle .switch {
	margin: 0 6px;
}

/* security window */
.security-inherited {
	margin-top: 12px;
}














































/* person detail page -- this needs work... */
/* global (maybe even move this to RockCore.css) */
i[class^="icon-"].photo 
{
    font-size: 12px;
}

a.highlight
{
    padding: 1px 4px;
    display: block;
}
a.highlight:hover 
{
    background: #e7e7e7;
    border-color: #bbb;
    border-radius: 0.6em;
}

/* block global */
#person-profile 
{
    margin-top: -12px;   
}

/* left column */
aside.bio div.content
{
    background-color: #2f2f2f;
    color: #bcbcbc;
    padding: 14% 14% 8% 14%;
}

aside.bio img 
{
    max-width: 98%;
    padding: 2%;
    background: #fff;
}

aside.bio section
{
    margin-top: 12px;
}

aside.bio div span 
{
    display: block;
}

aside.bio em 
{
    font-size: 12px;
    color: #7c7c7c;   
}

span.member-status, span.campus 
{
    float: left;
    width: 50%;
}

span.record-status, span.area
{
    float: right;
    width: 50%;
    text-align: right;
}

span.record-status.inactive 
{
    color: #c45a5a;
}

aside.bio footer 
{
    height: 16px;
    margin: 0 25px;
}

aside.bio footer div.left 
{
    float: left;
    width: 0; 
    height: 0; 
    border-top: 16px solid #000; 
    border-left: 25px solid transparent;
    margin-left: -25px;
}

aside.bio footer div.right 
{
    float: left;
    width: 0; 
    height: 0; 
    border-top: 16px solid #000; 
    border-right: 25px solid transparent;
    margin-right: -25px;
}

aside.bio footer div.center 
{
    height: 16px;
    float: left;
    width: 100%;
    background: rgb(96,96,96);
    background: -moz-linear-gradient(top,  rgba(96,96,96,1) 0%, rgba(214,214,214,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,96,96,1)), color-stop(100%,rgba(214,214,214,1)));
    background: -webkit-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(214,214,214,1) 100%);
    background: -o-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(214,214,214,1) 100%);
    background: -ms-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(214,214,214,1) 100%);
    background: linear-gradient(to bottom,  rgba(96,96,96,1) 0%,rgba(214,214,214,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#d6d6d6',GradientType=0 );
}




/* bio details */

aside.bio-details 
{
    margin: 0 25px;
    background: #d6d6d6;
}

aside.bio-details section
{
    padding: 0 5%;
}

aside.bio-details section:last-child
{
    padding-bottom: 18px;
}

aside.bio-details a 
{
     color: inherit;  
}

aside.bio-details section header
{
    background: #bbb;
    padding: 6px 8px;
    color: #fff;
    font-weight: bold;
    margin: 18px -5%;
}

aside.bio-details section:first-child header
{
    margin-top: 0;
}

aside.bio-details header a 
{
    float: right;
    margin-right: 6px;
    margin-top: 2px;
}

aside.bio-details ul 
{
    list-style: none;
    margin: 0; 
    clear: both;
}

aside.bio-details .contact-info ul 
{
    margin-bottom: 18px;
}

aside.bio-details .contact-info ul:last-child
{
    margin-bottom: 0;
}

aside.bio-details ul.group-members li 
{
    float: left;
    margin-right: 5px;
    margin-bottom: 4px;
    height: 80px;
    width: 70px;
    overflow: hidden;   
}

aside.bio-details ul.group-members li a
{
    display: block;
    border-radius: 0.6em;
    background: transparent;
    padding: 6px;
}

aside.bio-details ul.group-members li a:hover
{
    background: #e7e7e7;
}

aside.bio-details ul.group-members li img 
{
    display: block;
}

aside.bio-details ul.group-members li h4
{
    color: #515151;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin-right: 2px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;  
}

aside.bio-details ul.group-members li small 
{
    display: block;
    line-height: 1em;
}

aside.bio-details ul.group-members li em 
{
    font-size: 11px;
}

aside.bio-details em, aside.bio-details small
{
    font-size: 12px;
    color: #7c7c7c;   
}

/* contact info */
aside.bio-details section.contact-info header 
{
    margin-top: 0;   
}

aside.bio-details ul.phone-numbers li a i
{
    display: none;
    float: right;
    margin-top: 2px;
}

aside.bio-details ul.emails li 
{
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

aside.bio-details ul.addresses li 
{
    margin-bottom: 12px;
}

aside.bio-details ul.addresses li h4 
{
    font-weight: normal;
    font-size: 11px;
    color: #7c7c7c;
}

aside.bio-details ul.addresses li a.map
{
    float: left;
    width: 18px;
    margin-right: 6px;
}

aside.bio-details ul.addresses li div.address
{
    float: left;
}

aside.bio-details ul.addresses li div.address span
{
    display: block;
}


aside.bio-details ul.addresses li div.address 
{
    float: left;
    margin-right: 12px;   
}

aside.bio-details ul.addresses li div.actions 
{
    display: none;   
}




/* supplemental info */

aside.supplemental-info section 
{
    margin-bottom: 26px;
}

aside.supplemental-info i[class^="icon-"], aside.bio-details i[class^="icon-"]
{
    color: #9e9e9e;
    font-size: 20px;
}

aside.supplemental-info header a i[class^="icon-"], aside.bio-details header a i[class^="icon-"]
{
    display: block;
    opacity: 0;
    -moz-transition: opacity 0.3s ease 0s, color 0.3s ease 0s, background 0.3s ease 0s;
    -webkit-transition: opacity 0.3s ease 0s, color 0.3s ease 0s, background 0.3s ease 0s;
}

aside.supplemental-info header:hover a i[class^="icon-"], aside.bio-details header:hover a i[class^="icon-"]
{
    opacity: 1;
    display: block;
    text-decoration: none;
}

aside.supplemental-info i[class="icon-user"] 
{
    color: #bbb;
}

aside.supplemental-info span.value 
{
     color: #7c7c7c;
}

aside.supplemental-info section ul 
{
    list-style: none;   
}

aside.supplemental-info em, aside.supplemental-info small 
{
    font-size: 12px;
    color: #7c7c7c;  
}

aside.supplemental-info section header
{
    background: #c3c3c3;
    padding: 6px 8px;
    color: #fff;
    font-weight: bold;
    border-radius: 0.6em;
    border: 1px solid #bbb;
    margin-bottom: 12px;
}


aside.supplemental-info header a 
{
    float: right;
    margin-right: 6px;
    margin-top: 2px;
}



/* Tags */
.row-fluid .span9.tags-notes-attributes 
{
    margin-left: 0 !important; 
    width: 76.5231% !important;  /* technically this should be 76.9231 */ 
}

div.tag-span 
{
    background-color: #d6d6d6;
    margin-bottom: 24px;
    padding: 12px;
    min-height: 18px !important;
}

.tag-span h2 
{
    float: left;
    font-size: 14px; 
    line-height: 18px;
    margin-top: 0;
}

.tag-wrap 
{
    float: left;
    width: 90%;   
}

/* Notes */
.person-notes
{
    padding-left: 2.5641%;
}

.person-notes header h4
{
    float: left;
    font-size: 24px;
    color: #515151;
    margin-top: 2px;
}

.person-notes header  a.note-add
{
    float: right;
}

.person-notes .note-entry
{
    padding: 2.5%;
    border-radius: 4px;
    color: #7c7c7c;
    margin-bottom: 12px;
    background-color: #d6d6d6;
}

.person-notes .note-entry textarea
{
    width: 95%;
}

.person-notes-details
{
    clear: both;
}

.note-container
{
   width: 100%;
}

.person-notes article
{
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 12px;
}

.person-notes article.users-note //todo need to add a new color for this
{
    background: #bbb;  
}

.person-notes article:last-child
{
    margin-bottom: 0;
}

.person-notes article.alert-info
{
    background-color: @rockCalloutColor;
    color: @rockSecondaryTextColor;
    border-color: darken(@rockCalloutColor, 15%);
}

.person-notes article i 
{
    font-size: 28px;
    float: left;
    width: 28px;
    margin: 0 12px 0 4px; 
}

.person-notes article .detail
{
    overflow: hidden;
}

.person-notes article .detail strong
{
    display: block;
}

// notes scroll container classes

#person-notes.scroll-container 
{
    width: auto;
}

.person-notes.scroll-container .viewport 
{
    height: 600px;
}

#person-notes.scroll-container .scrollbar 
{
    margin-left: 12px; 
}

.person-notes article.personal
{
    background: #bbb;  
}

.person-notes article.personal i
{
    color: #7c7c7c;
}



/* responsive stuff */
@media (max-width: 1020px) /* remove the padding on the bio-details */
{
    .container-fluid 
    {
        padding-right: 5px;
        padding-left: 5px;   
    }
    
    aside.bio footer
    {
        display: none;    
    }
    
    aside.bio-details 
    {
        margin: 0;    
    }        
}


/* responsive stuff */
@media (max-width: 767px) /* orig 767px */
{
    .container-fluid 
    {
        padding-right: 0;
        padding-left: 0;   
    }
    
    div.bio-wrap 
    {
        background-color: #2f2f2f;
    }
    
    aside.bio 
    {
        float: left;
        width: 30%;
    }
    
    aside.bio footer 
    {
        display: none;
    }
    
    aside.bio-details 
    {
        float: left;
        width: 70%; 
        margin: 0;  
    }
    
    .row-fluid .span9.tags-notes-attributes 
    {
        width: 100% !important;
        margin-top: 12px;   
    }
    
    aside.supplemental-info
    {
        margin-top: 12px;
    }
    
    aside.supplemental-info section 
    {
        width: 45%;
        float: left;
        margin: 0 2.5%;
    }
}

/* responsive tweaks */
@media (max-width: 767px) {
	.page-list-as-blocks li 
	{
		width: 28%;
	}
}