/*
    By default nested-list plugin displays nested ordered lists like "3.2.2.1".
    This changes it to display the same as just "1".
*/
.cdx-nested-list--ordered > .cdx-nested-list__item::before {
    content: counter(item) ". ";
}

/*
    Adjust the default color of the raw editor to be more Rock like.
*/

textarea.ce-rawtool__textarea {
    background-color: #f8f8f8;
    color: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}
