.page-background {
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/about-us/hero-about-us-leadership.jpg");
    background-color: #FFFFFF;
}

/* Mobile Background Image */
@media screen and (max-width: 500px) {
    .page-background {
        background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/about-us/hero-mobile-about-us-leadership.jpg");
    }
}

#ternavbar-bg {
    display: none;
}

h3 {
    padding-top: 20px;
    padding-left: 50px;
}

#h3 {
    padding-top: 100px;
}

.leaders {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

.leader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    align-items: center;
    padding-bottom: 40px;
}

.leader img {
    width: 150px;
    height: 150px;
}

/* Mobile Styling */
@media screen and (max-width: 500px) {
    h3 {
        padding: 20px 0;
        margin: 0;
        font-size: 27px;
        text-align: center;
    }
    .leaders {
        padding-top: 0;
    }
    
    .leader {
        width: 100%;
    }

    .leader img {
        width: 200px;
        height: 200px;
    }
}
