:root {
  --text-color: @text-color;
  --link-color: @link-color;
  --body-background: @body-bg;
  --panel-bg: @panel-bg;
  --panel-heading-bg: @panel-heading-bg;
  --focus-state-border: 1px solid @brand-primary;
  --focus-state-shadow: 0 0 0 3px fade(@brand-primary, 60%);
  --state-danger-bg: @state-danger-bg;
  --state-danger-border: @state-danger-border;
  --state-danger-text: @state-danger-text;
  --hero-overlay-color: @hero-overlay-color;
  --secondary-hero-overlay-color: @secondary-hero-overlay-color;
  --breakpoint-xs: 0;
  --breakpoint-sm: @screen-xs;
  --breakpoint-md: @screen-sm;
  --breakpoint-lg: @screen-md;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: @font-family-base;
  --font-family-monospace: @font-family-monospace;
}
