.rocktheme-community {
    --str-chat__border-radius-circle: 4px;
    --str-chat__background-color: var(--color-interface-softest);
    --str-chat__channel-list-background-color: var(--color-interface-softer);
    --str-chat__surface-color: var(--color-interface-soft);
    --str-chat__border-color: var(--color-interface-soft);
    --sidebar-width: 220px;
    --sidebar-md-width: 20rem;
    --sidebar-lg-width: 21rem;
    --str-chat__message-reactions-options-box-shadow: none;
    --str-chat__message-reactions-options-border-radius: 4px;
}