/*
     
     Rock ChMS Park Check-in Theme
     Crafted by: Spark Development Network

 */


// Fonts
// -------------------------

// regular (weight 'normal' aka 400)
@font-face {
    font-family: 'OpenSans';
    src: url('../../../../../../Assets/Fonts/OpenSans/OpenSans-Regular-webfont.eot');
    src: url('../../../../../../Assets/Fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../../../../Assets/Fonts/OpenSans/OpenSans-Regular-webfont.woff') format('woff'),
         url('../../../../../../Assets/Fonts/OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../../../../../../Assets/Fonts/OpenSans/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}

// light (weight 300)
@font-face {
    font-family: 'OpenSans';
    src: url('../../../../../../Assets/Fonts/OpenSans/OpenSans-Light-webfont.eot');
    src: url('../../../../../../Assets/Fonts/OpenSans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../../../../Assets/Fonts/OpenSans/OpenSans-Light-webfont.woff') format('woff'),
         url('../../../../../../Assets/Fonts/OpenSans/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../../../../../../Assets/Fonts/OpenSans/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

// semi-bold (weight 600)
@font-face {
    font-family: 'OpenSans';
    src: url('../../../../../../Assets/Fonts/OpenSans/OpenSans-Semibold-webfont.eot');
    src: url('../../../../../../Assets/Fonts/OpenSans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../../../../Assets/Fonts/OpenSans/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../../../../../../Assets/Fonts/OpenSans/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../../../../../../Assets/Fonts/OpenSans/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

// bold (weight 700)
@font-face {
    font-family: 'OpenSans';
    src: url('../../../../../../Assets/Fonts/OpenSans/OpenSans-Bold-webfont.eot');
    src: url('../../../../../../Assets/Fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../../../../Assets/Fonts/OpenSans/OpenSans-Bold-webfont.woff') format('woff'),
         url('../../../../../../Assets/Fonts/OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../../../../../../Assets/Fonts/OpenSans/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: 700;
    font-style: normal;
}

//
// Variables
// --------------------------------------------------

// Font Variables
@font-family:           'OpenSans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-light-weight:     300;
@font-bold-weight:      700;
@font-semibold-weight:  600;

@checkin-text-color:    #fff;

@header-text-color:     #fff;
@header-font-weight:    @font-bold-weight;

@subheader-text-color:      #bde2ef;
@subheader-font-weight:     @font-light-weight;

// Button Styles
@checkin-button-text-color:     #7f7e7e;
@checkin-button-border-color:   #9d9c9c;
@checkin-button-background:     #fff;
@checkin-button-text-weight:    @font-bold-weight;
@checkin-button-alttext-weight: @font-light-weight;

@checkin-button-primary-text-color:    #fff;
@checkin-button-primary-background:    #e3151a;
@checkin-button-primary-border-color:   #b00a0e;

@checkin-button-disabled-text-color: @checkin-button-primary-text-color;
@checkin-button-disabled-background: darken(@checkin-button-primary-background, 20%);



//
// Mix-ins
// --------------------------------------------------
.checkinBackground () {
  	background: #85b11c url('../Assets/Images/background.jpg') top right no-repeat fixed;
}

.checkinBackgroundRetina()
{
    background-image: url('../Assets/Images/background@2x.jpg');
    background-size: 1348px 1024px; // should be 1/2 of the actual
}

//
// Imports
// --------------------------------------------------

@import "_bootstrap-variables.less";
@import "../../../Css/Bootstrap/mixins.less";
@import "../../../Css/_checkin-core.less";


//
// Custom Overrides
// --------------------------------------------------

.checkin-count h3,
.checkin-count li {
	color: #4c4c4b;
}

.btn
{
    text-shadow: 1px 1px rgba(255, 255, 255, 0.75);
}

.btn-primary
{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
