// Opacity
.o-00,
.o-0 {
  opacity: 0 !important;
}

.o-10 {
  opacity: .1 !important;
}

.o-20 {
  opacity: .2 !important;
}

.o-30 {
  opacity: .3 !important;
}

.o-40 {
  opacity: .4 !important;
}

.o-50 {
  opacity: .5 !important;
}

.o-60 {
  opacity: .6 !important;
}

.o-70 {
  opacity: .7 !important;
}

.o-80 {
  opacity: .8 !important;
}

.o-90 {
  opacity: .9 !important;
}

.o-100 {
  opacity: 1 !important;
}
