<!-- Copy this file, removing the .example extension. Then fill in your connection details to get started with Rock. -->
<connectionStrings>
  <!--
    Normally a connection string should not be provided. This will cause the
    test system to use the docker container system for the test database.
  <add
    name="RockContext"
    connectionString="
      Data Source=localhost;
      Initial Catalog=database_name;
      User Id=sql_user_id;
      password=sql_user_password;
      MultipleActiveResultSets=true"
    providerName="System.Data.SqlClient"/>
  -->
</connectionStrings>