@media print {
  @page {
    margin: .25in;

    size: 8.5in 11in; /* width height */
  }

  html,
  body {
    padding: 0;
    margin: 0;
  }

  body {
    background: #fff;
  }

  // default sidebar navs on most pages
  .nav-sub {
    display: none;
  }

  // admin bar on bottom right
  #cms-admin-footer {
    display: none;
  }

  // don't show URLs after links
  a[href]::after {
    content: "" !important;
  }

  .page-wrapper,
  #content-wrapper {
    padding: 0 !important;
    margin: 0 !important;
  }

  // remove the breadcrumbs
  .picker-lg .picker-label > b,
  .breadcrumb,
  footer {
    display: none;
  }

  // style panels
  .panel {
    border-color: #ddd;
    box-shadow: none;

    .panel-heading {
      background: #fff;
      border: 0;
    }
  }


  .panel .panel-heading .panel-title {
    font-size: 16px !important;
  }

  .grid-panel {
    .table {
      .print-first-col,
      td:first-child,
      th:first-child {
        border-left: 0 !important;
      }

      .print-last-col,
      th:last-child,
      td:last-child {
        border-right: 0 !important;
      }
    }
  }

  // style the grid
  .table {
    overflow: hidden;
  }

  .table td,
  .table > thead > tr > th {
    font-size: 12px;
  }

  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tbody > tr > td {
    padding: 6px;
  }

  .table .grid-columncommand,
  .table .grid-select-field {
    display: none !important;
  }
}
