:root {
  --text-color: @text-color;
  --link-color: @link-color;
  --body-background: @body-bg;
  --modal-header-background: @modal-header-bg;
  --modal-footer-background: @modal-footer-bg;
  --modal-backdrop-background: @modal-backdrop-bg;
  --navbarside-background-color: @navbarside-background-color;
  --navbarside-color: @navbarside-color;
  --navbarside-sub-bg: @navbarside-sub-bg;
  --navbar-top-color: @navbar-top-color;
  --pagetitle-background: @pagetitle-bg;
  --panel-bg: @panel-bg;
  --panel-heading-bg: @panel-heading-bg;
  --focus-state-border: 1px solid @brand-primary;
  --focus-state-shadow: @input-focus-box-shadow;
  --slider-height: 10px;
  --slider-bg: #eee;
  --slider-progress-bg: @brand-primary;
  --slider-handle-height: 27px;
  --slider-handle-bg: @white;
  --slider-handle-bg--hover: @white;
  --slider-handle-border-color: #aaa;
  --slider-handle-border-color--hover: #aaa;
  --wizard-item-bar-color: @wizard-item-bar-color;
  --wizard-item-icon-color: @wizard-item-icon-color;
  --wizard-item-icon-bg: @wizard-item-icon-bg;
  --state-danger-bg: @state-danger-bg;
  --state-danger-border: @state-danger-border;
  --state-danger-text: @state-danger-text;
}
