.pushNav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 100;
  overflow: scroll;
  background: #282828;
  transition: ease-in-out 0.6s;
  color: #fff;
  font-size: 16px; }
  .pushNav a {
    color: #8BC540; }

.pushNavIsOpen {
  overflow: hidden;
  height: 100%; }

.pushNav_indent * .pushNav {
  background-color: #8BC540;
  width: 100%; }

.js-topPushNav.isOpen,
.pushNav_level.isOpen {
  left: 0; }

.closeLevel, .openLevel {
  cursor: pointer; }

.pushNav_level {
  background: rgba(237, 92, 92, 0.9); }
  .pushNav_level *, .pushNav_level a {
    color: #fff; }

.openLevel,
.closeLevel,
.pushNav a,
.pushNav_level-label {
  padding: 16px 0;
  border-bottom: 1px solid white;
  display: block;
  text-indent: 16px;
  transition: background 0.4s ease-in-out; }
  .openLevel:hover,
  .closeLevel:hover,
  .pushNav a:hover,
  .pushNav_level-label:hover {
    background: rgba(255, 255, 255, 0.5); }

.pushNav_level-label:hover {
  background: transparent; }

.pushNav_level-label.hdg {
  color: white; }

.closeLevel {
  font-size: 16px; }

.wrapper {
  max-width: 615px;
  margin: 160px auto;
  min-height: 600px;
  color: white; }

.hdg {
  font-size: 18px;
  color: #8BC540; }

.hdg_lg {
  font-size: 36px; }

.bdcpy {
  font-size: 18px;
  line-height: 1.6;
  margin: 12px 0;
  display: block; }
  .bdcpy a {
    color: #8BC540; }

a {
  font-size: 16px; }

.screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out; }

.pushNavIsOpen .screen {
  height: 100%;
  opacity: 1; }

.footer {
  background: rgba(255, 255, 255, 0.5);
  padding: 20px 0;
  text-align: center; }
  .footer .bdcpy_sm {
    color: white; }
  .footer a {
    color: #8BC540; }
