/* fonts */
@font-face {
    font-family: DINWebCondensedBlack;
    src: url('../assets/fonts/DINWeb-CondBlack.eot');
}
@font-face {
    font-family: DINWebCondensedBlack;
    src: url('../assets/fonts/DINWeb-CondBlack.woff') format('woff'), url('../fonts/DINWeb-CondBlack.ttf') format('truetype');
}

@font-face {
    font-family: DINWebCondensedBold;
    src: url('../assets/fonts/DINWeb-CondBold.eot');
}
@font-face {
    font-family: DINWebCondensedBold;
    src: url('../assets/fonts/DINWeb-CondBold.woff') format('woff'), url('../fonts/DINWeb-CondBold.ttf') format('truetype');
}

@font-face {
    font-family: DINWebCondensedMedium;
    src: url('../assets/fonts/DINWeb-CondMedium.eot');
}
@font-face {
    font-family: DINWebCondensedMedium;
    src: url('../assets/fonts/DINWeb-CondMedium.woff') format('woff'), url('../fonts/DINWeb-CondMedium.ttf') format('truetype');
}

@font-face {
    font-family: DINWebCondensedRegular;
    src: url('../assets/fonts/DINWeb-CondRegular.eot');
}
@font-face {
    font-family: DINWebCondensedRegular;
    src: url('../assets/fonts/DINWeb-CondRegular.woff') format('woff'), url('../fonts/DINWeb-CondRegular.ttf') format('truetype');
}

@font-face {
    font-family: DINWebCondensed;
    src: url('../assets/fonts/DINWeb-Cond.eot');
}
@font-face {
    font-family: DINWebCondensed;
    src: url('../assets/fonts/DINWeb-Cond.woff') format('woff'), url('../fonts/DINWeb-Cond.ttf') format('truetype');
}

@font-face {
    font-family: DINWebCondensedLight;
    src: url('../assets/fonts/DINWeb-CondLight.eot');
}
@font-face {
    font-family: DINWebCondensedLight;
    src: url('../assets/fonts/DINWeb-CondLight.woff') format('woff'), url('../fonts/DINWeb-CondLight.ttf') format('truetype');
}


/* general overrides */

body {
	font-size: 100%;
	background-color: #000 !important;
}

.ui-content {
	overflow-x: visible;
}

.ui-br { 
    border-bottom: 0 !important; /* used to fix a border on the campus select in the header */
}

h1 {
	font-family: DINWebCondensedBold, Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	margin: 12px 0 0 0;
}

h1:first-child {
	margin-top: 0;
}

h2 {
	margin: 0;
	text-transform: uppercase;
	font-family: DINWebCondensedLight, Helvetica, Arial, sans-serif;
	font-weight: normal;
}

a {
	color: #fff !important;
}

/* standard areas */
.ui-body-c {
	background-color: transparent;
	background-image: url('../assets/images/dark-metal-grid-3.jpg');
	color: #fff;	
	text-shadow: none;
}

ui.focus, ui-btn:focus {
	bow-shadow: 0 0 12px #797979;
}

div[data-role=header] {
    height: 36px;    
}

#header .logo {
	width: 33%;
    margin-top: 5px;	
}


#content {
	margin: 0 auto;
	max-width: 100%;	
}

.action-sheet-title {
	display: block;
	text-align: center; 
	margin-top: 10px;
	margin-bottom: 20px;
}

.content-wrap {
	background: -moz-linear-gradient(top, #404040 0%, #323232 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#404040), color-stop(100%,#323232));
	background: -webkit-linear-gradient(top, #404040 0%,#323232 100%); 
	background: -o-linear-gradient(top, #404040 0%,#323232 100%); 
	background: -ms-linear-gradient(top, #404040 0%,#323232 100%);  
	background: linear-gradient(top, #404040 0%,#323232 100%);
	border: 1px solid #6f6f6f;
	border-radius: 10px;
	padding: 24px;
	margin-top: 24px;
}

.content-wrap h1:first-child {
	margin-top: -16px;
	padding: 0;
}

.content-wrap input, .content-wrap select {
	margin-bottom: 12px;	
}

.content-wrap .location-busy {
	display: none;
	clear: both;
}

/* footer styles */
div[data-role=footer] h6 {
	font-weight: normal;
	font-size: 12px;
	margin-top: 8px;
	font-family: DINWebCondensedBold, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

div[data-role=footer] div[data-role=controlgroup] {
	float: right; /* float footer buttons to the right */
}

div[data-role=footer] .cell {
    width: 50%;
    float: left;
}

.ui-footer-fixed {
	width: auto;
}

h1.page-title {
	display: block;
	text-align: center;
	font-size: 62px;
}


/* custom nav icons */
.ui-bar-a, .ui-btn-up-a {
    background: -moz-linear-gradient(#3C3C3C, #111111) repeat scroll 0 0 #111111;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#111));
    background-image:-webkit-linear-gradient(#3c3c3c,#111);
    background-image:-moz-linear-gradient(#3c3c3c,#111);
    background-image:-ms-linear-gradient(#3c3c3c,#111);
    background-image:-o-linear-gradient(#3c3c3c,#111);
    background-image:linear-gradient(#3c3c3c,#111)
}

.ui-navbar li .ui-btn, .ui-navbar .ui-navbar-toggle .ui-btn {
	border-left: 1px solid #111;
    border-right: 1px solid #333;
}

.ui-btn-inner {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.ui-navbar-custom .ui-btn .ui-btn-inner {
	padding-top: 48px;
	padding-bottom: 2px;
}

.ui-navbar-custom .ui-btn .ui-icon {
	width: 40px;
	height: 40px;
	box-shadow: none;
	border-radius: none;
	margin-left: -20px;
	-moz-border-radius: : none;
	-webkit-border-radius: none;
	background: none;
	
}

/* homepage */
#campus-container {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

#campus-live {
	list-style: none;
	text-align: center;
}

#campus-live li, #campus-recorded {
	background: -moz-linear-gradient(top, #404040 0%, #323232 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#404040), color-stop(100%,#323232));
	background: -webkit-linear-gradient(top, #404040 0%,#323232 100%); 
	background: -o-linear-gradient(top, #404040 0%,#323232 100%); 
	background: -ms-linear-gradient(top, #404040 0%,#323232 100%);  
	background: linear-gradient(top, #404040 0%,#323232 100%);
	border: 1px solid #6f6f6f;
	border-radius: 10px;
	padding: 6px 24px 12px 24px;
	width: 520px;
	margin-right: 35px;	
	margin-bottom: 20px;
	position: relative;
    display: inline-block;
    text-align: center;
}

#campus-live li:last-child {
	--margin-right: 0;
}

.cc-button {
	padding: 6px;
	background: #7c7c7c;
	background: -moz-linear-gradient(top,  #7c7c7c 0%, #6b6b6b 26%, #353535 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7c7c7c), color-stop(26%,#6b6b6b), color-stop(100%,#353535));
	background: -webkit-linear-gradient(top,  #7c7c7c 0%,#6b6b6b 26%,#353535 100%);
	background: -o-linear-gradient(top,  #7c7c7c 0%,#6b6b6b 26%,#353535 100%);
	background: -ms-linear-gradient(top,  #7c7c7c 0%,#6b6b6b 26%,#353535 100%);
	background: linear-gradient(to bottom,  #7c7c7c 0%,#6b6b6b 26%,#353535 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7c7c', endColorstr='#353535',GradientType=0 );
	border: 1px solid #222;
	margin: 12px auto 0 auto;
	border-radius: 6px;
	width: 100px;
	text-transform: uppercase;
	font-family: DINWebCondensedLight, Helvetica, Arial, sans-serif;
	cursor: pointer; 
	display: inline-block;
	margin-right: 24px;
}

.ccbutton:hover {
	background: #7c7c7c;
	background: -moz-linear-gradient(top,  #7c7c7c 0%, #898989 26%, #5b5b5b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7c7c7c), color-stop(26%,#898989), color-stop(100%,#5b5b5b));
	background: -webkit-linear-gradient(top,  #7c7c7c 0%,#898989 26%,#5b5b5b 100%);
	background: -o-linear-gradient(top,  #7c7c7c 0%,#898989 26%,#5b5b5b 100%);
	background: -ms-linear-gradient(top,  #7c7c7c 0%,#898989 26%,#5b5b5b 100%);
	background: linear-gradient(to bottom,  #7c7c7c 0%,#898989 26%,#5b5b5b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7c7c', endColorstr='#5b5b5b',GradientType=0 );
}

.cc-button.enabled {
	background: #a7cfdf;
	background: -moz-linear-gradient(top,  #a7cfdf 0%, #23538a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7cfdf), color-stop(100%,#23538a));
	background: -webkit-linear-gradient(top,  #a7cfdf 0%,#23538a 100%);
	background: -o-linear-gradient(top,  #a7cfdf 0%,#23538a 100%);
	background: -ms-linear-gradient(top,  #a7cfdf 0%,#23538a 100%);
	background: linear-gradient(to bottom,  #a7cfdf 0%,#23538a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 );
	border: 1px solid #999;
}

.cc-button i {
	font-size: 16px;
	margin-right: 14px;
}

.audio-toggle i:before {
	content: "\f026"; 
}

.audio-toggle.enabled i:before {
	content: "\f028";
}

.audio-toggle span:before, .audio-toggle.muted span:before {
	content: "Listen";
}

.audio-toggle.enabled span:before {
	content: "Mute";
}

.fullscreen-toggle i:before {
	content: "\f065"; 
}

/* settings page */
.setting-panel {
	width: 250px;
}

/* error div ui */
#ui-error {
	border-radius: 10px;
	border: 1px solid #7e3333;
	margin: 0 auto;
	width: 80%;
	color: #7e3333;
	background-color: #250d0d;
	padding: 40px;
	margin-top: 40px;
}

/* clearfix */
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


