
// Load Master Styles
// -------------------------
@import "../../../Styles/_rock-core.less";
@import "../../../Styles/_rock-variables.less";
@import "_variables.less";
@import "_print.less";


/*
    Rock Theme Styles

    1. HTML Overrides
    2. Bootstrap Overides
    3. Theme Styling
    4. Responsive Overrides 

*/

// 1. HTML Overrides
// -------------------------

@font-face {
    font-family: DINWebCondensedLight;
    src: url('../Assets/fonts/DINWeb-CondLight.eot');
}
@font-face {
    font-family: DINWebCondensedLight;
    src: url('../Assets/fonts/DINWeb-CondLight.woff') format('woff'), url('../Assets/fonts/DINWeb-CondLight.ttf') format('truetype');
}

@font-face {
    font-family: DINWebCondensedBold;
    src: url('../Assets/fonts/DINWeb-CondBold.eot');
}
@font-face {
    font-family: DINWebCondensedBold;
    src: url('../Assets/fonts/DINWeb-CondBold.woff') format('woff'), url('../Assets/fonts/DINWeb-CondBold.ttf') format('truetype');
}

main {
    display:block;
}

html {
    background-color: #1A1A1A;
}

h1 {
    font-family: DINWebCondensedBold, Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
    text-align: center;
    color: white;
}

h3 {
	margin: 0;
	text-transform: uppercase;
	font-family: DINWebCondensedLight, Helvetica, Arial, sans-serif;
	font-weight: normal;
    text-align: center;
}

.panel {
    background: -webkit-linear-gradient(top, #404040 0%,#323232 100%);
    border-radius: 10px;
    border: 1px solid #6f6f6f;
    padding: 6px 24px 12px 24px;
}

.panel-body {
    padding: 0;
}

.panel-body h3 {
    color: white;
}

.btn {
display:inline-block;
margin-bottom:0;
font-weight:400;
text-transform: uppercase;
text-align:center;
vertical-align:middle;
cursor:pointer;
background-image:none;
border:1px solid transparent;
white-space:nowrap;
font-size:14px;
line-height:1.42857143;
border-radius:4px;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
padding:6px 12px;
}

.btn:hover,.btn:focus {
color:#333;
text-decoration:none;
}

.btn:active,.btn.active {
outline:0;
background-image:none;
-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);
box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);
}

.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
cursor:not-allowed;
pointer-events:none;
opacity:.65;
filter:alpha(opacity=65);
-webkit-box-shadow:none;
box-shadow:none;
}

.btn-default {
color:#333;
background-color:#fff;
border-color:#ccc;
}

.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
color:#333;
background-color:#e6e6e6;
border-color:#adadad;
}

.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active {
background-color:#fff;
border-color:#ccc;
}

.btn-default .badge {
color:#fff;
background-color:#333;
}

.btn-primary {
color:#fff;
background-color:#428bca;
border-color:#357ebd;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary {
color:#fff;
background-color:#3071a9;
border-color:#285e8e;
}

.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active {
background-color:#428bca;
border-color:#357ebd;
}

.btn i {
	font-size: 16px;
	margin-right: 14px;
}

.audio-toggle i:before {
	content: "\f026"; 
}

.audio-toggle.enabled i:before {
	content: "\f028";
}

.audio-toggle span:before, .audio-toggle.muted span:before {
	content: "Listen";
}

.audio-toggle.enabled span:before {
	content: "Mute";
}

.fullscreen-toggle i:before {
	content: "\f065"; 
}


// 2. Bootstrap Overrides 
// ------------------------- 


// 3. Theme Styling 
// -------------------------

header {
    background-image: linear-gradient(#3c3c3c,#111);
    color: @header-text-color;
    min-height: 36px;
}

main {
   background-color: #1A1A1A;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(#3c3c3c,#111);
    color: @footer-text-color;
    min-height: 50px;
    padding-top: 24px;
}



// 4. Responsive Overrides 
// -------------------------

// default styling should be for phones 767px or less

// Small devices (tablets, 768px and up)
@media (min-width: @screen-sm-min) {
    
}

// Medium devices (desktops, 992px and up) 
@media (min-width: @screen-md-min) {
    .container {
        width: 100%;
    }
}

// Large devices (large desktops, 1200px and up) 
@media (min-width: @screen-lg-min) {

}