// select where id ends with pnlSearch

div[id$="pnlResults"] {
  &:before {
    content: " ";
    display: block;
    border: 1px solid @color-disabled;
    border-radius: 4px;
    height: @input-height-base;
    margin: 16px 0;
  }
}

.results:before {
  display: none !important;
}

.group-search-input {
  padding-left: 36px;

  &-wrap {
    position: relative;
    margin: 16px 0;

    @media (min-width: 992px) {
      margin: 16px 32px;
      width: 300px;
    }

    &::after {
      font-family: 'FontAwesome';
      content: '\f002';
      position: absolute;
      top: 0;
      left: 12px;
      bottom: 0;
      height: 100%;
      font-weight: 900;
      color: #9E9E9E;
      font-size: 15px;
      display: flex;
      align-items: center;
    }
  }

  // placeholder
  &::placeholder {
    font-weight: 700;
    text-transform: uppercase;
    color: #9E9E9E;
    font-size: 15px;
  }


}

.toggle-filters-button {
  // margin-left: 32px;
  // margin-right: 32px;
  display: block;

  @media (min-width: 992px) {
    display: none;
  }

  svg * {
    stroke: @color-red;
  }

  &:hover {
    svg * {
      stroke: #fff;
    }
  }
}

.filters {
  visibility: visible !important;
  display: flex;
  flex-direction: column;
  transition: all .35s ease;
  margin: 0 -32px 24px;

  @media (min-width: 992px) {
    margin: 0 auto 24px;
  }

  @media (max-width: 991px) {
    max-height: 0;
    overflow: hidden;

    &.active {
      max-height: 10000px;
    }
  }


  .actions {
    display: flex;
    order: -1;
    margin-bottom: 20px;
    padding: 20px 0 0;

    .btn-primary {
      display: inline-flex;
      flex: 1;
      justify-content: center;
    }

    .btn-link {
        font-weight:bold;
        padding-left: 0 !important;
        padding-right: 0 !important;
        color: @color-gray;
        margin-left: 20px;
    }

    @media (min-width: 992px) {
      padding: 0;
    }
  }

  .form-group {
    font-size: 15px;
    margin-bottom: 0;
  }

  .filter > label {
    font-weight: 700;
  }

  .facets {
    //margin: 0 (@grid-gutter-width * -.5);
    padding: 32px (@grid-gutter-width * .5);
    background: fade(#D9D9D9, 20%);
    padding: 24px 32px;

    @media screen and (min-width: 992px) {
      margin: 0;
      padding: 0;
      background: none;
    }
  }

  .filter-list {
    background-color: #f6f5f5;
    border: 1px solid @color-disabled;
    overflow-y: auto;
    > .filter {
      > label {
        display: flex;
        padding: 9px 14px;
        text-transform: uppercase;
        background-color: #fff;
        border-bottom: 1px solid @color-disabled;
        gap: 8px;
        margin: 0;
        align-items: center;
        cursor: pointer;


        &:before {
            font-family: 'FontAwesome';
            content: @fa-var-square;
            // fixed width
            width: 1.28571429em;
            text-align: center;
            font-size: 20px;
        }
      }

      > .control-wrapper {
        padding: 16px;
        border-bottom: 1px solid @color-disabled;
      }
    }

    .filter-campuses > .control-label::before {
        content: @fa-var-map-marker;
      }

      .filter-group-type > .control-label::before {
        content: @fa-var-shapes;
      }

      .filter-group-experience > .control-label::before {
        content: @fa-var-users;
      }

      .filter-more-filters {
        > .control-label::before {
          content: @fa-var-ellipsis-h;
        }

        .filter {
          > label {
            margin-bottom: 9px;
          }
          margin-bottom: 12px;
        }
      }
  }

  .filter-group-type,
  .filter-campuses {
    .controls {
        column-count: 1;

        .checkbox-inline {
            margin-top: 8px;
            padding-left: 0;
            display: flex;

            &:first-child {
              margin-top: 0;
            }

            .label-text {
              user-select: none;
              line-height: 24px;
                &:before,
                &:after {
                    display: none;
                }
            }

            input ~ .label-text:not(.label-care-support)::before {
                font-weight: 700;
            }

            input:checked ~ .label-text {
                font-weight: 700;
            }
        }
    }
  }

  .filter-group-type {
    .checkbox-inline .label-text {
      display: inline-flex;
      align-items: center;
        &:before {
            position: relative;
            display: inline-flex !important;
            justify-content: center;
            font-family: 'FontAwesome';
            //content: @fa-var-square;
            // fixed width
            width: 1.28571429em;
            text-align: center;
            background: transparent;
            border: 0;
            top: 0;
            margin-right: 12px;
            box-shadow: none;
            height: 1.5em;
            font-size: 18px;
        }
    }
  }

  .label-text {
    font-weight: 500;
  }
}

.checkbox-inline {

    display: inline-flex;

    .label-bible-faith::before {
        content: @fa-var-bible;
        color: @color-blue !important;
    }

    .label-care-support::before {
        content: @fa-var-heart;
        color: @color-red !important;
    }

    .label-life-stage::before {
        //content: @fa-var-sun-haze;
        color: @color-yellow !important;
        background: url(/Themes/WC2021/Assets/Images/icons/sun-haze.svg) no-repeat center center !important;
    }

    .label-serving::before {
        content: @fa-var-hand-holding-heart;
        color: @color-orange !important;
    }

    .label-shared-interest::before {
        // content: @fa-var-comments;
        // color: @color-purple;
        background: url(/Themes/WC2021/Assets/Images/icons/circles-overlap.svg) no-repeat center center !important;
    }

    .label-rooted::before {
      // content: @fa-var-comments;
      // color: @color-purple;
      background: url(/Themes/WC2021/Assets/Images/icons/rooted.png) no-repeat center center !important;
  }
}


.filter-group-experience,
.filter-more-filters {
  .in-columns {
      margin-top: 0;
      // column count remove
      column-count: unset;
      column-width: auto;
      > div {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
      }
      .checkbox-inline,
      .radio-inline {
          display: inline-block;
      }
  }
  .checkbox-inline,
  .radio-inline {
      padding: 0 !important;
    margin: 0 6px 6px 0 !important;
    .label-text {
      min-width: 30px;
      padding: 4px 15px;
      color: #000;;
      background-color: mix(@color-gray, #fff, 50%);
      border-radius: 100px;
      box-shadow: none;
      font-size: 12px;

      &:before,
      &:after {
          display: none;
      }
    }
  }

  .checkbox-inline input:checked + .label-text,
  .radio-inline input:checked + .label-text {
    background: @color-navy;
    color: #fff;
  }
}






  div[id$="pnlSearch"] {
    padding: 0;
    visibility: hidden;
    // > .form-group {
    //   display: none;
    // }
  }

//   div[id$="pnlSearch"] div,
//   div[id$="pnlSearch"] div div[class*="col-"] {
//     display: block;
//     width: 100%;
//     padding: 0;
//     margin: 0 !important;
//   }

//   div[id$="pnlSearch"]


  .group-items {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    //margin: 80px auto;
    grid-gap: 16px;
    padding: 0;

  }

  @media only screen and (min-width: 480px) {
    .group-items {
      grid-template-columns: 1fr 1fr;
    }

    .group-item {
      align-items: center;
    }
  }

  @media only screen and (min-width: 992px) {
    div[id$="pnlView"] .panel-body {
      display: flex;
      width: 100%;
      margin: 20px 0;
    }

    div[id$="pnlSearch"] {
      position: sticky;
      top: 130px;
      display: flex;
      flex-direction: column;
      max-height: calc(~'100vh - 100px');
      width: 250px;
      max-width: 250px;
      min-width: 250px;
    }

    .scrolled-up div[id$="pnlSearch"] {
        top: 91px;
    }

    .filters-wrapper>.actions .btn {
      display: block;
    }

    div[id$="pnlResults"] {
      padding-left: 8px;
      margin-left: 8px;
      flex: 1 1 auto;
    }

    .rockcheckboxlist label.checkbox-inline {
      display: block;
    }
  }

  @media only screen and (min-width: 1200px) {


    div[id$="pnlResults"] {
      margin-left: 30px;
    }

    div[id$="pnlSearch"] {
      width: 300px;
      max-width: 300px;
      min-width: 300px;
    }
  }

  @media only screen and (min-width:1400px) {
    .group-items {
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        grid-gap: 24px 16px;
      }
  }

  .filters-wrapper {
    background: #fff;
    border: 1px solid #ededf2;
    border-radius: 6px;
}

.card-group-item {
    overflow: hidden;
}

.card-group-item .card-header .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-group-item .card-footer {
    border-top: 1px solid #ededf2;
}

.group-description {
    max-height: 190px;
    overflow-y: auto;
}

.btn-lined {
    min-height: 46px;
    padding: 12px 0;
}

.btn-contact-leader {
    border-right: 1px solid #ededf2 !important;
}


.group-detail {
  .info-item {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

    i {
      font-size: 24px;
      color: #9E9E9E;
      width: 34px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 16px;
    }
  }
}


.footer-list-title.title {
  font-size: 26px !important;
  font-weight: 700;

  @media (min-width: 992px) {
    font-size: 18px !important;
  }
}


.group-finder-video-banner {
    padding: 80px 0;

    h1 {
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 0;

        @media (min-width: 992px) {
            font-size: 64px;
        }

        &.display {
            font-size: 80px;
            font-weight: 700;
            margin-bottom: 30px;

            @media(min-width: 992px) {
                font-size: 96px;
            }
        }
    }

    .play-button {
        width: 95px;
        height: 95px;
        border-radius: 999px;
        background-color: #fa4616;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 32px;

        i {
            font-size: 45px;
            color: #fff;
        }

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}
