.group-icon {
    display: block;
    width: 2.583333em;
    height: 2.583333em;
    background: @color-navy;
    border-radius: 50%;

    color: #fff;
    font-size: 24px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 1.25em;
        height: 1.25em;
        object-fit: contain;
    }
}

.card-group {
    display: flex;
    flex-direction: row;
    border: 2px solid @color-disabled;
    height: 100%;

    &:hover {
        // box-shadow 16px blur offset 4px
        box-shadow: 0 0 16px 4px rgba(0,0,0,.15);
    }

    &.disabled {
        opacity: .35;
        &:hover {
            box-shadow: none;
        }
    }

    .card-title {
        margin: 0;
        font-size: 20px;
    }

    .card-subtitle {
        font-size: 14px;
    }

    .group-icon {
        margin: 0 auto 20px;
    }

    .group-img {
        display: inline-flex;
        position: relative;

        > img {
            width: 62px;
            height: 62px;
            border: 4px solid #fff;
            border-radius: 50%;
        }

        .group-icon {
            position: absolute;
            bottom: -8px;
            right: -5px;
            width: 30px;
            height: 30px;
            font-size: 12px;
            margin: 0;
        }
    }

    .card-sidebar {
        display: none;
        min-width: 92px;
        width: 92px;
        background: @color-disabled;
        padding: 20px 0 40px;
        text-align: center;
        line-height: 1;

        .day {
            display: block;
            font-size: 20px;
            font-weight: 700;
        }

        .text {
            display: block;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 1;
        }
    }

    .card-meta {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 16px 0;
        margin: 16px 0;
        border-top: 1px solid @color-gray;
        border-bottom: 1px solid @color-gray;
    }

    .card-content {
        padding: 26px 24px 40px;
        flex: 1;

        .group-icon {
            width: 34px;
            height: 34px;
            font-size: 13px;
            margin: 0 0 24px;
        }

        .group-dates {
            font-size: 14px;
            font-weight: 700;
            margin: 16px 0 0;
        }

        .group-gender {
            font-size: 11px;
            text-transform: uppercase;
            margin: 16px 0;
        }

        .group-dates,
        .group-gender {
            color: @color-navy;
        }
    }

    .card-text {
        display: none;
        font-size: 15px;
        line-height: 1.5;
        // line-clamp 5 is the max number of lines to show
        // https://css-tricks.com/almanac/properties/l/line-clamp/

        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-top: 10px;
    }

    .actions {
        a {
            font-size: 14px;
            line-height: 30px;
            font-weight: 700;
            text-transform: uppercase;
            margin-right: 32px;
            line-height: 1;
        }

        .action {
            display: none;
            white-space: nowrap;
        }
    }

    @media screen and (min-width: @screen-sm) {
        border-left: 0;

        .card-sidebar {
            display: block;
        }

        .actions .action {
            display: inline;
        }

        .card-text {
            display: -webkit-box;
        }

        .group-dates,
        .group-gender,
        .action-mobile {
            display: none;
        }

        .card-content {
            padding: 25px 14px 22px 30px;

            .group-icon {
                display: none;
            }
        }

        .card-title {
            font-size: 24px;
        }
    }
}
