<section class="promo-secondary container">
    <ul>
    {% for Ad in Ads %}
        <li>
            <a href="{{ Ad.DetailPageUrl }}">
            {% for Attribute in Ad.Attributes %}
                {% if Attribute.Key == 'PromotionImage' %}
                    {{ Attribute.Value }}
                {% endif %}
            {% endfor %}
            </a>
        </li>
    {% endfor %}
    </ul>
</section>