

//  BADGE STYLE


// =============================================================
// Table of Content           
//  + Base Style              
//  + Alternate Style        
// =============================================================


// ======================== BASE STYLE ========================
.badge {
  display:            inline-block;
  min-width:          10px;
  padding:            var(--spacing-tiny) 7px;
  font-size:          var(--font-size-small);
  font-weight:        var(--font-weight-bold);
  line-height:        var(--line-height-compact);
  color:              var(--color-interface-softest);
  text-align:         center;
  white-space:        nowrap;
  vertical-align:     middle;
  background-color:   var(--color-interface-medium);
  border-radius:      var(--rounded-large);

  // Empty badges collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }

  // Quick fix for badges in buttons
  .btn & {
    position: relative;
    top: -1px;
  }

  .btn-xs &,
  .btn-group-xs > .btn & {
    top:      0;
    padding:  1px 5px;
  }

  // Hover state, but only for links
  a {
    &:hover,
    &:focus {
      color:            var(--color-interface-softest);
      text-decoration:  none;
      cursor:           pointer;
    }
  }

  // Account for badges in navs
  .list-group-item.active > &,
  .nav-pills > .active > a > & {
    color:            var(--color-link);
    background-color: var(--color-interface-softest);
  }

  .list-group-item > & {
    float: right;
  }

  .list-group-item > & + & {
    margin-right: 5px;
  }

  .nav-pills > li > a > & {
    margin-left: 3px;
  }
  
  .fa-square::before,
  .fa-circle::before {
    display: block;
    width: 1em;
    height: 1em;
    content: " ";
    background: currentColor;
  }

  .fa-circle::before {
    border-radius: 50%;
  }
}

.badge-bar {
  display:      flex;
  align-items:  center;
  
  .badge {
    background-color: inherit;
  }
}
// ======================== END BASE STYLE ========================


// ======================== ALTERNATIVE BADGE ========================
.badge-danger {
  color:            var(--color-interface-softest) !important;
  background-color: var(--color-danger-strong) !important;
}

.badge-warning {
  color:            var(--color-interface-softest) !important;
  background-color: var(--color-warning-strong) !important;
}

.badge-success {
  color:            var(--color-interface-softest)  !important;
  background-color: var(--color-success-strong) !important;
}

.badge-info {
  color:            var(--color-interface-softest) !important;
  background-color: var(--color-info-strong) !important;
}

.badge-critical {
  color:            var(--color-interface-softest)  !important;
  background-color: var(--color-critical-strong) !important;
}
// ======================== END ALTERNATIVE BADGE ========================

.badge-legend .badge {
  height:       20px;
  margin-right: var(--spacing-tiny);
  cursor:       pointer;
}


