// BUTTON GROUP STYLE



// =============================================================
// Table of Content           
//  + Base Style              
//  + Button Toolbar    
//  + Border Radius   
//  + Button Groups Sizing
//  + Vertical Button Groups  
// =============================================================


// ============================== BASE STYLE ==============================
.btn-group,
.btn-group-vertical {
  position:       relative;
  display:        inline-block;
  vertical-align: middle; // match .btn alignment given font-size hack above

  > .btn {
    position:   relative;
    float:      left;
    // Bring the "active" button to the front
    &:hover,
    &:focus,
    &:active,
    &.active {
      z-index: 2;
    }
  }
}

// Prevent double borders when buttons are next to each other
.btn-group {
  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: -1px;
  }
}
// ============================ END BASE STYLE ============================


// ============================ BUTTON TOOLBAR ============================
.btn-toolbar {
  margin-left: -var(--spacing-tiny); // Offset the first child's margin
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }

  .btn,
  .btn-group,
  .input-group {
    float: left;
  }
  > .btn,
  > .btn-group,
  > .input-group {
    margin-left: var(--spacing-tiny);
  }
}
// ========================== END BUTTON TOOLBAR ==========================


// ========================== BORDER RADIUS ==========================
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  //Not first, last or is a drop down-toggle
  border-radius: 0;
}

.btn-group > .btn:first-child {
  margin-left: 0;
  // Not the last child and not dropdown
  &:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius:    0;
    border-bottom-right-radius: 0;
  }
}

.btn-group > .btn-group:first-child:not(:last-child) {
  > .btn:last-child,
  > .dropdown-toggle {
    border-top-right-radius:    0;
    border-bottom-right-radius: 0;
  }
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  // Not first child but last child
  // Not dropdown toggle first chlid
  border-top-left-radius:     0;
  border-bottom-left-radius:  0;
}

.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-left-radius:    0;
  border-bottom-left-radius: 0;
}
// ======================== END BORDER RADIUS ========================


// Custom edits for including btn-groups within btn-groups (useful for including dropdown buttons within a btn-group)
.btn-group > .btn-group {
  float: left;
}
// On active and open, don't show outline
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}


// ========================== BUTTON GROUP SIZING ==========================
.btn-group-xs > .btn { 
  padding:        var(--spacing-small) var(--spacing-medium);
  font-size:      var(--font-size-h5);
  line-height:    var(--line-height-tight);
  border-radius:  var(--rounded-small);
}
.btn-group-sm > .btn { 
  padding:        var(--spacing-tiny) var(--spacing-small);
  font-size:      var(--font-size-small);
  line-height:    var(--line-height-normal);
  border-radius:  var(--rounded-small);
}
.btn-group-lg > .btn { 
  padding:        1px var(--spacing-tiny);
  font-size:      var(--font-size-xsmall);
  line-height:    var(--line-height-normal);
  border-radius:  var(--rounded-tiny);
}
// ======================== END BUTTON GROUP SIZING ========================


.btn-group > .btn + .dropdown-toggle {
  padding-right:  var(--spacing-small);
  padding-left:   var(--spacing-small);
}

.btn-group > .btn-lg + .dropdown-toggle {
  padding-right: var(--spacing-medium);
  padding-left:  var(--spacing-medium);
}

.btn-group.open .dropdown-toggle {
  box-shadow:   none;

  &.btn-link {
    box-shadow: none;
  }
}

.btn .caret {
  margin-left: 0;
}

.btn-lg .caret {
  border-width:         var(--spacing-tiny) var(--spacing-tiny) 0;
  border-bottom-width:  0;
}

.dropup .btn-lg .caret {
  border-width:         0 var(--spacing-tiny) var(--spacing-tiny);
}


// ========================== VERTICAL BUTTON GROUPS ==========================
.btn-group-vertical {
  > .btn,
  > .btn-group,
  > .btn-group > .btn {
    display:    block;
    float:      none;
    width:      100%;
    max-width:  100%;
  }

  // Clear floats so dropdown menus can be properly placed
  > .btn-group {
    &:before,
    &:after {
      display: table; // 2
      content: " "; // 1
    }
    &:after {
      clear: both;
    } // TODO if break;
    > .btn {
      float: none;
    }
  }

  > .btn + .btn,
  > .btn + .btn-group,
  > .btn-group + .btn,
  > .btn-group + .btn-group {
    margin-top:   -1px;
    margin-left:  0;
  }
}

.btn-group-vertical > .btn {
  &:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  &:first-child:not(:last-child) {
    //.border-top-radius(@btn-border-radius-base);4px
    border-top-left-radius:       var(--rounded-small);
    border-top-right-radius:      var(--rounded-small);
    border-bottom-right-radius:   0;
    border-bottom-left-radius:    0;
  }
  &:last-child:not(:first-child) {
    border-top-left-radius:     0;
    border-top-right-radius:    0;
    border-bottom-right-radius: var(--rounded-small);
    border-bottom-left-radius:  var(--rounded-small);
  }
}

.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.btn-group-vertical > .btn-group:first-child:not(:last-child) {
  > .btn:last-child,
  > .dropdown-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius:  0;
  }
}

.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-left-radius:  0;
  border-top-right-radius: 0;
}
// ======================== END VERTICAL BUTTON GROUP ========================


.btn-group-justified {
  display:          table;
  width:            100%;
  table-layout:     fixed;
  border-collapse:  separate;
  > .btn,
  > .btn-group {
    display:  table-cell;
    float:    none;
    width:    1%;
  }
  > .btn-group .btn {
    width: 100%;
  }

  > .btn-group .dropdown-menu {
    left: auto;
  }
}


// Checkbox and radio options
//
// In order to support the browser's form validation feedback, powered by the
// `required` attribute, we have to "hide" the inputs via `clip`. We cannot use
// `display: none;` or `visibility: hidden;` as that also hides the popover.
// Simply visually hiding the inputs via `opacity` would leave them clickable in
// certain cases which is prevented by using `clip` and `pointer-events`.
// This way, we ensure a DOM element is visible to position the popover from.
//
// See https://github.com/twbs/bootstrap/pull/12794 and
// https://github.com/twbs/bootstrap/pull/14559 for more information.

[data-toggle="buttons"] {
  > .btn,
  > .btn-group > .btn {
    input[type="radio"],
    input[type="checkbox"] {
      position:       absolute;
      clip:           rect(0, 0, 0, 0);
      pointer-events: none;
    }
  }
}
