
// DROPDOWN STYLE


// =============================================================
// Table of Content           
//  + Caret Style              
//  + Base Style              
//  + The Drop Down Menu State
//  + Divider
//  + Menu Positioning
// =============================================================


// =========================== CARET STYLE ===========================
.caret {
  display:        inline-block;
  width:          0;
  height:         0;
  margin-left:    2px;
  vertical-align: middle;
  border-top:     $caret-width-base   dashed;
  border-top:     $caret-width-base   solid; // IE8
  border-right:   $caret-width-base solid transparent;
  border-left:    $caret-width-base  solid transparent;
}
// ========================= END CARET STYLE =========================


// ========================= BASE STYLE =========================
.dropup,
.dropdown {
  position: relative;
}
.dropdown-menu {
  position:         absolute;
  top:              100%;
  left:             0;
  z-index:          $zindex-dropdown;
  display:          none; // none by default, but block on "open" of the menu
  float:            left;
  min-width:        $dropdown-min-width;
  padding:          var(--spacing-tiny) 0;
  margin:           2px 0 0;
  font-size:        var(--font-size-regular);
  text-align:       left;
  list-style:       none;
  background-color: var(--color-interface-softest);
  background-clip:  padding-box;
  border:           1px solid var(--color-interface-soft);
  border-radius:    var(--rounded-small);
  box-shadow:       0 4px 8px 0 rgba(0,0,0,.1);
  max-height:       85vh;
  overflow-y:       auto;

  // Links items in dropdown menu
  > li > a {
    display:          block;
    padding:          var(--spacing-tiny) var(--spacing-large);
    clear:            both;
    font-weight:      var(--font-weight-regular);
    line-height:      var(--line-height-normal);
    color:            var(--color-interface-strong);
    white-space:      nowrap;
    text-decoration:  none;

    &:hover,
    &:focus {
      color:            var(--color-interface-stronger);
      text-decoration:  none;
      background-color: var(--color-interface-softer);
    }
  }

  > li.indent > a {
    padding-left: calc(var(--spacing-large) * 2);
  }
  
  &.datepicker-dropdown {
    max-height:   none;
    overflow-y:   visible;
    font-size:    var(--font-size-small);
  }

  .btn-link {
    width:        100%;
    padding:      var(--spacing-tiny) var(--spacing-large);
    line-height:  var(--line-height-normal);
    color:        var(--color-interface-strong);
    text-align:   left;
    border:       0;

    &:hover,
    &:focus {
      color:            var(--color-interface-stronger);
      text-decoration:  none;
      background-color: var(--color-interface-softer);
    }
  }

  .dropdown-item-danger {
    color:  var(--color-danger-strong);
    &:hover {
      color:            var(--color-interface-softest);
      background-color: var(--color-danger-strong);
    }
  }
}
// ======================= END BASE STYLE =======================


// =========================== DROP DOWN MENU STATE ===========================
// Active state
.dropdown-menu > .active > a {
  &,
  &:hover,
  &:focus {
    color:              var(--color-interface-softest);
    text-decoration:    none;
    background-color:   var(--color-primary);
    outline:            0;
  }
  .dropdown-right & {
    right:      0;
    left:       auto;
  }
}

// Prevent the focus on the dropdown toggle when closing dropdowns
.dropdown-toggle:focus {
  outline: 0;
}

// Disabled state
.dropdown-menu > .disabled > a {
  &,
  &:hover,
  &:focus {
    color:              var(--color-interface-soft);
  }

  // Nuke hover/focus effects
  &:hover,
  &:focus {
    text-decoration:    none;
    cursor:             not-allowed;
    background-color:   transparent;
    background-image:   none; // Remove CSS gradient
    filter:             progid:DXImageTransform.Microsoft.gradient(enabled=false);
  }
}

.open {
  // Show the menu
  > .dropdown-menu {
    display: block;
  }

  > a {
    outline: 0;
  }
}
// ========================= END DROP DOWN MENU STATE =========================


// ========================= DIVIDER =========================
.divider {
  height:             1px;
  margin:             var(--spacing-tiny) 0;
  overflow:           hidden;
  background-color:   var(--color-interface-soft);
}
// ======================= END DIVERDER =======================


// ========================= Menu positioning =========================
.dropdown-menu-right {
  right:  0;
  left:   auto;
}
.dropdown-menu-left {
  right:  auto;
  left:   0;
}
// ======================= END Menu Positioning =======================


// Dropdown section headers
.dropdown-header {
  display:        block;
  padding:        var(--spacing-tiny) var(--spacing-large);
  font-size:      var(--font-size-small);
  line-height:    var(--line-height-normal);
  color:          var(--color-interface-strong);
  white-space:    nowrap; 
}

// Backdrop to catch body clicks on mobile, etc.
.dropdown-backdrop {
  position:   fixed;
  top:        0;
  right:      0;
  bottom:     0;
  left:       0;
  z-index:    ($zindex-dropdown - 10);
}

// Right aligned dropdowns
.pull-right > .dropdown-menu {
  right:    0;
  left:     auto;
}

.dropup,
.navbar-fixed-bottom .dropdown {
  // Reverse the caret
  .caret {
    content: "";
    border-top:     0;
    border-bottom:  $caret-width-base dashed;
    border-bottom:  $caret-width-base solid "\9"; // IE8
  }
  // Different positioning for bottom up menu
  .dropdown-menu {
    top:            auto;
    bottom:         100%;
    margin-bottom:  2px; // TODO Harded coded
  }
}


.dropdown-menu {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
  max-height: 85vh;
  overflow-y: auto;

  &.datepicker-dropdown {
    max-height: none;
    overflow-y: visible;
    font-size: var(--font-size-regular);
  }

  // Added to Support Right Aligned Dropdowns
  .dropdown-right & {
    right: 0;
    left: auto;
  }

  .btn-link {
    width:        100%;
    padding:      var(--spacing-tiny) var(--spacing-medium);
    line-height:  var(--line-height-normal);
    color:        var(--color-interface-strong);
    text-align:   left;
    border:       0;

    &:hover,
    &:focus {
      color: var(--color-interface-strong); // Darken by 5% when available
      text-decoration: none;
      background-color: var(--color-interface-softer);
    }
  }

  .dropdown-item-danger {
    color: var(--color-danger-strong);
    &:hover {
      color: #fff;
      background-color: var(--color-danger-strong);
    }
  }
}

@media (min-width: $screen-small) {
  .navbar-right {
    .dropdown-menu {
      right:    0;
      left:     auto;
    }

    .dropdown-menu-left {
      right:    auto;
      left:     0;
    }
  }
}
