// INPUT GROUP STYLE


// =============================================================
// Table of Content           
//  + Base style
//  + sizing
//  + input-group-*
//  + Border
// =============================================================


// ======================= BASE STYLE =======================
.input-group {
  position: relative; // For dropdowns
  display: table;
  border-collapse: separate; // prevent input groups from inheriting border styles from table cells when placed within a table

  // Undo padding and float of grid classes
  &[class*="col-"] {
    float: none;
    padding-right: 0;
    padding-left: 0;
  }

  .form-control {
    // Ensure that the input is always above the *appended* addon button for
    // proper border colors.
    position: relative;
    z-index: 2;

    // IE9 fubars the placeholder attribute in text inputs and the arrows on
    // select elements in input groups. To fix it, we float the input. Details:
    // https://github.com/twbs/bootstrap/issues/11561#issuecomment-28936855
    float: left;

    width: 100%;
    margin-bottom: 0;

    &:focus {
      z-index: 3;
    }
  }
}
// ===================== END BASE STYLE =====================


// ======================= SIZING =======================
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: var(--font-size-h5);
  border-radius: var(rounded-small);
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  padding: var(--spacing-tiny) var(--spacing-small);
  font-size: var(--font-size-small);
  border-radius: var(--rounded-small);
}

.input-group-sm > select.form-control,
.input-group-lg > select.form-control,
.form-group-sm select.form-control {
  padding-right: var(--spacing-xlarge);
}
// ===================== END SIZING =====================


// ======================= INPUT-GROUP-* =======================
.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;

  &:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}

.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle; // Match the inputs
}

.input-group-addon {
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: var(--font-size-regular);
  font-weight: 400;
  line-height: 1;
  color: var(--color-interface-strongest);
  text-align: center;
  background-color: var(--color-interface-soft);
  border: 1px solid var(--color-interface-soft);
  border-radius: var(--rounded-small);

  > .btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    margin: -calc(var(--spacing-small) + 1) -calc(var(--spacing-medium) + 1);
    border-radius: var(--rounded-small);

    &:focus {
      z-index: 3;
    }
  }

  &:first-child > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:last-child > .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  // Sizing
  &.input-sm {
    padding: var(--spacing-tiny) var(--spacing-small);
    font-size: var(--font-size-small);
    border-radius: var(--rounded-small);
  }
  &.input-lg {
    padding: var(--spacing-small) var(--spacing-medium);
    font-size: var(--font-size-h5);
    border-radius: var(rounded-small);
  }

  // Nuke default margins from checkboxes and radios to vertically center within.
  input[type="radio"],
  input[type="checkbox"] {
    margin-top: 0;
  }
}

.input-group-edit {
  .input-group-addon {
    background-color: var(--color-success-dark);

    a {
      color: var(--color-success-strong);
    }
  }
}

.input-group-addon:last-child {
  border-left: 0;
}

.input-group-btn {
  position: relative;
  // Jankily prevent input button groups from wrapping with `white-space` and
  // `font-size` in combination with `inline-block` on buttons.
  font-size: 0;
  white-space: nowrap;

  // Negative margin for spacing, position for bringing hovered/focused/actived
  // element above the siblings.
  > .btn {
    position: relative;
    + .btn {
      margin-left: -1px;
    }
    // Bring the "active" button to the front
    &:hover,
    &:focus,
    &:active {
      z-index: 2;
    }
  }

  // Negative margin to only have a 1px border between the two
  &:first-child {
    > .btn,
    > .btn-group {
      margin-right: -1px;
    }
  }
  &:last-child {
    > .btn,
    > .btn-group {
      z-index: 2;
      margin-left: -1px;
    }
  }
}

.rock-check-box {
  .checkbox {
    margin-top: 0;
  }
}
// ===================== END INPUT-GROUP-* =====================


// ========================= BORDER =======================
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .dropdown-toggle:nth-last-child(n+3),
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius:    0;
  border-bottom-right-radius: 0;
}

.input-group-addon:first-child {
  border-right: 0;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
// ===================== END BORDER =====================


// TODO WILL BE MOVE TO PICKER FILE ===============================================================
.date-parts-picker {
  // display: flex;
  // flex-wrap: wrap;

  .control-label {
    width: 100%;
  }

  .form-control {
    flex: 1 1 auto;
    min-width: 90px;
    max-width: floor(90px * 1.25);
  }
}

.month-year-picker .separator,
.month-day-picker .separator {
  // @separator-margin: ((@input-height-base - @font-size-lg) / 2);
  // margin: @separator-margin 6px @separator-margin 0;
  font-size: var(--font-size-h5);
  line-height: 1;
  // color: @text-muted;
}
// ====================================================================================

