// LIST GROUP


// =============================================================
// Table of Content           
//  + Base Style     
//  + Interactive list items         
//  + Alternate Style        
// =============================================================


// ============================= BASE STYLE =============================
.list-group {
  // No need to set list-style: none; since .list-group-item is block level
  padding-left:       0; // reset padding because ul and ol
  margin-bottom:      var(--spacing-large);
}

// Individual list items
.list-group-item {
  position:           relative;
  display:            block;
  padding:            var(--spacing-small) var(--spacing-medium);
  // Place the border on the list items and negative margin up for better styling
  margin-bottom:      -1px;
  background-color:   transparent;
  border:             1px solid var(--color-interface-medium);

  &:before,
  &:after {
    display: table; // 2
    content: " "; // 1
  }
  &:after {
    clear: both;
  }

  .toggle-container {
    display: inline-block;
  }

  .content {
    display: block;
    float: left;
  }

  // Round the first and last items
  &:first-child {
    border-top-left-radius:       var(--rounded-small);
    border-top-right-radius:      var(--rounded-small);
  }
  &:last-child {
    margin-bottom: 0;
    border-bottom-right-radius:   var(--rounded-small);
    border-bottom-left-radius:    var(--rounded-small);
  }

  // Disabled state
  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
    color:                var(--interface-color-medium);
    cursor:               not-allowed;
    background-color:     var(--interface-color-soft);

    // Force color to inherit for custom content
    .list-group-item-heading {
      color:    inherit;
    }
    .list-group-item-text {
      color:    var(--interface-color-medium);
    }
  }

  // Active class on item itself, not parent
  &.active,
  &.active:hover,
  &.active:focus {
    z-index: 2; // Place active items above their siblings for proper border styling
    color:                var(--color-interface-softest);
    background-color:     var(--color-primary);
    border-color:         var(--color-primary);

    // Force color to inherit for custom content
    .list-group-item-heading,
    .list-group-item-heading > small,
    .list-group-item-heading > .small {
      color:        inherit;
    }
    .list-group-item-text {
      color:        var(--color-primary); //TODO lighten by 40% when color-mix() is available
    }
  }
}
// =========================== END BASE STYLE ===========================


// ============================= INTERACTIVE LIST ITEMS =============================
a.list-group-item,
button.list-group-item {
  color:      var(--color-interface-strong);

  .list-group-item-heading {
    color:    var(--color-interface-stronger);
  }

  // Hover state
  &:hover,
  &:focus {
    color:              var(--color-interface-strong);
    text-decoration:    none;
    background-color:   var(--color-interface-softer);
  }
}
// =========================== END INTERACTIVE LIST ITEMS ===========================

button.list-group-item {
  width:        100%;
  text-align:   left;
}

// =========================== ALTERNATIVE STYLE =========================
// Remove borders and border-radius to keep list group items edge-to-edge. Most
// useful within other components (e.g., cards).
.list-group-flush {
  > .list-group-item {
    border-width:     0 0 1px;

    &:last-child {
      border-bottom-width:    0;
    }
  }
}
.list-group-item-success {
  color:              var(--color-success-strong);
  background-color:   var(--color-success-soft);

  a &,
  button & {
    color: var(--color-success-strong);

    .list-group-item-heading {
      color: inherit;
    }

    &:hover,
    &:focus {
      color:              var(--color-success-strong);
      background-color:   var(--color-success-soft); //TODO darken by 5% when css color-mix() is available.
    }
    &.active,
    &.active:hover,
    &.active:focus {
      color:              var(--color-interface-softest);
      background-color:   var(--color-success-strong);
      border-color:       var(--color-success-strong);
    }
  }
}
.list-group-item-info {
  color:              var(--color-info-strong);
  background-color:   var(--color-info-soft);

  a &,
  button & {
    color: var(--color-info-strong);

    .list-group-item-heading {
      color: inherit;
    }

    &:hover,
    &:focus {
      color:              var(--color-info-strong);
      background-color:   var(--color-info-soft); //TODO darken by 5% when css color-mix() is available.
    }
    &.active,
    &.active:hover,
    &.active:focus {
      color:              var(--color-interface-softest);
      background-color:   var(--color-info-strong);
      border-color:       var(--color-info-strong);
    }
  }
}
.list-group-item-warning {
  color:                  var(--color-warning-strong);
  background-color:       var(--color-warning-soft);

  a &,
  button & {
    color:      var(--color-warning-strong);

    .list-group-item-heading {
      color:    inherit;
    }

    &:hover,
    &:focus {
      color:                var(--color-warning-strong);
      background-color:     var(--color-warning-soft); //TODO darken by 5% when css color-mix() is available.
    }
    &.active,
    &.active:hover,
    &.active:focus {
      color:                var(--color-interface-softest);
      background-color:     var(--color-warning-strong);
      border-color:         var(--color-warning-strong);
    }
  }
}
.list-group-item-danger {
  color:              var(--color-danger-strong);
  background-color:   var(--color-danger-soft);

  a &,
  button & {
    color:        var(--color-danger-strong);

    .list-group-item-heading {
      color:      inherit;
    }

    &:hover,
    &:focus {
      color:              var(--color-danger-strong);
      background-color:   var(--color-danger-soft); //TODO darken by 5% when css color-mix() is available.
    }
    &.active,
    &.active:hover,
    &.active:focus {
      color:              var(--color-interface-softest);
      background-color:   var(--color-danger-strong);
      border-color:       var(--color-danger-strong);
    }
  }
}
// ========================= END ALTERNATIVE STYLE =========================



.list-group-item-heading {
  margin-top:       0;
  margin-bottom:    var(--spacing-tiny);
}
.list-group-item-text {
  margin-bottom:    0;
  line-height:      var(--line-height-normal);
}
