// MODAL STYLE


// =============================================================
// Table of Content           
//  + Base style
//  + Modal Scoll
//  + Animation
//  + Rock Modal
//  + Media Query
// =============================================================


// ======================= BASE STYLE =====================
body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 0;
}

.modal {
  position:       fixed;
  top:            0;
  right:          auto;
  bottom:         auto;
  left:           50%;
  z-index:        $zindex-modal;
  display:        none;
  overflow:       hidden;
  outline:        0;
  padding:        0;
  width:          500px;
  margin-left:    -250px;
  background:     var(--color-interface-softest);
  border-radius:  var(--rounded-small);
  box-shadow:     0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip:              padding-box;
  -webkit-overflow-scrolling:   touch;

  &.fade .modal-dialog {
    translate: 0, -25%;
    -webkit-transition: -webkit-transform 0.3s ease-out;
          -moz-transition: -moz-transform 0.3s ease-out;
                    transition: transform 0.3s ease-out;
  }
  &.in .modal-dialog { translate: 0, 0; }

  .modal-open & {
    overflow-x: hidden;
    overflow-y: auto;
  }
}


// TODO if the modal position is off try this:
// .modal {
// 	outline:    none;
// 	position:   absolute;
// 	margin-top: 0;
// 	top:        50%;
// 	overflow:   visible; 
// }

.modal-dialog {
  position: relative;
  width:    auto;
  margin:   var(--spacing-small);
}

.modal-content {
  position:         relative;
  background-color: var(--color-interface-softest);
  background-clip:  padding-box;
  border:           1px solid var(--color-interface-strong); //old browsers fallback (ie8 etc)
  border:           1px solid rgba(0,0,0,2);
  border-radius:    var(--rounded-small);
  box-shadow:       0 3px 9px rgba(0, 0, 0, .5);
  outline:          0;
}

.modal.container {
  max-width:    none;
  width:        940px;
  margin-left:  -470px;
}

.modal-open {
  overflow:                     hidden;
  -webkit-overflow-scrolling:   auto;
}

.modal-body {
  padding: var(--spacing-medium);
	max-height: none;
	overflow:   visible;
}

.modal-footer {
  padding:    var(--spacing-medium);
  text-align: right; 
  border-top: 1px solid var(--color-interface-soft);

  &:before,
  &:after {
    display: table; 
    content: " "; 
  }
  &:after {
    clear: both;
  }

  // Properly space out buttons
  .btn + .btn {
    margin-bottom:  0;
    margin-left:    var(--spacing-tiny);
  }

  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }

  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }
}

.modal.modal-absolute {
	position: absolute;
	z-index: 950;
}

.modal .loading-mask {
	position: absolute;
	top:      0;
	bottom:   0;
	left:     0;
	right:    0;
	background:     var(--color-interface-softest);
	border-radius:  var(--rounded-small);
}
// ===================== END BASE STYLE =====================


//======================= MODAL SCROLL  =====================
/* add a scroll bar to stop page from jerking around */
.modal-open.page-overflow .page-container,
.modal-open.page-overflow .page-container .navbar-fixed-top,
.modal-open.page-overflow .page-container .navbar-fixed-bottom,
.modal-open.page-overflow .modal-scrollable {
  overflow-y:                   scroll;
  -webkit-overflow-scrolling:   touch;
}

@media (max-width: $screen-medium) {
	.modal-open.page-overflow .page-container .navbar-fixed-top,
	.modal-open.page-overflow .page-container .navbar-fixed-bottom  {
		overflow-y: visible;
	}
}

.modal-scrollbar-measure {
  position: absolute;
  top:      -9999px;
  width:    50px;
  height:   50px;
  overflow: scroll;
}

.modal-scrollable {
	position: fixed;
	top:      0;
	bottom:   0;
	left:     0;
	right:    0;
	overflow: auto;
}
// ===================== END MODAL SCROLL =====================


// ======================= ANIMATION =====================
.modal.fade {
	top: -100%;
	-webkit-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
	   -moz-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
	     -o-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
	        transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
}

.modal.fade.in {
	top: 50%;
}

.modal-backdrop {
  position: fixed;
  top:      0;
  right:    0;
  bottom:   0;
  left:     0;
  z-index:  1040;
  background-color: var(--color-interface-medium);
  // Fade for backdrop
  &.fade { opacity:0; }
  &.in { opacity: $modal-backdrop-opacity; }
}

.modal-backdrop,
.modal-backdrop.fade.in {
  background: var(--color-interface-strong);
  filter:     alpha(opacity=70);
  opacity:    $modal-backdrop-opacity;
}

.modal-backdrop.modal-absolute{
	position: absolute;
	z-index:  940;
}

.modal-backdrop,
.modal-backdrop.fade.in{
	opacity:      0.7;
	filter:       alpha(opacity=70);
	background:   var(--color-interface-softest);
}

/* Modal Overflow */
.modal-overflow.modal {
	top: 1%;
}

.modal-overflow.modal.fade {
	top: -100%;
}

.modal-overflow.modal.fade.in {
	top: 1%;
}

.modal-overflow .modal-body {
	-webkit-overflow-scrolling: touch;
}

.loading-spinner {
	position: absolute;
	top:      50%;
	left:     50%;
	margin:   calc(var(--rounded-large) * -1) 0 0 calc(var(--rounded-large) * -1);
}

.animated {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
	0%, 100% {-moz-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
	0%, 100% {-o-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
	-webkit-animation-name: shake;
      -moz-animation-name: shake;
	      -o-animation-name: shake;
	        animation-name: shake;
}
// ===================== END ANIMATION =====================


// ======================= ROCK MODAL =======================
// Rock modal (page properties, etc.)
body.rock-modal {
  background: transparent;

  .modal-content {
    border:     0 !important;
    box-shadow: none;
    //background: transparent;
  }
}

.modal-content.rock-modal,
.rock-modal .modal-content {
  background: transparent;
  border:     0;
  box-shadow: $modal-shadow;

  .modal-header {
    min-height:       34px;
    padding:          var(--spacing-small) var(--spacing-large);
    color:            var(--color-interface-softest);
    background-color: var(--color-primary);
    padding:          var(--spacing-medium);
    border-bottom:    1px solid var(--color-interface-softer);

    &:before,
    &:after {
      display: table;
      content: " "; 
    }

    &:after {
      clear: both;
    }

    h3 {
      margin-right: 12px;
    }

    a {
      color: var(--color-interface-softest);
      text-decoration: underline;
    }

    .close {
      margin-top:       -2px;
      padding:          var(--spacing-small);
      text-decoration:  none;
      color:            var(--color-interface-strongest);
      text-shadow:      none;
    }

    .label {
      margin-top: 8px;
    }

    small {
      display:    block;
      margin-top: var(--spacing-small);
      color:      var(--color-interface-medium) //TODO Darken the ui softest by 10% when color-mix() is avaialable
    }

    @media screen and (min-width: $screen-small) {
      h3 {
        float: left;
      }
    }
  }

  .modal-title {
    margin:       0;
    line-height:  var(--line-height-normal);
  }

  .modal-body {
    position:         relative;
    padding:          var(--spacing-medium);
    color:            var(--color-interface-stronger);
    text-align:       left;
    background-color: var(--color-interface-softest);

    > .scroll-container {
      width: 720px;

      > .viewport {
        width: 670px;
      }
    }

    &.iframe {
      overflow: hidden;
    }
  }

  .modal-footer {
    padding:            var(--spacing-small) var(--spacing-large);
    margin-top:         0;
    color:              var(--color-interface-medium);
    background-color:   var(--color-interface-softer);
    border-radius:      0 0 var(--rounded-small) var(--rounded-small);
  }
}

.rock-modal {
  .modal-footer .btn {
    float:        right;
    margin-left:  var(--spacing-tiny);
  }
}

.rock-modal-frame {
  border-radius: var(--rounded-large) !important;
}

// Fix for overflow scrolling on iOS
.modal.modal-overflow {
  top:            $grid-gutter-width;
  margin-bottom:  $grid-gutter-width;
}

@supports (-webkit-overflow-scrolling: touch) {
  .modal.modal-overflow {
    top:    1%;
    height: calc(100% - 1px) !important;
  }
}

#modal-popup_iframe {
  display:  block;
  width:    100%;
  height:   100%;
  border:     0;
}
// ===================== END ROCK MODAL =====================


// ======================= MEDIA QUERY =======================
@media (min-width: $screen-small) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    width:  600px;
    margin: 30px auto;
  }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }

  // Modal sizes
  .modal-sm { width: 300px; }
}

@media (min-width: $screen-medium) {
  .modal-lg { width: 900px; }
}

@media (min-width: $screen-large) {
	.modal.container {
		width:        1170px;
		margin-left:  -585px;
	}
}

@media (max-width: $screen-medium) {
	.modal,
	.modal.container,
	.modal.modal-overflow 	{
		top:      1%;
		right:    1%;
		left:     1%;
		bottom:   auto;
		width:    auto !important;
		height:   auto !important;
		margin:   0 !important;
		padding:  0 !important;
	}

	.modal.fade.in,
	.modal.container.fade.in,
	.modal.modal-overflow.fade.in {
		top:      1%;
		bottom: auto;
	}

	.modal-body,
	.modal-overflow .modal-body {
		position:   static;
		margin:     0;
		height:     auto !important;
		max-height: none !important;
		overflow:   visible !important;
	}

	.modal-footer,
	.modal-overflow .modal-footer {
		position: static;
	}
}
// ===================== END MEDIA QUERY =====================


