

// NAV STYLE


// =============================================================
// Table of Content           
//  + Base Style
//  + Tab
//  + Pill
//  + Stack pill   
//  + Justified nav link
//  + Tab content
//  + Nav dropdown
// =============================================================


// ===================== BASE STYLE =====================
// Base class
.nav {
  padding-left: 0; // Override default ul/ol
  margin-bottom: 0;
  list-style: none;

  &:before,
  &:after {
    display:  table;
    content:  " ";
  }
  &:after {
    clear:    both;
  }

  > li {
    position: relative;
    display:  block;

    > a {
      position: relative;
      display:  block;
      padding:  $nav-link-padding;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: var(--color-interface-soft);
      }
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {
      color:              var(--color-interface-strong);

      &:hover,
      &:focus {
        color:            var(--color-interface-strong);
        text-decoration:  none;
        cursor:           not-allowed;
        background-color: transparent;
      }
    }
  }

  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {
      background-color: var(--color-interface-soft);
      border-color:     var(--color-link);
    }
  }

  // Nav dividers (deprecated with v3.0.1)
  //
  // This should have been removed in v3 with the dropping of `.nav-list`, but
  // we missed it. We don't currently support this anywhere, but in the interest
  // of maintaining backward compatibility in case you use it, it's deprecated.
  .nav-divider {
    height:           1px;
    margin:           var(--spacing-tiny) 0;
    overflow:         hidden;
    background-color: var(--color-interface-soft);
  }

  // Prevent IE8 from misplacing imgs
  //
  // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
  > li > a > img {
    max-width:        none;
  }
}
// =================== END BASE STYLE ===================


// ===================== TAB =====================
.nav-tabs {
  border-bottom: 1px solid var(--color-interface-soft);
  > li {
    float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;

    // Actual tabs (as links)
    > a {
      margin-right: 2px;
      line-height: var(--line-height-normal);
      border: 1px solid transparent;
      border-radius: var(--rounded-small) var(--rounded-small) 0 0;
      &:hover {
        border-color: var(--color-interface-softer) var(--color-interface-softer) var(--color-interface-soft);
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: var(--color-interface-strong);
        cursor: default;
        background-color: var(--color-interface-softest);
        border: 1px solid var(--color-interface-soft);
        border-bottom-color: transparent;
      }
    }
  }
  // pulling this in mainly for less shorthand
  &.nav-justified {
    width: 100%;

    > li {
      float: none;
      > a {
        margin-bottom: 5px;
        text-align: center;
      }
    }
  
    > .dropdown .dropdown-menu {
      top: auto;
      left: auto;
    }
  
    @media (min-width: $screen-small) {
      > li {
        display: table-cell;
        width: 1%;
        > a {
          margin-bottom: 0;
        }
      }
    }

    border-bottom: 0;

    > li > a {
      // Override margin from .nav-tabs
      margin-right: 0;
      border-radius: var(--rounded-small);
    }
  
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border: 1px solid var(--color-interface-soft);
    }
  
    @media (min-width: $screen-small) {
      > li > a {
        border-bottom: 1px solid var(--color-interface-soft);
        border-radius: var(--rounded-small) var(--rounded-small) 0 0;
      }
      > .active > a,
      > .active > a:hover,
      > .active > a:focus {
        border-bottom-color: var(--color-interface-softest);
      }
    }
  }
  
}
// =================== END TAB ===================


// ===================== PILL =====================
.nav-pills {
  > li {
    float: left;

    // Links rendered as pills
    > a {
      border-radius: var(--rounded-small);
    }
    + li {
      margin-left: 2px;
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: var(--color-interface-softest);
        background-color: var(--color-primary);
      }
    }
  }
}
// =================== END PILL ===================


// ===================== STACK PILL =====================
.nav-stacked {
  > li {
    float: none;
    + li {
      margin-top: 2px;
      margin-left: 0; // no need for this gap between nav items
    }
  }
}
// =================== END STACK PILL ===================


// ===================== JUSTIFIED NAV LINK =====================
.nav-justified {
  width: 100%;

  > li {
    float: none;
    > a {
      margin-bottom: 5px;
      text-align: center;
    }
  }

  > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
  }

  @media (min-width: $screen-small) {
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }
}

.nav-tabs-justified {
  border-bottom: 0;

  > li > a {
    // Override margin from .nav-tabs
    margin-right: 0;
    border-radius: var(--rounded-small);
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border: 1px solid var(--color-interface-soft);
  }

  @media (min-width: $screen-small) {
    > li > a {
      border-bottom: 1px solid var(--color-interface-soft);
      border-radius: var(--rounded-small) var(--rounded-small) 0 0;
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-bottom-color: var(--color-interface-softest);
    }
  }
}
// =================== END JUSTIFIED NAV LINK ===================


// ===================== TAB CONTENT =====================
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

// =================== END TAB CONTENT ===================


// ===================== NAV DROPDOWN =====================
.nav-tabs .dropdown-menu {
  // make dropdown border overlap tab border
  margin-top: -1px;
  // Remove the top rounded corners here since there is a hard edge above the menu
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
// =================== END NAV DROPDOWN ===================


