/* === Universal Font === */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, .p, .text-primary, .text-small {
    font-family: var(--font-family-segoe);
}
/* === End Universal Font ===*/


/* HEADING */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-compact);
}

h1, .h1 {
    font-size: var(--font-size-h1);
}

h2, .h2 {
    font-size: var(--font-size-h2);
}

h3, .h3 {
    font-size: var(--font-size-h3);
}

h4, .h4 {
    font-size: var(--font-size-h4);
}

h5, .h5 {
    font-size: var(--font-size-h5);
}

h6, .h6 {
    font-size: var(--font-size-h6);
}


/* BODY TEXT */
p, .p, .text-primary, .text-small {
    line-height: var(--line-height-normal);
    font-weight: var(--font-weight-regular);
}

p, .p, .text-primary {
    font-size:   var(--font-size-regular);
}

.text-small {
    font-size:   var(--font-size-small);
}


