

.profile-main {
  width: 100%;
}

.person-profile-row {
  display: flex;
  flex-wrap: wrap;
  margin: 24px -9px 0;
  > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 9px !important;
    padding-left: 9px !important;
  }
}

.person-profile {
  margin: 24px 15px 0;
}

.person-profile-ext {
  margin-right: 24px;
  margin-left: 24px;
}

@media (min-width: 647px) {
  .profile-main {
    flex: 0 0 auto;
    width: 40%;
  }

  .profile-data {
    flex: 1 1 0;
  }

  .profile-notes {
    flex: 1 0 60%;
    width: auto;
  }

  .profile-data {
    .profile-sidebar {
      flex: 1 0 25%;
      width: 25%;
      min-width: 360px;
    }
  }
}

@media (min-width: @screen-md) {
  .profile-sidebar {
    width: auto;
    min-width: 360px;
  }

  .profile-main {
    flex: 0 0 auto;
    width: 25%;
  }

  .profile-notes {
    min-width: 400px;
  }
}

@media (min-width: @screen-lg) {
  .profile-main {
    flex: 0 0 auto;
    width: 20%;
  }
}

.profile-sticky-nav {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1020;

  @media (min-width: @screen-md) {
    top: 80px;

    &.outline {
      top: 0;
    }
  }
}

.profile-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);

  @media (min-width: @screen-sm) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .nav-pills > li > a {
    padding: 6px 12px;
    font-weight: 600;
    color: #6c757d;
    background: #fff;
  }

  .nav-pills > li.active {
    a,
    a:hover,
    a:focus {
      color: #fff;
      background-color: @brand-primary;
    }
  }

  .hide-scroll {
    visibility: hidden;
    opacity: 0;
    transition-timing-function: cubic-bezier(0,0,1,1), linear;
    transition-duration: 200ms, 1s;
    transition-property: opacity, visibility, transform;
    transform: translate3d(0,16px,0);
    @media (max-width: @screen-xs-max) {
      visibility: visible;
      opacity: 1;
      transform: translateZ(0);
    }
  }

  .nav-scrolled & {
    .hide-scroll {
      visibility: visible;
      opacity: 1;
      transform: translateZ(0);
    }
  }

  .overflow-nav-container {
    order: 3;
    margin-top: 8px;

    @media screen and (min-width: @screen-sm) {
      order: 0;
      margin-top: 0;
    }
  }
}

.zone-h-100 {
  &,
  .zone-content,
  .block-instance,
  .block-content,
  .block-content > [id$="upnlHtmlContentView"] {
    height: 100%;
  }
}


.card-profile {
  margin-bottom: 24px;
  border: 1px solid #e9ecef;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);

  .card-header {
    display: flex;
    align-items: center;
    padding: 12px 8px 12px 16px;
    font-weight: 600;

    .card-title {
      margin: 0 auto 0 0;
    }

    > .panel-labels {
      margin-top: -8px;
      margin-bottom: -8px;

      .btn-link {
        width: 24px;
        padding: 6px 0;
        margin-bottom: 0;
        font-size: 14px;
        color: #737475;
        border: 0;

        &:hover {
          color: #006dcc;
        }
      }
    }
  }

  .card-subheader {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    color: #6c757d;
    background: #e9ecef;
  }

  > .card-section {
    padding: 16px;

    ~ .card-section {
      border-top: 1px solid #e9ecef;
    }
  }

  .card-body {
    padding: 16px;
  }
}

.horizontal-dl {
  dl {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin: 0;
    font-size: 14px;
  }

  dt {
    padding: 16px 0;
    margin-right: auto;

    &,
    a {
      color: #212529 !important;
    }

    strong {
      font-weight: 400;
    }
  }

  dd {
    color: #adb5bd;
  }
}

.horizontal-dl-striped {
  dl:nth-child(even) {
    background: #f8f9fa;
  }
}


.card-badges {
  min-height: 100px;
  margin-bottom: 0;
}

.card-badge-top {
  display: flex;
  flex-wrap: wrap;
  min-height: 60px;
  border-bottom: 1px solid #e5e7eb;
}
.card-badge-top .rockbadge-container {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  overflow: hidden;
  border-right: 1px solid #e5e7eb;
}
.card-badge-top .rockbadge-container:first-child,
.card-badge-top .rockbadge-container:last-child {
  flex: 0 0 50%;
  order: -1;
  border-bottom: 1px solid #e5e7eb;
  padding: 4px 12px;
}

.card-badge-top .rockbadge-container:last-child {
  border-right: 0;
}

@media (min-width: 576px) {
  .card-badge-top .rockbadge-container {
    flex: 1 0 0%;
    justify-content: start;
  }
  .card-badge-top .rockbadge-container:first-child,
  .card-badge-top .rockbadge-container:last-child {
    flex: 0 0 auto;
    order: initial;
    border-bottom: 0;
    padding: 0 12px;
  }
}
.card-badge-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 40px;
  padding: 0 18px;
  /* TODO FIX */

  .rockbadge-container {
    flex: 1 0 0;

    &:empty {
      display: none;
    }

    &:last-child {
      flex: 0 0 auto;
    }
  }
}
