:root {
  --link-color: @link-color;
  --body-background: @body-bg;
  --full-worksurface-offset: @full-worksurface-offset;
  --modal-header-background: @modal-header-bg;
  --modal-footer-background: @modal-footer-bg;
  --modal-backdrop-background: @modal-backdrop-bg;
  --navbarside-background-color: @navbarside-background-color;
  --navbarside-color: @navbarside-color;
  --navbarside-sub-bg: @navbarside-sub-bg;
  --navbar-top-color: @navbar-top-color;
  --navbartop-height: @navbar-top-height;
  --pagetitle-background: @pagetitle-bg;
  --panel-bg: @panel-bg;
  --panel-heading-bg: @panel-heading-bg;
  --focus-state-border: 1px solid @brand-primary;
  --focus-state-shadow: @input-focus-box-shadow;
  --slider-height: 8px;
  --slider-bg: @gray-200;
  --slider-progress-bg: @brand-primary;
  --slider-handle-offset: 29px;
  --slider-handle-height: 16px;
  --slider-handle-bg: @white;
  --slider-handle-bg--hover: @white;
  --slider-handle-border-color: @gray-400;
  --slider-handle-border-color--hover: @gray-400;
  --wizard-item-bar-color: @wizard-item-bar-color;
  --wizard-item-icon-color: @wizard-item-icon-color;
  --wizard-item-icon-bg: @wizard-item-icon-bg;
  --state-danger-bg: @state-danger-bg;
  --state-danger-border: @state-danger-border;
  --state-danger-text: @state-danger-text;
  /* Data Viz Palette */
  --dataviz-palette-1: #38BDF8;
  --dataviz-palette-2: #4ADE80;
  --dataviz-palette-3: #F87171;
  --dataviz-palette-4: #A78BFA;
  --dataviz-palette-5: #FB923C;
  --dataviz-palette-6: #60A5FA;
  --dataviz-palette-7: #2DD4BF;
  --dataviz-palette-8: #E879F9;
  --dataviz-palette-9: #FBBF24;
  /* Data Viz Info */
  --dataviz-info-050: #f0f9ff;
  --dataviz-info-100: #e0f2fe;
  --dataviz-info-200: #bae6fd;
  --dataviz-info-300: #7dd3fc;
  --dataviz-info-400: #38bdf8;
  --dataviz-info-500: #0ea5e9;
  --dataviz-info-600: #0284c7;
  --dataviz-info-700: #0369a1;
  --dataviz-info-800: #075985;
  --dataviz-info-900: #0c4a6e;
  --dataviz-info-950: #082f49;
  /* Data Viz Neutral */
  --dataviz-neutral-050: #fafafa;
  --dataviz-neutral-100: #f5f5f5;
  --dataviz-neutral-200: #e5e5e5;
  --dataviz-neutral-300: #d4d4d4;
  --dataviz-neutral-400: #a3a3a3;
  --dataviz-neutral-500: #737373;
  --dataviz-neutral-600: #525252;
  --dataviz-neutral-700: #404040;
  --dataviz-neutral-800: #262626;
  --dataviz-neutral-900: #171717;
  --dataviz-neutral-950: #0a0a0a;
  /* Data Viz Positive */
  --dataviz-positive-050: #ecfdf5;
  --dataviz-positive-100: #d1fae5;
  --dataviz-positive-200: #a7f3d0;
  --dataviz-positive-300: #6ee7b7;
  --dataviz-positive-400: #34d399;
  --dataviz-positive-500: #10b981;
  --dataviz-positive-600: #059669;
  --dataviz-positive-700: #047857;
  --dataviz-positive-800: #065f46;
  --dataviz-positive-900: #064e3b;
  --dataviz-positive-950: #022c22;
  /* Data Viz Negative */
  --dataviz-negative-050: #fef2f2;
  --dataviz-negative-100: #fee2e2;
  --dataviz-negative-200: #fecaca;
  --dataviz-negative-300: #fca5a5;
  --dataviz-negative-400: #f87171;
  --dataviz-negative-500: #ef4444;
  --dataviz-negative-600: #dc2626;
  --dataviz-negative-700: #b91c1c;
  --dataviz-negative-800: #991b1b;
  --dataviz-negative-900: #7f1d1d;
  --dataviz-negative-950: #450a0a;
  /* Data Viz Warning */
  --dataviz-warning-050: #fffbeb;
  --dataviz-warning-100: #fef3c7;
  --dataviz-warning-200: #fde68a;
  --dataviz-warning-300: #fcd34d;
  --dataviz-warning-400: #fbbf24;
  --dataviz-warning-500: #f59e0b;
  --dataviz-warning-600: #d97706;
  --dataviz-warning-700: #b45309;
  --dataviz-warning-800: #92400e;
  --dataviz-warning-900: #78350f;
  --dataviz-warning-950: #451a03;
}
