@theme-1: #ee382b;
@theme-2: #1f1f1f;
@theme-2-text: #a6a6a6;
@theme-3: #adadad;
@theme-3-text: #4d4d4d;
@theme-4: #c7c7c7;
@theme-4-text: #545454;
@theme-7: #f04f43;
@link-color: #f04f43;
@text-selection-bg: #f7a9a3;

