@enable-global-custom-controls: true;

// @white:    #fff;
// @black:    #000;
// @gray-50:  #fcfcfc;
// @gray-100: #F8F9FA;
// @gray-200: #e9ecef;
// @gray-300: #dee2e6;
// @gray-400: #ced4da;
// @gray-500: #adb5bd;
// @gray-600: #6c757d;
// @gray-700: #495057;
// @gray-800: #343A40;
// @gray-900: #212529;

@white:    #fff;
@black:    #000;
@gray-50:  #fcfcfc;
@gray-100: #f5f5f5;
@gray-200: #eeeeee;
@gray-300: #dfe0e1;
@gray-400: #bcbcbd;
@gray-500: #9e9ea0;
@gray-600: #737475;
@gray-700: #606162;
@gray-800: #343A40;
@gray-900: #2d2e31;

// Theme Colors *show in editor*
@brand-color:                 #ee7725;  // This is the primary brand color that will be used for the header, primary buttons and other accents. #color
@body-background:             #F2F2F2;  // The page background color. #color
@text-color:                  @gray-800;  // The default text color. #color
@text-muted:                  @gray-600;  // The muted color for text #color
@headings-small-color:        @gray-500;

@link-color:                  #006dcc;  // The color for all links. #color
@link-hover-color:            #005fb2;  // The rollover color for all links. #color

// Side Navigation *show in editor*
@side-navigation-background-color:      #3d3d3d;  // This is the background color for the right-hand menu. #color
@side-navigation-open-background-color: #484848;  // #color
@side-navigation-text-color:            #f3f3f3;  // #color

// Side Navigation Conversions
@side-navigation-width:       80px;
@navbarside-background-color: @side-navigation-background-color;
@navbarside-sub-bg:           @side-navigation-open-background-color;
@navbarside-color:            @side-navigation-text-color;
@navbarside-width:            @side-navigation-width;

// Bootstrap Colors *show in editor* *advanced options*

//// Bootstrap Colors {The primary colors defined by the Bootstrap framework. [More Information](http://getbootstrap.com/customize/#colors)}
@brand-success:               #16c98d; // #color
@brand-warning:               #ffc870; // #color
@brand-danger:                #d4442e; // #color
@brand-info:                  #009ce3; // #color
@brand-critical:              #ee7624; // #color

//--
@gray-base:                   #000; // #color
@gray-darker:                 @gray-900; // #color
@gray-dark:                   @gray-700; // #color
@gray:                        @gray-600; // #color
@gray-light:                  @gray-300; // #color
@gray-lighter:                @gray-200; // #color
@gray-lightest:               @gray-100; // #color
//--
@ui-2:                        @white;                        // Used for well and picker backgrounds. (Lightest UI Color) #color
@ui-3:                        @gray-100;                        // Modal footer background. #color
@ui-4:                        @gray-100;                        // Table, panel, well, and hr border color. #color
@ui-5:                        @gray-600;                        // Grid action button color. #color

// Text *show in editor* *advanced options*
@text-selection-background:   #bcd9ea;                      // Text selection background color (used when people select text with the mouse). #color
@text-selection-color:        inherit;                        // Text selection text color (used when people select text with the mouse).
@font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; // The base font to use for text. Be sure when defining this font that the various weights are configured.
@font-size-lg:                18px;
@font-size-base:              16px;       // The default text size.
@font-size-small:             14px;
@font-size-sm:                @font-size-small;
@font-size-xs:                12px;
@line-height-base:            1.5;                            // The default line height.
//--
@help-color-hex:              #3d70b2;                      // The color of the help icon used in Rock. #color
@required-field-color:        #d4442e;                      // Color of the small dot that denotes required fields. #color

@link-hover-decoration:       none;

// Theme Configuration *show in editor* *advanced options*
@badge-grid-width:            86px; // Width of the assessment grid icon badges.

// Text Conversion
@help-color:                  fade(@help-color-hex, 80%);

// Layers
@shadow-raised:               0 0 1px 0 rgba(0, 0, 0, .03), 0 1px 3px 0 rgba(0, 0, 0, .08);
@shadow-overlay:              0 4px 8px 0 rgba(0,0,0,.1);
@shadow-sticky-nav:           0 6px 12px 0 rgba(0,0,0,.1);
@shadow-temporary-nav:        0 8px 16px 0 rgba(0,0,0,.1);
@shadow-modal:                0 12px 24px 0 rgba(0,0,0,.1);


// Modals

@modal-header-background:     @gray-base;                     // The header color for modal dialogs. #color
@modal-footer-background:     @ui-3;                          // The header color for modal dialogs. #color
@modal-backdrop-background:   rgba(240, 243, 246, .5);      // The backdrop color that overlays the page when a modal is displayed. #color

@table-column-border-width:   0;                              // The size of the column borders on tables. Set to 1px to show column separators on the grid.

@modal-header-bg:             @modal-header-background;       // The header color for modal dialogs. #color
@modal-footer-bg:             @modal-footer-background;       // The header color for modal dialogs. #color
@modal-backdrop-bg:           @modal-backdrop-background;     // The backdrop color that overlays the page when a modal is displayed. #color

@modal-header-text-color:     @white;
@modal-header-small-top-offset:8px;
@modal-body-bg:               @white;
@modal-body-text-color:       @text-color;
@modal-dropshadow-color:      rgba(0,0,0,.6);
@modal-backdrop-opacity:      1;
@modal-footer-text-color:     @white;

@close-color:                 @gray-100;

@brand-primary:               @brand-color;

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

@padding-base-vertical:       6px;
@padding-base-horizontal:     16px;

@padding-large-vertical:      6px;
@padding-large-horizontal:    16px;

@padding-small-vertical:      8px;
@padding-small-horizontal:    12px;

@padding-xs-vertical:         4px;
@padding-xs-horizontal:       8px;

@line-height-large:           1.3333333;                      // extra decimals for Win 8.1 Chrome
@line-height-small:           16px;
@line-height-xs:              16px;

@input-padding-y:                       @padding-base-vertical;
@input-padding-x:                       12px;
@input-font-family:                     ~""; // LESS PORT: Sass version uses `null`;
@input-font-size:                       @font-size-base;
@input-font-weight:                     @font-weight-base;
@input-line-height:                     @line-height-base;

@input-padding-y-sm:                    @padding-small-vertical;
@input-padding-x-sm:                    @padding-small-horizontal;
@input-font-size-sm:                    @font-size-small;
@input-line-height-sm:                  @line-height-small;

@input-padding-y-lg:                    @padding-large-vertical;
@input-padding-x-lg:                    @padding-large-horizontal;
@input-font-size-lg:                    @font-size-large;
@input-line-height-lg:                  @line-height-large;

@input-height-inner:                    ((@input-line-height * 1em) (@input-padding-y * 2));
@input-height-inner-half:               ((@input-line-height * .5em) + @input-padding-y);
@input-height-inner-quarter:            ((@input-line-height * .25em) + (@input-padding-y / 2));

@state-warning-text:          #8a6d3b;
@state-warning-bg:            #fffae5;
@state-warning-border:        @brand-warning;
//--
@state-danger-text:           #e55235;
@state-danger-bg:             #fcf2f1;
@state-danger-border:         @brand-danger;

//--
@state-success-text:          #108043;
@state-success-bg:            #eaf6ef;
@state-success-border:        @brand-success;
//--
@state-info-text:             #31708f;
@state-info-bg:               #ecf9fd;
@state-info-border:           @brand-info;

//== Alerts
//
//## Define alert colors, border radius, and padding.

@alert-padding:               16px;
@alert-border-radius:         @border-radius-base;
@alert-link-font-weight:      bold;

@alert-success-bg:            @state-success-bg;
@alert-success-text:          @state-success-text;
@alert-success-border:        @state-success-border;

@alert-info-bg:               @state-info-bg;
@alert-info-text:             @state-info-text;
@alert-info-border:           @state-info-border;

@alert-warning-bg:            @state-warning-bg;
@alert-warning-text:          @state-warning-text;
@alert-warning-border:        @state-warning-border;

@alert-danger-bg:             @state-danger-bg;
@alert-danger-text:           @state-danger-text;
@alert-danger-border:         @state-danger-border;

@alert-validation-bg:         @alert-warning-bg;
@alert-validation-border:     @alert-warning-border;
@alert-validation-heading:    @state-danger-text;
@alert-validation-text:       @text-color;

// Helper Colors
@text-selection-bg:           @text-selection-background;


@navbartop-color:             @white;

@body-bg:                     @body-background;

@navbar-top-height:           80px;
@full-worksurface-offset:     (@navbar-top-height + 72px);

@input-height-small:             34px;
@input-height-xs:                (@line-height-xs + (@padding-xs-vertical * 2) + 2);

// Theme Defaults
@border-radius-base:          4px;                              // The global setting for rounding corners.
@border-radius-large:         6px;
@border-radius-small:         2px;

@btn-border-radius-base:         6px;
@btn-border-radius-large:        @btn-border-radius-base;
@btn-border-radius-small:        4px;

@input-border-radius:            6px;
@input-border-radius-large:      @input-border-radius;
@input-border-radius-small:      @input-border-radius;

//// Heading Sizes
@font-size-h1:                28px;        // ~36px
@font-size-h2:                24px;          // ~30px
@font-size-h3:                20px;       // ~24px
@font-size-h4:                18px;        // ~18px
@font-size-h5:                16px;
@font-size-h6:                14px;                // ~12px


// Page Areas

//// Header
@header-bg:                   @white;                         // The header background color. #color
@header-text-color:           @gray-base;                     // The header text color. #color


//// Page Title
@pagetitle-background:        @white;
@pagetitle-bg:                @pagetitle-background;          // The background color of the page title section. #color
@pagetitle-text-color:        @text-color;                    // The text color of the page title section. #color

//// Breadcrumbs
@breadcrumb-bg:               transparent;                    // Background color for the breadcrumbs. #color
@breadcrumb-color:            lighten(@theme-4-text, 20%);    // Text color for the breadcrumbs. #color
@breadcrumb-active-color:     @gray;                          // The color of the active item in the breadcrumbs. #color
@breadcrumb-separator:        @fa-var-chevron-right;          // Separator character in the breadcrumbs. (Uses FontAwesome)

//// Footer
@footer-bg:                   @header-bg;                     // The background color of the footer. #color
@footer-color:                @header-text-color;             // The text color of the footer. #color

//// Admin Bar
@adminbar-bg:                 @theme-2;                       // #color
@adminbar-text-color:         @theme-2-text;                  // #color
@configbar-font-size:         16px;

// Global Styles

@well-bg:                     @gray-100;                          // The background color for wells. Wells are used to group like content. #color
@well-border:                 @gray-300;
@photo-border:                @input-border;                  // Standard border color for photos. #color
@hr-border:                   @gray-300;                          // The color horizontal rule lines. #color
//--
@legend-color:                @gray-dark;                     // Text color for html legend element. The legend element is not used much in the core blocks (provided here for theme developers.) #color
@legend-border-color:         @input-border;                  // Border color for html legend element. The legend element is not used much in the core blocks (provided here for theme developers.) #color

//// Scroll Bars
@scroll-track-color:          #aaa;                         // Color of the scrollbar track line.
@scroll-thumb-color:          #ccc;                         // Color of the scrollbar thumb which moves up and down the track line.

//// Scroll Bars
@spinner-bg:                  @btn-primary-bg;                // The background color of the wait spinner.
@spinner-color:               @btn-primary-color;             // The bar color of the wait spinner.


// Control Variables
//// Inputs
@input-bg:                    @white;                         // The background color of input fields.
@input-bg-disabled:           @gray-100;                 // The background of inputs in a disabled state.
@input-color:                 @text-color;                          // The text color of inputs.
@input-border:                @gray-300;                    // The border color of inputs.
@input-border-radius:         @border-radius-base;            // The border radius of input fields.
@input-border-focus:          @brand-primary;                 // The border color of active inputs.

@input-focus-rgba:            lighten(@input-border-focus, 32%);
@input-focus-box-shadow:      ~"0 0 0 2px @{input-focus-rgba}";
@input-focus-transition:      ~"border-color .15s ease-in-out, box-shadow .15s ease-in-out";

@input-color-placeholder:        @gray-500;               // The text color of input placeholder text.
@input-group-addon-bg:           @gray-50;               // Used for pre (dollar signs, etc.) and post ( percent signs) input addons as well as picker backgrounds.
@input-group-addon-border-color: @input-border;           // Used for pre (dollar signs, etc.) and post ( percent signs) input addons as well as picker borders (highly recommended that you use the same color as the input border).


@form-group-margin-bottom:       12px;
@control-label-weight:           @font-weight-semibold;

@description-term-margin-top:             16px;
@description-term-margin-bottom:          0;

//// Picker
@picker-action-bg:            @gray-50;                          // The background color of the actions bar at the bottom of the picker dropdown.


//// Date Picker
@datepicker-highlight-bg:     @theme-7;                       // Background color for highlighting dates and selector elements of the datepicker.
@datepicker-highlight-color:  @theme-7-text;                  // Text color for highlighting dates and selector elements of the datepicker.

//// HTML Editor
@html-editor-toolbar-height:  34px; // Height of the Summernote toolbar. Used to prevent page repaint.


@custom-control-indicator-size: 20px;
@custom-control-indicator-offset: 2px;

//// Image Editor
@imageeditor-bg:              @photo-border;                  // The background for the image editor roll-over. This control is used to upload images.
@imageeditor-color:           contrast(@photo-border);        // The icon color for the image editor roll-over. This control is used to upload images.


// Panel
@panel-bg:                    @white;                         // The background color of the panel body.
@panel-body-padding:          24px;
@panel-heading-padding:       14px 24px;
@panel-heading-bg:            @gray-100;                 // The background color of the panel's header.
@panel-text:                  @text-color;                    // The text color of the panel.
@panel-border:                @gray-300;                          // The panel's border color.
@panel-top-border-color:      @panel-border;                          // Color of the panel's top border often used as an accent color.
@panel-border-radius:         @border-radius-base;            // Panel Border Radius subtracts 1, so set to 1 so there's not invalid CSS
@panel-subheading:            @ui-2;

@drawer-bg:                   @gray-50;                 // Renamed drawer-bg to panel-drawer-bg = Old Variable Name
@panel-drawer-bg:             @drawer-bg;         // Renamed drawer-bg to panel-drawer-bg = New Variable Name
@panel-badges-bg:             @white;

//--
@panel-heading-text-color:    @text-color;                      // The heading's text color.
@panel-heading-icon-color:    @gray-600;
@panel-heading-border:        @panel-border;              // The headings border color.
//--
@panel-following-active-color:#ffffff;
@panel-following-active-bg:   @brand-color;                   // The background color of the following square when it's active at the top of panels that support the following feature (e.g. Group Details block).
//--
@panel-options-margin:        -14px -24px -14px 10px;   // Inverse of @panel-heading-padding with margin on the left.
@panel-options-button-padding:      13px 12px 12px;

@panel-footer-bg:             @panel-bg;                      // The background color of the panel's footer.
@panel-footer-color:          @panel-text;                    // The color text of the panel's footer.


@panel-widget-text:                 @panel-heading-text-color;
@panel-widget-border:               @panel-border;
@panel-widget-heading-bg:           @gray-100;
@panel-widget-heading-border:       @panel-widget-border;

@panel-follow-offset-width:         60px;
@panel-follow-status-width:         50px;

// Grid
@grid-border-color:           @panel-border;                  // The border color of the grids cells.
@grid-padding:                8px;                            // The default padding of the grid cells.

//// Filter Section
@grid-filter-bg:              @panel-drawer-bg;              // The background color of the filter section of the grid.
@grid-filter-color:           @panel-heading-text-color;      // The text color of the filter section of the grid.

//// Grid Header
@grid-column-header-bg:                 @panel-subheading;    // The background color of the grid header.
@grid-column-header-text-color: @panel-heading-text-color;    // The text color of the grid header.
@grid-column-header-font-size:          14px;                 // The font size of the grid header.
@grid-column-header-font-weight:        @font-weight-semibold;// The font weight of the grid header.
@grid-column-header-border-color:       @grid-border-color;   // The border color of the grid header.
//--
@grid-column-header-bold-bg:            @grid-column-header-bg;         // Background color for bold table headers like the merge person page.
@grid-column-header-bold-color:         @grid-column-header-text-color;        // The text color for bold table headers like the merge person page.

//// Row Striping
@grid-row-odd-bg:             @panel-bg;                      // The even rows background color.
@grid-row-odd-color:          @text-color;                    // The even rows text color.
@grid-row-even-bg:            @gray-100;                      // The odd rows background color.
@grid-row-even-color:         @text-color;                    // The odd rows text color.

//// Hover
@grid-hover-bg:               rgba(85, 150, 230, .1);       // Row background color when hovered over.
@grid-hover-color:            inherit;                        // Row text color when hovered over.

//// Section Headers
@grid-section-bg:             @grid-column-header-bold-bg;                     // Some grids like the person merge grid have section headers to group like rows. This styles the background of these rows.
@grid-section-color:          @grid-column-header-bold-color;                  // Some grids like the person merge grid have section headers to group like rows. This styles the text of these rows.
@grid-section-font-size:      18px;
@grid-section-font-weight:    @font-weight-bold;

//// Pager Section
@grid-pager-bg:               @panel-subheading;
@grid-pager-color:            @panel-heading-text-color;
//--
@grid-pager-button-bg:                  transparent;
@grid-pager-button-color:               @text-color;
@grid-pager-button-border:              transparent;
@grid-pager-button-active-bg:           @gray-lightest;
@grid-pager-button-active-border:       @gray;
@grid-pager-button-active-color:        @gray;
@table-border-color:                    @grid-border-color;

//== Pagination
//
//##

@pagination-color:                      @gray-700;
@pagination-bg:                         transparent;
@pagination-border:                     @gray-300;

@pagination-hover-color:                @gray-500;
@pagination-hover-bg:                   transparent;
@pagination-hover-border:               @gray-300;

@pagination-active-color:               @pagination-color;
@pagination-active-bg:                  @gray-100;
@pagination-active-border:              @gray-300;

@pagination-disabled-color:             @gray-light;
@pagination-disabled-bg:                @white;
@pagination-disabled-border:            transparent;

//// Footer
@grid-footer-bg:                        @white;
@grid-footer-text-color:                @panel-heading-text-color;
@grid-footer-font-size:                 10px;
@grid-footer-font-weight:               300;
//--
@grid-footer-button-bg:                 transparent;
@grid-footer-button-text-color:         @gray-400;
@grid-footer-button-hover-text-color:   @gray-600;
@grid-footer-button-border:             @grid-footer-button-bg;

// Popover
@popover-title-bg:                      @panel-subheading;    // The background color for popovers

// Person Profile
//// Bio Bar
@persondetails-bio-bg:                  @white;
@persondetails-bio-color:               @text-color;
@persondetails-bio-action-color:        @white;
@persondetails-bio-action-bg:           @brand-color;
@persondetails-bio-action-border:       @brand-color;
@persondetails-bio-photo-border:        @ui-3;
@persondetails-bio-photo-following:     @text-color;

//// Badge Bar
@persondetails-badge-bg:                @gray-50;

@persondetails-badge-color-light:       @gray-300;
@persondetails-badge-color:             @gray-400;
@persondetails-badge-color-emphasis:    @gray-400;

//// Family Bar
@persondetails-familybar-bg:            @white;
@persondetails-familybar-color:         @text-color;
@persondetails-familybar-action-color:  @white;
@persondetails-familybar-action-bg:     #6a6a6a;
@persondetails-familybar-action-border: darken(@persondetails-bio-action-bg, 5%);
@persondetails-familybar-photo-bg:      darken(@persondetails-familybar-bg, 20%);

// Note Types

//// Alert / Highlight Note
@note-highlight-bg:           @alert-danger-bg;
@note-highlight-text:         @alert-danger-text;
@note-highlight-border:       @alert-danger-border;

//// Private / Personal Note
@note-personal-bg:            @white;
@note-personal-text:          @alert-info-text;
@note-personal-border:        @alert-info-border;

// Tooltip
@tooltip-header-bg:           @theme-8;
@tooltip-header-text-color:   @theme-8-text;

@tooltip-max-width:           240px;
@tooltip-color:               @text-color;
@tooltip-bg:                  @white;
@tooltip-opacity:             1;
@tooltip-arrow-width:         5px;
@tooltip-arrow-color:         @tooltip-bg;


//=== Shared nav styles
@nav-link-padding: 8px 12px;


//== Tabs
@nav-tabs-border-color:                        @gray-lighter;
@nav-tabs-link-hover-border-color:             @gray-lighter;

@nav-tabs-active-link-hover-bg:                @body-bg;
@nav-tabs-active-link-hover-color:             @gray;
@nav-tabs-active-link-hover-border-color:      @brand-primary;

@nav-tabs-justified-link-border-color:         @gray-light;
@nav-tabs-justified-active-link-border-color:  @body-bg;


//== Pills
@nav-pills-border-radius:               @border-radius-base;
@nav-pills-active-link-hover-bg:        @brand-color;
@nav-pills-active-link-hover-color:     @white;
@nav-pills-link-color:                  @text-color;          // The color of the none active pill link.
@nav-pills-link-bg:                     @gray-lightest;
@nav-pills-link-margin:                 12px;

// List As Blocks { Used on many administration pages and pages like 'My Workflows', 'Connections' and 'Calendar'. }
@listasblocks-bg:                       @gray-100;
@listasblocks-border-color:             @gray-300;
@listasblocks-color:                    @text-color;
@listasblocks-rollover-bg:              @gray-600;
@listasblocks-rollover-text-color:      @white;
@listasblocks-rollover-border-color:    @gray-700;
@listasblocks-active-bg:                darken(@listasblocks-bg, 45%);
@listasblocks-active-border-color:      darken(@listasblocks-active-bg, 10%);
@listasblocks-active-color:             @white;

// Tags { Styles for the tag control used on the person profile. }
@tag-bg:                                #9E9EA0;
@tag-text-color:                        @white;
@tag-border-radius:                     @border-radius-base;
@tag-bg-alt:                            #BCBCBD;

// Autocomplete Styles
@autocomplete-bg:                       @white;
@autocomplete-border:                   darken(@autocomplete-bg, 10%);
@autocomplete-text:                     @theme-4-text;
@autocomplete-rollover-bg:              #e5f2f7;                         // the background color of the rollover for autocompletes.
@autocomplete-rollover-color:           #0084b4;

// Smart Search
@smartsearch-bg:                          rgba(255, 255, 255, .1);
@smartsearch-border-color:                #2c2c2c;
@smartsearch-box-shadow:                  0 1px 2px rgba(0, 0, 0, .1) inset, 0 1px 0 rgba(255, 255, 255, .15);
@smartsearch-input-text-color:            @navbartop-color;
@smartsearch-input-selection-background:  #2e2e2e;
@smartsearch-input-selection-text-color:  @white;
@smartsearch-text-color:                  @navbartop-color;

// Wizard Styles { Used on pages like 'Calendar' and 'Event Registration' to help guide the user through a complex series of screens. }
@wizard-bg:                             @pagetitle-bg;
@wizard-item-bar-color:                 darken(@wizard-bg, 10%);
@wizard-item-bar-complete-color:        @nav-pills-active-link-hover-bg;
//--
@wizard-item-label-active-color:        @pagetitle-text-color;
@wizard-item-icon-active-color:         @white;
@wizard-item-icon-active-bg:            @nav-pills-active-link-hover-bg;
//--
@wizard-item-label-complete-color:      @wizard-item-label-active-color;
@wizard-item-icon-complete-color:       @wizard-item-icon-active-bg;
@wizard-item-icon-complete-bg:          @wizard-item-icon-active-color;
//--
@wizard-item-label-color:               @text-color;
@wizard-item-icon-color:                lighten(@text-color, 25%);
@wizard-item-icon-bg:                   @white;

// Tree Viewer
@tree-rollover-bg:            @gray-100;  // Background color of the rollover for items in the treeview.
@tree-rollover-color:         @text-color;             // Text color of the rollover for items in the treeview.
@tree-selected-bg:            #1589ee;                        // Background color of selected items in the treeview.
@tree-selected-color:         @text-color;                           // Text color of selected items in the treeview.
@label-tree-bg:               @gray-600;

// Buttons
@enable-btn-focus-outline:    true;
@btn-font-weight:             500;
//--
@btn-default-color:           @gray-800;
@btn-default-bg:              @white;
@btn-default-border:          @gray-300;
//--
@btn-primary-color:           @white;
@btn-primary-bg:              @brand-primary;
@btn-primary-border:          @btn-primary-bg;
//--
@btn-success-color:           @white;
@btn-success-bg:              @brand-success;
@btn-success-border:          @btn-success-bg;
//--
@btn-warning-color:           @white;
@btn-warning-bg:              @brand-warning;
@btn-warning-border:          @btn-warning-bg;
//--
@btn-danger-color:            @white;
@btn-danger-bg:               @brand-danger;
@btn-danger-border:           @btn-danger-bg;
//--
@btn-info-color:              @white;
@btn-info-bg:                 @brand-info;
@btn-info-border:             @btn-info-bg;
//--
@btn-action-color:            @white;
@btn-action-bg:               @gray-600;
@btn-action-border:           @btn-action-bg;
//--
@btn-security-color:          @btn-default-color;
@btn-security-bg:             @btn-default-bg;
@btn-security-border:         @btn-default-border;
//--
@btn-link-disabled-color:     @gray-light;

// Custom Alerts
@alert-default-bg:            @theme-6;
@alert-default-border:        darken(@alert-default-bg, 10%);
@alert-default-text:          @theme-6-text;

// Custom Labels { The bootstrap labels use the brand colors. }
@label-padding:               .333em 0.6em .4em;
@label-link-color:            inherit;

@label-default-bg:            @gray-200;
//** Primary label background color
@label-primary-bg:            @brand-primary;
//** Success label background color
@label-success-bg:            darken(@brand-success, 5%);
//** Info label background color
@label-info-bg:               @brand-info;
//** Warning label background color
@label-warning-bg:            #e2b503;
//** Danger label background color
@label-danger-bg:             @brand-danger;

@label-campus-bg:             #ebe9f1;                      // Used for identifying campuses.
@label-campus-color:          #766a81;
@label-type-bg:               @label-default-bg;                          // Used for showing the 'type' of an idea. For instance on the group viewer this highlights the group's type.


@badge-bg:                          @gray-500;
@badge-danger-bg:                   @brand-danger;
@badge-warning-bg:                  @brand-warning;
@badge-success-bg:                  @brand-success;
@badge-info-bg:                     @brand-info;
@badge-critical-bg:                 @brand-critical;

@badge-danger-color:                #ffffff;
@badge-warning-color:               #ffffff;
@badge-success-color:               #ffffff;
@badge-info-color:                  #ffffff;
@badge-critical-color:              #ffffff;

// Form States and Actions Colors


// Code
@code-color:                  #e83e8c;
@code-bg:                     transparent;
//--
@pre-bg:                      @gray-lightest;
@pre-color:                   @gray-dark;
@pre-border-color:            @panel-border;
@pre-scrollable-max-height:   340px;

// Dropdowns
@dropdown-bg:                    @white;
@dropdown-border:                rgba(0,0,0,.15);
@dropdown-fallback-border:       @gray-300;
@dropdown-divider-bg:            @gray-100;
//--
@dropdown-link-color:            @gray-dark;
@dropdown-link-hover-color:      darken(@gray-dark, 5%);
@dropdown-link-hover-bg:         @gray-100;
//--
@dropdown-link-active-color:     @component-active-color;
@dropdown-link-active-bg:        @component-active-bg;
//--
@dropdown-link-disabled-color:   @gray-light;
//--
@dropdown-header-color:          @gray-light;
//--
@dropdown-caret-color:           @link-color;

// Add Button focus shadow
.btn-outline-mixin(true) {
  .btn:focus,
  .btn:active:focus,
  .btn.active:focus,
  .btn.focus,
  .btn:active.focus,
  .btn.active.focus {
    outline: 0;
  }
  .button-variant(@color; @background; @border) {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);

    &:focus,
    &:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 @btn-focus-width fade(@border, 50%);
    }
  }
}
// stylelint-disable block-no-empty -- Required empty rule for false option
.btn-outline-mixin(false) { }
// stylelint-enable block-no-empty
.btn-outline-mixin(@enable-btn-focus-outline);
