// Theme Colors *show in editor*
@brand-color: #ee7725; // This is the primary brand color that will be used for the header, primary buttons and other accents. #color

@body-background: #f0f0f0; // The page background color. #color
@text-color: #545454; // The default text color. #color
@link-color: #4f89bd; // The color for all links. #color


@navbarside-background-color: #3a3935; // This is the background color for the right-hand menu. #color

@modal-header-background: #3a3935; // The header color for modal dialogs. #color
@modal-footer-background: #f1f1f1; // The header color for modal dialogs. #color
@modal-backdrop-background: #000; // The backdrop color that overlays the page when a modal is displayed. #color

@table-column-border-width: 0px; // The size of the column borders on tables. Set to 1px to show column separators on the grid.


// Text *show in editor*
@text-selection-background: #5eb9c1; // Text selection background color (used when people select text with the mouse). #color
@text-selection-color: #fff; // Text selection text color (used when people select text with the mouse). #color
@font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; // The base font to use for text. Be sure when defining this font that the various weights are configured.
@font-size-base: 16px; // The default text size.
@line-height-base: 1.428571429; // The default line height.
//--
@help-color: #86b8cc; // The color of the help icon used in Rock. #color
@required-field-color: #eca9a7; // Color of the small dot that denotes required fields. #color


// Bootstrap Colors *show in editor*
@brand-success: #7accbe; // #color
@brand-warning: #ffc870; // #color
@brand-danger: #ef6262; // #color
@brand-info: #8dcadf; // #color
@brand-critical: #ee7624; // #color

// Modals
@modal-header-bg: @modal-header-background; // The header color for modal dialogs. #color
@modal-footer-bg: @modal-footer-background; // The header color for modal dialogs. #color
@modal-backdrop-bg: @modal-backdrop-background; // The backdrop color that overlays the page when a modal is displayed. #color

@modal-header-text-color: #fff;
@modal-body-bg: #fff;
@modal-body-text-color: @text-color;
@modal-dropshadow-color: rgba(0,0,0,0.6);
@modal-backdrop-opacity: .3;
@modal-footer-text-color: #fff;



// Helper Colors
@text-selection-bg: @text-selection-background;
@navbarside-color: rgba(255, 255, 255, 0.8);
@navbarside-width: 100px;
@navbarside-sub-bg: lighten(@navbarside-background-color, 8%);

@navbartop-color: #fff;

@panel-bg: #fff; // The background color of the panel body.
@panel-heading-bg: #f7f7f7; // The background color of the panel's header.

@body-bg: @body-background;

@brand-primary: @brand-color; // #color
@brand-primary: @brand-color; // #color
@brand-success: #7ACCBE; // #color
@brand-warning: #FFC870; // #color
@brand-danger: #EF6262; // #color
@brand-info: #8dcadf; // #color
@brand-critical: #ee7624; // #color

@state-warning-text: #fff;
@state-warning-bg: @brand-warning;
@state-warning-border: @brand-warning;
//--
@state-danger-text: #fff;
@state-danger-bg: @brand-danger;
@state-danger-border: @brand-danger;
//--
@state-success-text: #fff;
@state-success-bg: @brand-success;
@state-success-border: @brand-success;
//--
@state-info-text: #fff;
@state-info-bg: @brand-info;
@state-info-border: @brand-info;

@navbar-top-height: 80px;
@pagetitle-background: #fff;

// Theme Defaults
@border-radius-base: 0; // The global setting for rounding corners.
@border-radius-large: @border-radius-base;
@border-radius-small: @border-radius-base;





//// Heading Sizes
@font-size-h1:            floor(@font-size-base * 2.60);    // ~36px
@font-size-h2:            floor(@font-size-base * 2.15);    // ~30px
@font-size-h3:            ceil(@font-size-base * 1.70);     // ~24px
@font-size-h4:            ceil(@font-size-base * 1.25);     // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil(@font-size-base * 0.85);     // ~12px


// Bootstrap Colors 

//// Bootstrap Colors {The primary colors defined by the Bootstrap framework. [More Information](http://getbootstrap.com/customize/#colors)}

//--
@gray-darker:            lighten(#000, 13.5%); // #color
@gray-dark:              lighten(#000, 20%);   // #color
@gray:                   lighten(#000, 33.5%); // #color
@gray-light:             lighten(#000, 46.7%); // #color
@gray-lighter:           lighten(#000, 93.5%); // #color

// Calculated Colors 
@link-hover-color:       lighten(@link-color, 15%); // The rollover color for all links. #color
@text-muted:             lighten(@text-color, 30%); // The muted color for text #color

// Page Areas 

//// Header
@header-bg:         @theme-3;       // The header background color. #color
@header-text-color: @theme-3-text;  // The header text color. #color
//--
@header-hambuger-color: #fff;               // The text color of the header minimizer. #color
@header-hambuger-bg: @brand-primary;        // The background color of the header minimizer. #color
@header-hamburger-border: @brand-primary;   // The border color of the header minimizer. #color

//// Main Navigation
@nav-bg: @theme-2;                                              // The background color of the main navigation. #color
@nav-color: @theme-2-text;                                      // The text color of the main navigation. #color
@nav-logo-bg: darken(@nav-bg, 5%);                              // The background color of the icon corner. #color
@nav-sub-color: @theme-2-text;                                  // The text color of the secondary navigation. #color
@nav-sub-title-color: @theme-1;                                 // The text color of the title on the secondary navigation. #color
@nav-sub-heading-color: darken(@theme-2-text, 20%);             // The text color of the heading on the secondary navigation. #color
@nav-sub-heading-border: fade(@nav-sub-heading-color, 35%);   // The border color of the heading on the secondary navigation. #color
@nav-sub-text-rollover-color: @nav-sub-color;                   // The text color on roll-over for the secondary navigation. #color
@nav-sub-text-rollover-bg: @nav-bg;                             // The background color for text on roll-over for the seconday navigation. #color

//// Page Title
@pagetitle-bg: @pagetitle-background;                // The background color of the page title section. #color
@pagetitle-text-color: @theme-4-text;   // The text color of the page title section. #color

//// Breadcrumbs
@breadcrumb-bg:               @theme-4;                     // Background color for the breadcrumbs. #color
@breadcrumb-color:            lighten(@theme-4-text, 20%);  // Text color for the breadcrumbs. #color
@breadcrumb-active-color:     @breadcrumb-color;            // The color of the active item in the breadcrumbs. #color
@breadcrumb-separator:        "/";                          // Separator character in the breadcrumbs.

//// Footer
@footer-bg: @header-bg;             // The background color of the footer. #color
@footer-color: @header-text-color;  // The text color of the footer. #color

//// Admin Bar
@adminbar-bg: @theme-2; // #color
@adminbar-text-color: @theme-2-text; // #color

// Global Styles 

@well-bg: @body-bg;                     // The backgroud color for wells. Wells are used to group like content. #color
@photo-border: @input-border;                // Standard border color for photos. #color
@hr-border: lighten(@text-color, 40%);  // The color horizontal rule lines. #color
//--
@legend-color:                   @gray-dark; // Text color for html legend element. The legend element is not used much in the core blocks (provided here for theme developers.) #color
@legend-border-color:            @input-border; // Border color for html legend element. The legend element is not used much in the core blocks (provided here for theme developers.) #color

//// Scroll Bars
@scroll-track-color: #aaa; // Color of the scrollbar track line.
@scroll-thumb-color: #ccc; // Color of the scrollbar thumb which moves up and down the track line.

//// Scroll Bars
@spinner-bg: @btn-primary-bg;       // The background color of the wait spinner.
@spinner-color: @btn-primary-color; // The bar color of the wait spinner.


// Control Variables
//// Inputs
@input-bg:                       #fff;                      // The background color of input fields.
@input-bg-disabled:              @gray-lighter;             // The background of inputs in a disabled state.
@input-color:                    @gray;                     // The text color of inputs.
@input-border:                   #ccc;                      // The border color of inputs.
@input-border-radius:            @border-radius-base;       // The border radius of input fields.
@input-border-focus:             rgba(238, 118, 36, .6);    // The border color of active inputs.
@input-color-placeholder:        lighten(@text-color, 40%); // The text color of input placeholder text.
@input-group-addon-bg:           @gray-lighter;                   // Used for pre (dollar signs, etc.) and post ( percent signs) input addons as well as picker backgrounds.
@input-group-addon-border-color: @input-border;             // Used for pre (dollar signs, etc.) and post ( percent signs) input addons as well as picker borders (highly recommended that you use the same color as the input border).

//// Picker
@picker-action-bg: @panel-heading-bg;     // The background color of the actions bar at the bottom of the picker dropdown.


//// Date Picker
@datepicker-highlight-bg: @theme-7;         // Background color for highlighting dates and selector elements of the datepicker.
@datepicker-highlight-color: @theme-7-text; // Text color for highlighting dates and selector elements of the datepicker.

//// Image Editor
@imageeditor-bg: @photo-border;              // The background for the image editor roll-over. This control is used to upload images.
@imageeditor-color: contrast(@photo-border); // The icon color for the image editor roll-over. This control is used to upload images.


// Panel
@panel-text:                  @text-color;                  // The text color of the panel.
@panel-border:                #e0e0e0;        // The panel's border color.
@panel-top-border-color:      darken(@panel-border, 10%);    // Color of the panel's top border often used as an accent color.
@panel-border-radius:         @border-radius-base;
//--

@panel-heading-text-color:    #6a6a6a;             // The heading's text color.
@panel-heading-border:        @panel-heading-bg;             // The headings border color.
//--
@panel-following-active-bg:   @brand-color;   // The background color of the following square when it's active at the top of panels that support the following feature (e.g. Group Details block).
//--
@panel-footer-bg:             @panel-bg;                 // The background color of the panel's footer.
@panel-footer-color:          @panel-text;              // The color text of the panel's footer.

// Grid
@grid-border-color: @panel-border;   // The border color of the grids cells.
@grid-padding: 8px;         // The default padding of the grid cells.

//// Filter Section
@grid-filter-bg: @panel-heading-bg;        // The background color of the filter section of the grid.
@grid-filter-color: @panel-heading-text-color; // The text color of the filter section of the grid.

//// Grid Header
@grid-column-header-bg: @panel-heading-bg;                        // The background color of the grid header.
@grid-column-header-text-color: @panel-heading-text-color;     // The text color of the grid header.
@grid-column-header-font-size: 14px;                    // The font size of the grid header.
@grid-column-header-font-weight: @font-weight-semibold; // The font weight of the grid header.
@grid-column-header-border-color: @grid-border-color;    // The border color of the grid header.
//--
@grid-column-header-bold-bg: darken(@panel-heading-bg, 30%);                   // Background color for bold table headers like the merge person page.
@grid-column-header-bold-color: #fff;             // The text color for bold table headers like the merge person page.

//// Row Striping
@grid-row-even-bg: @panel-bg;         // The even rows background color.
@grid-row-even-color: @text-color;  // The even rows text color.
@grid-row-odd-bg: #f5f5f5;         // The odd rows background color.
@grid-row-odd-color: @text-color;   // The odd rows text color.

//// Hover
@grid-hover-bg: desaturate( lighten(@brand-color, 42%), 30%);            // Row background color when hovered over.
@grid-hover-color: @text-color;     // Row text color when hovered over.

//// Section Headers
@grid-section-bg: @theme-4;          // Some grids like the person merge grid have section headers to group like rows. This styles the background of these rows.
@grid-section-color: @theme-4-text;  // Some grids like the person merge grid have section headers to group like rows. This styles the text of these rows.

//// Pager Section
@grid-pager-bg: @panel-heading-bg;
@grid-pager-color: @panel-heading-text-color;
//--
@grid-pager-button-bg: @panel-heading-bg;
@grid-pager-button-color: @text-color;
@grid-pager-button-border: darken(@grid-pager-button-bg, 15%);
@grid-pager-button-active-bg: lighten(@grid-pager-button-bg, 5%);

//// Footer
@grid-footer-bg: @panel-heading-bg;
@grid-footer-text-color: @panel-heading-text-color;
@grid-footer-font-size: 10px;
@grid-footer-font-weight: 300;
//--
@grid-footer-button-bg: darken(@grid-footer-bg, 5%);
@grid-footer-button-text-color: @text-color;
@grid-footer-button-border: darken(@grid-footer-bg, 15%);

// Popover
@popover-title-bg: @panel-heading-bg; // The background color for popovers

// Person Profile
//// Bio Bar
@persondetails-bio-bg: #fff;
@persondetails-bio-color: @text-color;
@persondetails-bio-action-color: #fff;
@persondetails-bio-action-bg: @brand-color;
@persondetails-bio-action-border: @brand-color;
@persondetails-bio-photo-border: lighten(@text-color, 40%);
@persondetails-bio-photo-following: @text-color;

//// Badge Bar
@persondetails-badge-bg: lighten(@body-background, 2%);
@persondetails-badge-color: lighten(@text-color, 20%);

//// Family Bar
@persondetails-familybar-bg: #fff;
@persondetails-familybar-color: @text-color;
@persondetails-familybar-action-color: #fff;
@persondetails-familybar-action-bg: #6a6a6a;
@persondetails-familybar-action-border: darken(@persondetails-bio-action-bg, 5%);
@persondetails-familybar-photo-bg: darken(@persondetails-familybar-bg, 20%);

// Note Types

//// Alert / Hightlight Note
@note-highlight-bg: @alert-danger-bg;
@note-highlight-text: @alert-danger-text;
@note-highlight-border: @alert-danger-border;

//// Private / Personal Note
@note-personal-bg: @alert-info-bg;
@note-personal-text: @alert-info-text;
@note-personal-border: @alert-info-border;

// Tooltip
@tooltip-header-bg: @theme-8;
@tooltip-header-text-color: @theme-8-text;
@tooltip-bg: @theme-8;

// Pills
@nav-pills-active-link-hover-bg:         @brand-color;
@nav-pills-active-link-hover-color:      #fff;
@nav-pills-link-color: @text-color;  // The color of the none active pill link.
//--
@nav-pills-container-bg:                @body-bg; // the background color for the well-pillwrap class used on the security dialog, communication mediums and template details.
@nav-pills-container-border:            darkend(@nav-pills-container-bg, 20%); // The border color of the well-pillwrap classed used on the security dialog, communication mediums and template details.

// List As Blocks { Used on many administration pages and pages like 'My Workflows', 'Connections' and 'Calendar'. }
@listasblocks-bg: #eee;
@listasblocks-border-color: darken(@listasblocks-bg, 10%);
@listasblocks-color: @text-color;
@listasblocks-rollover-bg: darken(@listasblocks-bg, 45%);
@listasblocks-rollover-text-color: #fff;
@listasblocks-rollover-border-color: darken(@listasblocks-rollover-bg, 5%);
@listasblocks-active-bg: darken(@listasblocks-bg, 45%);
@listasblocks-active-border-color: darken(@listasblocks-active-bg, 10%);
@listasblocks-active-color: #fff;

// Tags { Styles for the tag control used on the person profile. }
@tag-bg: #bababa;
@tag-text-color: #231f20;
@tag-border-radius: @border-radius-base;
@tag-dot-color: #fff;
@tag-bg-alt: lighten(@tag-bg, 15%);

// Autocomplete Styles
@autocomplete-bg: @body-bg;
@autocomplete-border: darken(@autocomplete-bg, 10%);
@autocomplete-text: @theme-4-text;
@autocomplete-rollover-bg: darken(@autocomplete-bg, 5);  // the background color of the rollover for autocompletes.

// Smart Search
@smartsearch-bg: rgba(255, 255, 255, .1);
@smartsearch-border-color: #2c2c2c;
@smartsearch-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.15);
@smartsearch-input-text-color: @header-text-color;
@smartsearch-input-selection-background: #2e2e2e;
@smartsearch-input-selection-text-color: #fff;
@smartsearch-text-color: @header-text-color;

// Wizard Styles { Used on pages like 'Calendar' and 'Event Registration' to help guide the user through a complex series of screens. }
@wizard-bg: @pagetitle-bg;
@wizard-item-bar-color: darken(@wizard-bg, 10%);
@wizard-item-bar-complete-color: darken(@wizard-item-bar-color, 10%);
//--
@wizard-item-label-active-color: @pagetitle-text-color;
@wizard-item-icon-active-color: @nav-pills-active-link-hover-color;
@wizard-item-icon-active-bg: @nav-pills-active-link-hover-bg;
//--
@wizard-item-label-complete-color: @wizard-item-label-active-color;
@wizard-item-icon-complete-color: @wizard-item-icon-color;
@wizard-item-icon-complete-bg: @wizard-item-icon-active-bg;
//--
@wizard-item-label-color: lighten(@wizard-item-label-active-color, 25%);
@wizard-item-icon-color: lighten(@wizard-item-icon-bg, 15%);
@wizard-item-icon-bg: darken(@wizard-bg, 10%);

// Tree Viewer
@tree-rollover-bg: lighten(@tree-selected-bg, 20%);         // Background color of the rollover for items in the treeview.
@tree-rollover-color: @tree-selected-color;      // Text color of the rollover for items in the treeview.
@tree-selected-bg: #6a6a6a;         // Background color of selected items in the treeview.
@tree-selected-color: #fff;      // Text color of selected items in the treeview.

// Buttons
@btn-font-weight:                normal;
//--
@btn-default-color:              @text-color;
@btn-default-bg:                 @body-bg;
@btn-default-border:             darken(@body-bg, 20%);
//--
@btn-primary-color:              #fff;
@btn-primary-bg:                 @brand-primary;
@btn-primary-border:             darken(@btn-primary-bg, 5%);
//--
@btn-success-color:              #fff;
@btn-success-bg:                 @brand-success;
@btn-success-border:             darken(@btn-success-bg, 5%);
//--
@btn-warning-color:              #fff;
@btn-warning-bg:                 @brand-warning;
@btn-warning-border:             darken(@btn-warning-bg, 5%);
//--
@btn-danger-color:               #fff;
@btn-danger-bg:                  @brand-danger;
@btn-danger-border:              darken(@btn-danger-bg, 5%);
//--
@btn-info-color:                 #fff;
@btn-info-bg:                    @brand-info;
@btn-info-border:                darken(@btn-info-bg, 5%);
//--
@btn-action-color:              @theme-8-text;
@btn-action-bg:                 @theme-8;
@btn-action-border:             darken(@btn-action-bg, 5%);
//--
@btn-security-color:            @btn-default-color;
@btn-security-bg:               @btn-default-bg;
@btn-security-border:           @btn-default-border;
//--
@btn-link-disabled-color:        @gray-light;

// Custom Alerts
@alert-default-bg: @theme-6; 
@alert-default-border: darken(@alert-default-bg, 10%); 
@alert-default-text: @theme-6-text;

// Custom Labels { The bootstrap labels use the brand colors. }
@label-campus-bg: #83758f;               // Used for identifing campuses.
@label-type-bg: @theme-8;  // Used for showing the 'type' of an idea. For instance on the group viewer this highlights the group's type.

// Form States and Actions Colors


// Code
@code-color:                  #c7254e;
@code-bg:                     #f9f2f4;
//--
@pre-bg:                      #f5f5f5;
@pre-color:                   @gray-dark;
@pre-border-color:            #ccc;
@pre-scrollable-max-height:   340px;

// Dropdowns
@dropdown-bg:                    #fff;
@dropdown-border:                rgba(0,0,0,.15);
@dropdown-fallback-border:       #ccc;
@dropdown-divider-bg:            #e5e5e5;
//--
@dropdown-link-color:            @gray-dark;
@dropdown-link-hover-color:      darken(@gray-dark, 5%);
@dropdown-link-hover-bg:         #f5f5f5;
//--
@dropdown-link-active-color:     @component-active-color;
@dropdown-link-active-bg:        @component-active-bg;
//--
@dropdown-link-disabled-color:   @gray-light;
//--
@dropdown-header-color:          @gray-light;
//--
@dropdown-caret-color:           @link-color;
