.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 0;
}

.rockbadge-container .taglist .tagsinput,
.rockbadge-container .taglist .tagsInput {
  gap: 4px 8px;
}

.rockbadge-container .taglist .tag {
  height: 24px;
  padding: 3px 12px 4px;
  margin: 0;
  font-weight: 600;
  color: #495057 !important;
  background-color: #F4F5F7;
}

.rockbadge-container .taglist .tag a {
  color: #495057 !important;
}

.object-fit {
  object-fit: cover;
}
.flex-1 {
  flex: 1 1 0;
  min-width: 50%;
}
@media (min-width: 768px) {
  .flex-1 {
    min-width: fit-content;
  }
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.profile-row {
  display: flex;
  align-items: center;
}
.profile-row + .profile-row {
  margin-top: 16px;
}
.profile-row-icon {
  width: 34px;
  margin-right: 8px;
  font-size: 18px;
  color: #ced4da;
  text-align: center;
}

.profile-row-icon a,
.profile-row-icon a:hover {
  color: #ced4da;
}
.profile-squish {
  position: relative;
  width: 100%;
  padding-bottom: 60%;
  border-radius: 4px 4px 0 0;
}
.profile-squish img {
  border-radius: 4px 4px 0 0;
}
.card-section dl.reversed-label {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.card-section dl.reversed-label dd {
  font-size: 14px;
  color: #6c757d;
}
.card-section dl.reversed-label dt {
  font-size: 16px;
  line-height: 1.3125;
  color: #343a40;
}
.card-section dl.reversed-label dt.d-none + dd {
  margin-top: 16px;
}
#page-content > .row {
  margin: 0;
}
.text-link {
  color: inherit;
}
.text-link:hover,
.text-link:focus {
  color: #005fb2;
}

.main-content {
  max-width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}
.add-note {
  display: block;
  height: 38px;
  padding: 6px 12px;
  color: #343a40;
  cursor: pointer;
  background: #f5f5f5;
  border: 1px solid #bcbcbd;
  border-radius: 4px;
  transition: all 200ms;
}
.add-note:hover {
  background: #fff;
  border-color: #dfe0e1;
}
.add-note:active,
.add-note:focus {
  height: 120px;
  background: #fff;
  border-color: #ee7725;
}


.card-profile-bio .person-name {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
}
.card-profile-bio .person-first-name {
  display: block;
  font-size: 14px;
  color: #6c757d;
}

.card-profile-bio.deceased .person-name::before {
  display: block;
  font-size: 14px;
  color: #d4442e;
  content: "Deceased";
}

.card-profile-bio-condensed .person-name {
  overflow: hidden;
  font-size: 24px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-phone {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 10px;
  margin-bottom: 4px;
  border: 1px solid transparent;
  border-radius: 6px;
}
.btn-phone .profile-row-icon {
  margin: 0 6px 0 auto;
  text-align: right;
  visibility: hidden;
}
.btn-phone.orig-enabled:hover {
  border-color: #e2e6e9;
}
.btn-phone.orig-enabled:hover .profile-row-icon {
  visibility: visible;
}
.profile-toggle {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px 4px 4px;
  color: #6c757d !important;
  border-radius: 4px;
}
.profile-toggle:hover {
  color: #6c757d;
  background: #eee;
}
.dropdown-family {
  font-size: 16px;
}
.dropdown-family .dropdown-header {
  padding: 2px 0;
  margin: 0 4px;
  margin-bottom: 8px;
  font-size: 12px;
  color: #6c757d;
  border-bottom: 1px solid #e9ecef;
}
.dropdown-family .avatar {
  margin-right: 8px;
}
.dropdown-family .dropdown-menu {
  min-width: 225px;
  max-height: 80vh;
  padding: 4px 4px 0;
  border-radius: 6px;
}
.dropdown-family .dropdown-menu > li > a {
  display: flex;
  align-items: center;
  padding: 4px;
  margin-bottom: 4px;
  border-radius: 4px;
}

