/* stylelint-disable */
/* stylelint-enable */
/*
    The accent colors are deprecated and should not be used in new theme development. They will be
    removed in Rock v 6.0.
*/
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 0;
}

.rockbadge-container .taglist .tagsinput,
.rockbadge-container .taglist .tagsInput {
  gap: 12px;
}

.rockbadge-container .taglist .tag {
  margin: 0;
  padding: 3px 12px 4px 12px;
  height: 24px;
  background-color: #F4F5F7 !important;
  color: #495057 !important;
  font-weight: 600;
}

.rockbadge-container .taglist .tag a {
  color: #495057 !important;
}

.object-fit {
  object-fit: cover;
}
.flex-1 {
  flex: 1 1 0;
  min-width: 50%;
}
@media (min-width: 768px) {
  .flex-1 {
    min-width: fit-content;
  }
}
.avatar,
.avatar::after {
  border-radius: 6px !important;
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.profile-row {
  display: flex;
  align-items: center;
}
.profile-row + .profile-row {
  margin-top: 16px;
}
.profile-row-icon {
  width: 34px;
  margin-right: 8px;
  font-size: 18px;
  color: #CED4DA;
  text-align: center;
}

.profile-row-icon a,
.profile-row-icon a:hover {
  color: #CED4DA;
}
.profile-squish {
  position: relative;
  width: 100%;
  padding-bottom: 60%;
  border-radius: 4px 4px 0 0;
}
.profile-squish img {
  border-radius: 4px 4px 0 0;
}
.card-section dl.reversed-label {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.card-section dl.reversed-label dd {
  font-size: 14px;
  color: #6c757d;
}
.card-section dl.reversed-label dt {
  font-size: 16px;
  color: #343a40;
  line-height: 1.3125;
}
.card-section dl.reversed-label dt.d-none + dd {
  margin-top: 16px;
}
#page-content > .row {
  margin: 0;
}
.text-link {
  color: inherit;
}
.text-link:hover,
.text-link:focus {
  color: #005fb2;
}

.main-content {
  max-width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}
.add-note {
  display: block;
  height: 38px;
  padding: 6px 12px;
  color: #343A40;
  cursor: pointer;
  background: #f5f5f5;
  border: 1px solid #bcbcbd;
  border-radius: 4px;
  transition: all 200ms;
}
.add-note:hover {
  background: #fff;
  border-color: #dfe0e1;
}
.add-note:active,
.add-note:focus {
  height: 120px;
  background: #fff;
  border-color: #ee7725;
}



.card-profile-bio .person-name {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  line-height: 1.4;
}
.card-profile-bio .person-first-name {
  display: block;
  font-size: 14px;
  color: #6c757d;
}

.card-profile-bio.deceased .person-name::before {
  font-size: 14px;
  color: #d4442e;
  content: "Deceased";
  display: block;
}

.card-profile-bio-condensed .person-name {
  font-size: 24px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* TODO RENAME and or Remove */
.family-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33333333%;
  padding: 0 12px;
  margin-bottom: 12px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}
.family-member .photo-link {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 8px;
}
.family-member .photo-link > * {
  border-radius: inherit;
}
.family-member .photo-link .photo-shadow {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}
.family-member .photo-link:hover .photo-shadow {
  background: rgba(0, 0, 0, 0.05);
}
.family-member .name-link {
  min-height: 30px;
  margin-top: 4px;
  color: #343A40;
}
.family-member .name-link .name {
  font-weight: 600;
}
.family-member .name-link .person-age {
  color: #6c757d;
}

.btn-phone {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 10px;
  margin-bottom: 4px;
  border: 1px solid transparent;
  border-radius: 6px;
}
.btn-phone .profile-row-icon {
  margin: 0 6px 0 auto;
  text-align: right;
  visibility: hidden;
}
.btn-phone.orig-enabled:hover {
  border-color: #e2e6e9;
}
.btn-phone.orig-enabled:hover .profile-row-icon {
  visibility: visible;
}
.profile-toggle {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px 4px 4px;
  color: #6c757d !important;
  border-radius: 4px;
}
.profile-toggle:hover {
  color: #6c757d;
  background: #eee;
}
.dropdown-family {
  font-size: 16px;
}
.dropdown-family .dropdown-header {
  padding: 2px 0;
  margin: 0 4px;
  margin-bottom: 8px;
  font-size: 12px;
  color: #6c757d;
  border-bottom: 1px solid #e9ecef;
}
.dropdown-family .avatar {
  margin-right: 8px;
}
.dropdown-family .dropdown-menu {
  min-width: 225px;
  max-height: 80vh;
  padding: 4px 4px 0;
  border-radius: 6px;
}
.dropdown-family .dropdown-menu > li > a {
  display: flex;
  align-items: center;
  padding: 4px;
  margin-bottom: 4px;
  border-radius: 4px;
}
.protection-profile {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1010;
  display: flex;
  justify-content: space-between;
  padding: 6px;
  color: #d4442e;
  text-align: right;
  border-top: 3px solid #d4442e;
  transition: background 0.2s ease-in-out;
}
.protection-profile .profile-label {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.protection-profile:hover {
  background: #fcf2f1;
}
.protection-profile:hover .profile-label {
  opacity: 1;
}
