
.page-background {   
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/footer/hero-careers.jpg");
}

#ternavbar-bg {
    display: flex;
}

#section-b-bg {
    background-color: #FFFFFF;
}

.open-positions-section {
    text-align: center;
}

.culture-features {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 992px) {
    .culture-features {
        flex-direction: row;
    }

    .feature {
        padding: 15px;
        max-width: 400px;
    }
}

@media screen and (min-width: 1200px) {
    .culture-features {
        justify-content: flex-start;
    }
}

.culture-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
}

.culture-images .multi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.culture-images img {
    padding: 10px;
    object-fit: cover;
}

@media screen and (max-width: 568px) {
    .culture-images {
        flex-direction: column;
    }
    .culture-images .multi {
        flex-direction: column;
    }

    .culture-images img {
        object-fit: contain;
    }

    .wide-img-only {
        display: none;
    }
}

#submit-resume-btn {
    width: 128px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
