.page-background {
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/footer/hero-careers.jpg");
}

#ternavbar-bg {
    display: flex;
}

.single-container {
    padding-top: 30px;
    text-align: center;
    line-height: 200%;
}

.feature h4, p{
    line-height: 200%;
}

.feature {
    width: 100%;
    padding-right: 20px;
    padding-bottom: 40px;
}

.culture-features { 
    justify-content: space-between;
}

.single-infoSection {
    min-height: 200px;
}

#section-b-bg,#section-d-bg {
	background-color: #ffffff;
}

.header-title {
    padding-top: 30px;
    padding-bottom: 30px;
}

.infoSections {
    display: flex;
}

#zone-tertiarynavbar {
    margin: 0;
}
/* .infoSection-mobile {
    display: none;
} */

.navigation-tertiary-items {
    padding-left: 150px;
}

@media screen and (max-width: 927px) {

    .single-container {
        margin-top: 0px;
        text-align: unset;
    }
    
    .header-title {
        display: inline-block;
 
    }

    .feature {
        width: 100%;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .culture-features p {
        font-size: 14px;
    }

    h4 {
        font-size: 18px;
    }

    .navigation-tertiary-items-slick {
        padding-left: 50px;
    }
}

@media screen and (max-width: 427px) {
    .infoSections {
        flex-direction: column;
    }

    /* .infoSection-mobile {
        display: flex;
        flex-direction: row;
    } */
}