.page-background {   
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/footer/hero-premarital.jpg");
}

/* Mobile Background Image */
@media screen and (max-width: 500px) {
    .page-background {
        background-image: url("/Themes/church_ccv_External_v8/Assets/Images/footer/hero-mobile-premarital.jpg");
    }
}

.premarital {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 30px;
}

.premarital-section, .premarital-section-contact {
    border-bottom: 2px solid #EEEEEE;
    padding: 10px 0;
}

.premarital-section-contact {
    border-bottom: unset;
}

.premarital-header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.premarital-header .event-campus-setter {
    margin-left: 100px;
}

.premarital-section p {
    font-family: heebo;
    font-size: 14px;
    line-height: 26px;
    color: #707270;
}

.premarital-contact {
    display: flex;
}

.contact-name p {
    font-size: 16px;
    font-weight: 900;
    color: #000;
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-bottom: 20px;
}

/* Mobile Styling */
@media screen and (max-width: 500px) {
    .premarital {
        margin: 0;
    }

    .premarital-policy {
        margin: 0;
    }

    .premarital-section h3 {
        margin-top: 0;
    }

    .premarital-contact {
        flex-direction: column;
    }

    .contact-info {
        margin-left: 0;
    }

    
    .premarital-header {
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
    }

    .premarital-header .event-campus-setter {
        margin-left: 0;
        width: 100%;
    }

    .premarital-header .navbar-nav>li>a {
        padding-top: 0;
        padding-bottom: 0;
    }
}
