<li>
    <a href="{{ PageListAsBlocks.id }}" {% if PageListAsBlocks.display-description != 'true' %} title="{{ PageListAsBlocks.description }}"{% endif %}>
        {% if PageListAsBlocks.icon-css-class != '' %}
            <i class="{{ PageListAsBlocks.icon-css-class }} icon-large"></i>
        {% endif %}
        <h3>{{ PageListAsBlocks.title }}</h3>
    </a>
</li>
