<li class="dropdown pagenav-item">
    
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="{{ PageNavTop.icon-css-class }}"></i>
        {{ PageNavTop.title }}
        <b class="caret"></b>
    </a>

    {% if PageNavTop.display-child-pages == 'true' %}
        {% if PageNavTop.pages != empty %}
            <ul class="dropdown-menu" role="menu">
                {% include 'PageNavSecond' with PageNavTop.pages %}
            </ul>
        {% endif %}
    {% endif %}
    
</li>
