// CMS ADMIN UI STYLE


// =============================================================
// Table of Content
//  + Zone Configuration
//  + Module Configuration
//  + Admin Footer
//  + Responsive Rules
// =============================================================


// TODO right now color is hard coded
// ========================== ZONE CONFIG  ==========================
.zone-instance.outline {
  position:     relative;
  min-width:    50px;
  min-height:   30px;
  &::after {
    position:   absolute;
    top:        0;
    right:      0;
    bottom:     0;
    left:       0;
    content:    "";
    border:     1px dotted #3e3e3c;
    outline:    1px dotted #fff;
  }
}
//======================== END ZONE CONFIG ========================


// ========================== MODULE CONFIG ==========================
.block-configuration,
.zone-configuration {
  position:       absolute;
  top:            0;
  z-index:        $zindex-modal - 1;
  display:        none;
  width:          26px;
  height:         26px;
  overflow:       hidden;
  cursor:         pointer;
  color:        #fff;
  background:   #0176d3;
  border-radius:  0;
}

.block-instance.outline {
  position:   relative;
  display:    block;
  min-height: 36px;
  clear:      both;

  &::after {
    position:       absolute;
    top:            0;
    right:          0;
    bottom:         0;
    left:           0;
    pointer-events: none;
    content: "";
  }

  &:hover::after {
    border: 1px solid #1b96ff;
  }
}

.config-bar {
  font-size:    var(--font-size-regular);
  line-height:  var(--line-height-normal);

  &,
  a {
    color: #fff !important;
  }

  a,
  .delete {
    display:          block;
    float:            left;
    width:            26px;
    padding:          1px 0 !important; // important to keep themes from changing this
    margin:           0 !important;      // important to keep themes from changing this
    text-align:       center;
    text-decoration:  none;
  }
}

.zone-configuration-bar,
.block-configuration-bar {
  position:     absolute;
  left:         24px;
  margin-right: -999em;
  margin-left:  6px;
  overflow:     hidden;

  div {
    display: inline;
  }

  span {
    display:        block;
    float:          left;
    padding-right:  12px;
    font-size:      10px;
    line-height:    26px;
  }

  .disabled {
    cursor:   default;
    opacity:  .5;
  }
}

.block-configuration-bar .btn {
  margin-right: 12px;
  color:      #fff;
  text-shadow:  none;
}
// ======================== END MODULE CONFIG ========================


// ========================== ADMIN FOOTER ==========================
#cms-admin-footer {
  position:     fixed;
  right:        0;
  bottom:       0;
  z-index:      $zindex-modal - 1;
  width:        100%;
  height:       36px;
  padding:      var(--spacing-small) 12px 0;
  margin-right: 0;
  color:      #fff;
  background:   var(--color-interface-stronger);
  border-color: var(--adminbar-bg); // TODO this should be darken by 10% using css mix() when available
  border-style: solid;
  border-width: 1px 1px 0;
  transition:   .5s;

  a.btn {
    font-size: var(--font-size-regular);
  }

  > span {
    display:        none;
    margin-top:     3px;
    margin-bottom:  var(--spacing-tiny);
    font-size:      12px;
    text-align:     center;
  }

  > span.label {
    margin-top: 1px;
  }

  > span.cms-admin-footer-property {
    padding:          0 6px;
    background-color: var(--adminbar-bg); /*TODO lightening this by 10% when css mix() is available*/
    border-radius:    var(--rounded-tiny);
  }

  a {
    color: #fff;
    text-decoration: none;  //Added to remove the underline of "Page Load Time:" span of the admin bar
  }

  a:hover {
    text-decoration: none;
  }

  .button-bar {
    margin-top:   calc(var(--spacing-small) * -1);
    margin-left:  12px;
    text-align:   center;
  }
}


#cms-admin-footer .button-bar a {
  background-color: transparent;
  background-image: none;
  border:           0;
}

#cms-admin-footer .btn {
  color:      #fff;
  text-shadow:  none;
  box-shadow:   none;
}
// ======================== END ADMIN FOOTER ========================


// ======================== RESPONSIVE RULES ========================
@media (min-width: $screen-small) {
  #cms-admin-footer {
    opacity: 0;

    &:hover {
      opacity: 1;
    }

    > span {
      display:    block;
      float:      left;
      text-align: left;
    }

    .button-bar {
      float: right;
    }
  }
}
