/*
    Used to manage styles for specific blocks.
    
    1. SQL Command - block to query database directly
    2. HTML Content - block to edit HTML on a page

*/

// 1. SQL Command
// -------------------------

.sql-comand
{
    .panel
    {
        margin-bottom: 24px;
    }
}

// 2. HTML Content
// -------------------------

.html-content-editor-panel .editor-buttons {
    float: right;
    margin-top: 6px;
}

.html-content-version-label
{
    background-color: lighten(@modal-header-bg, 20%);
    padding: 2px 8px;
    float: left;
    margin: 6px 0 0 16px;
    .border-radius(@border-radius-base);
    color: @modal-header-text-color;

    &:hover
    {
        color: inherit;
    }
}

.html-content-edit-header 
{
    padding: 6px 16px 0 16px;
}

.html-content-approve 
{
    float: right;
    margin-top: 4px;
}


/* CK Editor Tweaks */
span.cke_skin_kama
{
    padding: 0 !important;
}


// 3. Login Status
// -------------------------

.loginstatus {
    width: 160px;

    .dropdown-toggle {
        text-align: right;
        font-size: 11px;
    }

    .dropdown-menu {
        right: 0;
        font-size: 11px;
    }
}