/*
    Used to manage styles for specific blocks.

    1. Calendar - Styles for the calendar blocks
    2. 

*/
.calendar {
  padding: 0 10px 10px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}
.calendar-month {
  border: none;
  border-collapse: separate;
  border-spacing: 0;
}
.calendar-month a {
  text-decoration: none;
}
.calendar-month th {
  text-align: center;
}
/*
    table.calendar table.calendar-title,
    table.calendar table.calendar-title a {
        font-weight: bold;
        font-size: 14px;
        color: #6a6a6a;
    }

    table.calendar th.calendar-day-header {
        text-align: center;
        color: #6a6a6a !important;
    }
        table.calendar table.calendar-title td {
            padding: 10px 5px;
        }
    
    table.calendar td.calendar-last-month,
    table.calendar td.calendar-day {
        padding: 5px;
    }
    
        table.calendar td.calendar-last-month a {
            color: #dfdfdf !important;
            font-size: 12px;
        }
        
        table.calendar td.calendar-day a,
        table.calendar td.calendar-today a,
        table.calendar td.calendar-selected a {
            font-size: 14px;
            color: #6a6a6a;
        }

        table.calendar td.calendar-today {  
            background-color: #FCF8E3!important; 
        }

        table.calendar td.calendar-today a {
            color:#c09853 !important;
            font-weight:bold;
        }

        table.calendar td.calendar-today a:after {
            content:"TODAY"; 
            color:#000; 
            font-size:0.5em;
            pointer-events:none; 
            width:100%; 
            float:left;
        }

        table.calendar td.calendar-today a:hover {  
            background-color: #fcf8e3;  
        }

    */
