/*
  Used to manage styles for specific blocks.

  1. Connection Request Board

*/

// 1. Connection Request Board
// -------------------------

.connection-request-board {

  .modal-content.rock-modal .modal-header {
    color: @text-color;
    background: @modal-footer-bg;
  }

  .modal-content.rock-modal .modal-body {
    padding: 12px 24px;
  }

  .modal-content.rock-modal .modal-header .close {
    color: @text-muted;
  }

  .modal-content.rock-modal .modal-header small {
    font-size: 100%;
    margin-top: 7px;
  }
}
