/*
    Used to manage styles for specific blocks.

    1. User Registration - Styling for the user registration blocks
    2. Security Popup - Styling for the security pop-up window)

*/

// 1. User Registration
// -------------------------

.not-me 
{
    margin-left: 21px;
}

// 2. Security Popup
// -------------------------

.security-inherited {
	margin-top: 12px;
}

/*
    JME 7/23/2015
    .security {
    .nav.nav-pagelist {
        .nav.nav-pills {
            li {
                float: left; // lock security naviagtion to always be horizontal tabs
            }
        }
    }
}*/