/*
    Used to manage styles related to the person details page
    
    1. Page Styles
    2. Header
    3. Badge Bar
    4. Family Bar
    5. Page Tabs
    6. Styles to Tab Pages
    7. Edit Family Page
    8. Add Family Page
    9. Fluidbox
    10. Responsive Overrides
    11. Person Merge
*/

// 1. Page Styles
// -------------------------

.personprofile { // offset pageheader margin
    margin-top: -@spacing-md-px;

    small { // lighten up small elements a bit 
        color: lighten(@text-color, 30%);
    }
}

// 2. Header
// -------------------------

.personprofilebar-bio {
    background-color: @accent-light-color;
    border-bottom: 1px solid darken(@accent-light-color, @const-border-darken-amt);
    padding: @spacing-md-px;

    .name {
        text-align: center;
    }

    .labels {
        margin-bottom: @spacing-sm-px;
        text-align: center;
    }

    .actions { // edit individual button
        position: absolute;
        right: 12px;
        margin-top: 35px;
    }

    .photo {
        padding: 5px 5px 5px 5px;
        background-color: #fff;
        border: 1px solid #bdbdbd;
        display: table;
        max-width: 200px;
        margin: 0 auto;

        img {
            width: 100%;
            height: auto;
        }
    }

    .taglist {
        margin-top: @spacing-sm-px;
    }

    .demographics {
        margin-top: @spacing-lg-px;
        text-align: center;
    }

    .personcontact {
        text-align: center;
        margin-top: @spacing-md-px;
    }

}


// 3. Badge Bar
// -------------------------

.personprofilebar-badge
{
    background-color: @accent-color;
    min-height: 67px;
    border-bottom: 1px solid darken(@accent-color, @const-border-darken-amt);

    .badge-group {
        margin: @spacing-sm-px 0;
        text-align: center;

        .badge { 
            background-color: inherit;
        }
    }
}

.badge-baptism {
    color: #23a5c5;
}

.badge-icon {

    font-size: 45px;

    &.badge-disabled {
        opacity: 0.3;
    }
}



.badge-attendance {
    ul.badge-attendance-chart { //http://codepen.io/Victa/pen/xDqbf
        display: table;
        table-layout: fixed;
        width: 100%;
        height: 40px;
        margin: 0 auto;

        li {
            position: relative;
            display: table-cell;
            vertical-align: bottom;
            height: 40px;
        
            span {
                margin: 0 1px;
                display: block;
                background: @accent-bold-color;
                position: absolute;
                bottom: 0;
                width: 90%;
            }
        }
    }

    &.annimate {
        ul.badge-attendance-chart li span {
            -webkit-animation: bar-grow 1s ease-in-out;
            -moz-animation: bar-grow 1s ease-in-out;
            -o-animation: bar-grow 1s ease-in-out;
            animation: bar-grow 1s ease-in-out;
        }
    }
}

.badge-ingroupoftype {
    width: 45px;
}

.badge-attendingduration {
    position: relative;
    color: #686576;

    .duration-metric {
        &:before {
            font-family: FontAwesome;
            content: @fa-var-circle;
            color: #d0db25;
            font-size: 45px;
        }

        &.duration-months:before {
            color: #49b039;
        }

        &.duration-years:before {
            color: #3971b0;
        }

        &.duration-new:before {
            color: #db2525;
        }

        .metric-value {
            font-size: 20px;
            position: absolute;
            left: 11px;
            top: 14px;
            font-weight: @font-weight-bold;
            color: #fff;
            line-height: 12px;
            width: 30px;
            text-align: center;
        }

        .metric-unit {
            font-size: 11px;
            font-weight: normal;
            display: block;
        }

        &.duration-new .metric-value {
            font-size: 14px;
            font-weight: @font-weight-semibold;
            top: 18px;
        }
    }
}

.badge-weeksattendanceduration {
    .weeks-metric {

        position: relative;
        color: #686576;

        &:before {
            font-family: FontAwesome;
            content: @fa-var-square;
            color: @brand-warning;
            font-size: 45px;
        }

        .weeks-attended {
            position: absolute;
            top: 7px;
            left: 3px;
            font-weight: @font-weight-bold;
            font-size: 20px;
            letter-spacing: -2px;
            display: block;
            width: 18px;
            text-align: center;
        }
        .week-duration {
            position: absolute;
            bottom: 10px;
            right: 4px;
            font-weight: @font-weight-semibold;
            font-size: 11px;
        }
    }
}

@-webkit-keyframes bar-grow {
  0% {
    height: 0;
    opacity: 0;
  }
}

@-moz-keyframes bar-grow {
  0% {
    height: 0;
    opacity: 0;
  }
}

@-o-keyframes bar-grow {
  0% {
    height: 0;
    opacity: 0;
  }
}

@keyframes bar-grow {
  0% {
    height: 0;
    opacity: 0;
  }
}


// 4. Family Bar
// -------------------------

.personprofilebar-family {
    background: @accent-color;
    padding: 12px 0;
    border-bottom: 1px solid darken(@accent-color, @const-border-darken-amt);

    .actions { // edit family button
        position: absolute; 
        right: 12px; 
        z-order: 99;
    }

    header {
        font-size: 16px;
        margin-bottom: @spacing-sm-px;
    }
    

    .addresses ul {
        list-style: none;
        margin: 0;

        li {
            display: block;
            clear: both;
            margin-bottom: @spacing-md-px;
            &:last-child { margin-bottom: 0; }
        }

        h4 {
            margin: 0;
            font-size: 14px;
            font-weight: @font-weight-semibold;
        }

        .address {
            .actions {
                a {
                    padding: 1px;
                }
            }
        }

        & a.map,
        & div.actions,
        & div.address {
            float: left;
            margin-right: 12px;
        }
    }
}



// 5. Page Tabs
// -------------------------

.pagetabs
{
    margin-top: 12px;

    .nav {
        margin: 10px 0;
    }
}


// 6. Edit Family Page
// -------------------------
.editfamily-list {
    
    li.member {
        max-width: 200px;

        .radio { // put adult/child radios side by side
            width: 65px;
            float: left;
            margin-top: 0;
        }
    }
    
    
}

// 7. Styles for Page Tabs
// -------------------------

// history page
span.field-name {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #515151;
    background-color: #d9e1e8;
    white-space: nowrap;
    border-radius: 4px;
}

span.field-value {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #515151;
    background-color: #d9e1e8;
    white-space: nowrap;
    border-radius: 4px;
}

// 8. Add Families
// -------------------------

.table-familymembers .radio:first-child {
    margin-top: 0;
}

// 9. Fluidbox
// -------------------------

#fluidbox-overlay {
    background: @modal-backdrop-bg;
}


// 10. Responsive Overrides
// -------------------------

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min), print {
    
    // bio bar
    .personprofilebar-bio {
        
        .name {
            text-align: left;
        }
        
        .labels {
            text-align: right;
        }

        .photo {
            margin: 0;
        }

        .taglist {
            margin-top: 0;
        }

        .demographics {
            text-align: left;
        }

        .personcontact {
            text-align: left;
        }
    }

    .personprofilebar-badge {
        .badge-group {
            text-align: left;

            &:last-child {
                text-align: right;
            }
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
 
    // bio bar
    .personprofilebar-bio {
        .personcontact {
            margin-top: 0;
        }
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}

// 11. Person Merge
// -------------------------

.merge-personselect {
    
    vertical-align: top !important;

    .merge-header-summary {
        margin-left: 20px;
    }

    .radio-inline {
        font-size: 16px;
        font-weight: @font-weight-bold;
    }

    small {
        color: darken(@accent-bold-text-color, 15%);
    }

    .merge-heading-family {
        span {
            display: block;
        }

        margin-bottom: 12px;
    }
}

.merge-photo {
    border: 3px solid @accent-bold-color;
}