/*
    Used to manage styles for specific blocks.

    1. HTML Content - block to edit HTML on a page
    2. My Account - Used on external sites for setting person details
    3. Lava Debug - Used to style the lava debug panel
*/


// 1. HTML Content
// -------------------------

.htmlcontent-edit-header {
    padding: @spacing-sm-px @spacing-md-px 0 @spacing-md-px;

    .html-content-approve {
        float: right;
        margin-top: 4px;
    }
}

.codeeditor-header {
    .picker-mergefield {
        float: right;
    }
}


// 2. My Account
// -------------------------
.my-account {
    margin-bottom: @spacing-md-px;
    
    .photo img {
        width: 100%;
    }
}

// 3. Lava Debug
// -------------------------
.lava-debug {
    clear: both;
    margin-top: 24px;

    code {
        background-color: darken(@state-info-bg, 5%);
        color: @state-info-text;
    }

    p {
        margin-bottom: 10px;
        font-weight: normal !important;

        &.attributes {
            margin-bottom: 0;
        }
    }

    .lava-debug-key {
        font-weight: @font-weight-semibold;
    }

    .panel.panel-lavadebug {
        border: 0;

        .panel-heading {
            background-color: darken(@state-info-bg, 3%);
            color: @state-info-text;
            border: 0;
            cursor: pointer;

            &.collapsed i:before {
                content: "\f078";
            }
        }

        .panel-body{
            background-color: lighten(@state-info-bg, 3%);
            
        }
    }

}