/*
    Used to manage styles for specific blocks.

    1. Communication Entry 
    2. Communication Detail 
    3. Communication Wizard

*/

// 1. Communication Entry
// -------------------------

.recipients {
  .recipient {
    float: left;
    width: 100%;
    @media (min-width: @screen-sm-min) {
      width: 50%;
    }
    @media (min-width: @screen-md-min) {
      width: 25%;
    }

    &.failed {
      color: @brand-danger;
    }

    &.opened {
      color: @brand-success;
    }
  }
}


// 2. Communication Detail
// -------------------------
iframe.email-body {
  width: 100%;
  height: 300px;
  background-color: #fff;
  border: 1px solid @panel-border;
}


// 3. Communication Wizard
// -------------------------

.communication-template {
  position: relative;
  display: block;
  height: 192px;
  padding: 15px;
  margin-bottom: 24px;
  overflow: hidden;
  color: @text-color;
  border: 1px solid var(--panel-border);
  outline-offset: -1px;

  &:focus,
  &:hover {
    color: @text-color;
    outline: 2px solid @alert-info-border;
  }

  label {
    font-size: 16px;
  }

  &.template-selected {
    outline: 2px solid @alert-info-text;

    &:hover {
      outline: 2px solid @alert-info-text;
    }

    &::before {
      position: absolute;
      top: -4px;
      left: 8px;
      z-index: 1;
      font-family: @fa-font-face;
      font-size: 36px;
      font-weight: @fa-theme-weight;
      color: @alert-info-text;
      content: @fa-var-check-circle;
    }
  }
}

.step-title {
  margin-top: 0;
}
