/*
    Used to manage styles for specific blocks.

    1. HTML Content - block to edit HTML on a page

*/


// 1. HTML Content
// -------------------------

.htmlcontent-edit-header {
    padding: @spacing-sm-px @spacing-md-px 0 @spacing-md-px;

    .html-content-approve {
        float: right;
        margin-top: 4px;
    }
}
