/*
    Used to manage styles for specific blocks.

    1. Prayer Session
    2. 

*/

// 1. Prayer Session
// -------------------------

.prayer-session
{
    .panel-note {
        border: 0;
        box-shadow: none;

        > .panel-body {
            padding: 0;
        }
    }
}

