/*
  Used to manage styles for specific blocks.

  1. Notes - block to display, add, edit, delete notes
  2. Schedule Builder - block for building schedules
  3. Workflow - styles for workflow blocks

*/

// Fullscreen Toggle

.rock-fullscreen-toggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: inline-flex; /* make element size relative to content */
  align-items: center; /* vertical alignment of items */
  justify-content: center;
  width: 50px;
  padding: 0 10px; /* horizontal with padding-l/r */
  line-height: 40px; /* vertically size by height, line-height or padding */
  color: @text-color;
  text-align: center;
  cursor: pointer;
  border-left: 1px solid @panel-border;
  opacity: .5;
  transition: .2s;

  &:hover {
    font-size: 110%;
    color: @text-color;
    opacity: .75;
  }

  &::before {
    font-family: @fa-font-face;
    font-weight: @fa-theme-weight;
    text-align: center;
    content: @fa-var-expand;
  }

  .is-fullscreen & {
    color: @text-color;
    &::before {
      content: @fa-var-compress;
    }
  }
}


// 1. Notes
// -------------------------
.panel-note {
  border-top-color: @panel-top-border-color;
  // panel extensions    ->      .panel-variant(@border; @heading-text-color; @heading-bg-color; @heading-border;) {}

  .panel-variant(@panel-border; @panel-heading-text-color; @panel-heading-bg; @panel-heading-border;);

  .panel-body {
    padding: 0;
    background-color: #fff;
  }

  .panel-heading {
    h3 {
      float: left;
    }

    .btn {
      float: right;
      margin: 0;
    }
  }
}

.tag-flair {
  position: relative;
  display: inline-block;
  margin-left: 4px;
  font-size: 12px;
  line-height: 1;
  text-transform: capitalize;
  vertical-align: top;

  .tag-color {
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 2px 5px 0 1px;
    background-color: #999;
    border-radius: 50%;
  }

  .tag-label {
    position: relative;
    font-size: 12px;
    line-height: 12px;
    color: @text-muted;
    white-space: nowrap;
  }

  .tag-color + .tag-label {
    margin-left: 14px;
  }
}


.load-more-container {
  margin: 16px;
  text-align: center;
}

.avatar {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  line-height: 1;
  color: #fafafa;
  vertical-align: middle;
  border-radius: 50%;

  img {
    max-width: 100%;
    height: auto;
  }

  &-xl {
    width: 60px;
    height: 60px;
  }

  &-lg {
    width: 48px;
    height: 48px;
  }

  &-sm {
    width: 24px;
    height: 24px;
  }

  &-xs {
    width: 20px;
    height: 20px;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    content: "";
    border: 1px solid rgba(0,0,0,.0975);
    border-radius: 50%;
  }
}

.icon {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  font-size: 24px;
  line-height: 1;
  color: @text-muted;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;

  &-lg {
    width: 48px;
    height: 48px;
    padding-top: 5px;
    font-size: 32px;
  }

  &-sm {
    width: 24px;
    height: 24px;
    font-size: 20px;
  }

  &-xs {
    width: 20px;
    height: 20px;
    font-size: 16px;
  }
}


.meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  p {
    margin-bottom: 0;
    line-height: 1.3;
  }

  .timestamp {
    display: inline-block;
    font-size: 12px;
    line-height: 1.3;
    color: @text-muted;
    vertical-align: top;
  }

  .meta-figure {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 12px;
  }

  .meta-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;

    .flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex: 1 1 0%;
      flex: 1 1 0%;
      -ms-flex-pack: justify;
      justify-content: space-between;
      min-width: 0;
      -webkit-box-pack: justify;
      -webkit-box-flex: 1;
    }

    .dropdown .dropdown-menu {
      right: 0;
      left: auto;
    }

    .btn-overflow {
      height: @font-size-base;
      padding: 0;
      line-height: @font-size-base;
      color: @gray-light;
      &:hover,
      &:focus {
        color: @gray;
      }
    }
  }
}

.note-view-list {
  margin: 0;
  > .note:last-child {
    padding-bottom: 0;
    .note-comments {
      border-bottom: 0;
    }
  }
}

.note {
  border-top: 1px solid @panel-border;
  .flag {
    padding: 6px 8px;
    margin: -12px -12px 8px;
    color: @brand-danger;
    background: @state-danger-bg;
    border-left: 5px solid @brand-danger;
    @media @sm {
      padding: 6px 23px;
      margin: -12px -16px 12px;
    }

    &.warning {
      color: @state-warning-text;
      background: @state-warning-bg;
      border-left-color: @brand-warning;
    }
  }

  article {
    padding: 12px 12px 2px;
    @media @sm {
      padding: 12px 16px 20px;
    }
    &.is-alert {
      box-shadow: inset 5px 0 0 0 @brand-danger;
    }

    &.is-personal {
      box-shadow: inset 5px 0 0 0 @brand-info;
    }
  }

  .note-comments {
    background: @ui-3;
    border-top: 1px solid @panel-border;
  }

  .meta {
    margin-bottom: 6px;
    @media @sm {
      margin-bottom: 12px;
    }
  }

  .note-content {
    @media @sm {
      margin: 0 0 24px 60px;
    }

    p {
      margin: 0;
    }
  }

  .note-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 0 0 60px;
    font-size: 12px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;

    &-actions-list {
      -ms-flex-order: 1;
      -ms-flex-order: 0;
      -ms-flex-pack: justify;
      justify-content: space-between;
      order: 0;
      text-align: center;
      -webkit-box-pack: justify;
      -webkit-box-ordinal-group: 1;
    }

    &-meta-list {
      margin-bottom: 0;
      margin-left: auto;

      > li > .btn {
        padding: 0;
        margin-left: 32px;
        font-size: 12px;
        color: @text-muted;

        i {
          margin-right: 4px;
        }

        &:hover {
          color: @link-color;
        }
      }
    }
  }

  &-nested {
    > .note-list-nested {
      margin-left: 16px;

      @media @sm {
        margin-left: 44px;
      }
    }
  }
}

.note-list-nested {
  margin-left: 0;

  @media @sm {
    margin-left: 60px;
  }

  > .note:first-child {
    border-top: 0;
  }

  .note-content,
  .note-footer {
    margin-left: 44px;
  }
}

.note-editor {
  margin: 8px 0;

  .meta-body {
    border: 1px solid @input-border;
    &:focus,
    &:focus-within,
    &.focus-within {
      border: var(--focus-state-border);
      box-shadow: var(--focus-state-shadow);
    }
  }

  .noteentry-control .form-control {
    border: 0;
    &:focus {
      border: 0;
      box-shadow: none;
    }
  }

  .settings {
    padding: 3px 12px 6px;
    background: @input-bg;

    .createDate {
      float: left;

      .date-time-picker {
        margin-bottom: 0;

        .input-group {
          margin-bottom: 0;
        }

        .control-label {
          display: none;
        }

        .form-control {
          height: 30px;
          padding: 5px 10px;
          font-size: 12px;
        }

        .date {
          width: 130px;
        }

        .bootstrap-timepicker {
          width: 120px;
        }

        .input-group-addon {
          padding: 0 12px;
        }

      }
    }

    .noteentry-notetype {
      float: left;
      width: auto;
      max-width: 200px;
      height: 30px;
      font-size: 12px;
      line-height: 30px;
    }
    .checkbox {
      float: left;
      margin: 3px 5px 0 10px !important;
      font-size: 12px;
      line-height: 24px;
    }

    .commands {
      float: right;

      > .btn {
        margin-left: 8px;
      }
    }
  }
}

// Fixes note-editor name conflict with Summernote and Timeline note
.note-list .note-editor {
  margin: 8px 16px;
}

.noteentry-control {
  textarea {
    .resizable(vertical);
  }
}


// 2. Schedule Builder
// -------------------------

.recurrence-pattern-type {
  padding-left: @spacing-lg-px;
  margin-top: 12px;
}

.recurrence-pattern-specific-date {
  .clearfix();

  .input-group {
    float: left;
  }

  .actions {
    float: left;
    margin-top: 4px;
    margin-left: 12px;
  }
}

.recurrence-pattern-daily {
  .form-control-group {
    min-height: @spacing-lg-px;
  }
}

.recurrence-pattern-weekly {
  .week-days {
    margin-top: @spacing-md-px;

    .clearfix();

    .checkbox {
      float: left;
      margin: 0 @spacing-md-px;
    }
  }
}

.recurrence-pattern-monthly {
  .form-control-group {
    display: block;
    min-height: 40px;
  }
}

.continue-until {
  .form-control-group {
    min-height: 40px;
  }
}

.exclusions {
  .add-exclusion {
    .form-control-group {
      float: left;
    }

    .actions {
      float: left;
      margin-top: 5px;
    }
  }
}

// 3. Workflow
// -------------------------

.workflow-section-activities {
  margin-top: 64px;
}

.workflow-activities-readonly-header {
  top: auto;
  left: auto;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  color: #515151;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.panel.workflow-activity {
  &.activated-with-workflow {
    border-color: @state-success-text;

    & > .panel-heading {
      color: @state-success-text;
      background-color: @state-success-bg;

      a.btn-link {
        color: @state-success-text;
      }

      .label-default {
        background-color: @label-success-bg;
      }
    }
  }

  .panel-title::before {
    margin-right: 4px;
    font-family: @fa-font-face;
    font-weight: @fa-theme-weight;
    content: @fa-var-cubes;
  }
}

.workflow-action {
  .workflow-action-name::before {
    font-family: @fa-font-face;
    font-weight: @fa-theme-weight;
    content: @fa-var-cube;
  }

  .criteria-exists {
    color: @btn-warning-color;
    background-color: @btn-warning-bg;
    border: 1px solid @btn-warning-border;
  }

  .conditional-run-criteria {
    padding: 15px 0 10px;
    margin: -15px -16px 15px;
    border-style: solid;
    border-width: 1px;
  }

  .form-action-rows .form-row {
    margin-bottom: 15px;
  }
}

// panel for workflow entry/navigation
.panel-group {
  .panel-workflowitem {
    margin-bottom: 30px;
    .panel-variant(@panel-border; @panel-heading-text-color; @panel-heading-bg; @panel-heading-border;);

    &:hover {
      background-color: #fff;
    }

    .panel-heading {
      padding: 30px;

      a {
        display: block;

        .panel-title {
          width: 100%;

          h3 {
            margin: 0;

            i {
              margin-right: 12px;
              font-size: 35px;
            }
          }
        }


        i.panel-navigation {
          margin-top: 8px;

          &::before {
            margin-top: 6px;
            font-family: @fa-font-face;
            font-size: 20px;
            font-weight: @fa-theme-weight;
            content: @fa-var-chevron-up;
          }
        }

        &.collapsed {
          i.panel-navigation::before {
            content: @fa-var-chevron-down;
          }
        }
      }
    }
  }
}
