/*
    Used to manage styles for specific blocks.

    1. HTML Content - block to edit HTML on a page

*/


// 1. HTML Content
// -------------------------

.htmlcontent-edit-header {
    padding: 6px 16px 0 16px;

    .html-content-approve {
        float: right;
        margin-top: 4px;
    }
}
