// Note: we're using !important overrides to avoid having to write a custom ck editor theme

// 1. CK Window Styles
// -------------------------

.cke_dialog_contents {
    background-color: @body-bg !important;
}

.cke_dialog_title {
    box-shadow: none !important;
    background-image: none !important;
    text-shadow: none !important;
    background-color: @modal-header-bg !important;
    color: @modal-header-text-color !important;
    padding: 10px 15px !important;
    min-height: 24px !important;
    font-weight: @font-weight-semibold !important;
    font-size: 24px !important;
    font-family: @font-family-base !important;
}

.cke_dialog_close_button {
    background-image: none !important;
    height: 24px;
    width: 24px;
    right: 25px !important;

    .cke_label {
        display: block !important;
        color: @modal-header-bg !important;
        font-weight: @font-weight-bold !important;
        font-size: 20px !important;
        font-family: @font-family-base !important;
        margin-top: 8px;

        &:after {
            content: @fa-var-times;
            color: @modal-header-text-color;
            font-family: FontAwesome;
        }
    }
}

.cke_dialog_footer {
    background-color: @modal-footer-bg !important;
    background-image: none !important;
    color: @modal-footer-text-color !important;
    outline: none !important;
    padding: 8px !important;
    margin-top: 10px !important;
    box-shadow: none !important;
    border-radius: 0 0 @border-radius-base @border-radius-base;
}

// 2. Buttons
// -------------------------

a.cke_dialog_ui_button,
a.cke_dialog_ui_button:focus,
a.cke_dialog_ui_button:active {
    box-shadow: none !important;
    text-decoration: none !important;
    background: @btn-action-bg !important;
    background-image: none !important;
    color: @btn-action-color !important;
    border: 1px solid @btn-action-border !important;
    border-radius: @border-radius-base;
    text-shadow: none !important;
    padding: 6px 2px !important;
    font-family: @font-family-base !important;
    font-size: @font-size-base !important;
}

a.cke_dialog_ui_button span {
    text-shadow: none !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
}

a.cke_dialog_ui_button.cke_dialog_ui_button_cancel {
    background-color: transparent !important;
    color: @link-color !important;
    font-weight: normal !important;
    border: none !important;
    &:hover,
    &:focus {
        color: @link-hover-color;
        text-decoration: underline;
        background-color: transparent;
    }
}

a.cke_dialog_ui_button_ok,
a.cke_dialog_ui_button_ok:focus,
a.cke_dialog_ui_button_ok:active {
    background: @btn-primary-bg !important;
    color: @btn-primary-color !important;
    border: 1px solid darken(@btn-primary-border, 10%) !important;
}

// 3. Rock Plugin
// --------------------------


.ck-folders,
.ck-files {

    @media (min-width: @screen-xs-min) {
        float: left;
    }

    .scroll-container-vertical {
        width: auto;

        .viewport {
            width: auto;
        }
    }
}

.ck-folders {

    @media (min-width: @screen-xs-min) {
        width: 40%;
    }

    .actions {
        margin-bottom: @spacing-md-px;
    }

    @media (max-width: @screen-xs-max) {
        .scroll-container-vertical .viewport { height: 100px; }
    }
}

.ck-files {

    @media (min-width: @screen-xs-min) {
        width: 60%;
    }

    .fileupload-group {
        display: inline-block;
        border: none;
        padding: 0;
    }

    img.file-browser-image {
        width: 50px;
        height: 50px;
    }

}



