/*
    Used to manage styles related to Rock's dashboard
    
    1. Basic Widgets
    2. 
    3. 
    4. 
    5. 

*/

// 1. Basic Widgets
// -------------------------

.dashboardwidget {
     margin: 24px 0 0 ;

    .dashboardwidget-content {
        height: 220px;
        border: 1px solid @widget-border-color;
        border-radius: @border-radius-base;
    }
}



// 2. 
// -------------------------



// 3. 
// -------------------------



// 4. 
// -------------------------




// 5. 
// -------------------------

