/*
    Used to create devices using CSS.

    1. Common
    2. Mobile Phone
    3. Tablet
    4. Browser
    5. SMS Sample

*/

// 1. Common
// -------------------------
.device {
  position: relative;
  margin: 0 auto;
}


// 2. Mobile Phone
// -------------------------
.device-mobile {
  width: 435px;
  border-top: solid 24px #ddd;
  border-right: solid 12px #ddd;
  border-bottom: solid 48px #ddd;
  border-left: solid 12px #ddd;
  border-radius: 12px;

  &::before {
    position: absolute;
    top: 12px;
    left: -14px;
    display: block;
    width: 2px;
    height: 12px;
    content: "";
    background-color: #bbb;
    border-radius: 2px 0 0 2px;
    box-shadow: 0 0 0 0 #bbb, 0 24px 0 0 #bbb;
  }

  &::after {
    position: absolute;
    bottom: -36px;
    left: 50%;
    display: block;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    content: "";
    background-color: #bbb;
    border-radius: 12px;
  }

  .email-wrapper {
    position: relative;
    height: 525px;
    padding-top: 10px;
    border: 1px solid #ddd;
    border-top: 0 none;
  }
}


@media all and (min-width: @screen-sm) {
  .device-mobile {
    width: 435px;
    border-top: solid 36px #ddd;
    border-right: solid 18px #ddd;
    border-bottom: solid 72px #ddd;
    border-left: solid 18px #ddd;
    border-radius: 18px;

    &::before {
      top: 18px;
      left: -21px;
      width: 3px;
      height: 18px;
      content: "";
      background-color: #bbb;
      border-radius: 3px 0 0 3px;
      box-shadow: 0 0 0 0 #bbb, 0 36px 0 0 #bbb;
    }

    &::after {
      bottom: -54px;
      width: 36px;
      height: 36px;
      margin-left: -18px;
      content: "";
      border-radius: 18px;
    }
  }
}

// 3. Tablet
// -------------------------
.device-tablet {
  position: relative;
  width: 264px;
  border-top: solid 48px #ddd;
  border-right: solid 12px #ddd;
  border-bottom: solid 48px #ddd;
  border-left: solid 12px #ddd;
  border-radius: 12px;

  &::before {
    position: absolute;
    top: -26px;
    left: 50%;
    display: block;
    width: 4px;
    height: 4px;
    margin-left: -2px;
    content: "";
    background-color: #bbb;
    border-radius: 4px;
  }

  &::after {
    position: absolute;
    bottom: -36px;
    left: 50%;
    display: block;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    content: "";
    background-color: #bbb;
    border-radius: 12px;
  }
}

@media all and (min-width: @screen-sm) {
  .device--tablet {
    width: 396px;
    border-top: solid 72px #ddd;
    border-right: solid 18px #ddd;
    border-bottom: solid 72px #ddd;
    border-left: solid 18px #ddd;
    border-radius: 18px;

    &::before {
      top: -39px;
      width: 6px;
      height: 6px;
      margin-left: -3px;
      border-radius: 6px;
    }

    &::after {
      bottom: -54px;
      width: 36px;
      height: 36px;
      margin-left: -18px;
      content: "";
      border-radius: 18px;
    }
  }
}


// 4. Browser
// -------------------------
.device-browser {
  width: 100%;

  /* max-width: 100%; set max width here if you need to. */
  border-top: solid 36px #dfdfdf;
  border-right: solid 2px #dfdfdf;
  border-bottom: solid 2px #dfdfdf;
  border-left: solid 2px #dfdfdf;
  border-radius: 4px 4px 0 0;

  &::before {
    position: absolute;
    top: -24px;
    left: 12px;
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    background-color: #f36;
    border-radius: 12px;
    box-shadow: 0 0 0 0 #f36, 16px 0 0 0 #fc9, 32px 0 0 0 #3f6;
  }
}

@media all and (min-width: @screen-xs) {
  .device-browser {
    border-top: solid 48px #dfdfdf;

    &::before {
      top: -30px;
      box-shadow: 0 0 0 0 #f36, 24px 0 0 0 #fc9, 48px 0 0 0 #3f6;
    }

    &::after {
      top: -36px;
      right: 12px;
      width: 240px;
      height: 24px;
      padding: 0 8px;
      line-height: 24px;
    }
  }
}


// 5. SMS Sample
// -------------------------
.sms {
  position: relative;
  width: 400px;
  overflow-x: hidden;
  background: none repeat scroll 0 0 #fff;

  .left {
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 14px;
  }

  .left::after {
    position: absolute;
    top: 22px;
    left: -12px;
    width: 14px;
    height: 14px;
    content: " ";
    border: 3px solid #2095fe;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .right {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 14px;
  }

  header {
    height: 60px;
    font-size: 20px;
    line-height: 58px;
    color: #2095fe;
    text-align: center;
    white-space: nowrap;
    background: #eee;
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    box-shadow: 0 1px 2px rgba(1,1,1,.2);
  }

  header h2 {
    font-size: 16px;
    font-weight: @font-weight-bold;
    color: #111;
  }

  .messages-wrapper {
    position: relative;
    height: 525px;
    padding-top: 10px;
    border: 1px solid #ddd;
    border-top: 0 none;
  }

  .message {
    position: relative;
    padding: 15px 20px;
    margin: 0 15px 10px;
    font-size: 16px;
    border-radius: 20px;
  }

  .message.to {
    margin-left: 80px;
    color: #fff;
    background-color: #2095fe;
  }

  .message.from {
    margin-right: 80px;
    color: #363636;
    background-color: #e5e4e9;
  }

  .message.to + .message.to,
  .message.from + .message.from {
    margin-top: -7px;
  }

  .message::before {
    position: absolute;
    right: -50px;
    bottom: 0;
    z-index: 1;
    width: 70px;
    height: 40px;
    clip: rect(20px, 35px, 42px, 0);
    content: " ";
    border-color: #2095fe;
    border-style: solid;
    border-width: 0 20px;
    border-radius: 50%;
  }

  .message.from::before {
    left: -50px;
    border-color: #e5e4e9;
    transform: rotateY(180deg);
  }
}
