/*
    Used to manage styles related to Rock's forms
    
    1. Data Lists
    2. 

*/

// 1. Data Lists
// -------------------------

dl {
    margin-bottom: 0;

    dt {
        font-weight: @font-weight-bold;
        margin-top: 16px;
        margin-bottom: 2px;

        &:first-child {
            margin-top: 0;
        }
    }

    dd {
        margin-left: 0;
    }
}

