

/* Ten Key Keypad */
.tenkey
{
    width: 320px;

     a.btn {
        margin: 2px;
        width: 80px;
        height: 80px;
    }

     a.digit {
        font-size: 48px;
        font-weight: @font-weight-semibold;
    }

     a.command {
         font-size: 20px;
         font-weight: @font-weight-light;
         padding-top: 28px;
     }
} 