/*
    Used to manage styles related to modal dialog.

*/

.rock-modal-frame { // used by both the iframe modal and the in-window modal
    width: 750px;
    border: 1px solid @modal-border-color;
    -moz-box-shadow:    @modal-dropshadow-color 18px 18px 80px 0px;
    -webkit-box-shadow: @modal-dropshadow-color 18px 18px 80px 0px;
    box-shadow: @modal-dropshadow-color 18px 18px 80px 0px; 
}

.rock-modal {

    background-color: @body-bg;

    .modal-header {
        background-color: @modal-header-bg;  
        color: @modal-header-text-color;
        padding: 5px 15px;
        min-height: 34px;
        .clearfix();
        
        h3 {
            float: left;
            margin-right: 12px;
        }

        .close {
            margin: 0;
            padding: 6px;
            color: @modal-header-text-color;
            text-shadow: none;
        }

        .label {
            margin-top: 8px;
        }

        small {
            margin-top: 12px;
            display: block;
            color: darken(@modal-header-text-color, 30%);
        }
    }

    .modal-body {
        
        // styling for the top nav-pill naviagtion
        .nav-pills {
            margin: 6px 0 18px;
        }

        & > .scroll-container {
            width: 720px;

            .viewport {
                width: 670px; 
            }
        }

        &.iframe {
            background: url("../assets/images/ajax-loading.png") center center no-repeat; /* http://preloaders.net/en/popular */
            overflow: hidden;
        }
    }

    .modal-footer {
        padding: 8px;
        margin-top: 10px;
        background-color: @accent-light-color;
    }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 11000;
  width: 750px;
  margin-left: 0px;
  background-color: @body-bg;
}


.modal-body {
  padding: 8px 12px 12px 12px;
}

.modal-footer:after {
  clear: both;
}
.modal-footer .btn {
  float: right;
  margin-left: 5px;
}

#modal-popup_iframe {
    height: 100%;
    width: 100%;
    border: 0;
}


/* Bootbox Modal Overrides */
.modal.bootbox {
    left: 0;
    top: 0;
    width: auto;
    background-color: transparent;
}