/*
    Used to manage styles related to the CMS admin UI for on page editing
    
    1. Zone Configuration
    2. Module Configuration
    3. Admin Footer
    4. Responsive Rules
*/



// 1. Zone Config
// -------------------------

.zone-instance.outline {
  position: relative;
  z-index: @zindex-modal - 1;
  float: left;
  width: 100%;
  min-width: 50px;
  min-height: 30px;
  margin: 1px;
  border: 1px dashed #909090; /* todo */
  border-radius: 3px;
}

.zone-configuration {
  position: absolute;
  top: 1px;
  right: auto;
  left: 1px;
  z-index: 1000;
  display: none;
  width: 25px;
  height: 26px;
  overflow: hidden;
  cursor: pointer;
  background: @adminbar-bg;
  border: 1px solid darken(@adminbar-bg, @const-border-darken-amt);
  border-radius: @border-radius-base;

  p {
    float: left;
  }
}

.zone-configuration-bar {
  position: absolute;
  left: 24px;
  display: inline-block;
  float: left;
  margin-right: -999em;
  margin-left: 6px;
  overflow: hidden;
  color: @adminbar-text-color;

  span {
    display: block;
    float: left;
    padding-right: 20px;
    margin-top: 4px;
    font-size: 10px;
  }
}

// 2. Module Config
// -------------------------
.block-configuration {
  position: absolute;
  top: 2px;
  z-index: @zindex-modal - 1;
  display: none;
  width: 26px;
  height: 26px;
  overflow: hidden;
  cursor: pointer;
  background: @adminbar-bg;
  border: 1px solid darken(@adminbar-bg, @const-border-darken-amt);
  border-radius: @border-radius-base;
}

.block-instance.outline {
  position: relative;
  display: block;
  min-height: 36px;
  clear: both;
}

.config-bar {
  -webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0, .4);
     -moz-box-shadow: 3px 3px 3px 0 rgba(0,0,0, .4);
          box-shadow: 3px 3px 3px 0 rgba(0,0,0, .4);

  & > a {
    padding: 0 !important; // important to keep themes from changing this
    margin: 0 !important; // important to keep themes from changing this
    text-decoration: none;
  }

  a i.fa {
    float: left;
    margin-top: 3px;
    margin-right: 10px;
    margin-left: 5px;
    font-size: 18px;
    color: @adminbar-text-color;
  }
}

.block-configuration-bar {
  position: absolute;
  left: 24px;
  display: inline-block;
  float: left;
  margin-right: -999em;
  margin-left: 6px;
  overflow: hidden;
  color: @adminbar-text-color;
}

.block-configuration-bar .btn {
  margin-right: 12px;
  color: @adminbar-text-color;
  text-shadow: none;
}

.block-configuration-bar span {
  display: block;
  float: left;
  padding-right: 20px;
  margin-top: 3px;
  font-size: 10px;
}


// 3. Admin Footer
// -------------------------
#cms-admin-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: @zindex-modal - 1;
  width: 100%;
  height: 36px;
  padding: 8px 12px 0 12px;
  margin-right: 0;
  color: @adminbar-text-color;
  background: @adminbar-bg;
  border-color: darken(@adminbar-bg, @const-border-darken-amt);
  border-style: solid;
  border-width: 1px 1px 0 1px;
  transition: .5s;

  a.btn {
    font-size: 16px;
  }

  > span {
    display: none;
    margin-top: 3px;
    margin-bottom: 4px;
    font-size: 12px;
    text-align: center;
  }

  > span.label {
    margin-top: 1px;
  }

  a:hover {
    text-decoration: none;
  }

  .button-bar {
    margin-top: -8px;
    margin-left: 12px;
    text-align: center;
  }
}



#cms-admin-footer .button-bar a {
  background-color: transparent;
  background-image: none;
  border: 0;
}

#cms-admin-footer .btn {
  color: @adminbar-text-color;
  text-shadow: none;
  box-shadow: none;
}


// 4. Responsive Rules
// -------------------------
@media (min-width: @screen-sm-min) {
  #cms-admin-footer {
    opacity: 0;

    &:hover {
      opacity: 1;
    }

    > span {
      display: block;
      float: left;
      text-align: left;
    }

    .button-bar {
      float: right;
    }
  }
}
