/*
    Used to manage styles related to the CMS admin UI for on page editing

    1. Zone Configuration
    2. Module Configuration
    3. Admin Footer
    4. Responsive Rules
*/


// 1. Zone Config
// -------------------------

@adminbar-text-color: #fff;

.zone-instance.outline {
  position: relative;
  width: 100%;
  min-width: 50px;
  min-height: 30px;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    border: 1px dotted #3e3e3c;
    outline: 1px dotted #fff;
  }
}

// 2. Module Config
// -------------------------
.block-configuration,
.zone-configuration {
  position: absolute;
  top: 0;
  z-index: @zindex-modal - 1;
  display: none;
  width: 26px;
  height: 26px;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
  background: #0176d3;
  border-radius: 0;
}

.block-instance.outline {
  position: relative;
  display: block;
  min-height: 36px;
  clear: both;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    pointer-events: none;
  }

  &:hover::after {
    border: 1px solid #1b96ff;
  }
}

.config-bar {
  font-size: 16px;
  line-height: 1.5;

  &,
  a {
    color: #fff !important; //@adminbar-text-color
  }

  a, .delete {
    float: left;
    padding: 1px 0 !important; // important to keep themes from changing this
    margin: 0 !important; // important to keep themes from changing this
    text-decoration: none;
    width: 26px;
    display: block;
    text-align: center;
  }

  // i.fa {
  //   width: 1.25em;
  //   text-align: center;
  // //   font-size: @configbar-font-size;
  // }
}

// .block-configuration {
//   width: 300px !important;
// }

.zone-configuration-bar,
.block-configuration-bar {
  position: absolute;
  left: 24px;
  margin-right: -999em;
  margin-left: 6px;
  overflow: hidden;

  div {
    display: inline;
  }

  span {
    display: block;
    float: left;
    padding-right: 12px;
    font-size: 10px;
    line-height: 26px;
  }

  .disabled {
    cursor: default;
    opacity: .5;
  }
}

.block-configuration-bar .btn {
  margin-right: 12px;
  color: @adminbar-text-color;
  text-shadow: none;
}


// 3. Admin Footer
// -------------------------
#cms-admin-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: @zindex-modal - 1;
  width: 100%;
  height: 36px;
  padding: 8px 12px 0;
  margin-right: 0;
  color: @adminbar-text-color;
  background: @adminbar-bg;
  border-color: darken(@adminbar-bg, @const-border-darken-amt);
  border-style: solid;
  border-width: 1px 1px 0;
  transition: .5s;

  a.btn {
    font-size: 16px;
  }

  > span {
    display: none;
    margin-top: 3px;
    margin-bottom: 4px;
    font-size: 12px;
    text-align: center;
  }

  > span.label {
    margin-top: 1px;
  }

  > span.cms-admin-footer-property {
    padding: 0 6px;
    background-color: lighten(@adminbar-bg, 10%);
    border-radius: 2px;
  }

  a {
    color: @adminbar-text-color;
  }

  a:hover {
    text-decoration: none;
  }

  .button-bar {
    margin-top: -8px;
    margin-left: 12px;
    text-align: center;
  }
}


#cms-admin-footer .button-bar a {
  background-color: transparent;
  background-image: none;
  border: 0;
}

#cms-admin-footer .btn {
  color: @adminbar-text-color;
  text-shadow: none;
  box-shadow: none;
}


// 4. Responsive Rules
// -------------------------
@media (min-width: @screen-sm-min) {
  #cms-admin-footer {
    opacity: 0;

    &:hover {
      opacity: 1;
    }

    > span {
      display: block;
      float: left;
      text-align: left;
    }

    .button-bar {
      float: right;
    }
  }
}
