//
// Rock 1.0 Variables
// --------------------------------------------------

// Constants
@const-border-darken-amt: 10%; // creates a border color by darkening the background by this amount

// Font Weights
@font-weight-light:     300;
@font-weight-bold:      700;
@font-weight-semibold:  600;

// Standard Colors
@accent-color: darken(@gray-lighter, 10%);
@accent-text-color: @text-color;
@accent-light-color: @gray-lighter;
@accent-light-text-color: @text-color;
@accent-semibold-color: @gray-light;
@accent-semibold-text-color: #fff;
@accent-bold-color: #428bca; // overrides brand color
@accent-bold-text-color: #ecf0f3;

@text-light-color: lighten(@text-color, 20%);
@text-selection-color: #5279a0;
@text-selection-text-color: #fff;

@persondetails-bio-bg: #dbd5cb;
@persondetails-bio-color: #231f20;
@persondetails-badge-bg: #e3ded7;
@persondetails-badge-color: #817b72;
@persondetails-familybar-bg: @body-bg;
@persondetails-familybar-color: @text-color;

@help-color: #86b8cc;
@required-field-color: #eca9a7;


// Page Styling
// -------------------------

@pagetitle-bg: #c7cacd;

@header-bg:     #3A3A3A;
@header-text-color: #bbb;

@footer-bg: @header-bg;
@footer-text-color: @header-text-color;

@modal-header-bg: @header-bg;
@modal-header-text-color: @header-text-color;
@modal-body-bg: @body-bg;
@modal-body-text-color: @text-color;
@modal-footer-bg: @gray-lighter;
@modal-footer-text-color: @gray;
@modal-dropshadow-color: #464646;
// see bootstrap variables for additional modal styles


// Components
// -------------------------

// Grid
@grid-filter-bg: @accent-color;

@grid-column-header-bg: @accent-bold-color;
@grid-column-header-text-color: @accent-bold-text-color;
@grid-column-header-font-size: 14px;
@grid-column-header-font-weight: @font-weight-light;

@grid-hover-bg: @accent-light-color;

@grid-pager-bg: @accent-color;

@grid-filter-bg: @accent-color;
@grid-filter-color: @text-color;
@grid-footer-bg: @accent-color;
@grid-footer-text-color: @accent-text-color;
@grid-footer-font-size: 10px;
@grid-footer-font-weight: 300;
@grid-footer-button-bg: @accent-semibold-color;
@grid-footer-button-text-color: @accent-semibold-text-color;
@grid-footer-button-border: @accent-semibold-text-color;

// Pagination
@pagination-bg: @accent-light-color;
@pagination-hover-bg: lighten(@accent-light-color, 5%);
@pagination-border: darken(@accent-light-color, 10%);
@pagination-active-bg: @accent-semibold-color;

// Panels
@panel-top-border-color: @accent-color;

// Alerts
@alert-success-link-border-bottom: 1px dotted @alert-success-text;
@alert-info-link-border-bottom:    1px dotted @alert-info-text;
@alert-warning-link-border-bottom: 1px dotted @alert-warning-text;
@alert-danger-link-border-bottom:  1px dotted @alert-danger-text;

// Admin Bar
@adminbar-bg: @accent-bold-color;
@adminbar-text-color: @accent-bold-text-color;

// Tooltip
@tooltip-header-bg: @accent-color;
@tooltip-header-text-color: @accent-text-color;
@tooltip-bg: @body-bg;

// Widget
@widget-header-bg: @accent-light-color;
@widget-header-text-color: @accent-light-text-color;
@widget-header-bg-dark: @accent-bold-color;
@widget-header-text-color-dark: @accent-bold-text-color;


// Page List
@pagelist-bg: @accent-color;
@pagelist-text-color: @accent-text-color;

// Tags
@tag-bg: #c4ced6;
@tag-text-color: @accent-bold-text-color;
@tag-border-radius: @border-radius-base;
@tag-dot-color: #d6d6d6;
@tag-bg-alt: #aec2d4;

// Smart Search
@smartsearch-bg: rgba(255, 255, 255, .1);
@smartsearch-border-color: #2c2c2c;
@smartsearch-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.15);
@smartsearch-input-text-color: @header-text-color;
@smartsearch-input-selection-background: #2e2e2e;
@smartsearch-input-selection-text-color: #fff;

// wizard styles
@wizard-bg: @gray-lighter;
@wizard-item-bar-color: #bbb;

@wizard-item-label-active-color: @text-color;
@wizard-item-icon-active-color: @nav-pills-active-link-hover-color;
@wizard-item-icon-active-bg: @nav-pills-active-link-hover-bg;

@wizard-item-label-complete-color: @wizard-item-label-active-color;
@wizard-item-icon-complete-color: @wizard-item-icon-color;
@wizard-item-icon-complete-bg: @wizard-item-icon-active-bg;

@wizard-item-label-color: lighten(@wizard-item-label-active-color, 25%);
@wizard-item-icon-color: @wizard-item-icon-active-color;
@wizard-item-icon-bg: lighten(@wizard-item-icon-active-bg, 25%);

// Custom Labels
@label-campus-bg: #83758f;
@label-type-bg: #567d8c;

// Custom Buttons
@btn-action-color:              @accent-semibold-text-color;
@btn-action-bg:                 @accent-semibold-color;
@btn-action-border:             darken(@accent-semibold-color, 5%);

@btn-security-color:            @accent-semibold-text-color;
@btn-security-bg:               @accent-semibold-color;
@btn-security-border:           darken(@accent-semibold-color, 5%);

@btn-authenication-color:       @accent-text-color;
@btn-authenication-bg:          @accent-color;
@btn-authenication-border:      darken(@accent-color, 5%);

// Scrollbar Items
@scroll-track-color: #aaa;
@scroll-thumb-color: #ccc;

// Block Specific
@checkin-group-border-color: #afd074;
@checkin-area-border-color:#5593a4;
