/* 
    Please add developer CSS changes here.  These will be merged into the appropriate CSS file
    and optimized for our styling strategy.

    !!!!    PLEASE ADD YOUR INITIALS NEXT TO YOUR CHANGES SO I CAN GET CLARIFICATION IF NEEDED 
            ALSO PLEASE NOTE WHERE IT'S USED AND THE DATE IT WAS ADDED
    !!!!

    */


/*
    NA - This is used to style a checkboxlist grouping as seen (in the DefaultValues
        of the DefinedValue editor) when editing something like the AbilityLevel person
        attribute and changing it to 'allow multiple values'.  Added around 2/1/2013
*/
.checkboxlist-group {
    width: 196px;
    padding: 6px 11px 0px 11px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}


/* commented out on 2/10/2014 JME to see if this wasn't a BS2 left over
//        JO - Border radius correction for Rock Bootstrap theme. This is needed
//        because the `.add-on` span or `.btn` may not be the last child as specified
//        by Bootstrap's default CSS rule (the parent div might also contain tooltips, 
//        validation elements, etc).
.input-append > input[type="text"] + .add-on,
.input-append > input[type="text"] + .btn {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
*/


/* used on AddTransaction and GivingProfileDetail blocks */
/*

.check-image 
{
	margin-top: 10px;
    width: 95%;	
    max-width: inherit;
}

}*/


/*CSF - right align the "Clear Exceptions" link on the Exceptions List Page*/
.clearExceptionsLink
{
    text-align: right;
    margin-bottom: 10px;
}

/*CSF - add margin to the "Return to List" button on the Exceptions List page*/
.exceptionReturnToListButton
{
    margin-bottom: 10px;
}

/*CSF - Exception Detail word wrap exception tables*/
table.cookies
{

    word-wrap:break-word;
    word-break:break-all;
}

table.cookies td
{
    min-width:200px;
    vertical-align:text-top;
}

table.server-variables
{
    word-break:break-all;
    word-wrap:break-word;
}

    table.server-variables td
    {
        min-width:200px;
        vertical-align:text-top;
    }

/* CSF - Exception Detail Grid*/
.exceptionDetail-stackTrace-hide
{
    display: none;
}

.exceptionDetail-stackTrace-show
{
    display:table-row;
}


.persondetails-header .photo a {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;    
}

/* don't think this is being used JME 2/10/2014
@media (max-width: 767px) {
	// center the person image 
    .persondetails-header .photo
    {
        margin: 0 auto;
    }

    // make widgets extend to the edges 
    .persondetails .widget
    {
        margin-right: -20px;
        margin-left: -20px;
        border-radius: 0;
    }

    //make person notes full width 
    .persontimeline .widget-content
    {
        padding-left: 0;
        padding-right: 0;
    }

    // remove border radius on widget header 
    .persondetails .widget header
    {
        border-radius: 0;
    }

    // remove border radius on person notes 
    .persontimeline article
    {
        border-radius: 0;
    }

}
*/



/* Family Edit - DT -- doesn't appear to be used anymore when searching the code
#person-search-results.scroll-container {
    width: 420px;
    height: 200px; 
}
#person-search-results .viewport {
    width: 400px;
    height: auto;
    min-height: 200px;
}*/


/* text between input elements in dataview filters - DT */
span.data-view-filter-label {
    display: inline-block; 
    height:34px; 
    margin: 8px 12px 0 0;
}


/* Mike had this for ck editor items. can't find where it's needed JME 2/10/2014

span.cke_button__rockmergefield_label {
    display: inline;
}*/

/*css for RSS Item paging*/


.rss-item-pager .previous > a, .rss-item-pager .previous > span {
    float: left;
}

.rss-item-pager .next > a, .rss-item-pager .next > span {
    float: right;
}

.rss-item-pager li > a, .rss-item-pager li > span {
    display: inline-block;

}

.rss-item-pager:after {
    clear: both;
}
.rss-item-pager:before, .rss-item-pager:after {
    content: " ";
    display: table;
}
.rss-item-pager:after {
    clear: both;
}
.rss-item-pager:before, .rss-item-pager:after {
    content: " ";
    display: table;
}

.rss-item-pager {
    list-style: none outside none;
    margin: 20px 0;
    padding-left: 0;
    text-align: center;
}

/* Added by Rich Dubay 02.26.2014 */
/* For related transaction image delete button stuff */
.photo-display {
    position: relative;
}

.image-delete-button {
    display: none;
    position: absolute;
    bottom: 0;
    z-index: 500;
    width: 100%;
}

.photo:hover > a.image-delete-button {
    display: block;
}

.photo > a.fluidbox-opened:hover + a {
    display: none;
}

/* MP - ImageEditor (JCrop image control)*/

.image-editor-group {

}

.image-editor-photo img{
    width: 150px;
    height: 150px;
}

.image-editor-fileinput {
    visibility:hidden;
}

.image-editor-photo .options {
	position: absolute;
	top: 130px;
	left: 100px;
	background-color: #717171;
	padding: 6px 12px;
	border-radius: 4px 0 0 4px;
	opacity: 0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out; 
}

.image-editor-crop-source {
    height:480px;
}
						
.image-editor-photo:hover .options {
	opacity: 1;
}
						
.image-editor-photo .options a {
	color: #fff;
	text-decoration: none;
	margin-left: 12px;
									
}
						
.image-editor-photo .options a:hover {
	color: #c4c4c4;
}
						
.image-editor-photo .options a:first-child {
	margin-left: 0;
}