/* 
    Please add developer CSS changes here.  These will be merged into the appropriate CSS file
    and optimized for our styling strategy.

    !!!!    PLEASE ADD YOUR INITIALS NEXT TO YOUR CHANGES SO I CAN GET CLARIFICATION IF NEEDED 
            ALSO PLEASE NOTE WHERE IT'S USED AND THE DATE IT WAS ADDED
    !!!!

    */


/*
    NA - This is used to style a checkboxlist grouping as seen (in the DefaultValues
        of the DefinedValue editor) when editing something like the AbilityLevel person
        attribute and changing it to 'allow multiple values'.  Added around 2/1/2013
*/
.checkboxlist-group {
    width: 196px;
    padding: 6px 11px 0px 11px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}



/* 
    JO - Border radius correction for Rock Bootstrap theme. This is needed
        because the `.add-on` span or `.btn` may not be the last child as specified
        by Bootstrap's default CSS rule (the parent div might also contain tooltips, 
        validation elements, etc).
*/

.input-append > input[type="text"] + .add-on,
.input-append > input[type="text"] + .btn {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}


/* DS - CSS for finance styling */
.address-line
{
    min-width: 75%;    
}

.checkbox-align .controls .checkbox 
{
    padding-left: 0px;
}

@media screen and (min-width: 498px) {
    .align-middle 
    {
        margin-left: 180px;
    }

    .input-inherit 
    {
        width: 95%;
        max-width: inherit;
    }
}

/* used on AddTransaction and GivingProfileDetail blocks */
.remove-margin
{
    margin: 0;
}

.check-image 
{
	margin-top: 10px;
    width: 95%;	
    max-width: inherit;
}

.form-horizontal .controls .label-padding 
{
    margin-top: 0px;
}

.label-padding
{
    margin-top: 20px;
}

.text-padding
{
    margin-top: 5px;
}


/*CSF - right align the "Clear Exceptions" link on the Exceptions List Page*/
.clearExceptionsLink
{
    text-align: right;
    margin-bottom: 10px;
}

/*CSF - add margin to the "Return to List" button on the Exceptions List page*/
.exceptionReturnToListButton
{
    margin-bottom: 10px;
}

/*CSF - Exception Detail word wrap exception tables*/
table.cookies
{

    word-wrap:break-word;
    word-break:break-all;
}

table.cookies td
{
    min-width:200px;
    vertical-align:text-top;
}

table.server-variables
{
    word-break:break-all;
    word-wrap:break-word;
}

    table.server-variables td
    {
        min-width:200px;
        vertical-align:text-top;
    }

/* CSF - Exception Detail Grid*/
.exceptionDetail-stackTrace-hide
{
    display: none;
}

.exceptionDetail-stackTrace-show
{
    display:table-row;
}




.persondetails-header .photo a {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;    
}


@media (max-width: 767px) {
	/* center the person image */
    .persondetails-header .photo
    {
        margin: 0 auto;
    }

    /* make widgets extend to the edges */
    .persondetails .widget
    {
        margin-right: -20px;
        margin-left: -20px;
        border-radius: 0;
    }

    /* make person notes full width */
    .persontimeline .widget-content
    {
        padding-left: 0;
        padding-right: 0;
    }

    /* remove border radius on widget header */
    .persondetails .widget header
    {
        border-radius: 0;
    }

    /* remove border radius on person notes */
    .persontimeline article
    {
        border-radius: 0;
    }

}


/* Family Edit - DT */
#person-search-results.scroll-container {
    width: 420px;
    height: 200px; 
}
#person-search-results .viewport {
    width: 400px;
    height: auto;
    min-height: 200px;
}

/* color-field for grid - MP*/
.table .color-field {
    padding: 0;
    width: 4px;
}

    .table .color-field + th {
        border-left-width: 0px;
    }

/* text between input elements in dataview filters - DT */
span.data-view-filter-label {
    display: inline-block; 
    height:34px; 
    margin: 8px 12px 0 0;
}

/* TypeAhead Bootstrap css - JO */
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #a4b4c4;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

/* Fixed column widths for attribute grids in the Group Type Detail block - DT */
section.group-type-attribute-panel label {
    padding-left: 36px;
}
table.inherited-attribute-grid tr td:first-child {
    padding-left: 36px;
    width: 131px;
}
table.attribute-grid tr th:first-child {
    width: 31px;
}
table.attribute-grid tr th:nth-child(2) {
    width: 100px;
}
table.inherited-attribute-grid tr td:nth-child(2),
table.attribute-grid tr th:nth-child(3) {
    width: 550px;
}

/* CKEditor Plugin Buttons to override ckeditor hiding labels on those buttons - MP*/
span.cke_button__rockmergefield_label {
    display: inline;
}

/* css for ckeditor rockfilebrowser images (see RockWeb\Blocks\Utility\CkEditorFileBrowser.ascx.cs ) */
img.file-browser-image {
    width: 50px;
    height: 50px;
}

/*css for RSS Item paging*/


.rss-item-pager .previous > a, .rss-item-pager .previous > span {
    float: left;
}

.rss-item-pager .next > a, .rss-item-pager .next > span {
    float: right;
}

.rss-item-pager li > a, .rss-item-pager li > span {
    display: inline-block;

}

.rss-item-pager:after {
    clear: both;
}
.rss-item-pager:before, .rss-item-pager:after {
    content: " ";
    display: table;
}
.rss-item-pager:after {
    clear: both;
}
.rss-item-pager:before, .rss-item-pager:after {
    content: " ";
    display: table;
}

.rss-item-pager {
    list-style: none outside none;
    margin: 20px 0;
    padding-left: 0;
    text-align: center;
}

/*
    NA - This is used to style the secondary text <small> http://getbootstrap.com/css/#type
        inside a panel-title.  See example in the RockUpdate block.
        I think this may be a bug with our panel colors, or perhaps
        it's just something that needs to be added in a theme's style.
        I don't care about which color to use just one that shows up
        with our choice of panel-primary and panel-default headers.
        Added on 1/14/2014
*/
.panel-title small {
    color: #ccc;

}

/*
    DT - The note editor was updated to support optionally displaying a person image instead
    of a font-awesome icon with a comment.  When configured this way, it renders an <img> tag 
    instead of an <i> tag for the thumbnail image. 
    Added on 1/19/2014
*/

/* View Mode */
.panel-note article > img
{
    float: left;
    margin: 0 12px 0 4px;
}

/* Edit mode (this isn't really working since the text area to the right of it takes the full width) */
.panel-noteentry > .panel-body > img
{
    float: left;
    margin: 0 12px 0 4px;
}

/* DT- Merge*/
div.person-merge-confirm p.updated
{
    color:red;
}