/* 
    Please add developer CSS changes here.  These will be merged into the appropriate CSS file
    and optimized for our styling strategy.

    !!!!    PLEASE ADD YOUR INITIALS NEXT TO YOUR CHANGES SO I CAN GET CLARIFICATION IF NEEDED 
            ALSO PLEASE NOTE WHERE IT'S USED AND THE DATE IT WAS ADDED
    !!!!

    */


/*
    NA - This is used to style a checkboxlist grouping as seen (in the DefaultValues
        of the DefinedValue editor) when editing something like the AbilityLevel person
        attribute and changing it to 'allow multiple values'.  Added around 2/1/2013

    JME - Not sure we need this with the new theme. Let me know if you see any
          area that is in need of this still.

.checkboxlist-group {
    width: 196px;
    padding: 6px 11px 0px 11px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}*/







/*CSF - right align the "Clear Exceptions" link on the Exceptions List Page*/
.clearExceptionsLink
{
    text-align: right;
    margin-bottom: 10px;
}

/*CSF - add margin to the "Return to List" button on the Exceptions List page*/
.exceptionReturnToListButton
{
    margin-bottom: 10px;
}

/*CSF - Exception Detail word wrap exception tables*/
table.cookies
{

    word-wrap:break-word;
    word-break:break-all;
}

table.cookies td
{
    min-width:200px;
    vertical-align:text-top;
}

table.server-variables
{
    word-break:break-all;
    word-wrap:break-word;
}

table.server-variables td
{
    min-width:200px;
    vertical-align:text-top;
}




/* text between input elements in dataview filters - DT */
span.data-view-filter-label {
    display: inline-block; 
    height:34px; 
    margin: 8px 12px 0 0;
}


/*css for RSS Item paging*/


.rss-item-pager .previous > a, .rss-item-pager .previous > span {
    float: left;
}

.rss-item-pager .next > a, .rss-item-pager .next > span {
    float: right;
}

.rss-item-pager li > a, .rss-item-pager li > span {
    display: inline-block;

}

.rss-item-pager:after {
    clear: both;
}
.rss-item-pager:before, .rss-item-pager:after {
    content: " ";
    display: table;
}
.rss-item-pager:after {
    clear: both;
}
.rss-item-pager:before, .rss-item-pager:after {
    content: " ";
    display: table;
}

.rss-item-pager {
    list-style: none outside none;
    margin: 20px 0;
    padding-left: 0;
    text-align: center;
}

/* Added by Rich Dubay 02.26.2014 */
/* For related transaction image delete button stuff */
.photo-display {
    position: relative;
}

.image-delete-button {
    display: none;
    position: absolute;
    bottom: 0;
    z-index: 500;
    width: 100%;
}

.photo:hover > a.image-delete-button {
    display: block;
}

.photo > a.fluidbox-opened:hover + a {
    display: none;
}

/* DT Make the header of the merge field columns have a pointer since it can be used to select checkbox */
.merge-personselect .merge-header-summary {
    cursor:pointer;
}



div.toggle-container {   /* ???? JME */
    display: inline-block;
}



/* DT If th has a required class, render the required field indicator after the column heading */
.table thead th.required:after {
  font-family: FontAwesome;
  content: '\f111';
  margin-left: 4px;
  font-size: 6px;
  color: #eca9a7;
  vertical-align: super;
}


