.fluidbox {
  outline: none;
}

#fluidbox-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040; /* @zindex-modal-background */
  display: none;
  cursor: pointer;
  cursor: zoom-out;
  background-color: rgba(255,255,255,.85);
}

.fluidbox-wrap {
  position: relative;
  z-index: 400;
  margin: 0 auto;
  background-position: center center;
  background-size: cover;
  transition: all .25s ease-in-out;
}

.fluidbox-opened .fluidbox-wrap {
  z-index: 1055; /* @zindex-modal */
}

.fluidbox-ghost {
  position: absolute;
  background-position: center center;
  background-size: cover;
  transition: all .25s ease-in-out;
}
