.mobile-pages-container .component {
    display: none;
  }
  .mobile-pages-container .component.gu-transit {
    display: block;
    padding: 14px 18px;
    margin-bottom: 24px;
    background-color: #f5f5f5;
    border: 1px solid #eeeeee;
  }
  .mobile-block-types .form-control {
    border-color: transparent;
    border-radius: 0;
  }