/* Default Form Styling */
fieldset 
{
    margin: 8px 0;
}

fieldset legend {
    font-weight: bold;
    padding: 24px 0 0 12px;
    font-size: 120%;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	margin-top: 8px;
	width: 150px;
	font-weight: bold;
}

input[type=radio] + label 
{
    float: none;
    text-align: left;
    margin: 0 4px 0 0;
    width: auto;
    font-weight: normal;
}

fieldset ol li {
    margin: 8px 0;
}

textarea, input:not([type=radio]) {
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	padding: 4px 10px;
	border: 1px solid #8f8f8f;
	margin: 4px 0;
}

textarea:focus, input:not([type=radio]):focus {
	border: 1px solid #64788f;
	background: #efefef;
}

.form-input-warning 
{
    margin: 3px 0 3px 165px;
    color: #c92f2f;
}

/* Notification Boxes */
.notification-box {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 2px #cfcfcf;
    -webkit-box-shadow: 2px 2px 2px #cfcfcf;
    box-shadow: 2px 2px 2px #cfcfcf;
    margin: 10px 0;
    min-height: 70px;
    min-width: 400px;
    max-width: 580px;
    display: block;
    position: relative;
}

.notification-box .text {
	--width: 500px;	
	font-family: Arial, Helvetica, sans-serif;
	color: #323232;
	font-size: 14px;
	line-height: 21px;
	text-align: justify;
	margin: 16px 15px 16px 70px;
	margin-top: 16px;
	--*margin-top: 15px; /*for lt IE8*/
	 text-shadow: 0px 0px 1px #f9f9f9;
}

.error {
	border-top: 1px solid #f7d0d0;
	border-bottom: 1px solid #c87676;
	background: #f3c7c7;
	background: -moz-linear-gradient(top,#f3c7c7,#eea2a2);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3c7c7), to(#eea2a2));
}

.error:before {
	content: url(../Assets/Icons/error.png);
	float: left;
	margin: 20px 15px 0px 15px;
}

.error strong {
	color: #b31616;
	margin-right: 15px;
}

.success {
	border-top: 1px solid #edf7d0;
	border-bottom: 1px solid #b7e789;
	background: #dff3a8;
	background: -moz-linear-gradient(top,#dff3a8,#c4fb92);
	background: -webkit-gradient(linear, left top, left bottom, from(#dff3a8), to(#c4fb92));
}

.success:before {
	content: url(../Assets/Icons/success.png);
	float: left;
	margin: 23px 15px 0px 15px;
}

.success strong {
	color: #61b316;
	margin-right: 15px;
}

.warning {
	border-top: 1px solid #fefbcd;
	border-bottom: 1px solid #e6e837;
	background: #feffb1;
	background: -moz-linear-gradient(top,#feffb1,#f0f17f);
	background: -webkit-gradient(linear, left top, left bottom, from(#feffb1), to(#f0f17f));
}

.warning:before {
	content: url(../Assets/Icons/warning.png);
	float: left;
	margin: 15px 15px 0px 25px;
}

.warning strong {
	color: #e5ac00;
	margin-right: 15px;
}

.tip {
	border-top: 1px solid #fbe4ae;
	border-bottom: 1px solid #d9a87d;
	background: #f9d9a1;
	background: -moz-linear-gradient(top,#f9d9a1,#eabc7a);
	background: -webkit-gradient(linear, left top, left bottom, from(#f9d9a1), to(#eabc7a));
}

.tip:before {
	content: url(../Assets/Images/tip.png);
	float: left;
	margin: 20px 15px 0px 15px;
}

.tip strong {
	color: #b26b17;
	margin-right: 15px;
}

.information {
	border-top: 1px solid #f3fbff;
	border-bottom: 1px solid #bedae9;
	background: #e0f4ff;
	background: -moz-linear-gradient(top,#e0f4ff,#d4e6f0);
	background: -webkit-gradient(linear, left top, left bottom, from(#e0f4ff), to(#d4e6f0));
}

.information:before {
	content: url(../Assets/Icons/info.png);
	float: left;
	margin: 18px 15px 0px 21px;
}

.information strong {
	color: #177fb2;
	margin-right: 15px;
}

/* Module Config */
.block-instance {
    position: relative;
    display: inline;
}

.block-instance.can-edit.outline {
    overflow: hidden;
    border: 1px solid red;
    margin: -1px; 
    min-height: 60px;  
    display: block;
}

.block-configuration {
    z-index: 300;
    position: absolute;
    bottom: 5px;
    right: 0;
    height: 20px;
    background: rgba(210,210,210,.8);
    border-color: rgba(150,150,150,.8);
    border-width: 1px;
    border-style: solid;
    color: #7f7f7f;
    padding: 5px 12px 0 12px;
    font-size: 80%;
    overflow: auto;
    width: auto;
    float: right;
}

/* Context Help */
a.tooltip {
	background-image: url('../Assets/Icons/help.png');
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
	margin-left: 6px;
}

a.tooltip span {
    display:none; 
    padding:2px 3px; 
    margin-left:8px; 
    width:130px;
    margin: -10px 0 0 20px;
}

a.tooltip:hover span {
    display:inline; 
    position:absolute; 
    background:#ffffff; 
    border:1px solid #cccccc; 
    color:#6c6c6c;
}

/* Admin Footer */
#cms-admin-footer {
    bottom: 0;
    height: 20px;
    z-index: 300;
    position: fixed;
    right: 0;
    margin-right: 25px;
    background: rgba(210,210,210,.8);
    border-color: rgba(150,150,150,.8);
    border-width: 1px 1px 0 1px;
    border-style: solid;
    color: #7f7f7f;
    padding: 5px 12px 0 12px;
    font-size: 80%;
}

#cms-admin-footer .button-bar {
    margin-left: 12px;
    float: right;
}

/* Icon Buttons */

.icon-button {
    margin-left: 12px;
    float: left;
    height: 16px;
    width: 16px;
    display: block;
	text-indent: -9999px;
	padding-left: -9999px;
	cursor: pointer;
}

.icon-button:first-child {
    margin-left: 0;
}

a.icon-button.block-config {
	background-image: url('../Assets/Icons/module-config.png');
}

a.icon-button.attributes {
    background-image: url('../Assets/Icons/attributes.png');
}

a.icon-button.page-child-pages {
	background-image: url('../Assets/Icons/subpages.png');
}

a.icon-button.page-zones {  
	background-image: url('../Assets/Icons/page-zones.png');
}

a.icon-button.edit {
	background-image: url('../Assets/Icons/edit.png');
}

/* HTML Content */
.html-content, .html-content-block, .html-content-block > div {
	display: inline;
    position: relative;
}

.html-content-editor-panel .editor-buttons {
    float: right;
    margin-top: 6px;
}

/* CK Editor Tweaks */
span.cke_skin_kama {
    padding: 0 !important;   
}