// Text colors
.text-gc-black {
    color: @gc-black !important;
}

.text-gc-grey {
    color: @gc-grey !important;
}

.text-contribute {
    color: @contribute !important;
}

.text-connect {
    color: @connect !important;
}

.text-celebrate {
    color: @celebrate !important;
}

.text-goldcreek {
  color: @color-of-the-year !important;
}

// Background Colors
.bg {
    &-gc-black,
    &-dark {
        background-color: @gc-black !important;
    }

    &-gc-grey {
        background-color: @gc-grey !important;
    }

    &-contribute {
        background-color: @contribute !important;
    }

    &-connect {
        background-color: @connect !important;
    }

    &-celebrate {
        background-color: @celebrate !important;
    }

    &-goldcreek {
        background-color: @color-of-the-year !important;
    }

    &-charcoal {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), #067495;
    }

    &-theme {
      background-color: @theme-background !important;
    }

}
