/bin/*/*.dll
/bin/*.dll
!/bin/roslyn/*.dll
!/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
!/bin/Rock.Common.Mobile.dll
!/bin/grpc_csharp_ext.x64.dll
!/bin/grpc_csharp_ext.x86.dll

/bin/*.pdb
/bin/*.xml

/*.suo
/*.user
/Test.aspx
/Test.aspx.cs
/vwd.webinfo

node_modules