/LINQPad.config
*.webinfo

/bin/DotLiquid.dll
/bin/Rock.dll
/bin/Rock.Mailgun.dll
/bin/Rock.Migration.dll
/bin/Rock.Mandrill.dll
/bin/Rock.Migrations.dll
/bin/Rock.NMI.dll
/bin/Rock.PayFlowPro.dll
/bin/Rock.Rest.dll
/bin/Rock.Version.dll
/bin/*.pdb
/bin/*.xml
/bin/*.refresh
