<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeContracts.Unofficial" version="1.0.0.2" />
  <package id="dotless" version="1.1.0" />
  <package id="Facebook" version="5.0.25.0" />
  <package id="ImageResizer" version="3.0.13" />
  <package id="NuGet.Core" version="2.0.1" targetFramework="net40" />
</packages>