<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section requirePermission="false" name="facebookSettings" type="Facebook.FacebookConfigurationSection"/>
		<section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	</configSections>
	<quartz>
		<add key="quartz.scheduler.instanceName" value="RockSchedulerIIS"/>
		<!-- Configure Thread Pool -->
		<add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"/>
		<add key="quartz.threadPool.threadCount" value="10"/>
		<add key="quartz.threadPool.threadPriority" value="Normal"/>
		<!-- Configure Job Store -->
		<add key="quartz.jobStore.misfireThreshold" value="60000"/>
		<add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz"/>
	</quartz>
	<connectionStrings configSource="web.ConnectionStrings.config"/>
	<system.web>
		<trace enabled="false"/>
		<!--<trust level="Medium"/>-->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms name=".ROCKCHMS" loginUrl="Login" defaultUrl="Page/12"/>
		</authentication>
		<machineKey validationKey="D42E08ECDE448643C528C899F90BADC9411AE07F74F9BA00A81BA06FD17E3D6BA22C4AE6947DD9686A35E8538D72B471F14CDB31BD50B9F5B2A1C26E290E5FC2" decryptionKey="D79785D5CAED738E40CEB723A259194315FB15EC5881BDF0BA127AABF5453A7B" validation="SHA1" decryption="AES"/>
		<httpRuntime requestValidationMode="2.0"/>
		<pages>
			<controls>
				<add tagPrefix="Rock" assembly="CKEditor.NET" namespace="CKEditor.NET"/>
				<add tagPrefix="Rock" assembly="Rock" namespace="Rock.Web.UI.Controls"/>
				<add tagPrefix="Rock" assembly="Rock" namespace="Rock.Web.UI.Validation"/>
				<add tagPrefix="recaptcha" assembly="Recaptcha" namespace="Recaptcha"/>
			</controls>
		</pages>
		<!--<httpModules>
			<add name="CCVHttpModule" type="Rock.Com.CCVOnline.HttpModule, Rock.Com.CCVOnline.Framework"/>
		</httpModules>-->
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<appSettings>
		<add key="CKEditor:BasePath" value="~/Scripts/ckeditor/"/>
		<add key="RunJobsInIISContext" value="true"/>
		<add key="EnablePageViewTracking" value="true"/>
		<add key="BaseUrl" value="http://localhost:6229/RockWeb/"/>
	</appSettings>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
		<!--<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceAuthorization serviceAuthorizationManagerType="Rock.REST.AuthorizationManager, Rock"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>-->
		<standardEndpoints>
			<webHttpEndpoint>
				<standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
			</webHttpEndpoint>
		</standardEndpoints>
		<bindings>
			<basicHttpBinding>
				<binding name="DOTSGeoCoderSoap"/>
				<binding name="USAddressVerificationSoap"/>
				<binding name="BasicHttpBinding_IService"><security mode="Transport"/></binding>
				<binding name="GeocodingBinding"/>
				<binding name="AuthenticationBinding"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://ws.serviceobjects.com/gcr/GeoCoder.asmx" binding="basicHttpBinding" bindingConfiguration="DOTSGeoCoderSoap" contract="ServiceObjects.GeoCoder.DOTSGeoCoderSoap" name="DOTSGeoCoderSoap"/>
			<endpoint address="http://ws.strikeiron.com/StrikeIron/USAddressVerification5/USAddressVerification" binding="basicHttpBinding" bindingConfiguration="USAddressVerificationSoap" contract="StrikeIron.USAddressVerification.USAddressVerificationSoap" name="USAddressVerificationSoap"/>
			<endpoint address="https://addresscheck.melissadata.net/v2/SOAP/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="MelissaData.AddressCheck.IService" name="BasicHttpBinding_IService"/>
			<endpoint address="http://mmezl.teleatlas.com/axis/services/Geocoding" binding="basicHttpBinding" bindingConfiguration="GeocodingBinding" contract="TeleAtlas.Geocoding.GeocodingPortType" name="Geocoding"/>
			<endpoint address="http://mmezl.teleatlas.com/axis/services/Authentication" binding="basicHttpBinding" bindingConfiguration="AuthenticationBinding" contract="TeleAtlas.Authentication.AuthenticationPortType" name="Authentication"/>
		</client>
	</system.serviceModel>
	<facebookSettings appId="34234234" appSecret="2342342342342"/>
</configuration>
