<?xml version="1.0"?>
<connectionStrings>

    <add name="RockContext" connectionString="Data Source=[[Database_Server]];Initial Catalog=[[Database_Name]]; User Id=[[Database_Username]]; password=[[Database_Password]];MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
    
</connectionStrings>
