<?xml version="1.0"?>
<connectionStrings>
	<add name="RockContext" connectionString="Data Source=tcp:rock-devops-test-sql.database.windows.net, 1433;Initial Catalog=rock-devops-test-db; User Id=rockadmin; password=RockDeploySqlServerPassword1;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
</connectionStrings>
