// CAROUSEL STYLE


// =============================================================
// Table of Content           
//  + Base Style              
//  + left/right control    
//  + Indicator pips
//  + Optional captions
//  + Media query
// =============================================================


// ======================== BASE STYLE ========================
.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width:    100%;
  overflow: hidden;

  > .item {
    position:   relative;
    display:    none;
    transition: .6s ease-in-out left;

    // Account for jankitude on images
    > img,
    > a > img {
      display:    block;
      max-width:  100%; // Part 1: Set a maximum relative to the parent
      height:     auto;
      line-height: 1;
    }

    // WebKit CSS3 transforms for supported devices
    @media all and (transform-3d), (-webkit-transform-3d) {
      -webkit-transition: -webkit-transform 0.6s ease-in-out;
            -moz-transition: -moz-transform 0.6s ease-in-out;
                      transition: transform 0.6s ease-in-out;
      -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
              backface-visibility: hidden;
      -webkit-perspective: 1000px;
         -moz-perspective: 1000px;
              perspective: 1000px;

      &.next,
      &.active.right {
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
        left: 0;
      }
      &.prev,
      &.active.left {
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
        left: 0;
      }
      &.next.left,
      &.prev.right,
      &.active {
        -webkit-transform: translate3d(0 0, 0);
                transform: translate3d(0 0, 0);
        left: 0;
      }
    }
  }

  > .active,
  > .next,
  > .prev {
    display: block;
  }

  > .active {
    left: 0;
  }

  > .next,
  > .prev {
    position: absolute;
    top:      0;
    width:    100%;
  }

  > .next {
    left: 100%;
  }
  > .prev {
    left: -100%;
  }
  > .next.left,
  > .prev.right {
    left: 0;
  }

  > .active.left {
    left: -100%;
  }
  > .active.right {
    left:  100%;
  }

}
// ====================== END BASE STYLE ======================


// ========================= LEFT/RIGHT CONTROLS =========================
.carousel-control {
  position:     absolute;
  top:          0;
  bottom:       0;
  left:         0;
  width:              $carousel-control-width;
  font-size:          $carousel-control-font-size;
  color:              var(--color-interface-softest);
  text-align:         center;
  text-shadow:        $carousel-text-shadow;
  background-color: rgba(0, 0, 0, 0); // Fix IE9 click-thru bug
  opacity:            $carousel-control-opacity;
  // We can't have this transition here because WebKit cancels the carousel
  // animation if you trip this while in the middle of another animation.

  // Set gradients for backgrounds
  &.left {
    #gradient {
      background-image:   -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%); /* Safari 5.1-6, Chrome 10+ */
      background-image:   -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%); /* Opera 12 */
      background-image:   linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%); /* Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+ */
      filter:             progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1); /* IE9 and down */
      background-repeat:  repeat-x;
    }
  }
  &.right {
    right: 0;
    left: auto;
    #gradient{
      background-image:   -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%); /* Safari 5.1-6, Chrome 10+ */
      background-image:   -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%); /* Opera 12 */
      background-image:   linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%); /* Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+ */
      filter:             progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1); /* IE9 and down */
      background-repeat:  repeat-x;
    }
  }

  // Hover/focus state
  &:hover,
  &:focus {
    color:            var(--color-interface-softest);
    text-decoration:  none;
    outline:          0;
    opacity:          .9;
  }

  // Toggles
  .icon-prev,
  .icon-next,
  .glyphicon-chevron-left,
  .glyphicon-chevron-right {
    position:   absolute;
    top:        50%;
    z-index:    5;
    display:    inline-block;
    margin-top: -10px;
  }
  .icon-prev,
  .glyphicon-chevron-left {
    left:         50%;
    margin-left:  -10px;
  }
  .icon-next,
  .glyphicon-chevron-right {
    right:          50%;
    margin-right:   -10px;
  }
  .icon-prev,
  .icon-next {
    width:        20px;
    height:       20px;
    font-family:  serif;
    line-height:  1;
  }

  .icon-prev {
    &:before {
      content: "\2039";// SINGLE LEFT-POINTING ANGLE QUOTATION MARK (U+2039)
    }
  }
  .icon-next {
    &:before {
      content: "\203a";// SINGLE RIGHT-POINTING ANGLE QUOTATION MARK (U+203A)
    }
  }
}

.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}

.carousel-control .fa-chevron-left {
  left: 40px;
}

.carousel-control .fa-chevron-right {
  right: 40px;
}
// ======================= END LEFT/RIGHT CONTROLS =======================


// ========================= INDICATOR PIPS =======================
.carousel-indicators {
  position: absolute;
  bottom:   10px;
  left:     50%;
  z-index:  15;
  width:    60%;
  padding-left: 0;
  margin-left:  -30%;
  text-align:   center;
  list-style:   none;

  li {
    display: inline-block;
    width:  10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    // IE8-9 hack for event handling
    //
    // Internet Explorer 8-9 does not support clicks on elements without a set
    // `background-color`. We cannot use `filter` since that's not viewed as a
    // background color by the browser. Thus, a hack is needed.
    // See https://developer.mozilla.org/en-US/docs/Web/Events/click#Internet_Explorer
    //
    // For IE8, we set solid black as it doesn't support `rgba()`. For IE9, we
    // set alpha transparency for the best results possible.
    background-color: #000 \9; // IE8
    background-color: rgba(0, 0, 0, 0); // IE9

    border:         1px solid var(--color-interface-softest);
    border-radius:  10px;
  }

  .active {
    width:  12px;
    height: 12px;
    margin: 0;
    background-color: var(--color-interface-softest);
  }
}
// ===================== END INDICATOR PIPS =======================


//======================= Optional captions =======================
.carousel-caption {
  position: absolute;
  right:    15%;
  bottom:   20px;
  left:     15%;
  z-index:  10;
  padding-top:    var(--spacing-large);
  padding-bottom: var(--spacing-large);
  color:          var(--color-interface-softest);
  text-align:     center;
  text-shadow:    $carousel-text-shadow;

  & .btn {
    text-shadow: none; // No shadow for button elements in carousel-caption
  }
}
//===================== END OPTIONAL CAPTIONS =====================


// ======================== MEDIA QUERY ========================
@media screen and (min-width: $screen-small) {

  // Scale up the controls a smidge
  .carousel-control {
    .glyphicon-chevron-left,
    .glyphicon-chevron-right,
    .icon-prev,
    .icon-next {
      width:      ($carousel-control-font-size * 1.5);
      height:     ($carousel-control-font-size * 1.5);
      margin-top: ($carousel-control-font-size * -0.5);
      font-size:  ($carousel-control-font-size * 1.5);
    }
    .glyphicon-chevron-left,
    .icon-prev {
      margin-left: ($carousel-control-font-size * -0.5);
    }
    .glyphicon-chevron-right,
    .icon-next {
      margin-right: ($carousel-control-font-size * -0.5);
    }
  }

  // Show and left align the captions
  .carousel-caption {
    right:  20%;
    left:   20%;
    padding-bottom: 30px;
  }

  // Move up the indicators
  .carousel-indicators {
    bottom: 20px;
  }
}
//======================= END MEDIA QUERY ======================




