
/* Dashboard Title */
.title h3 {
    padding-top: unset;
    color: #7A1315;
    font-weight: unset;
}

/* Mobile Styling Dashboard Title */
@media screen and (max-width: 1024px) {
    .title-container {
        height: 130px;
    }

    .title-greeting {
        font-size: 45px;
    }
}

@media screen and (max-width: 500px){
    .title-container {
        margin-top: -10px;
        height: unset;
    }

    .title-greeting {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
    }

    .title h2, .print-button h2  {
        font-size: 24px;
        text-align: center;
    }
}

/* End Dashboard Title */


/* Popover Styling */
.popover {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    text-align: center;
}

.popover-content {
    color: #7A1315;
    font-family: akrobat;
}

/* Dashboard Card */

.dashboard-row {
    display: flex;
    justify-content: center;
}

.dashboard-card {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
    border-radius: 10px;
    border: unset;
    border-width: unset;
    /* min-width: 350px;
    width: 370px; */
    height: 450px; 
    max-height: 450px; 
    background-color: #FFFFFF; 
    z-index: 1; 
    overflow: hidden;
    margin: 0 10px;
}

.dashboard-card:first-of-type {
    margin-left: 0;
}

.dashboard-card:last-of-type {
    margin-right: 0;
}

/* Card Title Section */
.dashboard-card .title {
    width: 100%;
    padding: 0px 15px;
    border-bottom: 1px solid #ddd; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.dashboard-card .title h4 {
    font-size: 26px;
    margin: 14px 0 16px 15px;
}

.dashboard-card .title .dropdown-toggle {
    border: 0;
    background-color: unset;
    padding-top: 5px;
    margin-right: 3px;
}

.dashboard-title-icon {
    color: #424242; 
    font-size: 24px;
    margin: 0 5px;
}

.panel-dropdown-menu {
    top: unset;
    left: inherit;
    width: 220px;
}

/* Card Content Section */
.dashboard-card .content {
    overflow-y: auto; 
    height: 405px;
    display: flex; 
    flex-direction: column;
    padding-bottom: 20px;
}

.dashboard-card .content .header {
    text-align: center; 
    background-color: rgb(230, 230, 230);
    border-bottom: 1px solid #ddd; 
}

.dashboard-card .content .team-header {
    text-align: center; 
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid #ddd; 
}

.dashboard-card .content .team-header h5 {
    font-size: 18px; 
    margin: 0px 0px .05rem; 
    padding: 10px 15px;
}

.person-row-summary {
    padding: 0 20px; 
    display: flex; 
    align-items: center;
}

.person-row-summary img {
    margin: 10px;
}

.person-info {
    display: flex; 
    flex-direction: column; 
    width: 80%; 
    margin-left: 10px;
    white-space: normal;
}

.person-contact {
    display: flex;
    justify-content: flex-end;
}

.dashboard-icon {
    color: #424242; 
    font-size: 24px;
    margin: 0 10px;
}

/* Dashboard Card Responsive Styling */

/* Group Card */
.group-header {
    background-color: #EEEEEE;
    padding: 13px 20px 13px 30px;
    border-bottom: 1px solid #ddd; 
    /* margin-bottom: 10px; */
}

.group-header-content {
    display: flex;
    align-items: center;
}

.group-header a {
    font-family: akrobat;
    font-size: 18px; 
    color: #7A1315; 
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
    overflow: hidden; 
    text-transform: uppercase;
    text-decoration: none;
    white-space: normal;
    line-height: 22px;
}

.group-header h5 {
    font-size: 18px; 
    margin: 0px 0px .05rem; 
    max-width: 60%;
}

.group-header span {
    font-family: akrobat;
    font-size: 18px; 
    color: #7A1315; 
    text-transform: uppercase; 
    font-weight: bold; 
    white-space: normal;
    line-height: 22px;
}

.group-details-toggle {
    border: none;
    background-color: unset;
    padding: 0;
}

.group-header-icon {
    font-size: 26px;
    color: #7A1315; 
    margin: 0;
}

/* Mobile Styling Group Card */

@media screen and (max-width: 500px){
    .group-header {
        padding: 15px 10px;
    }

    .group-header h5, .group-header span {
        font-size: 16px;
    }
    
    .group-header a {
        overflow: unset;
        margin-left: 0;
        margin-right: 0;
    }

    .group-header .mdi-chevron-right {
        font-size: 21px;
    }

    .coach-video-text {
        margin-left: 30px;
    }
}

/* Phones smaller than iPhone Plus size */
@media screen and (max-width: 413px) {
    .group-header a span {
        white-space: normal;
    }
}
/* End Group Card */


