
.logo-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.app-store, .google-play {
    text-align: center;
    margin-bottom: 25px;
}

.ccv-app-logo {
    text-align: center;
}

@media screen and (min-width: 500px) {
    .logo-wrapper {
        flex-direction: row;
        justify-content: flex-start;
    }

    .app-store {
        margin-right: 25px;
    }
}