
/**
 * Adjustments for existing rock elements
 */
.page-background {
  color:#fff;
}

#masthead {
  margin-bottom:0;
}

#masthead, .main-feature {
  background-color:#000;
}

#section-a-bg {
  
  background-color:#000;

}
/**
 * Namespace all css to avoid any issues with integrating into exisiting site.
 */
.colombia {
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
  color: #414141;
  margin: 0px;
  max-width: 100%; }

  .colombia h1, .colombia h2, .colombia h3 {
    font-family: 'DINWebCondensed'; }
  .colombia h4, .colombia h5 {
    font-family: 'Heebo', sans-serif;
    color: #454545;
    font-weight: normal;
    text-transform: none; }
  .colombia h4 {
    font-size: 1.3em; }
  .colombia h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    color: #8b9164;
    margin: 0 0 .2em; }
  .colombia img {
    max-width: 100%; }
  .colombia .btn, .colombia a.btn {
    background-color: #8b9164;
    color: #fff;
    display: block; }
  .colombia .line-spacer {
    border-bottom: 3px solid #e2e2e2;
    padding: 3% 0; }
  .colombia .container {
    padding: 5%;
    width: 100% !important; }
    .colombia .container.green-bg {
      background: #8b9164; }
  .colombia .content {
    padding: 5%;
    background: #fff;
    position: relative; }
  .colombia .campus-options {
    padding: 0px;
    margin: 0px;
    background-color: #848960;
    border-radius: 5px;
    max-height: 40px;
    overflow: hidden;
    -webkit-transition: max-height 0.1s ease-in-out;
    transition: max-height 0.1s ease-in-out;
    position: absolute;
    z-index: 100;
    right: 0;
    top: 0; }
    .colombia .campus-options li {
      cursor: pointer;
      color: #fff;
      text-align: left;
      padding: .1em 5em .1em .7em;
      font-size: 1.1em; }
    .colombia .campus-options li.selected {
      background-color: #848960 !important;
    }
      .colombia .campus-options li:first-child {
        margin-top: 0;
        position: relative;
        padding: .4em 5em .2em .7em; }
        .colombia .campus-options li:first-child:after {
          content: url(/Themes/church_ccv_External_v7/Assets/Images/colombia_landing/d_caret.svg);
          top: 50%;
          position: absolute;
          right: 14px;
          -webkit-transform: translateY(-30%);
                  transform: translateY(-30%);
          height: 3em; }
      .colombia .campus-options li:last-child {
        padding-bottom: .7em !important; }
    .colombia .campus-options.register {
      max-height: 50px;
      font-size: 1.2em;
      text-transform: uppercase;
      width: 100%;
      position: relative; }
      .colombia .campus-options.register li {
        cursor: pointer;
        color: #fff;
        text-align: left;
        padding: .1em .5em .1em .7em;
        font-family: 'DINWebCondensed', sans-serif;
        font-weight: 100;
        font-size: .90em; }
        .colombia .campus-options.register li:first-child {
          margin-top: 0;
          position: relative;
          padding: 0.65em 0.5em 0.7em 0.7em; }
    .colombia .campus-options.slide-down {
      max-height: 500px; }
  .colombia .photo-header {
    padding: 2rem 0;
    background: #000; }
    .colombia .photo-header .content {
      padding: 10%;
      background-color: transparent;
      margin: 0; }
  .colombia #physical-needs {
    padding-bottom: 0; }
    .colombia #physical-needs.container {
      background: #fff; }
    .colombia #physical-needs .content {
      background: #fff;
      padding: 2.5%; }
    .colombia #physical-needs .content:first-child {
      padding-top: 5%; }
    .colombia #physical-needs img {
      width: 95%; }
    .colombia #physical-needs a {
      display: block; }
    .colombia #physical-needs .mockup {
      display:flex;
    }
    .colombia #physical-needs .mockup .info {
      padding: 5% 15px 0; }
    .colombia #physical-needs .app-store-icons {
      padding: 5%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .colombia #physical-needs .app-store-icons a {
        display: inline-block;
        width: 45%;
        margin-right: 2%; }
      .colombia #physical-needs .app-store-icons embed {
        width: 100%; }
  #section-d-bg {
    background: url(/Themes/church_ccv_External_v7/Assets/Images/colombia_landing/child_praying.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .colombia #spiritual-needs p {
    color:#fff;
     }
    .colombia #spiritual-needs .content {
      color: #fff;
      max-width: 100%;
      background-color: rgba(139, 145, 100, 0.7); }
      .colombia #spiritual-needs .content h1, .colombia #spiritual-needs .content h4 {
        color: #fff; }
  #section-e-bg {
    background: #ebe8de;
  }
  #zone-sectionf {
    max-width: 1280px;
    margin:0 auto;
  }
  .colombia #church-plants {
    background-color: #ebe8de; }
    .colombia #church-plants .content {
      padding: 0; }
    .colombia #church-plants .campus-select {
      position: relative;
      width: 100%;
      padding: 5%; }
      .colombia #church-plants .campus-select h4 {
        font-size: 1.1em; }
    .colombia #church-plants img {
      width: 100%; }
  .colombia .bottom-border {
    padding-bottom: 0; }
    .colombia .bottom-border hr {
      margin: 5% 0; }
  .colombia .no-style {
    list-style-type: none;
    padding-left: 21px; }
    .colombia .no-style li {
      list-style-type: none; }
    .colombia .no-style li:before {
      content: "-";
      position: absolute;
      margin-left: -20px; }
  @media (min-width: 992px) {
    #section-a-bg {
      background: url(/Themes/church_ccv_External_v7/Assets/Images/colombia_landing/hero_bg.jpg);
      background-size: contain;
      background-position: top right;
      background-color:#000;
      background-repeat: no-repeat; }
    #section-b-bg {
      background-color:#fff;
    }
    #section-c-bg {
      background-color:#8b9164;
    }
    .colombia {
      text-align: left; }
      .colombia .btn, .colombia a.btn {
        display: inline-block; }
      .colombia .photo-header {
        background:transparent; }
      .colombia #physical-needs.container {
        background: #8b9164; }
      .colombia #physical-needs a {
        display: inline-block; }
      .colombia #physical-needs .mockup .info {
        width: 50%; padding-left:0; padding-right: 0;}
        .colombia #physical-needs .info h5 {
          font-weight:bold;
        }
      .colombia #physical-needs .app-store-icons {
        padding: 5%;
        width: 50%; }
        .colombia #physical-needs .app-store-icons a {
          display: block;
          width: 100%;
          margin-right: 0;
          text-align: center; }
          .colombia #physical-needs .app-store-icons a embed {
            width: 95%; }
      .colombia #spiritual-needs {
        padding: 15% 5%; }
        .colombia #spiritual-needs .content {
          color: #fff;
          max-width: 50%;
          background-color: rgba(139, 145, 100, 0.7); }
          .colombia #spiritual-needs .content h1, .colombia #spiritual-needs .content h4 {
            color: #fff; }
      .colombia #church-plants .campus-select {
        position: absolute;
        width: 40%;
        right: 2.5%;
        top: 0%; }
      .colombia #church-plants img {
        width: 60%; } }
  @media (min-width: 1200px) {
    .colombia #physical-needs .mockup {
      background: url(/Themes/church_ccv_External_v7/Assets/Images/colombia_landing/mockup.png);
      background-size: auto 170%;
      background-position: 3% -22%;
      background-color: #fff;
      background-repeat: no-repeat;
      padding-left: 37%; }
      .colombia #physical-needs .mockup h5 {
        font-weight: bold; }
    .colombia #physical-needs .info {
      width: 45%; }
    .colombia #physical-needs .app-store-icons {
      padding: 5%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      .colombia #physical-needs .app-store-icons a {
        display: inline-block;
        width: 45%;
        margin-right: 2%; }
      .colombia #physical-needs .app-store-icons embed {
        width: 100%; }
    .colombia #church-plants .campus-select {
      position: absolute;
      width: 33%;
      right: 0.5%;
      top: 1.5%; }
    .colombia #church-plants img {
      width: 68%; } }
  @media (min-width: 1500px) {
    .colombia #physical-needs .mockup {
      padding-left: 34%; } }
