.card {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 30px;
}
.card-title {
  color: inherit;
  position: relative;
  overflow: hidden;
  display: block;
  height: 330px;
}
.card-title:hover {
  text-decoration: none;
  color: inherit;
}
.card-half .card-title {
  height: 120px;
}
.card-title-withimg {
  background-position: center center;
  background-size: cover;
  background-repeat: none;
}
.card-titletext {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  margin: 0;
  width: 100%;
  padding: 15px 15px;
  line-height: 30px;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  overflow: hidden;
  max-height: 100%;
}
.card-title:hover .card-titletext {
  background: rgba(0, 0, 0, 0.25);
}
.card-dark .card-titletext {
  color: #333333;
}
.card-dark .card-title:hover .card-titletext {
  background: rgba(255, 255, 255, 0.5);
}
.card-footer {
  height: 60px;
  background: #fff;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  line-height: 60px;
  padding-left: 15px;
  padding-right: 11px;
}
.card-btn {
  margin-top: 11px;
  float: right;
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.card-btn:hover,
.card-btn:focus,
.card-btn:active,
.card-btn.active,
.open > .dropdown-toggle.card-btn {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #e0e0e0;
}
.card-btn:active,
.card-btn.active,
.open > .dropdown-toggle.card-btn {
  background-image: none;
}
.card-btn.disabled,
.card-btn[disabled],
fieldset[disabled] .card-btn,
.card-btn.disabled:hover,
.card-btn[disabled]:hover,
fieldset[disabled] .card-btn:hover,
.card-btn.disabled:focus,
.card-btn[disabled]:focus,
fieldset[disabled] .card-btn:focus,
.card-btn.disabled:active,
.card-btn[disabled]:active,
fieldset[disabled] .card-btn:active,
.card-btn.disabled.active,
.card-btn[disabled].active,
fieldset[disabled] .card-btn.active {
  background-color: #ffffff;
  border-color: #ffffff;
}
.card-btn .badge {
  color: #ffffff;
  background-color: #333333;
}
