

//
// EVENTS PAGE
// --------------------------------------------------


// Imports
// -------------------------
@import "../../../../Styles/Bootstrap/variables.less";
@import "../../../../Styles/Bootstrap/mixins.less";
@import "../../../../Styles/_rock-variables.less";

@import "../_variables";
@import "../_mixins";

@xs: ~"(min-width: @{screen-xs-min})";
@sm: ~"(min-width: @{screen-sm-min})";
@md: ~"(min-width: @{screen-md-min})";
@lg: ~"(min-width: @{screen-lg-min})";


// Base
// -------------------------

.card {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  margin-bottom: @grid-gutter-width;
}
  .card-title {
    // handle links
    color: inherit;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
    // /handle links
    position: relative;
    overflow: hidden;
    display: block;
    height: @grid-gutter-width*9;
    background: @gray-light;
  }
    .card-titletext {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: #fff;
      margin: 0;
      width: 100%;
      padding: @grid-gutter-width/2 @grid-gutter-width/2;
      line-height: @grid-gutter-width;
      .transition(background .3s);
      overflow: hidden;
      max-height: 100%;
    }
  .card-footer {
    height: @grid-gutter-width*2;
    background: #fff;
    .border-bottom-radius(5px);
    line-height: @grid-gutter-width*2;
    padding: 0 @grid-gutter-width/2;
  }
    .card-btn {
      float: right;
      i {
        .transition(margin .3s);
      }
      &:hover {
        text-decoration: none;
        i {
          margin-right: -2px;
          margin-left: 2px;
        }
      }
    }


// Modifiers
// -------------------------

// Size

.card-half .card-title {
  height: @grid-gutter-width*3;
}

// Color

.card-primary .card-title {
  background: @brand-primary;
}
.card-black .card-title {
  background: @gray-darker;
}

// Card Image variations

.card-title-withimg {
  background-position: center center;
  background-size: cover;
  background-repeat: none;
}
  .card-title-withimg:hover .card-titletext {
    background: rgba(0,0,0,.25);
  }

.card-title-dark .card-titletext {
  color: @text-color;
}
.card-title-dark:hover .card-titletext {
  background: rgba(255,255,255,.5);
}

