/*
    The accent colors are deprecated and should not be used in new theme development. They will be
    removed in Rock v 6.0.
*/
.block-instance.transaction-entry {
  margin-left: -2px;
  margin-right: -2px;
}
body {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}
.actions {
  margin-left: 15px;
  margin-right: 15px;
}
