

//
// NEXT STEPS PAGE
// --------------------------------------------------


// Imports
// -------------------------
@import "../../../../Styles/Bootstrap/variables.less";
@import "../../../../Styles/Bootstrap/mixins.less";
@import "../../../../Styles/_rock-variables.less";

@import "../_variables";
@import "../_mixins";

@xs: ~"(min-width: @{screen-xs-min})";
@sm: ~"(min-width: @{screen-sm-min})";
@md: ~"(min-width: @{screen-md-min})";
@lg: ~"(min-width: @{screen-lg-min})";


// Custom
// -------------------------

// Image stack

.nextsteps-icon {
  position: relative;
}
  .nextsteps-icon > img {
    position: absolute;
    opacity: 0;
    .transition(.5s opacity);
    &.active {
      opacity: 1;
    }
  }

// Positioning

.nextsteps-icon {
  margin-top: @grid-gutter-width;
}

@media (max-width: @screen-xs-max) {
  .nextsteps-icon-holder {
    padding-right: 0;
  }
}

.nsbtn {
  display: block;
  background: #333;
  color: #fff;
  padding: @grid-gutter-width/2;
  border-radius: @border-radius-large;
  height: @grid-gutter-width*3;
  position: relative;
  text-align: center;

  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;

  @media @md {
    height: @grid-gutter-width*4;
  }

  &:hover {
    color: #fff;
    background: #777;
    text-decoration: none;
    .nsbtn-title {
      // opacity: .5;
      // color: inherit;
    }
  }
}
  .nsbtn-title {
    position: relative;
    top: 50%;
    .translate(0; -50%);
    margin: 0;
    // margin: @grid-gutter-width/2 0;
    // position: absolute;
    // bottom: 0;
    // vertical-align: middle;
    // display: inline-block;
  }
