    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="index.html">Rock-ChMS Developer</a>
          <ul class="nav">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="BrandAssets.html">Brand Assets</a></li>
            <li><a href="http://www.sparkdevelopmentnetwork.com">Spark Developement Network</a></li>
            <li><a href="http://www.rockchms.com">Rock ChMS</a></li>
          </ul>
          <p class="pull-right"></p>
        </div>
      </div>
    </div>