          <h5>Documentation</h5>
          <ul>
            <li><a href="Developer_Quickstart_Guide.html">Getting Started</a></li>
            <li><a href="DeveloperReference.pdf">Developer Reference</a></li>
            <li><a href="DeveloperHandbook.pdf">Developer Handbook</a></li>
            <li><a href="https://github.com/SparkDevNetwork/Rock-ChMS/wiki/Reference">Wiki Reference</a></li>
          </ul>

          <h5>Source</h5>
          <ul>
            <li><a href="https://github.com/SparkDevNetwork/Rock-ChMS">GitHub Repo</a></li>
          </ul>

          <h5>IRC</h5>
          <ul>
            <li><a href="irc://chat.freenode.net/#RockChMS">Dev Channel</a></li>
            <li><a href="http://24.249.179.215/irclogs">Logs/history</a></li>
          </ul>

          <h5>Style</h5>
          <ul>
            <li><a href="BrandAssets.html">Brand Assets</a></li>
          </ul>

          <h5>Newsletter Archive</h5>
          <ul>
            <li><a href="newsletter/index.html">Previous Volumes</a></li>
          </ul>