          <h5>Documentation</h5>
          <ul>
          	<li><a href="https://github.com/SparkDevNetwork/Rock-ChMS/wiki/Coding-standards">Coding Standards</a></li>
          	<li><a href="https://github.com/SparkDevNetwork/Rock-ChMS/wiki/UI-Guidelines">UI Guidelines</a></li>
            <!--
            <li><a href="Developer_Quickstart_Guide.html">Getting Started (old)</a></li>
            <li><a href="DeveloperReference.pdf">Developer Reference (old)</a></li>
            <li><a href="DeveloperHandbook.pdf">Developer Handbook</a></li>
            -->
            <li><a href="https://github.com/SparkDevNetwork/Rock-ChMS/wiki">Rock Wiki</a></li>
          </ul>

          <h5>Source</h5>
          <ul>
            <li><a href="https://github.com/SparkDevNetwork/Rock-ChMS">GitHub Repo</a></li>
          </ul>

          <h5>IRC &amp; Chat</h5>
          <ul>
            <li><a href="irc://chat.freenode.net/#RockChMS">IRC Dev Channel</a></li>
            <li><a href="https://sparkdevnetwork.campfirenow.com/40198">Campfire Chat</a></li>
            <li><a href="http://dev.sparkdevelopmentnetwork.com/irclogs">Logs/history</a></li>
          </ul>

<!--
          <h5>Style</h5>
          <ul>
            <li><a href="BrandAssets.html">Brand Assets</a></li>
            <li><a href="RockUI.html">Rock UI Standards</a></li>
          </ul>
-->
          <h5>Newsletter Archive</h5>
          <ul>
            <li><a href="newsletter/index.html">Previous Volumes</a></li>
          </ul>