:root {
    // ========================= COLOR =========================

    // INTERFACE COLORS 
    --color-interface-strongest: #181A1C;
    --color-interface-stronger:  #2B3136;
    --color-interface-strong:    #67717A;
    --color-interface-medium:    #9AA7B3;
    --color-interface-soft:      #E4E8EB;
    --color-interface-softer:    #F6F7F9;
    --color-interface-softest:   #FFFFFF;

    // APPLICATION COLORS 
    --color-critical-soft:   #FEDEC8;
    --color-critical-strong: #EE7624;
    --color-danger-soft:     #FEE2E2;
    --color-danger-strong:   #B91C1C;
    --color-info-soft:       #E0F2FE;
    --color-info-strong:     #0369A1;
    --color-success-soft:    #D1FAE5;
    --color-success-strong:  #047857;
    --color-warning-soft:    #FEF3C7;
    --color-warning-strong:  #B45309;

    // SYSTEM COLORS 
    --color-primary:        #EE7725;
    --color-link:           #006DCC;
    --color-link-hover:     #003766;
    --color-secondary:      #83758F;

    // CATEGORICAL COLORS 
    --color-categorical-1: #000BFF;
    --color-categorical-2: #DE3D82;
    --color-categorical-3: #949494;
    --color-categorical-4: #14EBE2;
    --color-categorical-5: #FF1C1C;
    --color-categorical-6: #57FF4B;
    --color-categorical-7: #7100FF;
    --color-categorical-8: #FFDA00;
    --color-categorical-9: #FF7500;

    // DIVERGING COLORS 
     --color-diverging-1:  #4A001E;
     --color-diverging-2:  #751232;
     --color-diverging-3:  #A52747;
     --color-diverging-4:  #C65154;
     --color-diverging-5:  #E47961;
     --color-diverging-6:  #F0A882;
     --color-diverging-7:  #FAD4AC;
     --color-diverging-8:  #FFFFE0;
     --color-diverging-9:  #BBE4D1;
     --color-diverging-10: #76C7BE;
     --color-diverging-11: #3EA8A6;
     --color-diverging-12: #208288;
     --color-diverging-13: #076769;
     --color-diverging-14: #00494B;
     --color-diverging-15: #002C2D;

     // SEQUENTIAL COLORS 
     --color-sequential-1:  #EAFFF1;
     --color-sequential-2:  #C9F1E4;
     --color-sequential-3:  #A7E3D7;
     --color-sequential-4:  #85D5CA;
     --color-sequential-5:  #6CC5C0;
     --color-sequential-6:  #58B4B9;
     --color-sequential-7:  #44A2B1;
     --color-sequential-8:  #3091AA;
     --color-sequential-9:  #2880A0;
     --color-sequential-10: #246E96;
     --color-sequential-11: #215D8B;
     --color-sequential-12: #1D4C81;
     --color-sequential-13: #1C3B77;
     --color-sequential-14: #1B296D;
     --color-sequential-15: #1A1662;
     --color-sequential-16: #180055;

     --color-code:    #c7254e;
     --color-code-bg: #f9f2f4;

    // ========================= END COLOR ==========================



    // ========================= TYPOGRAPHY =========================

    // FONT SIZES 
    --font-size-small:      14px;
    --font-size-regular:    16px;
    --font-size-h1:         44px;
    --font-size-h2:         36px;
    --font-size-h3:         28px;
    --font-size-h4:         22px;
    --font-size-h5:         18px;
    --font-size-h6:         16px;

    // FONT WEIGHTS 
    --font-weight-light:    300;
    --font-weight-regular:  400;
    --font-weight-medium:   500;
    --font-weight-semibold: 600;
    --font-weight-bold:     700;
    --font-weight-black:    900;

    // LINE HEIGHTS 
    --line-height-normal:  1.5;
    --line-height-tight:   1.1;
    --line-height-compact: 1.055;

    // FONT FAMILY 
    --font-family-title:        var(--font-family-sans)
    --font-family-body:         var(--font-family-sans)
    --font-family-segoe:        "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --font-family-sans:         -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-serif:        Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --font-family-monospace:    Menlo, Monaco, Consolas, "Courier New", monospace;

    // ========================= END TYPOGRAPHY =========================



    // ============================ SPACING =============================

    // SPACING 
    --spacing-tiny:       4px;
    --spacing-small:      8px;
    --spacing-medium:    16px;
    --spacing-large:     24px;
    --spacing-xlarge:    48px;
    --spacing-huge:      80px;

    // ========================== END SPACING ===========================



    // ========================== VISUAL APPEARANCES ===========================
    
    --adminbar-bg: var(--color-interface-stronger);

    --link-hover-decoration: underline;

    --dropdown-box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);

    // BORDER RADIUS
    --rounded-tiny:     2px;
    --rounded-small:    6px;
    --rounded-medium:   8px;
    --rounded-large:   12px;
    --rounded-xlarge:  16px;
    --rounded-huge:    24px;

    // ========================== END VISUAL APPEARANCES ===========================

}
