:root {
  // ========================= COLOR =========================

  // INTERFACE COLORS 
  --color-interface-strongest: #010409;
  --color-interface-stronger:  #0d1117;
  --color-interface-strong:    #3d444d;
  --color-interface-medium:    #8B8BA7;
  --color-interface-soft:      #D9D9E3;
  --color-interface-softer:    #f1f1f8;
  --color-interface-softest:   #FFFFFF;

  // APPLICATION COLORS 
  --color-critical-soft:    #EE7725;
  --color-critical-strong:  #EE7725;
  --color-critical-tint:    #EE7725;
  --color-critical-shade:   #EE7725;
  
  --color-danger-soft:    #D70015;
  --color-danger-strong:  #D70015;
  --color-danger-tint:    #D70015;
  --color-danger-shade:   #D70015;
  
  --color-info-soft:        #007AFF;
  --color-info-strong:      #007AFF;
  --color-info-tint:        #007AFF;
  --color-info-shade:       #007AFF;
  
  --color-success-soft:     #248A3D;
  --color-success-strong:   #248A3D;
  --color-success-tint:     #248A3D;
  --color-success-shade:    #248A3D;
  
  --color-warning-soft:     #E58600;
  --color-warning-strong:   #E58600;
  --color-warning-tint:     #E58600;
  --color-warning-shade:    #E58600;
  
  /* System colors */
  --color-primary:          #EE7725;
  --color-primary-tint:     #EE7725;
  --color-primary-shade:    #EE7725;
  
  --color-link:             #006DCC;
  --color-link-tint:        #006DCC;
  --color-link-shade:       #006DCC;
  
  --color-secondary:        #83758f;
  --color-secondary-tint:   #83758f;
  --color-secondary-shade:  #83758f;

  @supports (color: color-mix(in srgb, red 50%, white 50%)) {
    --tint-white-percentage: 100%;
    --shade-black-percentage: 15%;

    --color-critical-tint:  color-mix(in srgb, var(--color-critical-strong) 50%, #FFF var(--tint-white-percentage));
    --color-critical-soft:  color-mix(in srgb, var(--color-critical-strong) 25%, #FFF var(--tint-white-percentage));
    --color-critical-shade: color-mix(in srgb, var(--color-critical-strong) 100%, #000 var(--shade-black-percentage));
  
    --color-danger-tint:    color-mix(in srgb, var(--color-danger-strong) 50%, #FFF var(--tint-white-percentage));
    --color-danger-soft:    color-mix(in srgb, var(--color-danger-strong) 25%, #FFF var(--tint-white-percentage));
    --color-danger-shade:   color-mix(in srgb, var(--color-danger-strong) 100%, #000 var(--shade-black-percentage));
  
    --color-info-tint:      color-mix(in srgb, var(--color-info-strong) 50%, #FFF var(--tint-white-percentage));
    --color-info-soft:      color-mix(in srgb, var(--color-info-strong) 25%, #FFF var(--tint-white-percentage));
    --color-info-shade:     color-mix(in srgb, var(--color-info-strong) 100%, #000 var(--shade-black-percentage));
  
    --color-success-tint:   color-mix(in srgb, var(--color-success-strong) 50%, #FFF var(--tint-white-percentage));
    --color-success-soft:   color-mix(in srgb, var(--color-success-strong) 25%, #FFF var(--tint-white-percentage));
    --color-success-shade:  color-mix(in srgb, var(--color-success-strong) 100%, #000 var(--shade-black-percentage));
  
    --color-warning-tint:   color-mix(in srgb, var(--color-warning-strong) 50%, #FFF var(--tint-white-percentage));
    --color-warning-soft:   color-mix(in srgb, var(--color-warning-strong) 25%, #FFF var(--tint-white-percentage));
    --color-warning-shade:  color-mix(in srgb, var(--color-warning-strong) 100%, #000 var(--shade-black-percentage));
  
    --color-primary-tint:   color-mix(in srgb, var(--color-primary) 50%, #FFF var(--tint-white-percentage));
    --color-primary-shade:  color-mix(in srgb, var(--color-primary) 100%, #000 var(--shade-black-percentage));
  
    --color-link-tint:      color-mix(in srgb, var(--color-link) 50%, #FFF var(--tint-white-percentage));
    --color-link-shade:     color-mix(in srgb, var(--color-link) 100%, #000 var(--shade-black-percentage));
  
    --color-secondary-tint: color-mix(in srgb, var(--color-secondary) 50%, #FFF var(--tint-white-percentage));
    --color-secondary-shade: color-mix(in srgb, var(--color-secondary) 100%, #000 var(--shade-black-percentage));
  }

  // CATEGORICAL COLORS 
  --color-categorical-1: #007aff;
  --color-categorical-2: #5856D6;
  --color-categorical-3: #4cd964;
  --color-categorical-4: #ff2d55;
  --color-categorical-5: #ff9500;
  --color-categorical-6: #5ac8fa;
  --color-categorical-7: #ffcc00;
  --color-categorical-8: #8e8e93;

  // DIVERGING COLORS
  --color-diverging-1:  #2507b7;
  --color-diverging-2:  #3109f5;
  --color-diverging-3:  #6447f7;
  --color-diverging-4:  #9884fa;
  --color-diverging-5:  #CBC1FC;
  --color-diverging-6:  #E5EEF9;
  --color-diverging-7:  #C8F5F0;
  --color-diverging-8:  #92ece2;
  --color-diverging-9:  #5be2d4;
  --color-diverging-10: #22c8b7;
  --color-diverging-11: #1ca394;

  // SEQUENTIAL COLORS
  --color-sequential-1:   #1a844a;
  --color-sequential-2:   #209f58;
  --color-sequential-3:   #25b967;
  --color-sequential-4:   #2AD476;
  --color-sequential-5:   #45D987;
  --color-sequential-6:   #5FDE98;
  --color-sequential-7:   #7AE4A9;
  --color-sequential-8:   #94E9BA;
  --color-sequential-9:   #AFEECB;
  --color-sequential-10:  #C9F4DC;
  --color-sequential-11:  #E4F9ED;

  --color-code:    #c7254e;
  --color-code-bg: #f9f2f4;

  // ========================= END COLOR ==========================



  // ========================= TYPOGRAPHY =========================

  // FONT SIZES
  --font-size-xsmall:     12px;
  --font-size-small:      14px;
  --font-size-regular:    16px;
  --font-size-h1:         44px;
  --font-size-h2:         36px;
  --font-size-h3:         28px;
  --font-size-h4:         22px;
  --font-size-h5:         18px;
  --font-size-h6:         16px;

  // FONT WEIGHTS 
  --font-weight-light:    300;
  --font-weight-regular:  400;
  --font-weight-medium:   500;
  --font-weight-semibold: 600;
  --font-weight-bold:     700;
  --font-weight-black:    900;

  // LINE HEIGHTS 
  --line-height-normal:  1.5;
  --line-height-tight:   1.1;
  --line-height-compact: 1.055;

  // FONT FAMILY 
  --font-family-title:        var(--font-family-sans);
  --font-family-body:         var(--font-family-sans);
  --font-family-segoe:        "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-family-sans:         -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-serif:        Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-family-monospace:    Menlo, Monaco, Consolas, "Courier New", monospace;

  // ========================= END TYPOGRAPHY =========================


  // ============================ SPACING =============================

  // SPACING 
  --spacing-tiny:       4px;
  --spacing-xsmall:     8px;
  --spacing-small:     12px;
  --spacing-medium:    16px;
  --spacing-large:     24px;
  --spacing-xlarge:    48px;
  --spacing-huge:      80px; 

  --file-asset-manager-padding-override: -18px;

  // ========================== END SPACING ===========================


  // ========================== VISUAL APPEARANCES ===========================
  
  --adminbar-bg:              #45474c;
  --modal-backdrop:           rgba(94, 94, 94, 0.6);

  --dropdown-box-shadow:      0 4px 8px 0 rgba(0,0,0,.1);
  --input-focus-box-shadow:   0 0 0 2px var(--color-primary-tint);

  // BORDER RADIUS
  --rounded-tiny:       2px;
  --rounded-xsmall:     4px;
  --rounded-small:      6px;
  --rounded-medium:     8px;
  --rounded-large:     12px;
  --rounded-xlarge:    16px;
  --rounded-huge:      24px;

  // ========================== END VISUAL APPEARANCES ===========================

  --focus-state-border: 1px solid var(--color-primary); // it is used by the "Write a note" in someone profile.
  --focus-state-shadow: var(--input-focus-box-shadow); // it is used by the "Write a note" in someone profile.
  --input-border: var(--color-interface-soft); // it used by CheckinAreas.css. The style is use in page Check-in Configuration in settings.


  // Follow the system color.
  @media (prefers-color-scheme: dark) {
    --color-interface-strongest: #FFFFFF;
    --color-interface-stronger:  #f1f1f8;
    --color-interface-strong:    #D9D9E3;
    --color-interface-medium:    #8B8BA7;
    --color-interface-soft:      #3d444d;
    --color-interface-softer:    #010409;
    --color-interface-softest:   #0d1117;
    
    --color-critical-soft:    #EE772533;
    --color-critical-strong:  #FEDEC8;
  
    --color-danger-soft:      #D7001533;
    --color-danger-strong:    #FFCCD1;
  
    --color-info-soft:        #007AFF33;
    --color-info-strong:      #D6EAFF;
  
    --color-success-soft:     #248A3D33;
    --color-success-strong:   #D7F4DE;
  
    --color-warning-soft:     #E5860033;
    --color-warning-strong:   #FFECD1;
  }
}

[theme = "light"] {
  --color-interface-strongest: #010409;
  --color-interface-stronger:  #0d1117;
  --color-interface-strong:    #3d444d;
  --color-interface-medium:    #8B8BA7;
  --color-interface-soft:      #D9D9E3;
  --color-interface-softer:    #f1f1f8;
  --color-interface-softest:   #FFFFFF;

  @supports (color: color-mix(in srgb, red 50%, white 50%)) {
    --color-critical-soft:    color-mix(in srgb, var(--color-critical-strong) 25%, #FFF var(--tint-white-percentage));
    --color-danger-soft:      color-mix(in srgb, var(--color-danger-strong) 25%, #FFF var(--tint-white-percentage));
    --color-info-soft:        color-mix(in srgb, var(--color-info-strong) 25%, #FFF var(--tint-white-percentage));
    --color-success-soft:     color-mix(in srgb, var(--color-success-strong) 25%, #FFF var(--tint-white-percentage));
    --color-warning-soft:     color-mix(in srgb, var(--color-warning-strong) 25%, #FFF var(--tint-white-percentage));
  }
}

[theme = "dark"] {
  --color-interface-strongest: #FFFFFF;
  --color-interface-stronger:  #f1f1f8;
  --color-interface-strong:    #D9D9E3;
  --color-interface-medium:    #8B8BA7;
  --color-interface-soft:      #3d444d;
  --color-interface-softer:    #010409;
  --color-interface-softest:   #0d1117;
  
  --color-critical-soft:    #EE772533;
  --color-critical-strong:  #FEDEC8;

  --color-danger-soft:      #D7001533;
  --color-danger-strong:    #FFCCD1;

  --color-info-soft:        #007AFF33;
  --color-info-strong:      #D6EAFF;

  --color-success-soft:     #248A3D33;
  --color-success-strong:   #D7F4DE;

  --color-warning-soft:     #E5860033;
  --color-warning-strong:   #FFECD1;
}