

// This file compiles into core.css, which is then imported by theme.scss in the TestStyleV2 Themes.

// ====================================================================================================
//  + Fully Format: This means the file is formatted for ease of reading. 
//  ---------------------------------------------------------------------------------------------------
//  + ** WORK IN PROGRESS **: This mean the opposite of the fully polish.
//  ---------------------------------------------------------------------------------------------------
//  + After you have "Fully Format" or "** WORK IN PROGRESS**" always have a full stop "." 
//    then follow by the note you want to leave for the file.
// ====================================================================================================




/* ==================== NORMALIZE ==================== */
@import 'core/normalize';                   // Fully Format. Normalize the html and all the elements


/* ===================== VARIABLES =================== */
@import 'sass-variable';                    // Fully Format.
@import 'css-variable';                     // Fully Format.


/* ===================== LEGACY  =================== */
@import 'legacy/jumbotron';                 // Fully Format. When color-mix() use, go in the file there's TODO comments at where it is need to be use.
@import 'legacy/media';                     // Fully Format. 
@import 'legacy/grid-layoutLegacy'; 
@import 'legacy/spacing-utilitiesLegacy';            


/* ======================= CORE  ======================*/
@import 'core/page-admin';                  // Fully Format. There are Some hard coded value.
// @import 'utilities/grid-layout';
@import 'core/print';                       // Fully Format.
@import 'core/scroll';


/* ==================== COMPONENTS ==================== */
@import 'components/alerts';                // Fully Format. There are Some hard coded value. When color-mix() use, go in the file there's TODO comments at where it is need to be use.
@import 'components/buttons';               // Fully Format. When color-mix() use, go in the file there's TODO comments at where it is need to be use. There are Some hard coded value. Use fade a sass function.
@import 'components/button-groups';         // Fully Format. Rely Heavily on _buttons.scss.
@import 'components/badges';                // Fully Format. There are Some hard coded value. There are some stuff that have !important on it?
@import 'components/labels';                // Fully Format. There are Some hard coded value. When color-mix() use, go in the file there's TODO comments at where it is need to be use.
@import 'components/wells';                 // Fully Format. There are Some hard coded value. When color-mix() use, go in the file there's TODO comments at where it is need to be use.
@import 'components/code';                  // Fully Format. There are Some hard coded value.
@import 'components/dropdowns';             // Fully Format. There are Some hard coded value.
@import 'components/close';                 // Fully Format.
@import 'components/list-group';            // Fully Format. When color-mix() use, go in the file there's TODO comments at where it is need to be use.
@import 'components/modals';                // Fully Format. There are Some hard coded value.
@import 'components/pagination';            // Fully Format.
@import 'components/pager';                 // Fully Format.
@import 'components/forms';                 // Fully Format. There are Some hard coded value. When color-mix() use, go in the file there's TODO comments at where it is need to be use.
@import 'components/tables';                // Fully Format. Really hard to read. There are Some hard coded value. Have to be under forms.scss to override checkbox positioning.
@import 'components/input-groups';          // Fully Format. There are Some hard coded value.
@import 'components/bootstrap-chosen';
@import 'components/jcrop.scss';
@import 'components/breadcrumbs';           // Fully Format.
@import 'components/thumbnails';            // Fully Format.
@import 'components/scaffolding';           // Fully Format. There are Some hard coded value.
@import 'components/panels';                // Fully Format. There are Some hard coded value. When color-mix() use, go in the file there's TODO comments at where it is need to be use.
@import 'components/popovers';              // Fully Format. There are Some hard coded value.
@import 'components/progress-bars';         // Fully Format. There are Some hard coded value.
@import 'components/tooltip';               // Fully Format.
@import 'components/navs';                  // Fully Format. There are Some hard coded value.
@import 'components/navbar';                // Fully Format. There are Some hard coded value.
@import 'components/colorpicker';


/* ======================= ROCK COMPONENTS ======================*/
@import 'rock-components/follow';                   // Fully Format. There are Some hard coded value.
@import 'rock-components/group-list';               // Fully Format. There are Some hard coded value.
@import 'rock-components/code-editor';              // Fully Format.
@import 'rock-components/labels';                   // Fully Format.
@import 'rock-components/pagelist';                 // Fully Format. There are Some hard coded value.
@import 'rock-components/panel-helper';             // Fully Format.
@import 'rock-components/panel';                    // Fully Format. The harded code is the num of row and col
@import 'rock-components/person-list';              // Fully Format. There are Some hard coded value.
@import 'rock-components/photo-frame';              // Fully Format. There are Some hard coded value.
@import 'rock-components/picker-time';              // Fully Format. There are Some hard coded value.
@import 'rock-components/pill-help';                // Fully Format.
@import 'rock-components/rock-list';                // Fully Format. There are Some hard coded value.
@import 'rock-components/tags';                     // Fully Format. There are Some hard coded value.
@import 'rock-components/tree';                     // Fully Format. There are Some hard coded value.
@import 'rock-components/well-message';             // Fully Format. There are Some hard coded value.
@import 'rock-components/wizard';                   // Fully Format. There are Some hard coded value.
@import 'rock-components/checkbox';                 // Fully Format. There are Some hard coded value.   
@import 'rock-components/switch';                   // Fully Format. There are Some hard coded color.
@import 'rock-components/smart-search';             // Fully Format. There are Some hard coded value.
@import 'rock-components/number-increment';         // Fully Format.
@import 'rock-components/photo-round';              // Fully Format. There are Some hard coded value.
@import 'rock-components/rollover';                 // Fully Format.
@import 'rock-components/rating';                   // Fully Format.
@import 'rock-components/security-controls';        // Fully Format. There are Some hard coded value.
@import 'rock-components/progress-tracker';         // Fully Format. There are Some hard coded value.
@import 'rock-components/typeahead-support';        // Fully Format. There are Some hard coded value.
@import 'rock-components/image-cropper';            // Fully Format. There are Some hard coded value.
@import 'rock-components/sliding-date-range';       // Fully Format. There are Some hard coded value.
@import 'rock-components/paneled-list';             // Fully Format.            
@import 'rock-components/person-directory';         // Fully Format.  
@import 'rock-components/picker-date';              // Fully Format. There are Some hard coded value.
@import 'rock-components/asset-manager';            // Fully Format.
@import 'rock-components/update-panel-status';      // Fully Format. There are Some hard coded value.
@import 'rock-components/upload-controls';          // Fully Format. There are Some hard coded value. When color-mix() use, go in the file there's TODO comments at where it is need to be use.
@import 'rock-components/value-list';               // Fully Format.
@import 'rock-components/obsidian-dropdownlist';    // Fully Format. There are Some hard coded value.
@import 'rock-components/vue-select';               // Fully Format. There are Some hard coded value.
@import 'rock-components/paging-navigation';        // Fully Format.
@import 'rock-components/list-extensions';          // Fully Format. There are Some hard coded value.
@import 'rock-components/kpi';                      // Fully Format. There are Some hard coded value. 
@import 'rock-components/key-value';                // Fully Format.
@import 'rock-components/image-with-icon';          // Fully Format. There are Some hard coded value. 
@import 'rock-components/grid-obisidian';           // ** WORK IN PROGRESS ** NOT DONE YET, NEED TO MOVE THE STYLE FROM THE OBSIDIAN FILE.
@import 'rock-components/modal';                    // Fully Format. Must import below the bootstrap modal.
@import 'rock-components/pickers';                  // Fully Format. There are Some hard coded value.
@import 'rock-components/html-editor';
@import 'rock-components/ant-select';
@import 'rock-components/card';
@import 'rock-components/range-slider';             // Fully Format.


/* ===================== BLOCK =================== */
@import 'blocks/blocks-core';                       // Fully Format. There are Some hard coded value.
@import 'blocks/blocks-groups';                     // Fully Format. There are Some hard coded value.
@import 'blocks/blocks-reporting';                  // Fully Format. There are Some hard coded value.
@import 'blocks/blocks-finance';                    // Fully Format. There are Some hard coded value.
@import 'blocks/blocks-communication';              // Fully Format. There are Some hard coded value.
@import 'blocks/blocks-security';                   // Fully Format.
@import 'blocks/blocks-workflow';                   // Fully Format.
@import 'blocks/blocks-cms';                        // Fully Format. There are Some hard coded value.
@import 'blocks/blocks-events';                     // Fully Format. There are Some hard coded value.
@import 'blocks/blocks-crm';                        // Fully Format. There are Some hard coded value.
@import 'blocks/kiosk-core';                        // Fully Format. There are Some hard coded value.
@import 'blocks/checkin-mobile';                    // Fully Format. There are Some hard coded value.
// @import 'blocks/checkin-core';                      // Fully Format. MIGHT HAVE TO DELETE BECAUSE WE MIGHT BE ONLY USING THE NEXT GEN CHECKIN
@import 'blocks/skeleton';                          // Fully Format. There are Some hard coded value.
@import 'blocks/page-specific';                     // Fully Format. There are Some hard coded value.


/* ===================== UTILITIES =================== */
@import 'utilities/helpers';
@import 'utilities/type';
@import 'utilities/cursor';                 // Fully Format.
@import 'utilities/borders';                // Fully Format.


/* ======================= ANIMATION ======================*/
@import 'components/component-animations';  //Fully Format.

/* ======================= ICON  ======================*/
@import './icons/core-icon';
@import './font-styling/font-styling-core'

