

//  BLOCKS CRM STYLE


// =============================================================
// Table of Content
//  + Header
//  + Trend & Streak Charts
//  + Edit Group Page
//  + Page Tab
//  + Add Group
//  + Fluid Box
//  + Page Person View
//  + Decease / Inactive Styles
//  + Bulk Update
//  + Photo Request
//  + Duplicate Pages
//  + DISC & Assessments
//  + Edit Person
//  + People Merge
//  + Giving Configuration
//  + Personal Devices
// =============================================================


// ======================== HEADER ========================
.originate-call {
  &::before {
    margin-right:     var(--spacing-xsmall);
    font-family:      'FontAwesome';
    font-weight:      var(--font-weight-bold);
    content:          '\f098';
  }
}
// ====================== END HEADER ======================


// ======================== TREND & STREAK CHARTS ========================
@-webkit-keyframes bar-grow {
  0% {
    height:   0;
    opacity:  0;
  }
}

@-moz-keyframes bar-grow {
  0% {
    height:   0;
    opacity:  0;
  }
}

@keyframes bar-grow {
  0% {
    height:   0;
    opacity:  0;
  }
}

.trend-chart {
  //http://codepen.io/Victa/pen/xDqbf
  display:        -ms-flexbox;
  display:        flex;
  -ms-flex-wrap:  wrap;
  flex-wrap:      nowrap;
  width:          100%;
  height:         40px;
  padding:        0;
  margin:         0;
  color:          var(--color-interface-soft);
  list-style:     none;

  &-sm {
    height:       20px;
  }

  &-block {
    height:       18px;

    li span {
      width:      calc(100% - 3px);
      color:      var(--color-info-strong);
    }
  }

  li {
    position:     relative;
    flex-basis:   0;
    flex-grow:    1;
    max-width:    100%;
    margin-right: 2px;
    overflow:     hidden;
    -ms-flex-preferred-size:  0;
    -ms-flex-positive:        1;

    &:hover {
      opacity:    .85;
    }

    &.has-exclusion {
      opacity:    .3;
    }

    span {
      position:   absolute;
      bottom:     0;
      display:    block;
      width:      100%;
      min-width:  2px;
      min-height: 1px;
      max-height: 100%;
      background: currentColor;

      .animate & {
        animation: bar-grow 1s ease-in-out;
      }
    }
  }

  @media (min-width: $screen-large) {
    &-gap {
      li {
        margin-right: var(--spacing-tiny);
      }
    }
  }
}

.streak-chart {
  width:      100%;
  height:     18px;
  padding:    0;
  margin:     0;
  overflow:   hidden;
  list-style: none;

  li {
    position:       relative;
    display:        table-cell;
    float:          right;
    width:          9px;
    height:         100%;
    margin-right:   2px;
    vertical-align: bottom;

    span {
      display:      block;
      width:        100%;
      min-height:   1px;
      background:   var(--color-info-strong);

      @media screen and (-webkit-min-device-pixel-ratio: 0) {
        // needed for chrome but kills ie
        position:   absolute;
        bottom:     0;
      }
    }
  }
}
// ====================== END TREND & STREAK CHARTS ======================


// ====================== EDIT GROUP PAGE ======================
.editgroup-list {
  li.member {
    min-width:  200px;

    .radio {
      margin:   0;
    }
  }

  .groupmembers h4 {
    margin-bottom: var(--spacing-tiny);
  }
}
// ==================== END EDIT GROUP PAGE ====================


// ====================== PAGE TAB ======================
.person-content {
  padding-top: 0;
}

// history page
span.field-name,
span.field-value {
  padding:      2px 4px;
  font-family:  Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size:    90%;
  color:        var(--font-family-monospace);
  white-space:  nowrap;
  background-color: var(--color-interface-softer);
  border-radius:    var(--rounded-xsmall);
}

/* white-space was nowrap but changed to inherit; see discussion at https://github.com/SparkDevNetwork/Rock/commit/e4230496c8a1dc199f1bbb26f95dfa025d64dd02#r28278277 */
span.field-value {
  white-space:      inherit;
}
// ====================== END PAGE TAB ======================


// ======================== ADD GROUP ========================
.row-duplicate {
  padding-top:    var(--spacing-small);
  border-top:     1px solid var(--color-info-strong);
}

.row-duplicate:first-child {
  padding-top:  0;
  border-top:   0;
}
// ====================== END ADD GROUP ======================


// ======================== FLUID BOX ========================
#fluidbox-overlay {
  background:     rgba(10, 10, 10, 0.5); // Hardcoded color with opacity to keep it consistent with JS implementation
}
// ====================== END FLUID BOX ======================


// ======================== PAGE PERSON VIEW ========================
.panel-widget.pageviewsession {
  .pageviewsession-client {
    line-height:  1;
    text-align:   right;
  }
}
// ====================== END PAGE PERSON VIEW ======================


// ======================== DECEASED / INACTIVE STYLES ========================
.person-bio {
  div.deceased h1.title.name::after {
    margin-left:  var(--spacing-small);
    font-size:    var(--font-size-small);
    color:        var(--color-danger-strong);
    content:      "Deceased";
  }
}

.groupmembers {
  .member.deceased {
    &:hover {
      background-color:   var(--color-interface-strong);
    }

    .person-info::after {
      font-size:  var(--font-size-xsmall);
      color:      var(--color-danger-strong);
      content:    "Deceased";
    }
  }
}

tr.inactive {
  td {
    color:  var(--color-interface-medium);
  }
}
// ====================== END DECEASED / INACTIVE STYLES ======================


// ======================== BULK UPDATE ========================
.bulk-update {
  .no-select {
    .form-group {
      opacity: 1;
    }
  }

  .fade-inactive {
    .form-group {
      opacity: .5;

      .control-label {
        cursor: pointer;
      }
    }
  }

  .form-group.bulk-item-selected,
  .bulk-item-selected .form-group,
  .form-group.bulk-item-visible {
    opacity: 1;
  }

  .form-group.bulk-item-selected {
    padding:            var(--spacing-small);
    background-color:   var(--color-interface-softer);
    border-radius:      var(--rounded-small);
  }
}
// ====================== END BULK UPDATE ======================


// ======================== PHOTO REQUESTS ========================
.photoupload-photo {
  .image-editor {
    float:          left;
    margin-right:   var(--spacing-xlarge);

    label {
      width:          150px;
      overflow:       hidden;
      text-overflow:  ellipsis;
      white-space:    nowrap;
    }
  }
}
// ====================== END PHOTO REQUESTS ======================


// ======================== DUPLICATE PAGES ========================
.grid-table tbody tr.duplicate-source {
  td,
  &:hover > td {
    color:            var(--color-interface-strong);
    background-color: var(--color-interface-medium);
  }
}
// ====================== END DUPLICATE PAGES ======================


// ======================== DISC & ASSESSMENTS ========================
.disc-assessment {
  th {
    padding:          var(--spacing-xsmall);

    &:last-child {
      border-radius:  0 var(--rounded-small) 0 0;
    }

    &.disc-question {
      padding:        var(--spacing-xsmall);
      font-weight:    var(--font-weight-bold);
      border-radius:  var(--rounded-small) 0 0 0;
    }
  }

  td {
    vertical-align:   middle;
  }

  .disc-answer {
    width:            20%;
    min-width:        calc(20px + 30px);
    text-align:       center;
  }
}

.disc-heading {
  text-align:         center;
}

.disc-row {
  margin-bottom:      var(--spacing-xlarge);

  &::after {
    display:          block;
    width:            100%;
    margin:           var(--spacing-xlarge) 0;
    content:          " ";
    border-bottom:    1px solid var(--color-interface-softer);
  }
}

.question-row {
  margin-bottom:      calc(var(--spacing-xsmall) * 8);

  .answered {
    color:            var(--color-interface-medium);
  }

  .likert > .control-label {
    margin-bottom:    calc(var(--spacing-xsmall) * 1.5);
  }

  .likert {
    .radio-inline {
      padding:          var(--spacing-tiny) var(--spacing-medium) 7px calc(20px + var(--spacing-medium) + 4px);
      cursor:           pointer;
      background-clip:  padding-box;
      border-radius:    var(--rounded-xsmall);

      @media (min-width: $screen-medium) {
        margin-right:   var(--spacing-medium);
        margin-left:    calc(var(--spacing-medium) * -1);
      }

      &:hover {
        background-color: var(--color-interface-softer);
      }

      .label-text::before,
      .label-text::after {
        top:        50%;
        left:       8px;
        transform:  translateY(-50%);
      }
    }
  }

  .likert-7 > span {
    display:          -ms-flexbox;
    display:          flex;
    -ms-flex-align:   center;
    align-items:      center;


    @media (max-width: $screen-medium) {
      -ms-flex-align:       start;
      -ms-flex-direction:   column;
      flex-direction:       column;
      align-items:          flex-start;
    }

    .radio-inline {
      flex:           0 0 14.28571428571429%;
    }
  }
}
// ====================== END DISC & ASSESSMENTS ======================


// ======================== EDIT PERSON ========================
.phonegroup-label {
  margin-bottom:    5px;

  @media (min-width: $screen-small) {
    padding-top:    var(--spacing-tiny);
  }
}
// ====================== END EDIT PERSON ======================

// ====================== PEOPLE MERGE ======================

.merge-field-cell {
  max-width: 150px;
}

// ======================= END PEOPLE MERGE ======================


// ====================== GIVING CONFIGURATION ======================

.giving-configuration {

  .rollover-container-nested {
      transition: background-color 0.3s;
  }

  .rollover-container-nested:hover {
      background-color: var(--color-interface-lightest);
  }

  .btn-link:hover {
      text-decoration: underline;
  }

  .showinactive {
      background-color: var(--color-interface-lightest);
      border: none;
      color: var(--color-link);
  }

  .separator {
      margin-top: 2px;
      margin-bottom: var(--spacing-large);
      border: 0;
      border-top: 1px solid var(--color-interface-soft) !important;
      width: calc(100% + 32px);
      margin-left: -16px;
  }

  .content-section {
      margin-top: var(--spacing-medium);
      margin-bottom: var(--spacing-medium);
  }
}
// ==================== END GIVING CONFIGURATION ====================

// ======================== PERSONAL DEVICES ========================

.personal-devices {

  .displaycard {

    .right-middle-container {
      display: flex;
      justify-content: start;
      flex-direction: column;
    }

    .dateInfo {
      display: flex;
      align-items: center;
      gap: var(--spacing-tiny);
      color: var(--color-interface-medium);
    }

    .btn-interactions {
      display: inline-flex;
      align-items: center;
      gap: var(--spacing-xsmall);
    }

    .displaycard-aside + .displaycard-actions {
      margin-left: calc(var(--spacing-tiny) - var(--spacing-large));
    }

    @media (max-width: 767px) {
      .displaycard-aside + .displaycard-actions {
          margin-left: 0;
      }

      .right-middle-container {
          flex-direction: column;
          gap: var(--spacing-tiny);
      }

      .displaycard-content:has(.icon-list:empty) {
          display: none;
      }
    }

    .icon-list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--spacing-medium);
      flex-wrap: wrap;

    }

  }

}

// ====================== END PERSONAL DEVICES ======================