<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.25.1" targetFramework="net452" />
  <package id="AWSSDK.S3" version="3.3.21.1" targetFramework="net452" />
  <package id="BouncyCastle" version="1.8.5" targetFramework="net452" />
  <package id="MimeKit" version="2.6.0" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="2.1.0" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="2.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="SmtpServer" version="5.3.0" targetFramework="net452" />
</packages>