.bg-advantage-orange {
    background-color: #F79428;
}

.bg-advantage-blue {
    background-color: @brand-primary;
}

.bg-advantage-light {
    background: #f7fafb;
}

.bg-advantage-dark {
    background: #022138;
}

.bg-chevron-blue {
    background: url('../../../Assets/Images/bg-advantage-single.svg'), #008cd0;
    background-size: 500px;
    background-position: bottom left;
    background-repeat: no-repeat;
}

.bg-chevrons-orange {
    background: url('../../../Assets/Images/bg-advantage-multiple-orange.svg'), #f79428;
}

.bg-payitforward {
    background: url('../../../Assets/Images/bg-pay-it-forward.svg'), url('../../../Assets/Images/bg-pay-it-forward.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top center, bottom left;
}