{% set browserTitle = "One practical way to unify your marriage today | Articles" %}
{% set pageTitle = "" %}
{% set pageBackgroundColorHex = "" %}
{% set contentBackgroundImageUrl = '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/articles/marriage_couple_1700_1129_90_c1.jpg' %}

{% set articles = [
    {
        "id": "1",
        "backgroundColorHex": '',
        "linkColorHex": '',
        "grayscale": '',
        "titleSize": '',
        "title": "What is stopping you from sharing your faith?",
        "subtitle": "",
        "copy": "<p>Recently, my husband was discussing why he believes the Bible with his sister. She is not a Christian and asked many hard questions.</p>",
        "tags": {
          "1": "evangelism",
          "2": "spiritual gifts",
          "3": "holy spirit"
        },
        "imageUrl": '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/2x1.faith.gospel.evangelism_1700_850_90_c1.jpg',
        "imageOpacity": '',
        "linkUrl": '',
        "linkText": ''
    },
    {
        "id": "2",
        "backgroundColorHex": '',
        "linkColorHex": '',
        "grayscale": '',
        "titleSize": '',
        "title": "How to help kids understand why modesty matters",
        "subtitle": "",
        "copy": "<p>I recently attended a concert where a young woman was sitting on the stage in a very short skirt. When I mentioned to my teenage daughter that the dress wasn’t appropriate to wear while sitting three feet higher than the audience, my daughter indignantly said people shouldn’t be looking there. </p>",
        "tags": {
          "1": "humility",
          "2": "culture",
          "3": "parenting"
        },
        "imageUrl": '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/articles/newspring-articles-modesty-how-to-help-kids-understand-why-modesty-matters_1700_850_90_c1.jpg',
        "imageOpacity": '',
        "linkUrl": '',
        "linkText": ''
    },
    {
        "id": "3",
        "backgroundColorHex": '',
        "linkColorHex": '',
        "grayscale": '',
        "titleSize": '',
        "title": "How to give good advice",
        "subtitle": "",
        "copy": "<p>When a fellow believer is struggling with their in-laws, navigating a difficult work situation, or when I encounter a differing political view on social media, I arrogantly want to jump in and deliver clarity and truth.</p>",
        "tags": {
          "1": "bible",
          "2": "friendship",
          "3": "relationships",
          "4": "prayer",
          "5": "community"
        },
        "imageUrl": '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/articles/newspring-articles-how-to-give-good-advice_1700_850_90_c1.jpg',
        "imageOpacity": '',
        "linkUrl": '',
        "linkText": ''
    },
    {
        "id": "4",
        "backgroundColorHex": '',
        "linkColorHex": '',
        "grayscale": '',
        "titleSize": '',
        "title": "Why it's important to care for your body, not idolize it",
        "subtitle": "",
        "copy": "<p>Ever since I was a teenager, I can remember worrying about my body. I don’t mean I worried about how my body functioned. I mean I was concerned with how my body looked.</p>",
        "tags": {
          "1": "body image",
          "2": "eternity",
          "3": "identity"
        },
        "imageUrl": '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/articles/newspring-articles-why-its-important-to-care-for-your-body-not-idolize-it_2000_1000_90_c1.jpg',
        "imageOpacity": '',
        "linkUrl": '',
        "linkText": ''
    },
    {
        "id": "5",
        "backgroundColorHex": '',
        "linkColorHex": '',
        "grayscale": '',
        "titleSize": '',
        "title": "What it means to really be free",
        "subtitle": "",
        "copy": "<p>Long after our Fourth of July celebrations wind down, it will still be there. When conversations around the grill and picnic table end, we’ll still need it. The cheers of crowds under a firework-lit night sky will draw to a close, but <a href='#'>freedom</a> will remain part of our lives.</p>",
        "tags": {
          "1": "freedom"
        },
        "imageUrl": '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/articles/newspring.blog.hero.fireworksjulyfourth_1700_850_90_c1.jpg',
        "imageOpacity": '',
        "linkUrl": '',
        "linkText": ''
    },
    {
        "id": "6",
        "backgroundColorHex": '',
        "linkColorHex": '',
        "grayscale": '',
        "titleSize": '',
        "title": "How and why should I repent",
        "subtitle": "",
        "copy": "<p>Seven-year-old Jimmy snatches a toy car from 5-year-old Joey. Joey pinches him. Mom demands apologies and separates them. Jimmy and Joey both mutter, “Sorry,” and grumble as they stomp to their rooms. The next day, the same scenario plays out with blocks. Instinctively, we know neither Jimmy nor Joey is genuinely sorry. Neither their hearts nor their behavior has changed.</p>",
        "tags": {
          "1": "repentance"
        },
        "imageUrl": '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/articles/newspring-blog-hero-repentance-how-and-why-should-we-repent_1700_850_90_c1.jpg',
        "imageOpacity": '',
        "linkUrl": '',
        "linkText": ''
    }
] %}

{% extends "FullWidth.html" %}

{% block content %}

<section class="shell bg-white soft hard-bottom clearfix md-text-constrained md-mx-auto rounded shadowed">

    <h1 class="h2">How to deal with the pressure to be the perfect dad</h1>

<!--     <p class="lead text-gray-light"><i>When a couple prays together they do it as a team.</i></p>
 -->    
    <p><b><i class="fas fa-user-circle"></i> Rich Dubay</b></p>
    
    <div class="ratio-landscape background-cover push-bottom" style="background-image:url('//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/articles/newspring-articles-how-to-deal-with-the-pressure-to-be-the-perfect-dad_1700_850_90_c1.jpg'); margin-left: -30px; margin-right: -30px;"></div>

    <p class="text-center">
        <span class="wistia_embed wistia_async_aqhhtr97tw popover=true popoverContent=link clickable text-center" style="display:inline; position:relative">
            <a href="#" class="btn btn-primary">Watch Video <i class="fas fa-xs fa-play"></i></a>
        </span>
    </p>

    <script src="https://fast.wistia.com/embed/medias/aqhhtr97tw.jsonp" async></script>
    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
        
    <p>The day my wife and I left the hospital with our first child, they didn’t hand me a book on how to be a great dad. There was no laminated checklist to follow. They didn’t give me an owner’s manual.</p>

    {% set blockData = { 
        title: 'Three fears expectant fathers face (and how to move past them)',
        imageUrl: '',
        linkUrl: 'https://newspring.cc/articles/3-fears-expectant-fathers-face-and-how-to-move-past-them'
    } %}{% include "../Lava/call-to-action.html" %}
    
    <p>I didn’t know what I was doing. They handed our child to us, said “Good luck!” and left us standing there, drowning in the pool of things that first-time parents don’t know. They didn’t warn us about the <a href="https://newspring.cc/articles/3-fears-expectant-fathers-face-and-how-to-move-past-them">tidal wave of questions</a> that would hit us as we got in our car and nervously drove away.</p>

    {% set blockData = { 
        title: 'Financial Freedom Classes will teach you how to turn your dreams into a reality',
        imageUrl: '//dg0ddngxdz549.cloudfront.net/all/heroes/newspringnetwork/FLE1-1.jpg',
        linkUrl: '/financialfreedom'
    } %}{% include "../Lava/call-to-action.html" %}

    <p>I remember driving home thinking, “OK, I’m a dad. Now what?”</p>

    <h3>Parenting Lessons Are Everywhere</h3>

    <p>One of the first things you learn as a parent is that everyone has an opinion on how you should do it. Your parents, your friends at work, the neighbor three houses down. They all think they know the best way.</p>

    <p>The second thing you learn is that everyone’s opinion is different. None of them match up. There is no secret formula for getting it right. If you were to read a thousand books on parenting, almost all of them would say something different.</p>

    <p>The truth is that <a href="https://newspring.cc/fatherhood">being a father is hard.</a> TV sitcoms regularly put dads down as if to say, “You’ll never measure up to the standards we set for you, so we’ll just make fun of you instead.”</p>

    <p>Our society, including the other Christians in it, puts pressure on dads to meet a standard of perfection. To be a good dad, we have to get everything right. If we don’t, our children will not grow up to be normal, well-adjusted adults. The amount of pressure on dads to be perfect could not be weighed on a scale. It’s a burden no one can carry. It’s also a lie.</p>

    <blockquote>
    <p>Being a father can be tough, overwhelming, and scary. But it doesn't have to be that way.</p>
    </blockquote>

    <p>Remember what Jesus said: “Come to me, all you who are weary and burdened, and I will give you rest. Take my yoke upon you and learn from me, for I am gentle and humble in heart, and you will find rest for your souls. For my yoke is easy and my burden is light” (<a href="http://www.bible.com/bible/111/MAT.11.28-30.NIV">Matthew 11:28-30</a>). If the burden isn’t light, it’s not from God.</p>

    <p>I want to set you free today. Free from all the pressure, condemnation, and insecurity that comes with being a dad. I want to release you from all the fear, jealousy, and perfectionism we feel.</p>

    <p>While there is no “7-Step Plan to Being a Perfect Dad,” biblical truths can help you find freedom in your parenting journey. Being a father can be tough, overwhelming, and scary. But it doesn't have to be that way.</p>

    <h3>Remember, You're Not Alone</h3>

    <p>God is always with you. When God said He “would never leave you or forsake you,” He meant it. He walks with you, shoulder to shoulder. He’s always there, right by your side. You can lean on him.</p>

    <p><a href="http://www.bible.com/bible/111/PHP.4.6.NIV">Philippians 4:6</a> says, ”Do not be anxious about anything, but in every situation, by prayer and petition, with thanksgiving, present your requests to God.” He’s there. He’s listening. When you’re stressed, talk to Him. When you’re tired, talk to Him.</p>

    <p>When you’re angry, sad, or frustrated, He’s there. On the flip side, when you’re excited, happy, and things are going great, He’s there then too. Talk to Him.</p>

    <p>You can also find community with other dads. <a href="http://newspring.cc/groups">Join or start a group</a> for dads in the same stage of life you’re in. Share ideas. Talk about what’s working and what isn’t. Get all your kids together, sugar them up, and see which one is the last one standing.</p>


    <h3>The Results Aren't Up to You</h3>

    <p>As a child of the living God (and a parent), your responsibility is to listen to God and do what He says. That’s it. Everything else (including the results) are God’s responsibility.</p>

    <p>Go to the job that He says to go to. Be faithful and show up every day. The provision that job provides is on Him. Talk to your kids about the things He tells you to talk to them about. Love them as He would have you love on them. If there is an issue you need to bring up, bring it up. What happens next (the result of that conversation) is not on you.</p>

    <blockquote>
        <p>Your responsibility is to listen to God and do what He says.</p>
    </blockquote>

    <p>The pressure of results doesn’t rest on your shoulders. You can take that yoke off of your neck. Do what you know you need to do, and give the rest to God.</p>

    <h3>Perfection Isn't the Goal — Relationship Is</h3>

    <p>None of us will ever be the “perfect” dad. <a href="https://newspring.cc/studies/what-is-god-like-a-21-day-devotional/god-is-our-father">That honor belongs to God alone.</a> It's not our job to be perfect. It's our job to follow as closely as possible to the one that is.</p>

    <p>The more we do this, the more we realize that <a href="https://newspring.cc/studies/what-is-god-like-a-21-day-devotional/god-is-our-provider">God is our ultimate provider</a> and leader. As we walk closer with Him, we see all the more that He has given us everything we need to be the father He wants us to be.</p>

    <p>The leadership, love, and provision we give our families will be a direct reflection of our relationship with God. <a href="https://newspring.cc/articles/how-to-spend-time-with-god">As we spend time with the perfect Father</a>, our lives will start to reflect what a perfect father would look like.</p>

    <p>We won't always get it right. We're going to mess things up sometimes. That's OK. The goal was never to be perfect. The goal is a relationship with God that will ultimately reflect His leadership, love, and provision to the rest of the world, starting with our families.</p>

    <div class="push-bottom">
        {% set blockData = { 
            id: '',
            orientation: '',
            copy: '',
            linkUrl: ''
        } %}{% include "../Lava/share-buttons.html" %}
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 xs-text-center">
            <p class="tag-list sans-serif">
                <small>
                    <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> fatherhood</a>
                    <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> parenting</a>
                    <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> relationships</a>
                </small>
            </p>
        </div><div class="col-md-6 col-sm-6 col-xs-12 text-right xs-text-center">
            <p class="tag-list"><small><b>October 26, 2018</b></small></p>
        </div>
    </div>

</section>

<section id="sermons" class="bg-gray-darker hard-sides soft-double-bottom rounded shadowed">
    <div class="text-center">
        <h2 class="text-white push-half-bottom">Related Articles</h2>
        <p class="lead text-primary italic"><span class="hidden-xs hidden-sm">Drag</span><span class="hidden-md">Swipe</span> to Discover More</p>
    </div>
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            {% for article in articles %}
                <div class="swiper-slide">
                    {% set blockData = { 
                        id: sermon.id,
                        backgroundColorHex: '',
                        linkColorHex: '',
                        grayscale: '',
                        count: '',
                        type:'Article',
                        label: '',
                        textAlignment: '',
                        titleSize: 'h4',
                        title: article.title, 
                        subtitle: "",
                        copy: '',
                        trimCopy: '',
                        tags: article.tags,
                        imageShape: '',
                        imageUrl: article.imageUrl,
                        imageOpacity: '',
                        linkUrl: '/article-entry.html',
                        linkText: 'Read Article'
                    } %}{% include "../Lava/card.html" %}
                </div>
            {% endfor %}
        </div>
        <!-- Add Arrows -->
        <div class="hidden-sm hidden-xs">
            <div class="swiper-next"><i class="fas fa-fw fa-2x fa-angle-right"></i></div>
            <div class="swiper-prev"><i class="fas fa-fw fa-2x fa-angle-left"></i></div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    </div>
</section>

{% set blockData = { 
    id: '5',
    linkColorHex: '',
    backgroundColorHex: '',
    title: "Subscribe",
    copy: "<p>Subscribe to the articles feed to be notified when new content is published.</p>",
    imageUrl: '',
    imageOpacity: '',
    linkUrl: '#',
    linkText: 'Subscribe Now'
} %}{% include "../Lava/ad-unit.html" %}

{% endblock %}