{% set browserTitle = "Articles" %}
{% set pageTitle = "Articles" %}
{% set pageBackgroundColorHex = "" %}

{% set articles = [
    {
        "id": "1",
        "backgroundColorHex": '',
        "linkColorHex": '',
        "grayscale": '',
        "titleSize": '',
        "title": "What is stopping you from sharing your faith?",
        "subtitle": "",
        "copy": "<p>Recently, my husband was discussing why he believes the Bible with his sister. She is not a Christian and asked many hard questions.</p>",
        "tags": {
          "1": "evangelism",
          "2": "spiritual gifts",
          "3": "holy spirit"
        },
        "imageUrl": '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/2x1.faith.gospel.evangelism_1700_850_90_c1.jpg',
        "imageOpacity": '',
        "linkUrl": '',
        "linkText": '',
        "likes": '12'
    },
    {
        "id": "2",
        "backgroundColorHex": '',
        "linkColorHex": '',
        "grayscale": '',
        "titleSize": '',
        "title": "How to help kids understand why modesty matters",
        "subtitle": "",
        "copy": "<p>I recently attended a concert where a young woman was sitting on the stage in a very short skirt. When I mentioned to my teenage daughter that the dress wasn’t appropriate to wear while sitting three feet higher than the audience, my daughter indignantly said people shouldn’t be looking there. </p>",
        "tags": {
          "1": "humility",
          "2": "culture",
          "3": "parenting"
        },
        "imageUrl": '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/articles/newspring-articles-modesty-how-to-help-kids-understand-why-modesty-matters_1700_850_90_c1.jpg',
        "imageOpacity": '',
        "linkUrl": '',
        "linkText": '',
        "likes": '26'
    },
    {
        "id": "3",
        "backgroundColorHex": '',
        "linkColorHex": '',
        "grayscale": '',
        "titleSize": '',
        "title": "How to give good advice",
        "subtitle": "",
        "copy": "<p>When a fellow believer is struggling with their in-laws, navigating a difficult work situation, or when I encounter a differing political view on social media, I arrogantly want to jump in and deliver clarity and truth.</p>",
        "tags": {
          "1": "bible",
          "2": "friendship",
          "3": "relationships",
          "4": "prayer",
          "5": "community"
        },
        "imageUrl": '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/articles/newspring-articles-how-to-give-good-advice_1700_850_90_c1.jpg',
        "imageOpacity": '',
        "linkUrl": '',
        "linkText": '',
        "likes": '5'
    },
    {
        "id": "4",
        "backgroundColorHex": '',
        "linkColorHex": '',
        "grayscale": '',
        "titleSize": '',
        "title": "Why it's important to care for your body, not idolize it",
        "subtitle": "",
        "copy": "<p>Ever since I was a teenager, I can remember worrying about my body. I don’t mean I worried about how my body functioned. I mean I was concerned with how my body looked.</p>",
        "tags": {
          "1": "body image",
          "2": "eternity",
          "3": "identity"
        },
        "imageUrl": '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/articles/newspring-articles-why-its-important-to-care-for-your-body-not-idolize-it_2000_1000_90_c1.jpg',
        "imageOpacity": '',
        "linkUrl": '',
        "linkText": '',
        "likes": '244'
    },
    {
        "id": "5",
        "backgroundColorHex": '',
        "linkColorHex": '',
        "grayscale": '',
        "titleSize": '',
        "title": "What it means to really be free",
        "subtitle": "",
        "copy": "<p>Long after our Fourth of July celebrations wind down, it will still be there. When conversations around the grill and picnic table end, we’ll still need it. The cheers of crowds under a firework-lit night sky will draw to a close, but <a href='#'>freedom</a> will remain part of our lives.</p>",
        "tags": {
          "1": "freedom"
        },
        "imageUrl": '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/articles/newspring.blog.hero.fireworksjulyfourth_1700_850_90_c1.jpg',
        "imageOpacity": '',
        "linkUrl": '',
        "linkText": '',
        "likes": '118'
    },
    {
        "id": "6",
        "backgroundColorHex": '',
        "linkColorHex": '',
        "grayscale": '',
        "titleSize": '',
        "title": "How and why should I repent",
        "subtitle": "",
        "copy": "<p>Seven-year-old Jimmy snatches a toy car from 5-year-old Joey. Joey pinches him. Mom demands apologies and separates them. Jimmy and Joey both mutter, “Sorry,” and grumble as they stomp to their rooms. The next day, the same scenario plays out with blocks. Instinctively, we know neither Jimmy nor Joey is genuinely sorry. Neither their hearts nor their behavior has changed.</p>",
        "tags": {
          "1": "repentance"
        },
        "imageUrl": '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/articles/newspring-blog-hero-repentance-how-and-why-should-we-repent_1700_850_90_c1.jpg',
        "imageOpacity": '',
        "linkUrl": '',
        "linkText": '',
        "likes": '52'
    }
] %}

{% extends "FullWidth.html" %}

{% block content %}

<div class="soft-sides xs-soft-half-sides">
    <div class="row">
        {% for article in articles %}<div class="col-md-4 col-sm-6 col-xs-12">
            {% set blockData = { 
                id: article.id,
                backgroundColorHex: '',
                linkColorHex: '',
                grayscale: '',
                count: '',
                type: 'Article',
                label: '',
                textAlignment: '',
                titleSize: 'h4',
                title: article.title, 
                subtitle: "",
                copy: article.copy,
                trimCopy: 'y',
                tags: article.tags,
                imageShape: 'landscape',
                imageUrl: article.imageUrl,
                imageOpacity: '',
                linkUrl: '/article-entry.html',
                linkText: 'Read Article',
                likes: 'y',
                authorImageUrl: '//rock.newspring.cc/GetImage.ashx?guid=0e3f253b-4eba-49ee-b65b-721dc51e01a6&width=120',
                metaData: 'Dan Lian'
            } %}{% include "../Lava/card.html" %}
        </div>{% endfor %}
    </div>
</div>

<div class="soft xs-soft-half hard-bottom clearfix">
    {% include "../Lava/pagination.html" %}
</div>

{#

<section class="shell hard">
    <div class="slider-wrapper" data-slider="340">
        <div class="slider slider-borderless">
            {% for article in articles %}<div class="slider-item">
                {% set blockData = {
                    id: article.id,
                    backgroundColorHex: article.backgroundColorHex,
                    linkColorHex: article.linkColorHex,
                    grayscale: article.grayscale,
                    titleSize: 'h5',
                    title: article.title, 
                    copy: article.copy,
                    trimCopy: 'y',
                    tags: article.tags,
                    imageShape: '',
                    imageUrl: article.imageUrl,
                    imageOpacity: article.imageOpacity,
                    linkUrl: '/article-entry.html',
                    linkText: 'Read Article',
                    likes: 'y',
                    authorImageUrl: '//rock.newspring.cc/GetImage.ashx?guid=0e3f253b-4eba-49ee-b65b-721dc51e01a6&width=120',
                    metaData: 'Dan Lian'
                } %}{% include "../Lava/card.html" %}
            </div>{% endfor %}
        </div>
    </div>
</section>

#}

{% set blockData = { 
    title: "Subscribe", 
    copy: "<p>Subscribe to the articles feed to be notified when new content is published.</p>",
    imageUrl: '',
    imageOpacity: '',
    linkUrl: '#',
    linkText: 'Subscribe Now'
} %}{% include "../Lava/ad-unit.html" %}

{% endblock %}