{% set browserTitle = "Baptism" %}
{% set pageTitle = "" %}

{% extends "FullWidth.html" %}

{% block content %}

    {% set blockData = { 
        title: 'Baptism',
        copy: "<p>Baptism is going public about your faith in Jesus and communicating to the world your heart-felt commitment to following Him. It&apos;s the next step after salvation.</p>",
        imageUrl: '//dg0ddngxdz549.cloudfront.net/newspring/baptism/newspring.hero.baptism.2.jpg',
        backgroundVideoUrl: '',
        imageOpacity: '1',
        linkUrl: '/baptism.html',
        linkText: 'Sign Up Now',
        linkClasses: ''
    } %}{% include "../Lava/hero.html" %}

    <section class="shell bg-gray-dark rounded push-half-bottom shadowed">
        <div class="soft center-block text-constrained">
            <div class="text-white text-center">
                <h2>Questions About Baptism?</h2>
                <p>People often have questions regarding baptism: Why should I be baptized? What if I’ve already been baptized—do I have to do it again? Does it matter if someone is sprinkled or dunked? Take a few minutes to read the answers to <a href='https://newspring.cc/articles/6-common-questions-about-baptism'>these 6 common questions</a> about baptism.</p>
            </div>

            <div class="panel-group" id="accordion-1" role="tablist" aria-multiselectable="true">

                {% set blockData = { 
                    parentIndex:"1",
                    index: "1",
                    title: "Where do I go when I get there?", 
                    copy: "<p>Our parking team will direct you to the closest available spot. Just follow the smiling faces in the bright orange vests. We reserve parking spots for our first time guests, so if you're new to NewSpring, be sure to turn your flashers on when you enter the parking lot.</p><p>As you're walking to the building, our greeting team will meet you and show you where to find the auditorium, restrooms, and children's ministry. If you need anything throughout the day—mints, ear plugs, a Bible, or a pen—feel free to stop by the Guest Services desk. Or, just ask anyone with a NewSpring lanyard or name tag. We’re a friendly bunch, and we’d love to serve you.</p>"
                } %}{% include "../Lava/accordion-panel.html" %}

                {% set blockData = { 
                    parentIndex:"1",
                    index: "2",
                    title: "What do you do for kids?", 
                    copy: "<p>In KidSpring, children fifth grade and younger experience Jesus on their level. KidSpring is a safe, age-appropriate environment where kids have their own service with singing, a Bible lesson, and small group time. To see what our kids are learning, check out KidSpring’s <a href='https://www.youtube.com/channel/UCR3DeWGhdC_igCreHStybwA' target='_blank'>YouTube channel.</a></p><p>For nursing mothers, every campus also has a viewing room where moms and infants can watch the service together.</p>"
                } %}{% include "../Lava/accordion-panel.html" %}

                {% set blockData = { 
                    parentIndex:"1",
                    index: "3",
                    title: "How long is the service?", 
                    copy: "<p>Gatherings last about one hour and 10 minutes. We start by singing three to four songs. Then the speaker preaches. If you want to see our preaching style, check out our <a href='/sermons'>current series.</a></p><p>If you’re visiting for the first time, you’ll want to give yourself a few extra minutes to stop by the VIP Room after the service. You are a very important person to us! We’d love to meet you, answer any questions you may have, and give you a gift.</p>"
                } %}{% include "../Lava/accordion-panel.html" %}

                {% set blockData = { 
                    parentIndex:"1",
                    index: "4",
                    title: "What should I wear?", 
                    copy: "<p>Don't feel like you have to dress up. Most people wear casual attire, but you are welcome to wear whatever makes you comfortable.</p>"
                } %}{% include "../Lava/accordion-panel.html" %}

                {% set blockData = { 
                    parentIndex:"1",
                    index: "5",
                    title: "Can I attend if I'm _____________?", 
                    copy: "<p>Fill in the blank with whatever fear you have about not being accepted: divorced, single parent, broke, recovering addict, gay, transgender, atheist, skeptic, etc. Everyone is welcome at NewSpring. So come as you are, and we’ll see you on Sunday!</p>"
                } %}{% include "../Lava/accordion-panel.html" %}
                
            </div>

        </div>
    </section>

{% endblock %}