{% set browserTitle = "Reading the Bible" %}
{% set pageTitle = "" %}
{% set pageBackgroundColorHex = "" %}

{% extends "FullWidth.html" %}

{% block content %}

{% set blockData = { 
    id: '1',
    title: "Reading Your Bible",
    copy: "<p>The Bible tells us the truth of who God is. If you want to know more about God and His promises, reading the Bible is your next step.</p>",
    linkColorHex: '',
    backgroundColorHex: '',
    grayscale: '',
    fixed: '',
    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/articles/newspring.blog.hero.moods.rest_1700_850_90_c1.jpg',
    imageOverlayUrl: '',
    backgroundVideoUrl: '',
    imageOpacity: '1',
    linkUrl: '',
    linkText: '',
    linkClasses: '',
    videoId: ''
} %}{% include "../Lava/hero.html" %}

{% set blockData = { 
    id: '2',
    backgroundColorHex: '',
    linkColorHex: '',
    grayscale: '',
    title: 'Just 10 Minutes A Day', 
    copy: "<p><b>Reading the Bible every day can change the rest of your days,</b> and God’s word—the Bible—is the primary way He speaks to us. It’s the absolute best way to discover how to follow Jesus. Reading the Bible will bring you hope, encouragement, guidance, and practical advice on the every day issues you’re facing. It is relevant to everyone, everywhere, at any time.</p>",
    imageUrl: '',
    imageOpacity: '',
    linkUrl: '',
    linkText: ''
} %}{% include "../Lava/ad-unit.html" %}

{% set blockData = { 
    id: '3',
    backgroundColorHex: '',
    linkColorHex: '',
    grayscale: '',
    title: '', 
    copy: "<p class='lead stronger letter-spacing-condensed'>All Scripture is breathed out by God and profitable for teaching, for reproof, for correction, and for training in righteousness...</p><p>&mdash; 2 Timothy 3:16</p>",
    imageUrl: '',
    imageOpacity: '',
    linkUrl: '',
    linkText: ''
} %}{% include "../Lava/ad-unit.html" %}

<section class="shell hard flush-bottom">
    <div class="row">
    	<div class="col-md-4 col-sm-6 col-xs-12">
    		{% set blockData = { 
    		    id: '',
    		    backgroundColorHex: '',
    		    linkColorHex: '',
    		    grayscale: '',
    		    count: '',
    		    label: '',
    		    textAlignment: '',
    		    titleSize: 'h3',
    		    title: 'Top resources on the Bible', 
    		    subtitle: "",
    		    copy: "<p>We read the Bible so we can learn more about Jesus and gain practical wisdom for life. If you’re new to following…</p>",
    		    trimCopy: '',
    		    tags: '',
    		    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/articles/newpsring-articles-bible-top-resources-on-the-bible_2000_1000_90_c1.jpg',
    		    imageOpacity: '',
    		    linkUrl: '#',
    		    linkText: 'Read Article'
    		} %}{% include "../Lava/card.html" %}
    	</div><div class="col-md-4 col-sm-6 col-xs-12">
    		{% set blockData = { 
    		    id: '',
    		    backgroundColorHex: '',
    		    linkColorHex: '',
    		    grayscale: '',
    		    count: '',
    		    label: '',
    		    textAlignment: '',
    		    titleSize: 'h3',
    		    title: 'Three common questions about reading the Bible', 
    		    subtitle: "",
    		    copy: "<p>We’ve all had that moment. You committed to reading the Bible, but you have no idea where to start. Maybe you got…</p>",
    		    trimCopy: '',
    		    tags: '',
    		    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/editorial/articles/newspring-articles-bible-three-common-questions-about-reading-the-bible_2000_1000_90_c1.jpg',
    		    imageOpacity: '',
    		    linkUrl: '#',
    		    linkText: 'Read Article'
    		} %}{% include "../Lava/card.html" %}
    	</div><div class="col-md-4 col-sm-6 col-xs-12">
    		{% set blockData = { 
    		    id: '',
    		    backgroundColorHex: '',
    		    linkColorHex: '',
    		    grayscale: '',
    		    count: '',
    		    label: '',
    		    textAlignment: '',
    		    titleSize: 'h3',
    		    title: 'What If I Said No? - Keri Morgan’s Story', 
    		    subtitle: "",
    		    copy: "<p>Keri Morgan struggled in her daily intimacy with Jesus in his word for years until a simple act of obedience was the key…</p>",
    		    trimCopy: '',
    		    tags: '',
    		    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/stories/stories.kerimorgan.hero-01_1880_800_90_c1.jpg',
    		    imageOpacity: '',
    		    linkUrl: '#',
    		    linkText: 'Read Story'
    		} %}{% include "../Lava/card.html" %}
    	</div>
    </div>
</section>


{% set blockData = { 
    id: '4',
    backgroundColorHex: '',
    linkColorHex: '',
    grayscale: '',
    title: 'Daily Devotionals, Delivered Every Morning', 
    copy: "<p>Sign up to receive a daily devotional via text message every morning.</p><p><a href='#' class='btn btn-primary'>Sign Up Now</a></p>",
    imageUrl: 'http://ns.images.s3.amazonaws.com/kraft_paper.2x1.jpg',
    imageOpacity: '.0',
    linkUrl: '',
    linkText: ''
} %}{% include "../Lava/ad-unit.html" %}


{% set blockData = { 
    id: '',
    linkColorHex: '',
    backgroundColorHex: '',
    grayscale: '',
    label: '',
    titleSize:'h3',
    title: "YouVersion Bible App",
    subtitle: "",
    copy: "<p>The Bible App allows you to read the Bible, share verses on social networks, bookmark your favorite passages, and more.</p>",
    trimCopy: '',
    tags: '',
    videoId:'',
    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/bible/bible_app_1700_850_90_c1.jpg',
    imageOpacity: '',
    imageAlignment: '',
    linkUrl: '#',
    linkText: 'Get It Now'
} %}{% include "../Lava/side-by-side.html" %}

{% endblock %}