{% set browserTitle = "About Fuse | Fuse" %}
{% set pageTitle = "" %}
{% set pageBackgroundColorHex = "7256bf" %}
{% set navPages = {
    title: 'Fuse',
    titleLinkUrl: '/fuse.html',
    pages: {
      'About Fuse': '/fuse.html',
      'Locations': '/fuse-locations.html',
      'Fuse Groups': '/fuse-groups.html',
      'Devotionals': '/fuse-devotionals.html',
      'Sermons': '/fuse-sermons.html',
      'Serve at Fuse': 'fuse-serving.html'
    }
} %}


{% extends "FullWidth.html" %}

{% block content %}

    {% set blockData = { 
        id: '1',
        title: '',
        copy: "<p>Fuse is the student ministry at <a href='/'>NewSpring</a>. Fuse exists to show students how to love God and live the life He has for them.</p>",
        grayscale: '',
        backgroundColorHex: '6339D7',
        imageOverlayUrl: '//dg0ddngxdz549.cloudfront.net/fuse/icons/fuse.logo.white.png',
        imageUrl: '//dg0ddngxdz549.cloudfront.net/fuse/about/fuse_groups_stock_web-26.jpg',
        backgroundVideoUrl: '//ns.video.s3.amazonaws.com/fuse/promotions/Fuse_Generic_hero_video_v3_copy',
        imageOpacity: '.3',
        linkUrl: '',
        linkText: '',
        linkClasses: '',
        videoId: '7oqie6rx26'
    } %}{% include "../Lava/hero.html" %}

    <section class="shell bg-white rounded shadowed">
        <div class="text-constrained center-block text-center">
            <h2>What is Fuse?</h2>
            <p>Fuse is the student ministry of <a href="/index.html">NewSpring Church.</a> At Fuse, middle and high school students hear the Gospel and have a whole lot of fun. Fuse is a place where students connect with God, with other students, and with older committed leaders who want to help them follow Jesus.</p>
        </div>
    </section>

    <div id="israel">
    {% set blockData = { 
        id: '1',
        title: "Fuse 2 Israel",
        titleSize: 'h2',
        copy: "<p>Join your Fuse and Rally family in Israel for a week of sightseeing, study, worship, and food. Lots of great Mediterranean food. <p>Space is limited, so apply for your spot today.</p></p>",
        tags: '',
        imageUrl: '//dg0ddngxdz549.cloudfront.net/newspring/Israel/jerusalem.2x1.jpg',
        imageAlignment: 'left',
        linkUrl: 'https://newspring.cc/israel-student',
        linkText: ''
    } %}{% include "../Lava/side-by-side.html" %}
    </div>

    {% set blockData = { 
        id: '2',
        title: "Watch Past Sermons",
        titleSize: 'h2',
        copy: "<p>Miss a week of Fuse? You can catch up on what you missed on the <a href='#'>sermons page.</a></p>",
        tags: '',
        imageUrl: '//dg0ddngxdz549.cloudfront.net/newspring/fpo/fpo.MusicWide.jpg',
        imageAlignment: 'right',
        linkUrl: 'http://gauntlet.cc',
        linkText: 'Browse Sermons'
    } %}{% include "../Lava/side-by-side.html" %}

    <section class="shell bg-white rounded shadowed">
        <div class="center-block text-constrained">
            <div class="text-center">
                <h2>Frequently Asked Questions</h2>
            </div>

            <div class="panel-group" id="accordion-1" role="tablist" aria-multiselectable="true">

                {% set blockData = {
                    parentIndex:"1",
                    index: "1",
                    title: "Who can attend Fuse?", 
                    copy: "<p>Fuse is for students in sixth to 12th grade.</p>"
                } %}{% include "../Lava/accordion-panel.html" %}

                {% set blockData = { 
                    parentIndex:"1",
                    index: "2",
                    title: "When does Fuse meet?", 
                    copy: "<p>Fuse meets every Wednesday night at campuses across South Carolina. Find a <a href='http://newspringfuse.com/locations'>gathering time</a> and location near you.</p>"
                } %}{% include "../Lava/accordion-panel.html" %}

                {% set blockData = { 
                    parentIndex:"1",
                    index: "3",
                    title: "Do Fuse volunteers have a background check?", 
                    copy: "<p>All Fuse volunteers must have an approved background check before serving at Fuse.</p>"
                } %}{% include "../Lava/accordion-panel.html" %}

                {% set blockData = { 
                    parentIndex:"1",
                    index: "4",
                    title: "What can my child expect to do at Fuse?", 
                    copy: "<p>Doors open a half hour to an hour before the service starts. This gives students an opportunity to connect with friends and Fuse leaders, usually over a snack or a game. Then, we all head into service. Every service includes singing and a sermon — think Sunday but louder and with more energy.</p>"
                } %}{% include "../Lava/accordion-panel.html" %}

                {% set blockData = { 
                    parentIndex:"1",
                    index: "5",
                    title: "Do you have to be a Christian to attend?", 
                    copy: "<p>Fuse welcomes everyone. We unashamedly preach and teach the Gospel, but we try hard to create an environment where everyone can belong at Fuse.</p>"
                } %}{% include "../Lava/accordion-panel.html" %}

                {% set blockData = { 
                    parentIndex:"1",
                    index: "6",
                    title: "Who is teaching my child?", 
                    copy: "<p>Fuse messages come from a team of skilled communicators. Each week, your child will clearly hear what it means to follow Jesus. Watch some of our past messages <a href='#'>here.</a></p>"
                } %}{% include "../Lava/accordion-panel.html" %}
                
            </div>

        </div>
    </section>

{% endblock %}