{% set browserTitle = "Fuse Groups | Fuse" %}
{% set pageTitle = "" %}
{% set pageBackgroundColorHex = "7256bf" %}
{% set navPages = {
    title: 'Fuse',
    titleLinkUrl: '/fuse.html',
    pages: {
      'About Fuse': '/fuse.html',
      'Locations': '/fuse-locations.html',
      'Fuse Groups': '/fuse-groups.html',
      'Devotionals': '/fuse-devotionals.html',
      'Sermons': '/fuse-sermons.html',
      'Serve at Fuse': 'fuse-serving.html'
    }
} %}

{% extends "FullWidth.html" %}

{% block content %}

{% set blockData = { 
    id: '1',
    title: "Fuse Groups",
    copy: "<p>We want you to know what it’s like to be part of consistent, life-giving community. Fuse Groups gather weekly with their leader to read and study the Bible. By joining a Fuse Group, you will grow in your relationship with God and with others.</p>",
    linkColorHex: '',
    backgroundColorHex: '844EB0',
    grayscale: '',
    ratio: '',
    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/fuse/2018/fusewebsiteheroesfusegroups2x1_1700_850_90_c1.jpg',
    imageOverlayUrl: '',
    backgroundVideoUrl: '',
    imageOpacity: '.3',
    linkUrl: 'https://rock.newspring.cc/Workflows/88',
    linkText: 'Sign Up For a Group',
    linkClasses: '',
    buttonIcon: '',
    videoId: ''
} %}{% include "hero.html" %}

{% set blockData = { 
    id: '',
    linkColorHex: '',
    backgroundColorHex: '',
    grayscale: '',
    label: '',
    titleSize:'',
    title: "Interested in Leading a Fuse Group?",
    subtitle: "",
    copy: "<p>Dolor pariatur sit ut incididunt quis veniam non amet velit officia reprehenderit laborum elit et duis dolor exercitation fugiat culpa et deserunt officia et.</p>",
    trimCopy: '',
    tags: '',
    videoId:'',
    imageUrl: '//ns.images.s3.amazonaws.com/newspringfuse/groupleaders/fuse.groupleader.new.jpg',
    imageOpacity: '',
    imageAlignment: '',
    linkUrl: '#',
    linkText: 'Learn More'
} %}{% include "side-by-side.html" %}

{% set blockData = { 
    id: '',
    linkColorHex: '',
    backgroundColorHex: '',
    alignment: '',
    grayscale: '',
    label: '',
    titleSize:'',
    title: 'Questions?', 
    subtitle: '',
    copy: "<p>If you have questions email <a href='#'>fusegroups@newspring.cc</a> so we can serve you.</p>",
    trimCopy: '',
    imageUrl: '',
    imageOpacity: '',
    linkUrl: 'mailto:fusegroups@newspring.cc',
    linkText: 'Contact Us',
    buttonIcon: ''
} %}{% include "ad-unit.html" %}

{% endblock %}