{% set browserTitle = "Serving | Fuse" %}
{% set pageTitle = "" %}
{% set pageBackgroundColorHex = "7256bf" %}
{% set navPages = {
    title: 'Fuse',
    titleLinkUrl: '/fuse.html',
    pages: {
      'About Fuse': '/fuse.html',
      'Locations': '/fuse-locations.html',
      'Fuse Groups': '/fuse-groups.html',
      'Devotionals': '/fuse-devotionals.html',
      'Sermons': '/fuse-sermons.html',
      'Serve at Fuse': 'fuse-serving.html'
    }
} %}

{% extends "FullWidth.html" %}

{% block content %}

{% set blockData = { 
    id: '1',
    title: "Serving",
    copy: "<p>Each week at NewSpring, thousands of people just like you give their time to serve. Whether it’s helping kids learn about Jesus on their level at KidSpring, greeting first-time guests, or pitching in behind the scenes with Production, every volunteer is making a difference at NewSpring!</p>",
    linkColorHex: '',
    backgroundColorHex: 'C74289',
    grayscale: '',
    ratio: '',
    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/fuse/2018/fusewebsiteheroesfuseserving2x1_1700_850_90_c1.jpg',
    imageOverlayUrl: '',
    backgroundVideoUrl: '',
    imageOpacity: '.5',
    linkUrl: '#servingopportunities',
    linkText: 'Start Serving',
    linkClasses: '',
    buttonIcon: '',
    videoId: ''
} %}{% include "hero.html" %}

{% set blockData = { 
    id: '',
    linkColorHex: '',
    backgroundColorHex: '',
    alignment: '',
    grayscale: '',
    label: '',
    titleSize:'',
    title: 'You Can Make a Difference', 
    subtitle: '',
    copy: "<p>We know you’re busy, and a million things are competing for your time. But we also know you’ll meet new friends and grow in your relationship with Jesus when you start serving.</p><p>There’s a serving opportunity that suits your personality and availability. Take a look at a few of our ministries, and sign up to get more information!</p>",
    trimCopy: '',
    imageUrl: '',
    imageOpacity: '',
    linkUrl: '',
    linkText: '',
    buttonIcon: ''
} %}{% include "ad-unit.html" %}

<div id="servingopportunities">

	<h2 class="text-center soft-ends xs-soft-half-top xs-hard-bottom">Serving Opportunities</h2>

{% set blockData = { 
    id: '',
    linkColorHex: '',
    backgroundColorHex: '',
    grayscale: '',
    label: '',
    titleSize:'',
    title: "Guest Services",
    subtitle: "",
    copy: "<p>Volunteers in Guest Services specialize in hospitality, helping people feel like they belong at NewSpring. From the moment a person steps onto a campus until the time they leave, Guest Services makes people feel welcomed. Guest Services offers opportunities to serve before, during, and after all of our Sunday services.",
    trimCopy: '',
    tags: '',
    videoId:'',
    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/fuse/2018/serve_gs2x1_1700_851_90_c1.jpg',
    imageOpacity: '',
    imageAlignment: '',
    linkUrl: 'https://rock.newspring.cc/Workflows/93?Interest=Guest%20Services',
    linkText: 'Start Serving'
} %}{% include "side-by-side.html" %}

{% set blockData = { 
    id: '',
    linkColorHex: '',
    backgroundColorHex: '',
    grayscale: '',
    label: '',
    titleSize:'',
    title: "KidSpring",
    subtitle: "",
    copy: "<p>KidSpring is designed to teach kids about Jesus on their level in a safe, fun environment. Each week babies–5th grade kids are taught the Bible in a creative, age-appropriate way while building relationships with adult volunteers and peers. You can serve in KidSpring every other week, as a fill in based on your availability, or every week to provide consistency for kids that live inconsistent lives.</p>",
    trimCopy: '',
    tags: '',
    videoId:'',
    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/fuse/2018/serve_ks2x1_1700_851_90_c1.jpg',
    imageOpacity: '',
    imageAlignment: 'left',
    linkUrl: 'https://rock.newspring.cc/Workflows/93?Interest=KidSpring',
    linkText: 'Start Serving'
} %}{% include "side-by-side.html" %}

{% set blockData = { 
    id: '',
    linkColorHex: '',
    backgroundColorHex: '',
    grayscale: '',
    label: '',
    titleSize:'',
    title: "Fuse",
    subtitle: "",
    copy: "<p>Fuse exists to reach 6–12th grade students far from God and teach them how to follow Jesus step by step. If you love Jesus, middle and high school students, and crazy services, Fuse is a great place for you to serve. Fuse happens every Wednesday night from 6–9pm, and has a variety of different volunteer roles.</p>",
    trimCopy: '',
    tags: '',
    videoId:'',
    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/fuse/2018/serve_fuse_2x1_1700_850_90_c1.jpg',
    imageOpacity: '',
    imageAlignment: 'right',
    linkUrl: 'https://rock.newspring.cc/Workflows/93?Interest=Fuse',
    linkText: 'Start Serving'
} %}{% include "side-by-side.html" %}

{% set blockData = { 
    id: '',
    linkColorHex: '',
    backgroundColorHex: '',
    grayscale: '',
    label: '',
    titleSize:'',
    title: "Next Steps",
    subtitle: "",
    copy: "<p>Volunteers in Next Steps help guide people as they learn how to follow Jesus step by step. If you enjoy connecting with and caring for people, Next Steps may be for you. No matter your level of experience, there are opportunities to serve on Sunday and throughout the week!</p>",
    trimCopy: '',
    tags: '',
    videoId:'',
    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/fuse/2018/serve_ns2x1_1700_851_90_c1.jpg',
    imageOpacity: '',
    imageAlignment: 'left',
    linkUrl: 'https://rock.newspring.cc/Workflows/93?Interest=Next%20Steps',
    linkText: 'Start Serving'
} %}{% include "side-by-side.html" %}

{% set blockData = { 
    id: '',
    linkColorHex: '',
    backgroundColorHex: '',
    grayscale: '',
    label: '',
    titleSize:'',
    title: "Production",
    subtitle: "",
    copy: "<p>Production volunteers help deliver an excellent, distraction-free service environment. If you’re creative, intuitive, hard-working, and have a passion for visual excellence and details, working behind the scenes with Production might be your next step. There are spots to volunteer at every service, or our morning or afternoon services only.</p>",
    trimCopy: '',
    tags: '',
    videoId:'',
    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/fuse/2018/serve_production2x1_1700_851_90_c1.jpg',
    imageOpacity: '',
    imageAlignment: 'right',
    linkUrl: 'https://rock.newspring.cc/Workflows/93?Interest=Production',
    linkText: 'Start Serving'
} %}{% include "side-by-side.html" %}

</div>

{% set blockData = { 
    id: '',
    linkColorHex: '',
    backgroundColorHex: '',
    alignment: '',
    grayscale: '',
    label: '',
    titleSize:'',
    title: 'Not Sure Where to Start?', 
    subtitle: '',
    copy: "<p>If you're not sure where to start, let us know and someone will be in touch with you to help you take your next step in serving.</p>",
    trimCopy: '',
    imageUrl: '',
    imageOpacity: '',
    linkUrl: 'https://rock.newspring.cc/Workflows/152',
    linkText: 'Contact Us',
    buttonIcon: ''
} %}{% include "ad-unit.html" %}

{% endblock %}