{% set browserTitle = "Giving" %}
{% set pageTitle = "" %}
{% set pageBackgroundColorHex = "" %}

{% extends "FullWidth.html" %}

{% block content %}

	{% set blockData = { 
        title: "We Truly Believe You Can't Outgive God",
        copy: "<p>The Bible says in <a href='http://www.bible.com/bible/Matthew.6.24.niv'>Matthew 6:24</a> that the top competitor for our commitment to Jesus is money. Giving allows us to demonstrate that He is more important to us than material things.</p>",
        linkColorHex: '',
        backgroundColorHex: '2a4930',
        imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/fpo/1040.hero_1700_723_90_c1.jpg',
        backgroundVideoUrl: '',
        imageOpacity: '.6',
        linkUrl: 'https://my.newspring.cc/give/now',
        linkText: 'Give Now',
        linkClasses: ''
    } %}{% include "../Lava/hero.html" %}

    {% set blockData = { 
        id: '',
        linkColorHex: '',
        backgroundColorHex: '',
        grayscale: '',
        label: '',
        titleSize:'',
        title: "Schedule Your Giving",
        subtitle: "",
        copy: "<p>Your life is busy these days, isn’t it? Between paying bills, running errands, and remembering birthdays and anniversaries, giving can easily get put on the back burner.</p><p>The truth is, it doesn’t have to be this way. You can literally schedule your next gift in two minutes. Go ahead, give your brain a break. It deserves it.</p>",
        trimCopy: '',
        tags: '',
        videoId:'',
        imageUrl: 'https://images.unsplash.com/photo-1522199899308-2eef382e2158?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6d21a7abb5661ff1dce2167e50c0767f&auto=format&fit=crop&w=1352&q=80',
        imageOpacity: '',
        imageAlignment: '',
        linkUrl: '#',
        linkText: 'Create a Schedule'
    } %}{% include "../Lava/side-by-side.html" %}

    {% set blockData = { 
        id: '',
        linkColorHex: '',
        backgroundColorHex: '',
        grayscale: '',
        label: '',
        titleSize:'',
        title: "What is Tithing?",
        subtitle: "",
        copy: "<p>A tithe—which just means “tenth”—is defined as the first 10% of a person’s income before taxes or anything else comes out. The Bible says we can take the promises of God to the bank. When we bring our first and best back to God, He promises to bless the rest. We can’t outgive God. We know tithing is a huge step of obedience, but you’re not in this alone! Check out the video to learn more.</p>",
        trimCopy: '',
        tags: '',
        videoId:'83s7n4hv3f',
        imageUrl: 'https://images.unsplash.com/photo-1529086005036-bbc8d628e109?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a98fb7e69a2d309bca72044d28e430e5&auto=format&fit=crop&w=1304&q=80',
        imageOpacity: '',
        imageAlignment: 'left',
        linkUrl: '',
        linkText: ''
    } %}{% include "../Lava/side-by-side.html" %}

    <section class="shell bg-white rounded shadowed">
        <h2 class="text-center">How Much Should I Tithe?</h2>

        <div class="mx-auto push-bottom" style="max-width: 450px;">
            <form id="tithe-calc">
                <div class="form-group">
                    <label for="exampleInputEmail1">Paycheck Amount Before Taxes</label>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="number" class="form-control" id="paycheckAmount" placeholder="Amount">
                    </div>
                </div>
                <div class="text-center push-top">
                    <button type="submit" class="btn btn-primary">Calculate Tithe</button>
                </div>
            </form>

            <script>
                var titheCalcForm = document.querySelector('#tithe-calc');
                titheCalcForm.addEventListener("submit", function(e){
                    //stop form from submitting
                    e.preventDefault();

                    // Find results element if it exists
                    var elem = document.querySelector('#titheCalcResults');

                    // Remove it to prevent duplicate responses for multiple submissions
                    if(elem) {
                        elem.parentNode.removeChild(elem);
                    }

                    var input = titheCalcForm.querySelector('input');
                    var inputValue = input.value;

                    if(inputValue != null && inputValue > 0) {
                        var resultText = "Your tithe amount is $" + (inputValue / 10).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                    } else {
                        var resultText = "Please check the amount entered.";
                    }

                    // Generate element to hold results
                    var result = document.createElement('p');
                    // Insert results into element
                    result.textContent = resultText;
                    result.setAttribute('id', 'titheCalcResults');
                    result.setAttribute('class', 'bg-gray-lighter push-top text-center rounded soft-half');

                    // Append element after form
                    titheCalcForm.appendChild(result);

                    var actionButton = document.createElement('a');
                    actionButton.textContent = "Give Now";
                    actionButton.setAttribute('href', 'https://my.newspring.cc/give/now?amount=' + (inputValue/10));
                    actionButton.setAttribute('class', 'btn btn-primary');
                    titheCalcForm.appendChild(actionButton);
                });
            </script>
        </div>
    </section>

    {% set blockData = { 
        id: '15',
        backgroundColorHex: '1c1c1c',
	    title: "Not From You, For You", 
	    copy: "<p class='strong'><i>&lsquo;Plans fail for a lack of counsel, but with many advisors they succeed.&rsquo;<br>&mdash; Proverbs 15:22</i></p><p>We've all needed help with our finances at one time or another. There's no shame in that. So if you're feeling stuck in your finances, or just not sure where to go for help understanding it all, we've gathered together some tools and resources to help you.</p>",
	    imageUrl: 'https://images.unsplash.com/photo-1451337516015-6b6e9a44a8a3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bc45547dfdab776b6718426667ebfbdd',
	    imageOpacity: '.6',
	    linkUrl: '/finances.html',
	    linkText: ''
	} %}{% include "../Lava/ad-unit.html" %}

	<section class="shell bg-white rounded shadowed">
        <div class="text-constrained mx-auto">
            <div class="text-center">
                <h2>Make an Impact</h2>
                <p>Are you looking to make an even bigger impact than just giving your tithe? Here are some other ways that you can get involved in changing lives through giving.</p>
            </div>
            <br>

            <div class="row">
                <div class="col-md-6">
                    <h3>Tithes and Offerings</h3>
                    <p>Tithing is bringing the first 10 percent of our income back to God. It’s a way to worship God by showing Him that we trust His promises. It’s also a way to protect our hearts from greed. By bringing back to God what is rightfully His, we remind ourselves that everything we have comes from Him. Offerings are any gifts we give over and above the tithe. As we understand how generous God is to us, we’ll find ourselves wanting to be more and more generous toward Him.</p>
                    <p><a href="#" class="btn btn-primary">Give Now</a></p>
                </div><div class="col-md-6">
                    <h3>Overflow Offering</h3>
                    <p>The Overflow Offering is a chance to give from the overflow of what God has given you, so together we can build the church in our cities, our state, and our world.</p>
                    <p><a href="#" class="btn btn-primary">Give Now</a></p>

                </div>
            </div>
        </div>
    </section>

    {% set blockData = { 
        id: '',
        linkColorHex: '',
        backgroundColorHex: '',
        grayscale: '',
        label: '',
        titleSize:'',
        title: "Did You Know You Can Donate Non-Cash Gifts?",
        subtitle: "",
        copy: "<p>You can donate marketable securities such as stocks, bonds or mutual funds. You can also give other non-cash gifts or include NewSpring in your estate planning.</p>",
        trimCopy: '',
        tags: '',
        videoId:'',
        imageUrl: 'https://images.unsplash.com/photo-1521709986901-579827f9924a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=087ed0470bf2e3f2afb83b62d8bc510e&auto=format&fit=crop&w=1398&q=80',
        imageOpacity: '',
        imageAlignment: '',
        linkUrl: 'http://ns.downloads.s3.amazonaws.com/give/53252.finance.cen.paper.otherwaystogive.pdf',
        linkText: 'Learn More'
    } %}{% include "../Lava/side-by-side.html" %}

	<section class="shell bg-white rounded push-bottom">
        <div class="center-block text-constrained soft hard-bottom">
            <div class="text-center">
                <h2>Still Have Questions?</h2>
            </div>

            <div class="panel-group" id="accordion-1" role="tablist" aria-multiselectable="true">

                {% set blockData = { 
                    parentIndex: '1',
                    index: "1",
                    title: "How do I get a contribution statement or view my giving history?", 
                    copy: "<p>Giving history can be viewed at anytime in your <a href='https://my.newspring.cc/profile/settings'>giving profile.</a> Annual contribution statements are also mailed to you at the closing of each calendar year. Typically you will receive these by mid-February.</p>"
                } %}{% include "../Lava/accordion-panel.html" %}

                {% set blockData = { 
                    parentIndex: '1',
                    index: "2",
                    title: "What is the deadline for annual contributions?", 
                    copy: "<p>All contributions must be received or postmarked by December 31 in order to be included on your contribution statement for that year. Any online contributions must also be initiated by December 31.</p>"
                } %}{% include "../Lava/accordion-panel.html" %}

                {% set blockData = { 
                    parentIndex: '1',
                    index: "3",
                    title: "What address do I use to mail contributions to NewSpring Church?", 
                    copy: "<p>NewSpring Church<br>P.O. Box 1407<br>Anderson SC, 29622</p>"
                } %}{% include "../Lava/accordion-panel.html" %}

                {% set blockData = { 
                    parentIndex: '1',
                    index: "4",
                    title: "Other Questions?", 
                    copy: "<p>If there is anything else we can help with, email us at <a href='mailto:giving@newspring.cc'>giving@newspring.cc!</a></p>"
                } %}{% include "../Lava/accordion-panel.html" %}

            </div>

        </div>
    </section>

    {% set blockData = { 
        id: '16',
        backgroundColorHex: '2a4930',
        title: "Become a Difference Maker", 
        copy: "<p>When you give, you are tangibly making a difference in someone's life. Marriages are restored, lives are healed, and people meet Jesus. There's no better investment in the world.</p>",
        imageUrl: '',
        imageOpacity: '',
        linkUrl: 'https://my.newspring.cc/give/now',
        linkText: 'Give Now'
    } %}{% include "../Lava/ad-unit.html" %}

{% endblock %}