{% set browserTitle = "" %}
{% set pageTitle = "" %}
{% set pageBackgroundColorHex = "" %}

{% extends "FullWidth.html" %}

{% block content %}

	{% set blockData = { 
        title: 'Welcome to NewSpring', 
        copy: "<p>NewSpring Church exists to connect people to Jesus and each other.</p><form class='form-inline'><div class='form-group'><input type='text' class='form-control form-control-static sans-serif strong push-half-bottom text-center no-border' placeholder='Enter Your Location' data-append-query='/locations.html?location='> <button type='submit' class='form-control form-control-static btn btn-primary push-half-bottom'>Find a Location</button></div></form><p>or <a href='/sermons.html' class='text-white'>watch past sermons.</a></p>",
        grayscale: '',
        linkColorHex: '',
        backgroundColorHex: '6bac43',
        imageUrl: '//dg0ddngxdz549.cloudfront.net/newspring/homepage/hero_1x1.gif',
        backgroundVideoUrl: '//s3.amazonaws.com/ns.images/newspring/fpo/HomepageVideo_ForExport_V3-Web_Hero_2_000kbps',
        imageOpacity: '1',
        linkUrl: '',
        linkText: '',
        linkClasses: ''
    } %}{% include "../Lava/hero.html" %}

    {% set blockData = { 
        id: '5',
        title: "God's Gifts to You are Meant to Flow Through You",
        titleSize: 'h2',
        copy: "<p>The Overflow Offering is an opportunity to give from the overflow of what God has done for us. When you give, you are helping build our church and the Church. See how your generosity will make a difference in our cities, our state, and our world.</p>",
        trimCopy: 'y',
        tags: '',
        imageUrl: '//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/1030.comm.cen.web.overflowheroes1x1.png',
        imageAlignment: 'right',
        linkUrl: '/overflow.html',
        linkText: ''
    } %}{% include "../Lava/side-by-side.html" %}
    
    {% set blockData = { 
        id: '3',
        title: "Church Feels Like Family When You Connect",
        titleSize: 'h2',
        copy: "<p>Church is more than a place we go. It’s the family we find when we connect to Jesus and each other.</p><p>Learn what it means to be part of God’s family and uncover the unique gifts you bring to His church. Come to Connect Classes!</p>",
        trimCopy: 'y',
        tags: '',
        imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/connect/NewConnect_561x1_2000_2000_90.jpg',
        imageAlignment: 'left',
        linkUrl: '/connect.html',
        linkText: 'Sign Up Now'
    } %}{% include "../Lava/side-by-side.html" %}
    
{% endblock %}