{% set browserTitle = "Israel Fall 2018" %}
{% set pageTitle = "" %}
{% set pageBackgroundColorHex = "335cb9" %}

{% extends "FullWidth.html" %}

{% block content %}

    {% set blockData = { 
        title: 'Israel Fall 2018',
        copy: "<p class='lead'>Walk where Jesus walked, and see the Bible come to life.</p>",
        grayscale: '',
        linkColorHex: '',
        backgroundColorHex: '',
        imageOverlayUrl: '',
        imageUrl: '//dg0ddngxdz549.cloudfront.net/newspring/kidspring/UpdatedWeb_FirstTimer-13.jpg',
        backgroundVideoUrl: '//s3.amazonaws.com/ns.video/fuse/promotions/fuse2israel/76337_CEN_WEB_Fuse2IsraelWebHeader-ProRes-Web_Hero_2_000kbps',
        imageOpacity: '1',
        linkUrl: '',
        linkText: '',
        linkClasses: '',
        videoId: 'mr4jl09jbd'
    } %}{% include "../Lava/hero.html" %}

    <section class="shell bg-white rounded shadowed">
        <div class="text-constrained center-block text-center">
            <p class="lead">Reading about Jesus’ life and ministry changes us. Seeing where Jesus lived and did ministry changes how we see Him.</p>
            <p>On both trips, you’ll visit Bethlehem, the Sea of Galilee, Capernaum, and Jerusalem. You’ll see places you’ve read about for years and take communion at the empty tomb.</p>
            <p><b>Find the trip that’s right for you, and sign up today.</b></p>
            <p><a href="#" class="btn btn-primary">Register Now</a></p>
        </div>
    </section>

    <section class="shell soft-sides hard-ends flush">
    <div class="row text-center">
        <div class="col-md-6 col-sm-12 col-xs-12 xs-hard">
            {% set blockData = { 
                id: '',
                linkColorHex: '',
                backgroundColorHex: '',
                grayscale: '',
                label: '',
                titleSize:'h3',
                title: 'Fuse and Rally To Israel',
                subtitle: 'June 10-17, 2019',
                copy: "<p>If you’re in high school or college, this trip is for you. Traveling with your Rally and Fuse fam is an adventure you won’t forget. You’ll come back with a better understanding of the Bible and deeper relationships with one another.</p>",
                trimCopy: '',
                imageUrl: '',
                imageOpacity: '',
                linkUrl: '#',
                linkText: 'Learn More'
            } %}{% include "../Lava/ad-unit.html" %}
        </div><div class="col-md-6 col-sm-12 col-xs-12 xs-hard">
            {% set blockData = { 
                id: '',
                linkColorHex: '',
                backgroundColorHex: '',
                grayscale: '',
                label: '',
                titleSize:'h3',
                title: 'NewSpring to Israel',
                subtitle: 'October 10-18, 2018',
                copy: "<p>What’s better than seeing where Jesus lived and taught? Seeing it with your church family. With NewSpring staff teaching and leading worship, this is no ordinary expedition.</p>",
                trimCopy: '',
                imageUrl: '',
                imageOpacity: '',
                linkUrl: '#',
                linkText: 'Learn More'
            } %}{% include "../Lava/ad-unit.html" %}
        </div>
    </div>
    </section>

    <section class="shell bg-white rounded shadowed push-bottom xs-push-half-bottom">
        <div class="text-constrained center-block text-center">

            <h2 class="text-center">Frequently Asked Questions</h2>
            <div class="panel-group" id="accordion-1" role="tablist" aria-multiselectable="true">

                {% set blockData = { 
                    parentIndex:"1",
                    index: "1",
                    title: "Lorem ipsum amet est dolore officia sit ea non?", 
                    copy: "<p>Play clothes are always welcome! KidSpring is a fun, active environment. Your kids will be playing, singing, and dancing as they learn about Jesus in small groups and large groups.</p>"
                } %}{% include "../Lava/accordion-panel.html" %}

                {% set blockData = { 
                    parentIndex:"1",
                    index: "2",
                    title: "Cillum incididunt commodo do quis laborum sant?", 
                    copy: "<p>We'd love to have your family visit KidSpring during the week! If you're interested in a weekday tour or have any additional questions, please <a href='#'>let us know</a>.</p>"
                } %}{% include "../Lava/accordion-panel.html" %}

            </div>

            <p><b>Have more questions?</b> We'd love to answer them and serve you in any way we can.</p>
            <p><a href="#" class="btn btn-primary">Contact Us</a></p>

        </div>
    </section>

    {#

    {% set blockData = { 
        id: '5',
        title: "Trip Cost",
        titleSize: 'h2',
        copy: "<p><b>Land Only:</b> $3,150<br><b>Land and Air:</b> $4,645</p><p class='flush'><b>Cost Includes:</b></p><ul class='flush-left'><li>All hotel accommodations</li><li>Ground transfer between Ben Gurion Airport and the hotel</li><li>Deluxe, air-conditioned motorcoaches for travel throughout the tour</li><li>Entrance fees for every site we visit</li><li>Gratuity for all drivers, guides, and hotel staff</li><li>English-speaking guides and drivers</li><li>Breakfast and dinner every day at every hotel</li><li>Five lunches and any associated gratuity</li><li>Bag service at every hotel</li></ul>",
        tags: '',
        imageUrl: 'http://ns.images.s3.amazonaws.com/newspring/Israel/bethlehem.1x1.jpg',
        imageAlignment: 'left',
        linkUrl: '#',
        linkText: 'Register Now'
    } %}{% include "../Lava/side-by-side.html" %}

    #}

{% endblock %}