{% set browserTitle = "Clemson | Locations" %}
{% set pageTitle = "" %}
{% set pageBackgroundColorHex = "" %}

{% extends "FullWidth.html" %}

{% set locations = [
    {
        "id": "1",
        "title": "Aiken",
        "subtitle": "",
        "copy": "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>",
        "tags": ''
    },
    {
        "id": "2",
        "title": "Anderson",
        "subtitle": "",
        "copy": "<p>Sunday at 9:15am, 11:15am & 5pm</p><p><a href='#'>Get Directions</a></p>",
        "tags": '',
        "lat": '34.595434',
        "lon": '-82.6244131'
    },
    {
        "id": "3",
        "title": "Charleston",
        "subtitle": "",
        "copy": "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>",
        "tags": ''
    },
    {
        "id": "4",
        "title": "Clemson",
        "subtitle": "",
        "copy": "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>",
        "tags": ''
    },
    {
        "id": "5",
        "title": "Columbia",
        "subtitle": "",
        "copy": "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>",
        "tags": ''
    },
    {
        "id": "6",
        "title": "Florence",
        "subtitle": "",
        "copy": "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>",
        "tags": ''
    },
    {
        "id": "7",
        "title": "Greenville",
        "subtitle": "",
        "copy": "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>",
        "tags": ''
    },
    {
        "id": "8",
        "title": "Greenwood",
        "subtitle": "",
        "copy": "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>",
        "tags": ''
    },
    {
        "id": "9",
        "title": "Hilton Head",
        "subtitle": "",
        "copy": "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>",
        "tags": ''
    },
    {
        "id": "10",
        "title": "Myrtle Beach",
        "subtitle": "",
        "copy": "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>",
        "tags": ''
    },
    {
        "id": "11",
        "title": "Northeast Columbia",
        "subtitle": "",
        "copy": "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>",
        "tags": ''
    },
    {
        "id": "12",
        "title": "Powdersville",
        "subtitle": "",
        "copy": "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>",
        "tags": ''
    },
    {
        "id": "13",
        "title": "Rock Hill",
        "subtitle": "",
        "copy": "<p>Sunday at 9:15am & 11:15am</p><p><a href='#'>Get Directions</a></p>",
        "tags": ''
    }
] %}

{% block content %}
    
{% set blockData = { 
    id: '1',
    title: 'Clemson, SC',
    copy: "<p class='lead'>Gatherings on Sunday at 9:15am & 11:15am.</p>",
    grayscale: '',
    imageUrl: '//dg0ddngxdz549.cloudfront.net/all/heroes/newspring/campuses/clemson/clemson_campus_launch_exterior-3.jpg',
    backgroundVideoUrl: '',
    imageOpacity: '.3',
    linkUrl: 'https://www.google.com/maps/place/NewSpring+Church/@34.852042,-82.3567597,17z/data=!4m13!1m7!3m6!1s0x88582e50405967db:0x14b16db65d9670f8!2s1+Exposition+Dr,+Greenville,+SC+29607!3b1!8m2!3d34.852042!4d-82.354571!3m4!1s0x88582e50405967db:0x5a7979ea89ff4732!8m2!3d34.852042!4d-82.354571?hl=en',
    linkText: 'Get Directions',
    linkClasses: '',
    videoId: ''
} %}{% include "../Lava/hero.html" %}

<div class="soft-sides xs-soft-half-sides">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <section class="shell bg-white rounded shadowed clearfix text-center">
                <h2>Campus Information</h2>
                <h3 class='h4 flush'>Address</h3>
                <p>13200 Clemson Blvd.<br>Seneca, SC 29678</p>
                <h3 class='h4 flush'>Phone</h3>
                <p><a href='tel:+18649866111'>864-986-6111</a></p>
                <h3 class='h4 flush'>Email</h3>
                <p><a href='mailto:clemson@newspring.cc'>clemson@newspring.cc</a></p>
            </section>
        </div><div class="col-md-6 col-sm-12 col-xs-12">
            {% set blockData = { 
                id: '2',
                linkColorHex: '',
                backgroundColorHex: '',
                grayscale: '',
                label: '',
                titleSize:'',
                title: 'First Time Here?', 
                subtitle: '',
                copy: "<p>First time here? Watch this drone video to help you find your way.</p><p class='text-center'><span class='wistia_embed wistia_async_ov0de9h144 popover=true popoverContent=link clickable text-center' style='display:inline; position:relative'><a href='#' class='btn btn-primary'>Watch Video <i class='fas fa-xs fa-play'></i></a></span></p>",
                trimCopy: '',
                imageUrl: '',
                imageOpacity: '',
                linkUrl: '',
                linkText: '',
                buttonIcon: ''
            } %}{% include "../Lava/ad-unit.html" %}

            <script src="https://fast.wistia.com/embed/medias/ov0de9h144.jsonp" async></script>
            <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
        </div>
    </div>
</div>

<!-- 
<h3 class='push-half-bottom'>Address</h3>
<p>13200 Clemson Blvd.<br>Seneca, SC 29678</p>
<h3 class='push-half-bottom'>Phone</h3>
<p><a href='tel:+18649866111'>864-986-6111</a></p>
<h3 class='push-half-bottom'>Email</h3>
<p><a href='mailto:clemson@newspring.cc'>clemson@newspring.cc</a></p> -->

<section class="shell bg-white rounded shadowed">
    <div class="row text-center flush soft-sides xs-hard floating">
        <div class="col-md-4 col-sm-6 col-xs-12 floating-item xs-push-bottom">
            <div class="ratio-square circular background-cover mx-auto" style="background-image:url('https://rock.newspring.cc/GetImage.ashx?id=564193'); max-width: 250px;"></div>
        </div><div class="col-md-8 col-sm-6 col-xs-12 floating-item soft-double-left text-left xs-hard xs-text-center">
           <h2 class="push-half-bottom">Meet Cliff Craig</h2>
           <p class="sans-serif stronger text-uppercase letter-spacing-condensed text-gray-light push-half-bottom"><small>Clemson Campus Pastor</small></p>
           <p>Cliff met Jesus at an early age, but didn't fully understand what it meant to follow Jesus until friends at Clemson University invited him to NewSpring. He began attending the Anderson Campus in the early 2000's. Cliff is married to Lauren, and they have three daughters and one son. Serving as the Campus Pastor in Clemson is Cliff’s dream job.</p>
           <p><a href="#" class="btn btn-primary">Contact Cliff</a></p>
        </div>
</section>

{% set blockData = { 
    id: '',
    linkColorHex: '',
    backgroundColorHex: '',
    grayscale: '',
    label: '',
    titleSize:'',
    title: "KidSpring",
    subtitle: "",
    copy: "<p>Every Sunday all children (babies through 5th grade) experience safe, age-appropriate environments where the Bible is taught in a creative and relevant way.</p>",
    trimCopy: '',
    tags: '',
    videoId:'',
    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_dg0ddngxdz549.cloudfront.net/newspring/fpo/fpo.KidSpring.Hallway_2000_1000_90.jpg',
    imageOpacity: '',
    imageAlignment: 'right',
    linkUrl: '/kidspring.html',
    linkText: 'Learn More'
} %}{% include "../Lava/side-by-side.html" %}

{% set blockData = { 
    id: '',
    linkColorHex: '',
    backgroundColorHex: '',
    grayscale: '',
    label: '',
    titleSize:'',
    title: "Fuse",
    subtitle: "",
    copy: "<p>Fuse is a student ministry that is designed to be a place for students (6th-12th grade) to connect with God, other students, and older committed leaders that are dedicated to seeing them grow closer to Jesus.</p>",
    trimCopy: '',
    tags: '',
    videoId:'',
    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_dg0ddngxdz549.cloudfront.net/all/locations/33602.fuse.cen.web.locationspage_2x1_2000_1000_90.jpg',
    imageOpacity: '',
    imageAlignment: 'left',
    linkUrl: '/fuse.html',
    linkText: 'Learn More'
} %}{% include "../Lava/side-by-side.html" %}

{% endblock %}