{% set browserTitle = "Overflow Offering" %}
{% set pageTitle = "" %}
{% set pageBackgroundColorHex = "" %}

{% extends "FullWidth.html" %}

{% block content %}

{% set blockData = { 
    id: '',
    title: "",
    copy: "",
    linkColorHex: '',
    backgroundColorHex: '',
    grayscale: '',
    ratio: 'thin',
    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/overflow2018/Overflow-Hero-01_1700_850_90_c1.jpg',
    imageOverlayUrl: '',
    backgroundVideoUrl: '',
    imageOpacity: '',
    linkUrl: '',
    linkText: '',
    linkClasses: '',
    buttonIcon: '',
    videoId: '1kerjnhugl'
} %}{% include "../Lava/hero.html" %}

{% set blockData = { 
    id: '',
    linkColorHex: '',
    backgroundColorHex: '',
    grayscale: '',
    label: '',
    titleSize:'',
    title: '', 
    subtitle: '',
    copy: "<p class='lead'>What would compel someone to give over and above their <a href='#'>tithe</a>? The answer is gratitude. <b>A thankful heart overflows with generosity.</b></p><p>The Overflow Offering is a chance to give from the overflow of what God has given you, so together we can build the church in our cities, our state, and our world.</p><p>God has given us a big vision for the Overflow Offering. Keep reading to see what’s possible if we receive $4 million this year.</p>",
    trimCopy: '',
    imageUrl: '',
    imageOpacity: '',
    linkUrl: 'https://my.newspring.cc/give/now?Overflow%20Offering=0',
    linkText: 'Give Now',
    buttonIcon: ''
} %}{% include "../Lava/ad-unit.html" %}

{% set blockData = { 
    id: '2',
    linkColorHex: '',
    backgroundColorHex: '1c1c1c',
    alignment: 'left',
    grayscale: '',
    label: '',
    titleSize:'',
    title: 'My City', 
    subtitle: '',
    copy: "<p>The Church's greatest impact in our communities happens when we work side by side to share the Gospel. With part of this year’s Overflow Offering, each campus will come alongside another local church to help meet an existing need. By helping churches expand ministries and renovate buildings, we get to see the power of having a kingdom mentality.</p>",
    trimCopy: '',
    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/overflow2018/hymnals2x1_2000_1000_90_c1.jpg',
    imageOpacity: '.8',
    linkUrl: 'https://my.newspring.cc/give/now?Overflow%20Offering=0',
    linkText: 'Give Now',
    buttonIcon: ''
} %}{% include "../Lava/ad-unit.html" %}

{% set blockData = { 
    id: '3',
    linkColorHex: '',
    backgroundColorHex: '',
    alignment: 'right',
    grayscale: '',
    label: '',
    titleSize:'',
    title: 'My State', 
    subtitle: '',
    copy: "<p>The Overflow Offering will allow us to complete renovations at the Eastlan Campus and set aside funds for a Greer Campus. With good stewardship, bold moves of generosity, and lots of prayer, we could move into Eastlan by fall of 2019 and <a href='#'>start construction in Greer</a> 2020.</p>",
    trimCopy: '',
    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/overflow2018/my-state-final_2000_1000_90_c1.jpg',
    imageOpacity: '.4',
    linkUrl: 'https://my.newspring.cc/give/now?Overflow%20Offering=0',
    linkText: 'Give Now',
    buttonIcon: ''
} %}{% include "../Lava/ad-unit.html" %}

{% set blockData = { 
    id: '4',
    linkColorHex: '',
    backgroundColorHex: '',
    alignment: 'left',
    grayscale: '',
    label: '',
    titleSize:'',
    title: 'My World', 
    subtitle: '',
    copy: "<p>Though spiritual needs are everywhere, access to the Gospel is not. The Overflow Offering will allow more people to hear the good news by supporting three organizations:</p><ul><li>Crossover, an organization that starts churches among unreached people around the world</li><li>The Association of Related Churches, which supports and equips church planters here in the U.S.</li><li>Care for AIDS, which helps families living with AIDS in Africa</li></ul>",
    trimCopy: '',
    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/overflow2018/overflowoffering.myworld.2.2x1_new_2000_1000_90_c1.jpg',
    imageOpacity: '1',
    linkUrl: 'https://my.newspring.cc/give/now?Overflow%20Offering=0',
    linkText: 'Give Now',
    buttonIcon: ''
} %}{% include "../Lava/ad-unit.html" %}

{% set blockData = { 
    id: '5',
    linkColorHex: '',
    backgroundColorHex: '',
    alignment: '',
    grayscale: '',
    label: '',
    titleSize:'',
    title: 'Something worth celebrating!', 
    subtitle: '',
    copy: "<p>In 2017, we dedicated the Overflow Offering to helping families in our cities, our state, and our world. Through your generosity last year, 14 family-focused nonprofits were able to expand their ministry in our cities. <a href='https://newspring.cc/news/aiken-campus-will-have-a-new-home'>NewSpring Aiken was able to move</a> into a more permanent home. And, <a href='https://newspring.cc/news/how-our-newspring-family-is-embracing-african-families-living-with-hiv-aids'>Care for AIDS</a> was able to bring 250 families into their program — preventing more than 750 children from becoming orphans because of HIV.</p>",
    trimCopy: '',
    imageUrl: '',
    imageOpacity: '1',
    linkUrl: 'https://my.newspring.cc/give/now?Overflow%20Offering=0',
    linkText: 'Give Now',
    buttonIcon: ''
} %}{% include "../Lava/ad-unit.html" %}

{% endblock %}