{% set browserTitle = "Slaying Giants | Sermons" %}
{% set pageTitle = "Sermon Series" %}
{% set pageBackgroundColorHex = "5C1998" %}

{% extends "FullWidth.html" %}

{% set sermons = [
	{
		"id": "1",
		"title": "Fear vs. Faith",
		"subtitle": "Oct 1, 2017 • Dan Lian",
		"copy": "<p>When God’s people reached the Promised Land, it was full of abundance. It was also full of giants. The same is true for us. God has called us into abundance, but there are giants standing in our way. Don't allow these giants to steal one ounce of joy or hope from you. Know who they are and get ready to attack.</p>",
		"tags": {
	      "1": "bitterness",
	      "2": "greed",
	      "3": "promises",
	      "4": "anxiety"
	    },
	    "imageUrl": "https://embed-ssl.wistia.com/deliveries/5d938a14905bf032634c444b89d86b87d7665a6e.jpg"
	},
	{
		"id": "2",
		"title": "Generosity vs. Greed",
		"subtitle": "Oct 8, 2017 • Clayton King",
		"copy": "<p>We all know greed is a problem — we just think it’s a problem for other people. Greed is sneaky like that. Don't let greed grab a hold of you. Learn to see greed for what it is, slay its hold on your life, and stay free from greed for good.</p>",
		"tags": {
	      "1": "greed",
	      "2": "generosity",
	      "3": "money"
	    },
	    "imageUrl": "https://embed-ssl.wistia.com/deliveries/fd7216326faea1bf5fbc605b40306a11c83f164a.jpg"
	},
	{
		"id": "3",
		"title": "Unforgiveness vs. Freedom",
		"subtitle": "Oct 15, 2017 • Brad Cooper",
		"copy": "<p>When someone hurts you, do you pretend it never happened or silently plot your revenge? Maybe you hold a grudge 'to teach 'em a lesson.'</p>",
		"tags": {
	      "1": "jealousy",
	      "2": "bitterness",
	      "3": "forgiveness"
	    },
	    "imageUrl": "https://embed-ssl.wistia.com/deliveries/2e84b8c54087be3c16fa4b2fed86cb0572caa252.jpg"
	},
	{
		"id": "4",
		"title": "Comparison vs. Contentment",
		"subtitle": "Oct 22, 2017 • Stacey Tarrant",
		"copy": "<p>Ever felt like someone else was living the life you were meant to have? That’s what comparison does. It convinces us that God plus something else — a spouse, a child, a house, a promotion — will be enough. Don't let comparison stop you from enjoying the life God has for you.</p>",
		"tags": {
	      "1": "comparison",
	      "2": "jealousy",
	      "3": "identity"
	    },
	    "imageUrl": "https://embed-ssl.wistia.com/deliveries/c7d91261002ed6681d47c5d4af24c1991591ea0d.jpg"
	},
	{
		"id": "5",
		"title": "Anxiety vs. Gratitude",
		"subtitle": "Oct 29, 2017 • Lee McDerment",
		"copy": "<p>Anxiety attacks everyone. When we go through difficult or stressful situations, our bodies remember and fear alerts us when danger presents itself again. Anxiety doesn’t mean we’re bad people or that we’re crazy. But it will tear us apart if we don’t face its cause.</p>",
		"tags": {
	      "1": "peace",
	      "2": "freedom",
	      "3": "anxiety"
	    },
	    "imageUrl": "https://embed-ssl.wistia.com/deliveries/cb7f225234cacdb8fc8106ab3c85759d7d4c3d14.jpg"
	}
] %}

{% block content %}
	
	{% set blockData = { 
	    id: '',
	    linkColorHex: '',
	    backgroundColorHex: '',
	    grayscale: '',
	    label: 'Sermon Series',
	    titleSize:'',
	    title: "Slaying Giants",
	    subtitle: "October 1 - 29, 2017",
	    copy: "<p>We all want more out of life.</p><p>But too often, obstacles stand between us and the full life God promises. They loom over us like giants blocking our path.</p><p>Greed, fear, anxiety, bitterness, and comparison — these “giants” are real and they are ready to fight. We can either turn and run, or we can start slaying giants.</p>",
	    trimCopy: '',
	    tags: '',
	    videoId:'f06xc3jebq',
	    imageUrl: '//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/series_fuse/1x1slayinggiants_1700_1701_c1.png',
	    imageOpacity: '',
	    imageAlignment: 'left',
	    linkUrl: '#sermons',
	    linkText: 'Watch Sermons'
	} %}{% include "../Lava/side-by-side.html" %}

	<section id="sermons" class="shell bg-gray-darker hard-sides soft-double-bottom rounded shadowed">
		<div class="text-center">
			<h2 class="text-white push-half-bottom">Sermons From This Series</h2>
			<p class="lead text-primary italic"><span class="hidden-xs hidden-sm">Drag</span><span class="hidden-md">Swipe</span> to Discover More</p>
		</div>
		<!-- Slider main container -->
		<div class="swiper-container">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->
				{% for sermon in sermons %}
					<div class="swiper-slide">
						{% set blockData = { 
						    id: sermon.id,
						    backgroundColorHex: '',
						    linkColorHex: '',
						    grayscale: '',
						    count: '',
						    label: 'Week ' + sermon.id,
						    textAlignment: '',
						    titleSize: 'h4',
						    title: sermon.title, 
						    subtitle: sermon.subtitle,
						    copy: sermon.copy,
						    trimCopy: 'y',
						    tags: sermon.tags,
						    imageShape: '',
						    imageUrl: '',
						    imageOpacity: '',
						    linkUrl: '/sermon-entry.html',
						    linkText: 'Watch Sermon'
						} %}{% include "../Lava/card.html" %}
					</div>
				{% endfor %}
			</div>
			<!-- Add Arrows -->
			<div class="hidden-sm hidden-xs">
				<div class="swiper-next"><i class="fas fa-fw fa-2x fa-angle-right"></i></div>
				<div class="swiper-prev"><i class="fas fa-fw fa-2x fa-angle-left"></i></div>
			</div>
			<!-- If we need pagination -->
			<div class="swiper-pagination"></div>
		</div>
	</section>

    {% set blockData = { 
	    id: '5',
	    linkColorHex: '',
	    backgroundColorHex: '',
	    grayscale: '',
	    titleSize:'',
	    title: 'What can we help you find?', 
	    copy: "<p>Are you looking for <a href='#'>NewSpring Store</a>, <a href='#'>KidSpring</a>, or <a href='#'>Fuse</a>?</p>",
	    imageUrl: '',
	    imageOpacity: '',
	    linkUrl: '#',
	    linkText: 'Search',
	    buttonIcon: 'fas fa-search'
	} %}{% include "../Lava/ad-unit.html" %}

{% endblock %}