{% set browserTitle = "Sign In" %}
{% set pageTitle = "" %}
{% set pageBackgroundColorHex = "6bac43" %}

{% extends "FullWidth.html" %}

{% block content %}
    
	<section class="shell bg-white rounded shadowed">
        
		<div class="text-constrained center-block">
			<h1 class="text-center">Hello! Please sign in.</h1>
			<form>
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Email Address</label>
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
						</div>
					</div><div class="col-xs-12 col-md-6">
						<div class="form-group">
							<label for="exampleInputPassword1">Password</label>
							<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
						</div>
					</div>
				</div>
				<p class="text-right xs-text-center">
					<button type="submit" class="btn btn-primary">Sign In</button>
				</p>
			</form>
		</div>

	</section>

{% endblock %}