{% set browserTitle = "Devotionals" %}
{% set pageTitle = "Study" %}
{% set pageBackgroundColorHex = "751e42" %}

{% extends "FullWidth.html" %}

{% set devotionals = [
	{
		"id": "1",
		"title": "God Is Holy",
		"subtitle": "",
		"copy": "<p>In fact, God wants you to be different — and not just in personality and personal likes and dislikes. But to understand how each of us are called to be different, we can first see how God is different.</p>",
		"tags": {
	      "1": "leviticus",
	      "2": "exodus"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "2",
		"title": "God Is Provider",
		"subtitle": "",
		"copy": "<p>Have you ever sat at the dining table and wondered which bill could be late so your lights would not be turned off? What about sitting in your car at the gas pump checking your account to see exactly how much gas you could put in your car? Life happens and sometimes, it happens fast.  But there is one thing we have to keep in mind — God always provides.</p>",
		"tags": {
	      "1": "genesis",
	      "2": "romans"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "3",
		"title": "God Is Peace",
		"subtitle": "",
		"copy": "<p>In Judges 6:11-24 Gideon’s hiding away, head down, working hard. Many of us could say the same about our day to day. How often do we toil away rarely lifting our eyes off our tasks to have an encounter with the Lord?</p>",
		"tags": {
	      "1": "judges",
	      "2": "philippians"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "4",
		"title": "God Is Just",
		"subtitle": "",
		"copy": "<p>We have no shortages of being hurt, failed, and scorned in life. The question to ponder is who do we trust to rescue us in our time of need? Who do we turn to and lean on when we are unsure which direction we are being pulled? Who can we rely on to serve justice when we desperately want to do so ourselves?</p>",
		"tags": {
	      "1": "psalm"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "5",
		"title": "God Is Our Healer",
		"subtitle": "",
		"copy": "<p>The Bible describes God as 'Jehovah-Rophe' (or Jehovah-Rapha) more than 60 times. Jehovah means “God” and Rophe or Rapha means “to restore,” “to heal,” or “to make healthful.”</p>",
		"tags": {
	      "1": "exodus"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "6",
		"title": "God Is Our Banner",
		"subtitle": "",
		"copy": "<p>Sometimes God’s promises to us involve a fight. We have to fight to keep our focus on Him, fight to move towards the promise we know God has laid on our hearts. We have a real enemy that would love nothing more than to get us sidetracked and doubt God’s promises. So we fight saying that we are going to believe God will do what He says He will do, and we keep fighting until we see that promise come to life.</p>",
		"tags": {
	      "1": "exodus",
	      "2": "1 chronicles"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "7",
		"title": "God Is God Almighty",
		"subtitle": "",
		"copy": "<p>As a child, there is no hesitation in asking our parents to provide for our needs and wants. God wants us to come to him in the same way. In Genesis 17:1-8, God calls Himself El Shaddai, which means “God Almighty,” to Abraham.</p>",
		"tags": {
	      "1": "genesis"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "8",
		"title": "God Is Jehovah",
		"subtitle": "",
		"copy": "<p>Have you ever been assigned a task you felt was too big to accomplish? Your initial thought is, “Who am I to carry this out?” Whether it’s in your career, marriage, volunteer role, parenting, or school, we all have moments in which we wonder, “Why me?”</p>",
		"tags": {
	      "1": "exodus"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "9",
		"title": "God Is Holy",
		"subtitle": "",
		"copy": "<p>In fact, God wants you to be different — and not just in personality and personal likes and dislikes. But to understand how each of us are called to be different, we can first see how God is different.</p>",
		"tags": {
	      "1": "leviticus",
	      "2": "exodus"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "10",
		"title": "God Is Provider",
		"subtitle": "",
		"copy": "<p>Have you ever sat at the dining table and wondered which bill could be late so your lights would not be turned off? What about sitting in your car at the gas pump checking your account to see exactly how much gas you could put in your car? Life happens and sometimes, it happens fast.  But there is one thing we have to keep in mind — God always provides.</p>",
		"tags": {
	      "1": "genesis",
	      "2": "romans"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "11",
		"title": "God Is Peace",
		"subtitle": "",
		"copy": "<p>In Judges 6:11-24 Gideon’s hiding away, head down, working hard. Many of us could say the same about our day to day. How often do we toil away rarely lifting our eyes off our tasks to have an encounter with the Lord?</p>",
		"tags": {
	      "1": "judges",
	      "2": "philippians"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "12",
		"title": "God Is Just",
		"subtitle": "",
		"copy": "<p>We have no shortages of being hurt, failed, and scorned in life. The question to ponder is who do we trust to rescue us in our time of need? Who do we turn to and lean on when we are unsure which direction we are being pulled? Who can we rely on to serve justice when we desperately want to do so ourselves?</p>",
		"tags": {
	      "1": "psalm"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "13",
		"title": "God Is Our Healer",
		"subtitle": "",
		"copy": "<p>The Bible describes God as 'Jehovah-Rophe' (or Jehovah-Rapha) more than 60 times. Jehovah means “God” and Rophe or Rapha means “to restore,” “to heal,” or “to make healthful.”</p>",
		"tags": {
	      "1": "exodus"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "14",
		"title": "God Is Our Banner",
		"subtitle": "",
		"copy": "<p>Sometimes God’s promises to us involve a fight. We have to fight to keep our focus on Him, fight to move towards the promise we know God has laid on our hearts. We have a real enemy that would love nothing more than to get us sidetracked and doubt God’s promises. So we fight saying that we are going to believe God will do what He says He will do, and we keep fighting until we see that promise come to life.</p>",
		"tags": {
	      "1": "exodus",
	      "2": "1 chronicles"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "15",
		"title": "God Is God Almighty",
		"subtitle": "",
		"copy": "<p>As a child, there is no hesitation in asking our parents to provide for our needs and wants. God wants us to come to him in the same way. In Genesis 17:1-8, God calls Himself El Shaddai, which means “God Almighty,” to Abraham.</p>",
		"tags": {
	      "1": "genesis"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "16",
		"title": "God Is Holy",
		"subtitle": "",
		"copy": "<p>In fact, God wants you to be different — and not just in personality and personal likes and dislikes. But to understand how each of us are called to be different, we can first see how God is different.</p>",
		"tags": {
	      "1": "leviticus",
	      "2": "exodus"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "17",
		"title": "God Is Provider",
		"subtitle": "",
		"copy": "<p>Have you ever sat at the dining table and wondered which bill could be late so your lights would not be turned off? What about sitting in your car at the gas pump checking your account to see exactly how much gas you could put in your car? Life happens and sometimes, it happens fast.  But there is one thing we have to keep in mind — God always provides.</p>",
		"tags": {
	      "1": "genesis",
	      "2": "romans"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "18",
		"title": "God Is Peace",
		"subtitle": "",
		"copy": "<p>In Judges 6:11-24 Gideon’s hiding away, head down, working hard. Many of us could say the same about our day to day. How often do we toil away rarely lifting our eyes off our tasks to have an encounter with the Lord?</p>",
		"tags": {
	      "1": "judges",
	      "2": "philippians"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "19",
		"title": "God Is Just",
		"subtitle": "",
		"copy": "<p>We have no shortages of being hurt, failed, and scorned in life. The question to ponder is who do we trust to rescue us in our time of need? Who do we turn to and lean on when we are unsure which direction we are being pulled? Who can we rely on to serve justice when we desperately want to do so ourselves?</p>",
		"tags": {
	      "1": "psalm"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "20",
		"title": "God Is Our Healer",
		"subtitle": "",
		"copy": "<p>The Bible describes God as 'Jehovah-Rophe' (or Jehovah-Rapha) more than 60 times. Jehovah means “God” and Rophe or Rapha means “to restore,” “to heal,” or “to make healthful.”</p>",
		"tags": {
	      "1": "exodus"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "21",
		"title": "God Is Our Banner",
		"subtitle": "",
		"copy": "<p>Sometimes God’s promises to us involve a fight. We have to fight to keep our focus on Him, fight to move towards the promise we know God has laid on our hearts. We have a real enemy that would love nothing more than to get us sidetracked and doubt God’s promises. So we fight saying that we are going to believe God will do what He says He will do, and we keep fighting until we see that promise come to life.</p>",
		"tags": {
	      "1": "exodus",
	      "2": "1 chronicles"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "22",
		"title": "God Is God Almighty",
		"subtitle": "",
		"copy": "<p>As a child, there is no hesitation in asking our parents to provide for our needs and wants. God wants us to come to him in the same way. In Genesis 17:1-8, God calls Himself El Shaddai, which means “God Almighty,” to Abraham.</p>",
		"tags": {
	      "1": "genesis"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "23",
		"title": "God Is Jehovah",
		"subtitle": "",
		"copy": "<p>Have you ever been assigned a task you felt was too big to accomplish? Your initial thought is, “Who am I to carry this out?” Whether it’s in your career, marriage, volunteer role, parenting, or school, we all have moments in which we wonder, “Why me?”</p>",
		"tags": {
	      "1": "exodus"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "24",
		"title": "God Is Holy",
		"subtitle": "",
		"copy": "<p>In fact, God wants you to be different — and not just in personality and personal likes and dislikes. But to understand how each of us are called to be different, we can first see how God is different.</p>",
		"tags": {
	      "1": "leviticus",
	      "2": "exodus"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "25",
		"title": "God Is Provider",
		"subtitle": "",
		"copy": "<p>Have you ever sat at the dining table and wondered which bill could be late so your lights would not be turned off? What about sitting in your car at the gas pump checking your account to see exactly how much gas you could put in your car? Life happens and sometimes, it happens fast.  But there is one thing we have to keep in mind — God always provides.</p>",
		"tags": {
	      "1": "genesis",
	      "2": "romans"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "26",
		"title": "God Is Peace",
		"subtitle": "",
		"copy": "<p>In Judges 6:11-24 Gideon’s hiding away, head down, working hard. Many of us could say the same about our day to day. How often do we toil away rarely lifting our eyes off our tasks to have an encounter with the Lord?</p>",
		"tags": {
	      "1": "judges",
	      "2": "philippians"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "27",
		"title": "God Is Just",
		"subtitle": "",
		"copy": "<p>We have no shortages of being hurt, failed, and scorned in life. The question to ponder is who do we trust to rescue us in our time of need? Who do we turn to and lean on when we are unsure which direction we are being pulled? Who can we rely on to serve justice when we desperately want to do so ourselves?</p>",
		"tags": {
	      "1": "psalm"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "28",
		"title": "God Is Our Healer",
		"subtitle": "",
		"copy": "<p>The Bible describes God as 'Jehovah-Rophe' (or Jehovah-Rapha) more than 60 times. Jehovah means “God” and Rophe or Rapha means “to restore,” “to heal,” or “to make healthful.”</p>",
		"tags": {
	      "1": "exodus"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "29",
		"title": "God Is Our Banner",
		"subtitle": "",
		"copy": "<p>Sometimes God’s promises to us involve a fight. We have to fight to keep our focus on Him, fight to move towards the promise we know God has laid on our hearts. We have a real enemy that would love nothing more than to get us sidetracked and doubt God’s promises. So we fight saying that we are going to believe God will do what He says He will do, and we keep fighting until we see that promise come to life.</p>",
		"tags": {
	      "1": "exodus",
	      "2": "1 chronicles"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	},
	{
		"id": "30",
		"title": "God Is God Almighty",
		"subtitle": "",
		"copy": "<p>As a child, there is no hesitation in asking our parents to provide for our needs and wants. God wants us to come to him in the same way. In Genesis 17:1-8, God calls Himself El Shaddai, which means “God Almighty,” to Abraham.</p>",
		"tags": {
	      "1": "genesis"
	    },
	    "imageUrl": "//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png"
	}
] %}

{% block content %}
	
	{% set blockData = { 
	    id: '0',
	    linkColorHex: '',
	    backgroundColorHex: '',
	    grayscale: '',
	    label: "",
	    titleSize:'',
	    title: "What is God like?",
	    subtitle: "A 21-Day Devotional",
	    copy: "<p>What is God like?</p><p>It’s a big question, but an important one. What we understand about God will determine how we relate to Him. The more we know about God, the better our relationship will be.</p>",
	    trimCopy: 'y',
	    tags: '',
	    videoId: '',
	    imageUrl: '//s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike1x1.png',
	    imageOpacity: '',
	    imageAlignment: 'left',
	    linkUrl: '#devotionals',
	    linkText: 'Begin Study'
	} %}{% include "../Lava/side-by-side.html" %}

	<section id="devotionals" class="shell bg-gray-darker hard-sides soft-bottom rounded shadowed">
		<div class="text-center">
			<h2 class="text-white push-half-bottom">From This Study</h2>
			<p class="lead text-primary italic"><span class="hidden-xs hidden-sm">Drag</span><span class="hidden-md">Swipe</span> to Discover More</p>
		</div>

		<!-- Slider main container -->
		<div class="swiper-container">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->
				{% for devotional in devotionals %}
					<div class="swiper-slide">
						{% set blockData = { 
						    id: devotional.id,
						    backgroundColorHex: '',
						    linkColorHex: '',
						    grayscale: '',
						    count: '',
						    label: 'Session ' + devotional.id,
						    textAlignment: '',
						    titleSize: 'h4',
						    title: devotional.title, 
						    subtitle: "",
						    copy: devotional.copy,
						    trimCopy: 'y',
						    tags: devotional.tags,
						    imageShape: '',
						    imageUrl: '',
						    imageOpacity: '',
						    linkUrl: '/article-entry.html',
						    linkText: 'Read Devotional',
						    shares: 'y',
						    likes: 'y'
						} %}{% include "../Lava/card.html" %}
					</div>
				{% endfor %}
			</div>

			<!-- Add Arrows -->
			<div class="hidden-sm hidden-xs">
				<div class="swiper-next"><i class="fas fa-fw fa-2x fa-angle-right"></i></div>
				<div class="swiper-prev"><i class="fas fa-fw fa-2x fa-angle-left"></i></div>
			</div>

			<!-- If we need pagination -->
			<div class="swiper-pagination"></div>

		</div>

	</section>
	

	{% set blockData = { 
	    id: '15',
	    linkColorHex: '',
	    backgroundColorHex: '',
	    grayscale: '',
	    titleSize:'',
	    title: 'Daily Devotionals, Delivered Every Morning', 
	    copy: "<p>Sign up to receive a daily devotional via text message every morning.</p>",
	    imageUrl: '',
	    imageOpacity: '',
	    buttonIcon: '',
	    linkUrl: '#',
	    linkText: 'Sign Up Now'
	} %}{% include "../Lava/ad-unit.html" %}

{% endblock %}