.padding-all-none {
    padding: 0 !important;
  }
  .padding-all-sm {
    padding: ceil($grid-gutter-width * .25) !important;
  }
  .padding-all-md {
    padding: $grid-gutter-width * .5 !important;
  }
  .padding-all-lg {
    padding: $grid-gutter-width * 1 !important;
  }
  .padding-all-xl {
    padding: $grid-gutter-width * 2 !important;
  }
  
  .margin-all-none {
    margin: 0 !important;
  }
  .margin-all-sm {
    margin: ceil($grid-gutter-width * .25) !important;
  }
  .margin-all-md {
    margin: $grid-gutter-width * .5 !important;
  }
  .margin-all-lg {
    margin: $grid-gutter-width * 1 !important;
  }
  .margin-all-xl {
    margin: $grid-gutter-width * 2 !important;
  }
  
  // vertical (top, bottom)
  .padding-v-none {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .padding-v-sm {
    padding-top: ceil($grid-gutter-width * .25) !important;
    padding-bottom: ceil($grid-gutter-width * .25) !important;
  }
  .padding-v-md {
    padding-top: $grid-gutter-width * .5 !important;
    padding-bottom: $grid-gutter-width * .5 !important;
  }
  .padding-v-lg {
    padding-top: $grid-gutter-width * 1 !important;
    padding-bottom: $grid-gutter-width * 1 !important;
  }
  .padding-v-xl {
    padding-top: $grid-gutter-width * 2 !important;
    padding-bottom: $grid-gutter-width * 2 !important;
  }
  
  .margin-v-none {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .margin-v-sm {
    margin-top: ceil($grid-gutter-width * .25) !important;
    margin-bottom: ceil($grid-gutter-width * .25) !important;
  }
  .margin-v-md {
    margin-top: $grid-gutter-width * .5 !important;
    margin-bottom: $grid-gutter-width * .5 !important;
  }
  .margin-v-lg {
    margin-top: $grid-gutter-width * 1 !important;
    margin-bottom: $grid-gutter-width * 1 !important;
  }
  .margin-v-xl {
    margin-top: $grid-gutter-width * 2 !important;
    margin-bottom: $grid-gutter-width * 2 !important;
  }
  
  // horizontal (right, left)
  .padding-h-none {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .padding-h-sm {
    padding-right: ceil($grid-gutter-width * .25) !important;
    padding-left: ceil($grid-gutter-width * .25) !important;
  }
  .padding-h-md {
    padding-right: $grid-gutter-width * .5 !important;
    padding-left: $grid-gutter-width * .5 !important;
  }
  .padding-h-lg {
    padding-right: $grid-gutter-width * 1 !important;
    padding-left: $grid-gutter-width * 1 !important;
  }
  .padding-h-xl {
    padding-right: $grid-gutter-width * 2 !important;
    padding-left: $grid-gutter-width * 2 !important;
  }
  
  .margin-h-none {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .margin-h-sm {
    margin-right: ceil($grid-gutter-width * .25) !important;
    margin-left: ceil($grid-gutter-width * .25) !important;
  }
  .margin-h-md {
    margin-right: $grid-gutter-width * .5 !important;
    margin-left: $grid-gutter-width * .5 !important;
  }
  .margin-h-lg {
    margin-right: $grid-gutter-width * 1 !important;
    margin-left: $grid-gutter-width * 1 !important;
  }
  .margin-h-xl {
    margin-right: $grid-gutter-width * 2 !important;
    margin-left: $grid-gutter-width * 2 !important;
  }
  
  // top
  .padding-t-none {
    padding-top: 0 !important;
  }
  .padding-t-sm {
    padding-top: ceil($grid-gutter-width * .25) !important;
  }
  .padding-t-md {
    padding-top: $grid-gutter-width * .5 !important;
  }
  .padding-t-lg {
    padding-top: $grid-gutter-width * 1 !important;
  }
  .padding-t-xl {
    padding-top: $grid-gutter-width * 2 !important;
  }
  
  .margin-t-none {
    margin-top: 0 !important;
  }
  .margin-t-sm {
    margin-top: ceil($grid-gutter-width * .25) !important;
  }
  .margin-t-md {
    margin-top: $grid-gutter-width * .5 !important;
  }
  .margin-t-lg {
    margin-top: $grid-gutter-width * 1 !important;
  }
  .margin-t-xl {
    margin-top: $grid-gutter-width * 2 !important;
  }
  
  // bottom
  .padding-b-none {
    padding-bottom: 0 !important;
  }
  .padding-b-sm {
    padding-bottom: ceil($grid-gutter-width * .25) !important;
  }
  .padding-b-md {
    padding-bottom: $grid-gutter-width * .5 !important;
  }
  .padding-b-lg {
    padding-bottom: $grid-gutter-width * 1 !important;
  }
  .padding-b-xl {
    padding-bottom: $grid-gutter-width * 2 !important;
  }
  
  .margin-b-none {
    margin-bottom: 0 !important;
  }
  .margin-b-sm {
    margin-bottom: ceil($grid-gutter-width * .25) !important;
  }
  .margin-b-md {
    margin-bottom: $grid-gutter-width * .5 !important;
  }
  .margin-b-lg {
    margin-bottom: $grid-gutter-width * 1 !important;
  }
  .margin-b-xl {
    margin-bottom: $grid-gutter-width * 2 !important;
  }
  
  // right
  .padding-r-none {
    padding-right: 0 !important;
  }
  .padding-r-sm {
    padding-right: ceil($grid-gutter-width * .25) !important;
  }
  .padding-r-md {
    padding-right: $grid-gutter-width * .5 !important;
  }
  .padding-r-lg {
    padding-right: $grid-gutter-width * 1 !important;
  }
  .padding-r-xl {
    padding-right: $grid-gutter-width * 2 !important;
  }
  
  .margin-r-none {
    margin-right: 0 !important;
  }
  .margin-r-sm {
    margin-right: ceil($grid-gutter-width * .25) !important;
  }
  .margin-r-md {
    margin-right: $grid-gutter-width * .5 !important;
  }
  .margin-r-lg {
    margin-right: $grid-gutter-width * 1 !important;
  }
  .margin-r-xl {
    margin-right: $grid-gutter-width * 2 !important;
  }
  
  // left
  .padding-l-none {
    padding-left: 0 !important;
  }
  .padding-l-sm {
    padding-left: ceil($grid-gutter-width * .25) !important;
  }
  .padding-l-md {
    padding-left: $grid-gutter-width * .5 !important;
  }
  .padding-l-lg {
    padding-left: $grid-gutter-width * 1 !important;
  }
  .padding-l-xl {
    padding-left: $grid-gutter-width * 2 !important;
  }
  
  .margin-l-none {
    margin-left: 0 !important;
  }
  .margin-l-sm {
    margin-left: ceil($grid-gutter-width * .25) !important;
  }
  .margin-l-md {
    margin-left: $grid-gutter-width * .5 !important;
  }
  .margin-l-lg {
    margin-left: $grid-gutter-width * 1 !important;
  }
  .margin-l-xl {
    margin-left: $grid-gutter-width * 2 !important;
  }
  
  .mx--panel-body {
    margin-right: calc(15px * -1);
    margin-left: calc(15px * -1);
  }