// Override for _rock-core.less:1175
.btn-danger {
  color: @btn-danger-color;
  background-color: @btn-danger-bg;
  border-color: @btn-danger-border;
}

// Background Colors

.bg-secondary {
  background-color: @brand-secondary;
}
.bg-tertiary {
  background-color: @brand-tertiary;
}
.bg-kraft {
  background-color: @brand-kraft;
}
.bg-gray-darker {
  background-color: @gray-darker;
}
.bg-gray-dark {
  background-color: @gray-dark;
}
.bg-gray {
  background-color: @gray;
}
.bg-gray-light {
  background-color: @gray-light;
}
.bg-gray-lighter {
  background-color: @gray-lighter;
}

// Text Colors

.text-secondary {
  color: @brand-secondary;
}
.text-tertiary {
  color: @brand-tertiary;
}
.text-kraft {
  color: @brand-kraft;
}
.text-gray-darker {
  color: @gray-darker;
}
.text-gray-dark {
  color: @gray-dark;
}
.text-gray {
  color: @gray;
}
.text-gray-light {
  color: @gray-light;
}
.text-gray-lighter {
  color: @gray-lighter;
}
