// Override for _rock-core.less:1175
.btn-danger {
  color: @btn-danger-color;
  background-color: @btn-danger-bg;
  border-color: @btn-danger-border;
}

// Background Colors

.bg-secondary { background-color: @brand-secondary; }
.bg-tertiary { background-color: @brand-tertiary; }
.bg-kraft { background-color: @brand-kraft; }
.bg-gray-darker { background-color: @gray-darker; }
.bg-gray-dark { background-color: @gray-dark; }
.bg-gray { background-color: @gray; }
.bg-gray-light { background-color: @gray-light; }
.bg-gray-lighter { background-color: @gray-lighter; }

// Text Colors

.text-secondary { color: @brand-secondary; }
.text-tertiary { color: @brand-tertiary; }
.text-kraft { color: @brand-kraft; }
.text-gray-darker { color: @gray-darker; }
.text-gray-dark { color: @gray-dark; }
.text-gray { color: @gray; }
.text-gray-light { color: @gray-light; }
.text-gray-lighter { color: @gray-lighter; }

// Fill Colors
.fill-primary { fill: @brand-primary; }
.fill-secondary { fill: @brand-secondary; }
.fill-tertiary { fill: @brand-tertiary; }
.fill-kraft { fill: @brand-kraft; }
.fill-gray-darker { fill: @gray-darker; }
.fill-gray-dark { fill: @gray-dark; }
.fill-gray { fill: @gray; }
.fill-gray-light { fill: @gray-light; }
.fill-gray-lighter { fill: @gray-lighter; }

// Stroke Colors
.stroke-primary { stroke: @brand-primary; }
.stroke-secondary { stroke: @brand-secondary; }
.stroke-tertiary { stroke: @brand-tertiary; }
.stroke-kraft { stroke: @brand-kraft; }
.stroke-gray-darker { stroke: @gray-darker; }
.stroke-gray-dark { stroke: @gray-dark; }
.stroke-gray { stroke: @gray; }
.stroke-gray-light { stroke: @gray-light; }
.stroke-gray-lighter { stroke: @gray-lighter; }