//
// Vertical Alignment
//

// Easily change the vertical alignment of inline, inline-block, inline-table, and table cell elements.

.align-baseline    { vertical-align: baseline !important; } // Browser default
.align-top         { vertical-align: top !important; }
.align-middle      { vertical-align: middle !important; }
.align-bottom      { vertical-align: bottom !important; }
.align-text-top    { vertical-align: text-top !important; }
.align-text-bottom { vertical-align: text-bottom !important; }
