// Also in Bootstrap/type.less

.bg-primary {
  background-color: @brand-primary !important;
}

.bg-success {
  background-color: @brand-success !important;
}

.bg-info {
  background-color: @brand-info !important;
}

.bg-warning {
  background-color: @brand-warning !important;
}

.bg-danger {
  background-color: @brand-danger !important;
}

.bg-critical {
  background-color: @brand-critical !important;
}

// background colors
// .bg-color is legacy
.bg-body,
.bg-color {
  background-color: @body-bg !important;
}
