// primary color
.primary-color {
  color: @btn-primary-color;
  background-color: @btn-primary-bg;
}

// theme color 1
.theme-color-1 {
  color: @theme-1-text;
  background-color: @theme-1;
}

.theme-color-1-bordered {
  color: @theme-1-text;
  background-color: @theme-1;
  border: 1px solid darken(@theme-1, 10%);
}

// theme color 2
.theme-color-2 {
  color: @theme-2-text;
  background-color: @theme-2;
}

.theme-color-2-bordered {
  color: @theme-2-text;
  background-color: @theme-2;
  border: 1px solid darken(@theme-2, 10%);
}

// theme color 3
.theme-color-3 {
  color: @theme-3-text;
  background-color: @theme-3;
}

.theme-color-3-bordered {
  color: @theme-3-text;
  background-color: @theme-3;
  border: 1px solid darken(@theme-3, 10%);
}

// theme color 4
.theme-color-4 {
  color: @theme-4-text;
  background-color: @theme-4;
}

.theme-color-4-bordered {
  color: @theme-4-text;
  background-color: @theme-4;
  border: 1px solid darken(@theme-4, 10%);
}

// theme color 5
.theme-color-5 {
  color: @theme-5-text;
  background-color: @theme-5;
}

.theme-color-5-bordered {
  color: @theme-5-text;
  background-color: @theme-5;
  border: 1px solid darken(@theme-5, 10%);
}

// theme color 6
.theme-color-6 {
  color: @theme-6-text;
  background-color: @theme-6;
}

.theme-color-6-bordered {
  color: @theme-6-text;
  background-color: @theme-6;
  border: 1px solid darken(@theme-6, 10%);
}

// theme color 7
.theme-color-7 {
  color: @theme-7-text;
  background-color: @theme-7;
}

.theme-color-7-bordered {
  color: @theme-7-text;
  background-color: @theme-7;
  border: 1px solid darken(@theme-7, 10%);
}
