.object-contain {
  -o-object-fit: contain !important;
  object-fit: contain !important;
}

.object-cover {
  -o-object-fit: cover !important;
  object-fit: cover !important;
}

.object-fill {
  -o-object-fit: fill !important;
  object-fit: fill !important;
}

.object-none {
  -o-object-fit: none !important;
  object-fit: none !important;
}

.object-scale-down {
  -o-object-fit: scale-down !important;
  object-fit: scale-down !important;
}
