

//
// GLOBAL STYLES
// --------------------------------------------------


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative; // required by full menu overlay
}

img { .img-responsive(); }
// Fix Google Map infowindow close mark being affected by img-responsive
.gm-style img { max-width: none; }

body {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

main {
  margin-bottom: @grid-gutter-width*2;
}
