

//
// HELPERS
// --------------------------------------------------


// useful for javascript links that are missing the `href` attribute
.cursor {
  cursor: pointer;
}

.hide-if-empty:empty {
  display: none!important;
}

.display-b-xs {
  @media (max-width: @screen-xs-max) {
    display: block!important;
  }
}
.display-b-after-xs {
  @media @sm {
    display: block!important;
  }
}

.no-caps {
  text-transform: inherit;
}
