

//
// CUSTOM TYPE STYLES
// --------------------------------------------------


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform: uppercase;
}

.underline {
  border-bottom: 1px solid @gray-lighter;
  padding-bottom: .25em;
}
