
// Vendor Imports
// -------------------------

@import "../../../Styles/Bootstrap/variables.less";
@import "../../../Styles/_rock-core.less";
@import "../../../Styles/_rock-variables.less";


// Custom Imports
// -------------------------

@import "_din-1-4-7";
@ccv-font-path: "../Assets/Fonts/DIN/";

@import "_variables";

@import "_global";
@import "_type";
@import "_print";

@import "_masthead";
@import "_footer";
@import "_slider";

@import "_helpers";

@import "modules/_announcementlist";
@import "modules/_bigblock";
@import "modules/_brandlist";
@import "modules/_campusmodal";
@import "modules/_card";
@import "modules/_gridlist";
@import "modules/_maps";
@import "modules/_social";


// Temp
// -------------------------

.flexbg {
  min-height: 50vh;
  background-size: cover;
  background-position: center center;
}

.fleximg {
  overflow: hidden;
  min-height: 320px;
  max-height: 700px;
  position: relative;

  img {
    position: absolute;
    top: -50%;
    bottom: -50%;
    margin: 50% 0;
  }
}
