

// Vendor Imports
// -------------------------

@import "../../../Styles/Bootstrap/variables.less";
@import "../../../Styles/_rock-core.less";
@import "../../../Styles/_rock-variables.less";

@import "../../../Styles/FontAwesome/animated.less"; // Need this for spin mixin

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

@import (less) "Vendor/magnific-popup.css";


// Custom Imports
// -------------------------

@import "_din";
.din-light();
.din-regular-italic();
.din-regular();
.din-bold();
.din-black();

@import "_variables";
@import "_mixins";

@import "_scaffolding";
@import "_type";
@import "_print";

@import "_masthead";
@import "_footer";

@import "_helpers";

@import "modules/_bigblock";
@import "modules/_brandlist";
@import "modules/_campusmodal";
@import "modules/_gridlist";
@import "modules/_hoverthumb";
@import "modules/_maps";
@import "modules/_panel-card";
@import "modules/_slider";
@import "modules/_social";
@import "modules/_textcol";
@import "modules/_thumbnails";
@import "modules/_video";



// Rock Hacks (should probably be changed in core)
// -------------------------

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: @line-height-computed;
  font-size: (@font-size-base * 1.5);
  line-height: inherit;
  color: @legend-color;
  border: 0;
  border-bottom: 2px solid @legend-border-color;
  font-weight: inherit;
}

.form-group .checkbox:last-child {
  margin-bottom: 0;
}

.form-horizontal .form-group .checkbox label {
  float: none;
  padding-right: 0;
}


// DEV - delete this later
// .theme-1 {
//   padding: 1em;
//   background: @theme-1;
//   color: @theme-1-text;
// }
// .theme-2 {
//   padding: 1em;
//   background: @theme-2;
//   color: @theme-2-text;
// }
// .theme-3 {
//   padding: 1em;
//   background: @theme-3;
//   color: @theme-3-text;
// }
// .theme-4 {
//   padding: 1em;
//   background: @theme-4;
//   color: @theme-4-text;
// }
// .theme-5 {
//   padding: 1em;
//   background: @theme-5;
//   color: @theme-5-text;
// }
// .theme-6 {
//   padding: 1em;
//   background: @theme-6;
//   color: @theme-6-text;
// }
// .theme-7 {
//   padding: 1em;
//   background: @theme-7;
//   color: @theme-7-text;
// }
// .theme-8 {
//   padding: 1em;
//   background: @theme-8;
//   color: @theme-8-text;
// }
