.btn { border-radius: 5px !important;}
.btn-primary { border-radius: 5px !important;}
.btn-large { border-radius: 5px !important;}
.btn-block { border-radius: 5px !important;}
.btn-checkin-select .checkin-sub-title {
    display: block;
    margin: 0;
    color: white;

}