{% if page.display-child-pages == 'true' && page.pages != empty %}
    <ul class="nav navbar-nav">
        
		<li><a href="{{ page.url }}">{{ page.title }}</a></li>

		{% for childPage in page.pages %}
            <li>
				<a href="{{ childPage.url }}">{{ childPage.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}