<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <!-- set the value to specify the full path and file name of the log file. Must be an existing directory. Leave blank to not log.-->
    <add key="DebugLogFilePath" value="c:\scannerlogs"/>
  </appSettings>
</configuration>
