{% if id != null and id != '' %}
<style>
    {% if backgroundcolor != null and backgroundcolor != '' %}
        #{{ id }} {
            color: #fff;
        }

        #{{ id }} {
            background-color: {{ backgroundcolor }};
        }
    
        #{{ id }} blockquote, blockquote footer, blockquote small, blockquote .small {
            color: #fff;
        }
    {% endif %}

    {% if foregroundcolor != null and foregroundcolor != '' %}
        #{{ id }} a:not(.btn):not(.label) {
            color: {{ foregroundcolor }};
        }

        #{{ id }} .btn {
            background-color: {{ foregroundcolor }};
            border-color: {{ foregroundcolor }};
        }
    {% endif %}
</style>
{% endif %}

{% if linkurl != empty or linkedpageid != empty %}
    {% capture url %}
        {% if linkedpageroute != empty and linkedpageroute != '' and linkedpageroute != null %}
            /{{ linkedpageroute }}
        {% elseif linkedpageid != empty and linkedpageid != '' and linkedpageid != null %}
            /page/{{ linkedpageid }}
        {% else %}
            {{ linkurl }}
        {% endif %}
    {% endcapture %}
{% endif %}

{% assign url = url | Trim %}

<section {% if id != null and id != '' %}id="{{ id }}"{% endif %} class="shell bg-white position-relative overflow-hidden flush-sides soft-double-top xs-soft-half-sides xs-soft-top xs-hard-bottom xs-push-half-bottom rounded shadowed {% if backgroundcolor != '' %}text-white{% endif %}" {% if backgroundcolor != '' %}style="background-color:{{ backgroundcolor }}"{% endif %}>
	
	{% if imageurl != null and imageurl != '' %}
    	<span class="full-screen background-cover background-center {% if grayscale == 'Yes' %}grayscale{% endif %}" style="background-image: url('{{ imageurl }}'); {% if imageopacity != null and imageopacity != '' %}opacity: {{ imageopacity }};{% endif %}"></span>
    {% endif %}
    <div class="bring-forward {% if textalignment == 'Right' %}pull-right{% elseif textalignment == 'Left' %}{% else %}center-block text-center{% endif %} xs-text-center text-constrained soft hard-bottom clearfix xs-soft-top xs-soft-half-sides xs-soft-bottom">
		
        {% if label != null and label != '' %}
            <p><small class="label label-default circular sans-serif letter-spacing-condensed">{{ label }}</small></p>
        {% endif %}

        {% if title != null and title != '' %}
            <h2 class="{% if titlesize != null and titlesize != '' %}{{ titlesize }}{% endif %} push-half-bottom">{{ title }}</h2>
        {% endif %}

        {% if subtitle != null and subtitle != '' %}
            <p class="sans-serif stronger text-uppercase letter-spacing-condensed text-gray-light push-half-bottom"><small>{{ subtitle }}</small></p>
        {% endif %}

        {% if content != null and content != '' %}
            <div>
                {% if trimcopy == 'Yes' %}
                    {% assign length = content | Size %}
                    {{ content | Truncate:200,'...' }}{% if length > 200 %} <a href="#" data-toggle="modal" data-target="#{{ id }}-modal">Read More</a>{% endif %}
                {% else %}
                    {{ content }}
                {% endif %}
            </div>
        {% endif %}

		{% if url != empty %}
            <p>
                <a href="{{ url }}" class="btn btn-primary" role="button" data-scroll>{% if linktext != null and linktext != '' %}{{ linktext }}{% else %}Learn More{% endif %}</a>
            </p>
        {% endif %}

        {% if lava != null and lava != '' %}
            {{ lava }}
        {% endif %}

    </div>
</section>

{% if trimcopy == 'Yes' %}
    {% if length > 200 %}
    <div class="modal fade" id="{{ id }}-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="text-gray-darker pull-right" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-lg fa-times"></i>
                    </a>
                    {% if title != null and title != '' %}
                        <h3 class="flush">{{ title }}</h3>
                    {% endif %}
                </div>
                <div class="modal-body soft hard-bottom">
                    {{ content }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endif %}