{% if linkurl != empty or linkedpageid != empty %}
    {% capture url %}
        {% if linkedpageroute != empty and linkedpageroute != '' and linkedpageroute != null %}
            /{{ linkedpageroute }}
        {% elseif linkedpageid != empty and linkedpageid != '' and linkedpageid != null %}
            /page/{{ linkedpageid }}
        {% else %}
            {{ linkurl }}
        {% endif %}
    {% endcapture %}
{% endif %}

{% assign url = url | Trim %}

<div {% if id != null and id != '' %}id="{{ id }}"{% endif %} class="panel panel-default {% if alignment != null and alignment != '' %}text-{{ alignment }}{% endif %} rounded">
        {% if CurrentPerson | HasRightsTo:'Edit' and id and id != empty %}
            <a href="/page/342?contentItemId={{ id }}" class="position-absolute top-zero right-zero push-half-top push-right btn btn-sm btn-info shadowed bring-forward">Edit This</a>
    {% endif %}
    {% if imageurl != null and imageurl != '' %}
        {% if url != empty %}<a href="{{ url }}" class="panel-image">{% else %}<div class="panel-image">{% endif %}
            {% if count != null and count != '' %}
                <span class="card-count sans-serif strong rounded bg-gray-lighter text-gray-darker text-center">{{ count }}</span>
            {% endif %}

            <div class="position-relative ratio-landscape">
                <div class="full-screen background-center background-cover {% if grayscale == 'y' %}grayscale{% endif %}" style="background-image:url('{{ imageurl }}'); {% if imageopacity %}opacity: {{ imageopacity }};{% endif %} {% if imageblur and imageblur != 0 %}filter: blur({{ imageblur | Times:2 }}px); top: -50px; right: -50px; bottom: -50px; left: -50px;{% endif %} {% if imageflip == 'Yes' %}transform:scaleX(-1);{% endif %}"></div>
            </div>

            {% if type != null and type != '' %}
                <div class="label bg-gray-light text-white position-absolute bottom-zero left-zero push-left bring-forward sans-serif stronger circular" style="border: 3px solid #fff;"><small>{{ type }}</small></div>
            {% endif %}
    
        {% if url != empty %}</a>{% else %}</div>{% endif %}
    {% endif %}

    <div class="panel-body hard-bottom xs-soft xs-hard-bottom bg-white">

        {% if label != null and label != '' %}
            <p class="push-half-bottom"><small class="label bg-gray-light sans-serif circular">{{ label }}</small></p>
        {% endif %}
        
        {% if title != null and title != '' %}
        <h2 class="{% if titlesize != null and titlesize != '' %}{{ titlesize }}{% endif %} push-half-bottom">
            {% if url != empty %}<a href="{{ url }}">{% endif %}
                {{ title }}
            {% if url != empty %}</a>{% endif %}
        </h2>
        {% endif %}

        {% if collectiontext != null and collectiontext != '' %}
            <small class="display-inline-block sans-serif stronger letter-spacing-condensed push-half-bottom">From {% if collectionurl != empty %}<a href="{{ collectionurl }}">{% endif %}{{ collectiontext }}{% if collectionurl != empty %}</a>{% endif %}</small>
        {% endif %}

        {% if subtitle != null and subtitle != '' %}
            <p class="sans-serif stronger letter-spacing-condensed text-uppercase text-gray-light push-half-bottom"><small>{{ subtitle }}</small></p>
        {% endif %}

        {[ tags guid:'{{ guid }}' ]}

        {% if content != null and content != '' %}
            {% if trimcopy != null and trimcopy != '' %}
                {% assign length = content | Size %}
                {{ content | Truncate:140,'...' }}{% if length > 140 %} <a href="#" data-toggle="modal" data-target="#modal-{{ id }}">read more</a>{% endif %}
            {% else %}
                {{ content }}
            {% endif %}
        {% endif %}

        {% if lava != empty %}
            {{ lava }}
        {% endif %}

        {% if url != empty %}
            <p>
                <a href="{{ url }}" class="btn btn-sm btn-primary" role="button" data-scroll>{% if linktext != null and linktext != '' %}{{ linktext }}{% else %}Learn More{% endif %}</a>
            </p>
        {% endif %}

    </div>
</div>

{% if trimcopy != null and trimcopy != '' %}
    {% if length > 140 %}
    <div class="modal fade" id="modal-{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="text-gray-darker pull-right" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-lg fa-times"></i>
                    </a>
                    {% if title != null and title != '' %}
                        <h3 class="flush">{{ title }}</h3>
                    {% endif %}
                </div>
                <div class="modal-body soft hard-bottom">
                    {{ content }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endif %}