{% capture type %}{% assign typeParts = Item.ContentChannel.Name | Split:' - ' %}{{ typeParts[1] }}{% endcapture %}
{% assign subtitle = Item | Attribute:'Subtitle' %}
{% assign video = Item | Attribute:'Video','RawValue' %}
{% assign date = Item.StartDateTime | Date:'MMMM d, yyyy' %}
{% assign image = Item | Attribute:'ImageLandscape','Url' %}

<div class="md-text-constrained md-mx-auto panel">
    {% if CurrentPerson | HasRightsTo:'Edit' %}
        <div class="panel-header bg-white soft-half" style="border-bottom: 1px solid #ddd;">
            <p class="flush"><a href="/page/342?contentItemId={{ Item.Id }}" class="btn btn-xs btn-info">Edit This</a></p>
        </div>
    {% endif %}

    <div class="panel-body xs-soft-half">
        
        <h1 class="h2 xs-h3 push-half-top">{{ Item.Title }}</h1>
        
        {% if subtitle != empty %}
            <p class="lead text-gray-light"><i>{{ subtitle }}</i></p>
        {% endif %}
        
        {[ communicators guid:'{{ Item | Attribute:'Communicators','RawValue' }}' ]}
        
        {% if image %}
            <div class="ratio-landscape background-cover push-bottom" style="background-image:url('{{ image }}'); margin-left: -30px; margin-right: -30px;"></div>
        {% endif %}
        
        {% if video != empty %}
            <p class="text-center">
                <span class="wistia_embed wistia_async_{{ video }} popover=true popoverContent=link clickable text-center" style="display:inline; position:relative">
                    <a href="#" class="btn btn-primary">Watch Video <i class="fas fa-xs fa-play"></i></a>
                </span>
            </p>
        
            <script src="https://fast.wistia.com/embed/medias/{{ video }}.jsonp" async></script>
            <script src="https://fast.wistia.com/assets/external/E-v1.js" async=""></script>

        {% endif %}

        {{ Item.Content }}
        
        <div class="push-bottom">
            <div class="row row-condensed">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <a href="#" data-toggle="modal" data-target="#share-modal" class="btn btn-block btn-default text-gray-dark text-decoration-none xs-push-half-bottom" data-share="">Share <i class="fas fa-fw fa-share flush"></i></a>
                </div><div class="col-md-6 col-sm-6 col-xs-12 sm-push-half-bottom xs-push-half-bottom hidden">
                    <a href="#" class="btn btn-block btn-default text-gray-dark text-decoration-none" data-like=""><i class="far fa-fw fa-heart flush"></i> 8</a>
                </div>
            </div>
        </div>
        
        {% assign shareurl = 'Global' | Page:'Url' | CreateShortLink:'', 18, false, 7 %}
        {% assign shareimageurl = image %}
        {% assign shareauthor = 'newspring' %}
        {% assign sharetitle = Item.Title %}
        {%- capture sharesummary -%}
            {% if Item.Summary != '' %}
                {{ Item.Summary | StripHtml }}
            {% else %}
                {{ Item.Content | StripHtml | Truncate:140,'...' }}
            {% endif %}
        {%- endcapture -%}
        {% assign sharehashtag = '' %}
        
        {[ modalShare ]}

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 xs-text-center">
                {[ tags guid:'{{ Item.Guid }}']}
            </div><div class="col-md-6 col-sm-6 col-xs-12 text-right xs-text-center">
                <p class="tag-list"><small><b>{{ date }}</b></small></p>
            </div>
        </div>
    </div>
</div>

<div class="md-text-constrained md-mx-auto soft-top xs-soft-half-top hidden">
    
    <section class="shell bg-white soft hard-bottom clearfix rounded shadowed flush-sides">
    
        {% if CurrentPerson | HasRightsTo:'Edit' %}

            <p><a href="/page/342?contentItemId={{ Item.Id }}" class="text-info">Edit This</a></p>

        {% endif %}
        
        <h1 class="h2 xs-h3">{{ Item.Title }}</h1>
        
        {% if subtitle != empty %}
            <p class="lead text-gray-light"><i>{{ subtitle }}</i></p>
        {% endif %}
        
        {[ communicators guid:'{{ Item | Attribute:'Communicators','RawValue' }}' ]}
        
        {% if image %}
            <div class="ratio-landscape background-cover push-bottom" style="background-image:url('{{ image }}'); margin-left: -30px; margin-right: -30px;"></div>
        {% endif %}
        
        {% if video != empty %}
            <p class="text-center">
                <span class="wistia_embed wistia_async_{{ video }} popover=true popoverContent=link clickable text-center" style="display:inline; position:relative">
                    <a href="#" class="btn btn-primary">Watch Video <i class="fas fa-xs fa-play"></i></a>
                </span>
            </p>
        
            <script src="https://fast.wistia.com/embed/medias/{{ video }}.jsonp" async></script>
            <script src="https://fast.wistia.com/assets/external/E-v1.js" async=""></script>

        {% endif %}

        {{ Item.Content }}
        
        <div class="push-bottom">
            <div class="row row-condensed">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <a href="#" data-toggle="modal" data-target="#share-modal" class="btn btn-block btn-default text-gray-dark text-decoration-none xs-push-half-bottom" data-share="">Share <i class="fas fa-fw fa-share flush"></i></a>
                </div><div class="col-md-6 col-sm-6 col-xs-12 sm-push-half-bottom xs-push-half-bottom hidden">
                    <a href="#" class="btn btn-block btn-default text-gray-dark text-decoration-none" data-like=""><i class="far fa-fw fa-heart flush"></i> 8</a>
                </div>
            </div>
        </div>
        
        {% assign shareurl = 'Global' | Page:'Url' | CreateShortLink:'', 18, false, 7 %}
        {% assign shareimageurl = image %}
        {% assign shareauthor = 'newspring' %}
        {% assign sharetitle = Item.Title %}
        {%- capture sharesummary -%}
            {% if Item.Summary != '' %}
                {{ Item.Summary | StripHtml }}
            {% else %}
                {{ Item.Content | StripHtml | Truncate:140,'...' }}
            {% endif %}
        {%- endcapture -%}
        {% assign sharehashtag = '' %}
        
        {[ modalShare ]}

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 xs-text-center">
                {[ tags guid:'{{ Item.Guid }}']}
            </div><div class="col-md-6 col-sm-6 col-xs-12 text-right xs-text-center">
                <p class="tag-list"><small><b>{{ date }}</b></small></p>
            </div>
        </div>

    </section>
</div>



{[ relatedItemsSwiper guid:'{{ Item.Guid }}' ]}



{% capture id %}subscribe{% endcapture %}
{% capture title %}Subscribe{% endcapture %}
{% capture titlesize %}h2{% endcapture %}
{% capture subtitle %}{% endcapture %}
{% capture content %}<p>Subscribe to our content feeds to be notified when new content is published.</p>{% endcapture %}
{% capture linkurl %}/workflows/266{% endcapture %}
{% capture linktext %}Subscribe Now{% endcapture %}
{% capture imageurl %}{% endcapture %}
{% capture backgroundcolor %}{% endcapture %}

{[ adUnit ]}