{% if linkurl != empty or linkedpageid != empty %}
    {% capture url %}
        {% if linkedpageroute != empty and linkedpageroute != '' and linkedpageroute != null %}
            /{{ linkedpageroute }}
        {% elseif linkedpageid != empty and linkedpageid != '' and linkedpageid != null %}
            /page/{{ linkedpageid }}
        {% else %}
            {{ linkurl }}
        {% endif %}
    {% endcapture %}
{% endif %}

{% assign url = url | Trim %}

{% if url != empty %}<a href="{{ url }}">{% endif %}
	<div class="position-relative ratio-{% if ratio != empty %}{{ ratio }}{% else %}square{% endif %}" style="{% if backgroundcolor %}background-color: {{ backgroundcolor }};{% endif %}">
		<div class="position-absolute top-zero right-zero bottom-zero left-zero background-center background-cover {% if grayscale == 'Yes' %}grayscale{% endif %}" style="background-image:url('{{ imageurl }}'); {% if imageopacity %}opacity: {{ imageopacity }};{% endif %}">

		</div>
	</div>
{% if url != empty %}</a>{% endif %}