{% if linkurl != empty or linkedpageid != empty %}
    {% capture url %}
        {% if linkedpageroute != empty and linkedpageroute != '' and linkedpageroute != null %}
            /{{ linkedpageroute }}
        {% elseif linkedpageid != empty and linkedpageid != '' and linkedpageid != null %}
            /page/{{ linkedpageid }}
        {% else %}
            {{ linkurl }}
        {% endif %}
    {% endcapture %}
{% endif %}

{% assign url = url | Trim %}

{% if url != empty %}<a href="{{ url }}">{% endif %}
	<div class="ratio-{% if ratio != empty %}{{ ratio }}{% else %}square{% endif %} background-cover background-center" style="background-image:url('{{ imageurl }}');">
		
	</div>
{% if url != empty %}</a>{% endif %}