<div id="navigation-secondary-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body soft hard-bottom">
        <i class="fa fa-times close" data-dismiss="modal" aria-hidden="true"></i>

        {% if navPages.title %}
          <h1 class="h2">{{ navPages.title}}</h1>
        {% endif %}
        
        <hr class="flush-top push-bottom">
        <ul class="list-style-none hard">
          {% for title, url in navPages.pages %}
                <li><h3 class="text-primary push-half-bottom"><a href="{{ url }}" data-scroll><i class="fal fa-fw fa-map-marker-alt display-none"></i>{{ title }}</a></h3></li>
          {% endfor %}
        </ul>

      </div>
      <div class="modal-footer hidden">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-sm btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->