{% assign title = CurrentPage.PageTitle %}
{% assign titlelinkurl = CurrentPage.Id %}
<!-- Mobile Secondary Nav -->
<section class="bg-gray-darker hard flush shadowed">
    <div class="soft-sides soft-half-ends xs-soft-half-sides text-right">

        {% if title != null and title != '' %}
            {% if titlelinkurl != null and titlelinkurl != "" %}<a href='/page/{{ titlelinkurl }}'>{% endif %}
                <h2 class="h4 text-white flush pull-left" style="position: relative; top: 5px;">{{ title }}</h2>
            {% if titlelinkurl != null and titlelinkurl != "" %}</a>{% endif %}
        {% endif %}
        
        <a href="#" data-toggle="modal" data-target="#navigation-secondary-modal" title="Sub Navigation" class="btn btn-sm btn-primary hidden-md hidden-lg">
            More
        </a>

        <ul class="list-inline flush hidden-xs hidden-sm">
            {%- for includedPage in IncludePageList -%}
                {% assign key = includedPage | Property:'Key' %}
                <li><a href="{{ includedPage | Property:'Value' }}" class="{%- if key == title -%}text-white{% endif %} btn btn-sm btn-link text-hover-white" data-scroll>{{ key }}</a></li>
            {%- endfor -%}

            {%- for childPage in Page.Pages -%}
                <li><a href="{{ childPage.Url }}" class="{%- if childPage.Title == title -%}text-white{% endif %} btn btn-sm btn-link text-hover-white" data-scroll>{{ childPage.Title }}</a></li>
            {%- endfor -%}
        </ul>
    </div>

    <div id="25" class="bg-white panel-collapse collapse hidden-md hidden-lg hidden" role="tabpanel" aria-labelledby="heading-25">
        <div class="panel-body soft hard-bottom clearfix">
            <ul class="list-style-none hard">
                {%- for includedPage in IncludePageList -%}
                <li><a href="{{ includedPage | Property:'Value' }}" class="{%- if childPage.Title == title -%}text-white{% endif %} text-decoration-none" data-scroll><h3 class="h5 push-half-bottom">{{ includedPage | Property:'Key' }}</h3></a></li>
                {%- endfor -%}

                {%- for childPage in Page.Pages -%}
                    <li><a href="{{ childPage.Url }}" class="{%- if childPage.Title == title -%}text-white{% endif %} text-decoration-none" data-scroll><h3 class="h5 push-half-bottom">{{ childPage.Title }}</h3></a></li>
                {%- endfor -%}
            </ul>
        </div>
    </div>
</section>