<section class="shell bg-gray-darker text-white soft xs-soft-half flush xs-text-center shadowed">

    {% if preTitle != '' %}
        <p class="hidden sans-serif stronger letter-spacing-condensed push-half-bottom xs-push-bottom">{{ blockData.preTitle | safe }}</p>
    {% endif %}

    <h1 class="h4 xs-h6 flush">{{ title }}</h1>

    {% if subtitle != '' %}
        <p class="hidden sans-serif stronger letter-spacing-condensed push-half-top flush-bottom {% if pageHeaderColorHex %}{% else %}text-gray-dark{% endif %}"><small>{{ blockData.subtitle | safe }}</small></p>
    {% endif %}
    
    {% if tagCount > 0 %}
        <p class="hidden tag-list sans-serif push-half-bottom">
            <small>{% for id, title in blockData.tags %}
                <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> {{ title }}</a>
            {% endfor %}</small>
        </p>
    {% endif %}
    
    {% if copy != '' %}
        <div class="hidden text-constrained">
            {{ blockData.copy | safe }}
        </div>
    {% endif %}
        
</section>