{#

{% set blockData = { 
    id: '',
    title: '',
    personObject: '',
    sliderItemWidth: ''
} %}{% include "person-slider.html" %}

#}

{% set personObjectSize = blockData.personObject | length %}

<section class="shell bg-gray-lighter rounded shadowed xs-hard-sides">
	<div class="text-center">
		{% if blockData.title %}
			<h2 class=" push-half-bottom">{{ blockData.title }}</h2>
		{% endif %}

		<p class="lead italic text-primary {% if personObjectSize <= 4 %}hidden-md hidden-lg{% endif %}">Swipe to Discover More</p>
	</div>
	<div class="slider-wrapper" data-slider="{{ blockData.sliderItemWidth }}">
        <div class="slider">
			{% for person in blockData.personObject %}<div class="slider-item">
				{% set blockData = { 
				    id: person.id,
				    backgroundColorHex: '',
				    linkColorHex: '',
				    grayscale: '',
				    count: '',
				    label: '',
				    textAlignment: 'center',
				    titleSize: 'h4',
				    title: person.firstName + ' ' + person.lastName, 
				    subtitle: person.title,
				    copy: '',
				    trimCopy: 'y',
				    tags: '',
				    imageShape: 'circle',
				    imageUrl: person.imageUrl,
				    imageOpacity: '',
				    linkUrl: 'mailto:' + person.email,
				    linkText: 'Contact ' + person.firstName
				} %}{% include "card.html" %}
			</div>{% endfor %}
		</div>
	</div>
</section>