:root {
    --brand-color: #00a1dd;
    --text-color: #ddd;
    --link-color: #007acc;
    --body-background: #1e1f22;
    --brand-success: #16c98d;
    --brand-warning: #ffc870;
    --brand-danger: #d4442e;
    --brand-info: #009ce3;
    --brand-critical: #ee7624;
    --border-radius-base: 0;
    --modal-header-background: #000;
    --modal-footer-background: #f0f3f6;
    --modal-backdrop-background: rgba(240,243,246,0.5);
    --navbarside-background-color: #3d3d3d;
    --navbarside-color: #f3f3f3;
    --navbarside-sub-bg: #484848;
    --navbartop-color: #fff;
    --pagetitle-background: #2B2C2F;
    --panel-bg: #2b2c2f;
    --panel-heading-bg: #2B2C2F;
    --focus-state-border: 1px solid #00a1dd;
    --focus-state-shadow: 0 0 0 3px rgba(0,161,221,0.6);
    --slider-height: 10px;
    --slider-bg: #eee;
    --slider-progress-bg: #00a1dd;
    --slider-handle-height: 27px;
    --slider-handle-bg: #fff;
    --slider-handle-bg--hover: #fff;
    --slider-handle-border-color: #aaa;
    --slider-handle-border-color--hover: #aaa;
    --wizard-item-bar-color: #e6e6e6;
    --wizard-item-icon-color: #fff;
    --wizard-item-icon-bg: #fff;
    --state-danger-bg: #fcf2f1;
    --state-danger-border: #d4442e;
    --state-danger-text: #e55235;
}

.panel-block>.panel-heading {
    color: #DDDDDD;
    background-color: #2B2C2F;
    border-color: #f3f3f3;
}

.panel-widget>.panel-heading {
    background-color: #2b2c2f;
    color: #dddddd;
}

.panel {
    background-color: #2b2c2f;
}

.panel-group .panel-workflowitem>.panel-heading {
    background-color: #2b2c2f;
}

.panel-group .panel-workflowitem:hover {
    background-color: #2b2c2f;
}

.panel .panel-title i {
    color: #dddddd;
}

.metric .icon {
    color: #fff;
    opacity: .5;
}

/* Sidebar */
.navbar-static-side .navbar-side>li .nav-childpages li.title {
    color: #00a1dd;
}

/* Breadcrumbs */
.breadcrumb>.active {
    color: #d3d3d3;
}

/* Modal */
.modal-content.rock-modal, .rock-modal .modal-content {
    background-color: #2b2c2f;
}

.modal-content.rock-modal .modal-footer, .rock-modal .modal-content .modal-footer {
    background-color: #2b2c2f;
}

.modal-footer {
    border-top: 1px solid #dddddd;
}

/* Tables */
.table-striped>tbody>tr:nth-of-type(even) {
    color: #ddd;
    background-color: #2b2c2f;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    color: #ddd;
    background-color: #222222;
}

.table>thead>tr>th {
    color: #dddddd;
}

.table>thead>tr>th>a:not(.btn) {
    color: #dddddd;
}

.table.table-hover>tbody>tr:hover>td {
    color: #ededed;
    background-color: #383636;
}

.panel-block>.panel-heading .panel-title i {
    color: #dddddd;
}

/* Grid */
.grid-actions {
    background-color: #2b2c2f;
}

.grid .table>tfoot>tr>td, .grid .table>tfoot>tr>th {
    background: #2b2c2f;
}

.grid-filter {
    color: #dddddd;
}

.list-as-blocks ul li a {
    color: #ddd;
    background-color: #2b2c2f;
}

/* Buttons */
.btn-default {
    background-color: #2b2c2f;
    color: #dddddd;
}

.btn-default:hover {
    color: #ededed;
    background-color: #383636;
}

/* Dropdown Picker */
.dropdown-menu {
    background-color: #2b2c2f;
    color: #dddddd;
}

.picker .picker-label {
    color: #dddddd;
}

/* Directory Grid */
.directory-grid>div.row:nth-child(odd) {
    color: #ddd;
    background-color: #222222;
}

/* Event Registration */ 
.wizard {
    background-color: #2b2c2f;
}

/* Person Profile */
.personprofilebar-bio {
    background-color: #2b2c2f;
}

.badge-icon.badge-disabled {
    opacity: 0.5;
}

.personprofilebar-family {
    background-color: #2b2c2f;
}

.persondetails-group header {
    background-color: #2b2c2f;
}

.panel-note>.panel-heading {
    color: #dddddd;
    background-color: #2b2c2f;
}

.nav-tabs>li>a {
    color: #dddddd;
}

.nav-tabs>li.active>a {
    color: #dddddd;
}

.panel-persondetails>.panel-heading {
    background-color: #2b2c2f;
    color: #dddddd;
}

.panel-persondetails .panel-body {
    background-color: #2b2c2f;
}

span.field-name {
    background-color: #2b2c2f;
}

span.field-value {
    background-color: #2b2c2f;
}

.panel .panel-body {
    background-color: #2b2c2f;
}

.persondetails-group .groupmembers .member:hover {
    background-color: #383636;
}

/* Profile Dropdown (top right) */
.dropdown-menu>li>a {
    color: #dddddd;
}

/* Attendance Analytis */
.panel-analytics .filter-options {
    background-color: #2b2c2f;
}

.panel-analytics .analysis-types {
    background-color: #2b2c2f;
}

.alert-default {
    background-color: #3f4043;
    border-color: #dddddd;
}

.checkin-item-selected {
    background-color: #484848;
}

/* Logo */
.rock-top-header .navbar-brand-corner .logo {
    width: 57px;
    height: 57px;
    margin: 5px;
}