/* FontAwesome Start */
@fa-theme-weight: 900;
@fa-theme-weight-name: 'solid';
@fa-edition: 'pro';

@import "../../../Styles/FontAwesome/_rock-fa-mixins.less";
/* FontAwesome End */
@theme-1: #00b8e4;
@font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
