

//
// EASTER: 2016;
// --------------------------------------------------


// Imports
// -------------------------
@import "../../../../../Styles/Bootstrap/variables.less";
@import "../../../../../Styles/Bootstrap/mixins.less";
@import "../../../../../Styles/_rock-variables.less";

@import "../../_variables";
@import "../../_mixins";


// Custom
// -------------------------

.easter-header {
  min-height: 50vh;
  display: flex;
  align-items: center;
}
.address {
  display: flex;
  justify-content: center;
}
  .address > .fa {
    padding: .125em .25em;
  }
footer {
  min-height: 50vh;
}
