

//
// ANNOUNCEMENT LIST (like promos beneath homepage slider)
// --------------------------------------------------


.announcement-list {
  padding-top: @grid-gutter-width;
}
  .announcement-list .announcement {
    margin-bottom: @grid-gutter-width;
    img { border-radius: @border-radius-large; }
  }

.announcement-list-gray {
  background: #e9e9e9;
}
