

//
// BIG BLOCK
// --------------------------------------------------


.bigblock {
  padding-top: @grid-gutter-width;
  padding-bottom: @grid-gutter-width;
  margin-bottom: @grid-gutter-width;
}


//  Modifiers
// -------------------------

// Colors

.bigblock-graylighter {
  background-color: @gray-lighter;

  .page-header {
    border-color: darken(@gray-lighter, 10%);
  }
  .nav-pills {
    > li:not(.active) > a:hover,
    > li:not(.active) > a:focus {
      background: darken(@gray-lighter, 10%)
    }
  }
}

.bigblock-graydark {
  background-color: @gray-dark;
  &:extend(.bigblock-inverse all);
}

.bigblock-graydarker {
  background-color: @gray-darker;
  &:extend(.bigblock-inverse all);
}
  .bigblock-graydarker .page-header {
    border-color: @gray-dark;
  }

.bigblock-red {
  background-color: @brand-primary;
  &:extend(.bigblock-inverse all);
}

.bigblock-orange {
  background-color: @kids-orange;
  &:extend(.bigblock-inverse all);
}


.bigblock-inverse {
  color: #fff;
  .text-aa();
  .lead {
    font-weight: 400;
  }
}


// Sizing & Position

.bigblock-stacking {
  margin-bottom: 0;
}


// Other

.bigblock-flexbg {
  background-size: cover;
  background-position: center center;
}
  .bigblock-flexbg-md {
    min-height: 215px;
    @media @sm { min-height: 320px; }
    @media @md { min-height: 400px; }
    @media @lg { min-height: 460px; }
    @media @xl { min-height: 520px;}
  }
