

//
// BIG BLOCK
// --------------------------------------------------


.bigblock {
  padding-top: @grid-gutter-width;
  padding-bottom: @grid-gutter-width;
  margin-bottom: @grid-gutter-width;
}

.bigblock-graydarker {
  background-color: @gray-darker;
  color: #fff;
}
  .bigblock-graydarker .page-header {
    border-color: @gray-dark;
  }

.bigblock-graylighter {
  background-color: @gray-lighter;
}

.bigblock-red {
  background-color: @brand-primary;
  color: #fff;
}

.bigblock-flexbg {
  background-size: cover;
  background-position: center center;
}
  .bigblock-flexbg-md {
    min-height: 215px;
    @media @sm { min-height: 320px; }
    @media @md { min-height: 400px; }
    @media @lg { min-height: 460px; }
    @media @xl { min-height: 520px;}
  }
