

//
// SOCIAL ICONS
// --------------------------------------------------


.social {
  a { text-decoration: none; }
}
  .social-fade {
    a { opacity: .5; .transition(.3s); }
    a:hover { opacity: 1; }
  }
  .social-dark {}
  .social-dark .fa-inverse {
    color: @gray-dark;
  }
  .social-icon-md {
    font-size: 1.5em;
  }
