

// This file is being imported by core.scss

.ti,
.fa,
.fas,
.far,
.fal,
.fad,
.fab {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  text-transform: none;
  line-height: 1; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  

