//
// Rock 1.0 Variables
// --------------------------------------------------

// orange
// @main-color: #ea5800;

// blue
@main-color: #00afea;

// red
// @main-color: #d12f32;

// green
// @main-color: #47b356;


// Standard Colors
@accent-color: lighten(@accent-bold-color, 40%);
@accent-text-color: @accent-semibold-color;
@accent-light-color: @gray-lighter;
@accent-light-text-color: darken(@gray-lighter, 50%);
@accent-semibold-color: darken(@accent-bold-color, 15%);
@accent-semibold-text-color: #fff;
@accent-bold-color: @main-color; // overrides brand color
@accent-bold-text-color: #fff;


// Bootstrap Overrides 
// -------------------------

@brand-primary:         @accent-bold-color;

@brand-info:         	@accent-semibold-color;

@font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@headings-font-family:    "Montserrat", sans-serif;

@btn-default-bg:                 #fff;

@navbar-margin-bottom:             0;

@navbar-inverse-color:                      @gray-light;
@navbar-inverse-bg:                         @accent-bold-color;

@navbar-inverse-link-color:                 @accent-bold-text-color;
@navbar-inverse-link-hover-color:           @accent-color;

@pagination-active-bg:                 @brand-primary;