
// Load Master Styles
// -------------------------
@import "../../../Styles/_rock-core.less";
@import "../../../Styles/_rock-variables.less";
@import "_variables.less";
@import "_print.less";
@import "_ad-rotater.less";

@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600);


/*
    Rock Theme Styles

    1. HTML Overrides
    2. Bootstrap Overides
    3. Theme Styling

*/

// 1. HTML Overrides
// -------------------------

main {
    display:block;
}


// 2. Bootstrap Overrides 
// ------------------------- 

.navbar {
    position: static; // default is relative which causes the dropdowns to go under the other navbars dispite having a higher z-index - JME 9/9/2013

    // using fontawesome nav toggle button instead of the BS default
    .navbar-toggle {
        padding: 6px 10px;
        i.fa-bars { color: @navbar-inverse-toggle-icon-bar-bg; }
    }

    .navbar-brand { font-family: @headings-font-family; text-transform: uppercase; }
}

a:hover i.fs
{
    text-decoration: none;
}

// 3. Theme Styling 
// -------------------------

.color {
    padding: 3em;
    width: 10em;
    margin: 1em;
text-align: center;
    display: inline-block;
}
.accent {
    background: @accent-color;
    color: @accent-text-color;
}
.accent-light {
    background: @accent-light-color;
    color: @accent-light-text-color;
}
.accent-semi {
    background: @accent-semibold-color;
    color: @accent-semibold-text-color;
}
.accent-bold {
    background: @accent-bold-color;
    color: @accent-bold-text-color;
}

header {
    .page-menu,
    .login-status {
        float: right;
    }
}

.main-feature {
    @media (min-width: @screen-sm-min) {
        background: @gray-lighter;
        margin-bottom: @grid-gutter-width;
    }
}

// homepage items
#announcement-rotator {
    margin: 0  -@grid-gutter-width/2 @spacing-lg-px;
    @media (min-width: @screen-sm-min) {
        margin: @spacing-lg-px 0;
    }
}

.announcements-container {
    max-width: 1440px;
    .center-block();

    .announcement-list {
        .make-row(-@grid-gutter-width/2);

        .announcement {
            .make-sm-column(4, @grid-gutter-width/2 );
            margin-bottom: @grid-gutter-width/2;
            @media (max-width: @screen-xs-max) {
                max-width: 400px;
                .center-block();
            }
            img { width: 100%; }
        }
    }
}

.nav-sub {
    li {
        border: 1px solid @gray-lighter;
        border-radius: @border-radius-base;

        a:hover {
            background-color: @gray-lighter;
        }
    }
}

footer {
    padding-bottom: 50px;
    .opacity(.5);
    .transition(opacity .5s);
    &:hover { .opacity(1); }

    .footer-message {
        float: left;
    }

    .footer-address {
        float: right;
    }
}

#splash.error {
    
    background-color: @gray-lighter;
    
    #content {
        margin-top: 20px;
        background-color: @body-bg;
        border-radius: @border-radius-base;
        padding: 20px;
    }
}

.not-found h2 {
    font-size: 200px;
    font-weight: @font-weight-bold;
    letter-spacing: -5px;
    line-height: 210px;

    i {
        color: #F03;
        font-size: 210px;
        position: relative;
        top: -12px;
    }
}
