h1.pagetitle
{
	display:none;
}

.socialicon-lpc{
    background-color:@brand-primary;

}

.container#footer-widgets {
  margin-top: 50px;
}

.navbar.navbar-lpc{
  text-transform: uppercase;
}

.hide-label label.control-label {
    display: none !important;
}