/* Dashboard Communication Page */
.communication-card {
    background-color: #ffffff;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 20px 30px 20px 30px; 
    position: relative;
    z-index: 1;
}

.communication-card .recipients .list-unstyled {
    display: flex;
    flex-wrap: wrap;
}

.recipients .recipient {
    min-width: 25%;
    width: unset;
}

.note-editable {
    height: 300px !important;
}

/* Undo hard coded communication styling */
.communication-card .well {
    padding: unset;
    margin-bottom: unset;
    min-height: unset;
}

/* Mobile Device Styling */
@media screen and (max-width: 768px) {
    /* Hide WYSIWYG buttons (they look hideous) */
    .note-toolbar.panel-heading {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .communication-card .recipients .list-unstyled {
        flex-direction: column;
    }

    .communication-card {
        padding: 20px;
    }


    .note-editable {
        height: 150px !important;
    }
}

/* hide the file / image browser button */
.note-plugins2 {
    display: none;
}


/* End Dashboard Communication Page */
