.disc-card {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 20px;
    margin: 0 auto;
}

div.alert.alert-success {
    display: none;
}

@media screen and (max-width: 500px) {
    .disc-card {
        padding: 0 10px 20px 10px;
    }
}
