.profile {
    display: flex;
    position: relative;
    z-index: 1;
}

.profile-card {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 20px;
    margin-right: 15px;
    width: 80%;
}

.profile-card hr {
    display: none;
}

.profile-card .pull-right a {
    margin-right: 15px;
}

.profile-sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar-card {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.account-actions, .recent-registrations {
    margin: 0 5px;
    min-width: 300px;
    height: unset;
    max-height: unset;
}

.recent-registrations {
    margin-top: 20px;
}

.profile-sidebar .title h3 {
    font-size: 26px;
    padding: 14px 0 14px 15px;
}

.profile-sidebar .header {
    min-height: 40px;
    background-color: #EEEEEE;
    border-bottom: 1px solid #ddd;
}

.links {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.balance-due {
    color: red;
}

.recent-registrations {
    margin-top: 20px;
}

.btn {
    float: right;
}

/* Override for back button */
.back-button .btn {
    float: unset;
    margin-bottom: 20px;
    min-width: 60px;
    max-width: 60px;
}

.col-md-1.photo {
    width: 25%;
}

/* Tablet Styling */
@media screen and (max-width: 768px) {
    .profile {
        flex-direction: column;
    }

    .profile-card {
        width: 100%;
        margin-bottom: 15px;
    }

    .profile-sidebar {
        flex-direction: row;
        justify-content: space-between;
    }

    .account-actions, .recent-registrations {
        margin: 0 auto;
        min-width: 340px;
    }

    .account-actions {
        margin-right: 20px;
    }

    .recent-registrations {
        flex: 1;
    }

    .profile-card .col-md-1 .photo {
        width: 15%;
    }

    .btn {
        width: unset;
    }
}


@media screen and (max-width: 500px) {
    .profile-card, .account-actions, .recent-registrations {
        margin: 0 auto;
        min-width: unset;
    }

    .profile-card, .account-actions {
        margin-bottom: 15px;
    }

    .profile-sidebar {
        flex-direction: column;
    }

    .account-actions .title, .recent-registrations .title {
        margin: 0 auto;
    }

    .form-control.input-width-sm {
        width: 60px;
        padding: 0
    }

    .profile-card .col-md-1 .photo {
        width: 100%;
    }

    .form-group.rock-radio-button-list {
        margin-left: 0;
    }

    /* override dashboard */
    .title {
        font-size: 28px;
        padding: 0;
    }

    /* override bootstrap */
    .btn {
        width: 100%;
        float: unset;
    }

    .pull-right {
        float: unset !important;
        margin: 0 1px;
    }
}
