<?xml version="1.0"?>
<configuration>
  <system.webServer>

    <!--
     Compress files before sending
    -->
    <urlCompression
        doDynamicCompression="true"
        dynamicCompressionBeforeCache="true" />
    <httpCompression
        cacheControlHeader="max-age=86400"
        noCompressionForHttp10="false"
        noCompressionForProxies="false"
        sendCacheHeaders="true">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>

    <!--
     Cache scripts on client for 45 days
    -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="45.00:00:00" />
    </staticContent>

  </system.webServer>

</configuration>
