<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ITransactionProcessor">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="ITransactionProcessor1" />
                <binding name="ITransactionProcessor2">
                    <security mode="Transport" />
                </binding>
                <binding name="ITransactionProcessor3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ics2ws.ic3.com/commerce/1.x/transactionProcessor"
                binding="basicHttpBinding" bindingConfiguration="ITransactionProcessor"
                contract="Live.ITransactionProcessor" name="portXML" />
            <endpoint address="https://ics2wstest.ic3.com/commerce/1.x/transactionProcessor"
                binding="basicHttpBinding" bindingConfiguration="ITransactionProcessor2"
                contract="Test.ITransactionProcessor" name="portXML1" />
        </client>
    </system.serviceModel>
</configuration>