{
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "amd": true
  },
  "rules": {
    "quotes": [2, "single"],
    "indent": ["error", 4, {"SwitchCase": 1}],
    "eol-last": "off",
    "arrow-body-style": "off",
    "no-underscore-dangle": "off",
    "no-new": 0,
    "max-len": "off",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "consistent-return": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-unused-vars": ["error", { "args": "none" }],
    "func-names": ["error", "never"],
    "space-before-function-paren": "off",
    "vars-on-top": "off",
    "comma-dangle": "off",
    "no-restricted-syntax": "off"
  }
}
