.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:active:focus {
    color: #ffffff;
    background-color: #525252;
    border-color: #7f7d7d;
}

.btn-link:hover {
    color: #ededed;
}

button.btn.btn-secondary {
    background-color: #fff;
    color: #3c3d3d;
    border-color: #9d9c9c;
}

.checkin-search-actions.checkin-start p {
    color: #ededed !important;
}