/*

     Rock Adventure Kids Check-in Theme
     Crafted by: Spark Development Network

 */

//
// Imports
// --------------------------------------------------

@import "../../../Styles/FontAwesome/font-awesome.less";
@import "../../../Styles/Bootstrap/bootstrap.less";
@import "../../../Styles/_checkin-core.less";
@import "../../../Styles/_modal.less";
@import "../../../Styles/_helpers.less";

@import "_variables.less";
@import "_variable-overrides.less";

// Fonts
// -------------------------

// regular (weight 'normal' aka 400)
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../../../Assets/Fonts/OpenSans/OpenSans-Regular-webfont.eot");
  src: url("../../../Assets/Fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../../../Assets/Fonts/OpenSans/OpenSans-Regular-webfont.woff2") format("woff2"),
    url("../../../Assets/Fonts/OpenSans/OpenSans-Regular-webfont.woff") format("woff");
}

// light (weight 300)
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  src: url("../../../Assets/Fonts/OpenSans/OpenSans-Light-webfont.eot");
  src: url("../../../Assets/Fonts/OpenSans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
    url("../../../Assets/Fonts/OpenSans/OpenSans-Light-webfont.woff2") format("woff2"),
    url("../../../Assets/Fonts/OpenSans/OpenSans-Light-webfont.woff") format("woff");
}

// semi-bold (weight 600)
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  src: url("../../../Assets/Fonts/OpenSans/OpenSans-Semibold-webfont.eot");
  src: url("../../../Assets/Fonts/OpenSans/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../../../Assets/Fonts/OpenSans/OpenSans-Semibold-webfont.woff2") format("woff2"),
    url("../../../Assets/Fonts/OpenSans/OpenSans-Semibold-webfont.woff") format("woff");
}

// bold (weight 700)
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: url("../../../Assets/Fonts/OpenSans/OpenSans-Bold-webfont.eot");
  src: url("../../../Assets/Fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../../../Assets/Fonts/OpenSans/OpenSans-Bold-webfont.woff2") format("woff2"),
    url("../../../Assets/Fonts/OpenSans/OpenSans-Bold-webfont.woff") format("woff");
}

// regular (weight 'normal' aka 400)
@font-face {
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 400;
  src: url("./Fonts/AvenirNext/AvenirNext-Regular.eot");
  src: url("./Fonts/AvenirNext/AvenirNext-Regular.eot?#iefix") format("embedded-opentype"),
  url("./Fonts/AvenirNext/AvenirNext-Regular.woff2") format("woff2"),
    url("./Fonts/AvenirNext/AvenirNext-Regular.woff") format("woff");
}

// light (weight 300)
@font-face {
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 300;
  src: url("./Fonts/AvenirNext/AvenirNext-UltraLight.eot");
  src: url("./Fonts/AvenirNext/AvenirNext-UltraLight.eot?#iefix") format("embedded-opentype")
    url("./Fonts/AvenirNext/AvenirNext-UltraLight.woff2") format("woff2"),
    url("./Fonts/AvenirNext/AvenirNext-UltraLight.woff") format("woff");
}

// semi-bold (weight 600)
@font-face {
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 600;
  src: url("./Fonts/AvenirNext/AvenirNext-Medium.eot");
  src: url("./Fonts/AvenirNext/AvenirNext-Medium.eot?#iefix") format("embedded-opentype"),
    url("./Fonts/AvenirNext/AvenirNext-Medium.woff2") format("woff2"),
    url("./Fonts/AvenirNext/AvenirNext-Medium.woff") format("woff");
}

// bold (weight 700)
@font-face {
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 700;
  src: url("./Fonts/AvenirNext/AvenirNext-DemiBold.eot");
  src: url("./Fonts/AvenirNext/AvenirNext-DemiBold.eot?#iefix") format("embedded-opentype"),
    url("./Fonts/AvenirNext/AvenirNext-DemiBold.woff2") format("woff2"),
    url("./Fonts/AvenirNext/AvenirNext-DemiBold.woff") format("woff");
}

/*#endregion */


//
// Mix-ins
// --------------------------------------------------
.checkinBackground () {
  background: @bg-color @background-image top right no-repeat fixed;
}

.checkinBackgroundRetina() {
  background-image: @background-image-retina;
  background-size: @background-image-retina-size; // should be 1/2 of the actual size
}


//
// Custom Overrides
// --------------------------------------------------

.checkin-count h3,
.checkin-count li {
  color: #4c4c4b;
}

body {
  display: none;
  -ms-touch-action: none !important;
      touch-action: none;   /* Disable any special actions on tap/touch */

  -ms-content-zooming: none; /* Disables zooming */
}

.checkinBackgroundRetina() {
  background-image: @bg-color @background-image-retina;
  background-size: @background-image-retina-size; // should be 1/2 of the actual size
}

@import "_css-overrides.less";
