/*!
 * Rock ChMS Theme v 2.0
 *
 * Copyright 2012 Spark Development Network
 *
 * 
 */

// [Table of Contents]
// 
// 1. Bootstrap Overides
// 2. Global Page Settings
// 3. Components


//
// Variables
// --------------------------------------------------
@import "./rock-global-variables.less";
@import "./rock-bootstrap-variables.less";
@import "../../../Css/Less/Vendor/Bootstrap/mixins.less";
@import "../../../Css/rock-core.less";

//
// 1. Bootstrap Overides
//
// <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>

h1, h2, h3 {
	letter-spacing: -0.03em;
}

h1 {
	font-size: 28px;
}

.navbar-inner {
	padding: 0;
}


.close
{
    color: @rockLightTextColor;
}

.btn-mini
{
    padding: 0 6px;
}

//
// 2. Global Page Settings
//
// <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>

// set page background
body {  
	background: #dbc189 url('../Assets/Images/background.jpg') top right no-repeat fixed;
    --background-position: left top, top right;
    --background-repeat: no-repeat, repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  body {
    background-image: url('../Assets/Images/background@2x.jpg');
    background-size: 1348px 768px;
  }
}


//
// 3. Components
//
// <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>

// --------------------------------------
#checkin-content {
    max-width: 960px;
}

@import "./adventurekids-theme-responsive.less";

