<?xml version="1.0"?>
<configuration>
  <appSettings>
    <clear/>
    <add key="AttributeRepositoryType" value="Rock.Tests.Fakes.FakeRepository`1[[Rock.Core.Attribute,Rock]],Rock.Tests"/>
    <add key="AuthRepositoryType" value="Rock.Tests.Fakes.FakeRepository`1[[Rock.Cms.Auth,Rock]],Rock.Tests"/>
    <!--<add key="AuthRuleRepositoryType" value="Rock.Tests.Fakes.FakeRepository`1[[Rock.Security.AuthRule,Rock]],Rock.Tests"/>-->
    <add key="BlockTypeRepositoryType" value="Rock.Tests.Fakes.FakeRepository`1[[Rock.Cms.BlockType,Rock]],Rock.Tests"/>
    <add key="BlockRepositoryType" value="Rock.Tests.Fakes.FakeRepository`1[[Rock.Cms.Block,Rock]],Rock.Tests"/>
    <add key="HtmlContentRepositoryType" value="Rock.Tests.Fakes.FakeRepository`1[[Rock.Cms.HtmlContent,Rock]],Rock.Tests"/>
    <add key="PageRepositoryType" value="Rock.Tests.Fakes.FakeRepository`1[[Rock.Cms.Page,Rock]],Rock.Tests"/>
    <add key="PageRouteRepositoryType" value="Rock.Test.Fakes/FakeRepository`1[[Rock.Cms.PageRoute,Rock]],Rock.Tests"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
