<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="PasswordKey" value="D42E08ECDE448643C528C899F90BADC9411AE07F74F9BA00A81BA06FD17E3D6BA22C4AE6947DD9686A35E8538D72B471F14CDB31BD50B9F5B2A1C26E290E5FC2" />
    <add key="DataEncryptionKey" value="uEr6E60giN7XWSQq7iysuRo98s01Ko51z+vxkB/j40u+zb4nxqgts+/i7Q7LlMgF+Ho8lbDWSrxZs1ZL4Uj7WUBR0tdxqBQenAkbtxg5D6ae+F9t62bmcbfbssXG4J4rUSTcJS8XzbBlIWnH6TWHsme5norJg7IkQq6HxLGaqy8=" />
    <add key="OldDataEncryptionKey" value="Ahc5RKQjX97+cz2qlJY/M7WWpflZjgvTR77bjEOAHlHuOo97TPI2PR0BLHCqPzUewCgFVYlqrUeJr9j7I2nK4F/gMsdvRAdZuQ1Yn/6IcsunKwKNV9jc1IEY4fEk2gmlCLpSktE1xiseZgWdUKFUTyVtSTIgbYJD8jEBDXzt3IY=" />
    <add key="OldDataEncryptionKey1" value="Xo+EIZM2l3JnB/2gd+FejEYo9tEXhUOIXsMchegVQXSvUvwVlB5HEEg1Qcf+vwmwRFRlgrWXoQpKNnoyith2o1m0DiWy5g0JuCqMJhmVGPLtgMSeKNZtPw9o8kl8qY/4A8AdjD4t1+5fqhEZ3KXbTlYoYxi74N/FPabr+EbHFv8=" />
    <add key="OldDataEncryptionKey2" value="Px0/BGrK48nvggLY0l2p64C2228eLxZVjTxoZGiU8Qdi2ePf7PTa/VBr8BMuOBdO9A54wajOyCnVEMtb7zNW1SeBDAi1H9hvPHIhE4t9d5ixFIzjDE0sNpS3eEZHUrL6PCE1H2/fpkX1GTeOYRMgvmdIQqN6L752JnXx5qkr2gg=" />
  </appSettings>
</configuration>
