@font-face {
  font-family: 'webfont';
  src: url('../Assets/Fonts/din-light.eot');
  src: url('../Assets/Fonts/din-light.eot?#iefix') format('embedded-opentype'), url('../Assets/Fonts/din-light.woff2') format('woff2'), url('../Assets/Fonts/din-light.woff') format('woff'), url('../Assets/Fonts/din-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'webfont';
  src: url('../Assets/Fonts/din-light-italic.eot');
  src: url('../Assets/Fonts/din-light-italic.eot?#iefix') format('embedded-opentype'), url('../Assets/Fonts/din-light-italic.woff2') format('woff2'), url('../Assets/Fonts/din-light-italic.woff') format('woff'), url('../Assets/Fonts/din-light-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'webfont';
  src: url('../Assets/Fonts/din-regular.eot');
  src: url('../Assets/Fonts/din-regular.eot?#iefix') format('embedded-opentype'), url('../Assets/Fonts/din-regular.woff2') format('woff2'), url('../Assets/Fonts/din-regular.woff') format('woff'), url('../Assets/Fonts/din-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'webfont';
  src: url('../Assets/Fonts/din-regular-italic.eot');
  src: url('../Assets/Fonts/din-regular-italic.eot?#iefix') format('embedded-opentype'), url('../Assets/Fonts/din-regular-italic.woff2') format('woff2'), url('../Assets/Fonts/din-regular-italic.woff') format('woff'), url('../Assets/Fonts/din-regular-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'webfont';
  src: url('../Assets/Fonts/din-medium.eot');
  src: url('../Assets/Fonts/din-medium.eot?#iefix') format('embedded-opentype'), url('../Assets/Fonts/din-medium.woff2') format('woff2'), url('../Assets/Fonts/din-medium.woff') format('woff'), url('../Assets/Fonts/din-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'webfont';
  src: url('../Assets/Fonts/din-medium-italic.eot');
  src: url('../Assets/Fonts/din-medium-italic.eot?#iefix') format('embedded-opentype'), url('../Assets/Fonts/din-medium-italic.woff2') format('woff2'), url('../Assets/Fonts/din-medium-italic.woff') format('woff'), url('../Assets/Fonts/din-medium-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'webfont';
  src: url('../Assets/Fonts/din-bold.eot');
  src: url('../Assets/Fonts/din-bold.eot?#iefix') format('embedded-opentype'), url('../Assets/Fonts/din-bold.woff2') format('woff2'), url('../Assets/Fonts/din-bold.woff') format('woff'), url('../Assets/Fonts/din-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'webfont';
  src: url('../Assets/Fonts/din-bold-italic.eot');
  src: url('../Assets/Fonts/din-bold-italic.eot?#iefix') format('embedded-opentype'), url('../Assets/Fonts/din-bold-italic.woff2') format('woff2'), url('../Assets/Fonts/din-bold-italic.woff') format('woff'), url('../Assets/Fonts/din-bold-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'webfont';
  src: url('../Assets/Fonts/din-black.eot');
  src: url('../Assets/Fonts/din-black.eot?#iefix') format('embedded-opentype'), url('../Assets/Fonts/din-black.woff2') format('woff2'), url('../Assets/Fonts/din-black.woff') format('woff'), url('../Assets/Fonts/din-black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'webfont';
  src: url('../Assets/Fonts/din-black-italic.eot');
  src: url('../Assets/Fonts/din-black-italic.eot?#iefix') format('embedded-opentype'), url('../Assets/Fonts/din-black-italic.woff2') format('woff2'), url('../Assets/Fonts/din-black-italic.woff') format('woff'), url('../Assets/Fonts/din-black-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
