/*
    CSS For Rock Installer
    
    Note: This file lives on the rock file storage host where it is referenced during installs.

    TODO: Make this a less file
 */

body {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	background-color: #3a3a3a;  
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjMzczNzM3Ij48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM0MDQwNDAiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4="); 

}
			
div#content {
	width: 600px;
	margin: 0 auto;
}
			
i {
	font-family: FontAwesome;
	font-size: 22px;
}
			
i.pass {
	color: #218921;
}
			
i.fail {
	color: #e43030;
}
			
.btn i {
	font-size: 12px;
	margin-top: 6px;
}
			
ul {
	list-style-type: none;
    margin-top: 18px;
}
			
ul li {
	margin-bottom: 12px;
    margin-left: 28px;
}
			
ul li i {
	float: left;
    margin: 4px 12px 0 -28px;
} 
			
div#content > h1 {
	background: url("http://storage.rockrms.com/install/header-logo.png") no-repeat scroll 0 0 transparent;
	color: #E7E7E7;
	display: block;
	float: left;
	height: 50px;
	margin-bottom: 6px;
	margin-top: 25px;
	text-indent: -9999px;
	width: 123px;
}
    		
div#content #content-box {
	background-color: #E7E7E7;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 20px #000000;
	clear: both;
	min-height: 254px;
	padding: 16px;
	width: 584px;
	color: #;
}
    		
div#content #content-box h1 {
    margin-top: 10px;
    font-family: 'OpenSans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -0.03em;
}
    		
    		    		
a.btn {
    text-decoration: none;
}
    		
p.wait {
    width: 48px;
    margin: 0 auto;
    margin-top: 24px;
}
    		
.btn.start-install, .btn.next-step {
    display: block;
    margin: 24px auto 24px auto;
    text-align: center;
    width: 180px;
}

.group:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.btn-list {
    width: 100%;
    text-align: center;
}

/* used to show the user directions to a page (e.g. 'Administration > General Settings') */
.navigation-tip { 
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace; /* from bootstrap */
    padding: 2px 4px;
    font-size: 90%;
    color: #000;
    background-color: #ccc;
    white-space: nowrap;
    border-radius: 4px;
} 

/* Bootstrap Overrides */

.btn-primary {
    background-color: #2b2b2b;
    border-color: #1b1b1b;
}

.btn-primary:hover {
    background-color: #424242;
    border-color: #2b2b2b;
}

h4 {
    font-weight: 600;
}

/* update status styles */
.updateprogress-status {
    position: fixed;
    padding: 50px 20px;
    color: #ecf0f3;
    left: 40%;
    top: 40%;
    opacity: 1;
    background-color: #8498ab;
    border-radius: 4px;
    z-index: 1140;
}

.spinner {
    height: 30px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #ecf0f3;
    height: 100%;
    width: 6px;
    display: inline-block;
  
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
    }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
    }
}

.updateprogress-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: rgba(217,225,232,.5);
}