/* FontAwesome Start */
@fa-theme-weight: 900;
@fa-theme-weight-name: 'solid';

@import "../../../Styles/FontAwesome/_rock-fa-mixins.less";
/* FontAwesome End */
@bg-color: #e81c33;
@subheader-text-color: #3c3d3d;
@subheader-font-weight: @font-weight-semibold;
@btn-primary-bg: #a41e25;
@btn-default-bg: #60605f;
@font-weight-semibold: 500;
