:root {
  // ========================= COLOR =========================

  // #region BASE VARIABLE (These are not meant to be used as reference variables)

  --logo-image: url("../../../Assets/Images/rock-logo-circle-white.svg");

  --base-interface-strongest: #0a0a0a;
  --base-interface-stronger:  #0D1117;
  --base-interface-strong:    #3D444D ;
  --base-interface-medium:    #8B8BA7;
  --base-interface-soft:      #D9D9E3;
  --base-interface-softer:    #F8F8FC;
  --base-interface-softest:   #fdfdfd;

  --base-critical:    #ee7725;
  --base-danger:      #D70015;
  --base-info:        #005DD7;
  --base-success:     #01A11E;

  --base-primary:     #FF791D;
  --base-warning:     #E58600;
  --base-link:        #006DCC;
  --base-secondary:   #83758F;

  --base-gender-male:   #1A8AE5;
  --base-gender-female: #DE69C3;

  // #endregion

  // INTERFACE COLORS
  --color-interface-strongest: var(--base-interface-strongest);
  --color-interface-stronger:  var(--base-interface-stronger);
  --color-interface-strong:    var(--base-interface-strong);
  --color-interface-medium:    var(--base-interface-medium);
  --color-interface-soft:      var(--base-interface-soft);
  --color-interface-softer:    var(--base-interface-softer);
  --color-interface-softest:   var(--base-interface-softest);

  // APPLICATION COLORS
  --color-critical-soft:    var(--base-critical);
  --color-critical-strong:  var(--base-critical);
  --color-critical-tint:    var(--base-critical);
  --color-critical-shade:   var(--base-critical);

  --color-danger-soft:      var(--base-danger);
  --color-danger-strong:    var(--base-danger);
  --color-danger-tint:      var(--base-danger);
  --color-danger-shade:     var(--base-danger);

  --color-info-soft:        var(--base-info);
  --color-info-strong:      var(--base-info);
  --color-info-tint:        var(--base-info);
  --color-info-shade:       var(--base-info);

  --color-success-soft:     var(--base-success);
  --color-success-strong:   var(--base-success);
  --color-success-tint:     var(--base-success);
  --color-success-shade:    var(--base-success);

  --color-warning-soft:     var(--base-warning);
  --color-warning-strong:   var(--base-warning);
  --color-warning-tint:     var(--base-warning);
  --color-warning-shade:    var(--base-warning);

  --color-gender-male-soft:   var(--base-gender-male);
  --color-gender-male-strong: var(--base-gender-male);
  --color-gender-male-tint:   var(--base-gender-male);
  --color-gender-male-shade:  var(--base-gender-male);

  --color-gender-female-soft:   var(--base-gender-female);
  --color-gender-female-strong: var(--base-gender-female);
  --color-gender-female-tint:   var(--base-gender-female);
  --color-gender-female-shade:  var(--base-gender-female);

  /* System colors */
  --color-primary-soft:     var(--base-primary);
  --color-primary:          var(--base-primary);
  --color-primary-tint:     var(--base-primary);
  --color-primary-shade:    var(--base-primary);

  --color-link:             var(--base-link);
  --color-link-tint:        var(--base-link);
  --color-link-shade:       var(--base-link);

  --color-secondary:        var(--base-secondary);
  --color-secondary-soft:   var(--base-secondary);
  --color-secondary-tint:   var(--base-secondary);
  --color-secondary-shade:  var(--base-secondary);

  @supports (color: color-mix(in srgb, red 50%, white 50%)) {
    --tint-white-percentage: 50%;
    --shade-black-percentage: 15%;

    --color-critical-tint:  color-mix(in srgb, var(--base-critical) 50%, var(--color-interface-softest));
    --color-critical-soft:  color-mix(in srgb, var(--base-critical) 20%, var(--color-interface-softest));
    --color-critical-shade: color-mix(in srgb, var(--base-critical) 100%, #000 var(--shade-black-percentage));

    --color-danger-tint:    color-mix(in srgb, var(--base-danger) 50%, var(--color-interface-softest));
    --color-danger-soft:    color-mix(in srgb, var(--base-danger) 20%, var(--color-interface-softest));
    --color-danger-shade:   color-mix(in srgb, var(--base-danger) 100%, #000 var(--shade-black-percentage));

    --color-info-tint:      color-mix(in srgb, var(--base-info) 50%, var(--color-interface-softest));
    --color-info-soft:      color-mix(in srgb, var(--base-info) 20%, var(--color-interface-softest));
    --color-info-shade:     color-mix(in srgb, var(--base-info) 100%, #000 var(--shade-black-percentage));

    --color-success-tint:   color-mix(in srgb, var(--base-success) 50%, var(--color-interface-softest));
    --color-success-soft:   color-mix(in srgb, var(--base-success) 20%, var(--color-interface-softest));
    --color-success-shade:  color-mix(in srgb, var(--base-success) 100%, #000 var(--shade-black-percentage));

    --color-warning-tint:   color-mix(in srgb, var(--base-warning) 50%, var(--color-interface-softest));
    --color-warning-soft:   color-mix(in srgb, var(--base-warning) 20%, var(--color-interface-softest));
    --color-warning-shade:  color-mix(in srgb, var(--base-warning) 100%, #000 var(--shade-black-percentage));

    --color-primary-tint:   color-mix(in srgb, var(--base-primary) 50%, var(--color-interface-softest));
    --color-primary-soft:   color-mix(in srgb, var(--base-primary) 20%, var(--color-interface-softest));
    --color-primary-shade:  color-mix(in srgb, var(--base-primary) 100%, #000 var(--shade-black-percentage));

    --color-link-tint:      color-mix(in srgb, var(--base-link) 50%, var(--color-interface-softest));
    --color-link-shade:     color-mix(in srgb, var(--base-link) 100%, #000 var(--shade-black-percentage));

    --color-secondary-tint:  color-mix(in srgb, var(--base-secondary) 50%, var(--color-interface-softest));
    --color-secondary-soft:  color-mix(in srgb, var(--base-secondary) 20%, var(--color-interface-softest));
    --color-secondary-shade: color-mix(in srgb, var(--base-secondary) 100%, #000 var(--shade-black-percentage));

    // GENDER COLORS
    --color-gender-male-tint:   color-mix(in srgb, var(--base-gender-male) 50%, var(--color-interface-softest));
    --color-gender-male-soft:   color-mix(in srgb, var(--base-gender-male) 20%, var(--color-interface-softest));
    --color-gender-male-shade:  color-mix(in srgb, var(--base-gender-male) 100%, #000 var(--shade-black-percentage));

    --color-gender-female-tint:   color-mix(in srgb, var(--base-gender-female) 50%, var(--color-interface-softest));
    --color-gender-female-soft:   color-mix(in srgb, var(--base-gender-female) 20%, var(--color-interface-softest));
    --color-gender-female-shade:  color-mix(in srgb, var(--base-gender-female) 100%, #000 var(--shade-black-percentage));
  }


  // Visualization Color Primitives
  // Based on Tailwind 4's color palette, these primitives are used for charting and visualization colors.

  --color-tw-gray-50: #f9fafb;
  --color-tw-gray-100: #f3f4f6;
  --color-tw-gray-200: #e5e7eb;
  --color-tw-gray-300: #d1d5db;
  --color-tw-gray-400: #9ca3af;
  --color-tw-gray-500: #6b7280;
  --color-tw-gray-600: #4b5563;
  --color-tw-gray-700: #374151;
  --color-tw-gray-800: #1f2937;
  --color-tw-gray-900: #111827;
  --color-tw-gray-950: #030712;

  --color-tw-red-50: #fef2f2;
  --color-tw-red-100: #fee2e2;
  --color-tw-red-200: #fecaca;
  --color-tw-red-300: #fca5a5;
  --color-tw-red-400: #f87171;
  --color-tw-red-500: #ef4444;
  --color-tw-red-600: #dc2626;
  --color-tw-red-700: #b91c1c;
  --color-tw-red-800: #991b1b;
  --color-tw-red-900: #7f1d1d;
  --color-tw-red-950: #450a0a;

  --color-tw-orange-50: #fff7ed;
  --color-tw-orange-100: #ffedd5;
  --color-tw-orange-200: #fed7aa;
  --color-tw-orange-300: #fdba74;
  --color-tw-orange-400: #fb923c;
  --color-tw-orange-500: #f97316;
  --color-tw-orange-600: #ea580c;
  --color-tw-orange-700: #c2410c;
  --color-tw-orange-800: #9a3412;
  --color-tw-orange-900: #7c2d12;
  --color-tw-orange-950: #431407;

  --color-tw-amber-50: #fffbeb;
  --color-tw-amber-100: #fef3c7;
  --color-tw-amber-200: #fde68a;
  --color-tw-amber-300: #fcd34d;
  --color-tw-amber-400: #fbbf24;
  --color-tw-amber-500: #f59e0b;
  --color-tw-amber-600: #d97706;
  --color-tw-amber-700: #b45309;
  --color-tw-amber-800: #92400e;
  --color-tw-amber-900: #78350f;
  --color-tw-amber-950: #451a03;

  --color-tw-yellow-50: #fefce8;
  --color-tw-yellow-100: #fef9c3;
  --color-tw-yellow-200: #fef08a;
  --color-tw-yellow-300: #fde047;
  --color-tw-yellow-400: #facc15;
  --color-tw-yellow-500: #eab308;
  --color-tw-yellow-600: #ca8a04;
  --color-tw-yellow-700: #a16207;
  --color-tw-yellow-800: #854d0e;
  --color-tw-yellow-900: #713f12;
  --color-tw-yellow-950: #422006;

  --color-tw-lime-50: #f7fee7;
  --color-tw-lime-100: #ecfccb;
  --color-tw-lime-200: #d9f99d;
  --color-tw-lime-300: #bef264;
  --color-tw-lime-400: #a3e635;
  --color-tw-lime-500: #84cc16;
  --color-tw-lime-600: #65a30d;
  --color-tw-lime-700: #4d7c0f;
  --color-tw-lime-800: #3f6212;
  --color-tw-lime-900: #365314;
  --color-tw-lime-950: #1a2e05;

  --color-tw-green-50: #f0fdf4;
  --color-tw-green-100: #dcfce7;
  --color-tw-green-200: #bbf7d0;
  --color-tw-green-300: #86efac;
  --color-tw-green-400: #4ade80;
  --color-tw-green-500: #22c55e;
  --color-tw-green-600: #16a34a;
  --color-tw-green-700: #15803d;
  --color-tw-green-800: #166534;
  --color-tw-green-900: #14532d;
  --color-tw-green-950: #052e16;

  --color-tw-emerald-50: #ecfdf5;
  --color-tw-emerald-100: #d1fae5;
  --color-tw-emerald-200: #a7f3d0;
  --color-tw-emerald-300: #6ee7b7;
  --color-tw-emerald-400: #34d399;
  --color-tw-emerald-500: #10b981;
  --color-tw-emerald-600: #059669;
  --color-tw-emerald-700: #047857;
  --color-tw-emerald-800: #065f46;
  --color-tw-emerald-900: #064e3b;
  --color-tw-emerald-950: #022c22;

  --color-tw-cyan-50: #ecfeff;
  --color-tw-cyan-100: #cffafe;
  --color-tw-cyan-200: #a5f3fc;
  --color-tw-cyan-300: #67e8f9;
  --color-tw-cyan-400: #22d3ee;
  --color-tw-cyan-500: #06b6d4;
  --color-tw-cyan-600: #0891b2;
  --color-tw-cyan-700: #0e7490;
  --color-tw-cyan-800: #155e75;
  --color-tw-cyan-900: #164e63;
  --color-tw-cyan-950: #083344;

  --color-tw-indigo-50: #eef2ff;
  --color-tw-indigo-100: #e0e7ff;
  --color-tw-indigo-200: #c7d2fe;
  --color-tw-indigo-300: #a5b4fc;
  --color-tw-indigo-400: #818cf8;
  --color-tw-indigo-500: #6366f1;
  --color-tw-indigo-600: #4f46e5;
  --color-tw-indigo-700: #4338ca;
  --color-tw-indigo-800: #3730a3;
  --color-tw-indigo-900: #312e81;
  --color-tw-indigo-950: #1e1b4b;

  --color-tw-fuchsia-50: #fdf4ff;
  --color-tw-fuchsia-100: #fae8ff;
  --color-tw-fuchsia-200: #f5d0fe;
  --color-tw-fuchsia-300: #f0abfc;
  --color-tw-fuchsia-400: #e879f9;
  --color-tw-fuchsia-500: #d946ef;
  --color-tw-fuchsia-600: #c026d3;
  --color-tw-fuchsia-700: #a21caf;
  --color-tw-fuchsia-800: #86198f;
  --color-tw-fuchsia-900: #701a75;
  --color-tw-fuchsia-950: #4a044e;

  --color-tw-rose-50: #fff1f2;
  --color-tw-rose-100: #ffe4e6;
  --color-tw-rose-200: #fecdd3;
  --color-tw-rose-300: #fda4af;
  --color-tw-rose-400: #fb7185;
  --color-tw-rose-500: #f43f5e;
  --color-tw-rose-600: #e11d48;
  --color-tw-rose-700: #be123c;
  --color-tw-rose-800: #9f1239;
  --color-tw-rose-900: #881337;
  --color-tw-rose-950: #4c0519;

  // COLORS FOR CHARTS / ANALYTICS
  // ===============================
  // Categorical, Diverging, and Metric colors below are sourced from Tailwind's color palette.

  // CATEGORICAL COLORS
  --color-categorical-1: var(--color-metric-primary);
  --color-categorical-2: var(--color-tw-fuchsia-500);
  --color-categorical-3: var(--color-tw-emerald-500);
  --color-categorical-4: var(--color-tw-rose-500);
  --color-categorical-5: var(--color-tw-amber-500);
  --color-categorical-6: var(--color-tw-cyan-500);
  --color-categorical-7: var(--color-tw-yellow-500);
  --color-categorical-8: var(--color-tw-gray-500);

  // DIVERGING COLORS
  --color-diverging-1:  var(--color-tw-indigo-900);
  --color-diverging-2:  var(--color-tw-indigo-700);
  --color-diverging-3:  var(--color-tw-indigo-500);
  --color-diverging-4:  var(--color-tw-indigo-300);
  --color-diverging-5:  var(--color-tw-indigo-100);
  --color-diverging-6:  var(--color-tw-indigo-50);
  --color-diverging-7:  var(--color-tw-emerald-100);
  --color-diverging-8:  var(--color-tw-emerald-300);
  --color-diverging-9:  var(--color-tw-emerald-500);
  --color-diverging-10: var(--color-tw-emerald-700);
  --color-diverging-11: var(--color-tw-emerald-900);

  // POSITIVE COLORS
  --color-positive-primary: var(--color-positive-5);

  --color-positive-1:  var(--color-tw-green-50);
  --color-positive-2:  var(--color-tw-green-100);
  --color-positive-3:  var(--color-tw-green-200);
  --color-positive-4:  var(--color-tw-green-300);
  --color-positive-5:  var(--color-tw-green-400);
  --color-positive-6:  var(--color-tw-green-500);
  --color-positive-7:  var(--color-tw-green-600);
  --color-positive-8:  var(--color-tw-green-700);
  --color-positive-9:  var(--color-tw-green-800);
  --color-positive-10: var(--color-tw-green-900);
  --color-positive-11: var(--color-tw-green-950);

  // CAUTION COLORS
  --color-caution-primary: var(--color-caution-5);

  --color-caution-1:  var(--color-tw-orange-50);
  --color-caution-2:  var(--color-tw-orange-100);
  --color-caution-3:  var(--color-tw-orange-200);
  --color-caution-4:  var(--color-tw-orange-300);
  --color-caution-5:  var(--color-tw-orange-400);
  --color-caution-6:  var(--color-tw-orange-500);
  --color-caution-7:  var(--color-tw-orange-600);
  --color-caution-8:  var(--color-tw-orange-700);
  --color-caution-9:  var(--color-tw-orange-800);
  --color-caution-10: var(--color-tw-orange-900);
  --color-caution-11: var(--color-tw-orange-950);

  // NEGATIVE COLORS
  --color-negative-primary: var(--color-negative-6);

  --color-negative-1:  var(--color-tw-red-50);
  --color-negative-2:  var(--color-tw-red-100);
  --color-negative-3:  var(--color-tw-red-200);
  --color-negative-4:  var(--color-tw-red-300);
  --color-negative-5:  var(--color-tw-red-400);
  --color-negative-6:  var(--color-tw-red-500);
  --color-negative-7:  var(--color-tw-red-600);
  --color-negative-8:  var(--color-tw-red-700);
  --color-negative-9:  var(--color-tw-red-800);
  --color-negative-10: var(--color-tw-red-900);
  --color-negative-11: var(--color-tw-red-950);

  // NEUTRAL COLORS
  --color-neutral-primary: var(--color-neutral-4);

  --color-neutral-1:  var(--color-tw-gray-50);
  --color-neutral-2:  var(--color-tw-gray-100);
  --color-neutral-3:  var(--color-tw-gray-200);
  --color-neutral-4:  var(--color-tw-gray-300);
  --color-neutral-5:  var(--color-tw-gray-400);
  --color-neutral-6:  var(--color-tw-gray-500);
  --color-neutral-7:  var(--color-tw-gray-600);
  --color-neutral-8:  var(--color-tw-gray-700);
  --color-neutral-9:  var(--color-tw-gray-800);
  --color-neutral-10: var(--color-tw-gray-900);
  --color-neutral-11: var(--color-tw-gray-950);

  // METRIC COLORS
  --color-metric-primary: var(--color-metric-6);

  --color-metric-1:  var(--color-tw-indigo-50);
  --color-metric-2:  var(--color-tw-indigo-100);
  --color-metric-3:  var(--color-tw-indigo-200);
  --color-metric-4:  var(--color-tw-indigo-300);
  --color-metric-5:  var(--color-tw-indigo-400);
  --color-metric-6:  var(--color-tw-indigo-500);
  --color-metric-7:  var(--color-tw-indigo-600);
  --color-metric-8:  var(--color-tw-indigo-700);
  --color-metric-9:  var(--color-tw-indigo-800);
  --color-metric-10: var(--color-tw-indigo-900);
  --color-metric-11: var(--color-tw-indigo-950);



  // ========================= END COLOR ==========================



  // ========================= TYPOGRAPHY =========================

  // FONT SIZES
  --font-size-xsmall:     12px;
  --font-size-small:      14px;
  --font-size-regular:    16px;
  --font-size-h1:         44px;
  --font-size-h2:         36px;
  --font-size-h3:         28px;
  --font-size-h4:         22px;
  --font-size-h5:         18px;
  --font-size-h6:         16px;

  // FONT WEIGHTS
  --font-weight-light:    300;
  --font-weight-regular:  400;
  --font-weight-medium:   500;
  --font-weight-semibold: 600;
  --font-weight-bold:     700;
  --font-weight-black:    900;

  // LINE HEIGHTS
  --line-height-xloose:  2.0;
  --line-height-loose:   1.75;
  --line-height-normal:  1.5;
  --line-height-tight:   1.1;
  --line-height-compact: 1.055;

  // FONT FAMILY
  --font-family-title:        var(--font-family-sans);
  --font-family-body:         var(--font-family-sans);
  --font-family-segoe:        "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-family-sans:         -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-serif:        Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-family-monospace:    Menlo, Monaco, Consolas, "Courier New", monospace;

  // ========================= END TYPOGRAPHY =========================


  // ============================ SPACING =============================

  // SPACING
  --spacing-tiny:       4px;
  --spacing-xsmall:     8px;
  --spacing-small:     12px;
  --spacing-medium:    16px;
  --spacing-large:     24px;
  --spacing-xlarge:    48px;
  --spacing-huge:      80px;

  // ========================== END SPACING ===========================


  // ========================== VISUAL APPEARANCES ===========================

  --adminbar-bg:              #45474c;
  --modal-backdrop:           rgba(94, 94, 94, 0.6);

  --box-shadow:               rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  --box-shadow-strong:        rgba(145, 158, 171, 0.2) 0px 20px 25px -5px,rgba(145, 158, 171, 0.12) 0px 10px 10px -5px;
  --popup-box-shadow:         0 1rem 3rem rgba(0,0,0,.175);
  --popup-box-shadow:         0 1rem 3rem rgba(0,0,0,.175);
  --dropdown-box-shadow:      0 4px 8px 0 rgba(145, 158, 171,.12);
  --input-box-shadow:         0 1px 1px rgba(24, 36, 51, 0.06);
  --input-focus-box-shadow:   0 0 0 2px var(--color-primary-tint);
  --input-after-box-shadow:   0 .125rem .375rem 0 rgba(var(--color-primary), 0.3);

  // BORDER RADIUS
  --rounded-tiny:       2px;
  --rounded-xsmall:     4px;
  --rounded-small:      6px;
  --rounded-medium:     8px;
  --rounded-large:     12px;
  --rounded-xlarge:    16px;
  --rounded-huge:      24px;

  // ========================== END VISUAL APPEARANCES ===========================

  --focus-state-border: 1px solid var(--color-primary); // it is used by the "Write a note" in someone profile.
  --focus-state-shadow: var(--input-focus-box-shadow); // it is used by the "Write a note" in someone profile.
  --input-border: var(--color-interface-soft); // it used by CheckinAreas.css. The style is use in page Check-in Configuration in settings.

  // it is used by the range slider (obisidian control gallery "Range Slider").
  --slider-height: 8px;
  --slider-bg: var(--color-interface-soft);
  --slider-progress-bg: var(--color-primary);
  --slider-handle-offset: 29px;
  --slider-handle-bg: var(--color-interface-softest);
  --slider-handle-height: 16px;
  --slider-handle-bg--hover: var(--color-interface-softest);
  --slider-handle-border-color: var(--color-interface-soft);
  --slider-handle-border-color--hover: var(--color-interface-soft);
}

// Applies only when no theme is set or when "System" theme is selected.
:root:not([theme]),
[theme="system"] {
  // Follow the system color.
  @media (prefers-color-scheme: dark) {
    --color-interface-strongest: var(--base-interface-softest);
    --color-interface-stronger:  var(--base-interface-softer);
    --color-interface-strong:    var(--base-interface-soft);
    --color-interface-medium:    var(--base-interface-medium);
    --color-interface-soft:      var(--base-interface-strong);
    --color-interface-softer:    var(--base-interface-strongest);
    --color-interface-softest:   var(--base-interface-stronger);

    --color-info-strong:  color-mix(in srgb, var(--base-info) 50%, #fff var(--tint-white-percentage));
    --color-danger-strong:  color-mix(in srgb, var(--base-danger) 50%, #fff var(--tint-white-percentage));
    --color-success-strong:  color-mix(in srgb, var(--base-success) 50%, #fff var(--tint-white-percentage));
    --color-warning-strong:  color-mix(in srgb, var(--base-warning) 50%, #fff var(--tint-white-percentage));
    --color-critical-strong:  color-mix(in srgb, var(--base-critical) 50%, #fff var(--tint-white-percentage));

    --box-shadow:               rgba(145, 158, 171, 0.3) 0px 0px 2px 0px,rgba(145, 158, 171, .04) 0px 12px 24px -4px;
    --popup-box-shadow:         0 1rem 3rem rgba(255, 255, 255,.04);
  }
}

[theme = "light"] {
  --color-interface-strongest: var(--base-interface-strongest);
  --color-interface-stronger:  var(--base-interface-stronger);
  --color-interface-strong:    var(--base-interface-strong);
  --color-interface-medium:    var(--base-interface-medium);
  --color-interface-soft:      var(--base-interface-soft);
  --color-interface-softer:    var(--base-interface-softer);
  --color-interface-softest:   var(--base-interface-softest);

  --color-info-strong: var(--base-info);
  --color-danger-strong: var(--base-danger);
  --color-success-strong: var(--base-success);
  --color-warning-strong: var(--base-warning);
  --color-critical-strong: var(--base-critical);

  --box-shadow:               rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  --popup-box-shadow:         0 1rem 3rem rgba(0,0,0,.175);
}

[theme = "dark"] {
  --color-interface-strongest: var(--base-interface-softest);
  --color-interface-stronger:  var(--base-interface-softer);
  --color-interface-strong:    var(--base-interface-soft);
  --color-interface-medium:    var(--base-interface-medium);
  --color-interface-soft:      var(--base-interface-strong);
  --color-interface-softer:    var(--base-interface-strongest); // Flipped to strongest to maintain consistency with mobile app dark mode. Stronger is too light.
  --color-interface-softest:   var(--base-interface-stronger); // Flipped to stronger to maintain consistency with mobile app dark mode.

  --color-info-strong:  color-mix(in srgb, var(--base-info) 50%, #fff var(--tint-white-percentage));
  --color-danger-strong:  color-mix(in srgb, var(--base-danger) 50%, #fff var(--tint-white-percentage));
  --color-success-strong:  color-mix(in srgb, var(--base-success) 50%, #fff var(--tint-white-percentage));
  --color-warning-strong:  color-mix(in srgb, var(--base-warning) 50%, #fff var(--tint-white-percentage));
  --color-critical-strong:  color-mix(in srgb, var(--base-critical) 50%, #fff var(--tint-white-percentage));

  --box-shadow:               rgba(145, 158, 171, 0.3) 0px 0px 2px 0px,rgba(145, 158, 171, .04) 0px 12px 24px -4px;
  --box-shadow-strong:        rgba(255, 255, 255, 0.06) 0px 20px 25px -5px,rgba(255, 255, 255, 0.03) 0px 10px 10px -5px;

  --popup-box-shadow:         0 1rem 3rem rgba(255, 255, 255,.04);
}