/*
    Used to manage styles for specific blocks.

    1. Data Views - block for creating data views
    2. Dynamic Report - block for making reports dynamically updated
    3. Interactions
*/


// 1. Data Views
// -------------------------

/* data views */
.filter-toggle {
  align-self: flex-start;
  padding-right: var(--spacing-small);
  //margin-top: 5px;

  & > span {
    float: left;
  }

  .btn-toggle {
    margin: 0 6px;
  }
}

.filter-item-select {
  > span {
    float: left;
    padding: 8px 6px 0 0;
  }

  .chosen-container {
    float: left;
    width: 250px !important;
  }
}

// add top margin to checkbox lists in filters
.field-criteria {
  // Add margin to in-columns because checkbox-inline is not inherited
  .in-columns,
  .checkbox-inline {
    margin-top: var(--spacing-small);
  }

  @media (min-width: $screen-medium) {
    // Vertically align criteria fields to the top
    > div {
      display: table-cell;
      float: none;
      vertical-align: top;
    }

    .vertical-align-bottom {
      vertical-align: bottom;
    }
  }
}

.filter-item div[class*="col"] {
  margin-bottom: 6px;
  @media (min-width: $screen-medium) {
    margin-bottom: 0;
  }
}

/* text between input elements in dataview filters - DT */
span.data-view-filter-label {
  display: inline-block;
  min-height: calc(($line-height-computed + var(--font-size-regular)) - 2);
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);
  margin: 0 12px 0 0;
}

// 2. Dynamic Report
// -------------------------

.filterfield {
  margin-bottom: 12px;

  // Override table-cell alignment for dynamic reports and data views
  .field-criteria > div {
    display: block;
    float: left;
  }
}

.filterfield-label {
  display: block;
  margin-top: var(--spacing-small);
  font-weight: var(--font-weight-semibold);
}

// 3. Interactions
// -------------------------

.list-panel {
  > .grid-filter {
    padding: 6px 0;
    margin: -18px -18px 18px;
    border-bottom: 1px solid var(--color-interface-softer);

    > header {
      position: relative;
    }

    .grid-filter-entry {
      padding-top: inherit;
      border: 0;
    }

    .btn-link {
      position: relative;
      margin: 0;
    }
  }
}

// 4. Form Field Filter
// -------------------------
.filter-rule-remove,
.filtervisibilityrules-type {
  margin-bottom: var(--spacing-medium);
}

.filter-rule {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--spacing-medium);
}

.filter-rule {
  .filter-rule-fields {
    flex: 1 1 auto;
    margin-right: 5px;
  }

  .flex-rule-remove {
    flex: 0 0 auto;
  }
}

.filter-rule-fieldfilter,
.filter-rule-fieldfilter .field-criteria,
.filter-rule-fields {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.filter-rule-fieldfilter .field-criteria,
.filter-rule-fields {
  &::before,
  &::after {
    display: none !important;
  }
}

.filter-rule-fieldfilter .field-criteria {
  width: calc(100% + 10px);
}

// .control-wrapper is for Obsidian
.filter-rule-comparefield > .form-control,
.filter-rule-comparefield > .control-wrapper,
.filter-rule-fieldfilter > .field-criteria .form-control {
  min-width: 100%;
}

.filter-rule-fieldfilter {
  .field-criteria > div {
    display: block;
    float: left;
  }
}
