

//  KIOSK CORE STYLE


// =============================================================
// Table of Content           
//  + HTML Overrides
//  + Kiosk Components
//  + Scroller
// =============================================================


// ======================== HTML OVERRIDES ========================
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin:                  0;
  -webkit-appearance:      none;
}
// ====================== END HTML OVERRIDES ======================


// ======================== KIOSK COMPONENTS ========================
.tenkey {
  width:               320px;

  a.btn {
    width:             80px;
    height:            80px;
    margin:            2px;
  }

  a.digit {
    font-size:         var(--font-size-h1);
    font-weight:       var(--font-weight-semibold);
  }

  a.command {
    padding-top:       28px;
    font-size:         20px;
    font-weight:       var(--font-weight-light);
  }
}

.btn-kioskselect {
  width:                  100%;
  padding-top:            14px;
  padding-bottom:         14px;
  margin-bottom:          12px;
  font-size:              var(--font-size-h4);
  font-weight:            var(--font-weight-bold);
  text-align:             center;

  small {
    margin-left:          var(--spacing-medium);
    font-weight:          var(--font-weight-light);
  }
}

.btn-kiosk {
  font-size:             var(--font-size-h4);
  font-weight:           var(--font-weight-light);
}

.btn-kiosk-lg {
  width:                  100%;
  min-height:            120px;
  font-size:             var(--font-size-h2);
  font-weight:           var(--font-weight-bold);
  line-height:           110px;
}
// ====================== END KIOSK COMPONENTS ======================


// ======================== SCROLLER ========================
.scrollpanel {
  position:              absolute;
  top:                  45px;
  bottom:               48px;
  z-index:              1;
  width:                100%;
  overflow:             hidden;
}

.scroller {
  position:              absolute;
  z-index:              1;
  width:                100%;
  padding-right:        var(--spacing-large);
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-user-select:   none;
  -moz-user-select:      none;
  -ms-user-select:       none;
  user-select:          none;
  -webkit-transform:     translateZ(0);
  -moz-transform:        translateZ(0);
  -ms-transform:         translateZ(0);
  transform:            translateZ(0);
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -moz-text-size-adjust: none;
  text-size-adjust:     none;
}

.iScrollIndicator {
  position:              absolute;
  box-sizing:            border-box;
  display:              block;
  width:                100%;
  height:               8px;
  background-color:     var(--color-interface-strongest);
  border:               1px solid var(--color-interface-soft);
  border-radius:        3px;
  opacity:              0.3;
  -webkit-transition:    0ms cubic-bezier(.1, .57, .1, 1);
  transition:           0ms cubic-bezier(.1, .57, .1, 1);
  transform:            translate(0, 0) translateZ(0);
}

.iScrollVerticalScrollbar,
.iScrollLoneScrollbar {
  position:              absolute;
  top:                  2px;
  right:                1px;
  bottom:               2px;
  z-index:              1;
  width:                7px;
  // overflow:             hidden;
}
// ====================== END SCROLLER ======================


