
.table-bordered th, .grid-table tfoot td.grid-footer  {
	.make-gradient(@rockHeaderBackground);
	font-size: 10px;
	color: #444;
	text-transform: uppercase;
}

/* bootstrap override */
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th
{
    cursor: pointer;
}

.grid-table th a:hover
{
    text-decoration: none;
}

td[align=center] 
{
    text-align: center;
}

.grid-table a.minimal i
{
    text-decoration: none;
    color: @textColor;
}

.grid-table thead th.ascending a::before
{
    padding-right: 5px;
	content: "\f0d8";
	font-family: FontAwesome; 
}

.grid-table thead th.descending a::before
{
    padding-right: 5px;
	content: "\f0d7";
	font-family: FontAwesome; 
}


.grid-table tfoot td .btn
{
    margin-left: 8px;
}

.grid-table .pagination
{
    margin: 0;
}

.grid-table .pagination a
{
    color: @textColor;
}

.grid-table .page-navigation
{
    float: right;
}

.grid-table .pagination ul > li > a, .pagination ul > li > span
{
    font-size: 11px;
    padding: 4px 12px;
}

/* grid filter styles */
.grid-filter 
{
    background-color: #f9f9f9;
    border-radius: 4px 4px 4px 4px;
    border-width: 1px;
    border-color: #ddd;
    border-style: solid;
    padding: 0 0 12px 6px;
	margin-bottom: -10px;
}

.grid-filter header {
    .make-gradient(@rockHeaderBackground);
    margin: 0 0 -4px -6px;
    border-radius: 4px 4px 0 0;
    padding: 4px;
    cursor: pointer;
    height: 22px;
}

.grid-filter header div {
    float: right;
}

.grid-filter header h3 {
    font-size: 12px;
    margin: 0 2px 0 2px;
    line-height: 16px;
    display: inline;
	font-weight: normal;
	font-family: @rockSansFontFamilyLight;
}

.grid-filter header i {
    color: #7c7c7c;
}

.grid-filter fieldset 
{
    margin-bottom: 0;
}

.grid-filter legend 
{
    font-size: 16px;
    margin-bottom: 0;
}

.grid-filter +  div .grid-table 
{
    margin-top: -12px;   
}

.grid-filter-entry
{
    margin-bottom: 12px;
}

.grid-filter-entry .control-group
{
    width: 350px;
    float: left;
}

 .grid-filter-entry legend + .control-group
 {
     margin-top: 0;
 }

.grid-filter-overview fieldset
{
    margin-bottom: 12px;
}

/* grid light style */
.table-light thead th
{
    background-color: inherit;
    color: #515151;
    font-weight: bold;
}

.table-light tfoot td 
{
    background-color: inherit;
}

.table-light tfoot td .grid-actions a
{
    border-radius: 0;
    border-style: none;
    border-width: 0;
    box-shadow: none;
    border-color: none;
}

/* grid disabled styling */
.grid-table.aspNetDisabled
{
    opacity: 0.5;
}

.grid-table.aspNetDisabled.table-hover tbody tr:hover th,
.grid-table.aspNetDisabled.table-hover tbody tr:hover td
{
    background-color: inherit;
    cursor: default;
}

.grid-table.aspNetDisabled a
{
    cursor: default;
}

.grid-icon-cell.delete a.aspNetDisabled {
    cursor: default;
    color: #CCCCCC;
}

.grid-table .page-size {
	float: left
}

.grid-actions {
	text-align: right;
}


/* grid count item */
.grid-table .item-count
{
    float: left;
    font-size: 11px;
    margin-left: 10px;
    margin-top: 6px;
}
