//
// Asset Manager - Styles for the asset manager
// --------------------------------------------------

.assetmanager-files {
  .checkbox {
    width: @custom-control-indicator-size;
    padding-left: 0;
  }
}

.assetmanager-actions {
  .fileupload-group {
    margin-bottom: 0;
  }
}

.file-asset-manager,
.file-asset-manager > .block-content,
.file-asset-manager > .block-content > div:not(.config-bar),
.file-asset-manager > .block-content > div:not(.config-bar) > .obsidian-block-wrapper,
.file-asset-manager > .block-content > div:not(.config-bar) > .obsidian-block-wrapper > .obsidian-block {
  height: 100%;
  margin-top: var(--spacing-medium);
}

.file-asset-manager .panel-body > .panel-flex-fill-body {
  position: unset;
  height: 100%;
  @media (max-width: @screen-md) {
    height: unset;
  }
}

.file-asset-manager .panel.panel-block:has(.panel-flex-fill-body) {
  overflow-y: unset;
}

.file-asset-manager .panel-body:has(.panel-flex-fill-body) {
  overflow: hidden auto;
}

.file-asset-manager .panel-body {
  padding: 0;
}

.file-asset-manager .panel-body:has(.panel-flex-fill-body) {
  padding: 0;
}

.panel-flex-fill-body #pnlAssetManager {
  border-bottom: 0;
}

#pnlAssetManager {
  border-radius: var(--rounded-xsmall);
  border-bottom: 1px solid var(--color-interface-soft);
  @media (max-width: @screen-md) {
    border-bottom: 0;
    height: 100% !important;
  }
}

.panel-body:has(.file-asset-manager) {
  padding: 0;
}

.actions.assetmanager-actions {
  margin-bottom: var(--spacing-xsmall);

  & > .pull-left {
    margin-right: var(--spacing-xsmall);
  }
}

.file-asset-manager table.assetmanager-files {
  border-left: none;
  border-right: none;
}

.modal-body:has(#pnlAssetManager) {
  padding: 0;
}

.modal-body #pnlAssetManager {
  border-bottom: 0;
}
