// imported in _components.less

// Bootstrap Button Extensions
// --------------------------------------------------


// Square button
// --------------------------------------------------

.btn-square {

  &.btn-sm {
    align-content: center;
  }

}

// Add Button
// --------------------------------------------------

.btn-add {
  color: var(--color-info-strong);
  padding: 0;

  &:hover,
  &:focus {
    color: var(--color-success-strong);
  }
}
