.inline-svg {
  display: inline-flex;
  width: 1.25em;
  height: 1em;
  line-height: 1;
  fill: currentColor;
}

.form-builder-detail {
  --zone-border: #ebebeb;
  --zone-configurable-border: #f5faff;
  --zone-configurable-hover-border: #dfe0e1;
  --zone-action-bg: #f5faff;
  --zone-action-border: #dde7f2;
  --zone-action-color: #89a1b9;
  --zone-action-hover-color: fade(@text-muted, 100%);
  --zone-active-color: #c9eaf9;
  --zone-active-action-color: #83bad3;
  --zone-highlight-color: #ee7725;
  --zone-highlight-action-text-color: #e4bda2;
  --flex-col-gutter: 30px;
  --zone-border-radius: 6px;

  .zone-body {
    .configurable-zone > .zone-content-container > .zone-content {
      pointer-events: none;
    }

    > div > .form-group {
      margin-bottom: 0;
    }
  }


  /*** Configurable Zones ***/
  .configurable-zone {
    position: relative;
    display: flex;
    margin-bottom: 12px;
    transition: border-color 108ms cubic-bezier(.2, .2, .38, .9);

    &.zone-section {
      flex-grow: 1;

      > .zone-actions{
        position: relative;
      }
    }

    > .zone-content-container {
      display: flex;
      flex-grow: 1;
      background: #fff;
      border: 2px dotted var(--zone-border);
      border-right: 2px solid var(--zone-action-border);
      border-radius: var(--zone-border-radius) 0 0 var(--zone-border-radius);

      > .zone-content {
        flex-grow: 1;

        > .zone-body {
          display: flex;
          flex-direction: column;
          min-height: 100%;
          padding: 20px;
        }
      }
    }

    > .zone-actions {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 40px;
      background-color: var(--zone-action-bg);
      border: 2px solid var(--zone-action-border);
      border-left: 0;
    }

    &.active {
      > .zone-content-container {
        border-color: var(--zone-active-color);
      }

      > .zone-actions {
        background-color: var(--zone-active-color);
        border-color: var(--zone-active-color);
      }
    }

    &.highlight {
      > .zone-content-container {
        border-color: var(--zone-highlight-color);
        border-right-style: dotted;
      }
    }
  }

  /*** Form Sections ***/
  .form-section {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 50px;
    margin: 0 ~"calc(-.5 * var(--flex-col-gutter))" -10px;
  }

  .form-layout .form-template-item {
    padding: 16px;
    margin: 0 0 12px;
    font-size: 18px;

    &.form-template-item-field {
      flex-basis: ~"calc(100% - var(--flex-col-gutter) - 40px)";
      margin: ~"0 calc(.5 * var(--flex-col-gutter) + 40px) 12px calc(.5 * var(--flex-col-gutter))";
    }
  }

  .form-section .configurable-zone {
    --zone-border: var(--zone-configurable-border);

    > .zone-actions {
      border-style: dotted;
      border-radius: 0 var(--zone-border-radius) var(--zone-border-radius) 0;
      opacity: 0;
      transition: opacity 116ms cubic-bezier(.2, .2, .38, .9), transform 116ms cubic-bezier(.2, .2, .38, .9);
      transform: scaleX(0);
      transform-origin: 0% 0%;
    }

    > .zone-content-container {
      border-right: 2px dotted var(--zone-border);
    }

    &.active,
    &:hover {
      --zone-border: var(--zone-configurable-hover-border);
      > .zone-content-container {
        border-right-color: transparent;
      }

      > .zone-actions {
        opacity: 1;
        transform: scaleX(1);
        transform-origin: 0% 0%;
      }
    }
  }

  /*** Flex Column Sizes ***/
  .flex-col {
    margin-right: ~"calc(.5 * var(--flex-col-gutter))";
    margin-left: ~"calc(.5 * var(--flex-col-gutter))";
  }

  .flex-col-1 {
    flex-basis: ~"calc(8.3333% - var(--flex-col-gutter))";
  }

  .flex-col-2 {
    flex-basis: ~"calc(16.6666% - var(--flex-col-gutter))";
  }

  .flex-col-3 {
    flex-basis: ~"calc(25% - var(--flex-col-gutter))";
  }

  .flex-col-4 {
    flex-basis: ~"calc(33.3333% - var(--flex-col-gutter))";
  }

  .flex-col-5 {
    flex-basis: ~"calc(41.6666% - var(--flex-col-gutter))";
  }

  .flex-col-6 {
    flex-basis: ~"calc(50% - var(--flex-col-gutter))";
  }

  .flex-col-7 {
    flex-basis: ~"calc(58.3333% - var(--flex-col-gutter))";
  }

  .flex-col-8 {
    flex-basis: ~"calc(66.6666% - var(--flex-col-gutter))";
  }

  .flex-col-9 {
    flex-basis: ~"calc(75% - var(--flex-col-gutter))";
  }

  .flex-col-10 {
    flex-basis: ~"calc(83.3333% - var(--flex-col-gutter))";
  }

  .flex-col-11 {
    flex-basis: ~"calc(91.6666% - var(--flex-col-gutter))";
  }

  .flex-col-12 {
    flex-basis: ~"calc(100% - var(--flex-col-gutter))";
  }
}

.form-builder-grow {
  position: relative;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.form-builder-container {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.form-builder-scroll {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.form-layout {
  position: relative;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto;
}

.form-layout-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form-sidebar {
  position: relative;
  z-index: 20;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  min-width: 320px;
  max-width: 320px;
  overflow: hidden;
  background-color: @gray-50;
  border-right: 1px solid #dfe0e1;

  .panel-body {
    padding: 12px 16px;
  }

  .panel-title {
    padding: 0 16px !important;
    font-size: 16px;
  }
}

.sidebar-back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  cursor: pointer;
  background-color: #484848;

  &:hover {
    background-color: #3d3d3d;
  }
}

.sidebar-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #dfe0e1;

  .title {
    display: flex;
    align-items: center;
    padding: 8px;
  }

  .icon {
    width: 1em;
    height: 1em;
    margin-right: 8px;
    font-size: 1.125rem;
  }
}

.sidebar-body {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sidebar-panels {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .panel-default {
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid @panel-border;
    border-radius: 0;
    box-shadow: none;
  }

  > div:nth-child(2) > .panel {
    border-top: 0;
  }

  > div:last-child {
    border-bottom: 1px solid @panel-border;
  }

  .panel-heading {
    background: @gray-100;
    border-bottom: 0;
    transition: .1s background ease-in-out;

    > .panel-aside {
      color: @text-muted;
    }

    &:hover {
      background: @gray-50;

      > .panel-aside {
        color: @text-color;
      }
    }

    &:active {
      background: @gray-300;
    }
  }
}

.form-template-item-list {
  --gutter: 8px;
  display: flex;
  flex-wrap: wrap;
  margin-top: ~"calc(-1 * var(--gutter))";
  margin-right: ~"calc(-.5 * var(--gutter))";
  margin-left: ~"calc(-.5 * var(--gutter))";

  .form-template-item {
    flex-shrink: 0;
    width: ~"calc(50% - var(--gutter))";
    max-width: 100%;
    margin-top: var(--gutter);
    margin-right: ~"calc(var(--gutter) * .5)";
    margin-left: ~"calc(var(--gutter) * .5)";
  }
}


.zone-action {
  z-index: 10;
  width: 100% !important;
  padding: 6px 4px;
  color: var(--zone-action-color);
  text-align: center;
  cursor: pointer;

  &:hover {
    color: var(--zone-action-hover-color);
  }

  .configurable-zone.active & {
    color: var(--zone-active-action-color);
  }

  &.zone-action-delete:hover {
    color: @brand-danger;
  }
}

.zone-action-move {
  margin-bottom: auto;
  cursor: grab;
}


.section-header {
  display: flex;
}

.section-header-content {
  flex-grow: 1;
  align-items: center;
}

/*** Form Template Items ***/

.form-template-item {
  display: flex;
  align-items: center;
  padding: 7px 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: grab;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-left-width: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  transition: all 108ms cubic-bezier(.2, .2, .38, .9);
  transform: scale(1);

  > .fa {
    margin-right: 6px;
  }

  > .icon {
    width: 18px;
    height: 18px;
    margin-right: 3px;
  }

  > .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    border-color: @brand-primary;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    transform: scale(1.02);
  }

  &.form-template-item-section {
    border-left-color: #009ce3;
  }
}


.block-instance.form-list {
  .panel-body {
    flex: 1 0 0;
    overflow: hidden;
  }

  .filter-options,
  .form-category-display {
    overflow-y: auto;
  }

  .filter-options {
    min-width: 320px;
    padding: 0 !important;

    .category-header {
      padding: 18px 18px 12px;
    }

    @media (max-width: @screen-md-max) {
      border-right: 0;
      border-bottom: 1px solid @panel-border;
    }
  }

  .form-actions {
    margin-top: 12px;
  }

  .btn-link-spaced {
    padding: 0;
    margin-right: 8px;
  }

  .btn-link-spaced + .btn-link-spaced {
    margin-left: 8px;
  }
}
