//
// HTML Editor (summernote)
// --------------------------------------------------

.note-editor.panel-default {
  border-color: @panel-border;
}

.note-editor.panel-default > .panel-heading {
  background-color: @panel-bg;
}

.htmleditor-filebrowser .is-postback {
  > .modal-header {
    padding: 5px 15px;
    margin: 0 -15px 15px;
    margin-top: 0;
    color: @modal-header-text-color;
    background-color: @modal-header-bg;
  }

  > .modal-footer {
    padding: 8px 24px;
    margin-right: -15px;
    margin-left: -15px;
    color: @modal-footer-text-color;
    background-color: @modal-footer-bg;
  }
}

.htmleditor-assetmanager .is-postback {
  > .modal-header {
    padding: 5px 15px;
    margin: 0 -15px 15px;
    margin-top: 0;
    color: @modal-header-text-color;
    background-color: @modal-header-bg;
  }

  > .modal-footer {
    padding: 8px 24px;
    margin-right: -15px;
    margin-left: -15px;
    color: @modal-footer-text-color;
    background-color: @modal-footer-bg;
  }
}

.picker-folders,
.picker-files {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;

  @media (min-width: @screen-xs-min) {
    float: left;
  }

  .scroll-container-vertical {
    width: auto;

    .viewport {
      width: auto;
    }
  }
}

.picker-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.picker-folders {
  max-width: 320px;
  padding-right: 24px;
  @media (max-width: @screen-xs-max) {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
    padding-bottom: 24px;
  }

  .actions {
    margin-bottom: @spacing-md-px;
  }

  @media (max-width: @screen-xs-max) {
    .scroll-container-vertical .viewport {
      height: 100px;
    }
  }
}

.picker-files {

  .empty-folder-notification {
    display: block;
    text-align: center;
  }

  .assetmanager-actions .fileupload-group {
    padding: 0;
    border: 0;

    .fileupload-button {
      height: 33px;
      padding: 7px 10px;
      line-height: 1;
    }
  }

  img.file-browser-image {
    width: 80px;
    height: 80px;
  }
}

iframe.file-browser {
  border: 0;
}
