//
// List Extensions - additional list options
// --------------------------------------------------

.list-horizontal {
  .clearfix();

  li {
    float: left;
    margin-right: 2px;
    margin-bottom: 4px;
  }
}
