//
// Drop Down Lists - Override default styles of ANT select component
// --------------------------------------------------

.ant-select.form-control {
  padding: 0;
}

.ant-select.form-control .ant-select-selector {
  height: (@input-height - 2px);
  padding: @input-padding-y @input-padding-x;
  margin: 0;
  background-color: initial;
  border: none;
  box-shadow: none;
}

.ant-select-single .ant-select-selector .ant-select-selection-item, .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
  height: floor(@input-line-height * @input-font-size);
  line-height: @input-line-height;
}

.ant-select.ant-select-multiple.form-control .ant-select-selector {
  padding: 1px 12px;
}

.ant-select.ant-select-focused:not(.ant-select-disabled).form-control {
  border-color: @input-border-focus;
  outline: none;
  box-shadow: 0 0 0 2px @input-focus-rgba;
}

.ant-select.ant-select-focused:not(.ant-select-disabled).form-control .ant-select-selector {
  border: none;
  outline: none;
  box-shadow: none;
}

.ant-select.form-control .ant-select-arrow,
.ant-select.form-control .ant-select-clear {
  margin-top: -8px;
  width: 16px;
  height: 16px;
  font-size: 16px;
}

/* Prevent clear button from overlapping chevron arrow. */
.ant-select-clear {
  right: 30px;
}

/* Allow control height to grow in multi-select mode. */
.ant-select.ant-select-multiple.form-control,
.ant-select.ant-select-multiple.form-control .ant-select-selector {
  height: initial;
  min-height: 38px;
}
