//
// Drop Down Lists - Override default styles of ANT select component
// --------------------------------------------------

.ant-select {
  &.form-control {
    padding: 0;

    .ant-select-selector {
      height: @input-height-base;
      padding: @input-padding-y @input-padding-x;
      border-radius: @input-border-radius;
      margin: 0;
      background-color: initial;
      border: none;
      box-shadow: none;
    
      .ant-select-selection-item {
        display: inline-flex;
        align-items: center;
      }
    }
  }

  &.ant-select-focused:not(.ant-select-disabled).form-control {
    border: 1px solid @input-border-focus;
    outline: none;
    box-shadow: var(--focus-state-shadow);
  }

  &.ant-select-focused:not(.ant-select-disabled).form-control .ant-select-selector {
    border: none;
    outline: none;
    box-shadow: none;
  }

  &.form-control .ant-select-arrow,
  &.form-control .ant-select-clear {
    width: 16px;
    height: 16px;
    font-size: 16px;
  }

  /* Allow control height to grow in multi-select mode. */
  &.ant-select-multiple.form-control,
  &.ant-select-multiple.form-control .ant-select-selector {
    height: initial;
    min-height: @input-height-base;
  }
}

/* Prevent clear button from overlapping chevron arrow. */
.ant-select-clear {
  right: 30px;
}
