//
// Navigation for Paging - styles for creating a pager
// --------------------------------------------------

.nav-paging {
  .btn-prev {
    float: left;
  }

  .btn-next {
    float: right;
    margin-left: auto !important;
  }
}
