//
// Person Directory
// --------------------------------------------------

.directory-letters {
  li {
    width: 3.8455%;
    min-width: 20px;
  }
}

.directory-grid {
  & > div.row:nth-child(odd) {
    background-color: @grid-row-odd-bg;
  }
}
