//
// Photo Round
// --------------------------------------------------

.photo-round {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;

  &.photo-round-sm {
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
  }

  &.photo-round-xs {
    width: 20px;
    height: 20px;
    border-radius: 17.5px;
  }
}
