//
// Pill Help (used in security dialog)
// --------------------------------------------------

.nav > li.pill-help {
  a {
    color: @nav-pills-link-color;

    &:hover,
    &:focus {
      color: @nav-pills-link-color;
      background-color: transparent;
    }
  }
}

.well-pillwrap {
  background-color: @nav-pills-container-bg;
  border-color: @nav-pills-container-border;
}
