//
// Security Controls - login status etc
// --------------------------------------------------

.loginstatus {
  .dropdown-toggle.navbar-link {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: var(--spacing-xsmall);
  }

  & > li {
    min-width: 160px;
    text-align: right;

    & li {
      text-align: left;
    }
  }
}


.splash-form-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
