//
// Security Controls - login status etc
// --------------------------------------------------

.loginstatus {
  & > li {
    min-width: 160px;
    text-align: right;

    & li {
      text-align: left;
    }
  }
}
