// imported in _components.less

// Bootstrap Tooltip Extensions

.tooltip-inner {
  word-break: break-word;

  > * {
    color: inherit;
  }
}

// ===================== TOOLTIP WIDE =====================


.tooltip-wide {
  .tooltip-inner {
    max-width: @tooltip-max-width * 1.5;
  }
}
// ====================== END TOOLTIP WIDE ======================
