//
// Tree - used for tree control
// --------------------------------------------------

ul.rocktree,
ul.rocktree ul {
  padding: 0;
  margin-bottom: @spacing-lg-px;
  list-style-type: none;
}

ul.rocktree ul {
  margin: 0 0 0 @spacing-md-px;
}

.rocktree {
  .rocktree-item {
    color: @text-color;
    white-space: nowrap;

    &.is-inactive {
      color: lighten(@text-color, 20%);
    }

    & > i {
      padding: 4px;
      cursor: pointer;
    }

    .select-children {
      display: none;
      opacity: .8;
    }

    &:hover {
      .select-children {
        display: inline;
      }
    }
  }

  li {
    margin: 0;
  }

  span,
  a {
    display: inline-block;
    margin: 1px;
  }

  .rocktree-name:hover,
  span:hover,
  span:hover a {
    color: @tree-rollover-color;
    background: @tree-rollover-bg;
  }

  .selected,
  .selected a {
    color: @tree-selected-color;
    background: @tree-selected-bg;
  }

  .rocktree-name {
    padding: 2px 6px;
    cursor: pointer;
    border-radius: 3px;
    border-radius: var(--border-radius-base);
  }

  .disabled {
    cursor: default;

    &:hover {
      color: @text-color;
      background: inherit;
    }
  }

  .rocktree-loading {
    margin-left: 10px;
    font-size: 12px;
    color: @text-color !important;

    i {
      margin-right: 5px;
    }
  }

  .rocktree-leaf {
    padding-left: 18px;
  }
}

// treeview wrapper
.treeview {
  margin-bottom: @spacing-md-px;
  .treeview-frame {
    padding-left: 0;
  }

  .treeview-actions {
    margin-bottom: @spacing-sm-px;

    .btn {
      margin-bottom: 4px;
    }
  }
}
