//
// TypeAhead - styles for type ahead support
// --------------------------------------------------

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 200px;
  padding: 12px;
  color: @autocomplete-text;
  background-color: @autocomplete-bg;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid @autocomplete-border;
  border-radius: 0 0 @border-radius-base @border-radius-base;
  .box-shadow(0 5px 10px rgba(0,0,0,.2));
}

.tt-suggestion {
  display: block;

  p {
    padding: 4px;
    margin: 0;
    border-radius: @border-radius-base;

    &:hover {
      color: @autocomplete-rollover-color;
      background-color: @autocomplete-rollover-bg;
    }
  }
}

.tt-suggestion.tt-is-under-cursor {
  color: lighten(@autocomplete-text, 30%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0088cc", endColorstr="#ff0077b3", GradientType=0);
  background-repeat: repeat-x;
}

.tt-suggestion.tt-is-under-cursor a {
  color: @autocomplete-text;
}
