//
// Well Message - A larger alert type function for
// delivering important messages.
// --------------------------------------------------

.well-message {
  text-align: center;


  h1 {
    font-size: 38px;
  }

  i {
    margin: 12px 0;
    font-size: 84px;
  }

  &.well-message-info {
    color: @state-info-text;
    background-color: @state-info-bg;
    border-color: @state-info-border;
  }

  &.well-message-success {
    color: @state-success-text;
    background-color: @state-success-bg;
    border-color: @state-success-border;
  }

  &.well-message-danger {
    color: @state-danger-text;
    background-color: @state-danger-bg;
    border-color: @state-danger-border;
  }

  &.well-message-warning {
    color: @state-warning-text;
    background-color: @state-warning-bg;
    border-color: @state-warning-border;
  }

  &.well-message-critical {
    color: @brand-critical;
    background-color: mix(lighten(@brand-critical, 4%), #fff, 15%);
    border-color: @brand-critical;
  }
}
