/**
 * Name: Box
 * Purpose: Placeholder content
 */

.box { 
    height: 500px; 
    width: 100%; 
    margin-top: $guttering*4;
    background-color: white;
    @include respond-max($bp-sm) {
        height: 250px; 
        margin-top: $guttering*2;
    }
}   

.box--nudge-top { margin-top: $guttering*2; }
.box--nudge-bottom { margin-bottom: $guttering*2; }

.box--zero-top { margin-top: 0; }
.box--zero-bottom { margin-bottom: 0; }