.my-workflows-alerts {
    display: inline-block;
    vertical-align: middle;
}

.login-status {
    display: inline-block;
    vertical-align: middle;
}

.workflowNotifications {
    position: relative;
    display: inline-block;
    text-align: left;
    padding: 0 20px 0 0;
}

.workflowNotifications i {
    color: #fff;
    font-size: 30px;
    position: relative;
}

.workflowNotifications .badge {
    position: absolute;
    right: -10px;
    top: -6px;
}