// Breadcrumbs
.breadcrumb {
	background-color: transparent;
	padding: 0;

	li, a {
		font-family: @font-family-sans-serif;
		font-size: floor((@font-size-base * .8));
		font-weight: 700;
		text-decoration: none;
	}
}