.split-image-container {
	@media (min-width: @screen-md-min) {
		position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    width: 39%; 
	    z-index: -1;
	    opacity: 1;

		.split-image {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}