<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.OData" version="5.7.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.OData.Core" version="6.13.0" targetFramework="net472" />
  <package id="Microsoft.OData.Edm" version="6.13.0" targetFramework="net472" />
  <package id="Microsoft.Spatial" version="6.13.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
</packages>