/* FontAwesome Start */
@fa-theme-weight: 900;
@fa-theme-weight-name: 'solid';

@import "../../../Styles/FontAwesome/_rock-fa-mixins.less";
/* FontAwesome End */
@background-color: #e3b245;
@brand-primary: #638182;
@checkin-button-background: #ffffff;
@sheet-background: #ffffff;
@logo-image: '/Content/Themes/CheckinMountainCity/mntcity_logo_icon-dark.svg.svg';
@welcome-image: '/Content/Themes/CheckinMountainCity/Check-in_Rock-background-white.png';
@welcome-text: "Welcome to Mountain City Church";
@font-family-base: "Montserrat","Inter", sans-serif;
