.page-background {
    background-color :#000 !important;
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/hero-home.jpg") !important;
    background-size: unset;
}

/* Mobile Background Image */
@media screen and (max-width: 500px) {
    .page-background {
        background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/hero-mobile-home.jpg") !important;
    }
}

#subnavbar-bg {
    display: none;
}

.main-feature {
    padding-top: 175px;
    height: unset;
}

.title h1 {
    color: #FFFFFF;
    text-align: center;
    padding-top: 50px;
}

.title-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 155px;
    margin-top: 25px;
}

@media screen and (max-width: 500px) {
    .title-buttons {
        flex-direction: column;
    }
}

.btn-register, .btn-login {
    height: 50px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-family: heebo;
    font-size: 14px;
    line-height: 18px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin: 9px 10px;
    text-decoration: none;
}

.btn-register:hover, .btn-login:hover {
    text-decoration: none;
}

.btn-login:hover {
    color: #FFFFFF;
}

.btn-register {
    background-color: #FFFFFF;
    color: #212121;
    font-weight: 700;
}

#loggedinspacer {
    padding-top: 230px;
}

#desktopspacer {
    padding-top: 100px;
}

#subnavbar-bg, #section-a-bg {
    background-color: #000;
}

#section-a-bg {
    display: none;
}

#ternavbar-bg {
    display: none;
}

/* Mobile Styling */
@media screen and (max-width: 500px) {
    .main-feature {
        height: unset;
        padding-top: 50px;
    }
    
    .title h1 {
        padding-top: 0;
        font-size: 32px;
    }

    #loggedinspacer {
        display: none;
    }

    #desktopspacer {
        display: none;
    }
}

/* Call To Action Section */
.cta-cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.cta-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 210px;
    background-color: rgba(0,0,0,.7);
    padding: 30px;
}

.cta-link {
    color: #FFFFFF;
    font-family: akrobat;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.cta-link:hover, .cta-link:focus, .cta-link:active {
    color: #FFFFFF;
    text-decoration: none;
}

.cta-link img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.cta-link i {
    line-height: normal !important;
}

.cta-link i:first-child {
    color: #7a1315;
}

.cta-content {
    margin-top: 15px;
    color: rgb(215, 215, 215);
    font-family: Heebo;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
}

/* Mobile Styling */
@media screen and (max-width: 500px) { 
    .cta-cards {
        flex-direction: column;
    }

    .cta-card {
        width: 100%;
        align-self: center;
        margin-bottom: 10px;
        min-height: 250px;
    }
}

/* End Call To Action */


/* Campus Cards Section */
#section-b-bg {
    background-color: #000;
}

.campuses-cards {
    padding: 30px 0;
}

.campuses-cards-header {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
}

.campuses-cards-header h3 {
    color: #707270;
    font-size: 32px;
}

/* Nav buttons */
.campuses-cards-header .nav-buttons {
    display: flex;
    justify-content: flex-end;
}

.campuses-cards-header .nav-button {
    color: #FFFFFF; 
    font-size: 24px; 
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
    background-color: unset;
    border-width: unset;
    border-style: unset;
    border-color: unset;
    border-image: unset;
}
/* End Nav Buttons */

.campus-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 15px;
    height: 400px;
    border: unset;
    border-width: unset;
    z-index: 1; 
    overflow: hidden;
}

.campus-card h4 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(43, 43, 43);
}

.campus-card .directions {
    color: #FFFFFF;
    font-family: akrobat;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
}

.campus-card .directions i {
    font-size: 18px;
}

.campus-card h5 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.coming-soon-spacer {
    height: 78px;
}

.service-times {
    color: #FFFFFF;
}

.service-times li {
    color: #7c7c7c;
}

.service-times ul li img {
    display: inline-block;
}


.campus-card:focus, .directions:focus {
    outline: none;
}

/* Mobile Styling */
@media screen and (max-width: 500px) {
    .campuses-cards {
        padding: 0;
        margin-top: -70px;
    }

    .btn-campus {
        margin-bottom: 20px;
    }
}

/* End Campus Cards Section */

/* About Church Section */
.about-church {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px 0;
}

.about-church .content {
    width: 100%;
}

.about-church .content h1 {
    font-size: 44px;
    line-height: 48px;
    color: #000;
    font-family: akrobat;
    font-weight: 700;
    margin-top: 0;
}

.about-church .content p {
    color: #707270;
    font-family: Heebo;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    width: 80%;
    margin: unset;
}

.about-church .image {
    width: 100%;
    height: auto;
}

.about-church .image img {
    width: 90%;
    border-radius: 6px;
}

/* Mobile Styling */
@media screen and (max-width: 500px) { 
    .about-church {
        flex-direction: column-reverse;
        padding: 20px 0;
        margin: 0;
    }

    .about-church .image img {
        width: 100%;
        margin-bottom: 10px;
    }

    .about-church .content h1 {
        font-size: 24px;
        line-height: 28px;
    }

    .about-church .content p {
        width: 100%;
        font-size: 14px;
        line-height: 28px;
        padding: 10px;
        border-left: none;
    }
}

/* Tablet Styling */
@media screen and (max-width: 768px) { 
    .about-church {
        margin: 0;
        padding: 20px 0;
    }
}

/* End About Church Section */

/* Kids / Students Section */
#zone-sectiond {
    margin: 0 -15px;
    max-width: unset;
}

@media screen and (max-width: 500px) {
    #zone-sectiond {
        margin: 0;
    }
}

.kids-students {
    display: flex;
    width: 100%;
}

.kids {
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/background-small-home-kids.jpg");
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kids img {
    max-width: 250px;
}

.students {
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/background-small-home-students.jpg");
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.students img {
    max-width: 450px;
}

.kids-students .btn {
    margin-top: 30px;
}

/* Tablet Styling */
@media screen and (max-width: 768px) { 
    .kids-students {
        flex-direction: column
    }

    .kids, .students {
        width: 100%;
    }

    .kids-students .btn {
        width: 95%;
    }
}

/* Mobile Styling */
@media screen and (max-width: 500px) { 
    .kids-students {
        flex-direction: column;
    }

    .kids, .students {
        width: 100%;
    }

    .students img {
        width: 90%;
    }

    .kids-students .btn {
        width: 85%
    }
}


/* End Kids / Studetns Section */

.btn.btn-primary:focus {
    outline: none;
}