

.btn {
  padding: 10px 30px;
}


.btn-lg {
  padding: @padding-large-vertical @padding-large-horizontal;
}

.btn-sm {
  padding: @padding-small-vertical @padding-small-horizontal;
}

.btn-xs {
  padding: @padding-xs-vertical @padding-xs-horizontal;
}

.btn-wrap {
  max-width: 100%;
  white-space: normal;
}
