.page-background {   
    background-color: #EBEBEB;
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/stand-alone/hero-changed.jpg");
    background-position: center top;
    margin: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Mobile Background Image */
@media screen and (max-width: 500px) {
    .page-background {
        background-image: url("/Themes/church_ccv_External_v8/Assets/Images/stand-alone/hero-mobile-changed.jpg");
    }
}

.vid-row {
    display: flex;
    flex-wrap: nowrap;
}

.vid {
    min-width: 350px;
    padding: 5px;
}

.top-and-bottom-container {
    margin: 0 auto;
    padding-top: 40px;
}

.changed-icon {
    margin-right: 15px;
    background-color: #7A1315;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.changed-icon img {
    width: 50px;
    height: 50px;
}

.right-title {
    display: flex;
    align-items: center;
}

#ternavbar-bg, #section-c-bg {
    display: none;
}

#section-b-bg, #section-d-bg {
    background-color: #FFFFFF;
}

/* Mobile Background Image */
@media screen and (max-width: 700px) {
    .vid-row {
        display: flex;
        flex-direction: column;
    }
    
    .vid {
        min-width: 300px;
        padding: 5px;
    }

    .top-and-bottom-container {
        padding-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    .vid {
        min-width: 380px;
        padding: 5px;
    }
}

@media screen and (max-width: 375px) {
    .vid {
        min-width: 340px;
        padding: 5px;
    }
}

@media screen and (max-width: 320px) {
    .vid {
        min-width: 290px;
        padding: 5px;
    }
}