<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="SendGrid" version="9.14.1" targetFramework="net472" />
  <package id="UAParser" version="3.1.44" targetFramework="net472" />
</packages>