// out:false

.modal:not(.rock-modal) {
  .rounded-md();
  overflow: hidden;
  border: 2px solid #E6E6E6;

  .modal {
    &-header {
      background-color: #F8F9FA;
      padding: 24px;
      position: relative;

      button.close {
        margin-top: 0px;
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translateY(-50%);
      }
    }

    &-body {
      padding: 24px;
      border-bottom: 2px solid #E6E6E6;
    }

    &-footer {
      border-top: 0;
      background-color: #F8F9FA;
      padding: 24px;
    }
  }
}
