.text-center {
	text-align: center;
}

.strong {
	font-weight: 700;
}

.strongest {
	font-weight: 900;
}

.capitalize {
	text-transform: capitalize;
}

.uppercase {
	text-transform: uppercase;
}

.background-cover {
	background-size: cover;
}

.borderless {
	border: 0px;
}

.rounded-corners {
	border-radius: 5px;
}

.full-width {
	width: 100%;
}

.constrained {
	max-width: 800px;
	margin: 0 auto;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.flex {
	display: flex;
	align-items: center;
}

@media (max-width: @screen-md-min) {
	.handheld-block {
		display: block;
	}

	.handheld-inline-block {
		display: inline-block;
	}

	.handheld-inline {
		display: inline;
	}

	.handheld-flex {
		display: flex;
		align-items: center;
	}
}

// Soft

.soft { padding: @base-spacing-unit !important; }
.soft-sides { padding-left: @base-spacing-unit !important; padding-right: @base-spacing-unit !important; }
.soft-ends { padding-top: @base-spacing-unit !important; padding-bottom: @base-spacing-unit !important; }

.soft-top { padding-top: @base-spacing-unit !important; }
.soft-right { padding-right: @base-spacing-unit !important; }
.soft-bottom { padding-bottom: @base-spacing-unit !important; }
.soft-left { padding-left: @base-spacing-unit !important; }

.soft-half { padding: @base-spacing-unit / 2 !important; }
.soft-half-sides { padding-left: @base-spacing-unit / 2 !important; padding-right: @base-spacing-unit / 2 !important; }
.soft-half-ends { padding-top: @base-spacing-unit / 2 !important; padding-bottom: @base-spacing-unit / 2 !important; }

.soft-half-top { padding-top: @base-spacing-unit / 2 !important; }
.soft-half-right { padding-right: @base-spacing-unit / 2 !important; }
.soft-half-bottom { padding-bottom: @base-spacing-unit / 2 !important; }
.soft-half-left { padding-left: @base-spacing-unit / 2 !important; }

@media (min-width: @screen-md-max) {

	.lg-soft { padding: @base-spacing-unit !important; }
	.lg-soft-sides { padding-left: @base-spacing-unit !important; padding-right: @base-spacing-unit !important; }
	.lg-soft-ends { padding-top: @base-spacing-unit !important; padding-bottom: @base-spacing-unit !important; }

	.lg-soft-top { padding-top: @base-spacing-unit !important; }
	.lg-soft-right { padding-right: @base-spacing-unit !important; }
	.lg-soft-bottom { padding-bottom: @base-spacing-unit !important; }
	.lg-soft-left { padding-left: @base-spacing-unit !important; }

	.lg-soft-half { padding: @base-spacing-unit / 2 !important; }
	.lg-soft-half-sides { padding-left: @base-spacing-unit / 2 !important; padding-right: @base-spacing-unit / 2 !important; }
	.lg-soft-half-ends { padding-top: @base-spacing-unit / 2 !important; padding-bottom: @base-spacing-unit / 2 !important; }

	.lg-soft-half-top { padding-top: @base-spacing-unit / 2 !important; }
	.lg-soft-half-right { padding-right: @base-spacing-unit / 2 !important; }
	.lg-soft-half-bottom { padding-bottom: @base-spacing-unit / 2 !important; }
	.lg-soft-half-left { padding-left: @base-spacing-unit / 2 !important; }

}

@media (max-width: @screen-sm-min) {

	.xs-soft { padding: @base-spacing-unit !important; }
	.xs-soft-sides { padding-left: @base-spacing-unit !important; padding-right: @base-spacing-unit !important; }
	.xs-soft-ends { padding-top: @base-spacing-unit !important; padding-bottom: @base-spacing-unit !important; }

	.xs-soft-top { padding-top: @base-spacing-unit !important; }
	.xs-soft-right { padding-right: @base-spacing-unit !important; }
	.xs-soft-bottom { padding-bottom: @base-spacing-unit !important; }
	.xs-soft-left { padding-left: @base-spacing-unit !important; }

	.xs-soft-half { padding: @base-spacing-unit / 2 !important; }
	.xs-soft-half-sides { padding-left: @base-spacing-unit / 2 !important; padding-right: @base-spacing-unit / 2 !important; }
	.xs-soft-half-ends { padding-top: @base-spacing-unit / 2 !important; padding-bottom: @base-spacing-unit / 2 !important; }

	.xs-soft-half-top { padding-top: @base-spacing-unit / 2 !important; }
	.xs-soft-half-right { padding-right: @base-spacing-unit / 2 !important; }
	.xs-soft-half-bottom { padding-bottom: @base-spacing-unit / 2 !important; }
	.xs-soft-half-left { padding-left: @base-spacing-unit / 2 !important; }

}

// Push

.push-top { margin-top: @base-spacing-unit !important; }
.push-right { margin-right: @base-spacing-unit !important; }
.push-bottom { margin-bottom: @base-spacing-unit !important; }
.push-left { margin-left: @base-spacing-unit !important; }
.push-half-top { margin-top: @base-spacing-unit / 2 !important; }
.push-half-right { margin-right: @base-spacing-unit / 2 !important; }
.push-half-bottom { margin-bottom: @base-spacing-unit / 2 !important; }
.push-half-left { margin-left: @base-spacing-unit / 2 !important; }
.push-quarter-top { margin-top: @base-spacing-unit / 4 !important; }
.push-quarter-right { margin-right: @base-spacing-unit / 4 !important; }
.push-quarter-bottom { margin-bottom: @base-spacing-unit / 4 !important; }
.push-quarter-left { margin-left: @base-spacing-unit / 4 !important; }

// Hard

.hard { padding: 0px !important; }
.hard-sides { padding-left: 0px !important; 	padding-right: 0px !important; }
.hard-ends { padding-top: 0px !important; 	padding-bottom: 0px !important; }
.hard-top { padding-top: 0px !important; }
.hard-right { padding-right: 0px !important; }
.hard-bottom { padding-bottom: 0px !important; }
.hard-left { padding-left: 0px !important; }

// Flush

.flush { margin: 0px !important; }
.flush-sides { margin-left: 0px !important; 	margin-right: 0px !important; }
.flush-ends { margin-top: 0px !important; 	margin-bottom: 0px !important; }
.flush-top { margin-top: 0px !important; }
.flush-right { margin-right: 0px !important; }
.flush-bottom { margin-bottom: 0px !important; }
.flush-left { margin-left: 0px !important; }

@media (min-width: @screen-md-min) {
	.lg-flush { margin: 0px !important; }
	.lg-flush-sides { margin-left: 0px !important; 	margin-right: 0px !important; }
	.lg-flush-ends { margin-top: 0px !important; 	margin-bottom: 0px !important; }
	.lg-flush-top { margin-top: 0px !important; }
	.lg-flush-right { margin-right: 0px !important; }
	.lg-flush-bottom { margin-bottom: 0px !important; }
	.lg-flush-left { margin-left: 0px !important; }
}