<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DOTSGeoCoderSoap" />
                <binding name="USAddressVerificationSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ws.serviceobjects.com/gcr/GeoCoder.asmx"
                binding="basicHttpBinding" bindingConfiguration="DOTSGeoCoderSoap"
                contract="ServiceObjects.GeoCoder.DOTSGeoCoderSoap" name="DOTSGeoCoderSoap" />
            <endpoint address="http://ws.strikeiron.com/StrikeIron/USAddressVerification5/USAddressVerification"
                binding="basicHttpBinding" bindingConfiguration="USAddressVerificationSoap"
                contract="StrikeIron.USAddressVerification.USAddressVerificationSoap"
                name="USAddressVerificationSoap" />
        </client>
    </system.serviceModel>
</configuration>
