<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DOTSGeoCoderSoap" />
                <binding name="USAddressVerificationSoap" />
                <binding name="BasicHttpBinding_IService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ws.serviceobjects.com/gcr/GeoCoder.asmx"
                binding="basicHttpBinding" bindingConfiguration="DOTSGeoCoderSoap"
                contract="ServiceObjects.GeoCoder.DOTSGeoCoderSoap" name="DOTSGeoCoderSoap" />
            <endpoint address="http://ws.strikeiron.com/StrikeIron/USAddressVerification5/USAddressVerification"
                binding="basicHttpBinding" bindingConfiguration="USAddressVerificationSoap"
                contract="StrikeIron.USAddressVerification.USAddressVerificationSoap"
                name="USAddressVerificationSoap" />
            <endpoint address="https://addresscheck.melissadata.net/v2/SOAP/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="MelissaData.Service.IService" name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>
