/*
    Rock Theme Styles

    1. Colors
    2. Utilities

*/

// 1. Colors
// -------------------------
@gc-black: #3B3B3B;
@gc-grey: #E6E6E6;
@contribute: #AFCA45;
@connect: #067495;
@celebrate: #F7AD18;
@theme-background: rgba(@color-of-the-year, .1);


// 2. Utilities
// -------------------------

// transition mixin
.transition {
    transition: all .3s ease;
}

// card hover mixin
.card-hover {
    &:hover {
      transform: scale(1.01);
    }
}

// card hover mixin
.shadow-sm {
  box-shadow: 0px 4px 12px 1px rgba(21, 21, 21, 0.15) !important;
}

.shadow-md {
  box-shadow: 0px 25px 30px -15px rgba(0, 0, 0, 0.25) !important;
}

// card hover mixin
.shadow-lg {
  box-shadow: 0px 45px 60px -30px rgba(0, 0, 0, 0.5) !important;
}
