/* FontAwesome Start */
@fa-theme-weight: 900;
@fa-theme-weight-name: 'solid';

@import "../../../Styles/FontAwesome/_rock-fa-mixins.less";
/* FontAwesome End */
@brand-color: @color-of-the-year;
@text-color: #1d1d1d;
@text-muted: #e6e6e6;
@link-color: #ffffff;
@link-hover-color: #e6e6e6;
@font-family-sans-serif: 'Gotham', sans-serif;
@hero-background: transparent;
@nav-bg: transparent;
@nav-color: #ffffff;
@nav-border: #000000;
@logo-padding-mobile: 0;
@logo-max-height-mobile: 40px;
@logo-max-width-mobile: 40px;
@logo-padding-desktop: 0;
@logo-max-height-desktop: 50px;
@logo-max-width-desktop: 50px;
