/*!
 * Rock ChMS Adventure Kids Checkin Theme
 *
 * Copyright 2013 Spark Development Network
 *
 * 
 */


//
// Variables
// --------------------------------------------------

@checkinHeaderColor:                #38332E;
@checkinHeaderFontFamily:           'OpenSansBold', 'Helvetica Neue',Helvetica,Arial,sans-serif;

@checkinSubHeadingColor:            #4c4c4b;
@checkinSubHeaderFontFamily:        'OpenSansLight', 'Helvetica Neue',Helvetica,Arial,sans-serif; 

@checkinBodyColor:                 #38332E;

@checkinButtonColor:                #7f7e7e;
@checkinButtonBackground:           #d5d5d5;
@checkinButtonFontFamily:           'OpenSansSemibold', 'Helvetica Neue',Helvetica,Arial,sans-serif;
@checkinButtonSubtitleFontFamily:   'OpenSansLight', 'Helvetica Neue',Helvetica,Arial,sans-serif;
@checkinButtonBorderColor:          #9d9c9c;

@checkinPrimaryButtonColor:         #fff;
@checkinPrimaryButtonBackground:    #E21911;
//@checkinPrimaryButtonBorderColor:   #b00a0e;
//@checkinPrimaryButtonBorderColor:   #600002;
@checkinPrimaryButtonBorderColor:   #4F0003;



//
// Mix-ins
// --------------------------------------------------
.checkinBackground () {
  	/*background: #85b11c url('../Assets/Images/background.jpg') top right no-repeat fixed;*/
	background: #ffffff url('../Assets/Images/background.jpg') no-repeat fixed bottom left;
	//background-size: 50%;
    background-size: 25%;
}

.checkinBackgroundRetina()
{
    background-image: url('../Assets/Images/background@2x.jpg');
    background-size: 1348px 1024px; // should be 1/2 of the actual
}

// Button backgrounds
// ------------------
.buttonBackgrounds(@startColor, @endColor, @textColor: #fff, @textShadow: 0 -1px 0 rgba(0,0,0,.25)) {
  // gradientBar will set the background to a pleasing blend of these, to support IE<=9
  .gradientBar(@startColor, @endColor, @textColor, @textShadow);
  *background-color: @endColor; /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  .reset-filter();

  // in these cases the gradient won't cover the background, so we override
  &:hover, &:active, &.active, &.disabled, &[disabled] {
    color: @textColor;
    background-color: @endColor;
    *background-color: darken(@endColor, 5%);
  }
  // IE 7 + 8 can't handle box-shadow to show active, so we darken a bit ourselves
  &:active,
  &.active {
    //background-color: darken(@endColor, 10%) e("\9");
	//background-color: #1c1a17;
	//background-color: #b00a0e;
    //background-color: #600002;
    background-color: #4F0003;
  }
}

//
// Imports
// --------------------------------------------------

@import "./rock-bootstrap-variables.less";
@import "../../../Css/Less/Vendor/Bootstrap/mixins.less";
@import "../../../Css/checkin-core.less";


//
// Custom Overides
// --------------------------------------------------

.checkin-count h3,
.checkin-count li {
	color: #4c4c4b;
}

h3 {
	color: #38332E;
}

.btn-primary
{
    .buttonBackgrounds(@checkinPrimaryButtonBackground, spin(@checkinPrimaryButtonBackground, 10%));
	color: @checkinPrimaryButtonColor;
	border-color: @checkinPrimaryButtonBorderColor;
}

.btn-primary:hover,
.btn-primary:active
{
    color: darken(@checkinPrimaryButtonColor, 10%);
}

.grid-table
{
	background: rgba(100, 100, 100, .1);
}

