/*Button Styles*/

.btn {
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
	border-radius: @border-radius-base;
}

.btn-primary, .btn-link, .btn-action {
	border-color: @btn-primary-border;
	background-color: @btn-primary-bg;
	color: @theme-1-text;
	&:hover, &:hover i, &:active, &:focus, &:active:focus {
		background-color: @theme-1;
		text-decoration: none;
		background-color: darken(@btn-primary-bg, 10%);
		border-color: darken(@btn-primary-border, 10%);
		color: @theme-1-text;
	}
	&.btn-filter-toggle, &.btn-filter-toggle.is-open {
		border-color: @btn-primary-border;
		background-color: @btn-primary-bg;
		color: @theme-1-text;
		&:hover, &:hover i, &:active, &:focus, &:active:focus {
			background-color: @theme-1;
			text-decoration: none;
			background-color: darken(@btn-primary-bg, 10%);
			border-color: darken(@btn-primary-border, 10%);
			color: @theme-1-text;
		}
	}
}

.btn.btn-simple {
	display: block;
	margin-top: 20px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0;
	transition: all .4s ease-in-out;
	color: @brand-primary;
	background-color: transparent;
	&:hover, &:focus {
		letter-spacing: 1px;
		transition: all .4s ease-in-out;
	}
}

.btn-danger {
	color: #fff;
	background-color: @btn-danger-bg;
	border-color: @btn-danger-border;
}

.dropdown-menu {
	.btn-link {
		color: @theme-1-text;
		background-color: @btn-primary-bg;
		padding: 3px 20px;
		line-height: 1.7em;
		&:hover {
			color: @theme-1-text;
			background-color: @btn-primary-bg;
		}
	}
	.btn-primary {
		color: @theme-3-text;
		background-color: @theme-3;
		padding: 3px 20px;
		line-height: 1.7em;
		&:hover {
			background-color: darken(@theme-3, 10%);
		}
	}
	.rock-checkbox-icon {
		color: @theme-1-text;
	}
}
