.modal-title {
  color: @theme-1-text;
}

.modal,
.modal.container,
.modal.modal-overflow {
  .rockcheckboxlist-vertical.input-group {
    width: 100%;
  }
}

@media (max-width: 979px) {
  .modal,
  .modal.container,
  .modal.modal-overflow {
    width: 98% !important;
  }
}
