/*

	1.) Make all the dashboards context setters be in this order:
		Campus, Group, Service, and then Date

	2.) Set group type for each dashboard's group context setter

	3.) Arrange the blocks on each dashboard in a preset order

*/

-- Declare functions
IF OBJECT_ID('clearPageOfMetrics') IS NOT NULL DROP PROCEDURE clearPageOfMetrics;
GO

CREATE PROCEDURE clearPageOfMetrics (
	@pageName NVARCHAR(100)
) AS
	DECLARE @metricBlockTypeId AS INT = (SELECT Id FROM BlockType WHERE Name = 'Ministry Metrics' AND Category = 'NewSpring');
	DECLARE @blockEntityTypeId AS INT = (SELECT Id FROM EntityType WHERE Name = 'Rock.Model.Block');

	IF OBJECT_ID('tempdb..#tempMetricBlockAttributes') IS NOT NULL DROP TABLE #tempMetricBlockAttributes;
	SELECT 
		* 
	INTO
		#tempMetricBlockAttributes
	FROM 
		Attribute
	WHERE 
		EntityTypeId = @blockEntityTypeId 
		AND EntityTypeQualifierColumn = 'BlockTypeId'
		AND EntityTypeQualifierValue = @metricBlockTypeId;

	DECLARE @pageId AS INT = (SELECT Id FROM [Page] WHERE InternalName = @pageName);

	DELETE FROM AttributeValue WHERE Id IN (
		SELECT 
			av.Id 
		FROM 
			AttributeValue av
			JOIN #tempMetricBlockAttributes a ON av.AttributeId = a.Id
			JOIN [Block] b ON b.Id = av.EntityId
		WHERE
			b.PageId = @pageId
	);

	DELETE FROM Block WHERE PageId = @pageId AND Zone = 'SectionB';
	DROP TABLE #tempMetricBlockAttributes;
	RETURN @pageId;
GO

IF OBJECT_ID('insertMetricBlockAttributeValues') IS NOT NULL DROP PROCEDURE insertMetricBlockAttributeValues;
GO

CREATE PROCEDURE insertMetricBlockAttributeValues (
    @attributeId INT, 
    @blockId INT,
	@value NVARCHAR(100)
) AS
	INSERT INTO AttributeValue (
		IsSystem,
		AttributeId,
		EntityId,
		Value,
		[Guid]
	)
	VALUES (0, @attributeId, @blockId, @value, NEWID());
	RETURN SCOPE_IDENTITY();
GO

IF OBJECT_ID('insertMetricBlock') IS NOT NULL DROP PROCEDURE insertMetricBlock;
GO

CREATE PROCEDURE insertMetricBlock (
    @pageId INT, 
    @order INT,
	@name NVARCHAR(100),
	@cols NVARCHAR(100),
	@type NVARCHAR(100),
	@key NVARCHAR(100),
	@compKey NVARCHAR(100),
	@compType NVARCHAR(100)
) AS
	DECLARE @attributeId AS INT;
	DECLARE @metricBlockTypeId AS INT = (SELECT Id FROM BlockType WHERE Name = 'Ministry Metrics' AND Category = 'NewSpring');
	DECLARE @blockEntityTypeId AS INT = (SELECT Id FROM EntityType WHERE Name = 'Rock.Model.Block');

	IF OBJECT_ID('tempdb..#tempMetricBlockAttributes') IS NOT NULL DROP TABLE #tempMetricBlockAttributes;
	SELECT 
		* 
	INTO
		#tempMetricBlockAttributes
	FROM 
		Attribute
	WHERE 
		EntityTypeId = @blockEntityTypeId 
		AND EntityTypeQualifierColumn = 'BlockTypeId'
		AND EntityTypeQualifierValue = @metricBlockTypeId;

	INSERT INTO Block (
		IsSystem,
		PageId,
		BlockTypeId,
		Zone,
		[Order],
		Name,
		OutputCacheDuration,
		[Guid]
	)
	VALUES (0, @pageId, (SELECT Id FROM BlockType WHERE Name = 'Ministry Metrics' AND Category = 'NewSpring'), 'SectionB', @order, @name, 0, NEWID());
	DECLARE @blockId AS INT = SCOPE_IDENTITY();

	SELECT @attributeId = Id FROM #tempMetricBlockAttributes WHERE [Order] = 1;
	EXEC insertMetricBlockAttributeValues @attributeId, @blockId, @cols;
	SELECT @attributeId = Id FROM #tempMetricBlockAttributes WHERE [Order] = 2;
	EXEC insertMetricBlockAttributeValues @attributeId, @blockId, @type;
	SELECT @attributeId = Id FROM #tempMetricBlockAttributes WHERE [Order] = 3;
	EXEC insertMetricBlockAttributeValues @attributeId, @blockId, @key;
	SELECT @attributeId = Id FROM #tempMetricBlockAttributes WHERE [Order] = 5;
	EXEC insertMetricBlockAttributeValues @attributeId, @blockId, @compKey;
	SELECT @attributeId = Id FROM #tempMetricBlockAttributes WHERE [Order] = 7;
	EXEC insertMetricBlockAttributeValues @attributeId, @blockId, @compType;
	SELECT @attributeId = Id FROM #tempMetricBlockAttributes WHERE [Order] = 8;
	EXEC insertMetricBlockAttributeValues @attributeId, @blockId, 'Page';

	DROP TABLE #tempMetricBlockAttributes;
GO

-- Vars
DECLARE @blockEntityTypeId AS INT = (SELECT Id FROM EntityType WHERE Name = 'Rock.Model.Block');

-- Re/create temp table that stores the context setter blocks on the dashboard pages
IF OBJECT_ID('tempdb..#tempContextSetters') IS NOT NULL DROP TABLE #tempContextSetters;

SELECT 
	p.Id as PageId,
	b.Id as BlockId
INTO 
	#tempContextSetters
FROM 
	Block b
	JOIN [Page] p ON p.Id = b.PageId 
	JOIN BlockType bt ON b.BlockTypeId = bt.Id
WHERE 
	p.InternalName LIKE '% Dashboard'
	AND p.InternalName <> 'My Dashboard'
	AND bt.Name LIKE '% Context Setter';

-- Update Campus context setter to be order 0
UPDATE
	b
SET
	b.[Order] = 0
FROM
	Block b
	JOIN #tempContextSetters t ON t.BlockId = b.Id
WHERE
	b.Name = 'Campus Context Setter';

-- Update group context setter to be order 1
UPDATE
	b
SET
	b.[Order] = 1
FROM
	Block b
	JOIN #tempContextSetters t ON t.BlockId = b.Id
WHERE
	b.Name = 'Group Context Setter';

-- Update service context setter to be order 2
UPDATE
	b
SET
	b.[Order] = 2
FROM
	Block b
	JOIN #tempContextSetters t ON t.BlockId = b.Id
WHERE
	b.Name = 'Schedule Context Setter';

-- Update date range context setter to be order 3
UPDATE
	b
SET
	b.[Order] = 3
FROM
	Block b
	JOIN #tempContextSetters t ON t.BlockId = b.Id
WHERE
	b.Name = 'Date Range Context Setter';

-- Set group context group type for each dashboard
IF OBJECT_ID('tempdb..#tempGroupContextInfo') IS NOT NULL DROP TABLE #tempGroupContextInfo;

SELECT
	av.Id as AttributeValueId,
	b.Name AS BlockId,
	p.InternalName AS PageName
INTO
	#tempGroupContextInfo
FROM 
	AttributeValue av 
	JOIN Attribute a ON av.AttributeId = a.Id
	JOIN BlockType bt ON a.EntityTypeQualifierValue = bt.Id
	JOIN Block b ON b.Id = av.EntityId
	JOIN [Page] p ON p.Id = b.PageId
WHERE 
	a.EntityTypeId = @blockEntityTypeId
	AND a.Name = 'Group Filter'
	AND a.EntityTypeQualifierColumn = 'BlockTypeId'
	AND bt.Name = 'Group Context Setter';

-- Guest services dashboard group type context
UPDATE
	av
SET
	av.Value = CONCAT((SELECT [Guid] FROM GroupType WHERE Name = 'Guest Services Attendee'),  '|')
FROM
	AttributeValue av
	JOIN #tempGroupContextInfo t ON av.Id = t.AttributeValueId
WHERE
	t.PageName = 'Guest Services Dashboard';

-- Next Steps dashboard group type context
UPDATE
	av
SET
	av.Value = CONCAT((SELECT [Guid] FROM GroupType WHERE Name = 'Next Steps Attendee'),  '|')
FROM
	AttributeValue av
	JOIN #tempGroupContextInfo t ON av.Id = t.AttributeValueId
WHERE
	t.PageName = 'Next Steps Dashboard';

-- Fuse dashboard group type context
UPDATE
	av
SET
	av.Value = CONCAT((SELECT [Guid] FROM GroupType WHERE Name = 'Fuse Attendee'),  '|')
FROM
	AttributeValue av
	JOIN #tempGroupContextInfo t ON av.Id = t.AttributeValueId
WHERE
	t.PageName = 'Fuse Dashboard';

/*******

	Recreate metric block structure of metrics on the dashboard pages

*******/
DECLARE @pageId AS INT;

/*

	Guest Services Dashboard

*/
EXEC @pageId = clearPageOfMetrics 'Guest Services Dashboard';
EXEC insertMetricBlock @pageId, 0, '# Vols Roles Filled', '4', 'Text', 'Unique Serving', '', 'Integer';
EXEC insertMetricBlock @pageId, 1, '% of Roster Serving', '4', 'Text', 'Service Attendance', 'Service Roster', 'Percentage';
EXEC insertMetricBlock @pageId, 2, 'Roster #', '4', 'Text', 'Service Roster', '', 'Integer';
EXEC insertMetricBlock @pageId, 3, 'Unique Vols Attended', '4', 'Text', 'Unique Serving', '', 'Integer';
EXEC insertMetricBlock @pageId, 4, 'Goal #', '4', 'Text', 'test', '', 'Integer';
EXEC insertMetricBlock @pageId, 5, '% of Goal', '4', 'Text', 'test', '', 'Integer';

-- Clean up functions
GO
DROP PROCEDURE insertMetricBlockAttributeValues;
GO
DROP PROCEDURE insertMetricBlock;
GO
DROP PROCEDURE clearPageOfMetrics;
GO