-- =====================================================================================================
-- Author:        Rock
-- Create Date: 
-- Modified Date: 03-11-2025
-- Description:   Populates pledges for semi-random people up to the @PledgeCount.
--
-- Change History:
--                 08-28-2025 NA - Add AccountId-based multiplier to skew grand totals across accounts.
--                 03-12-2025 NA - Add this script description and added a way to randomize pledge totals.
-- ======================================================================================================

-- ===============================
-- Configuration
-- ===============================
DECLARE @StartDate DATE = '2025-1-1'
    , @EndDate DATE = '2025-12-31'
    , @PledgeCount INT = 5000
    , @UseRandomPledgeTotal BIT = 1
    , @SkewFactor FLOAT = 2.5; -- why: right-skew totals within each per-frequency range

-- Account-level multiplier range (per-AccountId deterministic). Adjust to taste.
DECLARE @AcctMultMin FLOAT = 0.80; -- why: ensure some accounts trend lower
DECLARE @AcctMultMax FLOAT = 1.30; -- why: ensure some accounts trend higher

-- ------------------------------------------------------------------------------------------------------
-- Higher frequency => smaller TotalAmount, using provided @Frequency and @FreqRanges.
-- Frequency setup ------------------------------------------------------------
DECLARE @FrequencyDefinedTypeId INT = (
    SELECT TOP 1 Id
    FROM DefinedType
    WHERE [Guid] = '1F645CFB-5BBD-4465-B9CA-0D2104A1479B'
);

DECLARE @Frequency TABLE (Id INT PRIMARY KEY, [Value] NVARCHAR(250));
INSERT INTO @Frequency(Id, [Value])
SELECT dv.Id, dv.[Value]
FROM [DefinedValue] dv
WHERE dv.DefinedTypeId = @FrequencyDefinedTypeId;

DECLARE @FreqRanges TABLE ([Value] NVARCHAR(250) PRIMARY KEY, MinAmt INT, MaxAmt INT);
INSERT INTO @FreqRanges ([Value], MinAmt, MaxAmt) VALUES
    (N'One-Time',        500, 15000),
    (N'Yearly',          600, 12000),
    (N'Twice a Year',    400,  6000),
    (N'Quarterly',       300,  4000),
    (N'Twice a Month',   150,  2500),
    (N'1st and 15th',    150,  2500),
    (N'Monthly',         100,  2000),
    (N'Bi-Weekly',         60,  1200),
    (N'Weekly',            40,   800);

-- Optional pre-calc IDs (retained for convenience; not required below)
DECLARE @idMonthly INT       = (SELECT Id FROM @Frequency WHERE [Value] = 'Monthly');
DECLARE @idWeekly INT        = (SELECT Id FROM @Frequency WHERE [Value] = 'Weekly');
DECLARE @idBiWeekly INT      = (SELECT Id FROM @Frequency WHERE [Value] = 'Bi-Weekly');
DECLARE @idTwiceMonth INT    = (SELECT Id FROM @Frequency WHERE [Value] = 'Twice a Month');
DECLARE @idYearly INT        = (SELECT Id FROM @Frequency WHERE [Value] = 'Yearly');
DECLARE @idQuarterly INT     = (SELECT Id FROM @Frequency WHERE [Value] = 'Quarterly');
DECLARE @idOneTime INT       = (SELECT Id FROM @Frequency WHERE [Value] = 'One-Time');
DECLARE @idFirstAnd15th INT  = (SELECT Id FROM @Frequency WHERE [Value] = '1st and 15th');

-- Insert --------------------------------------------------------------------
INSERT INTO [dbo].[FinancialPledge] (
      [AccountId]
    , [TotalAmount]
    , [PledgeFrequencyValueId]
    , [StartDate]
    , [EndDate]
    , [Guid]
    , [PersonAliasId]
    , [GroupId]
    , [StartDateKey]
    , [EndDateKey]
    , [CreatedDateTime]
    , [ModifiedDateTime]
)
SELECT TOP (@PledgeCount)
      fa.Id AS [AccountId]
    , CASE WHEN @UseRandomPledgeTotal = 1 THEN
          -- Random within per-frequency range, right-skewed, then scaled by per-account multiplier, then rounded to $10
          CAST(((fr.MinAmt + (fr.MaxAmt - fr.MinAmt)
                * POWER(ABS(CHECKSUM(NEWID())) % 10000 / 10000.0, @SkewFactor))
                * w.AcctMult) / 10 * 10 AS INT)
        ELSE CAST(1234.56 * w.AcctMult AS DECIMAL(18,2))
      END AS [TotalAmount]
    , f.Id AS [PledgeFrequencyValueId]
    , @StartDate AS [StartDate]
    , @EndDate   AS [EndDate]
    , NEWID()    AS [Guid]
    , pa.Id      AS [PersonAliasId]
    , NULL       AS [GroupId]
    , FORMAT(@StartDate, 'yyyyMMdd')
    , FORMAT(@EndDate,   'yyyyMMdd')
    , @StartDate
    , @StartDate
FROM FinancialAccount fa
CROSS JOIN @Frequency f
JOIN @FreqRanges fr ON fr.[Value] = f.[Value] -- why: map frequency to its Min/Max range; ensure labels match
JOIN PersonAlias pa ON pa.PersonId = pa.AliasPersonId AND pa.PersonId % 10 = 0
CROSS APPLY (
    -- Deterministic multiplier per AccountId in [@AcctMultMin, @AcctMultMax]
    SELECT @AcctMultMin +
           (ABS(CHECKSUM(CONCAT('acct', fa.Id))) % 10000) / 10000.0 *
           (@AcctMultMax - @AcctMultMin) AS AcctMult
) AS w
WHERE fa.IsActive = 1
  AND fa.IsTaxDeductible = 1
  AND (fa.StartDate IS NULL OR fa.StartDate <= @StartDate)
  AND (fa.EndDate   IS NULL OR fa.EndDate   >= @EndDate)
ORDER BY NEWID(); -- why: randomize eligible (fa x f x pa) rows before TOP selection
