/* All Attributes showing EntityType.Name and FieldType.Name ordered by most recently added last */
SELECT [a].[Id]
      ,[a].[IsSystem]
      ,[ft].[Name] as [FieldType.Name]
      ,[ft].[Guid] as [FieldType.Guid]
      ,[e].[Name] as [EntityTypeName]
      ,[a].[EntityTypeQualifierColumn]
      ,[a].[EntityTypeQualifierValue]
      ,[a].[Key]
      ,[a].[Name]
      ,[a].[Description]
      ,[a].[Order]
      ,[a].[IsGridColumn]
      ,[a].[DefaultValue]
      ,[a].[IsMultiValue]
      ,[a].[IsRequired]
      ,[a].[Guid]
      ,[a].[EntityTypeId]
FROM [Attribute] [a]
join [EntityType] [e] on [e].[Id] = [a].[EntityTypeId]
join [FieldType] [ft] on [ft].[Id] = [a].[FieldTypeId]
order by [a].[Id]


