.grid-obsidian {
    --table-cell-padding-x: 16px;
    --table-cell-padding-y: 16px;
    color: var(--color-interface-strongest);
}

.grid-obsidian.grid-bordered {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.03), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.grid-obsidian.grid-bordered {
    border: 1px solid var(--color-interface-softer);
    border-radius: 4px;
}

.grid-heading {
    background: var(--color-interface-softest);
    border-radius: 4px 4px 0 0;
}

.grid-obsidian.grid-sticky > .grid-heading {
    position: sticky;
    top: var(--sticky-element-offset); //this variable add offset based on if the topHeaderStyle is relative or not using js
    z-index: 10;
}

.grid-obsidian > .grid-heading > .grid-title-heading {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--color-interface-softer);
    align-items: center;
    font-size: 18px;
}

.grid-obsidian > .grid-heading > .grid-title-heading > .grid-title {
    flex-grow: 1;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    padding-left: 24px;
}

.grid-obsidian > .grid-heading > .grid-title-heading > .grid-badges {
    height: 56px;
    display: flex;
    align-items: center;
}

.grid-obsidian > .grid-heading > .grid-title-heading > .grid-actions {
    background-color: initial;
    text-align: initial;
}

.grid-obsidian > .grid-heading > .grid-title-heading > .grid-actions .btn-grid-action {
    width: 56px;
    height: 56px;
    margin: 0;
    border-radius: 0;
}

.grid-obsidian > .grid-heading > .grid-title-heading > .grid-actions .btn-grid-action.active {
    background-color: var(--color-interface-softer);
    color: var(--color-interface-strong);
}

.grid-obsidian > .grid-heading > .grid-title-heading > .grid-actions .btn-grid-action.btn-add {
    color: var(--color-info-strong);
    font-size: 115%;
}

.grid-obsidian > .grid-heading > .grid-title-heading > .grid-actions .btn-grid-action.btn-add:hover {
    color: var(--color-info-strong);
}

.grid-obsidian > .grid-heading > .grid-title-heading > .grid-actions .btn-grid-action:hover {
    background-color: var(--color-interface-softer);
}

.grid-obsidian > .grid-heading > .grid-title-heading > .grid-quick-filter {
    display: flex;
}

.grid-obsidian > .grid-heading > .grid-title-heading > .grid-quick-filter > .grid-quick-filter-search {
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
    display: inline-flex;
    align-items: stretch;
}

.grid-obsidian > .grid-heading > .grid-title-heading > .grid-quick-filter.active > .grid-quick-filter-search {
    width: 240px;
}

.grid-obsidian > .grid-heading > .grid-title-heading > .grid-quick-filter.active > .btn-grid-action {
    background-color: var(--color-interface-softer);
    color: var(--color-interface-strong);
}

.grid-obsidian > .grid-heading > .grid-title-heading > .grid-quick-filter > .grid-quick-filter-search > .control-wrapper {
    width: 100%;
    height: 100%;
}

.grid-quick-filter-search > .control-wrapper > div {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
}

.grid-obsidian > .grid-heading > .grid-title-heading > .grid-quick-filter > .grid-quick-filter-search > .control-wrapper .form-control {
    height: 100%;
    width: 100%;
    border-radius: 0;
}

.grid-column-heading {
    display: flex;
    font-weight: 500;
    border-bottom: 1px solid var(--color-interface-softer);
    color: var(--color-interface-stronger);
}

.grid-column-header {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: var(--spacing-medium) var(--spacing-medium);
}

.grid-bordered .grid-column-header {
    background-color: var(--color-interface-softer);
}

.grid-column-header.sortable {
    cursor: pointer;
}

.grid-column-header.sortable:hover {
    background-color: var(--color-interface-softer);
}

.grid-column-title {
    flex: 1 1 auto;
}

.grid-sort-direction {
    display: flex;
    align-items: center;
    transition: transform .11s cubic-bezier(.2, 0, .38, .9);
    accent-color: var(--color-info-strong);
}

.grid-sort-direction svg {
    width: 14px;
    height: 21px;
}

.grid-sort-direction.sort-desc {
    /* transform flip */
    transform: rotate(180deg);
    /* transform orgin centerr */
    transform-origin: center;
}

.grid-column-header.grid-select-field .checkbox label {
    margin: 0;
}

.grid-column-header > .btn-grid-column-filter {
    border: 0;
    text-align: center;
    background-color: transparent;
    margin-left: 4px;
    width: 26px;
    height: 24px;
    border-radius: 4px;
    color: var(--color-interface-strong);
    opacity: 0;
    transition: opacity 250ms, color 250ms;
    z-index: 10;
}

.grid-column-heading:hover .btn-grid-column-filter {
    opacity: 0.5;
}

.grid-column-header > .btn-grid-column-filter:hover {
    opacity: 1;
    background-color: var(--color-interface-softest);
}

.grid-column-header > .btn-grid-column-filter svg {
    width: 14px;
    height: 14px;
}

.grid-column-header > .btn-grid-column-filter.active {
    opacity: 1;
    color: var(--color-info-strong);
}

.grid-column-header > .grid-filter-popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    min-width: 240px;
    max-width: 320px;
    max-height: 400px;
    background-color: var(--color-interface-softest);
    border: 1px solid var(--color-interface-softer);
    border-radius: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    cursor: initial;
    font-weight: initial;
    z-index: 10;
    /* Temporary Fix Until JS */
    bottom: 0;
    transform: translateY(100%);
}

.grid-column-header > .grid-filter-popup > .grid-filter-popup-content {
    flex-grow: 1;
    overflow-y: auto;
}

.grid-column-header > .grid-filter-popup > .grid-filter-popup-content > .grid-filter-popup-body {
    margin: 10px;
    padding: 2px;
    overflow-x: clip;
}

.grid-column-header > .grid-filter-popup > .actions {
    display: flex;
    border-top: 1px solid var(--color-interface-softer);
    background-color: #fcfcfc;
    padding: 8px;
    gap: 8px;
}

.grid-column-header > .grid-filter-popup .alert {
    border-top: 0;
    box-shadow: none;
    padding: 8px;
}

.grid-row {
    display: flex;
    background-color: var(--color-interface-softest);
    border-bottom: 1px solid var(--color-interface-softer);
    transition: background-color 70ms cubic-bezier(0, 0, .38, .9);
}

.grid-row.grid-row-selectable {
    cursor: pointer;
}

.grid-striped .grid-row.grid-row-even {
    background-color: var(--color-interface-softer);
}

.grid-hover .grid-row:hover {
    background-color: #eef4fc;
}

.grid-cell {
    display: flex;
    align-items: flex-start;
    padding: var(--spacing-medium) var(--spacing-medium);
    overflow-x: hidden;
    align-self: center;
    line-height: 1.4;
}

.grid-select-field:first-child {
    align-items: center;
    padding-right: calc(var(--spacing-medium) / 2);
    flex: 0 0 calc(var(--spacing-medium) + 20px) !important;
}

.grid-columncommand {
    --table-cell-padding-y: 0;
    align-items: center;
    padding: 0;
}

.grid-columncommand .btn {
    opacity: .4;
}

.grid-columncommand .btn:hover {
    opacity: 1;
}

.grid-columnreorder {
    align-items: center;
}

.grid-footing {
    color: var(--color-interface-strongest);
    background-color: var(--color-interface-softest);
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}

.grid-paging-footer {
    display: flex;
    padding: 8px var(--spacing-medium);
    align-items: center;
}

.grid-obsidian > .grid-footing > .grid-paging-footer > .grid-page-sizes {
    flex: 1 1 auto;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    gap: 8px;
}

.grid-obsidian > .grid-footing > .grid-paging-footer > .grid-page-sizes .form-control {
    flex: 0 0 80px;
}

.grid-page-size-picker .btn {
    font-weight: 400;
}

.grid-obsidian > .grid-footing > .grid-paging-footer > .grid-page-picker {
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    line-height: 1;
    color: var(--color-interface-strongest);
}

.grid-obsidian > .grid-footing > .grid-paging-footer > .grid-page-picker > button {
    display: inline-flex;
    justify-content: center;
    border: 1px solid var(--color-interface-softer);
    background-color: transparent;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 16px;
    min-width: 2.75em;
}

.grid-obsidian > .grid-footing > .grid-paging-footer > .grid-page-picker > button:hover {
    background-color: var(--color-interface-softer);
}

.grid-obsidian > .grid-footing > .grid-paging-footer > .grid-page-picker > button ~ button {
    margin-left: -1px;
}

.grid-obsidian > .grid-footing > .grid-paging-footer > .grid-page-picker .prev {
    border-radius: 4px 0 0 4px;
}

.grid-obsidian > .grid-footing > .grid-paging-footer > .grid-page-picker .next {
    border-radius: 0 4px 4px 0;
}

.grid-obsidian > .grid-footing > .grid-paging-footer > .grid-page-picker > button.disabled {
    color: var(--color-interface-strong);
    pointer-events: none;
}

.grid-obsidian > .grid-footing > .grid-paging-footer > .grid-page-picker > button.active {
    background-color: var(--color-interface-softer);
}

.grid-obsidian .grid-cell .highlight-detail {
    color: var(--color-interface-strong);
    font-size: 14px;
}

.grid-obsidian .grid-cell .highlight-title {
    font-weight: 600;
}

@media (max-width: 767px) {
    .grid-obsidian > .grid-footing > .grid-paging-footer > .grid-page-picker > .page-num {
        display: none;
    }
}
