
// (Rock Component)


// =============================================================
// Table of Content           
//  + Base style
// =============================================================


// ======================== BASE STYLE ========================
.image-with-icon-container {
  height: 150px;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: var(--rounded-small);

  .icon-stack-container {
    position: absolute;
    bottom: -32px;
    left: 24px;
    height: 64px;
    width: 64px;
    border-radius: 99px;
    border: 4px solid var(--color-interface-softest);
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 28px;
    }
  }
}
// ====================== END BASE STYLE ======================




