// List Extensions - additional list options (Rock Component)


// =============================================================
// Table of Content           
//  + Base Style  
// =============================================================


// ======================== BASE STYLE ========================
.list-horizontal {
  display:              -webkit-box;
  display:              -ms-flexbox;
  display:              flex;
  flex-wrap:            wrap;
  padding:              0;
  margin:               0;
  list-style:           none;

  &:before,
  &:after {
    display:            table;
    content:            " ";
  }
  
  &:after {
    clear:              both;
  }

  li {
    float:              left;
    margin-right:       2px;
    margin-bottom:      var(--spacing-tiny);
  }
}
// ====================== END BASE STYLE ======================


