// Modal Style (Rock Component)


// =============================================================
// Table of Content           
//  + Rock Modal
//  + All Modals
// =============================================================


// ======================== ROCK MODAL ========================
body.rock-modal {
  background:     transparent;

  .modal-content {
    border:       0 !important;
    box-shadow:   none;
    //background: transparent;
  }
}

.modal-content.rock-modal,
.rock-modal .modal-content {
  background:         transparent;
  border:             0;
  box-shadow:         0 12px 24px 0 rgba(0,0,0,.1);

  .modal-header {
    min-height:       34px;
    padding:          var(--spacing-xsmall) var(--spacing-large);
    color:            var(--color-interface-softest);
    background-color: var(--color-primary);

    &:before,
    &:after {
      display:    table; // 2
      content:    " "; // 1
    }
    &:after {
      clear:      both;
    }

    h3 {
      margin-right: var(--spacing-small);
    }

    a {
      color:            var(--color-interface-softest);
      text-decoration:  underline;
    }

    .close {
      padding:          6px;
      text-decoration:  none;
      color:            var(--color-interface-softest);
      text-shadow:      none;
    }

    .label {
      margin-top:       var(--spacing-xsmall);
    }

    small {
      display:      block;
      margin-top:   var(--spacing-xsmall);
      color:        var(--color-interface-softest); // TODO darken by 10% when available
    }

    @media screen and (min-width: $screen-small) {
      h3 {
        float:      left;
      }
    }
  }

  .modal-body {
    padding:            var(--spacing-large);
    color:              var(--color-interface-strongest);
    text-align:         left;
    background-color:   var(--color-interface-softest);

    > .scroll-container {
      width:    720px;

      > .viewport {
        width:  670px;
      }
    }

    &.iframe {
      overflow: hidden;
    }
  }

  .modal-footer {
    padding:            var(--spacing-xsmall) var(--spacing-large);
    margin-top:         0;
    color:              var(--color-interface-softest);
    background-color:   var(--color-interface-softer);
    border-radius:      0 0 var(--rounded-small) var(--rounded-small);
  }
}

.rock-modal {

  .modal-footer .btn {
    float:        right;
    margin-left:  var(--spacing-tiny);
  }
}

.rock-modal-frame {
  border-radius:  var(--rounded-large) !important;
}

// Fix for overflow scrolling on iOS
.modal.modal-overflow {
  top:              $grid-gutter-width;
  margin-bottom:    $grid-gutter-width;
}

@supports (-webkit-overflow-scrolling: touch) {
  // CSS specific to iOS devices
  .modal.modal-overflow {
    top:      1%;
    height:   calc(100% - 1px) !important;
  }
}

#modal-popup_iframe {
  display:    block;
  width:      100%;
  height:     100%;
  border:     0;
}
// ====================== END ROCK MODAL ======================


// ======================== ALL MODALS ========================
// This next section is needed because we're using bootstrap-modal plugin to allow for responsive sized modals. Since they
// hard code the opacity in their CSS we override it here.
.modal-backdrop,
.modal-backdrop.fade.in {
  background:   var(--modal-backdrop);
  filter:       alpha(opacity=70);
  opacity:      .5;
}

// Fixes some appearance issues from switching standard BS modal to
// responsive bootstrap-modal.
.modal-dialog {
  width:    auto;
  margin:   0;
}

.modal-content {
  border:   none;
}

.modal.container.modal-content.rock-modal:has(.ant-select-dropdown) {
    overflow: visible;

    .modal-header {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
}

.modal.container.modal-content.rock-modal form {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}
// ====================== END ALL MODALS ======================


// Moved from _form.less `\RockWeb\Styles\_forms.less`
dl:not(.dl-horizontal) {
  dt {
    margin-top:     var(--spacing-medium);
    margin-bottom:  2px;
    font-weight:    var(--font-weight-bold);

    &:first-child {
      margin-top:   0;
    }
  }

  dd {
    margin-left:    0;
  }
}
// ==================

// Moved from _blocks-connections.less `\RockWeb\Styles\_blocks-connections.less`
.connection-request-board {

  .modal-content.rock-modal .modal-header {
    color:        var(--color-interface-stronger);
    background:   var(--color-interface-softer);
  }

  .modal-content.rock-modal .modal-body {
    padding:      var(--spacing-small) var(--spacing-medium);
  }

  .modal-content.rock-modal .modal-header .close {
    color:        var(--color-interface-medium);
  }

  .modal-content.rock-modal .modal-header small {
    margin-top:   var(--spacing-tiny);
    font-size:    100%;
  }

  .modal-content.rock-modal .modal-header .label {
    margin-top:   0;
  }
}
// ==================

// Moved from rock theme.less
.static-control-label,
.static-control .control-label,
dl:not(.dl-horizontal) dt{
  font-size:    var(--font-size-small);
  font-weight:  var(--font-weight-regular);
  color:        var(--color-interface-medium);
}
