

// Paneled List Group - extends the bootstrap (Rock Component)
// list group to behave in a panel


// =============================================================
// Table of Content           
//  + Base Style  
// =============================================================


// ======================== BASE STYLE ========================
ul.list-group-panel,
.panel-collapse {
  margin: 0;

  .list-group {
    margin-bottom: 0;
  }

  .list-group-item {
    border: 0;
    border-top: 1px solid var(--color-interface-softer);
    border-radius: 0;

    &:first-child {
      border: 0;
    }
  }
}
// ====================== END BASE STYLE ======================



