

// Person Directory (Rock Component)


// =============================================================
// Table of Content           
//  + Base Style  
// =============================================================


// ======================== BASE STYLE ========================
.directory-letters {
  li {
    width: 3.8455%;
    min-width: 20px;
  }
}

.directory-grid {
  & > div.row:nth-child(odd) {
    background-color: var(--color-interface-softer);
  }
}
// ====================== END BASE STYLE ======================




