// Picker GEO - styling for geo picker control (Rock Component)

// =============================================================
// Table of Content           
//  + Base Style 
// =============================================================


// ======================== BASE STYLE ========================
.gm-container {
    position: relative;
}

.gm-map {
    overflow: hidden;
}

.gm-clear-button {
    z-index:            10;
    position:           absolute;
    /* right: 0px; */
    margin-top:         var(--spacing-tiny);
    line-height:        0;
    overflow:           hidden;
    color:              #8c4b4b;
    background:         var(--color-interface-softest);
    padding:            var(--spacing-tiny);
    border-radius:      var(--rounded-tiny);
    box-shadow:         rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
    border:             0;
    text-align:         left;
}

.gm-clear-button:hover {
    background: whitesmoke;
}

.gm-clear-button:disabled {
    color: #aaa;
    background: var(--color-interface-softest);
}

.gm-clear-button i.fa {
    font-size: var(--font-size-regular);
    padding: 0 2.5px;
}

.static-map-size {
    height: 300px;
    width: 500px;
}

.expanded-map-size {
    height: 100%;
    width: 100%;
}
// ====================== END BASE STYLE ======================


