

// Progress Tracker (ROCK COMPONENT)


// =============================================================
// Table of Content           
//  + Base Style  
//  + Remainding
// =============================================================


// ======================== BASE STYLE ========================
.progress-tracker {
  display: flex;
  background: var(--color-interface-soft);
  border: 1px solid var(--color-interface-softer);
  border-radius: var(--rounded-small);
}

.progress-tracker-container {
  flex-grow: 1;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.progress-steps {
  display: flex;
  flex-grow: 1;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.progress-step {
  position: relative;
  display: flex;
  flex: 1 1 0;
  min-width: 140px;
  overflow: hidden;
}

.progress-tracker-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 14px;
  height: 100%;
  color: var(--color-interface-softer);

  svg {
    width: 100%;
    height: 100%;
  }
}

.progress-step-link {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6px 12px 6px var(----spacing-small);
  font-size: .875rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.25;
  color: var(--color-interface-strong);
}

.progress-tracker-icon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 1px 0 0;
  margin-right: 6px;
  font-size:  var(--font-size-xsmall);
  color:      var(--color-interface-softest);
  background: var(--color-primary);
  border-radius: 999px;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: 150ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;

  &.current {
    background: var(--color-interface-softest);
    border: 2px solid var(color-primary);
  }

  &.upcoming {
    background: var(--color-interface-softest);
    border: 2px solid var(--color-interface-strong);
  }
}

.progress-tracker-more {
  flex: 0 1 auto;
  min-width: 56px;

  .progress-step-link {
    padding: var(--spacing-tiny) 14px;
    font-size: var(--font-size-h4);
  }

  & + .progress-tracker-more {
    display: none;
  }
}

.progress-tracker-details {
  min-width: 0;
  margin-top: 2px;
}

.current + .progress-tracker-details {
  .progress-tracker-title,
  .progress-tracker-subtitle {
    color: var(--color-primary);
  }
}

.progress-tracker-title {
  color: var(--color-interface-stronger);
}

.progress-tracker-subtitle {
  margin: 0;
  font-size: .75rem;
  font-weight: var(--font-weight-regular);
  line-height: 1rem;
  color: var(--color-interface-medium);
}
// ====================== END BASE STYLE ======================


// ======================== REMAINDING ========================
.remaining-time {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px 20px;
  margin-left: auto;
  text-align: center;
  border-left: 1px solid var(--color-interface-softer);
}

.remaining-time-title {
  font-size: var(--font-size-xsmall);
  line-height: 14px;
  color: var(--color-interface-medium);
  white-space: nowrap;
}

.remaining-time-countdown {
  margin: 0;
  font-weight: var(--font-weight-medium);
  line-height: 1;
  color: var(--color-primary);
}
// ====================== END REMAINDING ======================




