
// Rating (ROCK COMPONENT)


// =============================================================
// Table of Content           
//  + Base Style  
// =============================================================


// ======================== BASE STYLE ========================
.rating-input {
  i {
    margin-right: var(--spacing-small);
    font-size: var(--font-size-h5);
    cursor: pointer;
  }
}
// ====================== END BASE STYLE ======================


