

// Security Controls - login status etc (Rock Component)


// =============================================================
// Table of Content           
//  + Base Style  
//  + Touch
// =============================================================


// ======================== BASE STYLE ========================

.loginstatus {
  & > li {
    min-width: 160px;
    text-align: right;

    & li {
      text-align: left;
    }
  }
}

// Override the default ul/ol background-color 
.nav {
  .open > a {
    &,
    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
}

.loginstatus {
  margin: 0;

  .loginstatus-wrapper {
    display:          flex;
    background:       var(--color-interface-softer);
    border-radius:    999px;
    flex-direction:   row-reverse;
    justify-content:  flex-start;
    align-items:      center;
    gap:              var(--spacing-xsmall);
    padding:          var(--spacing-tiny) var(--spacing-tiny);
    padding-left:     var(--spacing-small);
    margin-left:      var(--spacing-xsmall);
  }
  & b {
    margin: 0 var(--spacing-small) 0 var(--spacing-xsmall);
  }
  & > li {
    min-width:  inherit;
    @media (max-width: $screen-medium) {
      position: static;
    }

    > a {
      display:      flex;
      align-items:  center;
      padding:      0 18px;
      color:        currentColor;

      @media (max-width: $screen-medium) {
        padding:    0 var(--spacing-xsmall);
        .fa-caret-down {
          display:  none;
        }
      }

      .profile-photo {
        float:      left;
        width:      32px;
        height:     32px;
        background-repeat:  no-repeat;
        background-size:    cover;
        border-radius:      50%;
        @media (min-width: $screen-small) {
          width:        40px;
          height:       40px;
          margin-right: 12px;
        }

        &[style*="no-photo"] {
          opacity: .4;
        }
      }

      span {
        display: none;
      }

      .fa-caret-down::before {
        content: "\f078";
      }

      &:hover,
      &:focus {
        background-color: transparent;
      }
    }

    .dropdown-menu {
      right:    0;
      left:     auto;
      @media (max-width: $screen-small) {
        position:           absolute;
        top:                var(--top-header-height); // This variable is not defined, got it from .less like this
        left:               0;
        z-index:            1000;
        background-color:   var(--color-primary);

        & > li > a {
          color: var(--color-interface-softest);
        }
      }
    }
  }
}


