// Originally from vue-select@4.0.0-beta3 on 4/20/2022. (Rock Component)



:root {
  --vs-colors--lightest: rgba(60, 60, 60, .26);
  --vs-colors--light: rgba(60, 60, 60, .5);
  --vs-colors--dark: #333;
  --vs-colors--darkest: rgba(0, 0, 0, .15);
  --vs-search-input-color: inherit;
  --vs-search-input-placeholder-color: inherit;
  --vs-font-size: 1rem;
  --vs-line-height: 1.4;
  --vs-state-disabled-bg: #f8f8f8;
  --vs-state-disabled-color: var(--vs-colors--light);
  --vs-state-disabled-controls-color: var(--vs-colors--light);
  --vs-state-disabled-cursor: not-allowed;
  --vs-border-color: var(--vs-colors--lightest);
  --vs-border-width: 1px;
  --vs-border-style: solid;
  --vs-border-radius: 4px;
  --vs-actions-padding: 4px 6px 0 3px;
  --vs-controls-color: var(--vs-colors--light);
  --vs-controls-size: 1;
  --vs-controls--deselect-text-shadow: 0 1px 0 #fff;
  --vs-selected-bg: #f0f0f0;
  --vs-selected-color: var(--vs-colors--dark);
  --vs-selected-border-color: var(--vs-border-color);
  --vs-selected-border-style: var(--vs-border-style);
  --vs-selected-border-width: var(--vs-border-width);
  --vs-dropdown-bg: #fff;
  --vs-dropdown-color: inherit;
  --vs-dropdown-z-index: 1000;
  --vs-dropdown-min-width: 160px;
  --vs-dropdown-max-height: 350px;
  --vs-dropdown-box-shadow: 0 3px 6px 0 var(--vs-colors--darkest);
  --vs-dropdown-option-bg: #000;
  --vs-dropdown-option-color: var(--vs-dropdown-color);
  --vs-dropdown-option-padding: 3px 20px;
  --vs-dropdown-option--active-bg: #5897fb;
  --vs-dropdown-option--active-color: #fff;
  --vs-dropdown-option--deselect-bg: #fb5858;
  --vs-dropdown-option--deselect-color: #fff;
  --vs-transition-timing-function: cubic-bezier(1, -.115, .975, .855);
  --vs-transition-duration: 150ms;
}

.v-select {
  position:     relative;
  font-family:  inherit;
}

.v-select,
.v-select * {
  box-sizing:   border-box;
}

:root {
  --vs-transition-timing-function: cubic-bezier(1, .5, .8, 1);
  --vs-transition-duration: .15s;
}

@-webkit-keyframes vSelectSpinner {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes vSelectSpinner {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

.vs__fade-enter-active,
.vs__fade-leave-active {
  pointer-events:       none;
  transition: opacity   var(--vs-transition-duration) var(--vs-transition-timing-function);
}

.vs__fade-enter,
.vs__fade-leave-to {
  opacity: 0;
}

:root {
  --vs-disabled-bg:     var(--vs-state-disabled-bg);
  --vs-disabled-color:  var(--vs-state-disabled-color);
  --vs-disabled-cursor: var(--vs-state-disabled-cursor);
}

.vs--disabled .vs__clear,
.vs--disabled .vs__dropdown-toggle,
.vs--disabled .vs__open-indicator,
.vs--disabled .vs__search,
.vs--disabled .vs__selected {
  cursor:             var(--vs-disabled-cursor);
  background-color:   var(--vs-disabled-bg);
}

.v-select[dir="rtl"] .vs__actions {
  padding:      0 3px 0 6px;
}

.v-select[dir="rtl"] .vs__clear {
  margin-right: 0;
  margin-left:  6px;
}

.v-select[dir="rtl"] .vs__deselect {
  margin-right: 2px;
  margin-left:  0;
}

.v-select[dir="rtl"] .vs__dropdown-menu {
  text-align: right;
}

.vs__dropdown-toggle {
  display:              flex;
  padding:              0 0 var(--spacing-tiny);
  white-space:          normal;
  background:           none;
  border:               var(--vs-border-width) var(--vs-border-style) var(--vs-border-color);
  border-radius:        var(--vs-border-radius);
  -webkit-appearance:   none;
  -moz-appearance:      none;
  appearance:           none;
}

.vs__selected-options {
  position:         relative;
  display:          flex;
  flex-basis:       100%;
  flex-wrap:        wrap;
  flex-grow:        1;
  padding:          0 2px;
}

.vs__actions {
  display:      flex;
  align-items:  center;
  padding:      var(--vs-actions-padding);
}

.vs--searchable .vs__dropdown-toggle {
  cursor: text;
}

.vs--unsearchable .vs__dropdown-toggle {
  cursor: pointer;
}

.vs--open .vs__dropdown-toggle {
  border-bottom-color:          transparent;
  border-bottom-right-radius:   0;
  border-bottom-left-radius:    0;
}

.vs__open-indicator {
  transition: transform         var(--vs-transition-duration) var(--vs-transition-timing-function);
  transition-timing-function:   var(--vs-transition-timing-function);
  transform:                    scale(var(--vs-controls-size));
  fill:                         var(--vs-controls-color);
}

.vs--open .vs__open-indicator {
  transform:        rotate(180deg) scale(var(--vs-controls-size));
}

.vs--loading .vs__open-indicator {
  opacity:          0;
}

.vs__clear {
  padding:          0;
  margin-right:     var(--spacing-small);
  cursor:           pointer;
  background-color: transparent;
  border:           0;
  fill:             var(--vs-controls-color);
}

.vs__dropdown-menu {
  position:         absolute;
  top:              calc(100% - var(--vs-border-width));
  left:             0;
  z-index:          var(--vs-dropdown-z-index);
  box-sizing:       border-box;
  display:          block;
  width:            100%;
  min-width:        var(--vs-dropdown-min-width);
  max-height:       var(--vs-dropdown-max-height);
  padding:          5px 0;
  margin:           0;
  overflow-y:       auto;
  color:            var(--vs-dropdown-color);
  text-align:       left;
  list-style:       none;
  background:       var(--vs-dropdown-bg);
  border:           var(--vs-border-width) var(--vs-border-style) var(--vs-border-color);
  border-top-style: none;
  border-radius:    0 0 var(--vs-border-radius) var(--vs-border-radius);
  box-shadow:       var(--vs-dropdown-box-shadow);
}

.vs__no-options {
  text-align:       center;
}

.vs__dropdown-option {
  display:      block;
  padding:      var(--vs-dropdown-option-padding);
  clear:        both;
  line-height:  1.42857143;
  color:        var(--vs-dropdown-option-color);
  white-space:  nowrap;
  cursor:       pointer;
}

.vs__dropdown-option--highlight {
  color:        var(--vs-dropdown-option--active-color);
  background:   var(--vs-dropdown-option--active-bg);
}

.vs__dropdown-option--deselect {
  color:        var(--vs-dropdown-option--deselect-color);
  background:   var(--vs-dropdown-option--deselect-bg);
}

.vs__dropdown-option--disabled {
  color:        var(--vs-state-disabled-color);
  cursor:       var(--vs-state-disabled-cursor);
  background:   var(--vs-state-disabled-bg);
}

.vs__selected {
  z-index:                0;
  display:                flex;
  align-items:            center;
  padding:                0 .25em;
  margin:                 4px 2px 0;
  line-height:            var(--vs-line-height);
  color:                  var(--vs-selected-color);
  background-color:       var(--vs-selected-bg);
  border:                 var(--vs-selected-border-width) var(--vs-selected-border-style) var(--vs-selected-border-color);
  border-radius:          var(--vs-border-radius);
}

.vs__deselect {
  display:                inline-flex;
  padding:                0;
  margin-left:            var(--spacing-tiny);
  text-shadow:            var(--vs-controls--deselect-text-shadow);
  cursor:                 pointer;
  background:             none;
  border:                 0;
  -webkit-appearance:     none;
  -moz-appearance:        none;
  appearance:             none;
  fill:                   var(--vs-controls-color);
}

.vs--single .vs__selected {
  background-color:       transparent;
  border-color:           transparent;
}

.vs--single.vs--loading .vs__selected,
.vs--single.vs--open .vs__selected {
  position:               absolute;
  opacity:                .4;
}

.vs--single.vs--searching .vs__selected {
  display:                none;
}

.vs__search::-webkit-search-cancel-button {
  display:                none;
}

.vs__search::-ms-clear,
.vs__search::-webkit-search-decoration,
.vs__search::-webkit-search-results-button,
.vs__search::-webkit-search-results-decoration {
  display:                none;
}

.vs__search,
.vs__search:focus {
  z-index:                1;
  flex-grow:              1;
  width:                  0;
  max-width:              100%;
  padding:                0 7px;
  margin:                 4px 0 0;
  font-size:              var(--vs-font-size);
  line-height:            var(--vs-line-height);
  color:                  var(--vs-search-input-color);
  background:             none;
  border:                 1px solid transparent;
  border-left:            none;
  outline:                none;
  box-shadow:             none;
  -webkit-appearance:     none;
  -moz-appearance:        none;
  appearance:             none;
}

.vs__search::-moz-placeholder {
  color:                  var(--vs-search-input-placeholder-color);
}

.vs__search:-ms-input-placeholder {
  color:                  var(--vs-search-input-placeholder-color);
}

.vs__search::placeholder {
  color:                  var(--vs-search-input-placeholder-color);
}

.vs--unsearchable .vs__search {
  opacity:                1;
}

.vs--unsearchable:not(.vs--disabled) .vs__search {
  cursor:                 pointer;
}

.vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search {
  opacity:                .2;
}

.vs__spinner {
  align-self:             center;
  overflow:               hidden;
  font-size:              5px;
  text-indent:            -9999em;
  border:                 .9em solid hsla(0deg, 0%, 39%, .1);
  border-left-color:      rgba(60, 60, 60, .45);
  opacity:                0;
  transition:             opacity .1s;
  transform:              translateZ(0) scale(var(--vs-controls--spinner-size, var(--vs-controls-size)));
  -webkit-animation:      vSelectSpinner 1.1s linear infinite;
  animation:              vSelectSpinner 1.1s linear infinite;
}

.vs__spinner,
.vs__spinner::after {
  width:                  5em;
  height:                 5em;
  border-radius:          50%;
  transform:              scale(var(--vs-controls--spinner-size, var(--vs-controls-size)));
}

.vs--loading .vs__spinner {
  opacity:                1;
}

/*** Custom Rock Overrides ***/
.v-select.form-control .vs__dropdown-toggle {
  border:                 initial;
  border-radius:          initial;
}

.v-select.form-control .vs__selected-options {
  padding-left:           0;
}

.v-select.form-control .vs__selected {
  margin-top:             0;
}

.v-select.form-control .vs__selected:first-child {
  margin-left:            0;
}

.v-select.form-control {
  --vs-actions-padding:   0 0 0 3px;
}
