<!DOCTYPE html>
<html lang="en">
	{% include standard_head.html %}
  <body>

		{% include header.html %}

    <div class="container-fluid">
      <div class="sidebar">
        <div class="well">
        	{% include sidebar.html %}
        </div>
      </div>
      <div class="content">
      	{{content}}
      	        
        <footer>
          <p>&copy; 2012 <a href="http://www.sparkdevnetwork.org">Spark Development Network</a>, <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a></p>
        </footer>
      </div>
    </div>

  </body>
</html>