.page-background {
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/get-involved/hero-baptism.jpg");
    background-color: #FFFFFF;
}

/* Mobile Background Image */
@media screen and (max-width: 500px) {
    .page-background {
        background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/get-involved/hero-mobile-baptism.jpg");
    }
}

#ternavbar-bg {
    display: none;
}

#section-b-bg {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.faqs h2 {
    margin-top: 0;
}

/* Weird padding fix... */
/* Standard Layout Tablet Styling */
@media screen and (max-width: 768px) {
    #section-c-bg {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

/* Start Select A Day styling */
.event-item-list-container {
	display: flex;
    flex-wrap: wrap;
}

.event-item-container {
    display: flex;
    border: 2px solid #E4E4E4;
    border-radius: 7.5px;
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 1px #E5E5E5;
    padding:15px;
    margin: 5px;
}

.event-item-container:hover {
    background-color: #7A1315;
    color: #FFFFFF;
    text-decoration: none;
}

.event-item {
    align-self: flex-end;
}

.btn-event-campus-selection {
    width: auto;
}

/* Select A Day Mobile Styling */
@media screen and (max-width: 500px) {
    .event-item-list-container {
        justify-content: center;
    }
}
/* End Select A Day Styling */
