.page-background {   
    background-color: #EBEBEB;
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/get-involved/hero-coach.jpg");
}

/* Mobile Background Image */
@media screen and (max-width: 500px) {
    .page-background {
        background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/get-involved/hero-mobile-coach.jpg");
    }
}

/* use the expanded main feature only for tablet and larger */
@media screen and (min-width: 501px) {
    .main-feature {
        height: 350px;
        padding-top: 125px;
    }
}

#ternavbar-bg {
    display: none;
}

h2 {
    font-size: 3.26rem
}

h4 {
    color: #000000;
}

.coaching-name-fields {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.coaching-info-text {
    color: black;
}

.first-name, .last-name, .email-address, .phone-number {
    width: 300px;
    margin-right: 15px;
}

.coaching-info-fields {
    display: flex;
    justify-content: flex-start;

    flex-wrap: wrap;
}
