.page-background {   
    background-color: #EBEBEB;
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/hero-image-missing.jpg");
}

#ternavbar-bg {
    display: none;
}

h2 {
    font-size: 3.26rem
}

h4 {
    color: #000000;
}

.coaching-name-fields {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.coaching-info-text {
    color: black;
}

.first-name, .last-name, .email-address, .phone-number {
    width: 300px;
    margin-right: 15px;
}

.coaching-info-fields {
    display: flex;
    justify-content: flex-start;

    flex-wrap: wrap;
}
