.page-background {   
    background-color: #EBEBEB;
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/get-involved/hero-events-registration.jpg");
}

/* Mobile Background Image */
@media screen and (max-width: 500px) {
    .page-background {
        background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/get-involved/hero-mobile-events-registration.jpg");
    }
}

/* use the expanded main feature only for tablet and larger */
@media screen and (min-width: 501px) {
    .main-feature {
        height: 350px;
        padding-top: 125px;
    }
}

/* Mobile Styling */
@media screen and (max-width: 500px) {
    .form-control {
        padding: 0;
    }

    .birthday-picker .control-wrapper .form-control-group select {
        width: 25%;
    }
}