
.page-background {
    background-color: #EBEBEB;
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/hero-image-missing.jpg");
}

.group-title h1 {
    font-size: 60px;
    font-weight: 900;
    font-family: akrobat;
    color: #7A1315;
    text-align: center;
    padding-bottom: 25px;
}