.page-background {
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/get-involved/hero-starting-point.jpg");
   background-color: #FFFFFF;
}

/* Mobile Background Image */
@media screen and (max-width: 500px) {
    .page-background {
        background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/get-involved/hero-mobile-starting-point.jpg");
    }
}

.control-wrapper textarea {
    background-color: #eeeeee;
    border-bottom: unset;
    border: 1px solid #777777;
    color: #333333;
}

.control-wrapper textarea::placeholder { 
    color: #333333;
}

.well {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px; 
    border-radius: 5px;
    background-color: #ffffff;
}

.actions {
    padding-bottom: 20px;
    padding-right: 20px;
}