.page-background {   
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/get-involved/hero-share-your-story.jpg");
}

/* Mobile Background Image */
@media screen and (max-width: 500px) {
    .page-background {
        background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/get-involved/hero-mobile-share-your-story.jpg");
    }
}

/* use the expanded main feature only for tablet and larger */
@media screen and (min-width: 501px) {
    .main-feature {
        height: 350px;
        padding-top: 125px;
    }
}
 
.control-wrapper textarea {
    background-color: #eeeeee;
    border-bottom: unset;
    border: 1px solid #777777;
    color: #333333;
    /* width: 75%; */
}

.control-wrapper textarea::placeholder { 
    color: #333333;
}

 .story-name-fields {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
}

.first-name, .last-name {
    width: 47%;
}

.email-address {
    width: 50%;
}

.email-box {
    margin-bottom: 0;
}

.form-control {
    padding: 0;
}

@media screen and (max-width: 500px) { 
    .story-name-fields {
        width: 100%;
    }

    .first-name, .last-name, .email-address {
        width: 100%;
        margin-right: 0;
    }
}
