.page-background {
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/get-involved/hero-starting-point-registration.jpg");
    background-color: #ffffff;
}

/* Mobile Background Image */
@media screen and (max-width: 500px) {
    .page-background {
        background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/get-involved/hero-mobile-starting-point-registration.jpg");
    }
}

/* use the expanded main feature only for tablet and larger */
@media screen and (min-width: 501px) {
    .main-feature {
        height: 350px;
        padding-top: 125px;
    }
}

.reg-info h1 {
    font-size: 60px;
    font-weight: 900;
    font-family: akrobat;
    color: #7A1315;
    text-align: center;
}