/*
    Used to style the Rock installer
    
    1. Page Components
    2. UI Wigets
    3. 
    4. Boostrap Overrides
    5. Waiting Annimation

*/
body {
  background-color: #dbd5cb;
  border-top: 24px solid #282526;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  color: #6a6a6a;
}
h1 {
  font-weight: 300;
  letter-spacing: -0.02em;
  font-family: 'Open Sans', sans-serif;
}
#content {
  width: 85%;
  max-width: 960px;
  margin: 0 auto;
}
#content h1#logo {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjYwLjE4NXB4IiBoZWlnaHQ9IjYwLjA2M3B4IiB2aWV3Qm94PSIwIDAgNjAuMTg1IDYwLjA2MyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNjAuMTg1IDYwLjA2MyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQogICAgICAgICAgICAgICAgICAgICAgICA8cGF0aCBjbGFzcz0icm9jay1sb2dvIiBmaWxsPSIjZDFjOWJjIiBkPSJNNTcuNzA1IDYwLjA2M0w0MS4zODcgNDAuOTM2YzAgMCAxMS44My0wLjAyNiAxMS45MjgtMC4wMjhjMS4zMTMgMC4xIDIuNjU0LTAuMzUxIDMuNzM2LTEuMjU5IGMyLjMzLTEuOTQ4IDIuNjQzLTUuNDE0IDAuNjkzLTcuNzUyTDMyLjM5NiAyLjE1MWMtMC4yNDItMC4zMTktMC41MTYtMC42Mi0wLjgzNi0wLjg5MWMtMC4wMzktMC4wMjktMC4wODQtMC4wNTEtMC4xMjEtMC4wODIgYy0wLjAxMi0wLjAxLTAuMDI3LTAuMDE4LTAuMDM5LTAuMDI1Yy0wLjI3OS0wLjIxNi0wLjU2Ni0wLjQwNS0wLjg2Ny0wLjU2M2MtMC4wMTgtMC4wMDktMC4wMzktMC4wMTQtMC4wNTktMC4wMjEgYy0wLjMwMS0wLjE1MS0wLjYwOS0wLjI3Ni0wLjkyMi0wLjM2NmMtMC4wNTctMC4wMTMtMC4xMTktMC4wMjUtMC4xNzgtMC4wMzljLTAuMjc3LTAuMDYzLTAuNTU3LTAuMTI5LTAuODQtMC4xNSBjLTAuMTcyLTAuMDIxLTAuMzQ2LTAuMDA4LTAuNTE2LTAuMDA4Yy0wLjE3MiAwLTAuMzQtMC4wMTQtMC41MTQgMC4wMDhjLTAuMjgxIDAuMDIxLTAuNTU5IDAuMDg3LTAuODQgMC4xIGMtMC4wNTkgMC4wMTQtMC4xMTUgMC4wMjYtMC4xNzQgMC4wMzljLTAuMzE4IDAuMDktMC42MjUgMC4yMTUtMC45MjQgMC4zNjZjLTAuMDIxIDAuMDA5LTAuMDM5IDAuMDE0LTAuMDU3IDAgYy0wLjMwNSAwLjE1Ni0wLjU5OCAwLjM0Ny0wLjg2OSAwLjU2M2MtMC4wMTggMC4wMDktMC4wMjUgMC4wMTctMC4wMzcgMC4wMjVjLTAuMDM5IDAuMDMxLTAuMDg0IDAuMDUzLTAuMTIzIDAuMSBjLTAuMzIgMC4yNzEtMC41OTQgMC41Ny0wLjg0IDAuODg1TDAgMjkuODZoMTQuNDYxbDEzLjU1Ny0xNS44OTFsMTMuNjA0IDE1Ljk2N2wtMTIuMTA0IDAuMDA4Yy0wLjA0NSAwLTAuMDg4IDAuMDEzLTAuMTMzIDAgYy0wLjI4NyAwLTAuNTc4IDAuMDI2LTAuODY1IDAuMDcxYy0wLjA4MiAwLjAxNy0wLjE2NiAwLjAzNS0wLjI0NCAwLjA1NGMtMC4yNiAwLjA1My0wLjUyIDAuMTMyLTAuNzc1IDAuMiBjLTAuMDk0IDAuMDM0LTAuMTgyIDAuMDcyLTAuMjY2IDAuMTE3Yy0wLjIzMiAwLjA5OC0wLjQ1NSAwLjIxMy0wLjY3MiAwLjM1MmMtMC4wOTYgMC4wNjItMC4xOTMgMC4xMzEtMC4yODUgMC4yIGMtMC4xMTcgMC4wODEtMC4yMzggMC4xNDMtMC4zNDYgMC4yMjljLTAuMDc2IDAuMDY3LTAuMTM3IDAuMTQ3LTAuMjExIDAuMjIxYy0wLjA4OCAwLjA4Mi0wLjE3NCAwLjE3Mi0wLjI1OCAwLjMgYy0wLjE2NiAwLjE3MS0wLjMxOCAwLjM1MS0wLjQ1MyAwLjUzMWMtMC4wNjggMC4xMDUtMC4xMzEgMC4yMDUtMC4xOTUgMC4zMDhjLTAuMTI3IDAuMTk4LTAuMjM2IDAuMzk2LTAuMzMyIDAuNiBjLTAuMDU5IDAuMTI2LTAuMTA3IDAuMjU1LTAuMTU2IDAuMzg0Yy0wLjA3MiAwLjE5OS0wLjE0NSAwLjM5OC0wLjE5MSAwLjYwNWMtMC4wMzcgMC4xNDUtMC4wNjMgMC4zMDEtMC4wODQgMC41IGMtMC4wMzUgMC4yMDItMC4wNTkgMC40MDMtMC4wNyAwLjYwNmMtMC4wMDYgMC4wNzQtMC4wMjMgMC4xMzctMC4wMjMgMC4yMDljMCAwLjEgMCAwLjIgMCAwLjMgYzAuMDEyIDAuMiAwIDAuNCAwLjEgMC41NTdjMC4wMjUgMC4yIDAuMSAwLjQgMC4xIDAuNTU1YzAuMDM5IDAuMiAwLjEgMC4zIDAuMSAwLjUgYzAuMDcyIDAuMiAwLjIgMC40IDAuMiAwLjU4OGMwLjA2MSAwLjEgMC4xIDAuMiAwLjIgMC4zNWMwLjEyMyAwLjIgMC4zIDAuNCAwLjQgMC42IGMwLjA0NSAwLjEgMC4xIDAuMSAwLjEgMC4xNjhsMTguMDA0IDIxLjEwNGgxNC40NTlWNjAuMDYzeiIvPg0KICAgICAgICAgICAgICAgICAgICA8L3N2Zz4=") no-repeat scroll 0 0 transparent;
  background-size: 100px 100px;
  color: red;
  display: block;
  height: 100px;
  width: 100px !important;
  margin: 20px auto 18px;
  text-indent: -9999px;
  width: 163.369px;
}

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

#console {
  background-color: #282526;
  min-height: 12px;
  width: 100%;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  color: #d3cec5;
  padding: 12px;
  border-radius: 2px;
  margin-top: 4px;
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 48px;
}
#console ul {

}

#console ul > li {
  margin-bottom: 6px;
}
#console ul > li span.date {
  opacity: .5;
}
#console ul > li span.highlight {
  color: #446e73;
}
#console ul > li span.warning {
  color: #f3d066;
}
#console ul > li span.critical {
  color: #c84b4b;
}

label small {
  font-weight: normal;
}
.btn-primary {
  background-color: #ee7624;
  border-color: #e76812;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #f0853c;
  border-color: #cf5e10;
}
.btn-default {
  background-color: #d1c9bc;
  border-color: #c7bdad;
  color: #5b554c;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #c7bdad;
  border-color: #c7bdad;
}
.well {
  background-color: #f3f3f4;
  border: 1px solid #d8d8dc;
  color: #6a6a6a;
}
.progress {
  background-color: #eeebe7;
}
.progress .progress-bar {
  background-color: #afd074;
}
.spinner {
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 10px;
  margin: 0;
  position: absolute;
  top: 28px;
  left: 100px;
  background: #ee7624;
  z-index: 4;
  border-radius: 120px;
  padding: 25px 10px;
}
.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
