
.card {
    display: block;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    background-color: #fff;
    border-radius: 15px;

    h1, h2, h3, h4, h5, h6 {
        word-break: break-word;
    }
}

a.card,
.card-clickable {
    color: inherit;
    text-decoration: none;
    border-bottom: solid #fff 4px;
    transition: transform ease-in-out 300ms, border-color ease-in-out 300ms;

    &:hover,
    &:active,
    &:visited,
    &:focus {
        color: inherit;
        text-decoration: none;
    }

    &:hover {
        border-bottom: solid #8bc540 4px;
        transform: translateY(-5px);

        h1 {
            color: #8bc540;
        }
    }
}

.card-body {
    padding: 1.5em;
}

.card-img {
    width: 100%;
}

.card-primary {
    color: @truewhite;
    background-color: @brand-primary;

    h1, h2, h3, h4, h5, h6 {
        color: inherit;
    }
}

.card-overlay-group {
    margin-bottom: 2em;
}

@media (min-width: @screen-sm-min) {
    .card-overlay-group {
        padding: 1em;

        > .card > .card-body {
            padding: 3em;
        }

        > .card-left {
            margin: 0 1em 0 -1em;
        }

        > .card-right {
            margin: -3em -1em 0 1em;

            > .card-body {
                padding: 5em 3em 3em 3em;
            }
        }
    }
}

@media (min-width: @screen-md-min) {
    .card-overlay-group {
        position: relative;
        padding: 0;
        margin-bottom: 8em;
        display: flex;
        align-items: flex-start;

        > .card-left {
            margin: 0;
            width: 50%;
            z-index: 10;

            > .card-body {
                padding: 3.5em 3.5em 3.5em 3.5em;
            }

            &.fullheight {
                align-self: stretch;
            }

            &.center {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        > .card-right {
            margin: 4em 0 -4em -4em;
            width: 50%;
            z-index: 5;

            > .card-body {
                padding: 3.5em 3.5em 3.5em 6.5em;
            }

            &.fullheight {
                align-self: stretch;
            }

            &.center {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        &::before, &::after {
            display: table;
            content: " ";
        }

        &::after {
            clear: both;
        }
    }
}

@media (min-width: @screen-lg-min) {
    .card-overlay-group {
        > .card-right {
            > .card-body {
                padding: 4em 4em 4em 7em;
            }
        }
    }
}

.card-small {
    font-size: 0.75em;

    .card-body {
        padding: 1.75em;
    }
}
