
.grid-responsive,
.zone-grid-responsive > .zone-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}

.grid-responsive-3,
.zone-grid-responsive-3 > .zone-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}

.grid-responsive-4,
.zone-grid-responsive-4 > .zone-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
}

// Tablet view
@media (max-width: @screen-sm-max) {

    .grid-responsive,
    .zone-grid-responsive > .zone-content {
        grid-gap: 1em;
    }

    .grid-responsive-3,
    .grid-responsive-4,
    .zone-grid-responsive-3 > .zone-content,
    .zone-grid-responsive-4 > .zone-content {
        grid-template-columns: 1fr 1fr;
    }

}

// Phone view
@media (max-width: @screen-xs-max) {

    .grid-responsive,
    .grid-responsive-3,
    .grid-responsive-4,
    .zone-grid-responsive > .zone-content,
    .zone-grid-responsive-3 > .zone-content,
    .zone-grid-responsive-4 > .zone-content {
        grid-template-columns: 1fr;
        max-width: 500px;
        margin: auto;
    }

}
