
.grid-responsive {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}

.grid-responsive-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}

// Tablet view
@media (max-width: @screen-sm-max) {

    .grid-responsive {
        grid-gap: 1em;
    }

    .grid-responsive-3 {
        grid-template-columns: 1fr 1fr;
    }

}

// Phone view
@media (max-width: @screen-xs-max) {

    .grid-responsive,
    .grid-responsive-3 {
        grid-template-columns: 1fr;
        max-width: 500px;
        margin: auto;
    }

}
