#group-details {
	&.css-grid {
		display:grid;
		grid-template-columns: 1fr 1fr;
		.css-grid-item {
			padding: 30px;
			@media (min-width: @screen-sm) {
				padding: 40px;
			}
			@media (min-width: @screen-sm) {
				padding: 60px;
			}
			.infobox {
				padding: 35px;
				.box-shadow();
				background-color: @truewhite;
				margin-bottom: 1em;
			}
			.group-name {
				.font(36,900);
				color: @header-text-color;
				margin:0;
			}
			h4 {
				.font(30,700);
				color: @header-text-color;
				margin:0;
			}
			.group-schedule {
				color: @gray-lighter;
				.font(24);
				margin-bottom: 1em;
			}
			.group-description {
				color: @text-color;
				.font(24);
			}
		}
		.grouplocationmap-image {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			padding:0;
		}
	}
}
