
.navbar {
    display: flex;
    list-style-type: none;
    margin: 0;
    position: relative;
    border: none;
    justify-content: center;
    transition: padding ease-in-out 300ms, box-shadow ease-in-out 300ms, background-color ease-in-out 300ms, margin-bottom ease-in-out 300ms;
    z-index: 100;
}

.navbar.noheader {
    padding: 0.75rem 3rem;
    margin-bottom: 1.5rem;
    background-color: @truewhite;
    box-shadow: @box-shadow;
}


.navbar-collapse {
    flex-grow: 1;
}

.navbar-toggler {
    border: none;
    padding: 0.75em 1em;
    font-size: 1.25em;
    line-height: 1em;
    color: @brand-primary;
    background-color: transparent;
    z-index: 100;
}


.navbar.open {

    .navbar-toggler {
        position: fixed;
        right: 0;
        top: 0;
        font-size: 2em;

        .np-menu::before {
            content: "\e90b";
            color: #efefef;
        }
    }

    .nav-home-icon .nav-logo,
    .np-logomark{
        display: none;
    }
}


    .navbar-toggle-content {
        display: none;
        background-color: #282828;
        padding: 6.75em 2.75em;
    }

    .navbar.open {
        .navbar-toggle-content {
            display: inline-block;
            .fullscreen-scrollable
                    }
    }

    .opaque .navbar {
        padding: 0.75rem 3rem;
        margin-bottom: 1.5rem;
        color: gray;
        background-color: @truewhite;
        box-shadow: @box-shadow;
    }


    .block-highlight .navbar-toggle-content,
    .zone-highlight .navbar-toggle-content {
        position: relative;
    }

    .nav-home-icon .nav-logo,
    .np-logomark {
        color: @brand-primary;
        font-size: 2.35em;
        margin: 3px 0;


    .opaque .nav-logo,
    .noheader .nav-logo {
        color: @brand-primary;
    }
}
