// Universal styles
.nav-caret {
    font-family: 'Icons' !important;
    font-weight: normal;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.nav-caret::after {
    content: "\e911";
}

.nav-dropdown-content {
    display: inline;
}

.nav-dropdown-toggle {
    display: flex;
    align-items: center;
}


.nav-dropdown.open {
    background-color: #404040;
    margin: 0 auto;
    padding: 0;
    overflow: auto;

    & > .nav-dropdown-toggle {
        color: white;
        background-color: gray;
        padding: 50px 40px 20px;

        .nav-caret {
            transform: rotate(180deg);
            order: -1;
        }
    }

    & > .nav-dropdown-content {
        display: block;
        margin: auto;
    }
}

