/*
//  Navbar Nav
//  This is for the navigation menu inside the header's navbar
*/

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;

    & > li > a {
        line-height: 1em;
    }
}

    .nav-link {
        font-size: 1.25em;
        font-weight: bold;
        display: flex;
        align-items: center;
        color: @white;
        text-transform: uppercase;
        transition: color ease-in-out 300ms;
        z-index: 999;

        &:hover, &:active, &:focus {
            color: @brand-primary;
            text-decoration: none;
        }
    }

.nav-home-text {
        display: none;
    }


