
.group-title {
    text-transform: uppercase;
    border-bottom: solid 2px #AFAFAF;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}

.img-read-more {
    display: block;
    position: relative;

    &:before {
        opacity: 0;
        .np-icon();
        content: @np-open;
        color: @truewhite;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        font-size: 65px;
        transition: opacity 300ms ease-in-out;
    }

    &:after {
        opacity: 0;
        .overlay(fade(@brand-primary,80%));
        z-index: 5;
        transition: opacity 300ms ease-in-out;
    }

    &:hover {
        &:before, &:after {
            opacity: 1;
        }
    }
}

.staff-img {
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
}

.staff-detail {
	.backlink {
		font-size:30px;
		@media (min-width: @screen-xl) {
			font-size:40px;
		}
		position: absolute;
		top:0;
		right:0;
		text-decoration: none;
		&:hover {
			color: @gray-dark;
		}
	}
}
