/*
     
     Rock Park Check-in Theme
     Crafted by: Spark Development Network

 */

//
// Imports
// --------------------------------------------------

@import "../../../Styles/FontAwesome/font-awesome.less";
@import "../../../Styles/Bootstrap/bootstrap.less"; 
@import "../../../Styles/_checkin-core.less";
@import "../../../Styles/_modal.less";
@import "../../../Styles/_helpers.less";

@import "_variables.less";
@import "_variable-overrides.less";


// Fonts
// -------------------------

//regular (weight 'normal' aka 400)
@font-face {
    font-family: 'OpenSans';
    src: url('../../../Assets/Fonts/OpenSans/OpenSans-Regular-webfont.eot');
    src: url('../../../Assets/Fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../Assets/Fonts/OpenSans/OpenSans-Regular-webfont.woff') format('woff'),
         url('../../../Assets/Fonts/OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../../../Assets/Fonts/OpenSans/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}

// light (weight 300)
@font-face {
    font-family: 'OpenSans';
    src: url('../../../Assets/Fonts/OpenSans/OpenSans-Light-webfont.eot');
    src: url('../../../Assets/Fonts/OpenSans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../Assets/Fonts/OpenSans/OpenSans-Light-webfont.woff') format('woff'),
         url('../../../Assets/Fonts/OpenSans/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../../../Assets/Fonts/OpenSans/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

// semi-bold (weight 600)
@font-face {
    font-family: 'OpenSans';
    src: url('../../../Assets/Fonts/OpenSans/OpenSans-Semibold-webfont.eot');
    src: url('../../../Assets/Fonts/OpenSans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../Assets/Fonts/OpenSans/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../../../Assets/Fonts/OpenSans/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../../../Assets/Fonts/OpenSans/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

// bold (weight 700)
@font-face {
    font-family: 'OpenSans';
    src: url('../../../Assets/Fonts/OpenSans/OpenSans-Bold-webfont.eot');
    src: url('../../../Assets/Fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../Assets/Fonts/OpenSans/OpenSans-Bold-webfont.woff') format('woff'),
         url('../../../Assets/Fonts/OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('s../../../Assets/Fonts/OpenSans/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: 700;
    font-style: normal;
}


//
// Mix-ins
// --------------------------------------------------
.checkinBackground () {
  background: @bg-color @background-image top right no-repeat fixed;
}

.checkinBackgroundRetina() {
  background-image: @bg-color @background-image-retina;
  background-size: @background-image-retina-size;
}


//
// Custom Overrides
// --------------------------------------------------

.checkin-count h3,
.checkin-count li {
  color: #4c4c4b;
}

body {
  display: none;
  -ms-touch-action: none !important;
      touch-action: none;   /* Disable any special actions on tap/touch */

  -ms-content-zooming: none; /* Disables zooming */
}

@import "_css-overrides.less";
