.page-background {   
    background-color: #EBEBEB;
}

#subnavbar-bg {
    display: none;
}

#section-a-bg {
   background-color: #f9f9f9;
}

#section-b-bg {
    background-color: #f9f9f9;
}

#section-c-bg {
	display: none;
}

.campus-header {
    font-size: 64px;
    text-align: center;
}

.campus-leader {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 528px){
    .campus-leader {
        flex-direction: row;
    }
}

.campus-leader-details {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.campus-info-card {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px; 
    border-radius: 5px;
    width: 100%;
}

.address {
    display: flex;
    padding-bottom: 20px;
}

.campus-info-icon {
    font-size: 16pt;
    padding-right: 15px;
    margin-top: 5px;
}

.address p {
    line-height: unset;
    margin: unset;
    font-size: 14pt;
}

.phone a {
    font-size: 14pt;
}

.service-times {
    margin-top: 25px;
    color: #777777;
}

.service-times strong {
    font-weight: 900;
}

.kids-students-times {
    margin-top: 25px;
}

.time-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #777777;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
    padding-top: 5px;
    padding-bottom: 5px;
}

.time-entry {
    margin: 10px 0 10px 0;
}

.time-entry-details {
    text-align: right;
}
.time-entry-details p {
    margin: 0
}

.time-entry-label {
    font-weight: 900;
}

.time-entry-last {
    border-bottom: unset;
}

.info-tile {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px; 
    border-radius: 5px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 528px){
    .directions-info {
        max-width: 60%;
    }
}

.clothing-info {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 528px){
    .clothing-info {
        max-width: 40%;
    }
}

.clothing-icons {
    display: flex;
    flex-wrap: wrap;
}

.clothing-icons img {
    margin-left: 25px;
}

.info-tile-group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

@media screen and (min-width: 528px){
    .info-tile-group {
        flex-direction: row;
    }
}

.parking-info {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
}

@media screen and (min-width: 528px){
    .parking-info {
        width: 49%;
    }
}

.parking-info ul {
    color: #777777;
}

.parking-info li {
    margin-bottom: 5px;
}

.attendance-info {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
}

@media screen and (min-width: 528px){
    .attendance-info {
        width: 49%;
    }
}