p {
   line-height: 2.50;
}

.ccvRed {
   color: rgb(111,19,21)
}

hr {
   border-top: 1px solid #707270;
   margin-top: 30px;
   margin-bottom: 20px;
}

.infoSection {
   padding-top: 50px;
   padding-bottom: 50px;
}

.graphicSection {
   padding-top: 150px;
   padding-bottom: 150px;
}

.graphicSection h1,
.graphicSection h2,
.graphicSection h4,
.graphicSection h5,
.graphicSection p {
   color: white;
}

/*Render the "play video" overlay*/
.videoThumbnail {
   position:relative;
   display: inline-block;
   margin: 30px;
}

/*Render the red background overlay*/
.videoThumbnail:before {
   background-color: rgba(111,19,21,.6);
   min-width: 50%;
   min-height: 50%;
   content: " ";
   position: absolute;
   top: 25%;
   left: 25%;
}

/*Render the white play icon*/
.videoThumbnail:after {
   position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   content: "\f04b";
   font-family: FontAwesome;
   font-size: 1.2em;
   color: white;
}
