/* Dasboard Page */
.page-background {   
    background-color: #EBEBEB;
    margin: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page-background-morning {  
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/hero-dashboard-morning.jpg");
    background-color: #EBEBEB;
    background-position: center top;
}

.page-background-afternoon {  
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/hero-dashboard-day.jpg");
    background-color: #EBEBEB;
    background-position: center top;
}

.page-background-evening {  
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/hero-dashboard-evening.jpg");
    background-color: #EBEBEB;
    background-position: center top;
}

.page-background-night {  
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/hero-dashboard-night.jpg");
    background-color: #EBEBEB;
    background-position: center top;
}

#subnavbar-bg {
    background-color: #EBEBEB;
}


/* Dashboard Title */
.title-container {
    margin-top: 76px;
}

.title {
    width: 80%;
    margin: 0 auto;
}

.title h3 {
    padding-top: unset;
    color: #7A1315;
    font-weight: unset;
}

.title-greeting {
    text-align: center; 
    color: #FFFFFF; 
    font-family: akrobat; 
    font-weight: 900; 
    font-size: 60px;

}

.title-message {
    text-align: center; 
    color: #FFFFFF; 
    font-size: 18px; 
    font-family: heebo; 
    font-weight: normal;
}

.print-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

#btnPrint {
    height: 50px;
}


/* Mobile Styling Dashboard Title */
@media screen and (max-width: 500px){
    .title-container {
        margin-top: -10px;
    }

    .title-greeting {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
    }


    #titleMessage {
        display: none;
    }

    .title, .print-button {
        width: 100%;
        padding: 0 15px;
        margin: 0 auto 15px auto;
    }

    .print-button {
        flex-direction: column;
    }

    #btnPrint {
        width: 100px;
        margin: 10px auto 0 auto;
    }

    .title h2, .print-button h2  {
        font-size: 24px;
        text-align: center;
    }
}

/* End Dashboard Title */


/* NextSteps Nav */
.next-steps-nav {
    height: 210px;
}

.outer-circle {
    bottom: 0;
    left: 35%;
    height: 210px;
    padding: 42px; /* 42px = 30px*1.4 (30px = half the width of a link with img, 1.4 = sqrt(2)) */
    margin: 0 auto;
}

.outer-circle-link {
    display: block;
    position: absolute;
    bottom: -50%; 
    left: 0;
    right: 0;
    width: 60px; 
    height: 60px;
    margin: -2em auto;
    opacity: 0;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.outer-circle-link-open {
    bottom: 5%;
    opacity: 1;
}

.outer-circle img { 
    display: block; 
    width: 60px;
    height: 60px; 
}

/* Degree rotations for outer circle steps icons */
.deg188 { transform: rotate(188deg) translate(175px) rotate(-188deg) }
.deg209-5 { transform: rotate(209.5deg) translate(160px) rotate(-209.5deg); }
.deg233 { transform: rotate(233deg) translate(155px) rotate(-233deg); }
.deg257-5 { transform: rotate(257.5deg) translate(150px) rotate(-257.5deg); }
.deg282-5 { transform: rotate(282.5deg) translate(150px) rotate(-282.5deg); }
.deg307 { transform: rotate(307deg) translate(155px) rotate(-307deg); }
.deg330-5 { transform: rotate(330.5deg) translate(160px) rotate(-330.5deg); }
.deg352 { transform: rotate(352deg) translate(175px) rotate(-352deg); }

.inner-circle {
    background-color: #EBEBEB;
    position: relative;
    width: 200px;
    height: 210px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: -100px;
}

.inner-circle-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.inner-circle-text i {
    color: #7A1315; 
    font-size: 30px;
}

.inner-circle a {
    font-family: akrobat;
    color: #7A1315;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

/* Mobile styling next steps nav */
@media screen and (max-width: 500px){
    .next-steps-nav {
        height: 150px;
        margin-left: -25px;
        margin-right: -25px;
    }
    .outer-circle {
        padding: 31px; /* 31px = 22px*1.4 (22px = half the width of a link with img, 1.4 = sqrt(2)) */
    }

    .outer-circle-link {
        bottom: -50%; 
        width: 44px; 
        height: 44px;

    }
    
    .outer-circle-link-open {
        bottom: 8%;
        opacity: 1;
    }
    
    .outer-circle img { 
        width: 44px;
        height: 44px; 
    }

    /* Degree rotations for outer circle steps icons */
    .deg188 { transform: rotate(188deg) translate(130px) rotate(-188deg) }
    .deg209-5 { transform: rotate(209.5deg) translate(120px) rotate(-209.5deg); }
    .deg233 { transform: rotate(233deg) translate(115px) rotate(-233deg); }
    .deg257-5 { transform: rotate(257.5deg) translate(110px) rotate(-257.5deg); }
    .deg282-5 { transform: rotate(282.5deg) translate(110px) rotate(-282.5deg); }
    .deg307 { transform: rotate(307deg) translate(115px) rotate(-307deg); }
    .deg330-5 { transform: rotate(330.5deg) translate(120px) rotate(-330.5deg); }
    .deg352 { transform: rotate(352deg) translate(130px) rotate(-352deg); }

    .inner-circle {
        width: 130px;
        height: 130px;
        margin: 0 auto;
        top: -80%;
    }

    .inner-circle-text svg {
        height: 30px; 
        width: 30px; 
        margin-top: 5px;
        margin-bottom: -4px;
    }
    
    .inner-circle a {
        font-size: 16px;
    }

}

/* Popover Styling */
.popover {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    text-align: center;
}

.popover-content {
    color: #7A1315;
    font-family: akrobat;
}

/* Next Step Modal Styling */
.nextstep-modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nextstep-modal-container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.nextstep-modal-image img {
    object-fit: cover;
    height: 330px;
    width: 400px;
}

.nextstep-modal-content {
    width: 340px;
    /* height: 330px; */
    background-color: #FFFFFF;
}

.nextstep-modal-content-header {
    padding: 10px; 
}

.nextstep-modal-content-header .close {
    opacity: 1;
}

.nextstep-modal-close {
    color: #424242;
}

.nextstep-modal-content-title {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EEEEEE;
}

.nextstep-modal-content-title img {
    width: 40px;
    height: 40px;
}

.nextstep-modal-content-title h4 {
    margin: unset;
    margin-left: 8px;
    font-size: 26px;
    line-height: 31px;
    font-weight: bold;
}

.nextstep-modal-content-body {
    padding: 20px 30px 0 30px;
    height: 150px;
}

#modalContentBaptism {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nextstep-modal-content-body p {
    font-family: heebo;
    color: #707270;
    font-size: 14px;
    line-height: 26px;
    margin: unset;
}

.nextstep-modal-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
}

.nextstep-modal-footer a {
    min-width: 130px;
    min-height: 50px;
    font-family: akrobat;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextstep-modal-baptism-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nextstep-modal-baptism-icon {
    color: #424242; 
    font-size: 40px;
}

.btn-secondary {
    color: #FFFFFF;
    background-color: #999999;
    border-color: #999999;
}

/* Fix Blue Box around calling href bug */
.modal-open .modal , a:focus , .close:focus, button:focus {
    outline:none!important
}

/* Mobile styling next steps modal */
@media screen and (max-width: 500px){
    .nextstep-modal-image img {
        height: unset;
        width: 300px;
    }
    
    .nextstep-modal-content {
        width: 300px;
        height: 300px;
    }

    .nextstep-modal-container {
        width: 300px
    }

    .nextstep-modal-content-body {
        padding: 10px 30px;
        height: 130px;
    }

    .btn-baptism, .nextstep-modal-footer a {
        min-width: 100px;
        min-height: 40px;
        font-size: 14px;
        padding-top: 6px;
    }

}

/* End Next Steps Nav */

/* Dashboard Card */

.dashboard-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 50px;
}

@media screen and (max-width: 500px) {
    .dashboard-row {
        margin: 0;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .dashboard-row {
        margin: 0 10px;
        justify-content: center;
    }
}

.dashboard-card {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
    border-radius: 5px;
    border: unset;
    border-width: unset;
    width: 360px;
    height: 450px; 
    max-height: 450px; 
    background-color: #FFFFFF; 
    z-index: 1; 
    overflow: hidden;
    margin: 20px 5px; 
}

/* Card Title Section */
.dashboard-card .title {
    width: 100%;
    padding: 0px 15px;
    border-bottom: 1px solid #ddd; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.dashboard-card .title h4 {
    font-size: 26px;
    margin: 14px 0 16px 15px;
}

.dashboard-card .title .dropdown-toggle {
    border: 0;
    background-color: unset;
    padding-top: 5px;
    margin-right: 3px;
}

.dashboard-title-icon {
    color: #424242; 
    font-size: 24px;
    margin: 0 5px;
}

.panel-dropdown-menu {
    top: unset;
    left: 45%;
    width: 220px;
}

/* Card Content Section */
.dashboard-card .content {
    overflow-y: auto; 
    height: 405px;
    display: flex; 
    flex-direction: column;
    padding-bottom: 20px;
}

.dashboard-card .content .header {
    text-align: center; 
    background-color: rgb(230, 230, 230);
    border-bottom: 1px solid #ddd; 
}

.dashboard-card .content .team-header {
    text-align: center; 
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid #ddd; 
}

.dashboard-card .content .team-header h5 {
    font-size: 18px; 
    margin: 0px 0px .05rem; 
    padding: 10px 15px;
}

.person-row-summary {
    padding: 0 20px; 
    display: flex; 
    align-items: center;
}

.person-row-summary img {
    margin: 10px;
}

.person-info {
    display: flex; 
    flex-direction: column; 
    width: 80%; 
    margin-left: 10px;
    white-space: normal;
}

.person-contact {
    display: flex;
    justify-content: flex-end;
}

.dashboard-icon {
    color: #424242; 
    font-size: 24px;
    margin: 0 10px;
}

.item-title span {
    height: 64px; 
    color: rgba(0, 0, 0, 0.87); 
    display: flex; 
    align-items: center; 
    font-family: Roboto, sans-serif; 
    font-size: 14px; 
    padding-left: 14px; 
    padding-right: 14px; 
    font-weight: 500;
}

.item-title-icon {
    color: #D0DD29; 
    position: relative; 
    font-size: 24px; 
    display: inline-block; 
    user-select: none; 
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
    padding-right: 8px;
}

.item-title-text {
    margin: 0px 0px .05rem;
}

.item-content {
    border-left: 1px solid rgb(189, 189, 189); 
    margin-top: -14px; 
    margin-left: 25px; 
    padding-left: 21px; 
    padding-right: 16px;
}

.item-content p {
    font-family: Heebo; 
    font-size: 1.1rem; 
    line-height: 200%; 
    font-weight: 400; 
    margin: 10px 0; 
    color: #707270;
}

.item-content a {
    color: #7A1315;
    text-transform: uppercase; 
    font-family: akrobat; 
    font-weight: bold;
}

/* Dashboard Events Scroller */
.dashboard-events-row {
    margin: 0 50px;
    margin-bottom: 20px;
}

.dashboard-events-row .event-cards-header {
    margin-left: unset;
}

.event-cards-row {
    margin: 0 -15px;
}

.event-card .image img {
    object-fit: cover;
 }

 /* Mobile Styling Dashboard Card */
@media screen and (max-width: 500px){
    .dashboard-card {
        width: 90%;
        margin: 20px auto;
    }

    .dashboard-card .title {
        margin: 0 auto;
    }

    .panel-dropdown-menu {
        left: unset;
        right: 15px;
        width: auto;
        text-align: center;
    }

    .dashboard-events-row {
        margin: 0 auto;
        width: 90%;
    }

    .event-cards-header h3 {
        margin: 0;
    }

    .dashboard-events-row .event-cards-header {
        width: 100%;
    }    
}

/* End Dashboard Card */

/* Group Card */
.group-header {
    background-color: #EEEEEE;
    padding: 13px 20px 13px 30px;
    border-bottom: 1px solid #ddd; 
    /* margin-bottom: 10px; */
}

.group-name-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-name-row-content {
    display: flex;
}

.group-header-content {
    display: flex;
    align-items: center;
}

.group-header a {
    font-family: akrobat;
    font-size: 18px; 
    color: #7A1315; 
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
    overflow: hidden; 
    text-transform: uppercase;
    text-decoration: none;
    white-space: normal;
    line-height: 22px;
}

.group-header h5 {
    font-size: 18px; 
    margin: 0px 0px .05rem; 
    max-width: 60%;
}

.group-header span {
    font-family: akrobat;
    font-size: 18px; 
    color: #7A1315; 
    text-transform: uppercase; 
    font-weight: bold; 
    white-space: normal;
    line-height: 22px;
}

.group-details-toggle {
    border: none;
    background-color: unset;
    padding: 0;
}

.group-header-icon {
    font-size: 26px;
    color: #7A1315; 
    margin: 0;
}

.coach-video-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coach-video {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coach-video-text {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    text-align: center;
}

.coach-video-text-seperator {
    border-left: 2px solid black;
    margin-left: 5px;
    margin-right: 5px;
}

.coach-video a img {
    border-radius: 5px;
    max-width: unset;
}

.coach-video h5 {
    margin-left: 20px;
    text-align: center;
}

.coach-guide {
    padding-left: 15px;
    height: 45px;
    display: flex;
    align-items: center;
}

#pnlAddGroupMember .content {
    padding: 15px 15px 0 15px;
}

#pnlAddGroupMember .picker .picker-menu {
    width: 100%;
}

/* Mobile Styling Group Card */

@media screen and (max-width: 500px){
    .group-header {
        padding: 15px 10px;
    }

    .group-header h5, .group-header span {
        font-size: 16px;
    }
    
    .group-header a {
        overflow: unset;
        margin-left: 0;
        margin-right: 0;
    }

    .group-header .mdi-chevron-right {
        font-size: 21px;
    }

    .coach-video-text {
        margin-left: 30px;
    }
}

/* Phones smaller than iPhone Plus size */
@media screen and (max-width: 413px) {
    .group-header a span {
        white-space: normal;
    }

    .coach-video-text {
        margin-left: unset;
    }
}
/* End Group Card */

/* Call To Action Info Card */

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px; 
    border-radius: 5px;
    border: unset;
    border-width: unset;
    height: 450px; 
    max-height: 450px; 
    background-color: #FFFFFF; 
    z-index: 1; 
    overflow: hidden;
    margin: 20px 0; 
}

.info-card .header {
    display: flex; 
    flex-direction: column; 
    padding: 10px 16px; 
    font-family: akrobat; 
    font-weight: bold; 
    text-transform: uppercase;
}

.info-card .header h4 {
    font-size: 24px; 
}

.info-card .header h5 {
    font-size: 14px; 
    color: rgb(1, 0, 1);
    margin: 0;
}

.info-card .content {
    padding: 16px; 
    font-size: 14px; 
    color: rgba(0, 0, 0, 0.87); 
    font-family: Heebo;
    height: 115px;
}

.info-card .content p {
    line-height: unset;
    margin: unset;
}

.info-card .link {
    align-self: flex-end;
}

.info-card .link a {
    display: inline-block; 
    font-family: akrobat;
    font-size: 16px; 
    margin: 0px 8px 0px 0px; 
    height: 55px; 
    line-height: 55px; 
    min-width: 88px; 
    color: #7A1315; 
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
    overflow: hidden; 
    text-transform: uppercase;
    text-decoration: none;
}

.info-card .link a span {
    position: relative; 
    padding-left: 16px; 
    vertical-align: middle; 
    letter-spacing: 0px; 
    text-transform: uppercase; 
    font-weight: bold; 
}

.info-card .link a svg {
    display: inline-block; 
    color: rgba(0, 0, 0, 0.87); 
    fill: #7A1315; 
    height: 24px; 
    width: 24px; 
    user-select: none; 
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
    vertical-align: middle; 
    margin-left: 0px; 
    margin-right: 12px;
}

/* End Call To Action Info Card */

/* Start Baptism Dashboard (Photo / Certificate) */

.baptism-print-button {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.baptism-dashboard-container {
    margin: 30px;
    display: flex;
    justify-content: space-around;
}

.baptism-dashboard-image, .baptism-dashboard-photo {
    flex-shrink: 0;
    position: relative;
}

.baptism-dashboard-image img {
    width: 1024px;
}

.baptism-certificate-name-container {
    position: absolute;
    top: 300px;
    left: 0;
    width: 1024px;
    display: flex;
}

.baptism-certificate-name {
    font-size: 36px;
    font-weight: bold;
    font-family: akrobat;
    margin: 0 auto;
}

.baptism-certificate-date-container {
    position: absolute;
    width: 290px;
    top: 574px;
    left: 680px;
    display: flex;
}

.baptism-certificate-date {
    font-size: 18px;
    font-family: akrobat;
    color: #707270;
    margin: 0 auto;
}

/* Fix Blue Box around calling href bug */
.baptism-print-button :focus {
    outline:none!important
}

/* iPad Styling */
@media screen and (max-width: 768px) {
    #section-a-bg {
        padding: 20px 0;
    }

    .baptism-print-button {
        margin-top: 10px;
    }

    .baptism-dashboard-image {
        width: 100%;
    }

    .baptism-dashboard-image img {
        width: 700px;
        margin: 0 auto;
    }

    .baptism-certificate-name-container {
        top: 190px;
        left: 0;
        width: 700px;
    }
    
    .baptism-certificate-date-container {
        width: 100px;
        top: 385px;
        left: 510px;
    }
}

/* Mobile Styling */
@media screen and (max-width: 500px) {
    .baptism-print-button {
        margin-top: 10px;
    }

    #btnPrint {
        height: 40px;
        margin: 0;
    }

    .baptism-dashboard-container {
        margin: 15px;
    }

    .baptism-dashboard-photo {
        width: 100%;
    }

    .baptism-dashboard-image {
        width: 80%;
    }

    .baptism-dashboard-image img {
        width: 280px;
        margin: 0 auto;
    }

    .baptism-certificate-name-container {
        top: 70px;
        left: 0;
        width: 280px;
    }
    
    .baptism-certificate-name {
        font-size: 20px;
    }
    
    .baptism-certificate-date-container {
        width: 100px;
        top: 148px;
        left: 175px;
    }
    
    .baptism-certificate-date {
        font-size: 12px;
    }
}

/* Mobile iphone SE Styling */
@media screen and (max-width: 320px) {
    .baptism-dashboard-image {
        width: 100%;
    }
}

/* End Baptism Dashboard */

/* Toolbox Card */
.toolbox-card-outer-wrapper {
    display: flex;
    flex-direction: column;
}
  
.toolbox-card p {
    line-height: 1.5;
}

.toolbox-card {
    color: rgba(0, 0, 0, 0.87);
    background-color: #ffffff;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    z-index: 1;
    margin: 20px 20px 25px 20px;
}

.toolbox-card .header h4 {
    font-size: 26px;
    line-height: 31px;
    margin: 14px 30px 20px 30px;
}

.toolbox-card-content {
    margin: 20px 30px;
}

.toolbox-card-content h3 {
    font-size: 26px;
    line-height: 31px;
}

.current-series-video {
    padding: 25px;
}

.subnav {
    display: flex;
    padding: 0px 30px 18px 15px;
    flex-wrap: wrap;
}

.subnav > div {
    text-decoration: none;
    text-transform: uppercase;
    color: #707270;
    padding: 0 15px;
    font-family: akrobat;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
}

.subnav > div:hover {
    cursor: pointer;
    color: #7a1315;
}

.subnav-div-selected {
    color: #7a1315 !important;
}
  
.group-info-banner {
    display: flex;
    flex-wrap: nowrap;
    background-color: #eeeeee;
    padding: 14px 5px 10px 5px;
}

.group-info-banner > div {
    text-decoration: none;

    padding: 0 25px 0 25px;
    color: #707270;

    font-family: heebo;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
}

.group-info-banner > div > span {
    padding-left: 10px;
}

.latest-series-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 650px) {
    .latest-series-info {
    flex-direction: row;
    }
}

.latest-series-info-element {
    display: flex;
    flex-direction: column;
}

.latest-series-info-element:last-child {
    margin-right: 50px;
}

.latest-series-info-element > div > p {
    font-size: 12px;
    line-height: 18px;
    color: #707270;
    margin-bottom: 0;

}

.latest-series-info-element > div > h5 {
    font-family: heebo;
    font-size: 18px;
    line-height: 27px;
    color: #010001;
    font-weight: normal;
    margin-top: 6px;
}

.latest-series-title {
    background-color: #EEEEEE;
}

.latest-series-title > div > p {
    font-family: heebo;
    font-size: 18px;
    line-height: 36px;
    font-weight: normal;
    color: #707270;
    margin: 12px 0 12px 5px;
}

.discussion-guide a {
    text-decoration: none;
}

.discussion-guide > div > a > h5 {
    font-family: akrobat;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    color: #7A1315;
}

.previous-weeks {
    margin: 20px 30px 20px 30px;
}

.toolbox-past-messages {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 650px) {
    .toolbox-past-messages {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
}

.toolbox-video-card {
    color: rgba(0, 0, 0, 0.87);
    background-color: #ffffff;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    z-index: 1;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.toolbox-video-card img {
    border-radius: 5px 5px 0 0;
}

.toolbox-video-card > div > p {
    margin: 16px;
    font-family: heebo;
    font-weight: normal;
    color: #707270;
}

.discussion-guide-icon {
    font-size: 18px; 
    padding-right: 14px; 
    color: #424242; 
}
/* Group Details */
.group-picture img {
    max-width: 100%;
    max-height: 100%;
}

.group-heading {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 0;
    padding-bottom: 18px;
}

/* End Toolbox Card */
  
/* Toolbox Group Member Card */

.toolbox-group-members-card {
    margin: 0;
    margin-top: 20px;
    height: 670px;
    max-height: 670px;
}

.toolbox-group-members-card .title a {
    color: #424242;
}

.toolbox-group-members-card .title a:hover {
    text-decoration: none;
}

.toolbox-group-members-card .content {
    height: 625px;
    padding-bottom: 20px;
}

.person-row {
    display: flex;
    flex-direction: column;
}

.toolbox-group-members-card .person-contact {
    margin-left: 20px;
}

.person-row-details {
    display: flex;
    flex-direction: column;
    margin-left: 110px;
}

@media screen and (max-width: 500px) {
    .person-row-details {
        margin-left: 60px;
    }
}

.person-row-details p {
    margin: 0;
    line-height: 26px;
    font-family: heebo;
    font-size: 14px;
    color: #707270;
}

.person-row-details a {
    color: #8f3839;
}

.person-row-details a:hover {
    text-decoration: none;
}

.person-details-toggle {
    background-color: unset;
    border: unset;
    padding: unset;
}

.person-row-details .person-details-additional-child {
    margin-left: 34px;
}

.person-row-details .person-details-additional-address {
    margin-left: 58px;
}

/* Group Member Badges Styling */
.person-badges img {
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
}




/* Flash class and keyframe animation */
.nextstep-loading {
    -webkit-animation: flash linear 1s infinite;
    animation: flash linear 1s infinite;
}
    @-webkit-keyframes flash {
        0% { opacity: 1; } 
        50% { opacity: .1; } 
        100% { opacity: 1; }
    }
    @keyframes flash {
        0% { opacity: 1; } 
        50% { opacity: .1; } 
        100% { opacity: 1; }
    }

/* Fix Blue Box around calling href bug */
.person-details-toggle:focus {
    outline:none!important
}

/* End Toolbox Group Member Card */

/* Toolbox Associate Pastor Card */

.associate-pastor-card {
    background-color: #ffffff;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    margin: 40px 0 0 0;
    height: 230px;
}

.associate-pastor-card .title h3 {
    font-size: 26px;
    margin: 14px 0 14px 15px;
}

.associate-pastor-card .group-header h5 {
    font-size: 18px;
}

.associate-pastor-card .person-row-summary img {
    margin: 25px 10px 25px 10px;
}


/* End Toolbox Associate Pastor Card */

/* Dashboard Communication Page */
.communication-card {
    background-color: #ffffff;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    margin: 40px 20px 20px 20px;
    padding: 20px 30px 20px 30px; 
}

.communication-card .recipients .list-unstyled {
    display: flex;
    flex-wrap: wrap;
}

.recipients .recipient {
    min-width: 25%;
    width: unset;
}

/* Undo hard coded communication styling */
.communication-card .well {
    padding: unset;
    margin-bottom: unset;
    min-height: unset;
}

/* Mobile Device Styling */
@media screen and (max-width: 500px) {
    .communication-card .recipients .list-unstyled {
        flex-direction: column;
    }

    /* Hide WYSIWYG buttons (they look hideous) */
    .note-toolbar.panel-heading {
        visibility: hidden;
    }
}


/* End Dashboard Communication Page */

/* Dashboard Giving History, Managed Automated Giving, Manage Payment Accounts */
.panel {
    margin-bottom: 0;
}

.giving-history-card, .manage-payment-account-card, .manage-automated-giving-card, .manage-scheduled-transactions {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 0 auto 70px auto;
    padding: 20px;
    width: 80%;
}

.manage-payment-account-card, .manage-automated-giving-card, .manage-scheduled-transactions {
    margin-top: 30px;
    margin-bottom: 75px
}

.manage-payment-account-card span {
    font-family: heebo;
}

/* Mobile Device Styling */
@media screen and (max-width: 768px) {
    .manage-scheduled-transactions {
        padding: 0;
        margin: 0 auto;
        width: 95%;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 500px) {
    #section-a-bg {
        padding: 5px 0;
    }

    .giving-history-card, .manage-payment-account-card, .manage-automated-giving-card, .manage-scheduled-transactions {
        margin: 0 auto;
    }

    .manage-payment-account-card, .manage-automated-giving-card, .manage-scheduled-transactions {
        padding: 0;
        margin: 0 auto;
        width: 90%;
    }

    .manage-payment-account-card span {
        display: inline-block;
        padding: 10px 20px;

    }

    .table-responsive {
        margin-bottom: 0;
        border: unset;
    }

    /* hide columns we dont want in mobile */
    #gScheduledTransactions th:nth-child(2), #gScheduledTransactions th:nth-child(4), #gScheduledTransactions th:nth-child(5), #gScheduledTransactions th:nth-child(6) {
        display: none;
    }

    #gScheduledTransactions td:nth-child(2), #gScheduledTransactions td:nth-child(4), #gScheduledTransactions td:nth-child(5), #gScheduledTransactions td:nth-child(6) {
        display: none;
    }

    #gSavedAccounts th:nth-child(2), #gSavedAccounts th:nth-child(3) {
        display: none;
    }

    #gSavedAccounts td:nth-child(2), #gSavedAccounts td:nth-child(3) {
        display: none;
    }

    #gSavedAccounts td:nth-child(1) {
        width: 230px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #gTransactions th:nth-child(2), #gTransactions th:nth-child(3), #gTransactions th:nth-child(4) {
        display: none;
    }

    #gTransactions td:nth-child(2), #gTransactions td:nth-child(3), #gTransactions td:nth-child(4) {
        display: none;
    }

    #gTransactions th:nth-child(1), #gTransactions th:nth-child(1) {
        width: 100px;
    }

    #gTransactions th:last-child, #gTransactions td:last-child {
        border-right: 1px solid #ddd;
    }

    .giving-history-card {
        width: 90%;
        margin-bottom: 15px;
    }

    .giving-history-card .well {
        padding: 0;
    }
}


/* End Dashboard Giving */

/* My Profile */
.profile {
    display: flex;
    padding: 20px 0;
}

.profile-card {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 20px;
    margin-right: 15px;
    width: 80%;
}

.profile-card hr {
    display: none;
}

.profile-card .pull-right a {
    margin-right: 15px;
}

.profile-sidebar {
    display: flex;
    flex-direction: column;
}

.account-actions, .recent-registrations {
    margin: 0 5px;
    min-width: 300px;
    height: unset;
    max-height: unset;
}

.recent-registrations {
    margin-top: 20px;
}

.profile-sidebar .title h3 {
    font-size: 26px;
    margin: 14px 0 14px 15px;
}

.profile-sidebar .header {
    min-height: 40px;
    background-color: #EEEEEE;
    border-bottom: 1px solid #ddd;
}

.links {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.balance-due {
    color: red;
}

.recent-registrations {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .profile {
        padding: 20px 10px;
    }

    .profile-card .col-md-1 .photo {
        width: 15%;
    }
}


@media screen and (max-width: 500px) {
    .profile {
        flex-direction: column;
    }

    .profile-card, .account-actions, .recent-registrations {
        width: 90%;
        margin: 0 auto;
        min-width: unset;
        margin-bottom: 15px;
    }

    .account-actions .title, .recent-registrations .title {
        margin: 0 auto;
    }

    .form-control.input-width-sm {
        width: 60px;
        padding: 0
    }

    .form-group.rock-radio-button-list {
        margin-left: 0;
    }
}

/* End My Profile */
  
/* Change Password Styling */
.change-password-title {
    width: 60%;
    margin: 0 auto;
}

.change-password-card {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 25px auto 120px auto;
    padding: 20px;
    width: 60%;
}

.change-password-card legend {
    display: none;
}

@media screen and (max-width: 500px) {
    .change-password-title {
        width: 90%;
    }

    .change-password-title h2 {
        font-size: 24px;
        text-align: center;
    }

    .change-password-card {
        width: 90%;
        margin: 25px auto;
    }
}

/* End Change Password Styling */

/* Prayer Team Styling */
.prayer-team-card {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 25px auto 70px auto;
    padding: 20px;
    width: 80%;
}

/* End Prayer Team */