.page-background {   
    background-color: #EBEBEB;
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/hero-giving.jpg");
    background-position: center top;
    margin: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.give-title h1 {
    font-size: 60px;
    font-weight: 900;
    font-family: akrobat;
    color: #FFFFFF;
    text-align: center;
    padding-top: 80px;
}

.give-title p {
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    font-family: heebo;
    font-weight: normal;
}

.giving-icon {
    color: #7A1315;
    font-size: 24px;
}

#desktopspacer {
    padding-top: 125px;
}

/* Mobile Styling */
@media screen and (max-width: 500px) {
    .give-title h1 {
        font-size: 30px;
        padding: 0;
        margin: 0;
        margin-top: -20px;
        margin-bottom: 5px;
    }

    .give-title p {
        display: none;
    }

    #desktopspacer {
        display: none;
    }
}

/* Styling for Transaction Entry Block*/
.transaction-card {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border-radius: 5px;
    border: unset;
    border-width: unset;
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
}

.transaction-card-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Mobile Styling */
@media screen and (max-width: 500px) {
    #section-a-bg {
        padding: 1px;
    }

    .transaction-card {
        padding-top: 0;
        padding-bottom: 0;
        margin: 10px auto;
        width: 90%;
        min-height: 350px;
    }
}

/* Progress Bar */

.transaction-progress {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.transaction-alerts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 80%;
}

.transaction-card .alert {
    width: 90%;
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.step input {
    font-family: Akrobat;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0;
}

.step h5 {
    font-family: Akrobat;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    color: #7A1315;
}

.step-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #999999;
    border-radius: 50%;
    color: #FFFFFF;
}

.active {
    background-color: #7A1315;
}

.complete {
    background: linear-gradient(rgb(208, 221, 41), rgb(139, 179, 63));
}

/* Mobile Styling */
@media screen and (max-width: 500px) {
    .transaction-alerts {
        width: unset;
        margin-top: 10px;
    }

    .transaction-card .alert {
        margin-bottom: unset;
    }

    .transaction-progress {
        padding-top: 10px;
    }

    .step {
        width: unset;
        justify-content: flex-start;
    }

    .step h5 {
        display: none;
    }
}

/* End Progress Bar */

/* Amount And Accounts/Fund */
.panel-amount {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    min-height: 275px;
}

.accounts-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.accounts {
    border: 0px;
    outline: 0px;
    border-bottom: 2px solid lightgrey;
    font-size: 20px;
    color: #7A1315;
    padding: unset;
}

.amount-wrapper {
    display: flex;
    justify-content: center;
}

.amount {
    margin-top: 40px;
    margin-bottom: 80px;
    width: 60%;
    font-size: 65px;
    font-family: Akrobat;
    font-weight: bold;
    line-height: 80px;
    color: #7A1315;
    text-align: center;
    height: unset;
    padding: unset;   
}


.amount input:focus, .accounts:focus, .payment-type div .btn {
    outline: none !important;
}

.amount input:focus, .accounts:focus {
    border: none;
    border-bottom: 2px solid lightgrey !important;
}

/* Mobile Styling */
@media screen and (max-width: 500px) {
    .panel-amount {
        justify-content: space-between;
        margin: 15px 0;        
        width: 100%;
        padding: 0 20px;
    }

    .accounts {
        font-size: 18px;
    }

    .amount {
        width: 95%;
        font-size: 45px;
        line-height: 45px;
        margin-top: unset;
        margin-bottom: unset;
    }
}

/* End Amount */

/* Person Info */
.panel-person {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    min-height: 275px;
}

.person-info {
    margin-top: 40px;
    margin-bottom: 40px;
    min-width: 300px;
}

.person-info .form-group {
    width: 100%;
}

/* Mobile Styling */
@media screen and (max-width: 500px) {
    .panel-person {
        justify-content: space-between;
        margin: 15px 0;        
        width: 100%;
        padding: 0 20px;
    }

    .person-info {
        margin-top: 0;
        min-width: unset;
        width: 100%;
        margin-bottom: unset;
    }

    .person-info input {
        padding: unset;
        height: unset;

    }
}


/* End Person info */

/* Payment Details Panel */
.panel-payment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    min-height: 275px;
}

.payment-type {
    display: flex;
    justify-content: center;
}

.payment-type .btn, #rblAccountType label {
    font-family: heebo;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    white-space: normal;
    border-radius: 25px;
    min-width: 80px;
    border-radius: 25px;
    background-color: #999999;
    border-color: #999999;
    padding: 6px 6px;
    margin-right: 5px;
    margin-left: 5px;
}

#rblAccountType input[type="radio"] {
    width: 0px;
    height: 0px;
    display: none;
}

#rblAccountType label {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    line-height: 12px;
    padding: 12px 12px;
    min-width: 100px;
    color: #000;
}

.payment-type .btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, #rblAccountType .btn-primary {
    background-color: #7A1315;
    border-color: #7A1315;
    font-weight: normal;
    color: #FFFFFF;
}

.payment-type .btn-primary {
    font-weight: 700;
}


.savedpayment-card select {
    padding: 0;
    border: 0px;
    outline: 0px;
    border-bottom: 2px solid lightgrey;
    font-size: 20px;
    color: #000000;
}

.panel-creditcard {
    display: flex;
}

.creditcard-card {
    width: 50%;
    padding: 20px 30px;
}

.creditcard-wrapper {
    display: flex;
    flex-direction: column;
}

.form-control.input-width-sm {
    width: 55px;
}

.creditcard-expdate-cvv, .creditcard-state-country-zip {
    display: flex;
    justify-content: space-between;
}

#nbCVV {
    width: 50px;
    text-align: center;
}

#ddlCountry {
    width: 55px;
}

#nbPostalCode {
    width: 100px;
}

.panel-bankaccount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}

#rblAccountType {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}



/* Mobile Styling */
@media screen and (max-width: 500px) {
    .panel-payment {
        justify-content: space-between;
        margin: 15px 0;        
        width: 100%;
        padding: 0 20px;
    }

    .payment-type {
        margin-top: 0px;
    }

    .panel-savedpayment {
        margin-bottom: auto;
        margin-top: 25px;
        width: 100%;
    }

    .savedpayment-card select {
        font-size: 18px;
    }

    .panel-creditcard {
        flex-direction: column;
        width: 100%;
        margin: 10px 0;
    }

    .panel-creditcard label {
        margin-bottom: unset;
    }

    .creditcard-card {
        width: 100%;
        padding: unset;
    }

    .panel-bankaccount {
        width: 100%;
    }

    .panel-bankaccount .form-control, .panel-creditcard .form-control {
        padding: unset;
        height: unset;
    }
}


/* End Payment Details Panel */

/* Confirm Gift Panel */
.panel-confirm {
    margin: 15px 0;
    width: 100%;
    padding: 0 20px;
}

.confirm-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 275px;
}

#confirmGiftMessage {
    font-family: Akrobat;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    color: #000000;
    text-align: center;
    margin-top: 35px;
}

#confirmGiftAmount {
    font-family: Akrobat;
    font-size: 36px;
    font-weight: bold;
    line-height: 43px;
    color: #7A1315;
    text-align: center;
    margin-top: -10px;
}

.confirm-paymenttype-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 313px;
    border-radius: 15px;
    box-shadow: 0 0 28px 0 rgba(0,0,0,0.3);
    padding: 26px 30px 22px 30px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.confirm-agreement {
    font-family: Heebo;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 36px;
}

#accountType {
    color: #999999;
    font-size: 30px;
}

#personName {
    font-family: Akrobat;
    font-size: 24px;
    font-weight: bold;
    line-height: 39px;
    color: #7A1315;
}

#confirmAccountNumber {
    font-family: Akrobat;
    font-size: 24px;
    font-weight: bold;
    line-height: 39px;
    color: #010001;
}

#savedAccountName {
    font-family: Akrobat;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    color: #010001;
}

.confirm-paymenttype-card-footer {
    display: flex;
    align-items: center;
}

.confirm-paymenttype-card-footer i {
    color: #7A1315;
    font-size: 22px;
    margin-right: 10px;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.card-footer i {
    margin-right: 15px;
    font-size: 20px;
}

.card-footer p {
    margin: 0;
}

/* Mobile Styling */
@media screen and (max-width: 500px) {
    .panel-confirm {
        margin: 10px 0;
        padding: 0 10px;
    }

    #confirmGiftMessage {
        margin-top: unset;
        margin-bottom: 5px;
    }

    #confirmGiftAmount {
        margin-bottom: 5px;
    }

    .confirm-paymenttype-card {
        width: 100%;
        height: unset;
        margin-top: unset;
        margin-bottom: 10px;
        padding: 5px 10px;
    }

    #accountType {
        font-size: 24px;
    }

    .confirm-agreement {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .card-footer {
        margin-top: 10px;
    }

    .card-footer i {
        font-size: 14px;
        margin-right: 10px;
    }

    .card-footer p {
        font-size: 10px;
    }
}


/* End Confirm Gift*/


/* Navigation Buttons */

.navigation {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navigation .btn {
    border-radius: 25px;
}

/* Mobile Styling */
@media screen and (max-width: 500px) {
    .navigation {
        justify-content: space-between;
    }
}

/* End Navigation Buttons */

/* Payment Success */
.panel-success {
    padding: 20px;
    border-color: unset;
}

.success-checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: linear-gradient(rgb(208, 221, 41), rgb(139, 179, 63));
    border-radius: 50%;
    color: #FFFFFF;
}

.success-checkmark i {
    font-size: 38px;
}

.success-message {
    text-align: center;
    font-family: Heebo;
    font-size: 18px;
    line-height: 27px;
    color: #7A1315;
    margin-top: 30px;
}

.success-link {
    margin-top: 15px;
    text-decoration: underline;
}

.success-details {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    min-width: 300px;
}

.details-label {
    font-family: Heebo;
    font-size: 12px;
    line-height: 18px;
    color: #999999;
}

.details-item {
    font-family: Heebo;
    font-size: 18px;
    line-height: 27px;
    color: #010001;
}

.details-payment {
    display: flex;
    justify-content: space-between;
}

.details-payment-item {
    display: flex;
    flex-direction: column;
}

/* Mobile Styling */
@media screen and (max-width: 500px) {
    .panel-success {
        padding: 0 20px;
    }

    .success-checkmark {
        width: 40px;
        height: 40px;
    }
    
    .success-checkmark i {
        font-size: 26px;
    }

    .success-message {
        font-size: 13px;
        line-height: 16px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .success-details {
        min-width: unset;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .details-item {
        font-size: 12px;
        line-height: 16px;
    }
}

/* Schedule Transaction */
.schedule-transaction .collapse {
    transition: all 1s;
}

.schedule-toggle {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-family: Heebo;
    font-size: 16px;
    color: #010001;
}

.toggle, .checkbox label {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin-bottom: unset;
}

.toggle input, .checkbox label input {
    display: none;

}

.checkbox {
    margin-bottom: unset;
    margin-top: unset;
    min-height: unset;
    
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: #FFFFFF;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #7A1315;
}

input:focus + .slider {
    box-shadow: 0 0 1px #7A1315;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Undo theme.css styling */
.radio-inline:first-child {
    padding-left: unset;
}

.radio-inline+.radio-inline {
    margin-top: unset;
    margin-left: unset;
}

.schedule-frequency {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .schedule-frequency label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    min-height: 40px;
    background-color: #FFFFFF;
    color: #999999;
    font-family: Heebo;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    text-align: center;
    min-width: 100px;
    border-radius: 50px;
    border: solid 1px #999999;
    margin-left: 5px;
    margin-right: 5px;
}

.schedule-frequency label input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.schedule-frequency label:hover {
    cursor: pointer;
}

.schedule-frequency .schedule-item-selected {
    background-color: #7A1315;
    color: #FFFFFF;
}


.schedule-date {
    
}

.schedule-date label {
    color: #7c7c7c;
    font-family: Heebo;
    font-size: 14px;
    line-height: 16px;
}

.schedule-date > div.form-group.date-picker > div > div {
    display: flex;
    align-items: center;
    border: solid 1px #999999;
    border-radius: 5px;
}

.schedule-date .form-control {
    border-bottom: unset;
}

.schedule-date > div.form-group.date-picker > div > div > span {
    visibility: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    font-size: unset;
    align-self: stretch;
    border-left: solid 1px #999999;
}

#btnSaveScheduleTransaction { 
    margin-top: 20px;
    float: right;
}

/* Mobile Styling */
@media screen and (max-width: 500px) {
    .schedule-toggle {
        font-size: 13px;
        font-weight: bold;
        margin-top: 5px;
    }

    .checkbox {
        margin-bottom: -5px;
    }
    
    .success-form {
        padding-top: 10px;
        width: 100%;
    }

    .success-form input, .success-form select {
        height: unset;
        padding: unset;
        font-size: 12px;
        line-height: 14px;
    }

    .schedule-date label {
        font-size: 12px;
    }
    
    #tbSavePaymentAccountName {
        padding-left: 10px;
    }

    #ddlScheduleFrequency {
        padding-Left: 5px;
    }

    #dpScheduleStartDate {
        height: 18px;
        margin-left: 10px;
    }

    #btnSaveSuccessInputForm {
        height: 30px;
        font-size: 14px;
        min-width: 75px;
    }

    .save-success {
        font-size: 13px;
        line-height: 16px;
    }

    .alert {
        font-size: 12px;
    }

    .alert p {
        font-size: 14px;
    }

}

/* End Schedule transaction */

/* End Payment Success */

.error {
    color: #a94442;
    font-weight: bold;
}

/* Hide focus outline on buttons */
.btn:focus, .btn:active:focus {
    outline: none;
}

/* End Transaction Entry Block */
