.page-background {   
    background-color: #EBEBEB;
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/hero-image-missing.jpg");
}

#subnavbar-bg {
    background-color: #EBEBEB;
}

.title {
    margin-top: 30px;
}

.title h3 {
    font-size: 60px;
    font-weight: 900;
    font-family: akrobat;
    color: #FFFFFF;
    text-align: center;
    padding-top: 80px;
}

.title p {
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    font-family: heebo;
    font-weight: normal;
}

.desktop-spacer-top {
    padding-top: 25px;
}

.desktop-spacer {
    padding-top: 125px;
}

.mobile-app-card {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 25px auto 150px auto;
    padding: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.appstore-icons {
    text-align: center;
}

.appstore-icons a {
    margin: 0 10px;
}


.logo-ccv {
    width: 25%;
    height: 25%
}

.logo-apple {
    width: 150px;
}

.logo-google {
    width: 185px;
}

.logo-amazon {
    width: 160px;
}
