
.page-background {   
    background-color: #EBEBEB;
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/hero-next-steps.jpg");
}

#subnavbar-bg {
    display: none;
}

#section-a-bg {
    padding: 20px;
}

#section-b-bg {
    display: none;
}

#section-c-bg {
    display: none;
}

.nextsteps-container {
    display: flex;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px; 
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.nextsteps-icon {
    min-width: 60px;
    fill: #999;
    margin-top: 30px;
    margin-right: 30px;
}

.btn-default {
    margin-bottom: 20px;
}

@media screen and (min-width: 478px) {
    .btn-default {
        margin-bottom: 0px;
    }
}