/* Kids Page */
.page-background {   
    background-color: #EBEBEB;
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/hero-special-needs.jpg");
}

#subnavbar-bg {
   display: none;
}

#section-a-bg {
	background-color: #EBEBEB;
}
