.page-background {
   background-image: url("/Themes/church_ccv_External_v8/Assets/Images/hero-the-experience.jpg");
   background-color: white;
}

#section-b-bg {
   background: url("/Themes/church_ccv_External_v8/Assets/Images/the-experience-music.jpg") no-repeat;
   background-size: cover;
}

#section-d-bg {
   background-color: #f9f9f9;
   background: url("/Themes/church_ccv_External_v8/Assets/Images/the-experience-campus.jpg") no-repeat;
   background-size: cover;
}

#section-e-bg {
   display: none;
}

.thumbnail {
   min-height: 200px;
}

.graphicSection h3 {
    color: #ffffff !important;
}

.relax-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.relax-container .video {
    padding-top: 25px;
}

@media only screen and (min-width: 768px) {
    .relax-container {
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: unset;
    }

    .relax-container .text {
        max-width: 40%;
    }
    
    .relax-container .video {
        width: 50%;
    }
}

.thumbnail a {
    outline: 0;
}