// Imported by _helpers-rock.scss

// ROCK COLOR UTILITIES
// -------------------------

/* Background Colors */
.bg-interface-strongest { background-color: var(--color-interface-strongest) !important; }
.bg-interface-stronger { background-color: var(--color-interface-stronger) !important; }
.bg-interface-strong { background-color: var(--color-interface-strong) !important; }
.bg-interface-medium { background-color: var(--color-interface-medium) !important; }
.bg-interface-soft { background-color: var(--color-interface-soft) !important; }
.bg-interface-softer { background-color: var(--color-interface-softer) !important; }
.bg-interface-softest { background-color: var(--color-interface-softest) !important; }

.bg-critical-soft { background-color: var(--color-critical-soft) !important; }
.bg-critical-strong { background-color: var(--color-critical-strong) !important; }
.bg-critical-tint { background-color: var(--color-critical-tint) !important; }
.bg-critical-shade { background-color: var(--color-critical-shade) !important; }

.bg-danger-soft { background-color: var(--color-danger-soft) !important; }
.bg-danger-strong { background-color: var(--color-danger-strong) !important; }
.bg-danger-tint { background-color: var(--color-danger-tint) !important; }
.bg-danger-shade { background-color: var(--color-danger-shade) !important; }

.bg-info-soft { background-color: var(--color-info-soft) !important; }
.bg-info-strong { background-color: var(--color-info-strong) !important; }
.bg-info-tint { background-color: var(--color-info-tint) !important; }
.bg-info-shade { background-color: var(--color-info-shade) !important; }

.bg-success-soft { background-color: var(--color-success-soft) !important; }
.bg-success-strong { background-color: var(--color-success-strong) !important; }
.bg-success-tint { background-color: var(--color-success-tint) !important; }
.bg-success-shade { background-color: var(--color-success-shade) !important; }

.bg-warning-soft { background-color: var(--color-warning-soft) !important; }
.bg-warning-strong { background-color: var(--color-warning-strong) !important; }
.bg-warning-tint { background-color: var(--color-warning-tint) !important; }
.bg-warning-shade { background-color: var(--color-warning-shade) !important; }

.bg-primary { background-color: var(--color-primary) !important; }
.bg-primary-tint { background-color: var(--color-primary-tint) !important; }
.bg-primary-shade { background-color: var(--color-primary-shade) !important; }

.bg-secondary { background-color: var(--color-secondary) !important; }
.bg-secondary-tint { background-color: var(--color-secondary-tint) !important; }
.bg-secondary-shade { background-color: var(--color-secondary-shade) !important; }

.bg-link { background-color: var(--color-link) !important; }
.bg-link-tint { background-color: var(--color-link-tint) !important; }
.bg-link-shade { background-color: var(--color-link-shade) !important; }

/* Text Colors */
.text-interface-strongest { color: var(--color-interface-strongest) !important; }
.text-interface-stronger { color: var(--color-interface-stronger) !important; }
.text-interface-strong { color: var(--color-interface-strong) !important; }
.text-interface-medium { color: var(--color-interface-medium) !important; }
.text-interface-soft { color: var(--color-interface-soft) !important; }
.text-interface-softer { color: var(--color-interface-softer) !important; }
.text-interface-softest { color: var(--color-interface-softest) !important; }

.text-critical-soft { color: var(--color-critical-soft) !important; }
.text-critical-strong { color: var(--color-critical-strong) !important; }
.text-critical-tint { color: var(--color-critical-tint) !important; }
.text-critical-shade { color: var(--color-critical-shade) !important; }

.text-danger-soft { color: var(--color-danger-soft) !important; }
.text-danger-strong { color: var(--color-danger-strong) !important; }
.text-danger-tint { color: var(--color-danger-tint) !important; }
.text-danger-shade { color: var(--color-danger-shade) !important; }

.text-info-soft { color: var(--color-info-soft) !important; }
.text-info-strong { color: var(--color-info-strong) !important; }
.text-info-tint { color: var(--color-info-tint) !important; }
.text-info-shade { color: var(--color-info-shade) !important; }

.text-success-soft { color: var(--color-success-soft) !important; }
.text-success-strong { color: var(--color-success-strong) !important; }
.text-success-tint { color: var(--color-success-tint) !important; }
.text-success-shade { color: var(--color-success-shade) !important; }

.text-warning-soft { color: var(--color-warning-soft) !important; }
.text-warning-strong { color: var(--color-warning-strong) !important; }
.text-warning-tint { color: var(--color-warning-tint) !important; }
.text-warning-shade { color: var(--color-warning-shade) !important; }

.text-primary { color: var(--color-primary) !important; }
.text-primary-tint { color: var(--color-primary-tint) !important; }
.text-primary-shade { color: var(--color-primary-shade) !important; }

.text-secondary { color: var(--color-secondary) !important; }
.text-secondary-tint { color: var(--color-secondary-tint) !important; }
.text-secondary-shade { color: var(--color-secondary-shade) !important; }

.text-link { color: var(--color-link) !important; }
.text-link-tint { color: var(--color-link-tint) !important; }
.text-link-shade { color: var(--color-link-shade) !important; }