// out:false

.groups-page {
  section#types-of-groups {
    .banner {
      h3 {
        @media (min-width: 768px) {
          font-size: 48px;
        }

        @media (min-width: 992px) {
          font-size: 64px;
        }
      }

      h2.h1 {
        @media (min-width: 992px) and (max-width: 1199px) {
          font-size: 80px;
        }
      }
    }

    p.h2 {
      @media (max-width: 767px) {
        font-size: 16px;
        letter-spacing: 0;
      }
    }
  }

  section#find-a-group {
    .top-space {
      @media (min-width: 992px) {
        height: 96px;
      }

      @media (min-width: 1200px) {
        height: 128px;
      }

      @media (min-width: 1500px) {
        height: 160px;
      }
    }

    h1.display {
      @media (min-width: 1200px) {
        font-size: 160px;
      }

      @media (min-width: 1500px) {
        font-size: 196px;
      }
    }
  }

  section#lead-a-group {
    h1.display {
      @media (min-width: 1200px) {
        font-size: 160px;
      }

      @media (min-width: 1500px) {
        font-size: 196px;
      }
    }
  }

  section#study-guide {
    margin-top: -200px;

    @media (min-width: 992px) {
      margin-top: 0;
    }

    h2 {
      @media (min-width: 1200px) {
        font-size: 64px;
      }
      @media (min-width: 1500px) {
        font-size: 96px;
      }
    }

    .study-guide-img {

      img {
        @media (min-width: 992px) {
          width: 400px;
        }

        @media (min-width: 1200px) {
          width: 480px;
        }

        @media (min-width: 1500px) {
          width: 624px;
        }
      }
    }
  }

  section#group-resources {
    @media (min-width: 992px) {
      margin-top: -200px;
    }

    h3 {
      font-size: 32px;

      @media (min-width: 768px) {
        font-size: 64px;
      }
    }
  }
}
