
// (Rock Component)


// =============================================================
// Table of Content           
//  + Base style
// =============================================================


// ======================== BASE STYLE ========================
.billboard {
    position: relative;
    margin-bottom: var(--spacing-medium);
    height: 182px;
  
    .billboard-image {
      background-position: center;
      background-size: cover;
      height: 150px;
      border-radius: var(--rounded-small);
      background-color: var(--color-interface-softer);
    }
  
    .billboard-icon {
      position: absolute;
      bottom: 0;
      left: 24px;
      height: 64px;
      width: 64px;
      border-radius: 99px;
      border: 4px solid var(--color-interface-softest);
      display: flex;
      align-items: center;
      justify-content: center;
  
      i {
        font-size: 28px;
        margin-top: -3px; // needed as FontAwesome seems to have the icons lower in the line height
      }
    }
  }
// ====================== END BASE STYLE ======================




