
.page-background {
    background-color: #000;
}

#zone-sectiona, #zone-feature {
    margin: 0 15%;
}

/* Override Theme.css */
@media screen and (max-width: 1000px) {
    .main-feature {
        display: block;
    }
}

.main-feature {
    padding-top: 125px;
}

.series p {
    margin: 20px 0;
}


