
.page-background {
    background-color: black;
    background-image: var(--page-background);
    background-size: cover;
}

.main-feature {
    padding-top: 100px;
    margin-bottom: 35px;
}

.series-header-image {
    min-height: 450px;
}

#featImage {
    display: none;    
}

.series {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px; 
    border-radius: 5px;
    margin: 30px 0;
}

.series p {
    margin: 20px 0;
}

@media screen and (max-width: 1024px) {
    .main-feature {
        height: 620px;
    }
}

/* Tablet Styling */
@media screen and (max-width: 768px){
    .main-feature {
        height: unset;
    }

    #section-a-bg {
        padding-bottom: 20px;
    }

    .series {
        background-color: unset;
        box-shadow: unset;
        border-radius: unset;
    }

    .series {
        margin: 0;
    }
    
    .page-background {
        background-image: unset;
        background-attachment: unset;
        background-size: cover;
        margin-left: -15px;
        margin-right: -15px;
    }

    #featImage {
        display: block;    
    }
}

/* Mobile Styling */
@media screen and (max-width: 500px){
    .main-feature {
        padding-top: 60px;
        height: 240px;
    }
    
    .series-header-image {
        min-height: 165px;
    }
    
    .page-background {
        background-image: unset;
        background-attachment: unset;
        background-size: cover;
        margin-left: -15px;
        margin-right: -15px;
    }

    #zone-feature {
        margin: 0;
    }

    #featImage {
        display: block;    
    }
}





