
.page-background {   
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/watch/hero-stories.jpg");
}

/* Mobile Background Image */
@media screen and (max-width: 500px) {
    .page-background {
        background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/watch/hero-mobile-stories.jpg");
    }
}

#section-a-bg {
    padding: 20px;
}

#section-b-bg {
    display: none;
}

#section-c-bg {
    display: none;
}

h4 {
    color: #000000;
}

.storythumb {
    display: block;
    position: relative;
    background-size: cover;
    background-position: center center;
    color: #fff;
    margin-bottom: 15px
}

@media (min-width: 768px) {
    .storythumb {
        margin-bottom: 30px
    }
}

.storythumb:before {
    content: ' ';
    padding-top: 56.25%;
    display: block
}

.storythumb-link:hover,
.storythumb-link:focus {
    color: #fff
}

.storythumb-link:hover .storythumb-title>span,
.storythumb-link:focus .storythumb-title>span {
    box-shadow: inset 0 -0.1em 0 rgba(255, 255, 255, 0.5)
}

.storythumb-link:active {
    opacity: .95;
    filter: alpha(opacity=95)
}

.storythumb-featured:before {
    padding-top: 100%
}

@media (min-width: 768px) {
    .storythumb-featured:before {
        padding-top: 37.5%
    }
}

.storythumb-title {
    font-family: "DINWebCondensed", sans-serif;
    font-size: 18px;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    font-size: 23px;
    line-height: 1;
    font-weight: 700;
    padding: 15px;
    padding-top: 90px;
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 0;
    right: 0
}

@media (min-width: 992px) {
    .storythumb-title {
        font-size: 31px
    }
}

@media (min-width: 768px) {
    .storythumb-title {
        padding: 30px;
        padding-top: 90px
    }
}

.storythumb-title:after {
    content: ' ';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.85) 100%)
}

.storythumb-link .storythumb-title>span {
    transition: box-shadow .3s
}

.storythumb-featured .storythumb-title {
    font-size: 38px
}

@media (min-width: 992px) {
    .storythumb-featured .storythumb-title {
        font-size: 46px
    }
}